[2019-05-15 07:03] #2096 closed

[2019-05-16 11:24] kinowarrior opened #2098 "Markdown Support Clarification"
Running `ctags` never populates my tags file with markdown tags.

I see support added [with these commits](https://github.com/universal-ctags/ctags/search?q=markdown&type=Commits).

The docs also talk about [new parsers (with markdown parser support) here](http://docs.ctags.io/en/latest/news.html?highlight=markdown#new-parsers).

Finally, i see markdown listed when running:

 `ctags --list-languag

[2019-05-16 14:13] masatake commented on #2098
The first of all, universal-ctags doesn't read ~/.ctags.  See https://github.com/universal-ctags/ctags

As far as I tried the built-in markdown parser works well:
[code]

Nothing is needed.

[2019-05-22 02:09] masatake commented on #63
libctags.a is introduced. Though it is not a generic library, but I think I can close this now.
Refining the API for Geany is the next step.

[2019-05-22 02:09] #63 closed

[2019-05-23 03:51] EvanCarroll opened #2103 "Solve problems for Moose-like parsers."
Previously in #2070 we got support for a subparser for Moose. There are other modules like Mouse and Moo that follow the same API with Moose as a reference-spec (or strong-influence).

We need to decide if we want to

* Implement subparsers that share a lot in a common,
* Implement one subparser for all Moose-like variants.

I strongly believe the second tactic is better.

[2019-05-23 03:51] EvanCarroll commented on #2103
Common on the original patch

* https://github.com/universal-ctags/ctags/pull/2070#discussion_r286766212

[2019-05-23 11:24] Lennon925 opened #2104 "Does universal-ctags support .inc file and .pc file?"
Does universal-ctags support .inc file and .pc file?  I used command "universal-ctags.exe --output-format=json --fields=+ne -o - D:\test\smp_comm.cpp >text1.txt" to parse .inc file and found
result was empty.

[2019-05-24 05:10] masatake commented on #2104
What is inc? What I image is php. ctags has PHP parser though it doesn't recognize .inc as a file extension for php.

What is .pc? What I image is pkg-config. ctags doesn't has a parser for pkg-config.

[2019-05-29 18:25] hanwen opened #2107 "JSON DOS"
(

The name of the parser:

json

The command line you used to run ctags:

[code]

The content of input file: https://github.com/sirthias/borer/blob/master/core/.jvm/src/test/resources/n_structure_100000_opening_arrays.json

(this is a sequence of 100k '[' chars)

The tags output you are not satisfied with:

heap increases to many Gb until it crashes with segfault.

It would be nice if this could

[2019-05-30 00:16] masatake commented on #2107
A related issue: https://github.com/universal-ctags/ctags/issues/1682

[2019-05-31 12:59] ling-zhou opened #2108 "ctags missed generating some symbols for nginx"
The command line I used to run ctags:

[code]

The content of input file:

[code]

The tags output I  am not satisfied with:

[code]

The tags output I expect:

[code]

The version of ctags:

[code]

This is how I get ctags:
1. download zip from https://github.com/universal-ctags/ctags (**source date: 20190531**)
2. ./autogen.sh
3. ./configure
4. make && make install(via GNU/Linux distribution)

*

[2019-06-02 02:02] masatake commented on #2108
ctags command is a tool for GENERATING tags file. "Jumping to the definition" is a job of client tools.
And I don't know client tools well. I'm using emacs.

readtags, a client tool included in the ctags source tree is special.  I'm working on adding an option for sorting the result.

[code]
You can give a sorting rule with -S option.
However, as far as I know, there is no tool using readtags inte

[2019-06-02 02:06] masatake commented on #2108
Requirements for order of sorting may be changed by use context.
So I think sorting should be done after generating tags though ctags hsa --sort option.

[2019-06-02 02:16] masatake commented on #2108
I could not reproduced. All the symbols you reported are listed in the output.

[code]

[2019-06-03 03:18] ling-zhou commented on #2108
**sorry, it was my mistake!. this is the right code snippet:**
349     for (i = 0; i < size; i++) {
350         if (test[i] == sizeof(void *)) {
351             continue;
352         }
353
354         test[i] = (u_short) (ngx_align(test[i], ngx_cacheline_size));

**I deleted one '}' in line 352 by accident, this is the wrong code snippet:**
349     for (i = 0; i < size; i++) {
350         if (test

[2019-06-03 04:38] ling-zhou commented on #2108
I think you misunderstood my meaning, what I want is not real **"Jumping to the definition"** , but the priority symbols appear. for example:

1) the 'h'(header) file appears in front of the 'c' file
`
ngx_hash_init   ngx_hash.h      /^ngx_int_t ngx_hash_init(ngx_hash_init_t *hinit, ngx_hash_key_t *names,$/;"    prototype       line:106      language:C++     typeref:typename:ngx_int_t      signatu

[2019-06-03 04:58] ling-zhou commented on #2108
I think you misunderstood my meaning, what I want is not real **"Jumping to the definition"** , but the priority that symbols appear. for example:

**case 1.** the 'h'(header) file appears in front of the 'c' file
[code]
so, when we jump to 'ngx_hash_init', the header file has higher priority:
[code]

**case 2.** the 'c' file appears in front of the 'h'(header) file
[code]
so, when we jump to 'ngx

[2019-06-03 05:08] masatake commented on #2108
Do you mean ctags should tags as you expected even if you remove one '}' in the source code?

[2019-06-03 05:25] masatake commented on #2108
Whether prototype decl or implementation are important is up to the context of usage of tags file.
ctags should not decide the order. In addition, I cannot find efficient way to implement such feature.

It should be solved in your client tool.

[code]

Though the name fields for the two tag entires have the same value, your client tool reorder the list by referring kind fields. One has `prototype`

[2019-06-04 09:31] ling-zhou commented on #2108
No. But it is awesome if it could be implemented.

[2019-06-04 09:37] ling-zhou commented on #2108
All right, let it be, thank you.

[2019-06-04 10:30] masatake commented on #2108
Universal-ctags will not handle broken input.

[2019-06-04 10:30] #2108 closed

[2019-06-04 10:31] masatake commented on #2104
Feel free reopen this if you need.

[2019-06-04 10:31] #2104 closed

[2019-06-04 10:32] #2098 closed

[2019-06-04 10:33] #2048 closed

[2019-06-07 09:46] b4n commented on #2104
`.inc` is a fairly common extension for "include file", whatever the language.  It's indeed used for PHP, but sometimes for C++ or others, when it's a file that has specific semantics.

@Lennon925 However, it seems like you expect CTags to parse files `#include`ed in your `.cpp`.  But CTags does not, it might record that you included files, but it won't parse those files, for many reasons.

Here I

[2019-06-10 10:06] Fmajor commented on #1577
@reisnobre
Before the vue language is added into the master branch, we can use a workaround to quickly nav vue files in atom, we need

1. the latest ctags and Atom
2.  Install the symbols-tree-nav atom package
3. edit ~/.atom/packages/symbols-tree-nav/lib/.ctags, add these lines
[code]
4. toggle the plugin sidebar
Results
![image](https://user-images.githubusercontent.com/1620897/59188193-abd35b00

[2019-06-10 16:43] masatake commented on #1577
@Fmajor, thank you for the comment. I will study your vue parser.

I have a request. Please avoid to use '-' in kind name. I would like you to change "vue-command"  to "vueCommand".

Currently I'm designing the code handling "export" in the JavaScript parser.

[2019-06-10 16:44] masatake commented on #1577
BTW, as the parser name, which is better Vue or VueJS?

[2019-06-10 18:40] Fmajor commented on #1577
I think the name Vue is better, because a vue component contains `template`, `script` and `style`

my quick hack with regex is not a good or even right parser, the right logic of it should be

1. extract the line which contains "v-if=", "v-for=", "v-show=", "ref="...(and some other vue command) in the `<template></template>`
2. extract all the key names in the export in `<script></script>`
2.1 if

[2019-06-10 18:47] Fmajor commented on #1577
i think the pull request(#1581) have partly implemented the feature, but i can not merge it to the master and test it

[2019-06-11 11:52] masatake commented on #1682
Could you look at #2111?

[2019-06-13 21:15] masatake commented on #1229
I convinced that UI5 code should be parsed by a subparser of JavaScript.

[code]

method_name1 and method_name2 are captured well with the JavaScript parser.
However, to fill the scope fields of them, "id.of.controller" must be captured.

The question is what "kind" we should assign to "id.of.controller"?
The kind should be part of UI5 subparser.
The method_names  may be tagged two times, one time

[2019-06-14 07:32] b4n commented on #1229
Not sure what that means, why do we need cork to parse `import` and `export` syntax?  Using cork is nice anyway, but I'm not sure I understand why it's needed here, but I'm probably missing something.

Anyway that's nice :)  Though, I'm afraid it won't be a trivial task, because the JS parser has its share of complex situations, and often emits parent tags *after* children (mostly to decide and ty

[2019-06-14 08:03] masatake commented on #1229
That's the point!
Here is my solution.

[code]

Newly introduced makePlaceholder() and its variant allows me to write following code:
[code]

[2019-06-14 08:21] masatake commented on #1229
I'd like to show my current idea about modules.
I wonder you may think it is over-engineering:-)
Please, read when you have a time.

To support vue, we have to think of module.

[code]

When thinking of modules, a user of ctags may want `x` in both L1 and L2 to be tagged.
`x` in the line 2 may be captured as a reference tag with role "exported".
However, what "kind" should be assigned to the `x` i

[2019-06-19 15:50] #2089 closed

[2019-06-20 04:27] Cloudprogram opened #2118 "E431: Format error in tags file"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2019-06-20 04:31] Cloudprogram commented on #2118
E:\program\u-boot-1.1.6>ctags --languages=asm,c,c++ --c-kinds=+lpxz --c++-kinds=
+lpxzLA --fields=+nitazS --extras=+qr -R E:\program\u-boot-1.1.6
If i run this command vim would work normally。

[2019-06-20 06:53] masatake commented on #2118
I would like to see the diff output of two tags files of
[code]
, and
[code]
.

[2019-06-20 07:00] Cloudprogram commented on #2118
when i use latest version gvim_8.1.1573_x64_signed.zip in https://github.com/vim/vim-win32-installer/releases,it would be ok.
The file in u-boot-1.1.6.zip(u-boot-1.1.6\tags and u-boot-1.1.6\tags (2).old)
u-boot-1.1.6\tags would cause error in vim.
But it is fine in newest vim.

[2019-06-20 07:41] masatake commented on #2118
When specifying -output-format=e-ctags, the output includes following lines:
[code]

The last ')' is a wrong entry obviously.
I will inspect this more.

[2019-06-20 09:20] masatake commented on #2118
I found two bugs. FIxing one hides the other.
I will make a pull request for fixing the first one first.

[2019-06-22 03:06] masatake commented on #2118
I merged a fix for this bug (#2120).
With the fix, the two tags file (with/without --format=e-ctags options) are the same for the input files (the source tree of u-boot).

Internally, one more fix is needed but in user-visible level, #2120 may be enough.
If my fix is not enough, please, reopen this.

[2019-06-22 03:06] #2118 closed

[2019-06-22 04:33] #2103 closed

[2019-06-28 16:12] andbar-ru commented on #1577
It is impossible to write vue parser basing only on `--regex-vue`. I have tried to write parser via `--_mtable-regex-vue`. At least it works for projects on my job and for application (vue-pizza)[https://github.com/prograhammer/vue-pizza].
<details>
<summary>167 lines. Click to expand</summary>

<div>--langdef=vue</div>
<p>--map-vue=.vue</p>

<div>--kinddef-vue=t,tag,tags</div>
<div>--kinddef-vue=

[2019-06-28 16:16] andbar-ru commented on #1577
I didn't handle tags inside <template> and <style>, because they have to be handled by specific parsers via {guest} modifier. And yes, I wait comprehensive vue parser on C. ;)

[2019-06-28 19:16] masatake commented on #1577
@andbar-ru, great result. However, I would like you to evaluate changes proposed in #2123.

https://github.com/universal-ctags/ctags/pull/2123/commits/ebc0d8bd47af1c2bb6fa0c975b511366d1adc06c#diff-4bce0a1513c5d1116768cd7e0096fbfb

[code]

Newly introduced `_guest` regex flag allows you to run any parser inside areas.
The guest parser can be chosen dynamically. LESS, SASS, TypeScript, ... anything

[2019-06-29 18:24] masatake opened #2126 "Question about the expected behavior of JavaScript parser"
I'm working hard to extend cork to support symbol tables.

foo.js (taken from angular.js):
[code]

Without using the symbol table code, ctags reports ChildScope two times:
[code]
With the symbol table code, ctags reports it only once:
[code]

How do you think about this difference?

I think the output of u-ctags-symbol-table is a bit better. However, the evaluation of the quality of tags output is

[2019-07-02 09:30] EternalChildren opened #2127 "how to generate typescript ctags with vim-gutentags"
The name of the parser: typescript

The tags output you are not satisfied with:
generate ctags like this. and can use it in project
![image](https://user-images.githubusercontent.com/27210994/60501274-5abd0f80-9cee-11e9-82ca-8f05e63d248d.png)

tagbar in tsx:
![image](https://user-images.githubusercontent.com/27210994/60501362-7b856500-9cee-11e9-8340-f63eae9af69e.png)
tagbar in js:
![image](https:/

[2019-07-02 09:35] EternalChildren commented on #2127
my .vimrc
[code]

[2019-07-02 09:37] ksamborski commented on #2127
@masatake Where is this warning `ctags: Warning: Language "typescript" already defined` coming from?

[2019-07-02 10:09] masatake commented on #2127
Maybe it comes from the uesr's .ctags.d/*.ctags .

[2019-07-02 10:12] masatake commented on #2127
@EternalChildren, could you show us the output of following command line.

[code]

[2019-07-02 14:36] IdanReed opened #2128 "No tag for multidimensional array parameters - C"
**Ctags version:**

[code]

**Ctags args:**

[code]

**Src input:**

[code]

**Tag output:**

[code]

**The problem:**

There are tags for only 3 parameters excluding param_arr_2dim. Anyone know what's going on here? Hopefully I don't just have an option wrong.

[2019-07-02 15:36] masatake commented on #2128
Reproduced.
Simplified input:
[code]

[2019-07-02 17:53] masatake commented on #2128
[code]

[2019-07-02 18:08] masatake commented on #2128
@pragmaware, I tried to make a fix for this issue.
I changed the condition for handling input `	// type (...var)[]` without understanding the code and expected input well.

I don't know the syntax for the comment. Is this C++ syntax?

[2019-07-02 18:18] pragmaware commented on #2128
Yep, I was already looking at your code :)
So far it looks good. I was just mind-testing the corner cases.

` int (a)[]`  is a valid C syntax. The parenthesis can contain type modifiers too.

[2019-07-02 18:22] masatake commented on #2128
Oh, I see. Thank you.
I will make a pull request for the change tomorrow.
(Midnight in Japan).

[2019-07-02 18:26] pragmaware commented on #2128
Ow... I'm already making it (with mostly your code).

[2019-07-02 18:26] masatake commented on #2128
Oh, thank you.

[2019-07-02 18:27] masatake commented on #2128
BTW, Before reworking on Java parser, I would like to extract some of your code that handles {}, () and [] to main/. The code related to TokenChain is unbelievably  maintainable.

[2019-07-02 20:54] IdanReed commented on #2128
Thanks for the help everyone, I'll keep eye out for a pull.

[2019-07-02 21:14] pragmaware commented on #2128
@masatake Cool! I'm glad you like it. Looking forward to see it in main then.

[2019-07-03 01:37] #2128 closed

[2019-07-03 01:46] EternalChildren commented on #2127
@masatake this is res
[code]

[2019-07-03 01:49] EternalChildren commented on #2127
and i write some config into default.ctags . i don't know it's right or wrong
this is content of default.ctags
[code]

[2019-07-03 05:23] masatake commented on #2127
Remove above two lines. Instead, put `--map-TypeScript=+.tsx`.

[2019-07-03 05:24] masatake commented on #2127
@ksamborski, Should we add .tsx to typescript.c ?

[2019-07-03 05:26] ksamborski commented on #2127
We can't at the moment. tsx files contain HTML tags and they may not be parsed correctly.

[2019-07-03 06:00] EternalChildren commented on #2127
nothing happens.
my new config:
![image](https://user-images.githubusercontent.com/27210994/60566683-31f25400-9d9a-11e9-91ce-b0de137f0a1a.png)
run above command line:
[code]
you can see it still don't support tsx.

and the size of tags file don't increase
@masatake

[2019-07-03 06:07] EternalChildren commented on #2127
i found that it also doesn't work in ts file.
my .ts file:
![image](https://user-images.githubusercontent.com/27210994/60567188-c3ae9100-9d9b-11e9-86f7-17a49c79750e.png)

but nothing in Tagbar

[2019-07-03 06:16] masatake commented on #2127
How about running directly from command line like:
[code]

[2019-07-03 06:29] EternalChildren commented on #2127
i can't understand the command
[code]
what should i do ?

[2019-07-03 06:29] masatake commented on #2127
It is prompt of my shell.

[2019-07-03 06:31] masatake commented on #2127
If you installed Universal-ctags to /usr/local/bin/ctags, you should use it instead of u-ctags.
You will run:
[code]

[2019-07-03 06:32] masatake commented on #2127
/tmp/foo.ts is a name of input file written in TypeScript.

[2019-07-03 06:33] EternalChildren commented on #2127
it's the result:
![image](https://user-images.githubusercontent.com/27210994/60568461-7df3c780-9d9f-11e9-9ac6-82ba726465ef.png)
a lot of information . what is you need

[2019-07-03 06:35] EternalChildren commented on #2127
noting change in my project. my workspace is clear after run the command

[2019-07-03 06:38] masatake commented on #2127
The result shows the TypeScript  parser of ctags works well.
So the next issue is .tsx.

How about running following command:
[code]

[2019-07-03 06:40] EternalChildren commented on #2127
result:
![image](https://user-images.githubusercontent.com/27210994/60568813-75e85780-9da0-11e9-9efc-dfd0271c2f79.png)

[2019-07-03 06:41] masatake commented on #2127
See my comment carefully. You forgot adding `--map-TypeScript=+.tsx` to the command line.

[2019-07-03 06:42] EternalChildren commented on #2127
well, it's work will
![image](https://user-images.githubusercontent.com/27210994/60568988-d2e40d80-9da0-11e9-8b09-e7430c4f18d4.png)

[2019-07-03 06:43] masatake commented on #2127
nice!

[2019-07-03 06:45] EternalChildren commented on #2127
so what should i do after?
my config file have add the --map-TypeScript=+.tsx
it is vim-gutentags 's problem?

[2019-07-03 06:48] ksamborski commented on #2127
I remember that Tagbar needs additional config in order to work with Typescript tags. This works for me (please place it in your `.vimrc`):
[code]

[2019-07-03 06:49] masatake commented on #2127
Other than default.ctags, do you have any *.ctags file in your ~/.ctags.d directory?

[2019-07-03 06:50] EternalChildren commented on #2127
it's not required. @ksamborski
in fact it don't generate tags for my typescript code

[2019-07-03 06:52] EternalChildren commented on #2127
this is my config:
![image](https://user-images.githubusercontent.com/27210994/60569496-1db25500-9da2-11e9-89d0-9415d19e387a.png)

[2019-07-03 06:58] masatake commented on #2127
How about next command line?

[code]

[2019-07-03 07:01] EternalChildren commented on #2127
result:
[code]

[2019-07-03 07:06] EternalChildren commented on #2127
well i fond something interesting.
i search the .tags file.
fond some record  like
[code]
i fond trace of Card.tsx in .tags, but noting in Tagbar.
and i increase some config in my .vimrc
[code]
this is result of Cards.tsx
![image](https://user-images.githubusercontent.com/27210994/60570381-096f5780-9da4-11e9-8aff-f4c33423ecbf.png)

maybe is the config of Tagbar?.
where the tag of id , startDate...

[2019-07-03 07:10] ksamborski commented on #2127
As you can see the tags have `C` kind (constants) which aren't mapped in your tagbar config.

[2019-07-03 07:14] EternalChildren commented on #2127
@masatake  do you have some good idea about config?
or any document about description g:tagbar_type_**

[2019-07-03 07:23] masatake commented on #2127
I'm sorry but I don't know vim well. Contacting the deveopers of tagbar may be better.

[2019-07-03 07:30] EternalChildren commented on #2127
@masatake @ksamborski  thanks very much.
it have a lot of sign in a file. well. it must is config of tagbar.
finally i want to ask where can i see the tag name map, example like constants --> c

[2019-07-03 07:35] masatake commented on #2127
This may be what you want.

[code]

[2019-07-03 07:54] EternalChildren commented on #2127
Yeah it's great.

[2019-07-03 07:54] #2127 closed

[2019-07-04 09:38] andbar-ru commented on #1577
@masatake, I couldn't grasp how to fetch commit with id `ebc0d8bd47af1c2bb6fa0c975b511366d1adc06c` to evaluate your vue.ctags and {_guest}.  Maybe I don't know `git` well enough, guides appreciated. Anyway your should consider some following things:
* template can be not only HTML. It can be for example <template lang="pug">. And it can contain nested <templates>'s.
* style can ve not only CSS: le

[2019-07-04 10:22] masatake commented on #1577
See above session:
[code]

[2019-07-04 10:29] andbar-ru commented on #1577
It worked. Thanks!

[2019-07-04 10:32] masatake commented on #1577
@andbar-ru, thak you.

This is not an issue yet because ctags hs not pug parser yet.
If one wrote a bug parser, integrating it to vue parser is not difficult.

This is a critical issue. At least I have to make the guest regex flag stackable.
Could you show me a good example of nested <teampltes>'s?

This is not an issue yet because ctags doesn't have less, sass and stylus parsers.
If one write one

[2019-07-04 11:05] andbar-ru commented on #1577
Use cases of nested &lt;template&gt;'s can be found on page https://vuejs.org/v2/guide/conditional.html. Nested templates are used when one need to combine multiple tags under common directive, for example v-if, v-else, v-show.
Here sample from my project:
<details>
<summary>78 lines. Click to expand</summary>
<div>&lt;template&gt;</div>
<div>&nbsp;&nbsp;&lt;div&nbsp;id=&quot;GeoTools&quot;&gt;</d

[2019-07-04 11:17] andbar-ru commented on #1577
I think that vue syntax is too complicated to be parsed with regular expressions. Any of sections (&lt;template&gt;, &lt;script&gt;, &lt;style&gt;) can contain nested &lt;section-name&gt;: directly or in comments or in strings.

[2019-07-04 11:34] andbar-ru commented on #1577
Can one apply {_guest} to a table defined with `--_tabledef-`?

[2019-07-04 11:52] masatake commented on #1577
Yes. The flag is applicable to mtbale parsers.
See https://github.com/universal-ctags/ctags/pull/2123/commits/0da7f2cdf043c5a7ab796da32293309ff767b131 as an example.

[2019-07-14 20:26] #2107 closed

[2019-07-15 05:09] masatake commented on #1682
About only JSON, the issue itself is fixed via #2111.
What I did is very similar to the example in " b4n commented on Feb 15, 2018".
My fix rejects too deeply  nested brackets even if the input is valid.

[2019-07-15 05:09] #1682 closed

[2019-07-16 01:11] derekschrock opened #2143 "Add 'D: macroparam' expected output to misc/mini-geany.expected"
Introduced in commit 8e55f288 should [misc/mini-geany.expected](../tree/master//misc/mini-geany.expected) have `D: macroparam` output?

`make check` or `make tlib` fail because of this.

[code]

[2019-07-16 06:55] masatake commented on #2143
@techee, I added a kind (D/macroparam) representing macro-parameters to C, C++, and CPreProcessor parsers.

As the result, we got unexpected result from mini-geany.
Is adding the kind acceptable to Geany?

[2019-07-16 06:58] masatake commented on #2143
tlib target didn't report a failure properly. So I could not know  8e55f28 breaks the test case.
Following patch is needed.

[code]

[2019-07-16 07:15] masatake opened #2144 "The license of NSIS (and docbook) parsers"
@eht16, I imported your NSIS parser from Geany to Universal-ctags.

After merging, I noticed the version of GPL was not written explictly:
[code]
Can I change this to
[code]

?

[2019-07-16 19:32] eht16 commented on #2144
Yes, that's fine by me.
Thanks for taking care.

[2019-07-17 01:47] masatake commented on #2144
@eht16, thank you.
I have one more request.
I would like to do the same (writing the version of GPL explitly) on your docbook parser.
Is it o.k.?

[2019-07-18 06:23] Lennon925 opened #2146 "Ctags can't parse function declaration in .h file"
my test1.h file as following:

[code]

My running command line is :
`ctags.exe --output-format=json --langmap=c:+.inc --fields=+ne -o - C:\Users\Desktop\cscope\bin\test1.h >text.txt`

Output is:
[code]

No function declarations I expected.

[2019-07-18 09:58] masatake commented on #2146
Add --kinds-c=+p option.

[2019-07-18 10:39] Lennon925 commented on #2146
Thanks very much and it works for me.

[2019-07-18 10:39] #2146 closed

[2019-07-18 22:19] eht16 commented on #2144
Yes, this is OK as well. Please add the version of the GPL explicitly to the code.

[2019-07-19 03:03] masatake commented on #2144
Thank you. I will work on importing the docbook parser.

[2019-07-22 17:49] bigfish opened #2154 "Javascript: methods with decorators are ignored"
The name of the parser: Javascript

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

binary taken from Universal-ctags/homebrew-universal-ctags project,

[2019-07-22 18:12] bigfish commented on #2154
here's an article about JS decorators, with some examples: https://www.sitepoint.com/javascript-decorators-what-they-are/. Take note that:

- They can be applied to class definitions as well as method definitions
- They can be stacked on top of each other
- They can take arguments , eg. @log('error') .
- They can also be on the same line as the method, preceding it, eg. @fancy method() {}
- They c

[2019-07-22 18:20] bigfish commented on #2154
basically, I think you could ignore anything starting with @ above a method ;)

[2019-07-24 06:15] masatake commented on #2143
I discuss an issue derived from this issue at https://github.com/geany/geany/issues/2227 .

[2019-07-24 14:43] #2143 closed

[2019-07-24 18:02] techee commented on #2143
Maybe we could just skip printing the kinds by mini-geany so adding/removing kinds doesn't affect its output. I did this just as an example and to utilize ctagsGetKindFromName(), ctagsGetKindName(), ctagsGetKindName() which we need in Geany (but for something else).

[2019-07-24 18:20] masatake commented on #2143
I see. Thank you. I will take more time for the area between u-ctags and Geany.
As I wrote in geany/geany#2227, I have some ideas.

[2019-07-24 18:48] masatake commented on #2154
@bigfish, could you try #2159?

[2019-07-25 17:41] AndrewQuinn2020 commented on #1566
Julia

[2019-07-29 08:44] janEbert commented on #1566
Some progress is here, though it's error prone using only regexes:
https://github.com/JuliaEditorSupport/julia-ctags/

[2019-07-29 09:29] janEbert commented on #1608
I have the issue same issue as the original poster, using both `~/.ctags.d/*.ctags` and (locally) `./.ctags.d/*.ctags`.
I am using GNU Global 6.6.3, compiled with Universal Ctags support. `GTAGSCONF` points to the default `gtags.conf` installation path and `GTAGSLABEL` is `new-ctags`.

I also looked through the source code in Global's [`/plugin-factory/exuberant-ctags.c`](https://cvs.savannah.gnu.

[2019-07-29 09:54] masatake commented on #1608
How about calling ctags directly like:

[code]

Do you get expecting result?

[2019-07-29 10:59] janEbert commented on #1608
Yes, calling Universal Ctags (`uctags` on my machine; the label is not the name of the binary) directly works perfectly, with or without the .ctags file specified via `--options`.

[2019-07-29 11:30] masatake commented on #1608
Please, don't use --options. uctags should load ~/.ctags.d/julia.ctags and ./.ctags.d/julia.ctags without specifying --options.

So what I would like you to run is:
[code]

I would like to see the command output.

BTW, do you use ctags on GNU/Linux?

[2019-07-29 11:35] janEbert commented on #1608
Sorry, I wasn't clear. `uctags` uses the contents of `~/.ctags.d` as desired, even if I do not give the `--options` flag. However, if I use `gtags` with `uctags` as the backend, `~/.ctags.d` is _not_ used.

Yes, I am using it on GNU/Linux, specifically Ubuntu. The output is the following:
[code]
[code]

[2019-07-29 11:41] janEbert commented on #1608
The output does not show the `greet` function that I used in the example to reproduce above. This is due to an outdated parser in the branch I linked you to – just substitute `global greet` with `global square` and it will still give no output.

[2019-07-29 11:56] masatake commented on #1608
o.k. As a standing alone program, uctags woks well.

You are using GNU/Linux. Good! I can help you much more.

Please, install strace package. I don't know Ubuntu well but, apt-get may be the command to install strace.

Then run
[code]

I would like to see the output.

[2019-07-29 12:07] janEbert commented on #1608
Yes, it works beautifully standalone!

Sorry I did not mention that earlier.

[code]

[2019-07-29 12:16] masatake commented on #1608
The output of strace tells gtags didn't call uctags.

[2019-07-29 12:52] janEbert commented on #1608
どうもありがとう。迷惑をかけてごめんなさい。
じゃあGLOBALの開発元に書きます！
またありがとう！Universal Ctagsは素晴らしいです。：）

[2019-07-29 14:09] janEbert commented on #1608
Hey, I tried around a bit. I'm not sure if I should write you or Shigio.

GNU Global uses `langmap` settings in the GTAGSCONF file to filter the files `gtags` processes and also passes those settings to Universal Ctags.

At one point I had added the file extension for Julia (.jl) to the Global config, however, Universal Ctags stopped with the warning:
    Unknown language "[list of langmaps]"

The

[2019-07-29 15:56] masatake commented on #1608
I didn't implement so.
Only a few exceptions, Universal-ctags loads .ctags.d/*.ctags then parser options.
As I wrote in ctags-optlib.7 man page, you can use --_echo=MSG option to understand and debug how u-ctags loads config files.

[code]

See ctags.1 man page.  I don't understand why you want to pass --options to ctags.
Putting julia.ctags to ~/.ctags.d may be enough for your purpose. u-ctags lo

[2019-07-29 16:21] janEbert commented on #1608
Okay, I just tested again and I also do not get an error anymore. Sorry once again for the inconvenience.

[2019-07-30 11:26] #2154 closed

[2019-08-01 18:01] hanwen opened #2160 "Moose parser crash"
this file

https://raw.githubusercontent.com/bloomberg/chromium.bb/f0d58e4aa841fda8e55d8d8b0196898a17e7c6e8/src/third_party/perl/perl/vendor/lib/Parse/Method/Signatures.pm

causes a crash:

$ universal-ctags --options=NONE src/third_party/perl/perl/vendor/lib/Parse/Method/Signatures.pm
universal-ctags: Notice: No options will be read from files or environment
Segmentation fault

*****

[code]

How

[2019-08-01 19:55] masatake commented on #2160
@hanwen, thank you.
Please, try #2161.

[2019-08-02 11:01] hanwen commented on #2160
LGTM

[2019-08-04 06:50] #2160 closed

[2019-08-07 13:22] 3droj7 opened #2169 "Doesn't identify functions from files in glibc-2.18"
Hey,
I tried scanning the "glibc-2.18/nptl/cleanup_compat.c" using both the "C" and the "C++" languages like so -
[code]

The content of input file:
[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
Building it locally using the current master branch
)

[2019-08-07 13:39] masatake commented on #2169
Add an extra argument: "-I strong_alias+" like
[code]

[2019-08-07 15:14] 3droj7 commented on #2169
Then I guess this is my mistake.. What is strong_alias? I didn't find it in the man pages

[2019-08-08 00:28] masatake commented on #2169
strong_alias may be a macro defined in glibc.

[2019-08-08 08:23] 3droj7 opened #2171 "Function identification issue"
The command line you used to run ctags:
[code]

The content of input file:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
Building it locally using the current master branch
)

Currently it doesn't identify any function from this file

[2019-08-08 08:24] #2169 closed

[2019-08-08 10:20] claudioscordino commented on #1760
I'm interested in having ctags (or similar) working with AUTOSAR Compiler Abstractions. Can you please provide me some information about which tool/configuration to use ?

[2019-08-08 10:54] 3droj7 opened #2172 "Question about identifying functions with aliases"
Hey,
Is there a way to identify functions that are aliased to other names?
For example, in the glibc library there's this code -

[code]

And I want ctags to return "__lseek64" as function. Is it possible?

[2019-08-08 11:05] 3droj7 opened #2173 "Doesn't identify function"
Happens in GLibC-2.18 in -
https://sourceware.org/git/?p=glibc.git;a=blob;f=nptl/pthread_mutex_lock.c;h=76dd903142b773a7cac2ef7edf6dcca50ee89f7f;hb=eefa3be8e4c2c721a9f277d8ea2e11180231829f

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
Building it locally using

[2019-08-08 14:01] masatake commented on #2173
[code]

[2019-08-08 14:01] masatake commented on #2173
It works for me.

[2019-08-08 14:06] masatake commented on #2173
[code]

-I strong_alias+ -I hidden_def+  may help you.

[2019-08-08 14:20] #2173 closed

[2019-08-08 14:42] masatake commented on #2172
[code]

[2019-08-08 14:43] masatake commented on #2172
__lseek64 is not a function. It is an aliasname.

[2019-08-08 14:43] masatake commented on #2172
Capting alias names in weak_alias is your homework:-P.

[2019-08-08 14:52] masatake commented on #2171
[code]

[2019-08-08 14:52] #2171 closed

[2019-08-08 14:52] #2172 closed

[2019-08-10 03:47] bigfish commented on #2154
Sorry, i went on vacation! I will try it out.

[2019-08-11 19:56] mezeipetister opened #2174 "gtags - ctags: Unkown language "Ada: ..."
Ubuntu 18.04

Gtags version:
gtags (GNU GLOBAL) 6.6.3
Powered by Berkeley DB 1.85.

Ctags version:
Universal Ctags 0.0.0(b818539a), Copyright (C) 2015 Universal Ctags Team
Universal Ctags is derived from Exuberant Ctags.
Exuberant Ctags 5.8, Copyright (C) 1996-2009 Darren Hiebert
  Compiled: Aug 11 2019, 20:10:00
  URL: https://ctags.io/
  Optional compiled features: +wildcards, +regex, +iconv, +o

[2019-08-12 14:02] masatake commented on #2174
This may be an issue about Gtags.  Contacting Gtags community may be better.

[2019-08-12 14:02] #2174 closed

[2019-08-15 00:47] mbudiu-vmw opened #2175 "The typescript parser does not handle properly expressions that end with a curly brace not separated by a space"
The typescript parser stops parsing the file at the line with the call to `g`.
Adding a space before the closed brace in the argument of `g` makes the parser work correctly.

The name of the parser: TypeScript
The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of

[2019-08-15 18:21] masatake commented on #2175
Thank you for reporting.

The fix for the issue will be something like this:
[code]

Let's see how the maintainer of TypeScript parser says.

[2019-08-15 19:02] chrismwendt opened #2176 "TypeScript parser broken when a function is on the RHS of `=`"
The name of the parser: TypeScript

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

See the extra `console` tag? That shouldn't be there. The same happens for arrow functions `var foo = () => { ... }`.

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building

[2019-08-15 20:39] ksamborski commented on #2175
Thanks @masatake, your patch is quite good and I used your idea but coded it differently: PR #2177

[2019-08-15 20:39] ksamborski commented on #2176
Thanks for the issue, I've prepared a quick fix for it: #2177

[2019-08-16 09:10] maple-leaf commented on #1911
`async` will break if `Class` has `get` or `set` before it. check example code below:
[code]
And one thing not related to `async`, `xx` and `yy` also ignored.

[2019-08-16 09:52] masatake commented on #1911
Not reproduced.
[code]

[2019-08-16 16:31] mbudiu-vmw opened #2178 "TypeScript parser does not parse correctly a list with multiple `implements`"
The name of the parser: TypeScript
The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally.

[2019-08-16 21:17] masatake commented on #2178
Here is my proposal for fixing this issue. Let's see how the maintainer of the parser.

[code]

[2019-08-16 21:47] masatake commented on #2178
This may be a good time for filling the inherits field.
[code]

A should be put to the inherits field.
#2177 may be needed to put `A` to the field.

[code]

[2019-08-17 17:20] masatake commented on #2178
s/exnteds/extends/g.

The second patch doesn't work if template parameters are specified like:
[code]

[2019-08-17 19:39] ksamborski commented on #2178
Thanks @masatake but please just give me a few days, I'll look into it.

[2019-08-17 19:48] masatake commented on #2178
Sure!

[2019-08-18 17:44] #2175 closed

[2019-08-18 17:44] #2176 closed

[2019-08-19 02:16] maple-leaf commented on #1911
![image](https://user-images.githubusercontent.com/3980995/63234967-431ff300-c26a-11e9-8594-ea75c32322d6.png)
Homebrew universal-ctags version is outdated, and can't upgrade so far.

[2019-08-19 05:29] masatake commented on #1911
@KazuakiM, could you look at the issue about Homebrew reported by @maple-leaf?

[2019-08-19 09:54] #2178 closed

[2019-08-19 13:57] KazuakiM commented on #1911
@maple-leaf
I have uninstalled universal-ctags and then reinstalled it again now.
Or try `brew reinstall universal-ctags` .

https://gist.github.com/KazuakiM/69f58a05f07e3f6dd6ea3d76bc977bea

Can you please say that again?

[2019-08-19 21:46] mbudiu-vmw opened #2180 "TypeScript parser generates too many tags for "as" expressions"
The name of the parser: TypeScript
The command line you used to run ctags:

[code]
The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally.

[2019-08-20 02:27] maple-leaf commented on #1911
@masatake @KazuakiM I try `brew reinstall universal-ctags`, and it works. Seems like homebrew can't upgrade HEAD version, issue: https://github.com/Homebrew/legacy-homebrew/issues/13197

[2019-08-20 02:37] KazuakiM commented on #1911
@maple-leaf
Thanks, Do you try `uninstall & install --HEAD` ?
[code]

[2019-08-20 05:37] maple-leaf commented on #1911
@KazuakiM I just tried, and works too.

[2019-08-20 19:23] t-b opened #2181 "C++ parser trips over template specialization"
The name of the parser: c++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

win32 binary taken from Universal-ctags/ctags-win32 project

[2019-08-21 00:24] jonsger opened #2183 "Segfault while indexing LibreOffice"
I wanted to index the LibreOffice git repo (core) with universal-ctags, but it segfaults during that process.

Steps to reproduce:
[code]

Backtrace
[code]

Information about my system:
[code]
OS: openSUSE Tumbleweed
universal-ctags version: 0+git~befcb88-1.4 (package version)
arch: ppc64le
CPU: POWER9 (8 core/32 threads)

Let me know if you need further information from me.

I'll try later if I c

[2019-08-21 09:41] jonsger commented on #2183
This doesn't happen on my amd64 machine (i7-3770 4 cores/8 threads). The command just succeeds.

[2019-08-22 00:50] masatake commented on #2183
Though the issue is not reproduced, I got interesting result when I run ctags for the input under valgrind:
[code]

It will be nothing to do with the original issue. Though interesting. I will inspect more.

[2019-08-23 02:06] pragmaware commented on #2183
I'll open a specific issue for this one.

[2019-08-23 02:08] pragmaware opened #2185 "CXX: Invalid memory access when dealing with friend declarations"
As reported by @masatake :+1:

yamato@slave]~/var/ctags/core% valgrind u-ctags --options=NONE -R .
==7235== Memcheck, a memory error detector
==7235== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==7235== Using Valgrind-3.14.0 and LibVEX; rerun with -h for copyright info
==7235== Command: u-ctags --options=NONE -R .
==7235==
u-ctags: Notice: No options will be read from files or

[2019-08-23 20:20] masatake commented on #2183
@pragmaware, thank you.

[2019-08-23 20:25] masatake commented on #2183
[code]
Maybe the stack overflowed.

To avoid the overflowing I introduced the limitation of the depth of stack in  844ef58017d47b1f6cdbcd9d2575ac06606992fc.

[code]

This is too old for the bug. Could you try the latest code cloned from our git repo?

[2019-08-25 18:48] #2180 closed

[2019-08-26 02:12] Roy-Orbison commented on #801
Try [this custom parser](https://gist.github.com/Roy-Orbison/71bc81f488f85adaeacfb76a7967eda0).

[2019-08-26 02:26] masatake commented on #801
@Roy-Orbison, could you consider to add copyright notice like https://github.com/universal-ctags/ctags/blob/master/optlib/qemuhx.ctags ?

[2019-08-26 02:55] Roy-Orbison commented on #801
Done.

[2019-08-26 05:02] masatake commented on #801
@Roy-Orbison, thank you.

[2019-08-26 19:39] jonsger commented on #2183
I built ctags now from master and the segfault is gone :)

Sorry for the noise. I should have tested ctags from master first, before opening the commit. The package in openSUSE is pretty old. Maybe tagging releases regular could increase the motivation of downstream packagers to update more often...

[2019-08-26 19:39] #2183 closed

[2019-08-29 17:26] d99943001 commented on #1566
forth language

[2019-08-29 17:36] d99943001 commented on #1674
Hi @hisnawi, I'm interested in forth ctags as well.
Could you please let me know how you get the tags from your forth code?
I'm desperately trying to get it,  but have no any progress...

[2019-08-29 18:01] masatake commented on #1674
[code]

Capturing only defintions may not be enough.
See https://searchcode.com/codesearch/view/115911295/

[2019-09-02 02:49] #2181 closed

[2019-09-02 04:48] Roy-Orbison commented on #801
I've updated my gist again. For a large codebase, try [twbs/bootstrap's scss](https://github.com/twbs/bootstrap/blob/master/scss/). I haven't included the `selector` kind in my parser.

[2019-09-02 14:12] masatake commented on #801
Thank you. I'm trying to merge your code to u-ctags. However, I cannot find much time for a month.

I see. I read your parser and I also think selector kind is not fit to scss parser.

Experimentally, I changed your code like this:
[code]

* `#`, `%`, `.` are included as part of a tag name to align the behavior of scss parser to that of our css parser.
* `P` kind is introduced.
* `z` kind is intro

[2019-09-02 14:40] masatake commented on #801
I made a pull request. See #2191.

[2019-09-03 00:34] Roy-Orbison commented on #801
Rather than omit the `pseudos` pattern, you may want to change it to non-capturing:

[code]

[2019-09-04 04:17] masatake commented on #801
I have studied more.
I think we should introduce the pseudo kind to the css parser, and also revive the kind in scss parser.

In historical reason of css spec, it seems that using the same pseudo kind for both pseudo-class and pseudo-class and pseudo-element.

I will work on the css parser first. Then I will revise #2191.

[2019-09-10 08:26] masatake commented on #801
I have studied further more.
I think we should not introduce the pseudo kind to the css parser.
.class and #id are user defined name. So thye should be tagged with specific kind (class and id).
However, the name of pseudo classes and elements are defined in the spec of css.
Basically, we should make tags for language objects named by USER.
I have already written code for tagging pseudo classes and

[2019-09-10 09:07] masatake commented on #801
The scss parser in the pull request is updated.
It is ready to merge.

[2019-09-10 09:58] masatake commented on #801
bootstrap repo is added to codebase.
[code]

[2019-09-11 15:57] tartley opened #2195 "I volunteer to maintain ctags-snap"
I volunteer to maintain the snap release of universal-ctags.

I recently joined Canonical as a member of the Snap Store team. To improve my knowledge of the Snap ecosystem, I want to adopt a project to maintain a snap of.

I use ctags daily (mostly from Vim, for Python and Go), so I could use the ctags snap and have an active motivation to keep it working well.

I confess I was unaware of the univ

[2019-09-11 20:34] masatake commented on #2195
Fine. Thank you. I sent an invitation.

[2019-09-11 20:41] #801 closed

[2019-09-11 20:42] masatake commented on #801
@Roy-Orbison, a parser bsaed on your work is merged. Thank you.

[2019-09-15 10:56] #597 closed

[2019-09-16 16:22] ludovicchabant commented on #1325
Would it be possible to make Universal Ctags output proper single backslashes on Windows by default?  What's the backstory here for those double backslashes?

Every time I setup a new Windows machine I forget about this, wonder why my tag files are messed up and why Vim is unhappy, and then remember to change the output format locally.

[2019-09-16 16:57] masatake commented on #1325
Please, put `--output-format=e-ctags` to $HOMEDRIVE$HOMEPATH/ctags.d/*.ctags.
Suprisingly I cannot find any document for this topic.
This should be written in ctags-incompatibilities.7.

[2019-09-16 16:58] masatake commented on #1325
It is related to format-3 branch. The branch is corrupted because I mistakenly the branch to master.
I must inspect the status of format-3 branch.

[2019-09-16 17:03] masatake commented on #2195
I think I can close this now.

[2019-09-16 17:03] #2195 closed

[2019-09-17 17:43] ludovicchabant commented on #1325
Yep, adding the option to my global ctags config file is what I end up doing, but I don't think that should be needed, should it? I don't know why it does those double-backslashes, but if there's something I can do to help (like testing or whatever), feel free to ping me.

[2019-09-17 19:13] masatake commented on #1325
I will explain why. I have to write this to our man page. Maybe the  format-3 branch includes some documentation about this topic.

One of this motto in Universal-ctags development is that ctags should pass raw-data to client tools; ctags should not hide raw information found in the input files.
Here, the client tools include vim, readtags, etc. Dropping information can be done later in the client

[2019-09-17 19:14] masatake commented on #1325
It is possible to make a file including a tab char in its name.

[2019-09-17 23:14] k-takata commented on #1325
Just an idea. How about using `/` for directory separator even on Windows?
At least, Vim can handle a tags file with `/`. (Another work might be needed to support a name with `\t`.)
As a side effect, a tags file created on Windows might be able to share with Linux. (Line endings should be LF instead of CRLF, then?)

[2019-09-18 02:09] masatake commented on #1325
@ludovicchabant, how do you think about @k-takata's idea?

[2019-09-19 11:45] masatake opened #2202 "Unexpected regex kind in --list-kinds"
`r/regex` is name of kind generated automatically when a user defines a regex pattern without specifying a kind.
[code]

I wanted to remove this default kind feature, however, I didn't remove it not to break compatibility.
However, at least u-ctags built-in optlib parsers should not depend on the feature.

However, because of the bug in the main part, the regex kind is generated in the built-in op

[2019-09-19 11:48] masatake opened #2203 "Improve the way to choose XML subparser"

[2019-09-19 11:49] masatake commented on #2203
This must be done before merging DocBook parser.

[2019-09-19 12:08] masatake commented on #2203
I have to summarize the issue first.

[2019-09-23 09:33] vladak opened #2205 "dist-test-cases should specify the shell it needs more concretely"
Trying to build 39e840e647b332929bd0fc2c54390e97f2a64f05 on Solaris 11.4 (latest SRU) `autogen.sh` fails:
[code]
This is because the `misc/dist-test-cases` script has `/bin/sh` as shebang and uses `local` keyword in functions. On Solaris `/bin/sh` is Korn Shell 93 (sh (AT&T Research) 93u+ 2012-08-01 as reported by `--version` / Version AJM 93u+ 2012-08-01 as reported by `${.sh.version.}`) does not

[2019-09-25 19:32] masatake commented on #2205
Thank you. Please, try #2206.
Is there something like travis for Solaris?

[2019-09-26 15:22] vladak commented on #2205
I've always wanted to have the ability to run builds on Solaris from Github however there does not seem to be such capability around. Will try to ask in my management chain as there is now Solaris in Oracle OCI.

[2019-09-26 17:02] #2205 closed

[2019-09-26 20:19] dynofu opened #2207 ""case classes" break ctags parsing"
commit 2854ad6d7758d2dd883c5178219ef6e02c51ed53 is good
commit 27650e323c732d2c8fcc323adfb389577da29d3c is bad.

build locally and used with opengrok

17:56:34 WARNING: File '/spark/sql/hive/src/test/resources/golden/timestamp_udf-13-51959036fd4ac4f1e24f4e06eb9b0b6' interrupted--tagLine == null
17:56:34 WARNING: Error from ctags: ctags: Non-alphanumeric char is used in kind name: 'case classes' in

[2019-09-26 20:27] masatake commented on #2207
Your scala parser defines a  kind including a white space char.
It violates tags format.

When defining a kind, I recommend you to use --kinddef-<LANG> option.
See https://github.com/universal-ctags/ctags/blob/master/README.md .

[2019-09-26 20:27] #2207 closed

[2019-09-26 20:28] masatake commented on #2207
BTW, thank you for bisecting to spot the issue.

[2019-09-26 22:00] dynofu commented on #2207
thanks for the response. then it must be opengrok passed a wrong args. will report the issue there.

[2019-09-28 22:18] #2057 closed

[2019-09-28 22:18] #2033 closed

[2019-09-29 19:38] masatake commented on #688
Now we introduce tags(5) man page.
Newly introduced changes in u-ctags are explained in a separated section of the man page.

[2019-09-29 19:38] #688 closed

[2019-09-29 20:16] #1444 closed

[2019-09-30 08:02] akemrir opened #2215 "SQL: capture COMMENT keyword as an identifier"
The name of the parser: SQL

The command line I used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:
From package manager on archlinux.
extra/ctags 1:r20190522+g3fdf28bc-1

[2019-09-30 09:43] masatake commented on #2215
It seems that COMMENT is a reserved word.
https://docs.oracle.com/cd/B28359_01/server.111/b28286/statements_4009.htm#SQLRF01109

[2019-09-30 11:49] akemrir commented on #2215
I think it does not matter.
https://docs.oracle.com/cd/B28359_01/server.111/b28286/ap_keywd.htm#SQLRF022

I used keyword grant, compress, connect as table name and they was indexed.
Maybe there is some other restriction which prevents it from indexing.

So I need to add own regex-SQL to index this.

[2019-09-30 13:16] akemrir commented on #2215
Postgresql COMMENT is not indexed, I have almost all kinds used. Only local and records is turned off.

[2019-09-30 17:00] masatake commented on #2215
I open a pull request for fixing this issue. See #2217. Obviouly, we have to consider the other keywords and contest of parsing.
@akemrir, you know well about SQL thna I. I need your input.

[2019-09-30 17:01] masatake commented on #2215
"comment" is ignored by the parser because the parser regards it as a keyword.
"body" is ignored by the parser because the parser regards it as a keyword.
How about "select"? Can we use it as a name of a table or a fields?
How about "create"? How about ...

[2019-09-30 17:10] masatake commented on #2215
https://www.postgresql.org/docs/12/sql-keywords-appendix.html
The concepts "reserved" and "non-reserved" relate to this issue.

[2019-10-01 02:33] masatake commented on #2215
https://dev.mysql.com/doc/refman/8.0/en/keywords.html
explains well.

[2019-10-01 06:23] akemrir commented on #2215
Yeah this is complex. Different databases could have different approach to this.
`create` and `select` of course should not be available as table names or columns, they don't have any significant meaning as separate entities.

In case of `comment` or `body` this could be useful as entity or column name.
`comment` could be used in postgres in query like this one `COMMENT ON TABLE posts IS 'somethin

[2019-10-01 06:52] akemrir commented on #2215
masatake sorry for interuption, but there is one statement from resulting tags missing
[code]

[2019-10-01 14:31] masatake commented on #2215
I see. I already considered about it.

I'm working on better fix than I proposed in #2217.

[2019-10-02 07:01] masatake commented on #2215
Your input uses non-reserved keywords for a table name and a field name.
For them, I think I fixed in #2217.

How about the other contexts?
e.g. using a keyword for a procedure name.
I don't know well about SQL, so I cannot write an example that shows a bug.
If you can, let me know. I think I can fix them quikly.

[2019-10-02 07:41] akemrir commented on #2215
@masatake We can't use keywords as procedure name in some cases.
[code]
For example if I try to create function `create()` I receive syntax error.
They must be named differently for example create_comment.
But when I try to create function `comment()` this is possible.

create is reserved keyword, comment is non-reserved.
In case of naming function create or comment, they will not have any signifi

[2019-10-02 11:27] masatake commented on #2215
Thank you. I inspected the source of the SQL parser and I found that the parser already accept keywords as the name of procedures. So I don't have to do nothing special.

o.k. I will merge my changes.

[2019-10-03 04:22] k-takata commented on #1325
#2199 was merged, so no need to use `--output-format=e-ctags` now.

[2019-10-03 07:57] epheien opened #2220 "go parser segment fault"
The name of the parser: go

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

macosx install by brew, which tap is taken from Universal-ctags/homebrew-universal-ctags project,

NOTE:
with `--go-kinds=picsmtfva` (ad

[2019-10-03 22:14] masatake commented on #2220
Thank you. I made a pull request for fixing this issue.
ctags should not crash for the input. However, if you give `--go-kinds=picsmtfv` for the input, we cannot expect the entry
[code]
is included in tags output because `a` is not enumerated in `--go-kinds=picsmtfv`.

[2019-10-03 22:16] #2215 closed

[2019-10-04 02:36] #2220 closed

[2019-10-04 05:57] akemrir commented on #2215
@masatake thanks for help

[2019-10-06 01:24] xuhdev opened #2227 "`--exclude` does not exclude when a file is designated on the command line"
I tried to run something like this:

    ctags --exclude=build ./build/Makefile

While I'm expecting the whole `build` directory to be excluded, the content of `Makefile` is tagged.

This can be annoying when one uses `find` to run ctags recursively.

[2019-10-06 14:05] masatake commented on #2227
I would like to know the command line for invoking ctags. I guess inseerting `grep -v /build/` instead of using `--exclude=build` option may solve your issue.

[2019-10-06 14:09] #2202 closed

[2019-10-06 15:48] masatake commented on #2144
@eht16, hi, again.
I have one more request.
I would like to do the same (writing the version of GPL explitly) on your powershell parser. Is it o.k.?

Sorry for contacting repeatedly.

[2019-10-06 16:41] eht16 commented on #2144
Yes, it's fine by me.
No worries about asking me about this. I appreciate your efforts on this topic!

[2019-10-06 16:49] masatake commented on #2144
Thank you.

[2019-10-06 16:49] #2144 closed

[2019-10-06 17:53] xuhdev commented on #2227
@masatake I'm attempting to write a ctags wrapper that would invoke ctags on a per file basis, so the command line listed in the original message is pretty much it. The reason that using `grep` is not ideal is that a user can put `--exclude=...` in a `.ctags.d` directory, something that ctags knows the best.

It actually turned out to be a different issue. I will open another ticket.

[2019-10-06 17:53] #2227 closed

[2019-10-06 17:57] xuhdev opened #2229 "ctags --exclude: patterns not recognized when the file name starts with `./`"
Any of the following commands will generate an empty tags file:

    ctags --options=NONE -o - '--exclude=build/*' build/Makefile
    ctags --options=NONE -o - '--exclude=build' build/Makefile
    ctags --options=NONE -o - '--exclude=build' ./build/Makefile

But the following will not:

    ctags --options=NONE -o - '--exclude=build/*' ./build/Makefile

It seems like the input file path was not co

[2019-10-06 18:03] masatake commented on #2229
It is not reproduced.

[code]

[2019-10-06 18:04] masatake commented on #2229
With u-ctags, "all" target is captured both with build/Makefile and ./build/Makefile.

[2019-10-06 18:29] xuhdev commented on #2229
@masatake Looks like I have some environment issue. I reproduced the issue using `--options=None` and edited the original comment. Thanks!

[2019-10-06 18:52] masatake commented on #2229
Please, put your "ctags --version" output.

[2019-10-06 20:05] xuhdev commented on #2229
@masatake Added

[2019-10-06 21:54] masatake commented on #2229
Reproduced. However, I wonder we should implement the future you want (or fix what you reported).

--exclude does just text operations.
To implement what you want may need file system operations.

[code]

In this case, how ctags can decide whether ctags should make tags for ../foo/build/Makefile or not.

[code]

How about this one?
If "ln bar foo" is done, the Makefile should be excluded.

[2019-10-06 23:25] xuhdev commented on #2229
@masatake I added two more situations to the original comment. For the sake of consistency and minimizing the loss of compatibility, it is desirable to fix the last situation in the original comment. To take care of your last example, maybe ctags can always simplify the input path to the simplest relative path to the current working directory?

An alternative may be to add `--exclude-dir` option,

[2019-10-07 02:19] masatake commented on #2229
I recommend you to read code of ctags. See main/strlist.c.

[code]

The result on my system is different from what you got.
The result of mine is expected. It is just text operation.
`build` doesn't match build/Makefile, ./build/Makefile. So they are not excluded.
`build/*` matches build/Makefile. So it is not excluded.
`build/*` doesn't match ./build/Makefile. So it is not excluded.

This behavio

[2019-10-07 02:19] #2229 closed

[2019-10-07 02:45] xuhdev commented on #2229
Oops, I pasted the newly added lines to the wrong place. Your output is the same as mine. Thanks, this bug report is a misfire.

[2019-10-16 16:58] ntrel opened #2242 "Windows: Building git causes 'Adding a map' error"
Hi, I just checked out ctags and get build errors:

mk_mingw.mak:
[code]
configure --disable-external-sort && make:
[code]

[2019-10-16 22:24] masatake commented on #2242
Looks strange.

I would like to see the output of make with V=1:

[code]

optlib/cmake.c is translated from optlib/cmake.ctags by units/optlib2c.
On my platform (GNU/Linux), the translator is run with the following command line:
[code]

I would like you to try to run the command line directly. I would like to see the output.
I assumed you don't change input file, optlib/cmake.ctags.

[2019-10-17 14:59] k-takata opened #2244 "units: modeline-vs-2gram.m is not tested"
`Units/modeline-vs-2gram.m` is not tested by `make units`, because the directory name is ended by `.m`.

I locally renamed it to `modeline-vs-2gram.d`, but the test still failed because the test expects the language to be Object C, but the language was detected as Matlab.
Maybe it should be renamed to `modeline-vs-2gram.b`, or needs some more modifications.

(Found while implementing #2240.)

[2019-10-17 20:35] masatake commented on #2244
Thank you very much. Could you make a pull request for removing Units/modeline-vs-2gram.m, and merge it?

Some years ago, I implemented a method choosing proper parser by 2gram.
However, it didn't work well enogh, so I deleted my code.  Now the test case becomes gabege.

[2019-10-18 15:29] #2244 closed

[2019-10-18 15:30] k-takata commented on #2244
Done with #2245.

[2019-10-19 13:32] ntrel commented on #2242
@masatake I think the error occurs in the ./autogen.sh stage, see the output here:
https://gist.github.com/ntrel/086a1f4dabbd18c2636c44cc0e315c69

[2019-10-19 13:34] ntrel commented on #2242
[code]

[2019-10-19 23:23] masatake commented on #2242
Thank you.

Following regex pattern in misc/optlib2c:
[code]
failed to pick up "CMake" from following line in optlib/cmake.ctags:

[code]
.

As far as reading the log of autogen.sh you provided,  optlib2c picked up "RSpec" from the line:
[code]

So, I guess this issue is something to do with the way to recognize `{` in the regex pattern.
I extracted the code related to this issue from the script:

[2019-10-20 09:27] masatake commented on #1159
This one solved in c3416965e6f43ab857291e65b916a0a29e21caa8.

[2019-10-20 09:27] #1159 closed

[2019-10-22 14:44] ntrel commented on #2242
Each time I run make it truncates a .c file in optlib/ to zero bytes. I commented out this line in mk_mingw.mak:

	$(V_OPTLIB2C) $(OPTLIB2C) $< > $@

Now I've run `git checkout optlib` and can build ctags.

[2019-10-22 14:52] masatake commented on #2242
Yes, because you got an error when running "./misc/optlib2c optlib/cmake.ctags > optlib/cmake.c" from the makefile.

I added generated C files to the git repo for people using a platform where perl is not available.

[2019-10-22 14:56] ntrel commented on #2242
I have just run that and also get: `picked up: CMake`.

[2019-10-22 15:18] masatake commented on #2242
Thank you for testing. ...Very strange.

Could you try the following steps:
1. Applying the following change to misc/optlib2c.
[code]
2. Run the output of the following ommand line:
[code]

What I got in my environment:
[code]

[2019-10-22 16:26] k-takata commented on #2242
Which perl do you use? What do `type -a perl` and `perl -v` show?

[2019-10-23 06:41] Eluminae opened #2253 "Releases for packaging"
Hello there!

I'd like to package universal ctags for voidlinux repositories but the prob is there is no release of universal ctags.
https://github.com/void-linux/void-packages/issues/15689
I checked there is milestones about some 1.0.0 release but this seems totally outdated.

What is the plan about releases ?

Thanks a lot !

[2019-10-23 07:28] masatake commented on #2253
Just, no plan.

[2019-10-23 08:32] k-takata commented on #2253
Related #1038.

[2019-10-23 09:29] Eluminae commented on #1038
Hello all ! Some time has passed. The lack of release seems to me a debatable choice. Anyway, this really prevent some distro packaging...
https://github.com/void-linux/void-packages/issues/15689#issuecomment-545352098

Is it possible to have some sort of 6.0.0-rc1?

Really sorry if I seem like the annoying bee. I really don't know all the context and I probably say shit..

[2019-10-23 17:39] StephenWall opened #2256 "Tag HTML, embedded CSS, and embedded JavaScript when tagging PHP files"
It would be useful if the PHP parser called the HTML parser to do tags generation for anything outside the `<?php ... ?>` region in `.php`, `.phtml`, etc files, similar to how the HTML parser can generate JavaScript and CSS tags for `<script>` or `<style>` elements, respectively, in an `.html` file.

[2019-10-23 18:14] masatake commented on #2256
Do you have any example input?

[2019-10-23 19:33] StephenWall commented on #2256
I'm afraid the examples of this I have are all proprietary code, and can't be shared.  We make heavy use in particular of HTML and JavaScript in `.php` files in an [MVC](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller) framework, for the view component.  The layout is typically a bunch of HTML that renders a component of the UI (such as a panel or dialog) with bits of embedded

[2019-10-24 01:15] masatake commented on #2256
An experimetal version works.

[code]

[2019-10-24 01:21] masatake commented on #2256
I have to study more to make a pull request.

[2019-10-24 01:23] masatake commented on #2256
foo.php	/tmp/foo.php	1;"	F	language:PHP
php	/tmp/foo.php	1;"	F	language:PHP

??? It looks something wrong.

[2019-10-24 15:17] StephenWall commented on #2256
I see that in the version of uctags I am currently using (g20190223) as well.  Parsing the sample as an HTML file (same content, but in `foo.html`) with `--extras='*-p'` produces
[code]
and parsing it as a PHP file produces the lines you noted (as well as the normal tags, of course).  Looks like it's creating tags for the file name, but also for each dot-separated component of the filename.  I'm g

[2019-10-24 21:09] masatake commented on #2256
Thank you! I forgot I added subword extra though I added. subword should not be enabled even when we speicfy `--extras='*'`.

It seems that EOF is not handled well when calculating the line number of input. I will inspect more.

[2019-10-24 21:48] masatake commented on #2256
I got a better result.

[code]

[2019-10-25 15:58] lukamac commented on #1566
SystemVerilog

[2019-10-25 16:14] masatake commented on #1566
SystemVerilog is already implemented.

[2019-10-25 18:31] lukamac commented on #1566
@masatake my bad :tired_face:

[2019-10-25 20:26] #1928 closed

[2019-10-25 22:10] surmish opened #2263 "Tags for class and method not showing up for a particular type of syntax for a template class"
Parser used: `C++`

The command line you used to run ctags:
[code]

The content of input file (This snippet is enough to reproduce the error):
[code]
[code]

The tags output you are not satisfied with (the rehash method and the class declaration are both missing):

[code]

If I make a slight change to the content of input file (removed the `<` at the end of the line just before the class keyword a

[2019-10-26 03:21] masatake commented on #2263
Thank you for reporting. A quick fix:

[code]

With the change I got:
[code]

[2019-10-26 03:26] masatake commented on #2263
@pragmaware, we can extend the way to handle '>>' to more longer sequence like '>>>'.
The one I tried above was specialized to '>>>'. We can generalize it.

I will try to make a pull request.

[2019-10-26 03:30] masatake commented on #2263
BTW, it seems that we can make tags for template type parameters.

[2019-10-26 03:33] masatake commented on #1928
I see.

[2019-10-27 19:36] #2263 closed

[2019-10-28 03:23] k-takata opened #2266 "parsers: Clang warning in sql.c"
The following warning is shown when compiled with clang:

[code]

`[KEYWORD_is]` is initialized twice, and the values are different. I don't know which value is correct.

[2019-10-28 05:09] masatake commented on #2266
"as" and "is" is mapped to `KEYWORD_is`. This leads my mistake.

[2019-10-28 05:19] masatake commented on #2256
I found many bugs around calculating byte offsets for boundaries where the html parser runs.
I"m fixing them.

[2019-10-28 09:12] vanniuner opened #2269 "please support kotlin"
do u guys have a plan for support kotlin?

[2019-10-28 09:19] masatake commented on #2269
See #1566.

[2019-10-28 09:19] #2269 closed

[2019-10-28 18:01] surmish opened #2275 "Signatures in define macros in C/C++ have changed recently"
The name of the parser: `C++`

The command line you used to run ctags:
 `prompt:> ctags  --extras=* --fields=* --languages="C++" -L ctags_filelist`

[code]

The content of input file:

[code]

The tags output you are not satisfied with:
[code]

The tags output you expect:

[code]

The version of ctags (latest):

[code]

How do you get ctags binary: `local build, configure, make and make install`

[2019-10-28 18:43] masatake commented on #2275
I must fix this, too. Till I find time for fixing, please , use `--extras=*-{subword}` instad of `--extras=*`.

Unexpected result. This should be `signature:(_argument_)` as you expected.

[2019-10-28 18:48] masatake commented on #2275
If I gave '--extras=*-{subword}', the signature field is printed expectedly.
I have to say just removing `subword` extra may be the best way to fix this issue.

[2019-10-28 19:11] #1496 closed

[2019-10-28 21:05] surmish commented on #2275
Thanks, that reduced the tags file for my project from 500+ MB to 80 MB. And I see the correct signature now.

[2019-10-30 12:13] #2275 closed

[2019-10-31 09:30] k-takata opened #2286 "parsers: gcc warnings when configured with --enable-debugging"
The following two warnings are shown when u-ctags is configured with `--enable-debugging`:

[code]

[code]

We can comment out these two functions with `#if 0 ... #endif` or completely remove them to suppress the warnings.
(Not sure which is better.)

[2019-11-01 13:22] docwhat commented on #1038
I would argue that at this point, releasing *anything* would be more beneficial than waiting for a perfect release.

A release would:

- Raise awareness of the project and why it is awesome.
- Encourage participation.
- Publicly show that the project is here and improving.
- Make everyone feel better. ;-p

[2019-11-01 17:31] masatake opened #2290 "HEADS-UP: ignoring fedora_bmake build in circleci"
In these days, our test fails always on the platform.
Please, ignore it for a while.
It may be an issue of Fedora side. I have to report the issue to bugzilla.redhat.com.

[2019-11-01 18:12] masatake commented on #2290
See #2291, too.

[2019-11-02 03:42] masatake commented on #2290
https://bugzilla.redhat.com/show_bug.cgi?id=1736126

It seems that mk-files package that bmake package requires is not maintained in Fedora31.
For testing building ctags with bmake, using Fedora30 where mk-files package is available is not bad solution for the issue. However, as a Fedora user, I would like to keep ctags buildable on the lastest Fedora. So I will add one more target, fedoraLatest_m

[2019-11-04 14:41] masatake commented on #2290
#2298 may fix this issue.

[2019-11-04 14:43] masatake commented on #2286
People may use the function for print-debuggnig. So wrapping #if 0/#endif may be better.

[2019-11-04 14:44] masatake commented on #2290
@k-takata, please, close this when merging #2298.

[2019-11-04 16:08] k-takata commented on #2290
Okay, closing then.

[2019-11-04 16:08] #2290 closed

[2019-11-05 04:13] #2286 closed

[2019-11-07 03:26] k-takata commented on #1038
I personally agree that releasing anything is better than a perfect release.

Universal ctags project stated at 2015 and we have developed for four years. It means that some people might wait a release for four years ;-)
Even `6.0.0-alpha1` should be better than waiting forever.
We may notice what are needed for a stable release by releasing an alpha release.

I'm thinking what are needed for an a

[2019-11-07 19:20] masatake commented on #1038
I'll make a reply till next Sunday.

[2019-11-08 07:38] Lennon925 opened #2303 "universal-ctags has any linux version binary to use?"
universal-ctags has any linux version binary to use? I need to use it to parse code files on linux.

[2019-11-09 21:43] masatake commented on #1038
I must not ignore what a co-developer in the team says.

I promise that I focus on the tasks related to releasing.
However, I will not make a release until the condition that I will explain later is satisfied.

I'm thinking about just releasing 6.0.0 instead of releasing the alpha version.
Once we ship 6.0.0, I will release bugfix versions very frequently: 6.0.1, 6.0.2,...
Releasing-daily is one o

[2019-11-10 11:20] masatake commented on #2303
No. We don't provide any binary file for the platform. We don't have no plan to provide.

[2019-11-10 11:20] #2303 closed

[2019-11-10 11:21] masatake commented on #2253
I wrote the current status in #1038.

[2019-11-10 11:21] #2253 closed

[2019-11-10 12:09] masatake opened #2312 "Write ctags-faq.7.rst.in"
Expected questions we will get when releasing 6.0.0 should be written in the man page.

[2019-11-10 12:10] masatake commented on #1794
-D option should be written here.

[2019-11-10 12:12] masatake opened #2313 "Write ctags-client-tools.7.rst.in"
Provide the information for people writing a tool reading tags file.
Mainly write about pseudo tags.

[2019-11-11 01:13] Lennon925 commented on #2303
so any way to use universal-ctags on linux?

[2019-11-11 01:26] k-takata commented on #2303
You can easily compile by yourself: https://docs.ctags.io/en/latest/autotools.html.
You can also use [snap](https://github.com/universal-ctags/ctags-snap). And on Ubuntu, some people provide PPA.

[2019-11-11 02:59] Lennon925 commented on #2303
I will try and thanks for your reply.

[2019-11-11 14:46] masatake commented on #1877
Solved by #2315. Sorry to be late for solving this issue.
 Scribble language is interesting but it is not the time for working for the language.

[2019-11-11 14:46] #1877 closed

[2019-11-12 08:58] albfan commented on #621
Hi, I'm GNOME foundation member, collaborating on GNOME Builder and gitg maintainer (written in vala). I care about vala integration, and ctags support for vala would be a great addition.

I just add anjuta-tags to my PATH and it works pretty well. But I'm not sure how much it differs from ctags, and I want to collaborate merging it to ctags.

Is there any work in progress (even if old) that I can

[2019-11-12 21:40] masatake commented on #621
@albfan, the important topics were already discussed here.

The situation of ctags side has been changed a bit.
* xcmd feature (invoking an external command from ctags) is removed.
* packcc, a parser generator is introduced to ctags. (However, only varlink parser uses it)

@b4n, @codebrainz , do you have a comment for the comment from @albfan?

@albfan, do you insist that u-ctags should use (or im

[2019-11-12 22:43] albfan commented on #621
I tried to port the change and fileLocation is now a MIOPos so we can discart it.

I will use anjuta-tags as a guide if I found some blocker (as it is working for vala) Just that.

I can reimplement it in pure C, but some guidance is needed @masatake.

[2019-11-13 00:33] masatake commented on #621
I see.

I would like you to now the concepts in Ctags: kind, field, and extra.
See https://docs.ctags.io/en/latest/man/ctags.1.html#tag-entries.

parsers/tcl.c may be helpful.
Tcl parser uses main/tokeninfo.[ch]. I wrote tokeninfo.[ch] after studying how the other parsers are written. I extracted essence of parsers.
tcl.c calls some sub parser related functions. I introduced them for supporting it

[2019-11-13 08:01] albfan commented on #621
Thanks @masatake I will read through it. I just open a PR #2320 (doesn't even compile right now) as a WIP.

[2019-11-13 14:12] #1842 closed

[2019-11-13 16:07] vladak commented on #1038
@masatake I think I understand your concerns, helping to run comparatively small project with very limited number of core contributors. However, the thing is Universal things had become de facto **the** ctags implementation, no matter if you want it or not. So, producing releases may not change much. After all these days everyone seems to be following the continuous integration model so releasing

[2019-11-13 19:33] albfan commented on #621
I have the plumbings on the PR, so I'm now heading for vala hello world:

[code]
Java and c should help here to recreate the parser.

All will by done with `Units` of course.

`docs` directory is really good, html documentation and man pages too.

I'm gonna enjoy this.

[2019-11-14 05:43] masatake commented on #1038
I want to write about OpenGrok first. I'm a user of OpenGrok.
I would like to recommend you to make OpenGrok incorporate u-ctags. git-subtree may help you.
u-ctags incorporates packcc, a compiler-compiler with git-subtree. It works quite well.
As a result, a user of OpenGrok doesn't have install u-ctags separately.

Let me explain about the change behind the error. The change introduced to let use

[2019-11-14 07:48] albfan opened #2321 "make units do not respect LANGUAGES"
Seems make units is using a new script `misc/units.py` instead of `misc\units`.

- Python one miss the filter by LANGUAGE
- Bash one works correctly

I was able to launch bash one using:

    make units PYTHON= LANGUAGES=Vala

But is not obvious.

[2019-11-14 07:50] albfan commented on #2321
make units CATEGORIES=parser-vala

Allows me to filter too anyway

[2019-11-14 08:03] albfan commented on #2321
I miss skipped or failing test on purpose. If someone wants to report a problem (and not break the test suite should be able to create a failing test case)

https://github.com/universal-ctags/ctags/pull/2320/commits/488b9c890c81f540aaf5aa53775a51608a550024

Right now I use `.b` suffix. But not sure if `Bug` is the category we are looking for. `Failed` is better as the assumption it is a bug could

[2019-11-14 08:16] k-takata commented on #2321
It's my mistake. I will fix it later.

[2019-11-14 08:20] masatake commented on #2321
I cannot image the use case well. If you write the use case for .f well, feel free to change the unit test harness. @k-takata is the master of misc/unit.py.

BTW, thank you for reporting this bug.

[2019-11-14 08:30] masatake commented on #2321
.... as fa as reading the commet, I think .b is enough.
I would like to hear more detail about the use case.

[2019-11-14 08:56] albfan commented on #2321
Yes I think `.b` is enough too. Is just `know failed` is the more common. We can ignore that part.

    make units CATEGORIES=parser-vala

is enough as is quicker that `LANGUAGES` (do not traverse all the test cases)

Feel free to close this at any time, if I see a fix for units.py I will stop using `PYTHON=`

[2019-11-14 11:53] #2321 closed

[2019-11-14 11:54] k-takata commented on #2321
Fixed with #2322.

[2019-11-14 18:47] albfan commented on #621
I just added comment parsing from cpreprocessor, and it works as expected, but for functions, namespaces, I'm not sure how to proceed.

I'm revisiting anjuta-tags and it is using Vala because it is using the Parser that comes with vala. Which makes everything super easy, same as yaml uses libyaml.

Add dependency from vala is a bad idea. It can come disabled by default.

I will give a few more tri

[2019-11-15 00:30] masatake commented on #621
Where can I get the language reference manual or something like that?
We need the URL for it first of all.

Next, could you tell me a large application or library written in Vala?
I would like to add it to https://github.com/universal-ctags/codebase in the future.

I will show a micro prototype.

[2019-11-15 00:50] codebrainz commented on #621
Not everything is 100% documented, but the language reference/manual is here:
https://wiki.gnome.org/Projects/Vala/Manual

The compiler itself is probably a good relatively large example application written in Vala, and it contains some libraries like Gee as well:
https://gitlab.gnome.org/GNOME/vala

It might be a little tricky with a hand-rolled parser since the Vala grammer is not context-free,

[2019-11-15 00:57] masatake commented on #621
Hi!

I would like to know the detail of FRIENDS.

[2019-11-15 01:38] codebrainz commented on #621
I just meant whatever GLib/GObject depends on, so I guess like on my version of Ubuntu:

[code]

Though if I recall some of those are also embedded in GLib source tree so may not actually require separate packages like on Debian/Ubuntu.

[2019-11-15 02:20] masatake commented on #621
Thank you. Can I ask one more?

I would like to see typical tricky example code for which writing a parser hard.
(Smaller one is enough, of course.)
As you know well, our C parser doesn't process include-files. So the C parser handles input without information available via forward declarations.

[2019-11-15 03:13] codebrainz commented on #621
I don't know enough about CTags parsers to know what would be tricky, I'm mostly speaking about a traditional parser that needs to correctly parse the input 100%. Since Geany's `c.c` parses most Vala declarations with some success, it's surely doable.

IIRC, the main thing missing from Geany's Vala parser is descending into function bodies, where it's a little trickier to tell things apart, ex. `A

[2019-11-15 08:08] albfan commented on #621
I reviewed c.c (where C and Java parsers are implemented) as they both are pretty similar to Vala. Once I see things like `prevToken` it sounds to me like reimplement ANTLR or flex (I might be wrong of course).

So I open another PR #2325. Where some problems with autotools and code are still left to do.

[2019-11-16 16:13] #1840 closed

[2019-11-16 17:42] masatake commented on #621
We need types and functions reimpleminting cxx_token.[ch] and cxx_token_chain.[ch].
I call them "chain-tokeninfo".

This is not only about Vala. chain-tokeinfo was needed when we accept TypeScript parser.
I will need it when I implement Java parser.

TypeScript parser does backtrack in byte stream level. chain-tokeninfo is for implementing token-based backtracking. After getting the comment from @

[2019-11-16 18:08] masatake opened #2329 "Reimplementing cxx/cxx_token_chain.[ch] and cxx/cxx_token.[ch] in main part"
The routines and types implemented in cxx parser are so useful.
Reimplementing them in parser neutral style brings us huge benefits.

Extending tokeninfo.[ch] in main part like following way is one of the possible approaches.
[code]

However, we may have to revise tokeninfo.[ch].

[2019-11-16 18:38] albfan commented on #621
@masatake, I'm even more skilled on java. If you want to start a PR with those plumbings I can try to work on java and vala parser.

I closed #2325 as it is not the desired approach, and reopen #2320. You an put new commits there too if you want.

A minimal example of a hello world parse in java or vala would be really helpful, as I know almost nothing about parsers.

[2019-11-17 03:19] reflectivist opened #2330 "Can you add tags so people can go back to prior releases?"
This is a general request to add tags to the repository so it is possible to go back versions, because, for example, the latest version doesn't work with opengrok, but the opengrok maintainers say there are no releases (or tags I guess) for ctags so they can't refer anyone to versions to go backwards to get it to work. It seems like a pretty important thing so people don't have to resist upgrades

[2019-11-17 09:04] masatake commented on #2330
See  #1038.

[2019-11-17 09:04] #2330 closed

[2019-11-17 09:12] masatake commented on #1711
About --langdef, everything is done.
The next one is --kinddef. It seems that optlib2c needs some minor work.

[2019-11-17 09:38] masatake commented on #621
o.k.

I will show a minimal example based on tokeninfo which ctags already has.
You can play and study how ctags works from the minimal example.

However, developing workable vala parser may be hard by extending the minimal example because vala parser may require backtracking.
After all, chained-tokeninfo is needed. I need much more time for implementing chained-tokeninfo.
I cannot do it in a week

[2019-11-17 09:39] masatake commented on #621
Wait for a while.

[2019-11-17 11:25] albfan commented on #621
Sounds nice. I will document the basics on docs if that's missing at that time, ok?

[2019-11-17 17:46] masatake commented on #621
See https://github.com/masatake/ctags/tree/vala-minimal
parsers/vala.c is in the branch.
https://github.com/masatake/ctags/blob/vala-minimal/parsers/vala.c

What the parser can do is just picking up "main" in
[code]

We can remove `	tokenCopy (lastToken, token);` from the source code if we have chained-tokeninfo.

[2019-11-19 02:43] masatake commented on #1711
--kinddef is mostly done in #2335.
--fielddef is the next one.

[2019-11-19 13:07] ooglyhLL commented on #1488
May I add that “reg” implies a variable declaration in SystemVerilog (of a specific type). It is a bit confusing to people unfamiliar with the history of Verilog and SystemVerilog and the result of a terribly misguided attempt to actually make things clearer.
There are a few options to handle this in ctags:
1. Use “r” for all variable declarations (including class properties, aka members), not jus

[2019-11-19 18:23] majenkotech opened #2339 "Getting entire tag block start line (C++)"
Is there a way of getting the *start* line of a "block" style tag? Something akin to:

[code]

u-ctags reports the line number of `foo` above (which is technically correct if you want to navigate to that location) - but I can't see any way of either getting the *first* line of the block (the `int`) or easily identifying that it even is a multi-line block.

Basically I need to find the first actual

[2019-11-19 18:39] pragmaware commented on #2339
The tag line is the one that the tagged identifier is on. So in this case the "foo(" line.

While emitting the tag we (usually) also have the tokens of the function return type so in fact the initial line number IS available. However currently there is no way to ask ctags to output it.

[2019-11-19 18:40] pragmaware commented on #2339
BUT: you can look at the tagged function return type and attempt to match and skip it back in your source.

[2019-11-19 21:57] majenkotech commented on #2339
Assuming the entirety of the return type is on one line...  What if:
[code]

I haven't looked but I assume the typeref will include the `static` as well. Would that be `static\nint` or `static int`...? I must look to find out.

[2019-11-19 21:59] majenkotech commented on #2339
Interestingly... no. It loses the `static` entirely.  Is that intentional, an overlooked scenario, or what?

[2019-11-19 22:40] masatake commented on #2339
Intentional. `static`  `properties` is for the purpose.
[code]

[2019-11-19 22:50] majenkotech commented on #2339
Yes, digging around I found that one.  I now use --fields-all=* to give me everything possible...

[2019-11-19 22:52] majenkotech commented on #2339
I see that I get an `end:x` field in that now, which shows me where the item to which the tag refers to ends. But no `start:` for where it begins, which is what I could do with - only `line:` for where within the block the tag itself is.

[2019-11-19 23:03] masatake commented on #2339
ctags is a name oriented tool.
ctags doesn't fit for your purpose.

[code]

You may have to scan backward from line 4 to line 1.

[2019-11-19 23:14] masatake commented on #2339
@pragmaware:

As you know, parser specific field like `properties` allows ctags output it.
However, I think `start:` doesn't fit the design of ctags.

`end:` field that you introduced fits *VERY* well to the design of ctags.
A pair of `line:` and `end:` can represent the area of a named scope.
There may be applications.
On the other hand, `start:` doesn't contribute to the other parts of ctags.
Th

[2019-11-19 23:22] masatake commented on #2339
BTW, `int` can be captured in the future as a reference tag:

[code]

I guess chained-tokeninfo based C parser has enough ability to emit reference tags.
I didn't go this way because the reference tags make tags file too large.

[2019-11-19 23:51] majenkotech commented on #2339
I guess in most circumstances I can insert my include after the end: of the
previous tag, or at line 1 if there isn't one...

On Tue, 19 Nov 2019, 23:22 Masatake YAMATO, <notifications@github.com>
wrote:

[2019-11-20 01:11] majenkotech commented on #2339
Yep, that seems to be the way forward. Thanks for the pointers.

[2019-11-20 01:11] #2339 closed

[2019-11-22 20:05] stevenengler opened #2341 "Tag output seems incorrect when using multi-line regex"
Using a multiline regex seems to give strange results. The example below shows the tag output pointing to an empty line, but in real code it will point to other non-associated functions elsewhere in the file, not just empty lines.

The name of the parser: C (with custom regex)

The command line you used to run ctags:
[code]

The content of input file (empty lines indicated since GitHub will remove

[2019-11-24 15:50] masatake commented on #2341
`{mgroup=N}` mline regex flag may help you.

[code]

See https://docs.ctags.io/en/latest/optlib.html#multiline-pattern-flags about mgroup option.
This should be written in our man pages.

[2019-11-24 16:14] masatake commented on #2341
However, I guess what really you want is -D option.

[code]

[2019-11-24 16:59] stevenengler commented on #2341
Thanks @masatake, using `{mgroup=1}` works perfectly! Maybe ctags should give a warning if that flag isn't given with `--mline-regex`?

Also your example using the `-D` flag looks like exactly what I want, but it doesn't seem to work for me. It thinks that `h` and `a` are filenames. Using bash on Ubuntu 18.04.

[code]

[2019-11-24 22:10] masatake commented on #2341
[code]

Very strange. What kind of shell do you use? bash?

What I expect is
[code]

[2019-11-24 22:23] stevenengler commented on #2341
That's what I would expect as well. This occurs with other arguments as well, such as if I add a space to the regex example above:

[code]

Maybe it has something to do with how Snap programs are sandboxed? My guess is that there should be quotes around the `$@` in the wrapper script here: https://github.com/universal-ctags/ctags-snap/blob/master/snap/snapcraft.yaml#L101

[2019-11-24 23:56] masatake commented on #2341
@tartley, do you have any idea about this?

[2019-11-25 03:12] tartley commented on #2341
Agreed. I haven't actively tried it out yet, but people's conclusions that I should have quoted `$@` seem sound. Gimme a few hours and I'll try and fix it.

Does github let us transfer this issue wholesale to the 'snap' repo?

[2019-11-25 09:47] masatake opened #2346 "buildsys: Generating sed rules in man/Makefile"
@k-takata, I have a one request about man/Makefile.

I would like to add more man pages. See #2312 and #2313
In such case, I have to edit man/Makefile. It is o.k.
However, I have to edit to places: IN_SOURCE_FILES (or SOURCE_FILES) and sed arguments in ../docs/man/%.rst target.

Isn't it possible to make the target refer  IN_SOURCE_FILES (or SOURCE_FILES)?
So we have to edit only IN_SOURCE_FILES o

[2019-11-25 10:27] k-takata commented on #2346
Do you mean ```-e 's/\<ctags(1)/:ref:`& <&>`/g'``` and other arguments?
Not sure whether it is possible.

[2019-11-25 11:26] k-takata commented on #2346
This might work. The replacement pattern looks complicated, though.
I will create a PR later.

[code]

[2019-11-25 22:39] #2346 closed

[2019-11-26 20:09] peter-scholtens opened #2350 "Implementations of same structure not grouped in Rust parser"
The Rust parser creates [multiple class tags](https://github.com/geany/geany/issues/728) if separate implementation blocks are made, which is required in the given operator overloading example.

While investigation the latest version of ctags f17ca7731a235b6950b8f02133ec1ff2656bddc7 I see the problem is that ctags reports three location of the tags:
[code]
The comman i did run was:
`ctags  -f  bug

[2019-11-27 00:05] masatake commented on #2350
We had that discussion before. However, I cannot find how tags output for the input should be.
How do you think?

https://github.com/universal-ctags/ctags/pull/1603
https://github.com/universal-ctags/ctags/pull/1601
https://github.com/universal-ctags/ctags/pull/1604

Following output
[code]
was proposed in #1603 by a person who knows Rust. (I don't know well.)
However, I didn't merge it because I

[2019-11-27 08:46] k-takata opened #2351 "docs(man): Move some descriptions after "OPTION ITEMS"?"
(Copied from https://github.com/universal-ctags/ctags/pull/2349#issuecomment-558672914.)

I find this comment in ctags.1.rst:
https://github.com/universal-ctags/ctags/blob/f17ca7731a235b6950b8f02133ec1ff2656bddc7/man/ctags.1.rst.in#L64-L68

I agree with this comment.
The contents of e-ctags man pages are:

* SYNOPSIS
* DESCRIPTION
* SOURCE FILES
* OPTIONS
* ...

However, the contents of u-ctags ma

[2019-11-27 08:47] k-takata commented on #2351
@masatake's comment (https://github.com/universal-ctags/ctags/pull/2349#issuecomment-558870980):

[2019-11-28 17:19] albfan commented on #621
I just  cherry-pick this minimal vala parser

https://github.com/universal-ctags/ctags/pull/2320

but it fails for me with this diff:

[code]

Have to check if that is related with options applied.

[2019-11-29 03:27] k-takata commented on #2351
For comparison, the contents of other man pages are...

`man man`:

* SYNOPSIS
* DESCRIPTION
* EXAMPLES
* OVERVIEW
* DEFAULTS
* OPTIONS
* ...

`man git`:

* SYNOPSIS
* DESCRIPTION
* OPTIONS
* GIT COMMANDS
  * HIGH-LEVEL COMMANDS (PORCELAIN)
  * LOW-LEVEL COMMANDS (PLUMBING)
* ...

`man bash`:

* SYNOPSIS
* COPYRIGHT
* DESCRIPTION
* OPTIONS
* ARGUMENTS
* INVOCATION
* ...

"OPTIONS" might be better

[2019-11-29 11:12] masatake opened #2352 "php: supporting php 7.4.0"
Though I myself don't use php, hacking php parser is enjoyable (and not so hard) because it is well written.

See https://www.php.net/releases/7_4_0.php

* Typed Properties -> adding typeref field to var kind
* Arrow Functions -> using anonymous tag
* Limited return type covariance and argument type contravariance -> adding typeref field to function? kind
* Unpacking inside arrays -> I guess we do

[2019-11-29 12:57] #2266 closed

[2019-11-30 08:42] albfan commented on #621
Added test failed test for classes

[2019-12-01 11:04] albfan commented on #621
I just added keywords (I'm sure some are not, some are still missing) and set the expected tags from old vala implementation.

I think this approach lastToken, token will mostly work (if I see a class keyword, token is a class) but will take time to parse everything.

comparing old and new implementation will be an easy way to get progress. @masatake I think we have a roadmap

[2019-12-02 05:57] masatake commented on #2351
Could you wait for a while for this global change?
I would like to make more minor changes in OPTION ITEMS.
I'm afraid of confliction with your work.

[2019-12-02 09:39] masatake commented on #1711
In the future, we must have a test harness and test cases for optlib2c.

[2019-12-02 14:05] mtozjh opened #2356 "can't pre-process the macro but it works with Exuberant Ctags 5.8"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2019-12-02 17:21] masatake commented on #1711
The last one is roledef.

[2019-12-02 17:30] masatake commented on #2356
C parser is completely rewritten in u-ctags. Please, use -D option as shown below.

[code]

[2019-12-02 17:39] masatake opened #2358 "optlib2c,travis: verify the output .c file of optlib2c is included in commits"
Related to #2355.

For windows platform, we have added .c file generated by optlib2c to our git repo.
When we change .ctags files and/or optlib2c script, we must add .c files to the same commit in which the change for .ctags files and/or optlib2c script is recorded.

The conformation for this rule can be verified at travis-ci.
travis-check.sh is already done for the man pages part of our web pages

[2019-12-02 18:48] masatake commented on #621
See https://github.com/masatake/ctags/tree/vala-minimal
parsers/vala.c is in the branch.
https://github.com/masatake/ctags/blob/vala-minimal/parsers/vala.c
I added code for capturing classes, fields, and properties.

[2019-12-02 19:08] masatake commented on #2312
#2356 is a candidate to be included in faq.

[2019-12-02 20:10] albfan commented on #621
ok, I will rebase on top of it, so we can use this workflow in case of doubt

[2019-12-03 02:29] mtozjh commented on #2356
Thanks for the quick response.
I know this workaround. Actually I am looking for the behavior like Exuberant Ctas 5.8. Since there are thousands of C/CPP files, it is heavy burden for user to work around all MACRO like this.

will you deliver an enhancement?

[2019-12-03 03:11] masatake commented on #2356
Yes, but I will take more than 1 year to implement it.

ctags itself knows the definitions of macro.

[code]

So ctags can prepare the arugments for -D option by itself.

I had a prototype and it worked.

However, what I have to do is written in https://github.com/universal-ctags/ctags/issues/1038 .

[2019-12-03 06:59] mtozjh commented on #2356
Look forward to that release.

BTY, this is really a great tool.

[2019-12-03 08:28] masatake commented on #2356
We added so many features, so I cannot remember them timely.

If it is acceptable to run ctags twice, you don't have to specify -D option manually.

[code]
@pragmaware, you may be interested in this output.
I'm surprised at this works well.

[2019-12-03 08:35] masatake commented on #2356
[code]
runs old C parser inherited from Exuberant Ctags. (But we will not fix the bug for it even if we got a bug report.)

[2019-12-03 12:53] k-takata commented on #1837
Starting from Windows 10 1903, UTF-8 code page can be used by specifying application manifest file.
https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/use-utf8-code-page
This might be able to solve the problem.

[2019-12-03 13:16] masatake commented on #1837
@k-takata, I think this is a kind of FAQ. How do you think?

[2019-12-03 13:58] k-takata commented on #1837
Ah, maybe.

[2019-12-05 00:32] albfan commented on #621
I added `namespace` field

[code]

seems to work correctly, but not sure if there's any tool using scopes really. vim `:tag` do not work for `Data.Address`. I'm thinking in classes with same name but different scopes.

[2019-12-05 03:13] masatake commented on #621
This is one of cases where I want chained-token. chained token API can manage the sequence of tokens like a.b.c as a single token.

We don't have it. So a hack is needed. I updated my branch. I added code for capturing signatures of tokens.

[code]

[2019-12-06 06:34] masatake commented on #621
I pushed one more commit. That enables full-qualified tags:

[code]

[2019-12-06 06:47] k-takata commented on #1837
If #2360 is merged, it will be like this?

[2019-12-06 07:14] masatake commented on #1837
YES! THAK YOU VERY MUCH.

Your comment lets me realize how the ctags-faq.7.rst to be.

[code]

[2019-12-06 07:17] k-takata commented on #1837
If the section is for Windows, the first sentence of the answer needs to be adjusted.

[2019-12-06 11:11] k-takata commented on #2312
Another candidate: https://github.com/universal-ctags/ctags/issues/1837#issuecomment-562454661.

We also have `old-docs/FAQ`, but most of them might be outdated. We need to select which item should be copied to the new FAQ page.

[2019-12-07 06:43] albfan commented on #621
I'm trying to rebase on top of your branch and PR there, so we can keep in sync. @masatake Is it possible to rebase your branch on top of master?

[2019-12-08 12:33] albfan commented on #621
@masatake, done! https://github.com/masatake/ctags/pull/6

[2019-12-08 16:59] albfan opened #2361 "main: simplify the output of --version"
Testing ctags with other programs, some of them try to check version.

Based on http://ctags.sourceforge.net/ (last version 5.8)

I expected

[code]

But I get something like
[code]

`--version` seems like an `--info` option.

Related with #228

[2019-12-08 17:04] albfan commented on #2361
Example of vim plugin using ctags and the complex check to find ctags version:

https://github.com/xolox/vim-easytags/blob/master/autoload/xolox/easytags.vim#L81

[code]

I understand that exuberant ctags and universal ctags will match for a while, but as a dev tool we should ease this check.

[2019-12-09 00:46] masatake commented on #2361
I agree but the format of output of --version is derrived from Exuberant Ctags.
Universal Ctags follows the format and extends it.

[code]

How people can know this is u-ctags of e-ctags from this output?

[2019-12-09 00:50] masatake commented on #2361
In addition, I would like to show clearly that u-ctags is derived from e-ctags though u-ctags is not official fork.

[2019-12-09 01:11] masatake commented on #621
Thank you but I started the branch for showing you how to write a vala parser, not for merging.
Therefore, I didn't fill the COPYRIGHT holder if vala.c of my branch.
My hints are enough? If the answer is yes, you can write a complete vala parser.
If you finish your work, make a pull request with a single commit.
I'm not interested in the try-and-error commits produced during parser development whe

[2019-12-09 01:12] k-takata commented on #1837
This should be fixed by #2360 (on Windows 10 1903 or later).

[2019-12-09 01:12] #1837 closed

[2019-12-09 01:19] masatake commented on #1837
@k-takata, you wrote:

However, it seems that you have written the code fixing for this issue a few day :-)
Maybe a correct sentnce is:

[2019-12-09 01:21] masatake commented on #2361
However, we should handle https://github.com/universal-ctags/ctags/pull/2360#issuecomment-562537046 though this issue.

[2019-12-09 01:34] k-takata commented on #1837
Actually, Microsoft did a job, not me. ;-)
That's why this fix works only on Win10 1903 or later.

[2019-12-09 01:44] k-takata commented on #1837
BTW, this fix has a restriction.
If we use Unicode APIs (as I suggested before), we can use 255 UTF-16 characters for file names.
However, with this fix, the maximum length of file names is limited to 255 bytes. (E.g. normal Japanese character is 3 bytes, so it is only 85 characters.)

[2019-12-09 13:11] albfan commented on #621
I planned to squash in final PR on upstream, but as you add new features or explanations, makes sense to work there.

[2019-12-09 19:58] andrejlevkovitch opened #2364 "universal ctags and c++ atributes"
The name of the parser: `universal ctags`

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary: build it localy by `gcc`

[2019-12-10 10:22] masatake commented on #2364
Thank you for reporting.

I think we can skip [[foo]] as we do for __attribute__(((foo))__.

[2019-12-10 10:23] masatake commented on #2364
@pragmaware, could you look into this?

[2019-12-11 04:46] masatake commented on #2351
All the planed minor changes for ctags.1.rst.in are done.
I will try to reorganize the sections of ctags.1.rst.

[2019-12-11 09:03] Jyotiha opened #2368 "ctags does not generate tags of functions if first argument is a macro with braces"
The command line you used to run ctags:
ctags --langmap=c:+.cnt.ppc.ph.msg.clib,COBOL:+.cbl * ;

The content of input file: a.c
int func1 (MACRO1(va1), MACRO2(var2) )
{
    return 0;
}

int func2 ( MACRO1         (va1),
            MACRO2         (var2)
          )
{
    return 0;
}

int func3 ( MACRO1(va1),
            MACRO2(var2)
          )
{
    return 0;
}

... tags generated

!_TAG_FILE_FOR

[2019-12-11 09:24] Jyotiha commented on #2368
one Example:
In .h

typedef char MACRO_C_T;
#define MACRO_C_SZ 2
#define MACRO_C_TSZ 1
#define MACRO_C_L 2
#define MACRO_C_D(varName) MACRO_C_T varName[MACRO_C_SZ]
#define MACRO_C_D_ARR(varName, arr) \

In .c

Int func ( MACRO_C_D(i_file_status)   )   ctags won’t identify it assumes MACRO_C_D is a function because of brackets

Int func2 ( MACRO_C_T     i_file_status[MACRO_C_SZ] )   identifies 😊

[2019-12-11 09:25] masatake commented on #2368
[code]
You are not using Universal-ctags which we maintain.
You are using Exuerant-ctags. It was developed at https://sourceforge.net/projects/ctags/ .
If you are interested in fixing the bug of ctags implementation you are using now, this is not the
place to report the bug.

I tried the input you showed with Universal-ctags:
[code]

It works. However, we cannot expect much. Handling macros is not

[2019-12-11 09:25] #2368 closed

[2019-12-11 10:27] Jyotiha commented on #2368
Thank you for your prompt response.

[2019-12-11 12:15] nmeum opened #2369 "Test failures on s390x on Alpine"
Hello there,

I [packaged universal-ctags][alpine commit] for [Alpine Linux][alpine website]. Alpine uses [musl libc][musl website] instead of glibc and supports quite a lot of architectures. Except for the `main/input-encoding-option.d` and `main/output-encoding-option.d` tests, universal-ctags builds (and tests) fine on Alpine. *The two tests likely fail due to incompatibilities with musl's icon

[2019-12-11 13:38] 0d1ndgod commented on #1566
vlang

[2019-12-11 13:58] masatake commented on #2369
The warning implies a parser definition is broken. I wonder which parser causes the message.
Could you try the following patch and run tmain again?

[code]

[2019-12-11 14:02] masatake commented on #2369
(I should make a pull request for the change I showed in above message.)

[2019-12-11 14:07] nmeum commented on #2369
Didn't check all `*-diff.txt` files, if you need those with the patch applied let me know. However, output of most tests looks as follows with the patch:

[code]

[2019-12-11 18:54] masatake commented on #2369
On s390x, Is sizeof (unsigned int) different from sizeof(unsigned long) ?
I guess they are different.
If my guessing is correct, following patch may fix the issue.

[code]

[2019-12-11 18:58] masatake commented on #2369
Interesting. How about adding an entry testing u-ctags on Alpine Linux to https://github.com/universal-ctags/ctags/blob/master/circle.yml ?
Testing on s390x may be impossible but x86_64 can be done.

[2019-12-11 22:49] nmeum commented on #2369
Thanks for coming up with a patch so quickly. The patch fixes the regex issue.

Unfortunately, the `parser-puppetManifest.r` tests fail now:

[code]

Seems like the ctags process receives a terminating signal during the execution of those tests. At the moment I cannot reproduce this reliably, i.e. invoking this part of the test suite with `./misc/units run ./Units/parser-puppetManifest.r` works. M

[2019-12-11 23:28] k-takata commented on #2369
Now `misc/units.py` is used instead of `misc/units` by default.

[2019-12-12 18:22] masatake commented on #2369
I found many unsigned long/unsigned int type mismatch in main/lregex.c other than I already reported here. I guess it causes the crash. I will inexpect more and make a pull request.

[2019-12-12 20:54] fourjay opened #2370 "Ansible Support"
This more properly belongs in a discussion forum, but as near as I can tell, github issues is the de-facto discussion forum (I apologize if there is a better place).

I'm working on adding better (read "link traversing") ansible support.
The primary use case, ``vars:`` and ``set_fact:`` should end up targets when the var is referenced later.

So far I've worked out:
[code]
Basically:
1) a longish

[2019-12-13 03:27] masatake commented on #2370
This is the place for the purpose. See the README.md of this project:
[code]
Could you show us a small input, expected tags output, and comments for them?

[2019-12-13 11:29] masatake commented on #2364
If possible, plesae, try #2371.

It seems that the maintainer of C++ parser may be in busy.
So I made a temporary fix, and make the pull request .

Merging to the master branch may be done by @pragmaware, the maintainer of the C++ parser.

[2019-12-13 11:40] pragmaware commented on #2364
Ow... you preceeded me by 10 minutes :D

[2019-12-13 11:44] masatake commented on #2364
Wow. Of course, your one is much better. I withdraw my pull request. I will study your code.

[2019-12-13 11:45] pragmaware commented on #2364
No wait... let me think a moment. Your code is far shorter and simpler than mine.

[2019-12-13 11:55] pragmaware commented on #2364
@masatake : I kind of prefer your idea because it's far shorter and simpler. I think I'll also withdraw and make a pull request based on yours.

[2019-12-13 12:12] masatake commented on #2364
With your approach, we can store the values of attributes to a field as you did for "static", "inline", ...
I like it.

[2019-12-13 12:44] pragmaware commented on #2364
@masatake: your approach can be extended to handle that too. See #2373 .

[2019-12-13 12:51] masatake commented on #2364
Oh, I see. The new pull request allows us  to inspect inside `[[`, `]]` when we want to do so:-P.

[2019-12-13 13:09] pragmaware commented on #2364
Should be fixed by #2373

[2019-12-13 13:09] #2364 closed

[2019-12-13 13:53] fourjay commented on #2370
Thanks :-)
[code]

[2019-12-13 14:08] fourjay commented on #2370
Thanks :-)
[code]

The goal (realized, albeit not ideally) is tags generated for ``a_variable`` and ``a_local_var``. The var ``base_include_path`` should have a link elsewhere (in this case it is in a "group_var" elsewhere) i.e. the other end of the link chain. I want to be able to tag jump to where base_include_path is defined.

The approach included works, but is a brute force approach. It tags

[2019-12-15 09:41] songouyang opened #2374 "rst2man: error: no such option: --syntax-highlight"
debian8 install fail
`without-doc` param is gone
[code]

[2019-12-15 10:12] masatake commented on #2374
I think this is an issue of the build-system of ctags.

[2019-12-15 11:33] songouyang commented on #2374
i install last docutils and alias rst2man to latest rst2man, still no working.
[code]

[2019-12-15 12:07] k-takata commented on #2374
`alias` only works on your shell. How about creating a symlink?

[2019-12-15 12:09] songouyang commented on #2374
the default rst2man is in `/usr/bin`, but i have no root.
i try add $PATH, still no working

[2019-12-15 17:03] masatake commented on #2374
Sorry, I misunderstood your issue.
I would like to know the version of /usr/bin/rst2man.

[2019-12-15 17:07] masatake commented on #2374
I guess your rst2man doesn't have --syntax-highlight.
If my guessing is correct, following patch may fix the issue.
[code]

[2019-12-15 18:38] masatake commented on #2370
Universal-ctags has a built-in ansible parser based on yaml parser.
The yaml parser is based on libyaml. So it is reliable.
However, you may not be satisfied with the quality of the ansible parser.

When I wrote the ansible parser, I cannot convince myself what its users may want
because I wan not familiar with Ansible.

The current implementation can do only as following

[code]

Using --regex-an

[2019-12-15 22:19] fourjay commented on #2370
Can I ask if my example a) makes sense (or needs more clarification) and b) is helpful?

To be clear, the prior web searches I've done for ansible and ctags are almost all about leveraging ctags in a way tangential to the normal purpose of aiding search for definitions. Instead the advice I've found as all about signalling local file structure (AKA "tasks by names" the ansible "name:" field is ent

[2019-12-16 04:51] songouyang commented on #2374
@masatake yes, your guess is right. the rst2man in `/usr/bin` has no syntax-highlight.
[code]
i have no root to create a symlink or upgrade it, so i use homebrew install ctags's dependencies, then follow <https://github.com/universal-ctags/ctags/blob/master/docs/autotools.rst> to install to `$HOME/.local`, finally make it.
But it's strange that the homebrew not use the rst2man in `$HOME/.local` bu

[2019-12-16 05:10] masatake commented on #2374
I don't know linuxbrew. However, the behavior is understandable.
I think the building process of such a tool should not depend on the environment customized by its user.

Anyway, I fixed this issue in #2375. I will merge it after merging #2376.

[2019-12-16 08:00] ByLiZhao commented on #1566
tex/latex

[2019-12-16 15:41] masatake commented on #2374
I merged #2375. @songouyang, could you try again?

[2019-12-16 16:25] songouyang commented on #2374
@masatake  i try again and failed. i think maybe you fix the rst2man option in man/makefile, but forget this line in makefile.
https://github.com/universal-ctags/ctags/blob/ba26b8a744ab7af3842ba219d75c5dc845ba583e/Makefile.am#L232
[code]

[code]

[code]

[2019-12-16 16:49] aleb opened #2379 "Option -f does not work with files in /tmp"
In this Travis CI build you can see how ctags is executed twice:
https://travis-ci.org/daedaleanai/reqtraq/builds/625770261?utm_source=github_status&utm_medium=notification

First call succeeds, but if the output file is set to `/tmp/x123y456` the file is not created and universal-ctags does not report any error.

[code]

As you can see, the `/tmp` folder is writable, so the write error should be

[2019-12-16 18:04] masatake commented on #2374
Thanks!
I will make one more pull request.

[2019-12-16 18:55] masatake commented on #2379
It looks strange — at least ctags checks the result of opening a file.
I would like to see the output of strace.
Is it possible?

[2019-12-16 18:57] masatake commented on #2374
Could you try again?

[2019-12-16 19:31] masatake commented on #2358
The code introduced via #2363 is broken.
It checks nothing.

`git diff --exit-code optlib` is done after running configure in the pull request.
It should be done after running make.

[2019-12-16 19:35] masatake commented on #2358
I misunderstood the timing of running optlib2c. It is run from autogen.sh.
So the checking may work well.

[2019-12-16 19:35] #2358 closed

[2019-12-16 19:50] masatake commented on #2379
I tried to reproduce this issue on travis in #2381. However, I could not.

It seems that you are using u-ctags via snap.
(https://github.com/daedaleanai/reqtraq/commit/77ea066167d436a5b52c11f8e3ecf5c78cb49d50).

I guess it is snap specific issue. @tartley, could you look into this issue?

[2019-12-17 00:36] songouyang commented on #2374
@masatake it's ok now,  thank you👍

[2019-12-17 00:36] #2374 closed

[2019-12-17 02:37] masatake commented on #2374
Thank you for tesing (and the critical suggestion).

[2019-12-18 08:57] gp42 commented on #1680
Any updates on this issue?
I have another use-case with groovy language, where class name is defined as a file name.

[2019-12-18 11:51] JulienPivard opened #2382 "Ada: bad structure's detection"
The name of the parser: Universal ctags installed with Homebrew

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]
`overriding`, `procedure` are not variable's name, there are  keywords.
`Inutile` is a name of a subprogram.
`(This` is an argument of subprogram.
entry `Coucou`'s signature is not see

The tags out

[2019-12-18 18:41] masatake commented on #2382
Thank you. I introduced code for skipping "overriding" and "not overriding". See #2383 .
However, Ada parser still cannot capture "Coucou" in the first example input.
This is true even when I delete the "overriding" indicator from the input.

I don't know Ada. So I need your help.
It seems that the block wrapping Coucou is an interface explained in https://en.wikibooks.org/wiki/Ada_Programming/Tas

[2019-12-19 00:42] JulienPivard commented on #2382
Yes, that's right, and that's also how we define standard tasks and task type in specification (.ads).
Task :
[code]
Task type :
[code]

[2019-12-28 15:44] masatake commented on #89
I merged @itchyny's patch. See #2386. However, I wrapped the changes with #ifndef WIN32/#endif.

[2020-01-04 04:07] masatake commented on #1711
In the future, I would like to limit using `{` character in documentation of the objects (lang, kind, field, extra, and role). However, I would like to do it in a new issue.

[2020-01-05 01:24] #1711 closed

[2020-01-05 01:30] masatake commented on #1835
Thanks to @k-takata, the man pages are online.
Reordering the sections in ctags(1) is in progress.

[2020-01-06 02:16] #2369 closed

[2020-01-07 17:18] suntzuisafterU opened #2393 "R parser does not recognize `=` based assignment"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2020-01-07 17:21] suntzuisafterU commented on #2393
Line 123 of parsers/r.c requires modification.

There may be some nuance in the difference between `=` and `<-` that I am not aware of,
but to treat them equivalently would be a very simple modification.

https://github.com/universal-ctags/ctags/blob/a3c87ab5232ffb9d047b187d6fd3852bfd12b197/parsers/r.c#L123

[2020-01-07 17:57] masatake commented on #2393
mainVoid? I cannot find it in test_function_1.R.
Please, verify the input file, unsatisfied output, and expected output.

[2020-01-07 18:23] masatake commented on #2393
[code]

[2020-01-07 19:21] suntzuisafterU commented on #2393
@masatake Perfect! Thanks!

[2020-01-07 19:24] suntzuisafterU commented on #2393
Is this on a branch? I would like to build it today.

[2020-01-08 01:27] masatake commented on #2393
I will make a pull request.

I have a question. My change expects a keyword "function" comes after "=" like:
[code]

Only if the "function" keyword comes, R parser captures "name".
Is this correct expectation? (I don't know R.)

If not, I would like to see more example inputs and expected tags.

[2020-01-08 17:38] suntzuisafterU commented on #2393
I am new to R, but am working on it. If there is anyone else in the community with a strong background assistance would be appreciated.

There are definitely more cases to consider.

[2020-01-08 18:21] suntzuisafterU commented on #2393
Here is a new test file. I have added 2 significant and 1 edge case examples.
1. `x = "new variable" `
This is equivalent to `<-` (in most cases? In the global scope it is, there may be some other semantic I am not aware of)
2. `"Right arrow assignment" -> z`
This is equivalent to `<-` for variables, does not apply to functions (I tried and Rscript didn't like it).
3. `"Special scoping based 'assi

[2020-01-08 19:42] suntzuisafterU commented on #2393
I have added a lot. I can assist you with implementating this if you would like.

[2020-01-09 18:38] masatake opened #2394 "C: function pointer type defined without using '(*)'"
I found follwoing code when I read netfilter.h of linux kernel:
[code]

Our C parser cannot capture nf_hookfn.

An input for test case:
[code]

fnt is not tagged.

[2020-01-11 01:29] #2394 closed

[2020-01-14 04:58] masatake commented on #862
@techee, I'm very sorry for taking so long time for this issue.
I discussed this topic with @pragmaware at #2395.
And I got a question for you.

You wrote:

----
... we want to show

[code]

and not

[code]

----

I found am abnormal example input:
[code]

This function returns a function and is defined without using a typedef.
@pragmaware's C parser works well:
[code]

The question is about the `

[2020-01-14 07:19] chongchai opened #2396 "Is there an option to load file with defined macro like cpp.hint?"
I find ctags can use `-D` to support preprocessor macros as follows:
[code]
But if the `test.c`  has multiple  preprocessor macros, it will be difficult to write all the macros in the command line with `-D`.

Is there an option to load file with defined macro like [cpp.hint](https://docs.microsoft.com/zh-cn/cpp/build/reference/hint-files?view=vs-2019)

[2020-01-14 07:53] masatake commented on #2396
ctags loads a file specified with --options option.

[code]

I explained more interesting technique in #2356.

[2020-01-15 01:05] chongchai commented on #2396
@masatake Thank you!  that's exactly what I need.

[2020-01-15 01:05] #2396 closed

[2020-01-16 04:59] d4em0n opened #2397 "ctags update tags only for updated files"
Suppose i have big C/C++ projects and ctags run slow for generating all tags on this projects. Is this possible for ctags to update only for updated files?, the information of the updated files can be from git status. Thanks!

[2020-01-18 10:39] 3droj7 opened #2398 "Can't extract functions from an OpenSSL file (while exuberant-ctags extracts them correctly)"
The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally

When using Exuberant Ctags 5.9~svn20110310, it actually extracts all of those functions.
This is the file -
https://github.com/openssl/openssl/

[2020-01-18 17:28] masatake commented on #2398
Try to use the following command line:
[code]

[2020-01-19 08:34] 3droj7 commented on #2398
The "-D'STACK_OF(T)=T'" option made it work and I've also noticed that using the "ctags -f - -x --languages=+OldC++ --langmap=OldC++:.c  ./v3_utl.c"  works as well..
So, I'll probably start using the OldC++ because I don't need to manually insert the macros.

[2020-01-19 08:59] 3droj7 opened #2399 "Doesn't extract regular C++ functions from libicu files (while the old C++ parser works)"
The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

The command -
`ctags -f - -x --languages=+OldC++ --langmap=OldC++:.cpp  ./decimfmt.cpp`
Actually works.

This is the file -
https://github.com/unicode-org/icu/blob/release-53-1/icu4c/source/i18n

[2020-01-19 09:45] masatake commented on #2398
I see.
We don't maintain OldC and OldC++ parsers.

[2020-01-19 09:45] #2398 closed

[2020-01-19 09:46] masatake commented on #2399
`{' and `}' pair balancing in FMT_DEBUG ifdef condition in 'DecimalFormat::operator==' is broken.
 'DecimalFormat::operator==' has extra `}' at the end.
So C++ parser cannot parse the file.

If ctags has --ignore-ifdef-condition=FMT_DEBUG, we can skip the broken input.
However, I don't have a plan to implement such feature.

[2020-01-19 09:46] #2399 closed

[2020-01-19 09:52] masatake commented on #2399
[code]

[2020-01-19 17:46] masatake commented on #2382
[code]
Coucou is captured well. However, the change is too specialized for the target input.
So more work is needed.

[2020-01-19 21:10] JulienPivard commented on #2382
Need more code examples ?

[2020-01-20 00:15] masatake commented on #2382
Currently, the examples are enough. Thank you for the offering.
What I'm looking for is spare time that can be used for developing ctags:-P.

[2020-01-20 23:49] SabbathHex opened #2400 "[Question] Extending for a custom language: how to refer to only the previous tag in stack using only option file?"
Hi!

I am trying to extend ctags to support confluencewiki format ([official doc](https://confluence.atlassian.com/doc/confluence-wiki-markup-251003035.html#ConfluenceWikiMarkup-Links)). The initial support that I want to do is for ctags to properly generate the tags for headers in table of contents style.

Example file:

[code]
The chapter names are not necessarily those, they are just for illust

[2020-01-21 03:38] masatake commented on #2400
See https://docs.ctags.io/en/latest/optlib.html#advanced-pattern-matching-with-multiple-regex-tables .

[code]
Full qufalified representation is used in the scope fields.
`"`" is used as separator. If you don't want the representation, open a new issue; we have to add a new option for it.

[2020-01-21 03:44] masatake commented on #2400
MY TODO: a language flag {FQInScope=no} may be needed.

[2020-01-21 05:39] masatake commented on #2382
See #2401. Now Coucou is captured well.

I would like to extend our units test cases for Ada. Could you help me?

The examples you showed:

[code]
and
[code]

I would like to get them as full ads files acceptable by a compiler.
See https://github.com/universal-ctags/ctags/issues/1903 .

I guess what you showed is code fragments.
So I guess an Ada compiler may not accept them.
I would like to somet

[2020-01-21 17:55] JulienPivard commented on #2382
A one file exemple, in `client.adb` :

[code]
You need FSF gcc-ada version or GNAT on the Adacore's website.
Compile it with
* `gcc -c client.adb;` (and link with `gnatbind client; gnatlink client` if you would an exe) with the FSF gcc.
* or `gnatmake client.adb`
* or create a project file `client.gpr` and compile with `gprbuild -Pclient.gpr`

[2020-01-21 17:56] JulienPivard commented on #2382
I'm going to add a multi-file version soon.

[2020-01-21 18:16] JulienPivard commented on #2382
The multi file version:

In a file named `client.gpr`
[code]

In a file named `src/client.adb`
[code]

In a file named `src/mes_tasches_p.ads`
[code]

In a file named `src/mes_tasches_p.adb`
[code]

Result of the command `tree .`
[code]

Compile it with `gprbuild -Pclient.gpr`

[2020-01-21 19:32] SabbathHex commented on #2400
Masatake-san,

Thank you very much for your reply. Your options file combined with the following config for tagbar works wonderfully:

    let g:tagbar_type_confluencewiki = {
            \ 'ctagstype' : 'confluencewiki',
            \ 'ctagsbin' : '/usr/bin/ctags',
            \ 'ctagsargs' : '--sort=no -o - --options=/tmp/confluencewiki.ctags --fields=nksaSmt',
            \ 'kinds' : [

[2020-01-21 19:32] #2400 closed

[2020-01-21 19:36] SabbathHex opened #2402 "[Feature request] Customizing separator character parameter for cli"
When extending ctags for a custom non-programming language (for example, confluencewiki markup in #2400), there may be a need to set the separator to some symbol that is unlikely to be used in the text.

E.g. [jszakmeister/markdown2ctags](https://github.com/jszakmeister/markdown2ctags) suggests using the chevron, `»`.

[2020-01-21 20:23] masatake commented on #2400
I would like to understand "separator" you wrote.

Do you mean strings used in scope fields?

It can be customizable. I used '"' in the comment with following option.

[code]

You can change it to:
[code]

[2020-01-21 20:46] SabbathHex commented on #2400
Thank you, I understand now. I will need to review that link more properly.

[2020-01-21 20:46] SabbathHex commented on #2402
Closing as invalid, see #2400.

[2020-01-21 20:46] #2402 closed

[2020-01-21 20:58] masatake commented on #2400
As far as seeing the screenshot, the new option FQInScope is not needed.

[2020-01-21 21:20] JulienPivard commented on #2382
I forgot the task type,task type with discriminant, protected, protected type, protected type with discriminant.

File `mes_tasches_p.ads`
[code]

File `mes_tasches_p.adb`
[code]

No change in `client.adb` and `client.gpr`.

[2020-01-21 23:08] masatake commented on #2382
Thank you. It is successfully built.
I will convert it to a test case.

[2020-01-22 08:55] masatake commented on #2382
The test case is integrated. Thank you very much.

I have one more request.
In Units/review-needed.r directory. there is a test case for Ada, generalized_stack.ads.t.
The directory contains test cases keeping as is since we started this project by forking from exuberant-ctags. When forking, I didn't know Ada, so the test case was not tested really; the output of ctags for the input has never been

[2020-01-22 09:29] JulienPivard commented on #2382
Line 32 `type Node;` share the same meaning as `typedef struct s_List List;` in `C`, In fact I think ctags should tag it. Can we add an hint like `type name declaration` next to then name ? The idea is to distinguish it from the full statement line 45.

I didn't realize you have so few exemples, do you want me to write some more?

[2020-01-22 09:50] masatake commented on #2382
Oh, I'm very sorry. u-ctags captures Node at line 32:
[code]
I misread the output.

Thank you for offering. However,  This time, I got many input from you. So it is enough now.

[2020-01-22 09:58] masatake commented on #2382
After adding --kinds-Ada=*, ctags captures Node at line 32.
However,  "Head" at line 38 is not captured though Data and Next at line 46 and line 47 are captured.
One more patch may be needed.

[2020-01-23 20:05] #2382 closed

[2020-01-23 20:07] masatake commented on #2382
I merged the change for fixing this issue.
Thank you for providing test input and knowledges about Ada.

[2020-01-24 17:25] brho opened #2404 "C References?"
hi -

what's the latest with references in C files to external variables and functions?

i am using GNU global with it set up to use universal-ctags.  it stopped working recently, perhaps with an update.  i straced it and tried to see how gtags was calling ctags.  i realized i couldn't get ctags to spit out references either.  i built older versions of ctags and wasn't able to make it work either,

[2020-01-28 19:33] masatake commented on #2404
No. (Not yet)

AFAK, gtags has a built-in C parser.

[2020-02-02 02:03] amerlyq opened #2407 "Need option: --excmd=combine-matching to keep only matching part of pattern"
I have extensive cross-reference between large number of mixed docs and source code in different languages. Each reference hash (together with its prefix) is almost globally unique expression, and most likely it always unique inside each file.
Therefore I don't need whole matching line inside pattern -- to reduce tags file size, but I would like to keep pattern nevertheless, to not regenerate tags

[2020-02-02 11:39] masatake commented on #2407
ctags has no perfect way to solve your issue.
I recommend you to use text processors like sed modifying tags as you want after running ctags.

Here is an example how to use xformat:
[code]

The output of `-x` option can be customized with `--_xformat option`.
See http://docs.ctags.io/en/latest/news.html#customizing-xref-output for more detail.

The current implementation of `--_xformat` doesn't so

[2020-02-03 03:13] amerlyq commented on #2407
Thanks, appending your (slightly tweaked) suggestions to my command did the trick:
[code]
But yes, literally we have two drawbacks here:
1) I would suggest using some suffix as notion of regex escaping `%{name:r}` -- like ZSH or Perl or now even Python did, to support any field in any position. Similar to conventional `q=double-quote`. But easily implementable `%{nameEscaped}` will do likewise.
2)

[2020-02-04 02:58] amerlyq commented on #1861
Correct me, if I understood wrongly, currently ctags still uses bundled `gnu_regex` from old `glibc=2.10` without appropriate unicode support ?
Is it the main reason why my range regex `[\u2800-\u28FF]` or `[⠀-⣿]` don't work on anything beside ASCII ?

[2020-02-04 05:09] amerlyq opened #2409 "Jumping to unanchored regex don't change column position of cursor"
(In continuation of #2407)

Do you know if `vim/nvim` has some arbitrary treating of regexes from tags file?
When I removed line-ends anchors for regex `/⌇9cTnu/`, and used `:tag ⌇9cTnu` in vim -- it has jumped to correct line, but hasn't changed current cursor column to regex position :(

It's easy to understand, after all vim must only verify that regex is *matching the line* when we tag-jump, n

[2020-02-04 05:51] masatake commented on #1861
Yes.

[2020-02-04 15:33] cj1128 opened #2410 "`--fields=z` doesn't work but `--fields=+z` works"
Just found a strange bug.

If I run ctags with `ctags -f tmp.tag --fields=z code/code.c`, there is no `kind:value` in the output.

But if I run it with `ctags -f tmp.tag --fields=+z code/code.c`, it works correctly.

Seems only `z` has this problem, when I use `--fields=nSe` it also works correctly.

version info:
[code]

[2020-02-04 17:21] masatake commented on #2410
Thank you for reporting.

However, it is expected behavior.
See the description for z field in the output of ctags --list-fields.

[code]
z is expected to use with k or K. If the description for z field doesn't help, please tell me the better description.

[2020-02-04 17:30] masatake commented on #2410
If z is specified but neither k nor K is not enabled, ctags should warn it.

[2020-02-04 22:51] rtucek opened #2412 "~/.ctags dotfile no longer honored"
I've recently pulled some Manjaro updates and it seems to me ctags is somehow ignoring my ~/.ctags config file since then.

[code]

Running just `ctags` for instance, generates a *tags* file with content from node_modules, whereas running `ctags --options=$HOME/.ctags` behaves as expected.

Am I missing something?

Upon investigation, I also noticed the verbose output is a bit different if specify

[2020-02-04 23:09] antoinemadec opened #2413 "[systemverilog] parser mistakes typedef for a module's port"
The name of the parser: **verilog.c**

The command line you used to run ctags:

[code]

The content of input file:
**foo.sv**
[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:
[code]

The version of ctags:

[code]

[2020-02-05 00:05] k-takata commented on #2412
It is one of the noticeable incompatibilities from exuberant ctags.
https://docs.ctags.io/en/latest/man/ctags-incompatibilities.7.html#option-files-loading-at-starting-up-time-preload-files

[2020-02-05 00:05] #2412 closed

[2020-02-05 01:30] rtucek commented on #2412
Hm... either my dotfile has never worked before or I managed somehow to switch from exuberant ctags to universal ctags without realizing... either way - thank you for pointing that out!

[2020-02-05 03:09] cj1128 commented on #2410
My bad. I should have read the doc more carefully. Thank you!

[2020-02-05 03:09] #2410 closed

[2020-02-05 14:34] #2404 closed

[2020-02-06 11:00] amerlyq opened #2415 "Plugins/hooks inside ctags pipeline processing"
I wish for being able to annotate tags by their author (from git blame).
How can it be reasonably achieved?

The tags output you expect:

[code]

I suppose it's quite possible to do through external wrapper script to annotate tags fed from ctags output.
But can I achive the reverse thing -- plug this script _into_ the middle of ctags pipeline?
Which benefits could it provide comparing with pluggin

[2020-02-07 07:59] masatake commented on #2393
I am reimplementing R parser in token-oriented way.
At the first glance, I assume it is not hard.
However, it does not.

[code]
Rscript accepts this.

[code]
This is not accepted. So `z` is in the scope of f.

[code]
This is accepted. However,

[code]
this triggers an error.

[code]

[2020-02-09 07:52] suntzuisafterU commented on #2393
This is interesting.

The only thing that I can think of causing this is lazy evaluation.  The z in `(z <- 3)`
is never accessible. Instead R allows the function  to be created and when executed looks into the global scope for z.

[code]

This works.

All R functions inherit outer scope variables by name similar to lambdas in C++.

[2020-02-11 17:44] masatake commented on #2407
I have more offering. (To show the ourput of following example, I used ctags with **TWO** extra patches.)

--pattern-length-limit accepted a positive integer.
One of the patches extends it to take a negative integer.
It truncates the input line to build a pattern. If a positive integer is given, ctags truncates from the head of input line. If a negative integer is given, the patched ctags truncate

[2020-02-12 07:03] amerlyq commented on #2407
I can assume the patch on negative `pattern-length-limit` has a strong point of implementation simplicity, does it?

It trades off some expected intuitivity (e.g. my suggestion on `pattern-only` with user-guaranteed uniqueness is easier to reason about). But it provides nice option to have when the only user concern is `tags` file size and he is ready to bear the consequences of non-unique pattern

[2020-02-12 07:24] amerlyq opened #2420 "Incremental update of huge tags db -- parse the VCS diff"
Idea: parse changeset removed/added lines and modify tags database in-place accordingly by removing tags from `-` lines and adding tags from `+` lines. In theory it may significantly reduce time to update tagfile and will allow to automatically run ctags from pre-commit and post-checkout hooks without user workflow disruption.

Suggested command:
[code]

The question: is it feasible?
* Won't under

[2020-02-12 09:10] jagjordi opened #2421 "TeX: [enhancement] Patch for LaTeX for beamer presentations"
Implement a similar patch like in this post https://sourceforge.net/p/ctags/patches/76/ so that LaTeX beamer presentations are sorted by slides instead of sections

[2020-02-12 09:52] masatake commented on #2421
Thank you for making this issue.

Do you have an example input?
I would like to include it as a test case into our repository.

https://github.com/strace/strace-talks/blob/master/2019-ossdevconf-kaluga-linux_design_flaw_story/ossdevconf_2019-slides-linux_design_flaw_story.tex

is a good example but it doesn't use `\frametitle`.
It uses `\begin{frame}{AN ITEM WE WOULD LIKE TO TAG}`.

I have already

[2020-02-12 10:01] masatake opened #2422 "TeX: some minor issues"
- [x] Current implementation cannot handle `{}` well.
I'm not sure it is valid or not but I found
`\begin{frame}[plain]\frametitle{}` in https://xaro.hatenablog.jp/entry/2013/09/18/020615 (Japanese).

- [ ] If needed, TeX should capture `{}` as an anonymous tag.
- [x] newcounter
- [x] bibitem
- [x] newcommand
- [x] an \include should be captured as a reference tag, not definition tag.
      This m

[2020-02-12 15:24] AmaiKinono opened #2423 "Lisp: ctags seems to think all symbols are functions"
The name of the parser: lisp (I guess)

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]
(I tried `$ ctags --list-kinds=lisp`, and there is only a "function" kind. So this is understandable.)

The tags output you expect:

[code]

(Actually I don't need it to be accurate like this. I only need to distinguish cal

[2020-02-13 21:15] masatake commented on #2423
Just a question. What dialect (or implementation) of lisp do you use with ctags?
common lisp, emacs lisp, scheme, or clojure?

[2020-02-14 03:54] AmaiKinono commented on #2423
I am using emacs lisp.

Actually I don't use it with ctags often (Emacs has built in support for it anyway). I am developing an Emacs package that based on universal ctags, and I test it on its own code.

[2020-02-14 05:03] masatake commented on #2423
Interesting.
Which file does your package read, tags file or TAGS file?

In this issue, you show your interest is about kinds. That implies your package may read tags file and utilizes kinds information.

As an emacs user, I'm very interested in your tool. I am eager for an elisp utilizing all fields of tags file.
For more than five years, I had served for vim users as u-ctags maintainer:-P.
I wou

[2020-02-14 05:08] masatake commented on #2423
I would like to write a  library used in ctags internal for developing parsers for the lisp family.

#988
https://github.com/universal-ctags/ctags/issues/519#issuecomment-357092611

[2020-02-14 05:42] masatake commented on #2407
After thinking, I find both your idea (matching-only) and my idea (limiting the length of pattern from tail) doesn't fit the minor area of ctags.

Do you know latex?

See the following .ctags:

[code]
(Taken from https://git.mehalter.com/mehalter/dotfiles/src/commit/6573629cbc084765fc3da564f93b44993fad2b18/documents/Documents/latex/templates/.ctags)

With this .ctags, ctags emit following output:

[2020-02-14 06:44] AmaiKinono commented on #2423
tags file (i.e. universal ctags format, not emacs TAGS format).

Currently it's not. It's still in the early stage of development. Thanks for your interest, I'll send a tarball and some README information to your email later today or tomorrow ;)

That would be cool. Actually I don't know much (or at all) about the internal of ctags. I'll take a look later.

[2020-02-14 07:49] masatake commented on #2423
Nice.

Writing the library is ideal. However, I cannot find enough time for it now. So I will introduce simpler (however, incomplete) solution for this issue.

[2020-02-14 09:33] amerlyq commented on #2407
Ah, yes, you have a point for mixed lang.
I usually generate three different `tags` files -- for source code, for html/rst documentation and now for unique cross-refs. Therefore I had no problem with cmdline-wide effects of limiting patterns.

If we wish to truly limit patterns only for some specific `--regex-<LANG>` but generate single `tags` file for all languages -- then providing `\0, \1, \2`

[2020-02-14 12:41] masatake commented on #2423
See #2425.

[2020-02-14 16:54] #2407 closed

[2020-02-16 02:25] AmaiKinono commented on #2423
@masatake Hi, I've sent a mail to you but didn't get your reply. I wonder if you received it correctly?

[2020-02-16 17:27] #1748 closed

[2020-02-16 17:29] masatake commented on #1748
In d8261476a, the description for -D option was added to ctags.1.

[2020-02-16 20:06] masatake commented on #1085
The concept of --_scope may be difficult to implement because it is up to languages and parsers.
As the name implies, ctags might be designed for C language originally. --file-scope is strongly coupled with the static modifier of C. My experience about ctags deveopment is not enough for abstracting the concep of --file-scope to implementing ``--_scope`` .

[2020-02-16 20:19] masatake opened #2428 "Making reference tags for external entities instead of definitions tags"
Some parsers capturing the tokens referring to external entities as definitions tags.
This should not. Instead, it should capture as reference tags.
The modifications for solving this issue may break compatibility.
However, implementing multi-pass parsing in the future, we must fix them now.

- [ ] \input and \include in Tex
- [] using in C++
...

[2020-02-17 14:12] jagjordi commented on #2421
I think this one can be used, I changed the titles to use `\frametitle` keyword

[2020-02-18 18:22] masatake commented on #2421
Still struggling.

[2020-02-18 21:12] masatake commented on #2428
If external entities are captured proper kind and proper role, we can implement semantic recursion feature.

I have implemented such feature as a prototype (-S option):
[code]

As input file,  only /usr/lib/python3.6/site-packages/pygments/cmdline.py is passed to ctags.
The python parser of ctags caputres imported modules. ctags main part runs the python parser on the captured modules recursively

[2020-02-19 01:39] masatake commented on #2351
I will close this via #2389.
"COMMAND LINE INTERFACE" is stiil place before "OPTIONS". But much simplified.

[2020-02-19 05:03] #1085 closed

[2020-02-19 05:03] #1871 closed

[2020-02-19 05:03] #2351 closed

[2020-02-19 07:18] #2423 closed

[2020-02-20 12:33] aleb opened #2430 "Segfault when using `--kinds-GO=f`"
I'm using `/usr/local/Cellar/universal-ctags/HEAD-fd99ef5/bin/ctags`. It works fine if I run:

[code]

But segfaults if I run:

[code]

Backtrace:

[code]

I tried rebuilding with `brew reinstall --debug universal-ctags` to have debugging symbols, but no luck.

It can be reproduced with:

[code]

[2020-02-20 12:49] aleb commented on #2430
FWIW, it works fine if I replace "Start, Stop string" with "Start string".

[2020-02-20 17:45] masatake commented on #2430
Thank you for the small input:-)  It makes debugging much easier.
See #2431.

[2020-02-20 20:46] #2430 closed

[2020-02-20 22:04] aleb commented on #2430
Thanks for the super-fast fix!

[2020-02-20 22:36] jagjordi commented on #2421
Is there any way I can help with this?

[2020-02-21 02:11] idodeclare opened #2432 "Java parsing stops after nested anonymous class"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2020-02-21 12:32] andrejlevkovitch opened #2433 "C++: Problem with nested templates"
The name of the parser: `ctags`

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:
build locally from source (branch `master` from `github`)

Problem, I think, is in dublicate template brackets `>>` which interprets

[2020-02-21 23:06] masatake commented on #2433
@pragmaware, I'm extending cork queue to support per file symbol table.

https://github.com/universal-ctags/ctags/pull/2427/commits/c4d5064b6f97a57b7b32b7b31df7b69844880415

This one is applied to systemverilog parser.

[code]

When parsing '<P>>', c++ parser cannot decide whether ">" is part of ">>" shift operator or the end side pair for '<'. However, if we can give a hint that P is a type to c+

[2020-02-21 23:10] masatake commented on #2422
Mostly fixed in #2421.

[2020-02-21 23:10] #2422 closed

[2020-02-21 23:11] masatake commented on #2421
Could you try #2424?

[2020-02-21 23:13] masatake commented on #2432
Maybe duplication of #1739.

[2020-02-21 23:23] idodeclare commented on #2432
Not quite. I’m emphasizing the “after” anonymous class. E.g. tags are only produced to line 153 of a 2008 line file, https://github.com/oracle/opengrok/blob/master/opengrok-indexer/src/main/java/org/opengrok/indexer/configuration/RuntimeEnvironment.java

[2020-02-22 04:32] masatake opened #2434 "Markdown: use "" instead of " as scope separator like Tex parser"
https://github.com/universal-ctags/ctags/blob/bd612ba303a049ae72b157da63fef0766d1a162f/optlib/markdown.ctags#L29

[2020-02-22 07:57] masatake commented on #2433
...I found c++ parser dosedn't use cork for scope management.

[2020-02-23 20:38] masatake commented on #2433
Surprisingly, the bug is nothing to do with '>>' shift operator.
I have tried to fix #2435. The real fix may be provided by our parser maintainer for C/C++.

[2020-02-23 23:00] pragmaware commented on #2433
Surprisingly the termination condition for a template ending with >> was missing.

[2020-02-24 07:41] #2433 closed

[2020-02-24 08:15] andrejlevkovitch commented on #2433
I think it caused because before `c++11` standard template can not finish by `>>`. Compilers interpreted it as `operator >>`. After `11` standard c++ template can finish on unlimited count `>`. For example:

[code]

[2020-02-25 17:29] #2434 closed

[2020-02-26 13:52] andrejlevkovitch opened #2439 "Lua: wrong interpreting anonimous functions"
The name of the parser: ctags

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary: build from source

[2020-02-27 19:52] masatake commented on #2439
Please, try #2443. It is not perfect but may mitigate the issue.

[2020-02-29 09:56] yoution commented on #1551
I want to exclude  `node_modules` directory, but still want to keep some sub directories in  `node_modules`

[2020-02-29 10:57] masatake commented on #1551
At least 3 users wan this.
After revising my old comment, and I still think the name --include makes user being confused.
So I choose --exclude-exception. See #2445.

[2020-02-29 13:24] yoution commented on #1551
thanks, because it doesn't support regex  `/node_modules\/(?!(MY-MODUL)\/).*/,`
when will the new version release?

[2020-02-29 14:09] masatake commented on #1551
See https://github.com/universal-ctags/ctags/issues/1038 .

[2020-02-29 15:47] masatake commented on #2356
See https://github.com/universal-ctags/ctags/pull/2427.
If a macro is defined in the same input file and ifdefs are not used aggressively, macros can be expanded automatically.

[2020-03-01 16:15] #1551 closed

[2020-03-01 16:23] #2439 closed

[2020-03-01 16:24] #687 closed

[2020-03-01 17:32] masatake commented on #2000
Puppet types and providers.

[2020-03-01 17:47] masatake opened #2451 "Make a new repository for libreadtags"
To encourage people to write interesting client tools, it may be better to distribute readtags.c (libreadtags) from a separate repository.

The repository may contains readtags.c, readtags.h and Makefile(.am).

As we did for packcc, ctags incorporates libreadtags repo with git subtree.
ctags repo provides readtags command under GPLv2 or later.
However, libreadtags is distributed in public domain s

[2020-03-01 19:30] masatake commented on #2393
I made a pull request based on the version under development.
It takes more time for merging. However, I would like to you to try the version.

[2020-03-02 01:42] suntzuisafterU commented on #2393
Sounds good!  I will try this shortly.

[2020-03-02 01:58] suntzuisafterU commented on #2393
I will have to try this at work tomorrow.  I'll let you know how it goes.

[2020-03-05 06:17] suntzuisafterU commented on #2393
I had some trouble building this at home, so will test it at work, hopefully tomorrow.

[2020-03-06 06:48] Lennon925 opened #2454 "Cxx: any way to get the end line of a variable"
I use following command to parse the test.cpp and result is as following.
`universal-ctags-x64.exe --output-format=json --langmap=c:+.inc.def --kinds-c=+plz --fields=+ne -o - D:\projects\demo\test.cpp`

test.cpp
[code]
`{"_type": "tag", "name": "g_mcmL2InnerMsgPorc", "path": "D:\\projects\\demo\\test.cpp", "pattern": "/^const McmL2InnerMsgProcItemStru g_mcmL2InnerMsgPorc[MCM_JOBID_BOTTOM] = {$/",

[2020-03-06 18:17] masatake commented on #2454
@pragmaware, could you look at this one?

I also want to have end: fields for variables.

As usual I tried to solve for stduying your parser.  (See the end of this comment).
[code]

The end fields are filled well with my experimental change. However, typeref field for `m` is not correct. I think it should be `typeref:typename:int[3]`.

[2020-03-06 19:26] masatake commented on #2454
It seems assert macros should be removed from my change.

[code]

The end field of lg5 is not filled.

[2020-03-06 23:51] pragmaware commented on #2454
You're right, type of m is wrong. See #2458 for a fix.

[2020-03-07 12:59] masatake commented on #2454
Improved in #2456. Please, try the latest code.

[2020-03-07 12:59] #2454 closed

[2020-03-07 13:02] masatake commented on #2451
Before splitting, a function accessing pseudo tags must be added.

[2020-03-07 14:17] masatake commented on #1622
I reread the discussion.

I still think the initialization for suppressing the warning from the compiler makes harder to understand the intent of the code.

[2020-03-07 14:17] #1622 closed

[2020-03-09 10:54] chongchai opened #2463 "Can ctags analyze file with user defined parser"
For example, if I have a `.ph` file with c++ code and want to analyze it with c++ parser, can ctags support?

Although writing c/c++ code in `.ph` file is a bad practice, I need it for some reason.

I try to use this command, but it get wrong answer.
[code]

[2020-03-09 10:59] chongchai commented on #2463
I find it with command
[code]

[2020-03-09 10:59] #2463 closed

[2020-03-09 11:19] masatake commented on #2463
It is for C langnageu. If you want to choose C++ language, the command line should be:

[code]

[2020-03-09 17:47] pragmaware opened #2464 "Documentation: getting started / tutorial"
Some users have been asking me for simple usage instructions for ctags and I couldn't find them.  It would be nice to have a "getting started" guide that shows how to run ctags on a tree of sources, to turn on/off languages, kinds and fields and maybe how to hook everything up with an editor. It should be pretty short and condensed with eventual pointers to more information for deeper understandin

[2020-03-09 17:50] masatake commented on #2464
How about providing ctags-example(1) man page?

[2020-03-09 20:06] masatake commented on #1038
Could you review man/ctags-client-tools.7.rst.in in #2459? (in English grammer aspect)

[2020-03-09 20:08] masatake commented on #2464
I'm working on improving readtags. After finishing, I will work on this topic.

[2020-03-09 20:15] masatake commented on #2464
I wrote a short introduction for my class ago.
http://people.redhat.com/yamato/talks/reading/slides/1/12ctags-usage.pdf (In Japanese)
I can start from here.

[2020-03-09 21:07] masatake opened #2465 "readtags: making vStringCatSWithEscaping() derrived from #162 public domain"
@b4n, I would like to reuse vStringCatSWithEscaping() defined in https://github.com/universal-ctags/ctags/blob/master/main/vstring.c#L304 in readtags.c. For adding the function to the file,
the function can be used in public domain. The function is derrived from your code submitted in #1628 Could you allow us to redistribute the function in
[code]
?

I'm thiking about writing a linker command for

[2020-03-09 22:10] masatake commented on #1038
The first person comes here for the negotiation :-)

[2020-03-09 23:15] pragmaware commented on #2464
A man page is not very visible. Better a markup that can be placed on github and maybe processed into html to be placed on the site.

[2020-03-10 02:18] masatake commented on #2464
Do you know our man pages are visible as part the web site?
https://docs.ctags.io/en/latest/man-pages.html
Currently, the man pages are appeared at the end of menus in the web site.
But we can arrange the order.

[2020-03-10 14:34] masatake commented on #2451
See #2466 and visit https://github.com/universal-ctags/libreadtags .

Multi-pass parsing, parallel parsing, semantic recursion, incremental tags file updating,...all you want start from here.

[2020-03-10 21:53] pBlasiak commented on #2464
sorry but your man pages are maybe good for advanced users
for standard users, like me, it is a worthless help that is hard to understand
much better would be detailed information that are already provided in your man pages
and example tutorial just like here
http://ctags.sourceforge.net/faq.html#15

[2020-03-10 22:22] masatake commented on #2464
Could you tell me more what you expect the ideal ... ctags-intro(1) document.

I think normal users should not only ctags -R about ctags itself.
About the operations on vim or something other editors, I think we should not provide much.

BTW, I'm happy if you use '.' in your comments. Without periods, it is very hard for me to parse your comment.

[2020-03-11 08:56] pBlasiak commented on #2464
I think enough would be just copy and paste on your website what is here
http://ctags.sourceforge.net/faq.html#15

However I do not know if it is possible. If not, similar guides-tutorial
should be provided. Unless in universal ctags simple ctags -R is sufficient and
one does not have to care if it is many local tag files or on big tag file.

[2020-03-11 11:20] #2451 closed

[2020-03-11 11:26] masatake commented on #2451
Now readtags command of ctags uses universal-ctags/libreadtags library.
TODO items are:
1. prepare README.md for the library repo,
2. add APIs for accessing pseudo tags (mostly done),
3. add APIs for writing a tag entry (see #2465),
4. make a relase of libreadtags,
5. notify the new repository to developers who wrote binding code for the other languages than C, and
6. add --the-1st-pass-result=<ta

[2020-03-11 11:49] masatake commented on #2464
...it seems that I'm not a good person to write such document. I myself use only `ctags -R --kinds-all='*' --fields='*' --fields-all='*' --extras='*' --extras-all='*'` and readtags -Q. What I do is making tags file as much informative as possible. I don't use vim much. So I cannot write about "the best way to make tags  file for your vim".

https://vi.stackexchange.com/questions/22346/is-it-possib

[2020-03-14 07:47] winkee01 commented on #900
Why does this issue not be addressed? I've got the same problem.

[2020-03-14 08:17] winkee01 commented on #900
how did you remove the warning?

[2020-03-14 14:02] masatake commented on #900
I didn't remove the warning.

[2020-03-14 14:47] winkee01 commented on #900
well, I've got the same issue, `{A, B} = some_obj` can be parsed correctly by ctags.

[2020-03-14 14:50] winkee01 commented on #900
Looks like no one is going to fix this issue

[2020-03-14 15:41] masatake commented on #900
For the destructural binding, I tried once.

[code]

The branch introduces so many changes.
So merging it to the master branch we use daily needs more consideration.

[2020-03-14 15:50] masatake commented on #900
[code]

In this case, ctags says nothing.

[code]

In this case, I got a warning. This will be an important hint fix for the original input.

[2020-03-15 16:25] zerubeus commented on #1086
hey can please add tsx as well :)

[2020-03-15 16:40] zerubeus commented on #1566
tsx please

[2020-03-16 09:23] Lennon925 opened #2470 "Questions: Any way to parse text in memory?"
I use following command to parse the test.cpp and result is as following.
universal-ctags-x64.exe --output-format=json --langmap=c:+.inc.def --kinds-c=+plz --fields=+ne -o - D:\projects\demo\test.cpp

test.cpp
const ProcItemStru g_strc[5] = {
    {JOB1, JOB1, 0, 0, JOB1}, {JOB1, JOB1, 0, 0, JOB1},
    {JOB1, JOB1, 0, 0, JOB1}, {JOB1, JOB1, 0, 0, JOB1},
    {JOB1, JOB1, 0, 0, JOB1},
};

if I have g

[2020-03-16 09:48] winkee01 commented on #900
I've tried it, a very good solution, thanks.
Did you made these branches, so many patches.

[2020-03-17 14:20] dietrichm commented on #900
Hi

Although this is not contributing to the issue in ctags itself, I created a `ctags` shell function that ignores this specific warning for JavaScript files: https://gist.github.com/dietrichm/9e518549fd609173182ce36ac4726df2

Just in case you frequently run ctags on the command line and want to hide the warnings until the issue is fixed.

Dietrich

[2020-03-21 20:54] jagjordi commented on #2421
Hello @masatake
I have a suggestion to modify the behaviour of the parser in a beamer presentation.
If a arrangement of slides as this is written
[code]
Normally I would have the same title repeated as many times as "sub-slides" exist. For example

[code]
With the current behaviour of the parser it will generate a tag entry for every time the command `frametitle` is used. I would argue that genera

[2020-03-22 03:06] masatake commented on #2421
I will work on this item after merging https://github.com/universal-ctags/ctags/pull/2450.
It will take a longer time than you assume.

In #2450, I will introduce a symbol table.
With that we can write the following code:

[code]

[2020-03-22 15:20] jagjordi commented on #2421
Sounds great. Let me know if you need something to be tested 👍

[2020-03-22 22:57] masatake commented on #1716
Now, libreadtags.so is distributed separately. So there is no reason not to add experimental features to the readtags command. I will add more features to the readtags command including programmable sorter and formatter.

[2020-03-22 22:57] #1716 closed

[2020-03-22 23:20] masatake commented on #2313
I added the initial version of ctags-client-tools.7.rst.in.
I should write more. However, the current one is mostly o.k. for 6.0.

[2020-03-22 23:20] #2313 closed

[2020-03-25 08:07] masatake commented on #2465
It seems that a function like vStringCatSWithEscaping can be implemented by studying what readTagCharacter() in readtags.c does.

[2020-03-25 08:07] #2465 closed

[2020-03-25 13:39] AmaiKinono opened #2471 "Some problems of readtags options"
## About `-l`

The usage given by `readtags -h` is :

[code]

But if I do:

[code]

then all the tags are listed. However, if I follow the examples given in the [doc](https://docs.ctags.io/en/latest/news.html#examples-of-filter-expressions), and put `-l` at last:

[code]

It gives the wanted lines.

Also, `readtags -h` says `-l` list all tags, and `-Q EXP` filters the result, so my understanding i

[2020-03-26 05:17] masatake commented on #2471
What we have to do are

- revise  the code,
- improve -h output,
- add readtags(1) man page, and
- add more test cases to Tmain.

When improving readtags, I wonder how seriously we have to think about compatibility.
On Fedora, ctags package doesn't include readtags command.
In Exuberant-ctags, install target of Makefile installs only ctags command and its man page.
So I guess readtags command is n

[2020-03-26 08:57] masatake commented on #2471
I didn't check the actual behaviour of readtags. I just revise the help message:
[code]
I introduced the concept "ACTION".
As far as reading the source code, ACTIONS can be specified more than one. For avoiding the confusion, I don't writ about it in the help message. I think even in readtags(1), I don't have to write about it.

[2020-03-26 08:58] masatake commented on #2471
Is it better to make a pull request to get comments from you?

[2020-03-26 09:01] masatake commented on #2471
About -p, the result you reported is reproduced here even with readtags of Exuberant-crags.
So I think it is not a bug of code. It is a bug of the help message.
Thank you for reporting.

[2020-03-26 09:04] masatake commented on #2471
All options don't affect the evaluation of -Q EXP. I should write it in the help message.

[2020-03-26 09:14] masatake commented on #2471
The behaviour of -n option is very subtle.
ctags stores line numbers to a tags file in two different ways: address field or line field.

[code]

At least, test cases should verify these aspects.

[2020-03-26 10:35] AmaiKinono commented on #2471
I think the parts I'm concerned about shouldn't break compatibility. I want:

1. readtags to output the whole lines (with extra fields and line number). I don't care about the particular order of the arguments, as long as I can get the whole lines somehow.

2. Case insensitive versions of `eq?`, `prefix?`, `suffix?` and `substr?`. Maybe we could use optional argument instead, like

[code]

This is

[2020-03-27 10:09] krvikas1011 opened #2473 "Question : Can tags be generated for in-memory code file?"
It is more like a feature query, whether this is supported with the existing version or whether there is an upcoming release that will support this?

[2020-03-27 10:10] #2473 closed

[2020-03-27 13:03] #2470 closed

[2020-03-28 01:49] chongchai opened #2474 "can I get the end line of prototype in C/C++?"
I want to get the end line of  `computeLen` and `foo` in the following code:
[code]
I use command ` ctags --output-format=json --langmap=c:+.inc.def.ph --kinds-c=+plz --fields=+nie -o - test.cpp` to analyze and get the start line of `computeLen` and `foo`. But I still want to get the end line of them.
Is there any option I can use to get end line info? Or can you add end line information for the p

[2020-03-28 04:21] masatake commented on #2474
We don't provide it.
Implementing it may not be hard. @pragmaware, do you have any comments?

BTW, @chongchai. if possible, I would like to know how you use the end fields of prototypes?

[2020-03-28 06:13] #2471 closed

[2020-03-28 06:33] masatake opened #2475 "RFC: readtags -Q option"
I would like to get the comments about the expression and operators that you can pass to -Q option of readtags.
I think improving ctags, especially parsers for popular languages like Java, Ruby, Lua, Rust, ... has higher priority. So I cannot reflect your comments now (as far as none work on this area.)

I will not change the S expression based format.
I know the engine evaluating the expression m

[2020-03-28 06:36] masatake commented on #2475
In #2471, @AmaiKinono suggested case insensitive "eq?".

[2020-03-28 06:40] chongchai commented on #2474
@masatake Actually I want to get  every parameter's scope for prototypes.
Currently  using ctags I can get prototype's start line and get no parameter information.
If get end line, I may caculate parameter's scope with some other text analysis.

If you can provide the parameter information for prototypes, that will be a great help.
Providing end line for prototypes also helps a lot.

[2020-03-28 06:54] masatake commented on #2474
How about following output? Isn't it not enough?

[code]

I use --language-force=C because .h is for C++.

[2020-03-28 07:09] chongchai commented on #2474
`main` function in your example is function not prototype.
But what I want is to get the parameter scope for prototype.

[2020-03-28 07:42] masatake commented on #2474
Oh, sorry. I took mistake.
[code]

From the signature field of main, you can know there are two parameters: argc, and argv.
It scope is main.

Is this not enough?

[2020-03-28 07:50] masatake commented on #2474
Even if you know the end line of the prototype, you may have to do text processing to retrieve the parameters. Enve with the command line I show in above comment, you may have to parse the signature field. However, I think the command line can reduce your code a bit.

There are more offering:
[code]
With the patch, ctags can list the parameters in the signature of the prototype.
(This patch is not

[2020-03-28 08:10] AmaiKinono commented on #2475
We may need a convenient way to deal with missing fields.

Let me explain using an example. To find a method `hi` in the `A` class, we would do:

[code]

For a tags file with `scope` field, we get:

[code]

But what to do when the `scope` filed may be missing? This can happen to a client tool, when the tags file offered by the user is not informative but it still needs to give best result it can.

[2020-03-28 08:21] masatake commented on #2475
nil is not in scheme:-).

[2020-03-28 08:30] AmaiKinono commented on #2475
About the case-insensitive version of operators: Other than the ones mentioned in #2471, we may also want a case-insensitive version of `member`. Or, maybe a more flexible way is to offer a `downcase` operator, so we can write:

[code]

Maybe we also need a `map` operator, so we can map `downcase` to a list, then we can make our own case-insensitive `member`.

[2020-03-28 08:46] masatake commented on #2475
If we provide map, people want lambda.
We can implement downcase to take a string or a list.
Conceptually we can add following code:
[code]
However, we will implement it in C.

[2020-03-28 08:55] AmaiKinono commented on #2475
We need a way to deal with single-letter/full name of kinds. This:

[code]

on a tags file containing single-letter kind fields, and this:

[code]

on a tags file containing full kind fields, are the same. A `kind-full-name` operator can make the difference invisible.

[2020-03-28 09:06] AmaiKinono commented on #2475
There are some differences between enabling/disabling some fields. I've found another one. If we generate a tags file by:

[code]

A line in it will look like:

[code]

and readtags will think `$scope-kind` is `#f`. But with `--fields=+{scope}`, it's:

[code]

and readtags will know `$scope-kind` is "class".

[2020-03-28 09:10] AmaiKinono commented on #2475
readtags should be able to use all the extra fields. I thought `$` can be followed by any field name, but seems only the ones listed in `readtags -h` are valid. Client tools may also want to use `$language`, `$inherits`, and any other fields.

[2020-03-28 09:26] chongchai commented on #2474
Thank you for your kindly reply. It really helps me a lot.

This is my scenario:
Currently I have many parameters and prototypes. For every parameter I have its' line and name information. For every prototype I have its' start line and name info.
I want to know every prototype's parameter.

So my initial purpose is to use ctags to get the end line for prototype. then I can check parameter's scope

[2020-03-28 09:26] AmaiKinono commented on #2475
We may need a way to deal with class inheritance, but maybe it's better to have client tools to deal with it. I don't know, but let me give an example.

A client tool may want to do auto completion based on the class information. For example, we know something is a instance of class `X`, and need to complete its members. We'll do :

[code]

Nothing is printed (and, even something is printed, it's

[2020-03-28 11:22] AmaiKinono opened #2476 "Ruby: deal with mixin?"
I don't know what's the exact output I want, but I have some ideas.

Let me explain a bit about mixin in Ruby (however keep in mind I am also new to Ruby). Mixin is a mechanism to "mix" a module into a class. It's done using one of 3 methods: include, prepend and extend.

Let's define a module first:

[code]

Include `X` in `A` will make `hi` an instance method of `A`, and `X` will be inserted to

[2020-03-28 16:54] masatake commented on #2474
I'm not good at English. So I would like to confirm again and again.

I want to know every prototype's parameter.

Is the signature field not enough for the purpose?
I guess your answer is one of:
A. enough. By analyzing the value of the signature field, I can know individual parameters.
B. not enough but better than before. I would like to avoid analyzing in my tool. I expect ctags does instead o

[2020-03-28 17:01] masatake commented on #2475
@AmaiKinono, thank you for the many inputs. For what I can answer know, allow me to put the answer inline with your comments.

[2020-03-30 17:58] masatake commented on #2476
It seems that mixin is done dynamically:
[code]
I wonder how we should do. What the parer can do is assuming "condition" is true.

About mixin, I think introducing "mixin:" Ruby specific field is better.

The ideal tags fileI image for the input
[code]

[2020-03-30 18:00] masatake commented on #2476
Can include, prepend, and extend take other than a module name?

[2020-03-31 03:10] AmaiKinono commented on #2476
I think this is actually good, since if it's put in an condition statement, then one may also don't know if it's mixed before running it.

Yeah, definitely better. I don't know if mixin is a ruby specific thing (so much to learn about OOP), but if other languages also do it, we should have this for them too to make the logic generic and consistent for a client tool.

Looked it up in https://ruby-d

[2020-03-31 03:24] chongchai commented on #2474
@masatake My fault for bad description. Thank you for your patience.

I think answer is C. the signature field doesn't help me. What I need is the end field.

<hr>

An detailed example:

[code]

I get information from current ctags and my internal data source:
[code]

I want to know whether `argc at line 10` and `argv at line 11` belongs to `main`.
So offering only signature without end line of `m

[2020-03-31 03:24] masatake commented on #2476
I would like to keep the tagEntryInfo data structure small. So I will add the field as a Ruby parser specific field.

Thanks. How do you think about adding the new code for mixin by yourself? I will make a pull request for "mixin:include". You can extend my change in the pull for supporting "extend" and "prepend".
If you know the internal of Ruby parser, you can do as you want.

The Ruby parser is

[2020-03-31 03:27] masatake commented on #2476
Before trying to solve this issue, we have to study how ripper-tags deals with mixin.

[2020-03-31 03:40] AmaiKinono commented on #2476
Well, I think it's the same if in the future we add that field also as "specific field" for other languages that have mixin.

I would like to! However keep in mind I basically know nothing about C, so no promise here.

Didn't know this tool before. Let me have a look at it.

[2020-03-31 04:08] masatake commented on #2476
No. The language common fields are allocated statically in the data structure.
However, the language (parser) specific structure allocated on demand.
See https://github.com/universal-ctags/ctags/blob/master/main/entry.h#L109 .

.... I have just found I can remove usedParserFields.

o.k.

I also look into ripper-tags before coding.

[2020-03-31 04:17] AmaiKinono commented on #2476
I didn't make it clear. I am thinking in a perspective from a client tool. I think they will be the same for a client tool (since anyway it's just a field that appears in a tags file) except that readtags may not be able to use that field.

[2020-03-31 04:22] masatake commented on #2476
Oh, I see. You are correct.
(I"m writing about ctags side. What we call tagEntryInfo in ctags is tagEntry in readtags.)

I tried ripper-tags.
[code]

It sees that it doesn't do nothing special for mixin.
So, we can do as we want:-).

[2020-03-31 16:30] masatake commented on #2474
I implement this one in #2479.

[code]

[2020-03-31 16:53] masatake opened #2480 "Ruby: minor improvements"
Eventually, we may have to rewrite ruby parser with a completely token oriented way to do more interesting things like stacking subparser for Ruby on Rails.

HOWEVER, there are some areas we can improve the current line-oriented parser.

Easy ones:
- [x] capture accessors defined with attr_accessor
      "attrMethod" language speific extra can be added.
      See #408.
- [ ] introduce script kind

[2020-04-03 07:09] masatake commented on #2476
I think newly introduced mixin field provides enugh information to implement interesting features in client sides.

[2020-04-03 07:09] #2476 closed

[2020-04-04 00:15] sparkcanon opened #2488 "Typescript: tags not found"
The name of the parser: **Typescript**

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

Expected tags:

All the other `const`s should be detected.

The version of ctags:

[code]

How do you get ctags binary:

binary taken from Universal-ctags/homebrew-universal-ctags project

[2020-04-04 00:36] masatake commented on #2421
It works partially.

[code]

[2020-04-04 03:17] t0mj0nes opened #2489 "[systemverilog] typedef logic incorrectly interpreted"
Hello,

This line:

    typedef   logic [MY_DEPTH-1:0][MY_WIDTH-1:0]  my_t;

gets interpreted as:

logic	./my_dir/my_file.sv	/^    typedef logic [MY_DEPTH-1:0][MY_WIDTH-1:0]  my_t;$/;"	T	package:my_pack

Ought'n't that be:

my_t	./my_dir/my_file.sv	/^    typedef logic [MY_DEPTH-1:0][MY_WIDTH-1:0]  my_t;$/;"	T	package:my_pack

Thanks, Tom

[2020-04-04 06:38] masatake opened #2490 "Introduce a type representing indexes of items in cork queue"
Currently, int and unsigned int are used in mix. We should not do so.

What we need may be:
[code]

[2020-04-04 07:11] #2421 closed

[2020-04-04 07:57] ksamborski commented on #2488
Thank you for reporting this. I will take a look.

[2020-04-04 08:42] masatake commented on #2489
Thank you for reporting.

I think the following change may fix the issue.
[code]

However, I don't know systemverilog and I don't have time to study it.
So I cannot convince the fix is correct or not.
For the input you show, my change works well:
[code]

I wonder the short input you showed is "complete"  input that a sytemverilog language processor accepts or not. I think what you showed is a part

[2020-04-04 15:55] t0mj0nes commented on #2489
Yes, of course. Thank you for taking up my issue Masatake.  Attached is my_pack.sv. I execute the following command-line:

ctags.exe --language-force=SystemVerilog my_pack.sv   // fails same on Linux of course

Thanks again, Tom
[my_pack.sv.txt](https://github.com/universal-ctags/ctags/files/4431857/my_pack.sv.txt)

[2020-04-04 20:17] masatake commented on #2489
Thank you. My change works well for my_pack.sv.
I'm writing a commit log for the change.

[code]
How do you call this in SystemVerilog?
Currently, I use "two dimensional array" in my draft version of the commit log like:

[code]

If you know better words, please, let me know.

[2020-04-04 21:46] masatake commented on #2413
Thank you for reporting.
Could you try #2492 ?

[2020-04-05 00:00] antoinemadec commented on #2413
#2492 fixes my original file.

However, it still fails if I do: ```ctags  --options=NONE a.sv b.sv```

Where:
**a.sv**
[code]

**b.sv**
[code]

[2020-04-05 04:17] masatake commented on #2413
Currently, ctags cannot track cross-input file dependencies like a.sv and b.sv.
I'm trying to add features handling the cross-input file dependencies:
https://github.com/universal-ctags/ctags/issues/2428

However, it will take more than a year to implement it.
So I will merge #2492 first.

[2020-04-05 21:27] antoinemadec commented on #2413
@masatake got it, makes sense!

I think there is a way to fix this which does not require cross-input file dependencies.
It rather simple: the name of the input/output/inout port is always the last word before a comma or the last parenthesis.

[code]

What do your think, would this be implementable?

Thanks,
Antoine

[2020-04-05 22:06] masatake commented on #2413
Obviously Implementable.
The question is who implements that algorithm.

The original maintainer of the systemverilog parser didn't want to take such algorithm.

https://github.com/universal-ctags/ctags/issues/1488
https://github.com/universal-ctags/ctags/issues/80
https://github.com/universal-ctags/ctags/pull/1495

I'm looking for a new maintainer who implements the algorithm.
If we cannot find s

[2020-04-05 22:13] masatake commented on #2413
BTW, could you help me about writing a commit log for fixing the SystemVerilog parser?
You know SystemVerilog well. So I would like to see https://github.com/universal-ctags/ctags/issues/2489 .

[2020-04-05 23:22] antoinemadec commented on #2489
In SV:

- ```[]``` after the var name: **unpacked array**
- ```[]``` are only before the var name: **packed array**

[code]

To respond to your question, I think this would be a better name:

I hope this helps!

[2020-04-05 23:27] antoinemadec commented on #2413
@masatake , got it.
I already looked at the code and tried to fix it before opening this ticket.
The C code was a bit out of my league TBH.
Will take another shot at it without any guarantee of results :smiley:

I just responded to your question on 2489.
Don't hesitate to ask me if you have more question regarding SV, I would be happy to help :wink:

Thanks,
Antoine

[2020-04-06 05:40] masatake commented on #2489
@antoinemadec, thank you. I updated the commit log.

[2020-04-06 05:56] masatake commented on #2413
@antoinemadec, thank you.

One of the difficulties for changing the logic in verilog.c is that the parsers (systemverilog and verilog) parsers use "kind" (verilogKind) as token type like:
[code]

kind is a thing assigned to a tag entry in the output.
In other hand, "token" is a parser private thing.

See python.c. It defines types for token like:
[code]
Defining types for token brings great flexib

[2020-04-06 05:59] #2489 closed

[2020-04-06 07:07] masatake opened #2494 "[LOOKING FOR VOLUNTEERS] Language consultants/advisers"
In #2076, we have been working on Cobol.
In #1581, we have been working on Vue.
In #2413, we have been working on SystemVerilog.

It is not possible for limited numbers of developers to support multiple languages.
Do you know languages are updated like C++11, C++17,  Java-1.8, Java-1.9,...?
I didn't recognize this horrible fact when I make the first pull request to fishman-ctags, the origin of uni

[2020-04-06 07:19] masatake commented on #2413
@vhda, could you look at this one and give us comments if you have.
I also would like you to see #2494.
BTW, fnally I implemented an infrastructure for multi-pass parsing on an input file is implemented.
I'm working on multi-pass parsing on multiple input files.

[2020-04-06 18:45] antoinemadec commented on #2494
@masatake , I will be happy to help regarding systemverilog questions.
I am about to  be a dad in a month from now, so I might not be super responsive, but I will try my best.

[2020-04-06 19:35] masatake commented on #2494
@antoinemadec, thank you. Please, concentrate on your baby, and take care of your wife!

[2020-04-07 04:55] #2488 closed

[2020-04-07 05:07] masatake commented on #2488
@ksamborski, thank you.

[2020-04-07 07:23] masatake commented on #2000
Move items here to #2480.

[2020-04-07 07:23] #2000 closed

[2020-04-07 09:26] #2474 closed

[2020-04-07 16:00] sparkcanon commented on #2488
Thanks, @ksamborski @masatake.

[2020-04-08 14:57] AmaiKinono commented on #2475
Some editors and completion plugins support "fuzzy completion". As far as I can tell there are mainly 2 variants:

1. Match the first letter of each word in the symbol. e.g. `sff` can match `some_fancy_function` and `someFancyFunction`.

2. Convert the query into a regex and insert `.*` between each char. e.g. `unt` can match `function`, `until` and `fun_thing`.

Personally I don't like these appr

[2020-04-08 18:56] masatake commented on #2475
Supporting regex based pattern matching is...acceptable.

1. extending dsl/es-lang-c-stdc99.[ch] to support regex pattern literal
[code]

2. linking readtags to onigmo (see #2469).

[2020-04-08 19:11] #62 closed

[2020-04-09 03:18] AmaiKinono commented on #2475
We may need a way to inspect the returned value of a sexp, making it easier to study the behavior of `-Q`. What we may need is:

- An action `-P`/`--print-value` to print the returned value.
- An option `-N`/`--on-line-number` to only filter the tags on specified lines. e.g.,

  - `-N` or `-N1`: on the first line.
  - `-N2-4,8`: on line 2, 3, 4 and 8.

  This is also useful when we are experimenti

[2020-04-09 03:58] AmaiKinono commented on #2475
I don't think the first variant can be easily achieved only by regex matching. At least we still need a `upcase` operator.

Let me explain. A seemingly reasonable definition of "the first letters of subwords` is:

1. a letter that appears at the beginning, or after some punctuations (`!`, `_`, etc.) at the beginning.
2. a letter following `-` or `_`, or
3. an uppercase letter.

Let's consider the

[2020-04-09 04:08] AmaiKinono commented on #2475
I found `downcase` can't handle non-ascii latin characters:

[code]

[2020-04-09 04:54] masatake commented on #2475
We already have `print` operator:
[code]

the `print` operator returns its argument with the side effect.
We cannot utilize the line numbers in a tags file because readtags cannot know the numbers when it does binary searching. Instead, we can introduce `$nth-application`. The value represents how many times the expression is applied.  (Do I make sense?)

We can extend the `print` operator: introd

[2020-04-09 06:20] chongchai opened #2498 "c++: end line of a variable is not working for global struct variable in linux source"
I find ctags supports end line of variable from https://github.com/universal-ctags/ctags/issues/2454.

I use this command to parse test.c.

## command:
`ctags.exe --output-format=json --langmap=c:+.inc --kinds-c=+plz --fields=+nie -o - d:\test.c`

## test.c
[code]

## result
[code]

The variable `dax_sops` does not have end line, while `n` has.

**PS**: `dax_sops` code snippet is copyed from super

[2020-04-09 06:41] AmaiKinono commented on #2475
Ah, I didn't noticed that. Played with it for a while, and I think the main problem is it's coupled with the action: only when a line is printed by the action, we can see the output of `print`. Consider a situation when the desired line is not filtered out, and we want to look into the expression to see why, but `print` won't give you anything.

That said, I found I can use the NAME action to watc

[2020-04-09 07:28] masatake commented on #2498
Thank you for reporting. Thank you for writing explicitly the origin of the test input. It helps us add a test case.

I have tried fixing the issue. The fix is not simple than I expected. So I would like to get feedback from the parser maintainer.

[code]

[2020-04-09 07:35] masatake commented on #2498
BTW, I have a useful .ctags fragment using daily to read Linux related to the test input you showed .

[code]

[2020-04-09 07:36] masatake commented on #2475
So `begin` or `progn` is needed.
You can use it like:
[code]
As you may know progn returns the result of evaluation of the last expression.

[2020-04-09 07:51] AmaiKinono commented on #2475
Ah, now I understand. This is neat ;)

[2020-04-09 17:46] masatake commented on #2498
@chongchai, I sent a pull request. If you have time, please, try #2501.
Our C/C++ parser maintainer may be in busy. So it will take a bit longer time for fixing this issue.

[2020-04-10 06:08] masatake commented on #2475
begin and begin0 is added.
begin is progn in elisp. begin0 is prog1 in elisp.

[2020-04-10 10:13] koenmeersman opened #2504 "SQL: Warning: ignoring null tag in test.sql"
# parser
SQL

# Command line:

[code]

# The content of test.sql:

[code]

# Expecting:

No warning about ignoring null tags.

i think the 'substr(sess_evnt.event, 1, 18)' is generating this warning, as the sql file below doesn't generate a warning:

[code]

# The version of ctags:

[code]

# How do you get ctags binary:

Got latest revision from git (e78d5375f4077bc7b9ae1bf5656faae41c6e39ad) did:

[2020-04-10 14:09] masatake commented on #2504
Thank you for reporting.

The minimum input reproducing the issue:
[code]
I'll inspect this one more.

[2020-04-11 04:09] masatake commented on #2504
Could you try  #2505 ?

[2020-04-13 12:44] #2504 closed

[2020-04-13 16:23] masatake commented on #1176
We have no plan to implement reference tags for function (and method) calls in soon.

[2020-04-13 16:23] #1176 closed

[2020-04-13 16:40] masatake opened #2508 "Go: minor improvements"
(Bugs should not be listed here. Please, open an new issue.)

- [ ] capture parameters
- [ ] capture receivers
- [ ] capture returnValue

[2020-04-13 16:45] masatake opened #2509 "Protobuf: minor improvements"
(Bugs should not be listed here. Please, open an new issue.)

###### spec2

- [ ] capture import files
- [ ] capture options
- [ ] capture groups
- [ ] capture oneof
- [ ] capture map
- [ ] fill typeref fields of filed kinds

###### spec3

[2020-04-14 06:54] Strangehill commented on #900
I also get this warning with array destructuring :
`const [lang, setLang] = useState("en")`

[2020-04-14 07:15] masatake commented on #900
@Strangehill, could you add the same comment to  #1112?

[2020-04-14 07:20] Strangehill commented on #900
of course

[2020-04-14 07:21] Strangehill commented on #1112
I also get this warning with array destructuring :
const [lang, setLang] = useState("en")

[2020-04-14 07:22] masatake commented on #900
Thank you.

[2020-04-14 07:29] masatake commented on #1112
https://github.com/universal-ctags/ctags/pull/2115
I found I tried to fix this issue once.
https://github.com/universal-ctags/ctags/pull/2115/commits/e977d56e5cc0531651c80c1481928b791a3c3ade

Though I opened the pull request, the way to fix the issue in the pull request looks a bit tricky for me.
In addition, as @Strangehill wrote, the fix doesn't handle the array destructuring.

I will fix this b

[2020-04-14 07:54] vladak commented on #1566
terraform (https://github.com/oracle/opengrok/pull/3108)

[2020-04-16 22:03] masatake commented on #2475
Do you have an idea for the "more convenient way"?
[code]
Introducing above operator is one of an idea.
So you can write
[code]
instead of
[code]
However, do you want such complicated one?
(I don't think so.)

[2020-04-17 02:29] AmaiKinono commented on #2475
I am thinking about an `ignore-missing` macro. It looks into the expression passed to it, and if there is a missing field, it returns `#t` directly. I'm not sure if this is possible to implement.

Another way is to take a list and a form, like:

[code]

When any element in the list is `#f`, it returns `#t` directly. I think this should be easier to implement, and maybe better since we can control

[2020-04-17 21:24] t-b commented on #1322
I found this issue as ctags could not find anything in my gitlab-ci.yml files.
As I'm only interested in the array names starting at the start of line I added

[code]

to my ctags config file. Works so far :)

[2020-04-19 17:45] vhda commented on #2413
An issue with Verilog is that you can have both
[code]
and
[code]
That is, when you parse the word after `input` you don't know if it's a type or a name.
But it should be possible to store each string and only determine the token name when `,` or `;` are found. In fact, I vaguely remember doing something like this at the time to solve some other problem.

Let's do as following: let me pick up on a

[2020-04-19 23:00] masatake commented on #2413
Feel free to revert https://github.com/universal-ctags/ctags/pull/2492/commits/23297f617c9b402d4fc8715cee6aad4a497c00d4 .

[2020-04-19 23:22] vhda commented on #2413
Far from that! Preferably we would even talk a bit about cork, to see if I finally understand it.

[2020-04-20 01:22] masatake commented on #2413
See http://docs.ctags.io/en/latest/internal.html#output-tag-stream about cork.

[2020-04-23 04:12] #2498 closed

[2020-04-25 01:57] masatake commented on #817
sorter is merged.
Developing formatter is tracked by #2475.

[2020-04-25 01:57] #817 closed

[2020-04-26 22:33] masatake opened #2524 "Cxx: memory leak in fcc4853e"
[code]

[2020-04-26 22:33] masatake commented on #2524
I'll try to fix this.

[2020-04-26 22:35] masatake commented on #2524
BTW, we should run "make units VG=1" on circleci.

[2020-04-26 23:48] masatake commented on #2524
I understand what happens. I can prepare a fix.

[2020-04-26 23:53] masatake opened #2525 "Cxx: another memory leak in dc4e754e0a00e90a4f57bc959a8345e629c110d1"
[code]

Lost records related to attachParserField() is reported in #2524. The experimental fix for #2524 can actually fixes the leak related to  attachParserField(). However, the rest of leaks cannot be fixed with it.
At least one more bug is there.

[2020-04-27 03:05] masatake commented on #2525
[code]

[2020-04-27 03:10] masatake commented on #2524
My incomplete comments for attachParserField may invite this memory fix. The comment for it must be updated.

The fix is not so obvious. One I show here is trashBox based. However, @pragmaware may not like this.
[code]

Anyway, I will make a pull request for above fix to receive review.

[2020-04-27 03:15] masatake commented on #2525
During tracking this issue, I found an interesting technique for memleak debugging in u-ctags.
Turning off objpool makes the output of valgrind simple.

[code]

[2020-04-27 19:53] theimpostor opened #2526 "ctags build fails on Fedora 32 (gcc 10)"
Building ctags as outlined in the docs fails under the upcoming Fedora 32 release. Works with Fedora 31. Getting the following build failure:

[code]

To reproduce, run the following in a fedora:32 container:

[code]

[2020-04-27 20:12] masatake commented on #2526
Thank you for reporting. As far as reading the error message, following change may fix the issue.

[code]

I will try my change in the container and make a pull request.

[2020-04-27 20:49] theimpostor commented on #2526
The patch appears to fix the build error for me, thanks!

[2020-04-28 04:23] #2526 closed

[2020-04-29 17:53] AmaiKinono commented on #2475
Some client tools invent their own way to do "incremental update" of tags files. Basically they parse the tags file, find the tags belonging to the modified file, remove those lines, and run ctags with `-a` option.

In principle, I don't see why this can't be done with the help of readtags (of course, would be better if ctags support incremental update directly). My thought is:

- If readtags alwa

[2020-04-29 21:02] masatake commented on #2475
I'm thinking about linking libreadtags to ctags. It brings many benefits. As you wrote, updating tags incrementally is one of the benefits.
My algorithm is:
(1) dropping tag entries for updated files (reported by git?) and writing the remaining tag entries to a temporary tag file (tmp tag file),
(2) appending tag entries generated by running parsers for the updated files, and writing them to a new

[2020-04-30 03:11] AmaiKinono commented on #2475
It's your idea ;) In https://github.com/universal-ctags/ctags/issues/2475#issuecomment-611327407:

"We cannot utilize the line numbers in a tags file because readtags cannot know the numbers when it does binary searching. Instead, we can introduce `$nth-application`. The value represents how many times the expression is applied."

How about just putting all the command line arguments that ctags re

[2020-04-30 23:06] masatake commented on #2475
I completely forgot it.

Comparing my algorithm and the way using $nth-application, mine is more intuitive for me.
As far as we can ignore the way to apply the original command line options, incremental update can be done with readtags in the current implementation (without  $nth-application).

It is  the simple solution. However, I wonder I should do so or not.
I don't want to disturb tags(5). `!

[2020-05-02 05:56] #2525 closed

[2020-05-04 09:07] #2490 closed

[2020-05-05 05:55] masatake commented on #2393
I refined the pull request. Though it is not perfect, it is better than the original R parser. So I will merge my pull request. Feel free to open a new issue.

Let's see how it is improved:
[code]

[2020-05-05 09:38] masatake opened #2533 "R: minor improvements"
(Bugs should not be listed here. Please, open an new issue.)

- [ ] recognize SetClass, SetMethod, and SetGeneric (objsys:S4).

[2020-05-05 09:43] masatake commented on #2409
Sorry to be late. However, it seems that you are talking about an issue of a client tool like vim side.

[2020-05-05 09:43] #2409 closed

[2020-05-05 09:48] masatake commented on #654
This issue is merged to #1566.

[2020-05-05 09:49] #654 closed

[2020-05-05 09:55] masatake commented on #1421
Now we can link libreadtags to ctags. libreadtags in ctags can be used for the filtering in ctags.

Alternative approach is introducing new command like  linktags. ldtags, or edittags. More study is needed. I'm working on this topic very slowly.

[2020-05-05 12:40] masatake commented on #1421
make tags for whole the source code (linux kernel):
[code]

dropping the tags for code/linux/block/bfq-iosched.c (here I assume you edit the file.)
[code]

tagging code/linux/block/bfq-iosched.c again:
[code]

Merging filtered.tags and part.tags:
[code]

It takes about 13s to update the tags file.
About 4 times faster than full parsing. I wonder I can improve the performance of -Q option more.

[2020-05-05 12:49] aktau commented on #1421
A couple of questions:

  1. Why does your last step used `sort` instead of `u-ctags --append`? Is it because there are no domain-specific optimizations and thus the speed is similar?
  2. The approach you're using (`filter ; retag-partial ; merge`

[2020-05-05 13:21] masatake commented on #1421
Thank you for the comments.

No optimization here.
I'm not familiar with the option. So I just forgot it.
[code]
As I expected, the result is not so changed. However, we can reduce the step. Thank you.

You are correct.
[code]

grep is much faster than readtags -Q.
Just for updating, using a wrapper shell script will be the best. I have to write this as a tips to FAQ.

I'm thinking about adding fe

[2020-05-07 15:57] gituser042 opened #2534 "C++: std::make_pair not found"
Hi,

just trying to create a tags file for libstdc++. Looks like the std::make_pair function is not found when running ctags on stl_pair.h.

The command line you used to run ctags:

ctags --languages=c++ --langmap=c++:+.tcc. --c++-kinds=+p --fields=+iaS --extras=+q -I "_GLIBCXX_NOEXCEPT _GLIBCXX_USE_NOEXCEPT _GLIBCXX_NOTHROW _GLIBCXX_USE_CONSTEXPR _GLIBCXX_BEGIN_NAMESPACE_CONTAINER _GLIBCXX_END_NA

[2020-05-08 00:52] masatake commented on #2534
The parts are still too large for me to understand the issue.
Could you tell me the problem in more details?
(I know only very basic C++.)

The maintainer of C++ parser is absent the days. So we need your help to fix the issue (if I can).

[2020-05-08 11:58] gituser042 commented on #2534
This is the original source code of the file:
https://pastebin.com/Y35ZKc6i
This is the modified code:
https://pastebin.com/wwHXkvVi

As you can see, at the end of the file there is a "make_pair" function. This function is in the std namespace so what I would expect is to have a std::make_pair tag.
I just deleted some lines of the file (see modified code link) to check if ctags has problems with t

[2020-05-08 16:58] masatake commented on #2534
Thank you for the explanation. However, the modified code is still too long to understand what happens.
I got an interest in the deleted code.

[code]
I put the deleted code to foo.hpp. And I run ctags:
[code]

However, I got nothing though I expected ctags made a tag for `pair`.
How do you think about this?
If you expect the same result as mine, I would like to inspect the deleted code more.

We

[2020-05-08 18:23] #2393 closed

[2020-05-08 18:46] suntzuisafterU commented on #2393
Thanks!  Sorry I did not get back to you.  Things were hectic.  I will likely use this for a project within the next month, and if there are any more areas for improvement I will open a new issue.

@masatake I appreciate the efforts.  Writing library code for R is quite painful at times and this will find use.

[2020-05-08 18:57] masatake commented on #2393
Thank you for response.
I'm happy that you are in healthy.

I think the new R parser works well in many cases. If you find I missed something important, https://github.com/universal-ctags/ctags/issues/2533 is the place for reporting.

[2020-05-08 19:38] gituser042 commented on #2534
Well I'm not that much into templates but I wold say your code is valid.
Here is what I come up with (copied from the file):
works:
[code]
works:

[code]
works NOT:
[code]

So I would say the problem is everything with ```::template```:
[code]

[2020-05-08 19:53] masatake commented on #2534
Thank you. The input is much shorter.

works:
[code]
though this may be broken as C++ input.
I replaced "template" with "templatex".

As you wrote `_PCCP::template` leads ctags to wrong way.

The c++ parser of ctags may recognize `template` in `_PCCP::template` as C++ keyword.

I guess ctags doesn't stop parsing. It parsers but entering unexpected input context.

I will inspect more.

[2020-05-08 19:55] pragmaware commented on #2534
I have a fix for this. Will commit later tonight.

[2020-05-08 19:59] masatake commented on #2534
THANK YOU!

[2020-05-08 20:19] masatake commented on #1566
thrift

https://thrift.apache.org/docs/idl
https://raw.githubusercontent.com/apache/thrift/master/test/ThriftTest.thrift

[2020-05-08 21:07] suntzuisafterU commented on #2393
Will do.  Thanks again.

[2020-05-09 18:05] markusdd opened #2537 "(System-)Verilog: Parameters/Localparams/Specparams should be seperated"
[code]

*****

The name of the parser: Systemverilog/Verilog

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

parameters, localparams and specparams have their own groups, because they differ significantly in terms of semantics. (e.g. a localparam is not totally 'constant' as it m