[2018-03-21 05:14] masatake commented on #1657
Oh, I see. However, what I don't understand next is "^{:doc". Where it comes from?

[code]

There is no string like "^{:doc" in the sample input.
Actually when I run ctags for the input, what I got is

[code]

There is no namespcae: field in the output.

[2018-03-21 05:16] masatake commented on #1657
So the code of ctags scanning  and capturing namespace information may be wrong.
How the namespace is given in the original input you are talking about?

[2018-03-22 21:49] masatake opened #1716 "[SELF INCOMPATIBLE] RFC: removing filter (-Q) option from readtags"
I introduced the option.
Though it is still useful for me but I'm thinking about removing it before releasing.

ctags has json output. A user can put the output to mongo or unqlite, and make a query with real language.
Instead of expanding the area of maintenance, I think we should focus on refining json output.
"Doing interesting should be done in client tools" is important motto in this project.

[2018-03-29 03:13] samaursa opened #1721 "Excluding folders/files defined in --exclude=@.gitignore doesn't seem to work"
I found a related issue https://github.com/universal-ctags/ctags/issues/218, however in the issue I get the impression that `--exclude=@.gitignore`[1] is supposed to work. But I can't get it to work.

I have tried `--exlude={build,install}` and that does exclude the `build` and `install` folders. Any help would be appreicated!

[2018-03-30 00:27] samaursa commented on #1721
I have managed to make it _partially_ work. I say _partially_ because the file specified in `--exclude=@.ignorefile` cannot have folders that end with `/`. So, the following is _not_ okay:

[code]

but this will work

[code]

Would be nice for the exclude pattern to recognize `mydir/` as directories.

[2018-03-30 01:58] jcharaoui commented on #655
Just for the record, universal-ctags [is now part of the Debian package archive](https://packages.debian.org/buster/universal-ctags). Congrats!

[2018-03-31 15:01] masatake commented on #655
Thank you.

I tried it.
I have two comments.
It seems that the man pages are not included. Though the pages are written in progress, they will be useful (even for me).
libxml2 is not linked. If it is linked, ctags can handle more xml based languages.

[2018-03-31 18:49] masatake commented on #218
@samaursa, let's reuse this issue here.

The gitignore syntax is not supported.
Someone has to work on this.
I would like to name the option we want `--vcs-ignore=git` or ... `--xignore=git`.

Git is so popular. So supporting this feature is important to get the minds of users.
If we can ignore the performance and we don't use seccomp sandbox,  using  `git check-ignore` is the fastest way to imple

[2018-03-31 18:49] masatake commented on #1721
See #218.

[2018-03-31 18:49] #1721 closed

[2018-03-31 19:32] blueyed commented on #218
For the time being I still recommend to use a wrapper script `make-tags` (similar to my earlier comment, but using ripgrep now:
[code]

[2018-03-31 23:49] samaursa commented on #218
@masatake I agree.

@blueyed that is good interim solution! it works well with plugins with custom command support such as https://github.com/ludovicchabant/vim-gutentags. Thanks!

[2018-04-01 05:06] masatake commented on #218
I'm quite happy if you make a pull request adding the tips to

https://github.com/universal-ctags/ctags/blob/master/man/ctags.1.rst.in#L625

.

Thanks in advance.

[2018-04-03 04:31] dalance commented on #218
@samaursa
I created a ctags wrapper to support .gitignore.
https://github.com/dalance/ptags

This call `git ls-files --ignored --exclude-standard` internally as suggested by @jfelchner .

[2018-04-05 06:10] masatake commented on #1680
As I wrote in the last comment I planed to introduce a shell like language that uses `|` for representing a chain of functin calls. However, after trying to solve #1577, I think a PostScript alike language is better for the purposes.

shell style:
[code]
ps style
[code]

Not so different at a glance.
However, we can implement, conditional jump and loop on it.
It may be possible to define a procedu

[2018-04-08 13:51] Viech opened #1731 "Python import … as statement within method confuses ctags."
I'm using the latest version 8e09804 of ctags under the `atom` editor with the `symbols-navigator` package. I noticed some weird behaviour when class methods contain an `import modulename as newname` statement. The code
[code]
gives me the following broken listing:

![A broken listing](http://dl.viech.name/ctagsissue.jpg)

I am not familiar with the ctags format so I can't tell for sure that this

[2018-04-08 13:58] Viech commented on #1731
Pinging @lejsue, the lead developer of `symbols-navigator`.

[2018-04-08 16:25] b4n commented on #1731
The UCTags output seems good to me -- look at the 4th field, looking like `class:TestClass` or `member:TestClass.methodWithImport` which represents the scope/"parent tag".
Building a tree from the output following the reported parent for hierarchy should give something like:

* TestClass
  * method
  * methodWithImport
    * np
  * secondMethod
  * secondMethodWithImport
    * np

Which looks good

[2018-04-08 16:26] #1731 closed

[2018-04-10 11:33] karlb commented on #1658
Sorry for the late reply. I was pretty sure that I responded already, but apparently I didn't or my response got lost somehow.

Yes, that would be ideal. The important thing for me is that the table name gets picked up, but including that columns would be best.

The code handling this should probably be the same one as for views.

[code]

would create the same structure (table/view name "bar" with

[2018-04-14 01:26] sempuki commented on #1551
I don't care about the name (--include is my preference) I just want the feature. My use case is bazel, which creates a lot of symbolic links, and a tiny amount of time there's generated or copied files that are interesting (ie. the copy of protobuf that I'm actually linking against).

I would prefer to have my ctags configuration in ~/.ctags than inside ~/.vimrc as `find ... |ctags -L-`

[2018-04-14 01:29] sempuki commented on #1551
I don't care about the name (--include is my preference) I just want the feature. My use case is bazel, which creates a lot of symbolic links, and a tiny amount of time there's generated or copied files that are interesting (ie. the copy of protobuf that I'm actually linking against).

I would prefer to have my ctags configuration in ~/.ctags than inside ~/.vimrc as `find ... |ctags -L-` for every

[2018-04-14 17:25] alphaCTzo7G commented on #1444
I installed universal tags by compling from the source.

I noticed that `ctags` help can be accessed by `ctags --help`. Is this the way to get the documentation on the command line.

Is there a more detailed `man` page available at the command line? I am guessing most people using ctags, use the command line, so having man pages available would be helpful.

[2018-04-14 17:47] masatake commented on #1444
@alphaCTzo7G, you can find it in man/.
See https://github.com/universal-ctags/ctags/tree/master/man

The man pages are not updated enough yet.

[2018-04-15 08:28] masatake commented on #1551
@sempuki, how abot using `--links=no` option?

[2018-04-15 08:44] masatake opened #1735 "Run tmain with valgrind"

[2018-04-16 16:32] artemave commented on #1696
Really tripped me over.

Yes please.

[2018-04-16 16:53] masatake commented on #1696
https://github.com/universal-ctags/ctags/blob/master/docs/optlib.rst#preload-option-file

[2018-04-16 17:04] artemave commented on #1696
Thanks. I can't read. I read that section already. Few times. But it didn't click.

This (from the above) did:

[2018-04-16 17:47] artemave opened #1738 "Multiline regex question"
Hello,

Thank you for this great project!

I am trying to make this:
[code]

To generate a tag for this:

[code]

But to no avail. What am I doing wrong?

If I join the lines like this:
[code]

Then it works.

Thanks a lot!

[2018-04-16 18:25] pyropeter opened #1739 "Java: Local classes are ignored"
# Steps to reproduce:

- Go to https://docs.oracle.com/javase/tutorial/java/javaOO/anonymousclasses.html
- Copy the first code block (class `HelloWorldAnonymousClasses`) into a file
- Run ctags

# Expected:

I expect ctags to create four tags for `greet`. It only creates one, inside the interface definition.

The option `--kinds-Java=l`, which is described with `local variables`, surprisingly infl

[2018-04-16 19:53] masatake commented on #1738
[code]

[2018-04-16 22:29] artemave commented on #1738
Thanks for quick response! Still does not work for me:

[code]

ctags version:
[code]

[2018-04-16 22:31] artemave commented on #1738
Ah, that would be why

![image](https://user-images.githubusercontent.com/23721/38838517-51329312-41ce-11e8-9a8a-a10bc3e59a2b.png)

[2018-04-16 22:35] artemave commented on #1738
non-greedy version works
![image](https://user-images.githubusercontent.com/23721/38838571-9ca0a348-41ce-11e8-9442-841904ca6a37.png)

Is there a way to make `*` non-greedy? I am getting `])*?\): repetition-operator operand invalid` with the above version.

[2018-04-16 22:40] artemave commented on #1738
Ok, non-greedy is not the only option. This works:
[code]

[code]

Thanks a lot!

[2018-04-16 22:40] #1738 closed

[2018-04-17 20:26] masatake commented on #1739
(skipInitializer in c.c is the function I have to improve for this issue.)

[2018-04-17 23:26] masatake commented on #1738
Could you introduce us the tool you used for developing the regex pattern?

[2018-04-17 23:28] masatake commented on #1696
Whta do you mean?  Did you read or not?
If you are talking about the quality of the document, what I can do for you is very limitted.

[2018-04-17 23:30] masatake commented on #1739
It seems that fixing this is not so easy.

[2018-04-18 00:39] masatake commented on #1711
- Language names:

  - v2 format spec: nothing specified explicitly. The name is used as a value for "language:" field.
    So the rule for "file value" is applied.
  - u-ctags code:  no check is conducted. However, u-ctags prints field in escaped format. So even `\t` is included in the name, the output can be consistent with v3 format.
  - u-ctags man pages: nothing is written.

- Kind names:
  F

[2018-04-18 07:32] artemave commented on #1738
https://regex101.com/

[2018-04-18 07:34] artemave commented on #1696
I read it and didn't understand what to do.

[2018-04-18 07:43] masatake commented on #1738
Thank you!

[2018-04-18 15:45] masatake commented on #1696
Oh, I see. I hope FILES section of ctags.1 man page may help you.

[2018-04-19 10:01] gonsolo opened #1741 "Swift not working"
When I try to use ctags with Swift I am using the advice from https://akrabat.com/ctags-with-swift and add the following to my ~/.ctags file:

--langdef=Swift
--langmap=Swift:+.swift
--regex-swift=/(var|let)[ \t]+([^:=]+).*$/\2/,variable/
--regex-swift=/func[ \t]+([^\(\)]+)\([^\(\)]*\)/\1/,function/
--regex-swift=/class[ \t]+([^:\{]+).*$/\1/,class/
--regex-swift=/protocol[ \t]+([^:\{]+).*$/\1/,pro

[2018-04-19 10:40] masatake commented on #1741
You have to do rename your ~/.ctags to ~/.ctags.d/swift.ctags first of all.  Here after I call your .ctags swift.ctags.

From the view point of u-ctags developer, your swift.ctags is broken.
* Kind letters are not given.
* the parser name should be started from lower case character: swift, not Swift.

Here is the version considering above my comment:
[code]
(Not tested at all.)

[2018-04-19 11:26] masatake commented on #1741
I wrote how to write a parser for u-ctags in man pages: man/ctags-optlib.7 and man/ctags-incompatibilities.7.
I would like to get comments (and fix) for the pages.

[2018-04-19 11:56] #1658 closed

[2018-04-19 12:07] gonsolo commented on #1741
Hi!

Thanks for the help.

I wrote how to write a parser for u-ctags in man pages: man/ctags-optlib.7

In optlib:
/kindedef/kinddef/
/user/the user/ (sometimes)

I also tried the following version

--langdef=swift
--langmap=swift:+.swift
--kinddef-swift=v,variable,variables
--kinddef-swift=f,function,functions
--kinddef-swift=s,struct,structs
--kinddef-swift=c,class,classes
--kinddef-swift=p,proto

[2018-04-19 12:30] gonsolo commented on #1741
Hi again.

Here is a working version, maybe you want to include it.

Thanks,
Andreas

On Thu, Apr 19, 2018 at 2:07 PM, Gonsolo <gonsolo@gmail.com> wrote:

--
g

[2018-04-19 12:33] masatake commented on #1741
Please, use github web interface. The layout of your text sent via e-mail is broken. I cannot read it.

Thank you.

I would like to get the diff (or a pull request for the diff).

I'm really looking for a person who improves the documents.
You gave me the comment about `kindedef`. So I will take more time for solving your issue.

[code]

I improve the original swift.ctags a bit. It works well for

[2018-04-19 13:05] masatake commented on #1741
It seems that the last line of swift.ctags is not pasted well.
Here is the updated version:
[code]

[2018-04-19 15:35] arichiardi commented on #1657
Sorry for the delay, I think what the code needs to do is to skip everything from `^{` to `}` and then then symbol after is the beginning of the namespace name.

Will write a better recap.

[2018-04-19 15:55] arichiardi commented on #1657
The namespace is not involved in the definition and it is computed from the name of the file where the definition resides.

[2018-04-19 17:55] masatake commented on #1657
Please, read http://docs.ctags.io/en/latest/reporting.html carefully.
You have to answer where "^{:doc" comes from.

[2018-04-19 18:02] arichiardi commented on #1657
@masatake why has this been closed? I mean to explain, but you are not doing a good job in closing a bug report like this in my opinion.

[2018-04-19 18:03] arichiardi commented on #1657
The reporting section is good, I will for sure write a better report. Closing and reopening does not seem a good approach as you lose history. Anyways up to you.

[2018-04-19 18:08] arichiardi commented on #1657
Additionally, I think my comment https://github.com/universal-ctags/ctags/issues/1657#issuecomment-374835234 answers the question, after that comment you started asking question about the implementation of `ctags` which I am not familiar with.

Please read again the comment above to see what is that I see and what is the expected output.
You are focusing on ` "^{:doc"`, which is part of the bug, I

[2018-04-19 18:14] masatake commented on #1657
Please, prepare following things:

* the original input
* actual output from u-ctags
* expected output (output you want)
* the command line you used to generated the actual output

Above combination is very important.
Please, read http://docs.ctags.io/en/latest/reporting.html carefully.

[2018-04-19 18:18] masatake commented on #1657
The combination must be prepared in a comment.
Reporting them in comments makes me confused.
https://github.com/universal-ctags/ctags/issues/1340 this one is beautiful.

[2018-04-19 18:30] arichiardi commented on #1657
Will do my best

[2018-04-19 18:39] masatake commented on #1657
You report the input in the initial comment:
[code]

You wrote following as actual output for the input:
[code]

You didn't wrote the expected output in the comment.

You wrote just "fails".

As far as reading the source code of clojure parser, `^{:doc` must come from `(ns ...` somewhere in the original input. However, `ns` is not found in the original input.

There can be two cases, one is someth

[2018-04-19 18:44] masatake commented on #1657
Show src/ep_cloud/utils.cljs if you can.

[2018-04-19 18:49] arichiardi commented on #1657
I updated the initial report: https://github.com/universal-ctags/ctags/issues/1657#issue-287925993

[2018-04-19 18:50] masatake commented on #1657
Fine!

[2018-04-19 18:51] arichiardi commented on #1657
Updated with the desired output, thanks a lot and sorry for the hassle.

[2018-04-19 19:09] masatake commented on #1657
Maybe solved. I will make a pull request tomorrow.

[code]

[2018-04-19 19:12] arichiardi commented on #1657
@masatake first of all thanks, second if I read correctly you are skipping only after `^{`.
The language dictates to skip after `^`.

As you can see in the example `^boolean` is vaild metadata, as well as `^:private`.

When you have a PR ready I can try it out, I checked out the repo.

[2018-04-19 19:14] masatake commented on #1657
Any Sexp is ok after `^`?

[2018-04-19 19:15] arichiardi commented on #1657
Pretty much, actually I have just noticed you can have multiple, like

`^:dynamic ^ints whatever`

https://clojure.org/reference/metadata

[2018-04-19 19:45] masatake commented on #1657
[code]

[2018-04-19 19:47] masatake commented on #1657
To get perfect results, SkipSexp is needed. Implementing it means rewriting the clojure parser.

[2018-04-19 19:48] arichiardi commented on #1657
Got it, yes I feel that sooner or later a proper parser is needed. This looks better already :smile:

[2018-04-19 19:49] masatake commented on #1657
The patch is imperfect. However, I hope it handles the more of all codes in the real world.
I wonder I can expect such a thing. Lisp hackers always do more than I can image.

[2018-04-19 19:50] masatake commented on #1657
I will take asleep. Good night.

[2018-04-19 19:51] arichiardi commented on #1657
Good night man, thank you!

[2018-04-19 20:06] arichiardi commented on #1657
You got that right as well :smile:

[2018-04-20 02:33] masatake commented on #1657
I made a pull request for this issue: #1743 .

[2018-04-23 17:50] #1657 closed

[2018-04-30 16:25] ChoppinBlockParty opened #1746 "C++ failed to parse try-catch body block"
void foo() try {
	  }catch(...){
	  }

	  void bar() {
	  }

It finds `bar`, but not `foo`

[2018-04-30 20:24] masatake commented on #1741
Feel free to reopen this if you need.

[2018-04-30 20:24] #1741 closed

[2018-04-30 21:36] #1746 closed

[2018-05-01 17:03] ChoppinBlockParty commented on #1746
Will this work for the following case:

    auto foo() -> void try {

[2018-05-01 17:08] ChoppinBlockParty opened #1748 "C/C++: Wrongly picks up variables after macro"
Wrongly picks up variables after macro:

    TEST_CASE("", "") {
    	int i;
    }

This will result in tag `i variable`.

[2018-05-01 17:14] pragmaware commented on #1746
I'm working on a slightly improved approach for this.

[2018-05-02 00:58] b4n commented on #1748
I don't know if there could be a *reasonable* workaround for this one *that doesn't conflict with any other workarounds*, but basically a macro is always gonna be a problem when its actual expansion isn't known.  Nothing stops the programmer from writing something like
[code]
which is basically impossible to parse if you don't actually know `X` stands for `{`.

I would recommend you to instruct th

[2018-05-11 12:13] tuarba opened #1750 "c++ parsing error"
(If you will report an issue about the result of parsing,
fill the following items. If you get the input file somewhere,
write the URL or something.)

*****

The name of the parser:
c++
The command line you used to run ctags:
ctags -o tags bad.h
The content of input file:
[code]

The tags output you are not satisfied with:
[code]
The tags output you expect:
[code]
 This is what Exuberant Ctags gen

[2018-05-11 13:55] tuarba commented on #1750
Not sure if this matters, but here is my ctags --version:
Universal Ctags 0.0.0(744610c), Copyright (C) 2015 Universal Ctags Team
Universal Ctags is derived from Exuberant Ctags.
Exuberant Ctags 5.8, Copyright (C) 1996-2009 Darren Hiebert
  Compiled: May 11 2018, 13:33:26
  URL: https://ctags.io/
  Optional compiled features: +wildcards, +regex, +iconv, +option-directory

[2018-05-11 14:12] masatake commented on #1750
Could you run Universal-crags with following command line?
[code]

[2018-05-11 23:58] tuarba commented on #1750
Here is what I got:

[2018-05-12 01:31] b4n commented on #1750
I can confirm the issue. @masatake your input file doesn't have the same line 3, because GitHub ate the `<int>` on that line.  If you add it back, you get @tuarba's behavior.

So this means that it's the line 3's `<int>` part that confuses the C++ parser for some reason.

[2018-05-12 01:37] masatake commented on #1750
@b4n, thank you. Reproduced here. I have to update issue our issue template to let a report use tipple quotes for preformatting.

[2018-05-12 01:43] masatake commented on #1750
@pragmaware, could you look at this issue?

I've tried to minimize the reproducer. However, I cannot make it enough small.

[code]

[2018-05-12 03:02] pragmaware commented on #1750
Template nastiness... hell of corner cases. This is one of the hard bits.
I've got a fix for this case but it breaks the parser-cxx.r/less-than-operator-between-anglebrackets.d unit test, which is harder to fix and has been handled with some "tricks".

Food for thoughts.

How to figure out that the second `<` in

`template<char i, bool B = i < 10>    void f1(void) { } ...`

is actually an operator

[2018-05-12 03:25] masatake commented on #1750
[code]

How does a real compiler handle this?
It looks ambiguous syntax for me.

[2018-05-12 03:54] pragmaware commented on #1750
It is one of the test cases we have. The compiler knows that i is a variable and not a (template) type, because it's declared just before... but in theory it could be defined anywhere else.

[2018-05-12 17:29] codebrainz commented on #1750
One trick I've seen to make such things simpler to parse is to preprocess the tokens and insert special disambiguation tokens, like say the tokens were:

[code]

You scan the tokens looking for `template<` and then count `<` and `>` openings and closings and inject some tokens like:

[code]

`*` = synthetic token, replacing original token(s)

Of course it's a dirty hack, and doesn't help with trul

[2018-05-16 19:26] DanielSiepmann opened #1754 "ignoring "." (directory)"
Calling ctags on Ubuntu18.04  for a directory will return
[code]
instead of generating tags for files inside of the directory.

[code]

On macOS with an older version there was no issue. I would expect ctags to generate a tags file inside the cwd for all files in this folder or subfolders, accordingly to `--recurse=yes` and `--maxdepth=10`

Using `$ ctags --options=NONE -V Documentation/**/*.rst`

[2018-05-16 19:32] DanielSiepmann commented on #1754
Turns out that `--recurse` on cli works as expected, adding the option to `~/.ctags` does not work.

[2018-05-16 19:36] masatake commented on #1754
Put the option to ~/.ctags.d/DanielSiepmann.ctags instead of putting it to ~/.ctags.

[2018-05-16 19:43] DanielSiepmann commented on #1754
Thanks just found it out. Looks like that has changed since I've last installed it on macOS.

[2018-05-17 11:25] #1754 closed

[2018-05-23 16:48] masatake commented on #1750
The input is recorded as a test case triggering the bug.  See #1756.

[2018-05-23 16:48] masatake commented on #1739
The input is recorded as a test case triggering the bug.  See #1756.

[2018-05-24 08:13] dylan-chong opened #1758 "[Request] Add elixir support"
For example this https://github.com/mmorearty/elixir-ctags

[2018-05-24 12:17] masatake commented on #1758
See https://github.com/mmorearty/elixir-ctags/issues/5 .

[2018-05-24 20:09] dylan-chong commented on #1758
I've made a comment on that issue, let's see what he says in response

[2018-06-06 01:53] #1750 closed

[2018-06-07 14:45] hnakamur commented on #655
Hello, I just built a deb package for Ubuntu 18.04 LTS based on [the Debian universal-ctags package](https://packages.debian.org/buster/universal-ctags).

* [my PPA (Personal Package Archives) for universal-ctags](https://launchpad.net/~hnakamur/+archive/ubuntu/universal-ctags)
* [my deb source package for universal-ctags](https://github.com/hnakamur/universal-ctags-deb)

I made three modification

[2018-06-07 19:12] masatake commented on #655
@hnakamur, thank you for reporting.

libaspell is not needed for normal users. It is linked for developing ctags itself.
I will inspect the reason why the test case is failed.

[2018-06-07 19:30] CatalinGB opened #1760 "Partial support for g:gutentags_ctags_extra_args"
Hello,

Autosar uses for C development certain compiler abstraction macros like:
[code]
One way to generate a correct tags file is to call ctags with  ```-D "FUNC(rettype, memclass) memclass rettype"```

When I try to use ```let g:gutentags_ctags_extra_args += '-D FUNC'``` everything is working as expected.

More complex macro definitions need to be surrounded by quotes like in the case of ```-D "

[2018-06-07 19:42] CatalinGB commented on #1760
Oups...
Please close my issue as I added to the wrong repo. Meant it for vim-gutentags. :)

[2018-06-07 19:42] #1760 closed

[2018-06-08 19:42] masatake opened #1763 "C++: top level lambda"
The name of the parser: C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

ctags prints nothing.
[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Self building

[2018-06-09 09:11] masatake commented on #1763
Following change works for me.
I will make a pull request.

[code]

[2018-06-09 21:11] pragmaware commented on #1763
Your change looks good.
You can also remove the "else" before the second if, so it's easier to read.
I'd also add a minor change to the comment above the definition of cxxParserOpeningBracketIsLambda(void): remove the "in function scope" part (because we're violating
this rule ourselves).

[2018-06-10 16:51] masatake commented on #1763
@pragmaware, thank you.

After the changing I got following test case failure.

[code]

[2018-06-10 20:38] pragmaware commented on #1763
Right... a stricter check is needed. Now that I think of it, maybe some special variable declaration cases may fail with the new algo. Do you want me to take your code and try to finish it up?

[2018-06-11 01:12] masatake commented on #1763
Yes, please.

[2018-06-22 13:24] jerome-caucat opened #1767 "C++: Wrongly picks up variable "x" in condition "a < b || a > x""
The name of the parser:
C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

**max_p is seen as a local variable with the type: value_p<min_p||value_p>** as well as its real type.

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally, via GNU/Li

[2018-06-23 07:05] masatake commented on #1767
@pragmaware, can I ask you to look at this one?

[2018-06-23 15:09] #1763 closed

[2018-06-24 01:53] roosemberth commented on #261
Hi, what's the status of this issue?

[2018-06-26 03:52] sourabhjains opened #1772 "C: --_xformat ignoring the struct key word while extracting function information the header"
I am extracting function information in the following format.
**function_name:return_type:signature**

I have used following command to do that
**ctags --language-force=C -x --_xformat="%N:%{typeref}:%{signature}"  --kinds-C=p foo.h**

When I formatting the ouput using --_xformat with typeref tag. typeref doesn't consider struct keyword while formatting the ouput.

for example: foo.h
#include <std

[2018-06-26 07:19] masatake commented on #1772
Thank you for reporting.
I will work on this item.

[2018-06-26 17:08] masatake commented on #1772
See #1773.
With the change proposed in #1773, the command line makes following output:
[code]

This output is not enough for your requirement. However, I don't think I should make ctags specialized to your requirement more. sed may help you as usual.

It is possible to introduce typerefPrefix and typerefName fields. See the commit log of the change if you are interested in introducing new fields.

[2018-06-26 17:19] mMontu commented on #710
I'd like to generate groovy tags using the work on this issue.
I've copied the [groovytags file from ctags-castle](https://github.com/bangroot/ctags-castle/blob/master/home/.ctags.d/drivers/groovytags) into `~/.ctags.d/drivers/`, but it didn't work (`ignoring vars/xpod3.groovy (unknown language/language disabled)`).

I did a quick search on the universal-ctags documentation but couldn't find what

[2018-06-26 17:40] masatake commented on #710
xcmd, a feature invoking an external tags generator, was removed.
https://github.com/universal-ctags/ctags/issues/1442

[2018-06-26 18:04] mMontu commented on #710
Oh, that's why I couldn't find any reference to the option you used in your previous comment.

I've tried to switch to a regular definition on the `~/.ctags` as [this](https://github.com/majutsushi/tagbar/wiki#groovy), but for some reason it isn't being loaded.
But maybe this should be in a separate issue.

[2018-06-26 18:18] mMontu commented on #710
I've tried `~/.ctags.d/.ctags`, but from #1582 it seems it should be `.ctags.d/foo.ctags`.

[2018-06-27 10:04] jlmxyz opened #1774 "configure.sh missing"
configure.sh is missing in the source tree, althought it's a generated file, it is dependent of a version of the generator which can be not available on target
the purpose of configure.sh script is to allow platform independant configure, it's then not a file that will be generated by the build process but a file that is mandatory before the build process is started to check the dependencies....
w

[2018-06-27 10:31] b4n commented on #1774
As every generated files, I don't think it's a good idea to include it in the Git tree.  The `configure` script is part of tarballs generated by `make distcheck`, so once we start putting out releases your concern would be automatically addressed, but it should not be part of the VCS tree which should only contain files developers actually modify.

Having generated files in tree, especially files

[2018-06-27 15:17] jlmxyz commented on #1774
Well quite again the egg and chicken matter....

So your point is "we won't provide it because it's generated" my point is
"I will have to build all a source tree structure just to build your
sources" autotools are not available on the pc I'm working on, a regular
gcc toolchain is available, so, because of <biiip> i'll have to rebuild the
whole autotools dependencies from scratch.... Nice....

The

[2018-06-27 16:22] masatake commented on #1774
I recommend you to wait for a release.
A released tarball may include a configure shell script that you want.
Universal-ctags git repository is for people who accept installing autotools to their PC.
I'm wrong for making the release delayed again and again. However, adding a configure script to the repository cannot be the replacement for the release.

[2018-06-27 17:40] b4n commented on #1774
As I mentioned, if you really don't have Autotools on the target, maybe you can use a second environment with basically just Autotools to generate the scripts and even a tarball.  It's basically doing a release for yourself.
And my point is that the Git tree is *not* a release.  It's what developers work on; it's the very base of the software development.  Some people start to confuse VCS with a r

[2018-06-29 00:54] #1767 closed

[2018-06-29 01:00] masatake commented on #1767
Thank you.

[2018-06-29 08:09] jerome-caucat commented on #1767
Thank you!

[2018-06-29 14:00] softinio opened #1775 "ctags --version not working on macOs"
I have installed the latest version via home-brew and when you do `ctags --version` you get:

[code]

This is causing other programs which use this to detect Universal Ctags to fail

[2018-06-29 17:31] masatake commented on #1775
Could you show me the output of
[code]
on the same environment where you run `ctags --version`.

[2018-06-29 17:33] softinio commented on #1775
[code]

[2018-06-29 17:34] masatake commented on #1775
or could you try
[code]
if you use bash or zsh.

[2018-06-29 17:36] softinio commented on #1775
That made it work:
[code]

Should I add the unset to my `.zshrc` ?

[2018-06-29 17:40] masatake commented on #1775
I don't know.

See the description of CTAGS in ctags.1 man page.
Someone sets the value to the variable for some reasons.
The impact of clearing the variable is not clear for me.

[2018-06-29 17:48] softinio commented on #1775
It would seem it was my fault had `export CTAGS=/usr/local/bin` in my `.zshrc` with a comment next to it that I did this to force brew version of ctags to be used.

Removed this from my `.zshrc` and is all working.

Good catch that it was related to this and thanks for your time and help.

[2018-06-29 17:48] #1775 closed

[2018-07-01 18:40] blueyed opened #1777 "reStructuredText: handle targets"
It would be nice to parse targets in rst files, e.g.:

[code]

Spec: http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#hyperlink-targets

I guess this would not be hard to implement, but also not trivial given the current logic therein: https://github.com/universal-ctags/ctags/blob/35c89c8fbb4c7dd6a008acc31207a0a2a61868e8/parsers/rst.c#L223.

I think there should be a new kind ("T

[2018-07-02 08:56] masatake commented on #1777
See #1779.
Very important suggestion for languages for documentation.
A good size of request for a change:-)

Thank you.

[2018-07-02 08:59] masatake commented on #1774
I don't know how to do it but it is not bad idea.

[2018-07-02 09:45] jlmxyz commented on #1774
and look at all source based distro, none of them do regenerate and for good reasons... it's unmaintenable, and well debian isn't the most used system... it has LOT of detractors and personnaly I hate it... it has TOO many "tweaks" that make it the worst target to use, most of tutorials don't works and sometimes even released tarball don't works without headache.... well... I use source based dist

[2018-07-05 15:48] reidakdumont opened #1781 "C++: Wrongly detecting global variable instead of local variable"
The name of the parser:
C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally, via GNU/Linux distribution (ubuntu)

[2018-07-06 22:16] pragmaware commented on #1781
Fixed via #1782

[2018-07-06 22:16] #1781 closed

[2018-07-08 16:56] hnakamur opened #1785 "Request for adding deb package to Debian and Ubuntu"
With help by @masatake starting at https://github.com/universal-ctags/ctags/issues/655#issuecomment-395532797, I successfully created a working deb package for Ubuntu at my PPA page for universal-ctags
https://launchpad.net/~hnakamur/+archive/ubuntu/universal-ctags

However I think it is the best that the deb package will be added to the standard repository of Debian and Ubuntu.

According to [Req

[2018-07-09 08:30] dylan-chong opened #1786 "Add a way to write the position/column to tags file"
I heard there was a way to get Vim to jump to the position of the tag, instead of the start of the line.

Say I have the following code (with the cursor at `|`):

    function myFunction() {
    }

    |myFunction()

When I press `C-]` my cursor jumps to:

    |function myFunction() {

Supposedly Vim supports placing the cursor in the position shown below, if the tags file contains the right data

[2018-07-09 10:32] jaybanez opened #1787 "C++: static_cast<int> inside an if is being detected as a new local variable"
The name of the parser:
[code]
The command line you used to run ctags:
[code]

The content of input file:
[code]

The tags output you are not satisfied with:
[code]

The tags output you expect:
[code]

The version of ctags:
[code]
How do you get ctags binary:
[code]

[2018-07-09 10:50] jaybanez opened #1788 "C++ member functor produces class to be detected as a new variable"
The name of the parser:
C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:
[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally, via GNU/Linux distribution, Ubuntu 16.04

[2018-07-09 15:00] masatake commented on #1772
I merged #1773. The change may solve your issue partially. As I wrote you need a post processor like sed for your purpose.

[2018-07-09 15:00] #1772 closed

[2018-07-10 01:32] masatake commented on #1085
I'm sorry for this late response.
Instead of changing the code, I wrote about the incompatibility in man/ctags-incompatiblity.7.rst.in:

[code]

I would like to close this one that must be solved for releasing.
If you think I should write this topic more in the man page, could you make a pull request for the page?

[2018-07-10 09:13] b4n commented on #1085
@masatake I think the question is how compatible we are or wanna be with other/older CTags implementation (including Exuberant-CTags).

IIUC the issue here is that a set of options that work for both Exuberant and Universal CTags provide different results, which leads to user confusion.
Now the question is whether the incompatibility is worth it or whether we should avoid it to make it easier on u

[2018-07-10 14:51] reidakdumont opened #1790 "No more parsing after elif"
*****

The name of the parser:
C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally, via GNU/Linux distribution, ubuntu 16.04

[2018-07-10 16:38] #1082 closed

[2018-07-11 00:16] masatake commented on #1790
Though Vk and Vkey are not listed in your "The tags output you expect:", I guess what you expect are Vk and Vkey.

This behavior of ctags is expected and its limitation. Quoted from ctags.1 man page:
[code]
[code]

[2018-07-11 00:20] masatake commented on #1777
Implemented in #1779.

[2018-07-11 00:20] #1777 closed

[2018-07-11 15:51] jerome-caucat opened #1793 "C++: Parsing error with pointer to member function"
The name of the parser:

C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

Building it locally, via GNU/Linux distribution.

[2018-07-11 15:54] jerome-caucat commented on #1793
Same as #1788 sorry for the duplicate...

[2018-07-11 16:32] #1793 closed

[2018-07-11 16:32] b4n commented on #1793
@jerome-caucat no problem, and your test case is great to have.

[2018-07-11 16:49] jerome-caucat commented on #1787
The problem also occurs with calls to templated functions:

`func<int>(var);`

var is wrongly detected as local variable of type `func<int>()`

[2018-07-11 17:44] masatake opened #1794 "Cxx, docs(man): add ctags-cxx.7.rst.in man page"
@pragmaware, I think we need ctags-cxx.7 man page that explains fundamental limitations about C/C++  (and CPreProcessor) parsers.

docs/parser-cxx.rst is for developers including me.
man/ctags-cxx.7.rst.in is for users.

"OPERATIONAL DETAILS" section  of ctags.1 and docs/parser-cxx.rst are good place to start.

I will add a stub.

[2018-07-13 08:36] jerome-caucat commented on #1790
Would it be possible to control which branch of conditional preprocessor directives is parsed with an option?
For example `-D TWO_ALTERNATIVES` to undef and `-D TWO_ALTERNATIVES=42` to change the value.

Otherwise I guess one option would be to use perl to comment/uncomment sections beforehand...

[2018-07-15 18:11] masatake commented on #1085
@b4n, thank you for the comment.

Till releasing 6.0, about the command line interface, I would like to introduce arbitrary incompatibilities as much as possible if I think they are really needed for the future develoment of ctags. However, as far as I can remember the incompatiblity about this issue and the "~/.ctags.d" issue are the biggest ones.

I follow the rule I introduced:
(1) Describe the

[2018-07-15 18:22] masatake opened #1796 "Cxx: introduce prototype role"
See #1783 about the background of this issue.
The original prototype should not be remove. Removing it will break the compatibility with existing client software.

[2018-07-15 18:23] masatake opened #1797 "Cxx: introduce using role for name kind"
See #1783.

[2018-07-17 02:18] masatake commented on #1085
... I'm afraid I'm going wrong.

I wonder '--file-scope' should be represented/controlled in an extra flag.
Instead, introducing ``--scope=`` option will be better.

Let's consider following input:
[code]

`--_scope=+{global}` (or `--_scope=+g`) is for capturing `globalv` and `globalf`.
`--_scope=+{file}` (, `--_scope=+f` or --file-scope=yes) is for capturing `filev` and `filef`).
`--_scope=+{loca

[2018-07-17 06:02] #1787 closed

[2018-07-17 06:03] #1788 closed

[2018-07-17 18:28] doronbehar opened #1798 "lua: function declared inside an object is not tagged correctly"
The name of the parser: `lua`
The command line you used to run ctags:
[code]
The content of input file:

[code]

The tags output you are not satisfied with:
[code]

The tags output you expect:

[code]

The version of ctags:

[code]
`ctags` was build from source from this repository.

[2018-07-19 05:44] mkreddy007 commented on #1488
Will this feature get put in? ctags doesn't understand structs or any custom member types in system verilog. Also it doesn't understand multi dimensional arrays.

wire [3:0] [3:0] foo; gets ignored.

[2018-07-19 17:45] masatake commented on #1798
Thank you for contacting.

The lua parser is incomplete to implement what you want quickly. For example, it doesn't capture
a variable like `myVar` in your example.
The current implementation is line oriented.  It must be rewritten in token oriented style.
Rewriting it is a small thing.

Difficulties are in what kind of output do we want for a dynamic language like lua.
JavaScript looks similar to

[2018-07-20 15:17] doronbehar commented on #1798
Thanks for your reply, I hope it will be easy enough to rewrite the lua parser as you say.

First of all, the thing that is most important for me to point out in this discussion, is that `ctags` should write in the `tags` file (with my example) `myVar:myMethod` and not just `myMethod`. That's because the function `myMethod` will be called with `myVar:myMethod()` in other locations. Otherwise text

[2018-07-21 09:17] eliasdaler commented on #1798
I'm very interested in improvement of Lua's parser. There's a lot of things to consider, but it looks like it should kinda work like JS/Python/Ruby parsers which are pretty good, as far as I know.

@masatake, what would be a good starting point for improving the parser?

[2018-07-21 11:01] masatake commented on #1798
@eliasdaler, thank you!

* Please, read "TAG ENTRIES" in man/ctags.1.rst.in. I would like to understand the concepts, "kind" and "definition".
* As I wrote in the comment of this issue, the JavaScript parser in ctags may be helpful for desiging kinds for Lua parser.
[code]
Give variety input to the JavaScript parser, and see the output.

* The implementation of JavaScript parser (parser/jscript.c)

[2018-07-23 05:52] doronbehar commented on #1798
@masatake, that's a great suggestion, using something like `table:myVar` is far better then `signature` yet perhaps it could be nice to have them both there.

It is clear to me that the text editor should be prepared to read the `tags` file and know the file type inorder to jump accordingly to the correct definition etc.
Having such hints at the end of the line would be a great start for someone w

[2018-07-23 20:03] masatake commented on #1038
Could anyone review the change about man pages in #1737 ?
Updating the man pages is must for releasing.

[2018-07-25 23:04] dsifford commented on #89
@masatake @cweagans Should this issue be reopened? Has support ever been added for this/is this still being considered?

[2018-07-30 01:21] dylan-chong commented on #1758
The licence was changed on that repository! So we can incorporate elixir now!

[2018-07-30 02:39] alphaCTzo7G opened #1805 "Universal ctags inserts invalid `utf-8` characters for certain files"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2018-07-30 03:05] masatake commented on #1758
See #1806. More test cases are needed for merging the pull request.

[2018-07-30 09:12] b4n commented on #1805
Sounds like #1275 to me: the new `pattern-length-limit` option is cutting at an arbitrary byte position, which happens to be in the middle of a character sequence.  See #163, #640 and #1018.

Something like https://github.com/universal-ctags/ctags/issues/1275#issuecomment-274489859 should probably be implemented to fix this.

[2018-07-30 10:21] b4n commented on #1805
@alphaCTzo7G see #1807, does that properly fixes it for you?

[2018-07-30 14:43] masatake commented on #89
@dsifford, you can reopen it, of  coruse. However, I will not work on the item till releasing.
You can make a pull request to implement what you want. As far as you update the documents in the pull request, I will review.

I don't want to take my time for impriving ctags more for this item.

[2018-07-30 15:44] cweagans commented on #89
Reopening in case someone wants to tackle it.

[2018-07-30 15:57] alphaCTzo7G commented on #1805
@b4n, thanks for your quick response...

On the files that I posted here `_identifier.py`, using the #1805 commit, `ctags` no longer inserts invalid characters/cuts at a arbitrary location.

As `ctrlp` and `ctrlp-py-matcher` are very popular plugins, tt would be great if #1805 is merged so `vim` and other text-editor users can use `ctrlp` and `ctrlp-py-matcher` without having to worry about this i

[2018-07-30 16:48] tonymec commented on #1805
IIUC, ctags (Exuberant ctags, I mean, which is only one of the ctags programs available) is distributed separately from Vim (even if its author knows Bram and even if they occasionnally work together to make Vim and ctags work better together.

From a ctags point of view, it is legitimate to treat program text as just strings of bytes: regardless of whether it is UTF-8, Latin1, Latin9 or some othe

[2018-07-30 17:44] alphaCTzo7G commented on #1805
@tonymec .. makes sense.. I realize that there may be other tag generation programs, but `universal-ctags` is the most popular, and among the people using `universal-ctags` my guess would be that a large part is `vim` users.

So I wondering if these 2 might work or you have any other ideas of how to handle files that have illegal `utf-8` characters?

1. I also noticed that `ctags` has this option

[2018-07-30 21:06] b4n commented on #1805
@alphaCTzo7G I agree with @tonymec and his conclusion.

Unfortunately, it's a lot of trouble recognizing the *proper* encoding -- and I insist on proper, because it's easy to find an encoding in which the input would be technically valid, say most if not all 8bit encodings would, but knowing whether it's the right one is tricky or impossible: say, how can one be sure between e.g. ISO 8859-1 and 88

[2018-07-31 00:09] alphaCTzo7G commented on #1805
@b4n, appreciate your comment. I actually deal mostly with `utf-8` encoded files and have `utf-8` encoded for the files I create. Unfortunately, as you mentioned I do use libraries which tend to have sometimes arbitrary encodings.

I use `vim-gutentags`, and it does provide a post-processing functionality. While I could manually post-process the tags file to result in all files in `utf-8` characte

[2018-08-06 00:10] #1275 closed

[2018-08-06 00:10] #1805 closed

[2018-08-06 09:07] jinleileiking commented on #1798
wait for complete. If the plugin can write by golang, I want to contribute.

[2018-08-06 13:57] tregusti commented on #660
Any progress on the cygwin path?

- `pkg-config`
- `libiconv`
- `libiconv-devel`

needed to be installed for me under cygwin before I could install it with [autotools](https://github.com/universal-ctags/ctags/blob/master/docs/autotools.rst). Maybe some info about probable deps that needs to be installed could be added?

[2018-08-09 03:02] masatake opened #1813 "C++: vg reports "Conditional jump or move depends on uninitialised value""
When I run "make units VG=1 LANGUATES=C++", valgrind reports following issue:
[code]

I can reproduce this with calling valgrind directly like:
[code]
@pragmaware, could you look at this?

[2018-08-09 05:40] mwean commented on #1038
Now that you merged #1737 are you open to tagging a release? 🙏

[2018-08-09 06:07] masatake commented on #1038
#1737 is not merged yet. Much more manual page updates are needed for releasing.

[2018-08-09 22:09] hadrielk opened #1816 "CMake parser"
Hi, I've written a CMake files parser using the optlib multi-table regex options. It only tags basic things like build target names, cmake variables, cmake function names, etc. My questions are:

1. Is this something useful that you want?
2. If yes, should I create a PR for this repo, or the [ctags-xparsers](https://github.com/universal-ctags/ctags-xparsers) one?
3. Should I use optlib2c and inclu

[2018-08-10 02:40] masatake commented on #1816
Today is one of the most delightful day in my free software programming life.
As far as I can remember, other than I, you are the first person who uses the multi-table regex feature.
I'm suppressed at there is a person who can use it because the feature is not documented enough.
I guess you read my puppetManifest.ctags.  Any comment for the feature itself and pull request for its documents are rea

[2018-08-10 04:26] hadrielk commented on #1816
Actually, no when I wrote the C++ macro expansion one I just read your [Extending ctags](http://docs.ctags.io/en/latest/extending.html) section of the docs, so I had to do a lot of trial and error to get it working right. The `-V` verbose output you print is *really* useful for doing that, and is really great.

It's only when I wrote the `CMake` one that I went to look at the ones already in the `

[2018-08-11 02:00] arichiardi commented on #1657
Sorry to write here and I very newbie question, but how to use the compiled version of this patch in a `gtags_parser` entry?

I see I need `.la` files there, but `make` does not produce them?

How does it work?

[2018-08-11 02:11] masatake commented on #1657
this patch? which patch?

[2018-08-11 05:07] masatake commented on #1813
Thank you !

[2018-08-11 07:17] jia1546 opened #1819 "ctages autogen compile error"
I run the autogen.sh script and got an error. The output is as follows:
[code]

[2018-08-11 08:44] masatake commented on #1819
You may use automake 1.14. Please, try again after updating 1.15.

[2018-08-11 21:38] b4n commented on #1819
Isn't that a Perl error because a new Perl version made some regex thing more strict or so?  I think I remeber this from a little while ago.

[2018-08-12 00:00] hadrielk commented on #1819
yup: https://rt.perl.org/Public/Bug/Display.html?id=130497

[2018-08-12 01:07] hadrielk opened #1821 "optlib2c generates invalid C-string when regex has double-quotes in certain cases"
When a regex has an escaped-backslash followed by double-quotes, the double-quotes are not escaped in the generated C-code from optlib2c.

For example:
[code]
should be perfectly legal, and works when used in a `.ctags` options file. The first `\\` escapes it in regex so that a literal `\` has to be found, followed by a `"`. So it would match an input string of:
[code]
With `optlib2c`, it correctl

[2018-08-12 15:31] hadrielk opened #1823 "Segfault if base language flags given while new subparser uses `{dedicated}` mode"
`ctags` segfaults given the following options.ctags and a `.cpp` file to parse:
[code]

If the `--kinds-C++=*` is removed, it works fine. If it's replaced with `--fields-C++=+{properties}` it segfaults. So long as no `C++`-specific options are given, it works fine.

Alternatively, if `--langdef=Test{base=C++}{dedicated}` is changed to `--langdef=Test{base=C++}`, it does not segfault. (of course it

[2018-08-12 18:35] masatake commented on #1821
Fixed in #1822.

[2018-08-12 18:35] #1821 closed

[2018-08-12 18:59] masatake commented on #1823
I knew it. I am surprised at this report because I expect none can find this bug.

This is related to the order of the initializations of parsers.

Original I expected initializations are done in following steps.

1. Links between parsers including relations base parsers and subparsers are established. (linking stage)
2. initialize parsers

In your case, My code expects `--langdef=Test{base=C++}{d

[2018-08-13 02:49] hadrielk commented on #1823
Cool, do I get some award? 😄

ok sounds good. Thanks!

[2018-08-13 03:02] hadrielk commented on #1823
BTW, I've confirmed if I move the `--kinds-C++=*` to be *after* the `--langdef=Test{base=C++}{dedicated}`, it works fine.

[2018-08-15 01:56] #1816 closed

[2018-08-16 00:37] wmm125 opened #1830 "Interactive mode show duplicated list of results"
I'm running universal ctags in interactive on a java code (also available at: https://raw.githubusercontent.com/ShadeWalker/Tango_AL813/master/packages/apps/Email/src/com/android/email/activity/setup/AccountSetupNoteDialogFragment.java) and I got 36 json output tags when expected result is only 16.
This behavior can not be reproduced in non interactive mode.

*****

The name of the parser:

The co

[2018-08-16 02:03] masatake commented on #1830
Reproduced with the following shorten input:
[code]
The output:
[code]

If the lines inside `onCall` method empty, it is not reproduced:
[code]
So I guess this is a bug of Java parser.

[2018-08-16 02:07] masatake commented on #1830
This is not reproduced in Exuberant-ctags.

[2018-08-16 22:49] hadrielk opened #1832 "C++: constexpr variable declarations aren't tagged"
None of the following is tagged:

[code]

I'll submit a PR.

[code]

[2018-08-19 00:17] hadrielk opened #1835 "Docs: get rid of the optlib man page and just point to docs.ctags.io"
I was updating the `man` page for `optlib` (`man/ctags-optlib.7.rst.in`), and it feels very redundant with the optlib "Extending ctags" chapter of http://docs.ctags.io, mostly from `docs/optlib.rst`.

So I'm wondering: why do we need to document this stuff twice? Why don't we just have the main `man` page say to go read http://docs.ctags.io/en/latest/extending.html for details about extending ctag

[2018-08-19 17:29] vToMy opened #1837 "Unicode file names aren't recognized"
Running ctags on Unicode file names fails to open them.

**Example**
For a file called:
`こんにちは世界.txt`
Running:
`ctags --options=NONE *`
Will produce:
[code]

[2018-08-19 22:04] hadrielk commented on #1837
Works for me:
[code]
What operating system are you running on, and what version ctags?

[2018-08-19 22:30] vToMy commented on #1837
OS: Windows 10 (Version 10.0.17134 Build 17134)
ctags version:
[code]

[2018-08-20 01:53] k-takata commented on #1837
This is a long-standing issue on Windows.
We currently use ANSI APIs, but we need to use Unicode APIs to handle Unicode file names.
This is a hard work, though.

[2018-08-20 09:39] masatake commented on #1739
I'm working on reimplenting the java parser with using a parser generator.
What I got today is what you wanted:)

I have to work on this item more.

[code]

[2018-08-20 16:33] hadrielk opened #1839 "Feature request: add a --list-excludes option to list the excluded files"
As explained in PR #1834, the list of built-in excluded files/directories has grown beyond what the `man` page shows. So add a `--list-excludes` that prints them out.

[2018-08-20 16:34] masatake opened #1840 "RestructuredText: update the copyright notice of rst.c"
See #1838.

[2018-08-21 00:07] hadrielk opened #1842 "Is make-dictfiles.sh still used?"
There's a shell script: `/misc/make-dictfiles.sh`, and it's not clear if it's still necessary/used, or should be removed. When I run it, a whole bunch of git-tracked files change, so I'm guessing it hasn't been run in a while. When I add an option/keyword/language in a PR, am I supposed to run this script and push the changes in that PR too?

[2018-08-21 02:09] hadrielk commented on #1839
Done in #1841.

[2018-08-21 02:09] #1839 closed

[2018-08-21 02:14] hadrielk commented on #1566
Asciidoc is now in universal-ctags, with PR #1838.

[2018-08-21 10:04] masatake opened #1844 "Java: file field for enum constant"
The name of the parser: Java

The command line you used to run ctags:  --options=NONE -o - /tmp/e.java

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:
[code]

[2018-08-21 10:05] masatake commented on #1844
I think file: field is not needed for `A`. How do you think?
I'm working on peg based new Java parser. I will fix this in the new parser.

[2018-08-21 16:51] mightymicha opened #1846 "Umlaute in tags"
The name of the parser: Latex

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
AUR: universal-ctags-git
)

Hello! I wanted to ask whether I miss some option which disables utf8-encoding in the tag names? I alre

[2018-08-22 23:01] hadrielk opened #1851 "Using '--[extras|kinds|fields]-<LANG>=...', for a langdef before adding regexes yields no scoping"
If you define a new language using `--langdef=Foo`, and add a kind/field/extra to it called `bar`, and then do a `--extras-Foo=+{bar}`, or `--kinds-Foo=+{bar}` or `--fields-Foo=+{bar}`, and you do that *before* you define the regexes for it, then the resultant tags no longer have the scope information.
If you do those `--[extras|kinds|fields]-<LANG>=...` commands *after* you define the regexes, th

[2018-08-23 00:18] hadrielk opened #1852 "Disabling a tag kind can screw up scoping in optlib regex and some built-in parsers"
If a tag would have normally been added to the scope info, but you disable that tag kind (`--kinds-<LANG>=-...`) for an optlib language using regex, then it won't be added to the scope info anymore, for other later tags.

For example if the tag was for namespaces, and normally it would push a new namespace scope... then if that tag's kind is disabled the namespace won't be pushed and anything tagg

[2018-08-24 11:16] b4n commented on #1846
@mightymicha could you test #1848 and see if it works for you as you'd expect?

[2018-08-24 12:26] mightymicha commented on #1846
It works for me thanks!

[2018-08-28 15:05] #1851 closed

[2018-08-28 15:33] masatake opened #1859 "Asciidoc: "Assertion `line[1] == '#' || line[1] == '['' failed.""
The name of the parser: Asciidoc

The command line you used to run ctags:
[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:
I'm not sure but ctags should not crash for any broken input.

The version of ctags:

[code]

How do you get ctags binary:
Building from the latest source code pulled from the git repo.

[2018-08-28 22:04] hadrielk opened #1861 "Changing the ctags regex engine"
Has anyone thought about changing ctags to using a more modern regex engine?

The current glibc-2.10.1 engine is... suboptimal. It's incredibly slow. And using the POSIX API misses pretty much every addition to regex engines that's happened in the last 20 years or so: lazy captures, non-capturing groups, atomic groups, possessive quantifiers, negative and positive look-ahead/behind, etc.

I've rec

[2018-08-29 03:57] hadrielk commented on #1859
fixed in #1860.

[2018-08-29 03:57] #1859 closed

[2018-08-29 04:00] masatake commented on #1861
I wrote a bit about this topic in #519.
[code]

I don't want to remove the current engine borrowed from glibc.
Instead I would like you to ADD the new engine.

I reserved `p` for the purpose. I also reserved `o` for https://github.com/k-takata/Onigmo.
Let's se `p` for PCRE.

I would like to write some concerts(issues) in this area.

1. updating the current engine to the latest code from glibc( or

[2018-08-29 04:03] masatake commented on #1819
@jia1546, please, reopen this if you get any update.

[2018-08-29 04:03] #1819 closed

[2018-08-29 05:15] hadrielk commented on #1861
OK, but we'd have to either rename the current regex functions of glibc's code, or `#define` them to some other tokens before compiling and including them - since PCRE's posix API uses the same `regcomp()`, `regexec()`, etc. Or do you mean to use PCRE's native (non-POSIX) API?

I thought you didn't like short letters. 😉
So what would `p` mean exactly? Would it just mean "use PCRE for the engine fo

[2018-08-29 08:54] b4n commented on #1861
Just a few thoughts:

* I personally prefer not including third party source code in the source tree and rather link when possible. I however understand that if a dependency is not common enough to be reasonably expected to be everywhere, it makes sense to *fall back* on a submodule.
* In Geany, I'd like to avoid having several regex engines, and we're using GLib that has [GRegex](https://develope

[2018-08-29 17:28] hadrielk commented on #1861
A few years ago I was one of the core developers for Wireshark, and Wireshark uses GRegex, but it had a subtle issue that we hit regularly: [#837](https://gitlab.gnome.org/GNOME/glib/issues/837). Although I'm not sure that will matter for ctags?

There is one place in `ctags` that actually uses the `b` flag (i.e., POSIX BRE syntax): in `read.c` the `readLineFromBypassSlow()` function compiles the

[2018-08-29 23:04] masatake commented on #1861
I found we can remove `readLineFromBypassSlow`. I introduced it for xcmd. However, xcmd feature is gone now. See #1863.

[2018-08-29 23:05] masatake commented on #1861
Removing `b` is o.k. as far as we write it to man/ctags-incompatibilities.7.

[2018-08-29 23:11] masatake commented on #1861
@hadrielk, I misunderstood the interface PCRE provides.
Is Perl-style regex is upper compatible with POSIX?
If yes, we don't have to introduce `p` flag. If not, `p` is needed to use the Perl-style regex.

It seems that there are two issues.
* using PCRE directly or PCRE indirectly via glib
* mline-regex related incompatibility

[2018-08-30 02:03] hadrielk commented on #1861
I'm not sure I understand the question. PCRE (and PCRE2) provide a POSIX-compatible API: i.e., the same C-functions `regcomp()`, `regexec()`, `regfree()` with many of the same defined flags such as `REG_ICASE`. When you use the POSIX API, you *can* use a regex pattern that follows the Perl syntax... well, really it's a PCRE syntax because it has a [few differences from Perl](https://en.wikipedia.o

[2018-08-30 04:05] hadrielk commented on #1861
To get that part, I could write a trivial shim layer/API that gives ctags code a common API to use, and hides the details of which regex engine is being included/used. In other words, make it so that the code in `lregex.c` uses the shim API and isn't riddled with `#ifdef` stuff. So for example `lregex.c` wouldn't store a `regex_t*` in `regexPattern`, but instead an opaque pointer that would really

[2018-08-30 04:17] hadrielk commented on #1861
One really ugly brute-force way to solve this is: for multi-line patterns only, have ctags look into the regex pattern before compiling it, and if it finds a negated bracket expression, to add a `\n` newline character inside the negated brackets if one's not already there.

[2018-08-30 09:36] b4n commented on #1861
What I understand is *is PCRE able to interpret POSIX patterns like glibc does*, e.g. can libpcre be a drop-in replacement for the currently used library.
But then whether or not we need a `p` flag, the question would then be *are POSIX patterns valid PCRE patterns, and do they work the same?*.

That sounds like a good plan.  However, looking at the bug report you mentioned earlier (GLib's Unicode

[2018-08-30 15:31] hadrielk commented on #1861
yes all POSIX patterns are valid PCRE patterns.

No, not exactly the same. The "`[^;]`"  matches differently, which we can fix/work-around; the other difference is the longest possible match issue, which cannot be worked around, but is also unlikely to be a problem in practice I think. Normally your regex would have some other character after the alternation as a separator, and PCRE would then be

[2018-08-30 16:57] hadrielk commented on #1861
I saw one of them said that, but I don't know why - it *is* possible to make GRegex support PCRE2, as far as I can tell. A different developer suggested [it could be done](https://gitlab.gnome.org/GNOME/glib/issues/1085).

Yes, that would be the goal of the shim layer.

So far PCRE2 has mostly added some unicode improvements, more flags to tweak settings, and improved performance (in theory). Some

[2018-08-31 04:31] hadrielk opened #1864 "Remove the b/basic regex flag"
As part of #1861, this issue is to track removing the support for the "basic" regex flag that sets the pattern to BRE syntax.

The questions are:

1. Should the "b"/"basic" flag be removed altogether, and we pretend it doesn't exist? Or should it still exist in the list of flags, be annotated "deprecated" in the print output, and cause an explicit fatal error if used?

2. Should the "e"/"extend" f

[2018-08-31 07:42] masatake commented on #1864
Let's remove `b` for updating the regex engine.

Yes.

Please, keep `e` flag.  I assume `e` is still used in some old .ctags files.
Removing `b` has very strong reason. However, `e` has not.
Even if we remove `e`, we cannot reuse `e` for another purpose.

Both `e` and `b` are kinds of retired numbers.

BTW, though I like using long names for flags, we can still introduce a letter flag(short flag)

[2018-09-02 18:55] masatake commented on #1835
I will make an answer for this. Please, wait for a while.

[2018-09-03 03:37] Roy-Orbison opened #1865 "I don't think --program-prefix is being applied to man pages"
After building from source using the prefix `u` (because `ctags` already exists), `man uctags` gives "No manual entry" and `man ctags` gives the built-in one. I believe Exuberant changed the name of the man page to match the executable.

[2018-09-03 15:56] masatake commented on #1835
Sorry to be late.

We maintain two documents for 3 reasons.

1. My English skill.
   I would like to advertise a new feature I added. On the other hand, I would like to make our documents readable. So, I put documents not reviewed yet on the website.  Reviewed documents are moved to the man pages incrementally. When I move documents to the man pages from the website, I put marker "IN MAN PAGE" on

[2018-09-04 01:33] masatake commented on #1865
How do you give the prefix?
As far as I tested, it works fine.

[code]

[2018-09-04 02:03] Roy-Orbison commented on #1865
[code]

[2018-09-04 02:05] Roy-Orbison commented on #1865
[code]

[2018-09-04 02:08] Roy-Orbison commented on #1865
Even running `make install-man` explicitly creates no files.

[2018-09-04 06:52] #1865 closed

[2018-09-04 10:44] DevynCJohnson opened #1867 "Python: type hints (Was: CTags Issue in Geany IDE)"
When applying [PEP484](https://www.python.org/dev/peps/pep-0484/) (Type Hints) to variables, the list of "symbols" (in the symbol box in the Geany IDE) in the current file no longer displays the variables using type hints. The parser should be modified to recognize Python symbols using the format VARIABLE: TYPE = VALUE, rather than just VARIABLE = VALUE.

It [was suggested by the Geany developers]

[2018-09-04 13:09] masatake commented on #1867
It seems that ctags works fine even if the type hits are attached:
[code]

Do you have any example input for that ctags doesn't work expectedly?

[2018-09-04 13:49] fommil commented on #761
hi @masatake I'm trying to close all my open tickets that I don't plan to work on. If you're interested in working on this ticket, could you please copy the text into a new ticket?

[2018-09-04 14:47] masatake commented on #761
I will work on this item in the future.  I would like to keep this item open because the record of the discussion here will be valuable for me.

[2018-09-04 18:01] b4n commented on #1867
@DevynCJohnson report is a little misleading, because [PEP-484](https://www.python.org/dev/peps/pep-0484/) doesn't speak of annotating variables, which is introduced in [PEP-526](https://www.python.org/dev/peps/pep-0526/).

But in any case, our Python parser suppors both [PEP-3107](https://www.python.org/dev/peps/pep-3107/) (c.f. 60db69f094fa2c9c1647443b6a2b589e7c9bceb0, which is function annotati

[2018-09-04 18:01] #1867 closed

[2018-09-04 18:02] b4n commented on #1867
Please reopen if I missed something and we actually lack support for some of these in UCTags.

[2018-09-04 19:41] #1846 closed

[2018-09-05 00:37] masatake commented on #1846
@b4n, thank you.

[2018-09-05 03:08] masatake commented on #1867
BTW, it will be nice if we can put `TYPE` to "typeref" field of a tag for `VARIABLE`.

[2018-09-06 04:24] #1852 closed, assigned to nobody

[2018-09-06 11:18] masatake commented on #1864
I found there is a case using `b`: https://github.com/whiteinge/dotfiles/commit/b18ff64e5c97c203c4f74a85dc4ef60381c83266  .

[2018-09-09 18:32] fwmechanic opened #1869 "regression: --file-tags=yes not honored since commit 5010e849"
Problem statement:

Between commits edda51fb and 5010e849 file tags are no longer generated when `--file-tags=yes` is specified.  See the attached file tags.diff.txt which was generated per command lines provided below   (this regression was first identified when running commit 6712037d).

All binaries used are x64 non-debug win32 binaries taken from Universal-ctags/ctags-win32 project.

Command s

[2018-09-09 23:43] masatake commented on #1869
Reproduced.

[code]

[2018-09-10 15:27] fwmechanic opened #1871 "--file-tags[=yes] is undocumented?"
Perhaps a contributing factor for why #1869 went unnoticed for 6 months is that the --file-tags[=yes] option _seems_ to be undocumented (though I've been using this functionality for many years).

[code]

Filing a separate issue in hopes this apparent oversight can be corrected.

[2018-09-11 00:37] masatake commented on #1871
I have looked into the man page and `--help` output of Exuberant-ctags, the origin of Universal-ctags.
`--file-tags` is not found in them, though the option works well. I just knew.

You can use ``--extras=+f`` instead.
Rather, I would like to remove ``--file-tags`` option from ctags itself and its documents.

[2018-09-11 00:40] masatake commented on #1871
Providing the multiple ways to set an option can be a trouble. See #1085 to know how I struggled about this topic.

[2018-09-11 00:41] masatake commented on #1869
Could you try #1870 if you can build u-ctags on your platform.

[2018-09-11 00:43] fommil commented on #761
@masatake you can still link to this ticket from a new one and retain the full history. This word really help me out, as I am trying to clean up my "Issues" tab for a new job and I don't want clutter like this ticket getting in the way.

[2018-09-11 05:07] fwmechanic commented on #1869
Built from
[code]
using https://nuwen.net/files/mingw/mingw-16.0-without-git.exe from https://nuwen.net/mingw.html via `make -f mk_mingw.mak` per https://github.com/universal-ctags/ctags/blob/master/docs/windows.rst

[code]
Compare vs. previous data-points:
[code]

Looks good!  Thank You!

[2018-09-11 05:40] fwmechanic commented on #1871
Since `--extras=+f` is the documented/supported option equivalent in effect to `--tag-files` (I was unaware of but just verified this), perhaps the man page passage

could be changed to

?

This would allow sufficiently curious users who are ignorantly using the deprecated option to self-discover the supported alternative, while hopefully not encouraging users to adopt use of the latter option (as

[2018-09-11 15:12] #1869 closed

[2018-09-11 15:13] masatake commented on #1869
Thank you for testing.

[2018-09-13 17:41] dtikhonov commented on #761
@fommil, I don't see how you can override @masatake, who is the driving force behind Universal Ctags, with 2,700 commits versus your commit count of zero. Once you open a bug (or, in GitHub parlance, "issue"), this bugs becomes the property of the project. I believe you can unwatch it and not receive any emails about it.

Reopening.

[2018-09-13 18:36] fommil commented on #761
@dtikhonov @masatake please close this ticket. It is the only ticket in my https://github.com/issues window that shows tickets that are not relevant to my work.

[2018-09-13 18:36] #761 closed

[2018-09-13 18:36] fommil commented on #761
if you want to work on this, please create a new ticket and reference all the content here.

I do not think this is much for me to ask.

[2018-09-13 18:38] fommil commented on #761
or just copy paste the contents of https://github.com/universal-ctags/ctags/issues/761#issuecomment-373720839 into a fresh ticket.

[2018-09-13 18:44] masatake commented on #761
Could you make a temporal GitHub account just for copy-paste?
So you can do copy-paste by yourself.
Then, you can remove the account.

[2018-09-13 19:26] ghost opened #1874 "parallel ctags"
Original discussion in https://github.com/universal-ctags/ctags/issues/761

@masatake commented

[2018-09-13 19:27] fommil commented on #761
done! Thanks for letting me close this ticket. It cleans up my TODO task significantly.

[2018-09-16 08:11] cwfoo opened #1877 "scheme: add support for Racket"
Add support for the [Racket](https://en.wikipedia.org/wiki/Racket_%28programming_language%29) language.

The Scheme parser could be reused for Racket. Racket file extensions (e.g. `*.rkt`) could be added to these lines:
https://github.com/universal-ctags/ctags/blob/e522743d873abcfa4997fe6bad5f5cf634f57c6d/parsers/scheme.c#L113-L118

[2018-09-16 20:41] masatake commented on #1877
Could you open a pull request?

[2018-09-17 09:27] masatake commented on #1877
I don't know Racket well.

As far as reading its web site quikcly, racket can switch grammer (syntax?) for the input file with `#lang` notation. So choosing the scheme parser for ".rkt" file doesn't make good result.

What we need is a Rapcker parser which recognizes `#lang` notation and run a proper subparser.
http://docs.racket-lang.org/search/index.html?q=H%3A

Which non-S-exp language is popou

[2018-09-17 13:08] masatake commented on #1877
I see. Thank you.

[2018-09-22 12:51] blueyed opened #1883 "ctags -L: not possible to specifiy files with leading dashes (handled as option)"
The man page for `-L file` says:

This is a problem with real files with uncommon names like `-X`:

[code]

I've tried passing in `--` in front to ignore filenames like `-X`, but this results in:

[code]

I think `-L -` should either not accept/handle options (backward incompatible?), or skip option parsing after `--`.

My use case is using `rg --files | ctags --links=no -L -` to generate tags.

[2018-09-22 13:05] masatake commented on #1883
How about using ./ as prefix like:

[code]

[2018-09-22 13:18] blueyed commented on #1883
My input is coming from `rg --files`, so not easy to change.

Even doing something like `(echo --; rg --files) | ctags --links=no -L -` to work around this (if `--` would be supported) is not really convenient.

I found it rather confusing that `-L -` takes options in the first place.

[2018-09-22 14:31] masatake commented on #1883
[code]

If this works fine, could you consider to update man/ctags.1.rst.in?

[2018-09-22 14:38] blueyed commented on #1883
Hmm, the patch does not apply for me.. both with `patch` and `git apply -`.
Please consider creating a PR already - I can update the man page there then.

[2018-09-22 14:53] masatake commented on #1883
I see.

[2018-09-23 13:10] blueyed opened #1885 "Compiler warnings"
[code]

[code]

[code]

(on d17db99, from https://github.com/universal-ctags/ctags/pull/1884)

Arch Linux, gcc (GCC) 8.2.1 20180831.

[2018-09-23 17:58] masatake opened #1887 "Go: tags for methods(?) in an interface"
input.go:
[code]

X and Y are not tagged.

[2018-09-23 18:10] masatake commented on #1885
About the first one, I confirmed there is no real issue. However, using memcpy will be better than using strncpy. I made a pull request. See #1886.

The second one is really mysterious for me. I read the code again and again. However, I cannot find there is a real issue. I cannot fix it until I understand it.

About the last one, I made a pull request (#1888) to fix it. Thank you.

[2018-09-24 11:05] b4n commented on #1885
Agreed, I already did see it a while back and took the time to try and see what could be wrong, and my conclusion is that the compiler is mistaken here.
My reasoning is that the values it refers to are only used if `skipScriptContent()` returns `true`, which requires `found_start` to have been set to `true`, and the only way for this to happen also sets both `line_tmp[1]` and `lineOffset_tmp[1]`,

[2018-09-26 01:23] masatake opened #1889 "Incompatibity in command line handling"
E-ctags:
[code]

U-ctags:
[code]

[2018-09-26 11:08] EugeneManushkin opened #1890 "Debug assertion "Expression: c>=-1 && a<=255" failed when indexing .cpp file with "extern "C" {" line"
The name of the parser:
cpp

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
Building win32\ctags_vs2013.sln locally, via Microsoft Visual Studio 2015
)

[2018-09-26 11:27] EugeneManushkin commented on #1890
### Steps:
1. build win32\ctags_vs2013.sln via vs2015 in Debug configuration
2. Index .cpp file containing following line:
[code]
### Actual results:
![assertion dialog](https://user-images.githubusercontent.com/17314824/46076307-d43f3480-c195-11e8-881e-97f0f82a2670.png)

### Explanation:
The following code is invalid:
static void cxxParserSkipToNonWhiteSpace(void)
{
...
        g_cxx.iChar = **cp

[2018-09-26 11:40] EugeneManushkin commented on #1890
Looks very similar to #549 but there was problem with isalpha call

[2018-09-27 04:30] ditsara opened #1891 "run from docker"
I built the binary and packaged it in docker for my own use ([ditsara/universal-ctags-docker](https://github.com/ditsara/universal-ctags-docker)). Is this something the project maintainers would be interested in incorporating into daily builds, similar to the win32 binary?

[2018-09-27 17:11] masatake commented on #1891
I may be the worst person to answer the question.
I know how to build universal-ctags well. I'm using multiple customized Universal-ctags binaries:-P
Universal-ctags uses Docker only for testing purpose at circle-ci now.
I myself don't need it. So I wonder how potential users say.

How do you think to be a member of universal-ctags organization to run the project here?

[2018-09-28 07:35] ditsara commented on #1891
Sure, I'd be happy to be a member of universal-ctags and incorporate the project.

[2018-10-01 05:32] masatake commented on #1891
I sent an invitation to you.
You can make a repository for your work.
I have one very important request. Could you put a license notice to your Dockerfile?
So people can work on your work. Adding LICENSE or COPYING file is also good.

Following items are rather weak requests.
1. Improve README. I would like you to write more use case and command line examples.
2. Link libxml, libyaml, and libjanss

[2018-10-01 06:13] masatake commented on #1890
Thank you for reporting this.
I make a pull request #1894.
Could you try it?

I cannot reproduce this on my pc on which GNU/Linux runs. So I cannot verify whether my change fixes this issue or not. Anyway I added an test case base on your report to the pull request.

Envei if the original issue is fixed with #1894, I would like to keep this open. See "TODO" of the first comment of #1894.

[2018-10-01 18:01] masatake opened #1895 "What is `repr' in python.c"
@b4n, I have a question about python.c that you rewrote as a token-based parser.

I'm very interested in "reprCat". When I worked on extending Go parser, I had to write similar code.
(See 2235f9b5f57ee4335c92c8e41b5624615692c8b8).

I'm thinking about moving "repr" related code to the main part.

The question is what is "repr"?  Do you mean representation?
In my code, I use a word, "collector" for

[2018-10-01 20:01] b4n commented on #1895
Yes.  The name follows Python's own `repr()` builtin function.

From what I see, what you used in the Go parser is fairly

[2018-10-02 06:32] ditsara commented on #1891
@masatake thanks, I got the invitation. I'll take a look at the CI docs and try to get something started this coming weekend.

[2018-10-02 19:47] siegel opened #1896 "ctags -R hangs when encountering a TeX file which is missing a line break at EOF"
Summary: when using `ctags -R` to recursively process a directory, `ctags` will hang when it encounters a TeX source file in which the last line of a file does not end with a line break.

I have attached the example file.

Steps:

- place the attached TeX file in a directory by itself. (There may be other files there, they will not matter.) [junk.txt](https://github.com/universal-ctags/ctags/files

[2018-10-02 20:10] siegel opened #1897 "Objective-C++ parser output strips leading underscore from C function and C++ method names."
The name of the parser: Objective-C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

Remarks: the basic problem is that the underscore is being stripped from the tag name for "_Mumble" and "_MyFunction" in the tags output, but only for Objective-C++ files.

However, you

[2018-10-02 20:40] siegel commented on #1897
Here's a patch that I think will fix this:

[code]

[2018-10-02 21:12] b4n commented on #1896
I confirm there is an infinite loop with your sample file (well, with any file that has an identifier ending at EOF), although I reproduce it without `-R` just the same -- `ctags -o- junk.tex` hangs.

I'm to blame for this bug I introduced in #1848.  I submitted a fix in #1899.

[2018-10-03 00:59] masatake commented on #1897
Your fix looks correct.
Can I ask you to make a pull request?

[2018-10-03 01:00] masatake commented on #1897
Oh, sorry. You already made a pull request.

[2018-10-03 17:12] gtoph opened #1900 "Possible memory leak with opengrok"
Posted on the opengrok issue page as well as I'm not sure if there is a possible leak on their end or from ctags itself, but the memory usage seems to keep growing when doing the indexing.

I'm using the latest daily build (9/29 I think it is) but don't really have any more info that what you see below, but maybe the command line itself will point to something obvious?

![ctags_mem](https://user-i

[2018-10-04 01:13] masatake commented on #1900
It is up to what kind of input files are given.
At least I would like to know the programming languages used in the input files.

[2018-10-04 06:54] ahakanbaba opened #1901 "PuppetManifest parser does not recognize definitions if the name contains underscore."
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2018-10-04 06:57] ahakanbaba commented on #1901
The example is very similar to the already existing test case about fully qualified defines [here ](https://github.com/universal-ctags/ctags/blob/d0807887cc12014501a6692412763c5ea03ae60d/Units/parser-puppetManifest.r/puppet-fqdefinition.d/input.pp)

If you put an underscore anywhere in the name (`one_one::two` or `one::two_two`) the parser cannot find any tags.

[2018-10-04 06:59] ahakanbaba commented on #1901
It looks like  @masatake  has spent a lot of time on the puppetParser.  < FYI.

[2018-10-04 07:05] masatake commented on #1901
Can we use underscore char as the first character of a name?
Does puppet accept `define _one::two ...`?

[2018-10-04 07:09] masatake commented on #1901
The line in optlib/puppetManifest.ctags:
[code]
is wrong.
I wonder I should fix it with
[code]
or
I wonder I should fix it with
[code]
.

[2018-10-04 09:58] EugeneManushkin commented on #1890
@masatake , thank you for your pull request. Tested masatake:fix-out-of-range-input-for-isspace in my environment and seems the issue is fixed.

I'm OK with this fix, however I think that using STRING_SYMBOL and CHAR_SYMBOL is the source of potential problems. I would try to define STRING_SYMBOL and CHAR_SYMBOL as EOF. Perhaps some ctype calls handle this symbol in same manner as they handle 338 b

[2018-10-04 10:31] EugeneManushkin commented on #1890
Lua lexer is the example of using EOF as the special int argument for ctype calls. Here Lua lexer use ctype calls:
[code]
The last do-while cycle breaks when **save_and_next** returns EOZ (which is defined as -1 which is same as EOF). This happens when the *.lua file is ending with some keyword (typically 'end') **without line break**:
[code]
Let's see how save_and_next works:
[code]
And now we ca

[2018-10-04 16:12] ahakanbaba commented on #1901
Good question. I think only lowercase letters are allowed as the first character.
Looking at the [docs](https://puppet.com/docs/puppet/5.3/lang_reserved.html#classes-and-defined-resource-types), the regular expression to match is listed there as

[code]

The text at the docs also point this out.

[2018-10-04 16:12] masatake commented on #1890
Do you mean I should do like:
[code]
?

[2018-10-04 16:15] masatake commented on #1901
How about hyphen?
As far as reading https://puppet.com/docs/puppet/6.0/lang_data_string.html#bare-words, hyphen is acceptable as part of the body of a name.

[2018-10-04 16:33] masatake commented on #1900
Can I get the input files?

[2018-10-04 16:33] masatake commented on #1900
I have to run ctags under valgrind to find the leaking.

[2018-10-04 16:55] masatake commented on #1890
I cannot imagine the "some additional work."
[code]
In this case how I can do.

[2018-10-04 17:20] EugeneManushkin commented on #1890
In this code case EOF looks like redundant. I suspect the main problem is to distinguish STRING_SYMBOL from CHAR_SYMBOL. How many places contain such logic?

[2018-10-04 18:43] gtoph commented on #1900
Well there are probably over 10k files, plus I'm sure you understand, but there is no way I can give you source code :)

Not sure valgrind can be used on windows either, otherwise I could try to run it locally.

[2018-10-04 19:44] ahakanbaba commented on #1901
Himm, I do not think `bare-word` is what follows a `class` or a `define` statement.
The docs [here](https://puppet.com/docs/puppet/5.3/lang_reserved.html#classes-and-defined-resource-types) mention that:

If a "bare-word" were acceptable, I think the documentation at least would mention "bare-word"

I tried running [puppet-lint](http://puppet-lint.com/) as well

For the input.pp with a hyphen:

[c

[2018-10-04 21:13] b4n commented on #1890
The problem is simply having to add 2 new values that would have to be different from any char but still fit in it.  It's just not possible.  We won't just get away with defining those to other values, that by definition will conflict with something else.
So there are 2 solutions:
* rewrite the code not to introduce new "fake" characters
* properly handle "fake" characters everywhere it matters

-

[2018-10-04 22:42] masatake commented on #1890
The "fake" characters are the core part of the CPreProcessor parser's design. It is not a problem.
I will never rewrite it.

The problem was I extended and wrote some parsers stacked on the CPreProcessor parser without understanding the fake characters well. I reflect my understanding to the macros in cpreprocessor.h.

[2018-10-04 23:04] masatake commented on #1900
I cloned the source tree of Linux kernel (https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/).
And I checked out 67b8d5c7081221efa252e111cd52532ec6d4266f.

Then I run:
[code]

What I got is
[code]
There is no "definitely lost". The many part of "still reachable" come from XML parser.
I would like you to try to give only XML files to ctags, and tell me what happens.

[2018-10-04 23:33] gtoph commented on #1900
I can maybe see if cygwin can run valgrind, but I'm not going to hold my breath.
Also, just FYI, I got the full command line from the opengrok log and it's a doozy:

`16:12:07.610    FINE [org.opengrok.indexer.analysis] - Executing ctags command [d:\uctags-x64\ctags.exe --c-kinds=+l --langmap=clojure:+.cljs --langmap=clojure:+.cljx --java-kinds=+l --sql-kinds=+l --Fortran-kinds=+L --C++-kinds=+l -

[2018-10-05 04:20] ahakanbaba opened #1903 "Verify unit test inputs are syntactically correct in their own language"
While looking at the unit tests in `/ctags/Units/parser-puppetManifest.r` I have realized some of the *.pp files have errors in terms of puppet.

The errors I have discovered are the following:

[code]

Maybe running an acceptance test on these unit test input files is the right thing to do. Overtime these files change via manual edits and we want to make sure they are still syntactically correct.

[2018-10-05 11:16] b4n commented on #1903
Agreed, for all but expected-failures we should most probably have valid test files.

[2018-10-05 11:29] EugeneManushkin commented on #1890
Just greped "CHAR_SYMBOL" in entire ctags repository and found **just one place** where CHAR_SYMBOL is used:
[code]
I don't believe that it is impossible to rework this code without introducing another out of range constant.

@b4n , @masatake , I'm not insisting to do the way I suggested. As I said before **I'm OK with this fix**.

[2018-10-05 17:15] gtoph commented on #1900
Working on getting to actually work correctly when opengrok is running a real indexing, but I did get this on just a --version check:

[version_check.txt](https://github.com/universal-ctags/ctags/files/2451413/version_check.txt)

[2018-10-06 03:12] ahakanbaba opened #1905 "puppetParser does not descend into classes to generate tags for variable definitions."
*****

The name of the parser: puppetManifest

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]
(The 3rd line is the tag for the variable declaration inside a class. I may have a mistake in the regex there )

The version of ctags:

[code]

How do you get ctags binary:

Build

[2018-10-06 03:13] ahakanbaba commented on #1905
The input file is indeed valid puppet code

[code]

[2018-10-06 15:46] masatake commented on #1903
I have to use the usual phrase: pull requests are welcome.

[2018-10-06 15:51] masatake commented on #1903
We should put the command line for verifying the syntax to somewhere in our source tree.
@ahakanbaba, could you write it to ~/var/ctags/Units/parser-puppetManifest.r/README ?
This issue is parser-independent. So, we should provide a common tool and mechanism to verify the syntactical correctness of the test inputs. The tool must ignore "expected-failures" inputs.
The temporary solution is just put

[2018-10-06 19:15] masatake commented on #1900
I looked the attached file. It seems that they are all "still-reachable" leaks.
Ideally, "still-reachable" leaks should be zero. However, I think "still-reachable" leaks are acceptable.
In the much of cases, the "still-reachable" leaks don't grow during parsing.

I run `valgrind --leak-check=full --show-leak-kinds=all ./ctags --version` on my pc.
What I got is:

[code]
What I mind are "lost".

[2018-10-07 04:14] ahakanbaba commented on #1903
Thank for your comments @b4n .
What do you mean exactly by "expected-failures"?

While creating this issue, I was under the impression that ctags unit tests should always use valid input language. But upon further thought, that may not be true.
Thinking about the ctags use-cases, the user can run ctags anytime on any file. To give an example, even my puppetManifest file has a puppet syntax error,

[2018-10-07 06:53] masatake commented on #1903
@ahakanbaba, what you wrote is correct. The Units directory holds both types of test inputs.
I didn't define the strict rule for distinguishing the types.
However, in the most of all cases, the following rule can be applied: if a `.d` directory has an expected.tags file, associated input file should be syntactically correct.

[2018-10-07 21:39] jayceekay opened #1911 "JavaScript: more async tagging"
The name of the parser: `javascript`

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

not sure? but basically the above, but with a tag for the async class method

The version of ctags:

[code]

How do you get ctags binary: `homebrew`

i tried tackling this myself but there's not

[2018-10-08 05:57] ahakanbaba opened #1912 "PuppetManifest: ctags command never finishes on long puppet file"
I have a ~40K line long puppet file. ctags never finishes processing it. (I left it at lest 3-4 hours). Ctags is stuck at 100% cpu.

The example.pp file is attached.
[example.pp.zip](https://github.com/universal-ctags/ctags/files/2454788/example.pp.zip)

The file looks like this
[code]

A half certain observation: If I remove all the params from all the declarations (param_1 to param_8) ctags does

[2018-10-08 06:13] ahakanbaba commented on #1912
Attached to the process with lldb and this is the stack trace I got repeatedly couple of times

[code]

[2018-10-08 06:16] ahakanbaba commented on #1912
To further debug, I think I need debug-info. If there is a build flag that will generate the debug info, I would appreciate any help to set that up.

[2018-10-08 07:43] masatake commented on #1912
C source level debugger doesn't help for optimizing the mtable parser.
--verbose output may help us.

[2018-10-08 09:18] b4n commented on #1911
The reason you don't get a tag for `attrs` is not `async`, but that the JS parser currently doesn't understand the method syntax you used.  I'm not familiar with it either, but I'll try and study it to add support for it.
You can check that removing `async` doesn't help getting the method tagged.

Unfortunately there's not much more documentation that the code itself, and hopefully a few comments

[2018-10-08 10:59] masatake commented on #1912
Finally, I myself found `--verbose` option is very useful for optimization :-). Thank you, @hadrielk.

[2018-10-08 13:31] #1897 closed

[2018-10-08 14:33] masatake commented on #1912
About 30 times faster.

[2018-10-08 14:46] masatake commented on #1912
Please, try #1913.

[2018-10-08 14:47] masatake commented on #1905
Try #1910.

[2018-10-08 14:50] masatake commented on #1895
Thank you for answering the question. I will revisit this topic after reworking Go related pull requests.

[2018-10-08 14:50] #1895 closed

[2018-10-08 14:51] masatake commented on #1891
I invited @ditsara to our organization.

[2018-10-08 14:51] #1891 closed

[2018-10-08 14:51] #1885 closed

[2018-10-08 14:55] masatake commented on #1758
@dylan-chong, can I close this?

[2018-10-08 16:30] ahakanbaba commented on #1912
I have checked out masatake/puppetManifest-optimization, cleaned and re-compiled.  I still see that ctags is stuck at 100% cpu over several minutes.
Did you run on the ~40k line long example.pp ? Did it complete in your machine ?
I am using a 2016 MacBook Pro and after 10 minutes it is still running

[code]

[2018-10-08 17:32] masatake commented on #1912
I run example.pp. The new code is about 30 times faster than before. However, I don't say it completes in 10 minutes.  If it took a day on your pc, It will take an hour with the new code.

What happens if you make example.pp smaller?
If ctags enters an infinite loop, what you see is not a performance issue. It is a bug. In that case, a long input like example.pp is not suitable for reporting an is

[2018-10-08 21:45] dylan-chong commented on #1758
yup

[2018-10-09 01:09] masatake commented on #1758
None has worked on the test case for Elixir parser, so I close this.

[2018-10-09 01:09] #1758 closed

[2018-10-09 05:39] ahakanbaba commented on #1912
OK Fair enough.

I think your changes addressing this issue  are extremely useful. Thanks for your help here, again.

I ran the following experiment and the 40K line input did complete.  The files are named `example_<lineCount>.pp`

[code]

Having said that, I see a problematic tendency here.
Doubling the input size multiplies the runtime with about ~4x.
Does this look reasonable to you with knowi

[2018-10-09 05:48] ahakanbaba commented on #1905
With your changes in #1910 I was able to get the expected output. Thanks

[code]

[2018-10-09 07:17] masatake commented on #1912
Could you upload `example_<lineCount>.pp`.zip to somewhere?
I would like to run ctags with them on my pc.

[2018-10-09 16:57] masatake commented on #1912
Reproduced. I expected O(n). I cannot find a good explanation for O(n^2).

[2018-10-09 17:38] ahakanbaba commented on #1912
Ok Great. This is good news.
I have debugged similar performance problems with [valgrind](http://valgrind.org/) before. In the makefiles, there [looks like support](https://github.com/ahakanbaba/ctags/blob/eca6f84c26c542f9ad641560307a441ae497d18c/makefiles/testing.mak#L97) for valgrind.

In my experience, setting up valgrind was time consuming and tedious. But once that is done, you generate a cal

[2018-10-09 18:01] ahakanbaba commented on #1912
What do you say we close this issue with the improvements you have done and merge them. Because technically the 40K line file's processing does not take indefinitely anymore.

Then we can create another issue for the O(N^2) behavior.

[2018-10-09 18:03] masatake commented on #1912
Conceptually, the puppetManifestParser is not written in C.
The most of the part is written in the set of regex patterns.
If you are interested in improving the parser, please, consider to learn `_mtable-regex` option.

I should know the reason of O(n^2). However, I must work on another item about Go parser.

[2018-10-09 18:05] masatake commented on #1912
O.k. I will merge the pull request associated with this issue. Then I will clsoe this.
Feel free open a new issue. However, I cannot promise I will work on the item near future.

[2018-10-09 18:06] #1912 closed

[2018-10-09 18:07] masatake commented on #1905
Fixed with #1910.

[2018-10-09 18:07] #1905 closed

[2018-10-09 18:12] ahakanbaba commented on #1912
Thank you very much. I will create a new issue. Even if it will not be fixed soon, it is important to keep track of it.

[2018-10-09 18:17] ahakanbaba opened #1914 "PuppetManifest: Ctags execution time scales O(N^2) with the input file size."
Running the following example and see that if input size doubles, the ctags execution time multiplies with ~4x.

The files are named `example_<lineCount>.pp`

[code]

The files are attached here :
[examples.zip](https://github.com/universal-ctags/ctags/files/2461651/examples.zip)

They are all valid puppet code.

[code]

The name of the parser: PuppetManifest

The command line you used to run ctag

[2018-10-11 05:58] ahakanbaba opened #1916 "PuppetManifest: Need to consider top namespace"
In this issue I would like to raise attention about the `top namespace` in puppet. It is the global, top level namespace and its name is the empty string `""`.

From the documentation I was able to find one short mention about it [here](https://puppet.com/docs/puppet/5.0/lang_reserved.html#classes-and-defined-resource-types)

This means the following both includes are equivalent. (The extract is v

[2018-10-11 12:58] masatake commented on #1916
I read the comments of  #1724. I found the reason why I didn't merge the change because the documentation is not completed.

@ahakanbaba, to solve this issue, we have to merge #1724.
So the question is, are you good at English?
I am always looking for patient volunteer.

[2018-10-11 16:51] ahakanbaba commented on #1916
Sure, I am more than happy to help. Let's move the discussion to #1724

[2018-10-14 12:00] qingkong1998 opened #1919 "why not support swift and oc language？"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2018-10-14 12:10] qingkong1998 commented on #1919
ctags ,tagbar and etc. ,vim plugins , but  why why not support swift and oc language？
![snipaste_2018-10-14_20-07-50](https://user-images.githubusercontent.com/13163880/46916420-3fd62e00-cfed-11e8-82bc-999d4912d6ee.png)

[2018-10-14 12:40] masatake commented on #1919
What is oc? Objective-C?

[2018-10-14 12:47] qingkong1998 commented on #1919
yes

[2018-10-14 12:51] qingkong1998 commented on #1919
but swift also not support well

[2018-10-14 14:58] masatake commented on #1919
ctags doesn't support swift because none wrote a parser for it.
ctags supports ObjectiveC.

[2018-10-14 15:01] #1896 closed

[2018-10-14 15:04] masatake commented on #1900
Reopen this if you find an input file causing "definitely lost", "indirectly lost", or "possibly lost".

[2018-10-14 15:04] #1900 closed

[2018-10-14 17:42] masatake commented on #1919
How not well?

[2018-10-14 17:59] masatake commented on #1830
The shorten input I made misses a semicolon.
It should be:
[code]

For the above code, new Java parser I tested in #1847 emits following tags:
[code]
The new parser doesn't emit the duplicated tags.
It takes more time to merge the experimental code. But it solves the issue you reported.
If you are interested in trying the code, let me know.

[2018-10-15 01:53] qingkong1998 commented on #1919
the shotscreen above tagbar for vim support objective-C，but not support swift，although，support objective-C also not perfect！

[2018-10-15 01:57] masatake commented on #1919
How does not the objective-C parser of Universal-ctags perfect?
I don't understand it from the screenshot.
What kind of input the objective-C parser cannot parse well?

[2018-10-15 02:02] masatake commented on #1919
viewController implementation is parsed well.
Are you talking about viewController interface?
If yes, I would like to know your expectation about the result of parsing for  viewController interface.

[2018-10-15 02:36] masatake commented on #1919
About swift, someone must write a parser. So we cannot solve it quickly.
However, about ObjectiveC, we have a parser. It may be possible to fix ObjectiveC parser quickly.
To fix the ObjectiveC parser, I have to know how it is imperfect.
Could you let me know how ObjectiveC parser is not perfect?

[2018-10-15 02:57] qingkong1998 commented on #1919
I hope everything goes well！

[2018-10-15 02:59] masatake commented on #1919
I see.

[2018-10-15 02:59] #1919 closed

[2018-10-15 10:48] b4n commented on #1919
About Swift, I did start a parser a while back for a Geany feature request, but never got to finish it (to be fair, I never used Swift, so my main motivation was the fun of it).  I can try to dig it out one of these days and see if I could get it to a usable state.

[2018-10-15 11:00] qingkong1998 commented on #1919
thanks for all your effort，good luck

[2018-10-15 20:35] ahakanbaba commented on #1916
Thank you @masatake for putting this issue on your short term roadmap. I think I am blocked on this issue before strongly evangelizing universal-ctags/ctags usage with the teams I interact with. Let me know if there is anything I can help with.

[2018-10-16 16:07] masatake opened #1920 "PuppetManifest: fill inherits field"
[code]
In the above input, `base` should be recorded to `inherts` field of `sub1` tag.

To implement this, we have to provide the command line interface to fill *common* fields of tags.

I implemented `_field=FIELD:VALUE` regex flag. However, this one can only set parser specific fields of tags.

[2018-10-30 17:32] trevordmiller opened #1928 "How to use --exclude glob patterns?"
# Background

I've been reading through issues like https://github.com/universal-ctags/ctags/issues/759 and it seems that Universal Ctags does support some globbing patterns for `--exclude`.

For example, I've been able to get the following patterns to work:

[code]

This ignores files like `packages/some-dir/lib/some-dir/thing.js` as expected 👍

But I can't figure out how to do the equivalent of

[2018-10-31 21:03] trevordmiller commented on #1928
Thanks for looking into this!

[2018-11-01 19:03] trevordmiller commented on #1928
I've found a possibly related situation. I can't figure out how to do the equivalent of a `packages/*/parts/*` from a `.gitignore`. I've tried:

[code]

I want it to ignore files like `packages/some-dir/parts/thing.js`, which it does. But it also ignores all recursive matches like `packages/some-dir/src/some-dir/parts/thing.js`, which I don't want.

It seems to me with this situation and the one i

[2018-11-09 11:53] qingkong1998 opened #1932 "not support swift language"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2018-11-09 12:08] qingkong1998 commented on #1741
hello，how you solve ctags support swift language？

[2018-11-09 12:17] gonsolo commented on #1741
Hi!

You have to add a directory named .ctags.d to your home directory (I'm on
Ubuntu) and add a file called swift.ctags.
The content of that file is:
--------------------------------------------------------------------
# Swift definitions for universal ctags

--langdef=swift
--langmap=swift:+.swift

--kinddef-swift=v,variable,variables
--kinddef-swift=f,function,functions
--kinddef-swift=s,struct

[2018-11-09 12:38] qingkong1998 commented on #1741
but on Windows7，what should i do ？ at the same time i want  Ctags working with tagbar plugin also

[2018-11-12 05:09] qingkong1998 commented on #1566
swift and ObjectiveC

[2018-11-12 05:16] masatake commented on #1566
@qingkong1998, ObjectiveC is already supported though it will not be perfect.

[2018-11-12 05:44] qingkong1998 commented on #1566
but the solution is not perfect，I hope which like c++ tags sort as class members，...，produce a foldable outline？

[2018-11-12 05:53] masatake commented on #1566
I guess you are talking about vim or something client tools. ctags is just a command line tool. It just writes a tags file. I recommend you to report it to the community that drives the develoment of the tool.

[2018-11-12 06:06] qingkong1998 commented on #1566
Gvim，work with tagbar and cscope ，ctags plugin ，a tags lists like MsWord outline，sort as class，members ，....

[2018-11-12 06:10] qingkong1998 commented on #1566
members of A class should sort into a，and so on with other classes

[2018-11-12 06:20] masatake commented on #1566
All they are issues about Gvim's ctags plugin. You should talk to the developer of the plugin.

[2018-11-13 23:34] gpavlov2016 opened #1933 "JavaScript: Object functions containing function calls are not recognized"
Example:
[code]
In this case func1 is recognized but func2 is not.
Interesting that if the call inside func1 is removed then both func1 and func2 are recognized:
[code]

[2018-11-13 23:37] masatake commented on #1933
What language are you talking about?

[2018-11-13 23:39] gpavlov2016 commented on #1933
JavaScript ES6

[2018-11-13 23:40] gpavlov2016 commented on #1933
JavaScript ES6

[2018-11-13 23:55] masatake commented on #1933
@b4n, can I ask you to look at this?

[2018-11-14 00:43] masatake commented on #1933
[code]

[2018-11-20 20:27] vladak opened #1935 "how to ignore certain lines"
In our code base we use a set of macros for C code that suppress some warnings, e.g.
[code]
however these macros cause the function definition not to be recognized:
[code]

In particular, the parentheses prevent the definition from being detected.

Using the latest ctags (as of now) built from source.

This is more of a question rather than bug report - is there perhaps a way how to ignore certain

[2018-11-21 05:59] ahakanbaba commented on #1916
@masatake Sorry to bother you about this, but any luck on improving the puppet parser ?

[2018-11-21 10:35] vladak commented on #1935
This leaves the part of the macro in the `typename` however at least the definition is present. Thanks !

[2018-11-21 11:44] pragmaware commented on #1935
Define a macro with a parameter.

--

STS

Il mer 21 nov 2018, 11:35 Vladimir Kotal <notifications@github.com> ha
scritto:

[2018-11-21 15:21] vladak commented on #1935
Cool, `-D'NOTE(arg)'=` works.

st 21. 11. 2018 12:45 odesílatel Szymon Tomasz Stefanek <
notifications@github.com> napsal:

[2018-11-22 06:03] masatake commented on #1916
This issue is not easy to fix. Various areas must be refined before fixing this. #1934 is one of the such effort.
This is still at the top of my todo list. However, many sub items are in the todo item.

[2018-11-22 15:33] andreasbaumann opened #1937 "sandboxing fails for 32-bit Intel"
Tested on 32-bit Intel, Archlinux32.

The following tests are failing:

[code]

A single execution of:

[code]

results in:

[code]

There are some seccomp_rule_add missing for the 32-bit kernel.
(Pull request follows)

[2018-11-22 15:35] andreasbaumann commented on #1937
Pull request is #1938 .

[2018-11-24 08:50] b4n commented on #1933
I'll look into it, but it might take a little while.

[2018-11-26 03:43] masatake commented on #1937
Fixed by #1938.

[2018-11-26 03:43] #1937 closed

[2018-11-26 03:44] masatake commented on #1937
Thank you.

[2018-11-26 03:45] masatake commented on #1935
Can I close this?

[2018-11-26 03:47] masatake commented on #1928
I should make a pull request for the change and write about the incompatibility in our man page.
I will do them when I can find time.

[2018-11-26 06:50] vladak commented on #1935
Yes.

po 26. 11. 2018 4:45 odesílatel Masatake YAMATO <notifications@github.com>
napsal:

[2018-11-26 07:17] #1935 closed

[2018-11-26 11:31] groteck opened #1939 "Improve Elm tags"
I would like to improve the Elm lang parser with the signature, but not sure about how to do it. If you point me to some docs or examples I can try to do a PR.

The actual output from elm `functions` is:

[code]
I would like to have something like:

[code]

[2018-11-26 16:14] masatake commented on #1939
I would like to see the input for the output because I don't know Elm well.
Some hints for making a signture are in http://docs.ctags.io/en/latest/optlib.html#adding-custom-fields-to-the-tag-output. Good luck!

[2018-11-26 16:31] groteck commented on #1939
Sorry the code example will be:
https://github.com/universal-ctags/ctags/blob/master/Units/simple-elm.d/input.elm#L28

The actual output is:
https://github.com/universal-ctags/ctags/blob/master/Units/simple-elm.d/expected.tags#L14

My proposal will be add the signature:

[code]

[2018-11-27 00:51] groteck commented on #1939
I get something working and looks promising:

**Input:**

[code]

**Optlib:**

[code]

**Output:**

[code]
This also works with the multiline signatures like:

[code]
**Output:**

[code]

but the `output` needs to be pre-formatted, there is some way to remove the `\n` from the multiline signatures?

[2018-11-28 00:45] masatake commented on #1939
The feature what we need is `_transform` flag that you can specify like
[code]
The flag is NOT implemented yet.
I have a sketch that doesn't work with current code base:
[code]

I'm sorry that I have no time for working this topic now.
However, if you know C and you have much interests about ctags, you can start from the above patch.

BTW, scope flag may not work with the multi line parsr.

[2018-11-28 00:49] masatake commented on #1939
I also planed embedding a postscript alike interpreter and ebpf alike backend(?)  to ctags to allow users to define a transformer from command line.

[2018-11-28 03:33] trevordmiller commented on #1928
I'm looking forward to it, thanks so much!

[2018-11-28 08:06] groteck commented on #1939
My C skills are limited but I can give a try :) I will create a PR with the one line solution and wait try to add the transform In a different one, Tanks!!!

[2018-11-29 12:02] Lennon925 opened #1940 "ctags can't support chinese file path"
Ctags command can't support file path if it includes chinese. Following command can't return any results.
ctags --output-format=json --fields=+ne -o - D:\测试\linux-master\alpha\boot\main.c

[2018-12-05 05:48] orchistro opened #1942 "fails to detect C++17's inline variable definitions"
Before I start reporting, for your information:
https://stackoverflow.com/questions/38043442/how-do-inline-variables-work

The name of the parser: C++

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]
As you can see, the tags output is missing the difinition of `mVar2` and `gVar`.

The tags output you expect:

[2018-12-05 07:31] masatake commented on #1942
@orchistro, thank you for reporting this issue.
With the following patch, ctags can capture inline'ed variable.
However, I wonder how typeref field should be.
@pragmaware, could you look at this?

[code]

[2018-12-05 08:35] orchistro commented on #1942
@masatake Thank you for the quick patch. It works.
As to typeref field, I think it should stay as it is :-)

[2018-12-05 12:02] pragmaware commented on #1942
Yep, will take a look soon.

[2018-12-05 19:44] pragmaware commented on #1942
Fixed via #1944

[2018-12-05 19:44] #1942 closed

[2018-12-10 15:39] pqnhan opened #1946 "Please support nasm filetype."
I use Vim as my main editor. Ctags can't work if I set filetype as nasm.
How can I fix it? I think it's exactly the same, but ctags don't detect nasm extension.

[2018-12-11 04:52] pqnhan commented on #1946
I'm using .asm as the extension, then set filetype in vim is Nasm.
When I do that, ctags can detect any label and function.
p/s: I use tagbar plugin in vim.

Can I config ctags identify Asm filetype as Nasm?

[2018-12-11 05:10] masatake commented on #1946
... A bit storange. .asm is already registered as an extension for Asm parser.
ctags doesn't use any knowledge about vim.

[code]

How about using ctags from command line like:
[code]

ctags may prints tags output for foo.asm to your terminal screen.
If it works fine, your trouble may be about vim. I don't know vim. So I cannot help you in that case.

If the command line doesn't work expectedly, t

[2018-12-11 08:31] pqnhan commented on #1946
It work correctly if I don't switch filetype in Vim.
I always set my assembly source file extension is .asm, I think the problem is the vim plugin.
Anyway, thank you for suggestion ;)

[2018-12-11 08:33] #1946 closed

[2018-12-14 10:58] maxnordlund commented on #1911
To be fair, that is non-standard syntax. The static/instance properties is not set in stone yet. But I guess it would be useful to add none then less.

I noticed a `sap` keyword in the parser that I don't recognize, what is it for @b4n? I'm so curious 😄

[2018-12-14 11:22] maxnordlund opened #1949 "JavaScript: Missing methods inside modernish JavaScript class"
The name of the parser:
JavaScript (jscript.c)

The command line you used to run ctags:

[code]

<details>
<summary>The content of input file:</summary>

[code]

</details>

The tags output you are not satisfied with:

[code]

The tags output you expect:

The above, but also tags for the methods/computed properties.

The version of ctags:

[code]

How do you get ctags binary:

homebrew:

[code]

-

[2018-12-15 10:37] guerinp38 opened #1950 "C++ parser produces __anon tags with some methods definitions"
Hello,
My name is Patrice and I'm a new user of u-ctags.
I experienced the following when using u-ctags on my source files:
The tags file contains some **__anon...** words and I don't know why.
This seems to be related with the use of the **operator** keyword and the order in which they appear in the source file and may interfere with other closed methods.
So I've made some very small examples
***

[2018-12-15 14:00] hnakamur commented on #655
https://github.com/universal-ctags/ctags/issues/655#issuecomment-377699060
My merge requests for [adding manpages](https://salsa.debian.org/debian/universal-ctags/merge_requests/1) and [adding libxml2](https://salsa.debian.org/debian/universal-ctags/merge_requests/2) to the official Debian package are now merged.

[2018-12-15 16:03] masatake commented on #1950
I guess ctags recognize
[code]
as a lambda function.

The `const` modifier in the source code leads ctags to recognize the input as a lambda function.
I don't know well about C++. Is the input is a valid C++ program?

[code]

ctags may emit wrong results from invalid input.

[2018-12-15 16:08] masatake commented on #655
@hnakamur, thank you.

[2018-12-15 16:15] b4n commented on #1950
@masatake The example from the OP is valid C++, but should be completed like that:
[code]
[code]

And I confirm that it's incorrectly parsed by ctags:
[code]
What is recognized as `__anonf91803140102` should be the implementation pendant of the `operator []` prototype.

[2018-12-15 16:16] b4n commented on #1950
BTW, I also confirm that removing the `const` gets CTags to properly recognize the input.

[2018-12-15 16:59] b4n commented on #1950
Just for the sake of being annoying (and more through, although my C++ knowledge is vague at best), all this is perfectly valid:
[code]

[2018-12-15 17:01] b4n commented on #1950
I don't know the C++ parser and won't dig in just yet, but it seems to me that the best I can see to clearly differentiate lambdas at the top level is that they ought to appear on the right of an assignation.  But maybe they don't and @pragmaware knows better.

[2018-12-17 09:09] guerinp38 commented on #1950
Hello,
Thank you very much to all for this fix.
Great job !
Kind regards,
Patrice.

[2018-12-18 01:16] sshsu opened #1956 "Question: how to use ctags to generate multiple entries for name-equal local variables in the same file?"
I want to use ctags to make tags for the file test.cpp

[code]
I use the next command for generating tags file

`ctags --c++-kind=+lf test.cpp`
tags file content shown as below

[code]
when I use shortcut "g]" at fn2() temp in vim with the aim of jumping to defination of variable temp in fn2() ,then the menu appears and there are only one entry shown as below

[code]
I input the number "1" , it ju

[2018-12-18 02:23] WillDHB opened #1957 "ctags does not search %HOMEDRIVE%%HOMEPATH%/.ctags.d for configuration"
ctags version:
Universal Ctags 0.0.0(64f7d619), Copyright (C) 2015 Universal Ctags Team
Universal Ctags is derived from Exuberant Ctags.
Exuberant Ctags 5.8, Copyright (C) 1996-2009 Darren Hiebert
  Compiled: Dec 14 2018, 00:12:26
  URL: https://ctags.io/
  Optional compiled features: +win32, +wildcards, +regex, +internal-sort, +iconv, +option-directory, +xpath, +json, +interactive, +yaml, +case-i

[2018-12-18 03:21] masatake commented on #1956
[code]

We maintain Universal-ctags, unofficial fork of Exuberant Ctags.
If you have a trouble with  Exuberant Ctags, you can report it to https://sourceforge.net/projects/ctags/.
However, the project is not active.

u-ctags generates tags that includes both temp of fn1 and temp of fn2.
u-ctags prints scope information by default. So you can distinguish them.
Using "--fields=+n" looks good idea.
"

[2018-12-18 03:48] WillDHB commented on #1957
Yes, ctags.d works fine.  I hadn't checked that one.  Is .ctags.d supposed to work as well?

[2018-12-18 03:53] masatake commented on #1957
How do you know that ctags reads configuration files from `$HOMEDRIVE$HOMEPATH/.ctags.d`?
I guess you may read a document. I would like to know it. It is documentation bug.
By default, ctags doesn't read configuration files from `$HOMEDRIVE$HOMEPATH/.ctags.d`.
See ctags.1 man page.

[2018-12-18 03:54] masatake commented on #1957
[code]
Which docs?

[2018-12-19 00:19] WillDHB commented on #1957
Sorry, I meant to add the link, but must've forgotten. https://github.com/universal-ctags/ctags/blob/master/docs/optlib.rst

[2018-12-19 01:36] masatake commented on #1957
Thank you. I made a pull request. I will close this issue via the fix.

[2018-12-19 02:15] #1957 closed

[2018-12-19 03:43] sshsu commented on #1956
@masatake, many thanks for your assistance, I don't realize there are two different verions ctags until now, and I have changed my e-ctags to u-ctags, follow your adivce, I try it again, but still some problems,

[code]
I use "vim test.cpp" to edit,  move the cursor at the fn2' temp as below
[code]
then use shortcut "g]"  intending to make a optional jump, jump menu shows as expect
![screen](https

[2018-12-19 05:36] masatake commented on #1956
O.k. I will implement what I proposed in #1125.

[2018-12-19 05:39] masatake commented on #1956
Can I ask you to review man page when I implemented `--excmd=both` ?

[2018-12-19 06:33] sshsu commented on #1125
I think combined is ok, it is consistent with option "mixed" , right?

[2018-12-19 06:35] sshsu commented on #1956
OK, I am trying it now , I think "combined" is better, consistent with "mixed"

[2018-12-19 07:08] sshsu commented on #1956
sorry , I see the man page is --excmd="mix', so I think combine might be more suitable.
And I am not familiar with github, so trying so far but don't know how to pull you new commit to test.  Any tutorial?  or,  I can't pull your new commit until your pull request merge?

[2018-12-19 07:44] masatake commented on #1956
I see. Thank you.

1.  do git clone https://github.com/universal-ctags/ctags.git if you have not done yet
2. do cd ctags
3. do git checkout -b masatake-excmd-combined master
4. do git pull https://github.com/masatake/ctags.git excmd-combined
5. bash ./autogen.sh
6. ./configure; make
7. run ./ctags with --excmd=combined

[2018-12-19 08:05] sshsu commented on #1956
so nice of you, all it works, thanks

[2018-12-19 08:58] masatake commented on #1956
Thank you for testing. After changing the name from combined to combine, I will merge this change.

[2018-12-19 12:23] baiwfg2 opened #1960 "go to definition of function within current class"
Hi. I have a C++ member function `foo` in class A, `void A::foo();`. And I call it in a function `bar`.
[code]
When I put cursor under `foo` and press `g + ]`, I expect to jump exactly to the `foo` definition of class A, not the function of same name in other classes. This will greatly reduce the number of entries in the selection list when there're many same function name across the project class

[2018-12-19 13:44] masatake commented on #1960
ctags provides hints to implement such feature in a client tool like vim.

[code]

Consider you press "JUMP" key at `foo` of line 27 of foo.cpp.
The client tool scans backwards to find `a` as a object where the method `foo` affects.
The client tool memorizes `a` and `foo`.
The client tool searches `a` in tags file. The client tool finds:
[code]

From the found line, the client tool knows `a` is an

[2018-12-19 16:11] masatake commented on #1956
As far as reading https://github.com/vim/vim/pull/2546, https://github.com/vim/vim/issues/1057, and  https://github.com/vim/vim/issues/1057, I should not use line number directly. Instead, we should use line number - 1. How do you think?

[2018-12-24 15:01] stefantalpalaru commented on #1566
## Nim

After 3 PRs, it's still not supported: https://github.com/universal-ctags/ctags/pull/393, https://github.com/universal-ctags/ctags/pull/396 and https://github.com/universal-ctags/ctags/pull/401

[2018-12-25 07:31] qingkong1998 commented on #1566
maybe that is difficult？

[2018-12-25 07:33] qingkong1998 commented on #1566
Xcode do well ，but ctags not very good？

[2018-12-25 19:06] qingkong1998 commented on #1566
swift and objective-C

[2018-12-26 11:59] sshsu commented on #1956
sorry for late,  you are right,  use regex to match and search,  the cursor will  jump to matached position starting from current line's next line.

use "line number -1" is good ,that can fix it. Is the line number will never be zero, right?  If no, "lin number -1" will be -1 when the value of line numer is zero,  in vim, jump to -1 means jumping to the previous line, it might cause a little probl

[2018-12-26 12:34] sshsu commented on #1956
and one more thing, for a test file as below
[code]

to generate tag file and mannully minus -1 of lthe value of line number,
[code]
the first variable temp's line number is 0, and use this tags entry will jump to the first temp as we wish.

directly use that in vim also work
[code]

however , When I do it separately as below，it jumps to the second one, amazing
[code]

[2018-12-26 22:53] fwmechanic opened #1962 "ctags-win32/releases seem to have dropped docs, man dirs & content"
Between the [2018-12-14](https://github.com/universal-ctags/ctags-win32/releases/tag/2018-12-14%2F64f7d619) and [2018-12-16](https://github.com/universal-ctags/ctags-win32/releases/tag/2018-12-16%2F9d32534c) ctags-win32 releases, the contents of doc and man dirs seems to have been dropped from the release package; the `ctags-*-x64.zip` file has decreased in size from 2.05MB to 1.65MB across this b

[2018-12-27 05:58] k-takata commented on #1962
https://ci.appveyor.com/project/universalctags/ctags-win32/builds/21229595/job/10t7guonmj391722?fullLog=true#L1147

[code]

It seems that MSYS2 packaging has a problem. There is a version conflict between "requests" and "idna" (which are used by sphinx).
I created an issue: Alexpux/MINGW-packages#4802

[2018-12-27 06:10] masatake commented on #1962
It seems that there is mismatch between the version of python installed to appveyor and the version of python sphinx expects.
https://ci.appveyor.com/project/universalctags/ctags-win32/builds/21135185/job/d8wynf0iia6wtaef?fullLog=true

[2018-12-27 06:11] masatake commented on #1962
Oh, @k-takata has already started working on this item. Thank you.

[2018-12-27 06:44] Lennon925 opened #1963 "Using ‘ctags.exe -L C:\test\filesTxt --output-format=json --fields=+ne’"
When I use command 'ctags.exe -L C:\test\filesTxt --output-format=json --fields=+ne' to get results, if filesTxt is a utf-8 file and there are some chinese path in it, the error will show: cannot open input file xxxx: no such file or directory.

[2018-12-27 06:50] masatake commented on #1963
How about removing `--output-format=json` and `--fields=+ne` options?

[2018-12-27 07:01] Lennon925 commented on #1963
after I removed both of them, the result is the same with above

[2018-12-27 07:22] masatake commented on #1963
Thank you.  O.k. let's foret --output-format=json and --fields=+ne options. They are nothing to do with this issue.

You wrote:

Here xxxx is the file name you wrote in filesTxt?
If your answer is yes, this is known issue.
See https://github.com/universal-ctags/ctags/issues/1837

[2018-12-27 10:31] Lennon925 commented on #1837
do you want to support this or not ?

[2018-12-27 10:33] masatake commented on #1837
I want to support it but I don't know how to do it.

[2018-12-27 10:58] k-takata commented on #1837
Basically, we need to modify everywhere we handle filenames.
For example, we need to use `_wmain()` instead of `main()` to get UTF-16 command line, and need to use `_wfopen()` instead of `fopen()` to open a file with UTF-16 filename.
It might be better to create a wrapper layer for converting UTF-16 between UTF-8 and always use UTF-8 in the core part of u-ctags.

[2018-12-28 02:31] Lennon925 commented on #1837
How long will you take to fix this issue？

[2018-12-28 04:13] masatake commented on #1956
I see. Thank you. Maybe what you find at the end is about an issue of vim side.

[2018-12-28 04:30] masatake commented on #1837
As the firest step, we have to add a test cast to Tmain.
Unlink, Units, there is no way to record a test case for a known bug.
Extending tmain test driver must be done first.

[2018-12-28 06:51] masatake commented on #1837
@k-takata, I tried a file having Japanese character as input for ctags on msys-2.
Unexpectedly, it works well. I think I'm doing something wrong. Could you give me more hints?

![ctags-jp-filename](https://user-images.githubusercontent.com/77077/50505606-0a9f8f00-0ab8-11e9-9162-0684e436c501.png)

[2018-12-28 07:11] k-takata commented on #1837
On Japanese Windows, we can use Japanese characters, however, characters that cannot be represented by Shift_JIS (e.g. alphabets with diacritical mark, simplified Chinese characters, ...) cannot be used on Japanese Windows. Similarly, Japanese characters cannot be used on English Windows.

A workaround is using Cygwin (or MSYS2) version of u-ctags instead of Win32 version. It handles the filenames

[2018-12-28 07:41] pragmaware commented on #1960
This was exactly my goal when writing the C++ parser: add intelligent symbol lookups and smart completion. With the current state of ctags this can be done in 95% of the cases but it requires a fair amount of additional external code. The process is roughly the following:

- Run ctags once on the whole source tree and possibly some of the include paths
- Parse the ctags output (without really gene

[2018-12-29 00:59] fwmechanic commented on #1962
I confirm that this issue is fixed as of [2018-12-29/18bf3a48](https://github.com/universal-ctags/ctags-win32/releases/tag/2018-12-29%2F18bf3a48).

[2018-12-29 00:59] #1962 closed

[2018-12-30 02:13] #1125 closed

[2018-12-30 02:14] masatake commented on #1956
Solved via #1959.
Use --excmd=combine option.

[2018-12-30 02:14] #1956 closed

[2018-12-30 07:50] blueyed commented on #1125
@masatake
Thank you very much, it works great!

[2019-01-04 13:01] vahancho opened #1967 "C++: Incorrectly parsed function parameter's default value"
The C++ class member function has the following signature:

` void SetValues(const Foo& lst, const QChar sep = ',');`

The _--_xformat={signature}_ option used to to extract functions signatures, i.e.:

`ctags -R -x --_xformat={signature} --sort=no --extra=*-q --c++-kinds=*-zlm --fields=*-lne --language-force=C++ `

As a result, the signature appears as:

`(const Foo & lst,const QChar sep='')`

No

[2019-01-04 16:47] masatake commented on #1967
Reproduced:

[code]

[2019-01-04 17:17] masatake commented on #1967
@pragmaware, cppGetcFull I proposed in  https://github.com/universal-ctags/ctags/pull/1302/commits/700b929002ccc88772f69e351c94e3caf05b7e67 may be useful to fix this issue.

[2019-01-04 17:23] masatake commented on #1967
A string literal becomes empty, too.

[code]

[2019-01-06 14:55] masatake opened #1969 "Wrong condition to detect whether escaping is needed or not"
This is my todo.

Universal-ctags introduces backslash as the prefix of escape sequence. It allows including tab chars in a tags file. In Exuberant ctags compatible output mode, u-ctags doesn't use the escape sequence. Instead, it doesn't print a tag which includes a tab char.

In  Exuberant ctags compatible output mode, u-ctags verifies a tag entry needs the escaping or not.
The condition used in

[2019-01-07 06:11] masatake commented on #1967
#1968 may fix this issue.
I will merge it soon.

[2019-01-07 07:16] #1967 closed

[2019-01-09 04:22] masatake commented on #1963
This is a duplication of #1837.

[2019-01-09 04:22] #1963 closed

[2019-01-11 09:32] vladak commented on #1566
Visual basic (see https://github.com/oracle/opengrok/issues/2619)

[2019-01-12 21:30] masatake commented on #1916
I have partially implemented `--_scopesep` option.

Here is an example of the option.
I specify `::' as root separator for class kind.

[code]

This is not perfect.
See the scope field for entry `::one./A`. It is `class:one`. It should be `class:::one`.

The other tasks are:
(1) extend optlib2c translator to support `_scopesep`,
(2) update puppetManifest parser,
(3) write this to the web doc.
(4)

[2019-01-12 21:30] masatake commented on #1916
( `.` in the example out is defined as a default seperator in ctags. )

[2019-01-13 23:04] ahakanbaba commented on #1916
Vauvv ! Thank you very much @masatake. Did this merge to master? If not, in which branch can I try this ?

Couple of questions:

1)

Why `class:::one` with three colons, should it not be `class::one` with two colons ?

2)
`--_scopesep-PuppetManifest='c.,::'`
Why is the purpose of the leading 'c.' in the value ?

[2019-01-14 04:15] masatake commented on #1916
Please, see https://github.com/universal-ctags/ctags/pull/1975 .
[code]

The first `:` comes from the format of tags file.
ctags represents a scope information with format `<kind>`:`<scopename>`.
Here `class` is the kind.
`::one` is the scopename.

Here `c` means class.

The format for the argument of `--_scopesep-<LANG>` option is `<kind-letter-for-inner-element>.<kind-letter-for-upper-element>:<

[2019-01-14 08:50] blueyed commented on #1562
Closing in favor of #1038.

[2019-01-14 08:50] #1562 closed

[2019-01-14 08:54] blueyed commented on #1038
Just for reference:

- project: https://github.com/universal-ctags/ctags/projects/8
- milestone(s): https://github.com/universal-ctags/ctags/milestones

[2019-01-15 16:09] pylipp commented on #1566
QML

[2019-01-16 01:17] Lennon925 commented on #1837
Hi k-takata,
this issue is fixed? if not, when will it be finished?

Regards，
Lennon

[2019-01-16 04:03] k-takata commented on #1837
As I already said, it's very difficult to fix, and I don't have a plan to fix it yet.
If you really need it, please use Cygwin version of u-ctags for now.

[2019-01-16 14:33] trevordmiller commented on #1928
@masatake Yep!

[2019-01-17 07:59] masatake commented on #140
To think about performance of parsing, we need large code base.
I will revise `--totals` option. I guess I have broken the option in past development.

[2019-01-17 08:37] masatake commented on #1146
I have the most of all header files to two categories: main part private and public to parsers.
The private ones have "_p" their file names. e.g. kind_p.h.
The next step is integrating to geany.

[2019-01-17 08:37] #1146 closed

[2019-01-17 15:42] bam80 commented on #651
Would love to get ability list all function calls in Shell scripts.
Think it's easier to implement, as the shell function calls are just a simple commands.
That information could be used in GNU GLOBAL then.

[2019-01-18 14:50] bam80 commented on #1566
Shell with function calls detection

[2019-01-19 00:10] priyank260673 opened #1978 "Declarations in multiple namespaces with same class"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2019-01-19 05:18] masatake commented on #1978
Obviously, it is not tags output. What you show may be the output of your editor.
We cannot fix an issue about your editor. We can do something to do with ctags command.

For the input, the current version of ctags emits as following:
[code]

It seems for me that ctags works fine.

[2019-01-19 05:18] #1978 closed

[2019-01-19 05:31] masatake commented on #1978
Feel free reopen this if you find your issue in the output of ctags command.
I don't know C++. So there can be a case that I don't recognize an issue in the output of mine.

[2019-01-19 16:17] priyank260673 commented on #1978
Thanks! Let me check more ...seems like tag look up is not correct. Tag generation is good.

[2019-01-20 01:11] bam80 opened #1979 "sh: function calls are not detected"
For now, only definition tags are detected for shell functions

[2019-01-20 08:54] masatake commented on #1979
I have not plan to work on this item.

[2019-01-21 19:21] #1487 closed

[2019-01-23 17:17] bigfish commented on #1949
Just ran into this as well. Not indexing class methods is quite disappointing...

[2019-01-23 17:30] bigfish commented on #1949
there is code in the parser to parse ES6 methods.. perhaps my version from homebrew is out of date.

ctags --version output..

Universal Ctags 0.0.0(6aa62c9), Copyright (C) 2015 Universal Ctags Team
Universal Ctags is derived from Exuberant Ctags.
Exuberant Ctags 5.8, Copyright (C) 1996-2009 Darren Hiebert
  Compiled: Jun 22 2018, 14:43:13
  URL: https://ctags.io/
  Optional compiled features: +wi

[2019-01-23 17:50] bigfish commented on #1949
Still not working on latest version(578ea8bc)

[2019-01-23 21:55] masatake opened #1981 "Go: having variables named _ at the top-level should be ignored"
See https://github.com/lyosha/ctags-go/issues/1

[2019-01-24 07:39] masatake commented on #1887
Locally hacked code works well:
[code]

I will make a pull request for this after merging #1974.

[2019-01-24 08:34] masatake commented on #1422
Fixed via #1462.

[2019-01-24 08:34] #1422 closed

[2019-01-24 08:39] masatake commented on #953
I introduced optlib based implementation.
I reconsider this topic when converting ctags to a library.
(Geany may use the library.)

[2019-01-24 08:39] #953 closed

[2019-01-24 08:49] masatake commented on #705
This was really important pointing out. Thank you.
However, I removed xcmd feature from u-ctags.

[2019-01-24 08:49] #705 closed

[2019-01-24 09:19] masatake commented on #620
What we can do now may be just aborting.
However, it is not good for a tool using ctags as a library like Geany.
If we introduce a context oriented memory manager, we can report the error to the caller context (of a client tool).

[2019-01-24 09:20] #618 closed

[2019-01-24 09:22] masatake commented on #610
Implemented. See http://docs.ctags.io/en/latest/units.html

[2019-01-24 09:22] #610 closed

[2019-01-24 09:38] masatake opened #1982 "Guessing a proper parser by tracking symbolic link"
[code]
Though ctags has rst parser, ctags emits nothing for Changes.

I got the following idea:
If ctags cannot guess a proper parser for a ginve symbolic linke, ctags can try the name getting by tracking the symbolic link.

[2019-01-24 09:43] masatake opened #1983 "Use --trace in mtable regex parser"
--verbse output is too much.
The output of mtable regex parser for debugging should be controled with --trace=regex-mtable,
--trace-mtable, or something option other than verbose.

--trace=regex-mtable shoule be usable even if --disable-debugging option is given to ./configure.
 --disable-debugging should control per-parser tracing.

[2019-01-24 09:45] masatake commented on #373
I've tried rst parser. It prints the line number and the pattern for a tag well.
If the issue is reproduced, please reopen this.

[2019-01-24 09:50] masatake commented on #371
Before closing this, I think I should reread the discussion. There can be a case that I should update ctags man pages.

[2019-01-24 09:59] #230 closed

[2019-01-24 10:00] masatake commented on #226
The spec file was removed.

[2019-01-24 10:00] #226 closed

[2019-01-24 10:05] masatake commented on #90
Ada still uses longjmp.

[2019-01-24 10:55] masatake commented on #62
Now I understand what you wrote 4 years ago are correct.
timeout should be implemented in the client side.
If ctags has a bug, we should get the report and fix it.

So how can we make a user report such bug easier.
In the situation that ctags run with -R option enters an infinite loop in a user site, what we would like to know is the input that causes the infinite loop. If the ctags process can re

[2019-01-24 11:00] masatake commented on #61
To fill the fields like scope, typeref, signature, etc, pygments is not enough.

[2019-01-24 11:00] #61 closed

[2019-01-24 20:52] pragmaware commented on #862
Now that I think deeper of it, in the previous case one could just write ``enum X`` in a single field instead of splitting it in two parts...

[2019-01-25 02:44] masatake commented on #862
I think `var ... typeref:enum:X ...` is better than `var ... typeref:enum X ...` as far as the current tags file has an entry for X that has enum as its kind. (I would like to say this case as "X is resolved in the tags file".)

Consider a simple client tool wants to show information about `var`. Its type is included in the information.
If `enum:X` is given, the tool may search entries having `X`

[2019-01-25 14:46] dkjii-gg opened #1985 "PHP parser treats function call as namespace"
The name of the parser: Universal Ctags PHP

The command line you used to run ctags:

[code]

The content of input file (from vendor/nikic/php-parser/test/PhpParser:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags: ce10c4bfdd39fd55b131887b87b2c2db726a4db3

[code]

How do you get ctags binary:

(
Building it locally:
./autogen.

[2019-01-25 18:13] masatake commented on #1985
Thank you for reporting.
I have tried to fix this. You can try #1986.

[2019-01-25 18:19] b4n commented on #1985
Just as a rationale: the PHP parser wasn't updated for PHP7, and it's 7.0 that started to allow e.g. `namespace` as a method name.

[2019-01-25 18:32] b4n commented on #1985
Hum, actually I forgot I started updating it for PHP7, and it already supports some of it.  Probably because I never used PHP7 myself :)

[2019-01-26 07:08] #1985 closed

[2019-01-26 11:35] AkitakiKou commented on #1949
This is happening on one of my projects as well. In my class with `get` and `set` functions on top of a class,  the rest methods of the class aren't present in the output at all.

[2019-01-26 13:10] masatake commented on #1949
Which standard should I read to understand the requirement?
The input file reported in the initial comment is too large to work on this issue incrementally.

The JavaScript parser doesn't capture `latest` in the following input:
[code]

I think we should introduce `getter` kind, and make the JavaScript parser capture `latest` as a `getter`.
I think we can do the same for `setter`.

[2019-01-26 14:18] AkitakiKou commented on #1949
I'm no expert in this so not sure what standard you're referring to, but did you mean [this EMCAScript 2015 standard](https://www.ecma-international.org/ecma-262/6.0/#sec-method-definitions)? It's where computed property names, along with `set` and `get` were first introduced.

[2019-01-26 16:45] masatake commented on #1949
@AkitakiKou, thank you!
The url you showed helps me.

[2019-01-26 17:16] masatake commented on #1949
@AkitakiKou, thank you! That is what I would like to know.

[2019-01-26 18:02] masatake commented on #1949
I added support for getter and setter in #1989.
Could you try the change?

I guess I have not solved whole the issue yet. Could you lead me the next smaller sub issue like @AkitakiKou did. I have no time to learn JavaScript from scratch.

[code]

I guess `json-schema` should be tagged as a getter. Am I correct?

[2019-01-26 18:21] masatake commented on #1911
Where can I get more information about the non-standard syntax?

`LANG=JavaScript`; We, u-ctags developers, not experts of `$LANG`. Related language references, standard/non-standard information, the status of standardization, small example inputs, concrete expected tags output for the inputs,
the large codebase using the feature, and impact of users, etc. are needed to work on the issue.
This inf

[2019-01-26 19:32] techee commented on #862
This is certainly the case with Geany too.

On the other hand, this would complicate things on the Geany side - for instance, in the symbol tree we show a list of symbols from the current file and for instance for functions we want to show function prototypes and we want to show

[code]

and not

[code]

and we'd have to somehow be able to separate the "type" part from the "type of type" part and

[2019-01-27 05:22] AkitakiKou commented on #1949
Yes, `json-schema` should be tagged as a getter as well, to my understanding. I'm on mobile so can't test out #1989 , will do when I got time.

[2019-01-27 22:37] bigfish commented on #1949
Hey, great to see some activity on this! getters and setters are great to have --  I will test it out tonight.
[Dynamic properties](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#Computed_property_names)  seems like they may be troublesome, as they can be the result of any JS code inside the [] .. if there's a literal string it should be OK, but they

[2019-01-28 07:23] masatake commented on #1949
@bigfish, thank you.

I pushed the code for capturing computed properties only if thay are represented in a string literal.
I don't touch 'Symbol.*'.

I would like to get your feedback.

[2019-01-28 14:21] b4n commented on #1911
As @masatake said, it comes from before my time :)  But anyway, it's a sad hack for improving support for the [SAPUI5](https://developers.sap.com/topics/ui5.html) framework IIUC (I just found out it seems to be [OpenUI5](https://openui5.org/) now).

[2019-01-28 14:55] masatake commented on #1949
I have worked the get/set keywords and the computed property notations. I will merge the result soon after getting an ack from @b4n.

Do my changes solve this issue?

[2019-01-28 15:21] masatake commented on #1911
I would like to introduce OpenUI5 or SAPUI5 sub parser on JavaScript parser.
All kinds defined in JavaScript parser for SAPUI5 should be moved to the subparser.
@jayceekay, I would like to know the URL or something for the documentation explaining `async`.

If it is not in a popular standard, I will think about introducing subparser for it.

[2019-01-28 16:57] bigfish commented on #1949
yah, it's working great. Thanks, @masatake!

[2019-01-28 17:37] masatake commented on #1949
O.k. I would like to close this.  If the changes newly introduced for this issue are not enough, please, open new issues. I expect rather smaller input, URL to standards describing the syntax in the new issues.

[2019-01-28 17:37] #1949 closed

[2019-01-28 17:41] ahakanbaba opened #1991 "PuppetManifest: extras=+q does not generate scoped tags after encountering ensure_packages"
The name of the parser: puppetManifest

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

[ensure_packages](https://forge.puppet.com/puppetlabs/stdlib#ensure_packages) is a valid puppet function.
After using the `ensure_packages` function, ctags does not generate the scoped

[2019-01-28 18:18] masatake commented on #1991
Very strange.

[2019-01-28 18:59] masatake commented on #1991
Fix is pushed to #1975.

[2019-01-29 15:19] #1887 closed

[2019-01-29 20:20] masatake commented on #862
@pragmaware, look at this.

Experimentally, I introduced a symbol table to the cork queue.
Please, look at the 1st subfield of typeref fields. Kinds are resolved well
foo.cc:
[code]

output:
[code]
The change neeeded in the parser side:
[code]

This symbol resolver is too simple.I have to consider scopes to resolve kinds correctly.

A skilled parser developer like you will image more interesting a

[2019-01-30 17:43] #1916 closed

[2019-01-30 17:43] #1991 closed

[2019-01-30 17:47] masatake commented on #1991
I think this bug is fixed via #1975. If not, please, reopen this.

[2019-02-01 12:35] masatake commented on #140
See https://github.com/universal-ctags/codebase
I designed "codebase" for performance measurement.
However, we can extend it to an environement and target for regression test.

[2019-02-01 12:35] #140 closed

[2019-02-02 14:58] hnakamur commented on #1785
@bluca Hi, I added a xenial build 0+git20190201-1ppa2~ubuntu16.04.1 at [my PPA of universal-ctags](https://launchpad.net/~hnakamur/+archive/ubuntu/universal-ctags). Enjoy!

[2019-02-02 17:38] bluca commented on #1785
Thank you!

[2019-02-05 10:05] felixcra opened #1998 "Cxx: conversion operator tags local variable as variable"
The command line you used to run ctags:
ctags --options=NONE test.cpp

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

Built it locally using autotools from source.

[2019-02-05 10:54] masatake commented on #1998
Reproduced.
[code]

Further more `operator D()` is not captured. As far as I can remember correctly, C++ parser captures operators.

[2019-02-05 11:20] masatake commented on #1998
@pragmaware, how about following patch?

[code]

[code]

[2019-02-05 11:58] masatake commented on #1998
Wow. It is a realy language for professional, not for me:-P.

[code]

And I got:
[code]

My approach is too ad-hoc. Let's wait how our C++ parser maintainer says.
If C++ parser finds an identifier (or ::) just after `operator` keyword, ctags should run a parser function for reading a type...

TODO: I should add OpenCV to our codebase.

[2019-02-05 12:01] masatake commented on #1998
BTW, thank you for simplifying the input source code when you reported the issue.
Tool large input like #1949 kills me.

[2019-02-05 13:36] pragmaware commented on #1998
@felixcra : Thank you for the input!
@masatake : your first patch looks perfect, I'll look at the second instance

[2019-02-06 00:09] felixcra commented on #1998
No problem. Thank you for solving this issue so fast! :)

I'd like to use ctags in the future for both ROS and OpenCV, so maybe, hopefully not, there will be more issues.

[2019-02-06 16:17] #1981 closed

[2019-02-07 11:48] masatake commented on #1566
ObjectiveC++

[2019-02-07 11:51] #1998 closed

[2019-02-07 11:54] masatake commented on #1739
I have measured the performance of the new Java parser.
Too slow. 30 ~ 50 times slower than the current implementation.

I have to rewrite a new one without the parser generator.

[2019-02-07 12:06] masatake opened #2000 "RFC DSLs and frameworks about Ruby"
To support Ruby-based DSL and frameworks, I would like to try to rewrite Ruby parser.

*As usual, I don't promise to rewrite it.*

As part of my daily job, I have to understand the code based on Ruby-on-Rails.
A subparser running on my new Ruby parser may capture Ruby-on-rails specific definitions.

Currently, RSpec parser is regex based. It should be written in C.

To design Ruby subparser interf

[2019-02-07 12:48] masatake commented on #1566
TOML
https://github.com/toml-lang/toml
https://github.com/toml-lang/toml/blob/master/toml.abnf

[2019-02-12 20:20] ErichDonGubler commented on #660
@fommil: Looks like daily builds get released here: https://github.com/universal-ctags/ctags-win32/releases

[2019-02-13 13:50] vladak commented on #1566
Groovy (see https://github.com/oracle/opengrok/issues/2677)

[2019-02-14 10:27] masatake commented on #1979
I don't have any realistic plan for utilizing reference tags especially about shell parser.
What I am thinking about reference tags is utilizing it for "semantic recursion" (--recurse=semantic).

foo.sh
[code]

If you run `ctags --recurse=semantic foo.sh`, ctags parsrs not only foo.sh but also lib.sh that is specified in source built-in.

[code]
The shell parser already capturing source'ed files a

[2019-02-14 10:27] #1979 closed

[2019-02-20 14:35] fabiensabatie opened #2013 "JSON output not available on OSX/Debian"
Hi guys,

I have just installed Universal ctags using homebrew on OSX, and as I was getting an error with the
`--output-format=json` option, so I decided to build it from sources on Debian after cloning the current master branch. But I get the same error :

`ctags: unknown output format name supplied for "output-format=json"`

when using the command

`ctags --output-format=json myfile.c`

Everythi

[2019-02-20 19:19] masatake commented on #2013
I guess  libjansson.so, backend library for `--output-format=json`, was not available on your PC or not properly linked to your ctags executable.

If the option is available, you can verify it with the other option:

[code]
"json" is included in the help message -of `--output-format`.

[code]
"json" is included in the output of `--list-features` option.

To use the feature, you must install libjan

[2019-02-20 21:27] fabiensabatie commented on #2013
@masatake Thank you for your support !

libjansson was indeed missing, so here is what I did :

On **Debian**, I installed the `libjansson-dev` package, then rebuilt from sources using automake 👍
[code]

And it worked properly.

On **OSX**, I had to use the `--with-jansson` option as such :
[code]

Now both binaries show :

[code]

Thank you so much for your help mate !

[2019-02-20 21:27] #2013 closed

[2019-02-20 21:46] hnakamur commented on #2013
@fabiensabatie FYI, I sent the following merge requests to Debian and they were merged with some tweaks.

* [Install manpages](https://salsa.debian.org/debian/universal-ctags/merge_requests/1/diffs)
* [Add libxml2 etc](https://salsa.debian.org/debian/universal-ctags/merge_requests/2/diffs)

Here is the latest `Build-Depends`
https://salsa.debian.org/debian/universal-ctags/blob/cedf9a1c5106d371398b

[2019-02-21 07:23] elecalion opened #2014 "signature went wrong after PR #1968"
It seems signature went wrong after PR #1968 if --fields=+S is set.

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:
win32 binary taken from Universal-ctags/ctags-win32 project

[2019-02-21 08:39] b4n commented on #2014
This only happens when using `e-ctags` output format.

[2019-02-21 08:53] b4n commented on #2014
First bad commit is ba82e4f4382a9aa0acf2a05e1804101639fa6bb3

[2019-02-21 08:56] b4n commented on #2014
I'm not quite sure we disallow spaces (as opposed to tabs) when rendering E-CTags?  AFAIK it should work there, shouldn't it?

[2019-02-21 11:14] masatake commented on #2014
@elecalion, thank you for reporting.

This one may be related to https://github.com/universal-ctags/ctags/issues/1969.
[code]

Above change may fix this issue. After revising the above change, I will make a pull request.

[2019-02-21 13:06] b4n commented on #2014
@masatake yes I would think that would be the right fix here (well, or one way to achieve it), because normally e-ctags should be fine with inline spaces, just not tabs.
BTW, if you're only checking one character now, you could use `strchr()` instead of `strpbrk()`.

[2019-02-21 21:05] masatake commented on #2014
@b4n, how do you think about characters handled in vStringCatSWithEscaping().
e.g. `\a`.  I think we have to do nothing special for characters other than `\t`.
The reason we have to do special for `\t` is it is the separator character in tags format.
So just strchr() is enough as you suggested.

[2019-02-21 21:47] masatake commented on #2014
Surprisingly, my code for handling tab char doesn't work is --sort=no is given...
I think I cannot fix it quickly. So I will make a pull request for fixing this issue in the case --sort=no is not given first. Then I will make a second PR for --sort=yes.

[2019-02-23 16:46] peara opened #2017 "Permission denied with --options"
I built ctags as in `https://github.com/universal-ctags/ctags-snap`
I'm using ctags with vim, so I have an option file under `/home/peara/.vim`
Running ctags produce this error:
[code]
Further examination show that all directories with `.` in name will produce this error regardless of permission.
Is this a known bug? What can I do except moving option file to another directory?

[2019-02-23 18:25] reaysawa commented on #2017
I was just about to report this issue.

Snap install had permission errors happening for me, too. Furthermore it was **NOT** reading files from the default directory `~/.ctags.d`.

[code]

I also noticed I couldn't symlink this executable anywhere because it points to the snap binary.

---

Couldn't bother too much with it so I compiled the master code and it works.

http://inti.sourceforge.net/tu

[2019-02-23 22:54] masatake commented on #2017
If this is about snap, please, report the issue to https://github.com/universal-ctags/ctags-snap .

[2019-02-23 23:06] masatake commented on #2017
Please, don't refer to http://inti.sourceforge.net/tutorial/libinti/autotoolsproject.html.

This is NOT the instruction for building Universal-ctags.
See https://github.com/universal-ctags/ctags/blob/master/docs/autotools.rst .

Now network connection is needed to build ctags because git submodule is run in autogen.sh.

[2019-02-23 23:08] masatake commented on #2017
@bboymimi, could you look int this?

[2019-02-25 18:07] gonsolo commented on #1566
Swift

I have a basic swift.ctags file:

--langdef=swift
--langmap=swift:+.swift

--kinddef-swift=v,variable,variables
--kinddef-swift=f,function,functions
--kinddef-swift=s,struct,structs
--kinddef-swift=c,class,classes
--kinddef-swift=p,protocol,protocols
--kinddef-swift=e,enum,enums
--kinddef-swift=t,typealias,typealiases

--regex-swift=/(var|let)[ \t]+([^:=]+).*$/\2/v/
--regex-swift=/func[ \t]

[2019-02-27 12:08] craigbarnes commented on #1566
Is there really an advantage of having 100 parsers in a single code base? I seem to remember the Vala parser (from Anjuta) couldn't be merged here because it required libvala, which was deemed an unacceptable dependency. Using libvala is by far the cleanest approach -- it only becomes a problem because having 100 outside dependencies for 100 different parsers in a single, monolithic repo becomes u

[2019-02-28 16:32] blueyed opened #2020 "Maximum tag name limit"
I have noticed that html parser might create very long tags, if it comes across some HTML templates, e.g. in the form `<h3>{{ foo }}</h3>`, where "{{ foo }}" might be much longer and cross multiple lines.

This might even cause Vim to fail parsing the tags file (https://github.com/vim/vim/issues/4051).

Therefore I think it would make sense to have some generic maximum tag name limit like 200 (whi

[2019-03-02 09:32] #1969 closed

[2019-03-02 09:34] masatake commented on #2014
The related bug I found is also fixed.

[2019-03-02 09:34] #2014 closed

[2019-03-02 09:38] masatake commented on #2020
We have --pattern-length-limit=N.
So the option name should be --name-length-limit=N.

TODO: I should write about *-length-limit= to our man page.

[2019-03-03 03:53] masatake commented on #2017
If the issue is reproduced even with an executable built with directly with autotools, please, open a new issue.
If the issue is reproduced only with snap, report it to ctags-snap.

[2019-03-03 03:53] #2017 closed

[2019-03-03 12:46] masatake commented on #1928
Sorry to be late.

I read the man page, ctags.1.

[code]
So, matching the pattern
[code]
to `packages/some-dir/src/some-dir/thing.js` is not a bug. Some users may expect this behavior.

So the change I proposed in the comment of this issue breaks compatibilities.
I wonder what I should do.

How about introducing a more flexible way to specify exclusion?
[code]

[code]
does the same as `--exclude=`

[2019-03-03 13:20] masatake commented on #1566
@craigbarnes,
Using other tag generators is a realistic idea for users. Universal-ctags itself doesn't forbid users to do so. It is impossible for us to forbid using the other tag generators. I never want to do so.
People should use what you want though my recommendation is free software.

However, I insist on adding more parsers to Universal-ctags executable.
As you wrote maintaining the code wil

[2019-03-03 13:49] masatake commented on #2020
If I use --name-length-limit as the name of the option for this purpose, we should truncate the name because --pattern-length-limit=N truncates patterns. In such a case, we have to deal with utf-8 represented name carefully.

[2019-03-04 14:10] trevordmiller commented on #1928
I’m not sure what would be best to do here :/

[2019-03-05 10:02] cristianoliveira commented on #900
Is there any update on this?

[2019-03-05 10:13] cristianoliveira commented on #900
Apparently it is related to Object destructuring like:

[code]

[2019-03-05 14:03] Myz opened #2029 "Out-of-source builds fail because packcc could not be found"
I am automatically build every commit of your repository by running:
`cd $(mktemp -d) && git clone https://github.com/universal-ctags/ctags.git && cd ctags && ./autogen.sh && mkdir mybuild && cd mybuild && ../configure && make -j10`
that will result in:
[code]

The interesting part is `/bin/sh: ../packcc: No such file or directory` where it looks for the `packcc` bin in the parent folder but it is

[2019-03-05 14:16] masatake commented on #2029
Thank you for reporting. I have waited  for such a report about packcc that I introduced recently.
Could you make a pull request?
I would like to see how travis and appveyor say about the change.

[2019-03-05 14:17] Myz commented on #2029
Sure, I will :)

[2019-03-05 14:29] masatake commented on #900
I have not inspected the warning well.
However, the input you gave looks valid as I tested the input on node command
I would like you to open a new issue for the input.
If you are good at JavaScript, I would like to know the specification as reference.
See  https://github.com/universal-ctags/ctags/issues/1949#issuecomment-457829914 how I struggled.

[code]
`name` and `email` should be tagged well.

[2019-03-05 15:33] #2029 closed

[2019-03-05 15:37] cristianoliveira commented on #900
Not sure if I got your question but the specification for the Object Destructuring is on the ECMAScript specification:
https://www.ecma-international.org/ecma-262/6.0/#sec-destructuring-assignment

:)

[2019-03-05 16:01] masatake commented on #900
Thanks. That is what I need.

[2019-03-06 09:51] Myz commented on #1452
Since you are using the `packcc` as a direct dependency to the ctags build, it might be necessary to have source releases that bundle a fully buildable archive.

If you download the bundled zip archive from the github page now, extract it and then try to configure and build it, it will not work because the `autogen.sh` contains this git commands now.

How are your plans on this?

[2019-03-06 15:23] Myz commented on #1452
Yes that would help me out a lot at the moment.

Am Mi., 6. März 2019 um 15:51 Uhr schrieb Masatake YAMATO <
notifications@github.com>:

[2019-03-07 04:54] dreamtigers opened #2033 "missing PRELOAD_OPTLIB variable in Makefile.in or outdated documentation"
I did a review of `docs/optlib.rst` and in the last section "Submitting an optlib file to Universal-ctags project", in the subsection "Makefile.in". The documentation talks about adding the optlib file to a PRELOAD_OPTLIB variable in the Makefile.in and even an OPTLIB variable in the same file.

I ran `grep -rn 'PRELOAD_OPTLIB' *` against the source code and the only place where said variable is m

[2019-03-07 12:24] masatake commented on #2033
Thank you. It is outdated.

The `Makefile.in` section shuld be:

[code]

[2019-03-07 16:48] masatake commented on #1108
I'm working on introducing a symbol table that is extended from cork queue.
This can be used as a building block to implement the heuristic approaches we discussed here.

As a code reader, I need tags for class attributes. If we can capture them, reading python codes will be much easier.

The comment I made in 2016 is still interesting for me. Running matching extra regex patterns after running it

[2019-03-07 17:39] masatake commented on #1108
[code]

Assumption: we have Level1 symbol table.  A parser can look up a name already defined in the current input file. Only names defined ahead of the current input line are in the L1 symtab.

Heuristic 1. We can capture foo in `self.foo = `in __init__ method in a class as a class attribute. `public_member_init`  and `_private_member_init` are captured, and we are happy about these. How about `s

[2019-03-08 00:32] masatake commented on #1452
I would like to know a bit more details of the build process you run.
After getting a zip file of ctags, do you run autogen.sh before running configure?
In that case, you will get packcc because autogen.sh runs git-submodule commands.
I guess you run something custom scripts instead of autogen.sh.

I would like to think more about what area in ctags I should fix.

[2019-03-08 00:44] k-takata commented on #1452
git-submodule commands won't work when getting a zip file, because .git doesn't exist.
How about using git-subtree command instead of git-submodule?

[2019-03-08 01:07] masatake commented on #1452
@k-takata, thank you.
At a glance, it looks good. Maybe it is better than adding --without-packcc option to ctags.
I will study more about git-subtree in this weekend.

...The weekend queue becomes longer and longer.

[2019-03-08 01:17] k-takata commented on #1452
Example:
1st time:

[code]

When you want to import the updated packcc:

[code]

[2019-03-08 01:51] masatake commented on #1452
@k-takata, can I ask you to make a pull request for it?

I will add your suggestion:
[code]
as what developers should do to ... README.md of packcc side. I will do it after merging your change.

[2019-03-08 02:17] k-takata commented on #1452
I will create a PR later.
How about adding a script for git-subtree-pull? E.g. `misc/pull-packcc.sh`:

[code]

[2019-03-08 07:24] Myz commented on #1452
@masatake Our build process is rather simple. We have set up a script that downloads the zip bundled archive of the master branch, extracts and configures it after using the `./autogen.sh` script.
1. The downloaded zip archive of the master branch is not a git repository anymore
2. The environment that does this, does not have a git client at hand or even an open routet to the internet

[2019-03-08 11:07] k-takata commented on #1452
I created a PR #2035.

[2019-03-08 13:35] Myz commented on #1452
I would appreciate the changes from PR #2035. Like this I would be able to build it again.

[2019-03-11 01:19] k-takata commented on #1452
I think now we can close this again.

[2019-03-11 01:19] #1452 closed

[2019-03-12 06:02] liuchengxu opened #2042 "How to parse the tagname and scope from output of ctags -R -x"
****

The name of the parser: any one

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

I have no idea how to parse the output of `ctags -R -x`. I want to filter the tagname and scope from the output of `ctags -R -x`, but don't know how to do properly.

The tags output you expect:

It's viable if there is also a speci

[2019-03-12 06:32] masatake commented on #2042
I don't understand your question.

Are you satisfied with the output of `ctags -R`? If yes, why don't you use `-x` option?
I would like to know the background of the use case more to answer your question.

I don't know vim script. However, as far as reading vim.c, the vim parser of ctags, it doesn't fill scope fields. If you think it is a bug, tell us the vim parser fills scope field for what kind

[2019-03-12 07:10] liuchengxu commented on #2042
Sorry for not making it clear.

Although `ctags -R` would meet my need, I don't want to the generate the tag file, so I use the `-x` option.

Currently vista.vim only support show the tags in some file, but some users would like to show all the tags in a project(https://github.com/liuchengxu/vista.vim/issues/14). I tried to add `ctags -R`support`, but don't know how to extract these output.

In a

[2019-03-12 07:53] masatake commented on #2042
With `-o -` option, ctags emits the output to stdout like:
[code]

You can customize the output with `--_xformat=` option:
[code]
See http://docs.ctags.io/en/latest/news.html?highlight=--_xformat#customizing-xref-output .

If you don't want to write a parser, `--output-format=json` can be a choice:
[code]

[2019-03-12 08:07] liuchengxu commented on #2042
Thank you! I would try the `--_xformat=` option, since `ctags` installed by brew doesn't support `--output-format=json` by default, whether `brew install ctags` or `brew install --HEAD universal-ctags/universal-ctags/universal-ctags` .

[2019-03-12 08:07] #2042 closed

[2019-03-12 08:29] masatake commented on #2042
@KazuakiM, isn't it possile to link ctags to libjansson.so.4?
u-ctags has json output mode. It is available if u-ctags is linked to libjansson.
Tell me if I should report this as a new issue on homebrew-universal-ctags repo.

[2019-03-12 15:29] endersstocker opened #2043 "Elixir nullary function with multiline keyword syntax loses final letter"
The name of the parser:
**elixir**

The command line you used to run ctags:
[code]

The content of input file:
[code]

The tags output you are not satisfied with:
[code]

The tags output you expect:
[code]

The version of ctags:
[code]

How do you get ctags binary:
[code]

[2019-03-13 09:40] vbs100 commented on #1566
VS code extension,

currently the exists ctags for VS code is very slow, and not good as  "C++ Intellisense" for global/gtags's .

global supported language is less than universal-ctags,  so it will very powerful when universal-ctags support used in VS code.

[2019-03-13 10:22] endersstocker commented on #2043
Closed by #2044

[2019-03-13 10:22] #2043 closed

[2019-03-13 11:09] masatake commented on #1566
This is not a name of language. Vim, VS code, Atom, Emacs, etc. are client tools. This project is not for developing a client tool though we can give advices to developers of client tools. If a client tool you use is too slow, tell it to its developers, not us.

[2019-03-16 09:44] KazuakiM commented on #2042
@masatake
Hi, homebrew-universal-ctags supportes jansson.
[code]

[2019-03-16 10:34] liuchengxu commented on #2042
@KazuakiM Good catch,  I missed the help. JSON support needs  the option `--with-jansson`.

[code]

[2019-03-18 14:15] luksfarris opened #2048 "Cannot run ctags.exe in windows"
Dear maintainers of this project,
I am unable to use universal-ctags in windows (I hate windows, but have no choice at work). Could you please share directions on how I can run it?

**What I've done:**
1. Downloaded the latest release from https://github.com/universal-ctags/ctags-win32/releases
2. Extracted the zip folder
3. On a CMD, and Powershell, I've ran `C:\path\to\universal-ctags\ctags.exe

[2019-03-18 17:50] pidgeon777 opened #2049 "Lookahead operator"
I have a problem similar to this one:

https://sourceforge.net/p/ctags/mailman/message/1877046/

Is there a way to enable lookahead operator as `(?!<regex>)` on Exuberant Ctags version 5.8, or eventually on even newer versions?

On that topic, someone suggested using the PCRE library by just changing the ctags' #includes to grab <pcreposix.h>.

It seems easy to say, but I'm not sure about the deta

[2019-03-18 17:58] pidgeon777 opened #2050 "SourceCookifier and latest Universal Ctags version"
SourceCookifier, a cool plugin for Notepad++, is based on Universal Ctags v5.8:

http://sourcecookifier.sourceforge.net/

I think it would be great to adapt this plugin so that it could make use of the latest Universal Ctags version. The original author even provided its source code back in 2012:

https://sourceforge.net/p/sourcecookifier/git/ci/master/tree/sourcecookifier/

Thousands of users aro

[2019-03-19 00:25] masatake commented on #2050
Sometimes we find unmaintained free software. Some of them are really important to our daily computing.
If it is really important to you, consider being a maintainer or reactivating its development.
For me, ctags and lsof are important software. GitHub is a really good place to reactivate a project.

I know the basic algorithm for reactivation that I applied to run u-ctags project.

(1) find the m

[2019-03-19 00:30] masatake commented on #2049
We didn't have time working on it.

See https://github.com/universal-ctags/ctags/issues/1861

Any trials are welcome.

[2019-03-19 00:32] masatake commented on #2048
I don't know Windows well but is there a concept named environment variable in Windows?
I guess an environment variable named $CTAGS is set in your environment.
So reset or clear the variable. Then run again.

[2019-03-19 00:38] masatake commented on #2049
The biggest issue I concern is Windows. I wonder PCRE is available on Windows.

[2019-03-19 00:49] k-takata commented on #2049
I haven't tried to build PCRE with MSVC, but it is available on MSYS2/MinGW as a package. So, it will be easy to build on MinGW.

[2019-03-19 01:17] masatake commented on #2049
@k-takata, how about PCRE2?

In addition, I would like to hear about Onigmo from you.
Do you recommend us to use Onigmo (than PCRE2)?
Basically, I would like to use a popular one. But I really want to make akr special operator available in ctags.

[2019-03-19 01:23] k-takata commented on #2049
PCRE2 is also available in MSYS2.
Onigmo is unfortunately not available in MSYS2 as a package. So, PCRE2 is easier to use.

[2019-03-19 03:06] masatake commented on #2049
@k-takata, I see. but...

Using git-subtree to embed Onigmo source tree into ctags source tree is another approach, isn't it?
I guess Ruby developers use similar technique.

[2019-03-19 03:28] k-takata commented on #2049
Ah, that is an option, but I don't have strong opinion which to use.
FYI, Ruby embeds Onigmo source manually.

[2019-03-19 03:44] masatake commented on #2049
This is what I would like to know. Thank you.

[2019-03-19 08:29] pidgeon777 commented on #2050
Ok, thanks for the detailed reply.

[2019-03-23 04:59] chrismwendt opened #2053 "Segfault on .h file in --_interactive mode"
The name of the parser: C

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags: 92a2c04b5e27a6850e429ee888553a40eb78ff19

[code]

How do you get ctags binary: built locally on macOS

[code]

[2019-03-23 21:45] masatake commented on #2053
Thank you for reporting. #2054 may fix the issue.

[2019-03-24 05:56] chrismwendt commented on #1844
@masatake Out of curiosity, are you still working on a new PEG-based Java parser?

[2019-03-24 07:32] blueyed opened #2057 "make: COVERAGE=1 unneeded?"
Using `make COVERAGE=1` seems unnecessary, but only the configure option is required.

Mentioned e.g. here: https://github.com/universal-ctags/ctags/blame/92a2c04b5e27a6850e429ee888553a40eb78ff19/docs/tips.rst#L45

No big issue, just a bit confusing.

[2019-03-24 09:23] masatake commented on #1844
PEG based Java parser is too slow. So I'm writing new Jara parser from scratch now.

[2019-03-25 10:45] hiberabyss opened #2059 "[Feature Request] Avoid comments in tag search pattern"
Sometimes, the comments are multi-bytes and not UTF-8 encoded. In this case, the comment bytes in tag file could not match the one in source codes, since the encoding is different.

Could an option provided to avoid comments in tag search pattern to avoid such problem?

Thanks!

[2019-03-25 18:36] dmhacker opened #2060 "ctags fails when parsing C++ template templates"
Hello! I'm having issues when using ctags with template arguments that use or require templates themselves. It looks like ctags is stops parsing once it reaches one of these arguments. I found a similar closed issue from January 2018 (#1671), and testing ctags using the previous author's examples reveals that ctags handles default initialized templates just fine.

As for an example, consider the f

[2019-03-26 03:00] #2053 closed

[2019-03-26 03:46] masatake commented on #2060
Smaller input:
[code]

[2019-03-26 03:56] masatake commented on #2060
@pragmaware, I am thinking of following heristic:

Consider we have a per input symbol table which is I am implementing now.
Consider the input file I submitted in the last comment.

1. Introduce template parameter kind.
2. Capture T as the kind.
3. When a token sequence of `>`, `>` is found in cxxParserParseTemplateAngleBracketsInternal, look up
    g_cxx.pToken->pPrev->pPrev->pszWord in the symb

[2019-03-26 12:59] hupfdule opened #2061 "Asciidoc: Missing 1st level heading in output"
The name of the parser: ctags

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

via Debian package in Debian buster

[2019-03-26 13:42] masatake commented on #2061
Thank you for reporting.
Following patch may fix the issue.

[code]

I will make a pull request.

[2019-03-26 14:47] hupfdule opened #2063 "Asciidoc: structure isn't resembled"
The name of the parser: ctags

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

source package from Debian buster and added patch https://github.com/universal-ctags/ctags/pull/2062

---

I noticed the problem with

[2019-03-26 14:48] hupfdule commented on #2061
Many thanks!
This patch actually fixes the problem.
But I found another one: https://github.com/universal-ctags/ctags/issues/2063  :-)

[2019-03-26 15:38] luksfarris commented on #2048
Thanks @masatake,
I've tried removing, and resetting, but I get the same result.
I will try to build from source and see what happens

[2019-03-27 10:15] masatake commented on #1844
A cotributor submitted a typescript parser. So I have taken time for merging it.
TypeScript is very special exception. So many people want it. Rewriting Java and Ruby parsers have still high priority in my mind because I myself want to use in daily job.

[2019-03-27 10:19] #2061 closed

[2019-03-27 10:59] masatake commented on #2063
I wonder how scope fields (and full-qualified tags) should be.
As far as I know, none say scope field should have full-qualified name.
C and Python parsers, both are well-maintained modern parsers, fill scope fields with full-qualified names.
PappetManifest parser does the same.

However, RestructuredText parser doesn't use full-qualified names.

Should all parsers use fq names for scope fields?

[2019-03-30 04:40] liuchengxu opened #2065 "Enable/Disable static fields like pattern field in json output mode (Was: How to generate tree like structure from the ctags output)"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2019-03-30 13:01] masatake commented on #2060
@dmhacker, could you try #2066?

[2019-03-30 13:31] masatake commented on #2065
No stable way because the semantics of the scope field is not well defined.
See https://github.com/universal-ctags/ctags/issues/2063

[code]
What you get from ctags:
[code]
pattern fields are truncated to make reading easier. I should provide an option to hide pattern fields, BTW.

Step1. Pick an item which has no scope field from 5 items are in the list.
           Foo is the one. This one become

[2019-03-30 18:35] #2060 closed

[2019-03-31 01:13] liuchengxu commented on #2065
Thanks for the response! I think the seperators used by various languages are not very big problem, Will try with your approach.

[2019-03-31 02:24] EvanCarroll opened #2067 "Feature Request: Perl Attributes with (has)"
Currently Perl is extended with Moose, Mouse, Moo, and Mo, and the like. These modules all have one commonality -- their attribute selectors are established with `has`. I believe we can make the assumption that anything that follows the Moose-established convention of,

[`has $name|@$names => %options`](https://metacpan.org/pod/Moose#has-$name|@$names-=>-%options) is a properly formed attribute fo

[2019-03-31 17:05] svermeulen commented on #1566
Moonscript

[2019-04-01 07:17] hupfdule commented on #2063
As far as I can tell this issue also applies to the Markdown and RestructuredText parsers. Both seem to generate the same "flat" structure as the AsciiDoc parser.

This seems a bit too unreadable to me. I may be well suited to be parsed by a machine, but I like the fact that the generated tags file is human readable.

I think that is important. Programming languages usually have a format for fqns,

[2019-04-01 08:19] masatake commented on #2063
What you wrote is persuasive.
Give me time.

[2019-04-01 08:49] masatake commented on #2067
@dtikhonov, could you look at this?

[2019-04-01 09:03] Lennon925 opened #2068 "Ctags can't distinguish function name if code like this"
Ctags can't distinguish function definition if code like this:

void Test
（int i, int j, int m, int n, int x, int y, int z）   //brackets and parameters on the next line
{
     int count = 0;
     count ++;
}

[2019-04-01 09:45] liuchengxu commented on #2065
@masatake Let me know when you add this option, which will reduce some overhead in vista.vim as I currently have to keep the whole raw tag list in memory in vista.vim, although it's fine in most time.

[2019-04-01 10:20] masatake commented on #2068
I guess this is C program.
However, it is not valid C program.
So ctags cannot recognize the input well.
In addition, ctags doesn't handle multi-bytes characters as input.
[code]
[code]
Look at hexdump. The parentheses are not represented in ascii range.
Actually gcc doesn't accept the input.
[code]
Can I close this?

[2019-04-01 12:20] dtikhonov commented on #2067
Moose et al. are just modules and `has` is a function call, not a Perl keyword.  Including support for Moose into the ctags Perl parser would place us on a slippery slope, as there are many Perl modules that introduce function calls that look like keywords.

[2019-04-01 14:39] masatake commented on #2067
...I'm very interested in this topic. Past 3 years, I have improved ctags to handle DSLs.

See http://docs.ctags.io/en/latest/running-multi-parsers.html?highlight=subparser#tagging-definitions-of-higher-upper-level-language-sub-base about my vision.

Moose subparser can run on Perl parser.

[code]

When the Perl parser finds a keyword "use", Perl parser notifies it to registered subparsers.
Moose

[2019-04-01 14:46] EvanCarroll commented on #2067
I realize it's a function, under the hood. But, that's an implementation detail. In the same sense, packages are "classes" when you're programming in object oriented fashion, and "subs" are methods. All of that nomenclature changes when you use Object Oriented perl, but in each case you could make use of the non-OO terminology. In all the above cases though there are added complexities in inferrin

[2019-04-01 14:53] EvanCarroll commented on #2067
@masatake the subparser idea sounds better and more complete than my implementation, and perl actually already does something similar by testing against `use` and invoking different semantics for some of those modules internally.

https://github.com/universal-ctags/ctags/blob/master/parsers/perl.c#L348

I guess the problem there is that you'd have to enumerate the list of modules that trigger the

[2019-04-01 14:58] dtikhonov commented on #2067
@masatake, Perl 5 is such a slow-moving target that there is not much to maintain, so my job as the maintainer of `perl.c` has been easy.  I scanned through the subparser documentation you referenced -- all I can say is: wow!  To be frank, I haven't been following Universal Ctags development closely and I see you've made great strides.

@EvanCarroll, code talks: feel free to take a shot at it.  I

[2019-04-01 15:10] EvanCarroll commented on #2067
Cool, cool. I'll see what I can get done this weekend then. I'll check out the work on the subparser framework too.

[2019-04-01 16:22] miranska opened #2069 "Parsing Java annotations"
Looking at the forums, it seems that ctags is capable of detecting some annotations. However, for example, in this [file](https://github.com/spring-projects/spring-boot/blob/68bfb020aad3d98fa57de3c2b31addba0f080e6b/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframework/boot/actuate/autoconfigure/cache/CachesEndpointAutoConfiguration.java) it cannot detect any. I p

[2019-04-01 20:40] masatake commented on #2069
Thank you. I know Java parser is broken. I need a perfect one in my daily job. I will work on after merging TypeScript parser.

[2019-04-01 20:51] masatake commented on #2067
A prototype works.
@EvanCarroll, you can start from #2070.

I'm focusing on TypeScript parser. So I will not work on #2070 for awhile.
Hack as you like.

[code]

[2019-04-01 20:57] masatake commented on #2069
Which forum?
Unlike Python parser, the Java parser cannot record annotations.

[2019-04-01 21:07] dtikhonov commented on #2067
That was fast! 👍

[2019-04-01 22:55] EvanCarroll commented on #2067
@masatake impressive. Is there any more work to do? I see you've implemented `findAttribute` and the language callback reference?

[2019-04-01 23:12] miranska commented on #2069
Thank you @masatake, will be waiting! As for the forums, I mean old posts, like these two (where specific patterns / RegEx were used):
1. https://sourceforge.net/p/ctags/bugs/240/
2. https://github.com/universal-ctags/ctags/issues/219

[2019-04-02 01:10] Lennon925 commented on #2068
Sorry, I made a mistake to type brackets with multi-bytes characters. In fact, I didn't mean that.
Following code is valid in Visual Studio and VSCode IDE but Ctags can't recognize function name.

void Test
(int i, int j, int m, int n, int x, int y, int z) //brackets and parameters on the next line
{
int count = 0;
count ++;
}

[2019-04-02 02:01] masatake commented on #2067
That is the I would like to know :-).
If I missed what you wanted, please, let me know.
I read only a few parts of the document of Moose.

[2019-04-02 02:03] masatake commented on #2068
Not reproduced.
[code]
Please, do the same as above.
 I would like to see the output.

[2019-04-02 13:17] EvanCarroll commented on #2067
@masatake cool deal, I reviewed the patch with github. If you can't get around to it, I'll take a look this weekend. =) But you'll probably have it done in 0.0001 seconds.

[2019-04-02 13:53] zhanghlHUST commented on #1165
I try to fllow the solution, but failed. mainly because the path is different.  use the command below can print the path locally.
find /usr -name "pkg.m4"   return  /usr/share/aclocal/pkg.m4
aclocal --print-ac-dir     return /usr/local/share/aclocal
then "cp /usr/share/aclocal/pkg.m4 /usr/local/share/aclocal" will works

[2019-04-02 16:00] masatake commented on #1165
The solution I showed is really wrong.
If you use Autotools from manually or via distro repository, you should install pkg-config in the same way.

@zhanghlHUST, your system has /usr/local/share/aclocal.  As far as my knowledge based on Fedora, It implies you install automake manually. In other hand, pkg.m4 is installed to /usr/share/aclocal. It implies you install pkg-config (or pkg-config-m4) di

[2019-04-02 16:18] DanielTimLee commented on #1874
Any progress?

[2019-04-02 16:20] masatake commented on #2067
It is not true.

To improve the parser, we need 4 things: knowledge about ctags internal API,  knowledge about the target language, Moose, time, and passion:-P.

I don't have knowledge about Moose. This one is the most important.
 e.g. the current parser doesn't capture a rule attached to a class with `with`, and defined with "use Moose::Rule". What I know is only "rule". However, you may know mor

[2019-04-02 16:22] masatake commented on #1874
No progress. I myself have no plan to work on this item. `ptags` may help you.

[2019-04-02 16:25] masatake commented on #2067
Sorry, I found you gave me important comments in #2070 already. Thank you.

[2019-04-02 16:35] DanielTimLee commented on #1874
Thanks. Will look into it! :+1:

[2019-04-02 16:39] masatake commented on #1874
Do you mean you are interested in working on this item?

[2019-04-02 16:40] masatake commented on #1874
If the answer is yes, I would like to give you some hints.

[2019-04-02 16:41] masatake commented on #1874
Sorry, you may be interested in ptags.

[2019-04-02 16:41] masatake commented on #1874
(I'm always looking for co-developers:-).

[2019-04-02 16:59] masatake commented on #2069
What I wrote in #219 is still true. Even with the current Java parser implementation, we may be able to gather annotation information if we add code to parseJavaAnnotation.

e.g.
[code]

Above output is enough for you?
I cannot promise that I add the code gathering annotations and attaching them to a tag as "annotations:" field.
But I would like to know what you want to do with such information. I

[2019-04-02 17:11] DanielTimLee commented on #1874
I'm kinda interested in this issue either,
since ptags seems not working properly on my armhf machine.

[2019-04-03 01:54] Lennon925 commented on #2068
Yes, you are right and you can close this issue. Thanks for your reply.

[2019-04-03 01:54] #2068 closed

[2019-04-04 06:39] masatake commented on #1874
WARN: To complete this task is not easy, and you have to be patient my broken English.

We call a ctags process directly invoked by a user is "master".
The "master" doesn't parse any files. In stead "master" runs slaves.
slaves are also ctags processes but slaves parse files passed via stdin from master.

master dispatch input files to slaves.
The slaves print the result to stdout.
In the current

[2019-04-04 17:36] latricewilgus opened #2072 "ctags fails sandbox tests when compiled without json support"
The sandbox tests fail if ctags was compiled without json support:

./autogen.sh
./configure --disable-json
make
make tmain UNITS=sandbox

failing tests are

 Tmain/gcov-sandbox.d
 Tmain/sandbox-crash.d
 Tmain/sandbox-default-req.d
 Tmain/sandbox-no-eager-guessing.d
 Tmain/sandbox-unknown-submode.d
 Tmain/sandbox-with-eager-guessing.d
 Tmain/sandbox.d

The failing message the tests fail with is: "

[2019-04-04 23:20] #2072 closed

[2019-04-07 09:39] masatake opened #2074 "Failure in uploading coverage data to coveralls"
[code]

[2019-04-07 09:46] #2050 closed

[2019-04-07 09:47] masatake commented on #2049
This is duplication of #1861

[2019-04-07 09:47] #2049 closed

[2019-04-07 09:55] masatake commented on #2048
@k-takata, do you have any idea about this?

[2019-04-07 13:29] k-takata commented on #2048
Hmm, I have no idea.

I don't know why this is shown.

[2019-04-07 15:59] masatake commented on #2074
https://medium.com/@suthagar23/aspect-oriented-programming-aop-c674aa7d0217

[2019-04-07 16:05] masatake commented on #2074
[code]

[2019-04-07 17:42] #2074 closed

[2019-04-08 01:51] masatake commented on #2048
@luksfarris, could you try --verbose option like:

[code]

And put the output here. It may be long output.
The output includes the value given to the environment variable like:
[code]

[2019-04-09 12:38] masatake commented on #2063
I'm working on markdown parser now.

[2019-04-09 15:43] miranska commented on #2069
Nice! We are doing some code analysis/parsing for research purposes, so the annotations info may be helpful. However, it is not a showstopper for our needs.

[2019-04-09 16:00] masatake commented on #2063
Filling scope fields with FQ names may be better than non-FQ names.
FQ names in scope fields may help client tools to reconstruct a name tree for input.

Using `""` is also good idea.

However, I found an interesting comment in asciidoc.c:
[code]
Here, Cork is a name of API to build FQ name easily.
A scope field with a fq name can be very long.

I paste diff solving this issue.
I feel we need more

[2019-04-09 16:03] masatake commented on #2063
Which parsers are needed to change to follow the policy "using FQ name in scope field"?

- [ ] Markdown
- [ ] Html
- [ ] Latex
- [ ] RestructuredText
- [ ] YAML?
- [ ] XML?

[2019-04-10 01:46] masatake commented on #2065
It works.
[code]

[2019-04-11 17:58] masatake commented on #2065
Ideally, field related code and writer related code should be separated.
I'm looking for a better way to satisfy the requirement.

[2019-04-16 14:48] liuchengxu commented on #2065
@masatake Concerning my initial question, I believe I have made some progress but another question also comes up: is there any definite way I can use to see if a tag has children or not, e.g., each variable doesn't have any children.

[2019-04-16 16:41] masatake commented on #2065
There is no way. You can know whether an entry in a file has children or not after reading all entries in the file.

[2019-04-20 13:19] liuchengxu commented on #2065
@masatake Is that possible to add a new field `scopePattern`?  In https://github.com/liuchengxu/vista.vim/pull/58, the nested display works well mostly, but still fails to handle some special cases, e.g., implement a struct multiple times in Rust.

The source file is https://github.com/paritytech/substrate/blob/3ec6247e44/srml/staking/src/lib.rs

[code]

The nested display generated at the moment:

[2019-04-20 18:19] masatake commented on #2065
I don't know well about vim. So show the Rust input, the current tags output, and the tags that you expect.

[2019-04-20 22:59] liuchengxu commented on #2065
Ok.

[code]

There are several implementation for `Module`:

the first one is from https://github.com/paritytech/substrate/blob/3ec6247e44/srml/staking/src/lib.rs#L757, its pattern is `"pattern": "/^impl<T: Trait> Module<T> {$/"`:

[code]

then next three implementations for `Module` from https://github.com/paritytech/substrate/blob/3ec6247e44/srml/staking/src/lib.rs#L1040-L1065

- "pattern": "/^i

[2019-04-21 09:01] masatake commented on #2065
I feel you are going in the wrong direction.
Introduce scopePattern doesn't help you.

What we have to think about is Rust and how ctags models language objects in Rust.
See https://github.com/universal-ctags/ctags/pull/1603.

I don't know Rust. Let's allow me to use a simplified input.
I like tags output format than json format. So I will use tags output format.

foo.rst
[code]

The current ctags

[2019-04-21 09:03] masatake commented on #2065
If you are not interested in Rust itself, use the line: field. It will be the simplest solution.

[2019-04-21 09:26] masatake commented on #2065
[code]

Here X is a trait implementation attached to Module.
X and Module, which is the parent of Y? Maybe both.

How about introducing `trait` field to the method kind?
[code]

[2019-04-21 09:42] liuchengxu commented on #2065
Thanks for your time, seemingly not easy to find a quick solution. I'm actually not a master of Rust/C language, sorry for can't help more.

The approach I'm using for building the nested structure is to gather all potential root items first, and then find all it's descendants, so even using the heuristic way you mentioned to find the exact parent, I have to redesign the current code, and that wil

[2019-04-21 09:58] liuchengxu commented on #2065
Missing your last comment :(.

I think that's doable.  IMHO the relations is that `Y` is included in the trait `X<T::Moment>`, and then `X<T::Moment>` is included in `Module<T>`. So the scope of `Y` is `trait:X<T::Moment> class:Module <T>`, or `class:Module<T> trait:X<T::Moment>`.

[2019-04-25 20:53] b4n commented on #2063
I think in general FQ scopes are better because they make it at least easier to build an appropriate tree, and sometimes it's the only option to do so. Most of the time it's actually possible to solve some ambiguities with looking at tag lines, as scope and line order mostly match, but it can't solve all cases.

For a machine POV your idea of scope unique identifiers, like IDs, is quite nice.  But

[2019-04-26 00:09] reisnobre commented on #1577
@Fmajor any luck improving your ctags + vue configuration? If yes, I would like some help, if possible.

[2019-04-27 04:10] Fmajor commented on #1577
@reisnobre There was a pull request(https://github.com/universal-ctags/ctags/pull/1581) to support vue language, i just try to merge it but meet a merge conflict which i can not resolve by myself.
@masatake Can you fix the conflict and merge the vue feature to the master branch?

[2019-04-27 15:19] reisnobre commented on #1577
@Fmajor that result you obtained using a modified version of the project right?

[2019-04-27 17:54] Fmajor commented on #1577
No, i got the result by define a custom vue parser in `~/.ctags.d/vue.ctags` before @masatake write the vue parser (which can get better result).
(i forget which line i should uncomment, you can test them)
[code]

[2019-05-01 20:33] chrismwendt opened #2089 "TypeScript interface methods not recognized when semicolon ; is omitted"
The name of the parser: TypeScript

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect: should list `bar[1-6]`

The version of ctags:

[code]

How do you get ctags binary:

Built from master.

[2019-05-02 00:49] masatake commented on #2089
@ksamborski, could you look at this?

[2019-05-02 16:02] ksamborski commented on #2089
Yes, typescript parser won't work if lines don't end with semicolon. It's
still on my todo list...

czw., 2 maj 2019, 02:49 użytkownik Masatake YAMATO <notifications@github.com>
napisał:

[2019-05-12 15:47] kraythen opened #2092 "Add Parser support for Elixir."
I use UCTags a lot but I need a parser for elixir. Id make a PR but I dont know the framework. I am guessing it shouldn't be that hard as you have one for erlang already.

[2019-05-12 21:00] masatake opened #2093 "Use webhook to update documents at ctags.io"
I found that ctags.io had not been updated for 4 months because 'GitHub service' feature is gone.
We have to use webhook feature instead.

@cweagans, could you look at this?
https://docs.readthedocs.io/en/latest/webhooks.html#webhook-creation

I tried updating but I could not because I am not the maintainer.
If possible, I would like you to add me as a member of the maintainer group.

[2019-05-12 21:02] masatake commented on #2092
Though the documentation at https://ctags.io is not updated, u-ctags has Elixir parser already.

[code]

[2019-05-12 21:02] #2092 closed

[2019-05-13 14:01] cweagans commented on #2093
@masatake What is your Read The Docs username? I can add you.

[2019-05-13 14:02] cweagans commented on #2093
I don't have admin access to the Github repo so I can't set up the webhook, but I'm happy to hand out access to the RTD account so that you can do it!

[2019-05-13 16:15] masatake commented on #2093
I login RTD via github. So I guess my account name is "masatake".

[2019-05-13 18:31] cweagans commented on #2093
I have added you.

[2019-05-13 19:01] masatake commented on #2093
Fixed! Thank you.

[2019-05-13 19:01] #2093 closed

[2019-05-14 13:25] #2067 closed

[2019-05-14 16:27] bogdan opened #2096 "Undocumented incompatible change to --tag-relative"
Original ctags accepts --tag-relative without an option which universal ctags does not.
It leads to incompatibility that is not documented and IMO is not necessary.
I am dealing with an old tool relaying on ctags and prefer this option to be compatible to original verion.

The command line you used to run ctags:

[code]

The version of ctags:

[code]