[2020-05-09 19:12] masatake opened #2538 "C/C++: Recursive macro expansion causes a segmentation fault"
[code]

[2020-05-09 19:56] gituser042 commented on #2534
With the fix applied. I can see the std::make_par function
[code]

thx

[2020-05-09 21:02] #2534 closed

[2020-05-10 03:41] #2524 closed

[2020-05-10 06:20] masatake commented on #2537
Do you mean we should introduce new kinds for localparams and specparams?
If yes, tell me what I should add?
The current kinds of Verilog and SystemVerilog are:
[code]

I would like to know the name and descriptions for the new kinds we should add.
@antoinemadec, @vhda, could you give us comments if you have.

[2020-05-10 06:27] masatake commented on #2537
Another approach is adding parser specific fields like C parser does:
[code]

The c parser doesn't introduce `inline` kind. Instead it attaches `properties:inline` parser specific field to `f/function` kind tag.

I'm not sure which is better (adding new kinds or storing the extra information to fields).

[2020-05-10 12:41] markusdd commented on #2537
I very much like the property proposal from @masatake, as it would alo preserve backward compatibility.

This should also be done for defines as well, as they are preprocessor commands and treated very much differently when it comes to compileing/elbaortaing the desing.

[2020-05-10 12:49] masatake commented on #2537
Could you show me how the tags file should be?
What kind of field should we add?

[2020-05-10 13:19] markusdd commented on #2537
I would propose exactly what you suggested from C.
Keep the constant type and add a properties field

`
properties:parameter
properties:specparam
properties:define
properties:localparam
`

I think that would be excellent and should be backwards compatible.

[2020-05-10 16:46] masatake commented on #2537
I wonder why it is not  "property".  Is "properties" better than  "property"?
As far as my VERY short study about SystemVerilog, "definedWith:" or "definedBy:" describes what it is more specifically.

With patch:
[code]

With patch ctags emits:
[code]

[2020-05-10 18:12] markusdd commented on #2537
You would be correct. definedWith is probably more appropriate.
At the end of the day it is important that an easily mchaine readable output is produced.

The output of the patch looks good to me.

[2020-05-12 06:35] chongchai opened #2540 "C/C++：conditional compilation like #ifdef will cause parse errror"
I find ctags can't get correct result when code has `#ifdef` and unbalanced braces.
**sample input code**:
[code]

**command**:
`ctags.exe --output-format=json --langmap=c:+.inc --kinds-c=+plz --fields=+nie -o - D:\test.c`

**result**:
[code]

The `bar` function after `testDef` will not be parsed. Can ctags support this?

[2020-05-12 08:45] masatake commented on #2540
It cannot support it.

[2020-05-12 13:45] AmaiKinono opened #2541 "Question: how to handle name and pattern that contain tabs in client tools?"
Fields in a tags file are splitted by tabs, but the pattern field may also contain tabs, e.g.:

[code]

If a client tool split the whole line by tabs to get the fields, it will misinterpret the pattern field. What's the right thing to do in this situation?

*Edit:* I found the same problem can also happen to the name field. Suppose we have a `tab.md`:

[code]

Then

[code]

You'll see tabs appear

[2020-05-12 15:46] masatake commented on #2541
man tags(5) explains the format of tags file.
libreadtags is based on tags(5). So its implementation may help you.

About readtags, use -E option:
[code]

[2020-05-14 09:13] AmaiKinono commented on #2541
Thanks. That's enough information.

[2020-05-14 09:13] #2541 closed

[2020-05-14 09:35] jajajasalu2 commented on #1566
ReasonML

[2020-05-15 00:08] #2538 closed

[2020-05-15 01:31] pragmaware commented on #2540
Yep, this is hard. There are several possible approaches but none of them will work 100% reliably because we do not expand #includes (and I don't think we're ever going to do so).

The approach that the current c preprocessor code tries to implement is interesting and could be expanded. The idea is to try to parse the code with a set of "guesses" for the expanded branches. If the parsing fails the

[2020-05-16 06:51] AmaiKinono opened #2542 "Readtags: prefix? and substr? can't be used to filter pseudo tags"
Say a tags file contains `TAG_KIND_DESCRIPTION` ptag:

[code]

I can filter them using `eq?`:

[code]

But `prefix?` and `substr?` doesn't work:

[code]

[2020-05-16 09:00] masatake commented on #2542
Please, reorder the argument like:
[code]

[2020-05-16 09:02] masatake commented on #2542
[code]

[2020-05-16 09:09] AmaiKinono commented on #2542
Ah yes. Sorry for my careless.

[2020-05-16 09:09] #2542 closed

[2020-05-16 11:03] AmaiKinono opened #2544 "Readtags exits normally when the tags file provided is a path"
Here's an example:

[code]

Is this by design or a bug?

[2020-05-16 18:51] masatake opened #2545 "[QUESTION] C: "const" in "properties" field"
About the variable kind, `const` is not stored to `properties` field. Is this expected behavior?

[code]

This question is inspired by https://github.com/geany/geany/issues/1443 .

[2020-05-17 00:29] pragmaware commented on #2545
Good question. When applied to variables `const` is considered to be part of the type. For example you can't assign a const pointer to a non const pointer variable without a cast. `static`, instead, is a property related to the variable storage.

However, when applied to functions the meaning of both keywords change. A const member function promises to not modify the internal state of the object.

[2020-05-17 01:22] pragmaware commented on #2545
Thinking of it better... we *could* add the const property for const variables. Though it would be a slight duplication of information as I certainly wouldn't remove the const keyword from the type name.

[2020-05-17 05:24] masatake commented on #2545
I see.

I would like to see the tags output in your thoughts:
[code]
How the output is for above input?

[2020-05-17 05:32] AmaiKinono commented on #2475
I think the current way of splitting the comma separated lists is not implemented correctly. In a tags file of a Python project, I noticed multiple inherits are splitted by a comma *and* a space. If we created a tags file like this:

[code]

then

[code]

You'll see there's an extra space before `B`.

[2020-05-17 06:02] AmaiKinono commented on #2475
`readtags -H sorter` says I can use the `print` operator, but seems actually I can't. For example:

[code]

The value of `(<> "a" "b")` is not printed.

[2020-05-17 06:10] AmaiKinono commented on #2475
`news.rst` says `<>` in the sorter expression can compare two numbers, strings and booleans, but I found it seems doesn't work on booleans, since using `(<> #f #t)` and `(<> #t #f)` gives me the same result.

My guess is this is used to deal with missing fields (i.e., make `#f` doesn't break the evaluation of the expression), and whenever a boolean value appears to be an argument, the result is 0.

[2020-05-17 06:12] masatake commented on #2475
I think I should withdraw the feature csv splitting of $inherits. Just preparing raw data will be better to avoid the trouble.

About the print operator, the issue is not reproduced.
[code]

[2020-05-17 06:31] AmaiKinono commented on #2475
Then how should we say "we want tags inherit from a certain class"? I think regexp matching is needed for this

Yes, my bad. I didn't notice they are flushed before the tags.

[2020-05-17 07:10] AmaiKinono opened #2547 "Readtags: handle missing fields in sorter expressions"
Some fields are not presented in every tag entry. When do sorting based on them, errors will occur:

[code]
I think we could return 0 in `<>` as long as an argument is `#f`.

[2020-05-17 08:15] masatake commented on #2475
Agree. I will use the notation used in gauche.
[code]

I asked you to write the man page. So I must implement the regex operator:--P
Really good exchange!

I will this item in June.

[2020-05-17 08:22] masatake commented on #2547
Yes. This is an expected behaviour.
The data types of the arugments for `<>` must be the same.

[code]
may help you.

Surprisingly, I wrote the rule in the help message of -H sorter:
[code]

[2020-05-17 09:11] AmaiKinono commented on #2547
I've read that :D, but the thing is people may compare fields that's not presented in every entry.

[2020-05-17 14:16] masatake commented on #2547
If the field doesn't exist, `$...` and `&...` values are #f. Therefore `or` can be used.

[2020-05-17 14:31] AmaiKinono commented on #2547
Well, I was actually thinking what if people only want to sort based on the `end:` field, but now I find it actually doesn't make sense to do so.

Feel free to close this issue.

[2020-05-19 03:06] pragmaware commented on #2545
Well, just
[code]
However I'm not sure. Const can appear in different positions inside a type name. A pointer can be const or the variable it points to can be const... and it's kind-of a different const.... I'd probably leave it as it is. Cone can always figure out constness by looking at the type.

[2020-05-19 06:39] masatake commented on #2545
Oh, I see. Thank you for replying.

[2020-05-19 06:39] #2545 closed

[2020-05-19 06:47] masatake commented on #2545
I must add this conversation to ctags-parser-cxx.7 man page.

[2020-05-20 14:00] masatake commented on #1577
The original post is still very meaningful.
However, I don't want to add flags on demand. Instead, we should have a language.
Two ideas.

One is postscript alike language:
[code]
Another one is scheme alike language:
[code]
I would like to assume there is no circler dependenc. So the interpreter can manage the memory objects with reference counters.

I already use scheme alike language in readtags

[2020-05-21 15:40] Strahinja commented on #1577
What is the current status of Vue support in ctags? Any ETA?

[2020-05-21 16:50] masatake commented on #1577
No visible advance. However, in the user-invisible part, there are many advances.
I will rework on JavaScript parser. It is needed to support Vue.

[2020-05-22 18:45] masatake opened #2554 "C: accessing a dangling pointer"
After applying a patch #2531 that disables objpool, valgrind reprots an error.

f.c:
[code]

cmdline:
[code]

valgrind reports:
[code]

The memory object that should be accessible via g_cxx.pToken may be freed in cxxParserExtractTypedef.

[2020-05-27 14:30] redguardtoo opened #2557 "The configuration file blocks parsing"
Parsing Javascript:

Content of `~/.ctags`:
[code]

Please note this is a bug related to ctags configuration file. Say I used to use a very old version of Exuberant Ctags which does not support Javascript. So I have to use `--langdef=Javascript`. Now I switch to Universal Ctags, but I DONOT want to update my `~/.ctags` because I possibly be forced to use old Exuberant Ctags again. It's much better

[2020-05-27 16:39] masatake commented on #2557
Understandable but I don't support these use cases.

I will never consider sharing .ctags with e-ctags in u-ctags development.
To avoid sharing, I made u-ctags not read ~/.ctags though there were many objections.

If you use the  "already defined" message, I would like you to revise your .ctags file.
The message means u-ctags has a built-in parser for the language and implies it
is good time for t

[2020-05-27 23:52] masatake commented on #2554
After parsing typedef..., '=' is not expected.

[code]

[2020-05-28 01:32] redguardtoo commented on #2557
No problem. Thanks for the heads up.

[2020-05-28 01:32] #2557 closed

[2020-05-28 07:29] tristanHessell commented on #2494
@masatake I will be able to help with JavaScript questions. I am also a native language English speaker, so I am able to help with proofreading documents too.

[2020-05-28 07:57] masatake commented on #2494
@ tristanHessell, thank you. I will revise my pull requests (#2005 and #2115). I will contact you at that time.

[2020-05-29 01:42] Lennon925 opened #2558 "Cxx: any way to get the end line of a variable in macro definition"
Hi I have some code like following:

#define Max_Box_Num  {
    {JOB1, JOB1, 0, 0, JOB1}, {JOB1, JOB1, 0, 0, JOB1},
    {JOB1, JOB1, 0, 0, JOB1}, {JOB1, JOB1, 0, 0, JOB1},
    {JOB1, JOB1, 0, 0, JOB1},
};

Any way to get Max_Box_Num this macro start line and end line? Maybe this issue is similar with #2454

[2020-05-29 02:26] masatake commented on #2558
It seems that the code is invalid; backslashes at the end of lines are missing.

[code]

[2020-05-29 08:45] Lennon925 commented on #2558
Thanks~

[2020-05-29 08:45] #2558 closed

[2020-05-29 23:48] masatake opened #2560 "C: end field for struct variable"
input.c:
[code]

[code]
The end field for `v` is not filled.

[2020-05-31 17:12] jvguti opened #2561 "Harbour parser... Var=... implementation"
(Hello everyone, I found ctags by chance and I have been very interested.
I'm trying to make a .ctags file for the xBase Harbour language, I ran into the following problem:
Thank you for contacting us.

*****

The name of the parser:
    My own parser: Harbour.ctags
The command line you used to run ctags:
ctags.exe --options=Harbour.ctags  --sort=no   -f0_prueba.txt hb.prg
[code]
The content of in

[2020-05-31 17:47] masatake commented on #2561
[code]

You are correct. The current version of u-ctags cannot satisfy your requirement.

I'm thinking about introducing postscript alike language called optscript  to users allow to
write a parser more flexible way. See #1577.

However, it is still an idea. I cannot say when the optscript is implemented.

[2020-05-31 18:05] jvguti commented on #2561
Thank you very much for your response, you have amazed me by the speed of answering.

[2020-05-31 18:11] masatake commented on #2475
I guess building a command line including  '#/pattern/' may be a bit hard for emacs.
I'm planning to provide an alternative way to representing the same thing: (string->regex "pattern").

[2020-05-31 18:24] masatake commented on #2561
https://sourceforge.net/p/ctags/patches/68/
Is this what you want ?

[2020-06-01 20:43] jvguti commented on #2561
I need to look at it in detail, compile it and check results.
I'll be briefing.
So at first glance it looks a lot like one I saw for Exuberant ctags, but it didn't serve
for universal ctags in principle because I used File and something else that is not now supported.
You're a machine and I'm thanking you again for your quick answers.

[2020-06-02 06:07] jvguti commented on #2561
Hello, I think that someone who masters the C language, and especially if he knows the code of the ctags program, it would be very easy to add a statistic variable to the top level of each language class and then access it by means of something like this:
..... saves the regex result of the current tag to var.
.... prints the result of var as if it were a tag.
"var-clear" ... clean var.

In this w

[2020-06-02 06:20] jvguti commented on #2561
I have checked harbour.patch and it does not work in universal ctags because it accesses variables that are now available through functions (they are statistical variables in universal ctags) apart from not following the new specifications.

It's a shame.

[2020-06-02 06:55] ravisumit33 opened #2562 "Javascript: Does not recognise class members declared with decorators"
Name of the parser - Javascript

The definitions fail to recognise members declared with decorators (such as MobX's [@observable](https://mobx.js.org/refguide/observable-decorator.html) and [@computed](https://mobx.js.org/refguide/computed-decorator.html)).

Class methods written after methods having decorators are also not recognised.

*****

I have not specied any local configurations. Just used

[2020-06-02 07:43] masatake commented on #2561
Maybe I can apply the patch with some modifications. The question is whether it will be useful or not.
I wonder whether the parser will gather the information you want.
Even if you don't read the code written in C language, you can evaluate the patch by applying it to Exuberant-ctags; evaluation can be done with Exuberant-ctags.

[2020-06-02 07:47] masatake commented on #2562
Thank you for reporting.

I don't know JavaScript well. As I wrote in the template, an example input and the expected output are needed. In addition, links for language (or something) references for "decorators" may help us.

[2020-06-02 07:52] masatake commented on #2561
..... saves the regex result of the current tag to var.
.... prints the result of var as if it were a tag.
"var-clear" ... clean var.

IMHO, it is too ad-hoc.

[2020-06-02 16:34] ravisumit33 commented on #2562
Following is link to language reference
[decorators](https://github.com/tc39/proposal-decorators)

decorators can be used with classes, properties as well as methods. You can find several such examples in the link above.

[2020-06-02 16:41] ravisumit33 commented on #2562
h[ttps://github.com/universal-ctags/ctags/issues/2154](2154) is similar

[2020-06-02 17:38] jvguti commented on #2561
I have compiled and evaluated harbour.c on Exuberant ctags and it seems to work with this programming language as well as it could be with any other ones that are already incorporated.
In any case, I will take advantage of the working capabilities of universal ctags with files of the type .ctags that do not have to comply with the usual and adapt almost perfectly to what I need at all times. (If y

[2020-06-03 05:55] masatake opened #2564 "packcc on 32bit arch"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=956349

[2020-06-04 02:30] suntzuisafterU commented on #2393
The new R parser works with the vim tagbar plugin, which is very nice indeed.

[2020-06-04 07:17] masatake commented on #2393
Thank you for trying. I'm happy to hear the result of your evaluation!

[2020-06-08 16:48] koenmeersman opened #2565 "Ada-parser not respecting the emacs-tags syntax (easy navigation indicating type of entity)"
ctags seems not to respect the emacs-tags syntax (easy navigation indicating type of entity)

[code]

The name of the parser:  Ada-parser

It loo
The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:
(see:
[code]
The version of ctags:
[code]

How do you get ctags binary:

download via gi

[2020-06-08 17:25] koenmeersman opened #2566 "no tag created for filename when filetype is not recognised. (and running in etags mode)"
We noted that ctags is not generating tags on filenames when running in emacs compatibilty mode, and the type of the file is unkown.

Is there a switch to generate for filename-tag for all files given to ctags ?

*****

The name of the parser:  ? not parser related ?

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[

[2020-06-08 22:52] masatake commented on #2565
Thank you for reporting.

The --output-format=emacs (or -e) option of u-ctags follows only https://github.com/emacs-mirror/emacs/blob/master/etc/ETAGS.EBNF .

What you reported is very special behavior designed only for Ada and is sub-format implemented inside ETAGS.EBNF.  I'm not sure we should make u-ctags be the same as etags in this level.

[2020-06-08 22:53] masatake commented on #2565
[code]

[2020-06-08 22:54] masatake commented on #2565
[code]

I will make a pull request for this in soon.

[2020-06-08 23:40] masatake commented on #2566
There is no option for the purpose. However, for more than two years, I have thought about this option. It is a good time to implement it. This is not the issue of TAGS output.

Currently ctags processes input files listed in its command line as mutually independent entities.
I think we can improve the quality of parsing if we can consider the relation between input files.
For considering the rela

[2020-06-10 07:38] AmaiKinono commented on #2547
I also notice that although the error occurs, the exit status is still 0. Is this a bug?

[2020-06-10 10:48] jvguti commented on #2561
Hello Mr. Masatake,
I have implemented the metods var-push, var-pop, var-pop_clear and var-clear that I needed to be able to do the job I was interested in. They work perfectly for me by just touching the lregex.c file.
Now I can take parts of a line out and present them together when I'm interested.
I don't know how I can send you the code in case you might be interested.
A big hug.
Jorge V.

[2020-06-10 11:53] masatake commented on #2561
I would like to see the .ctags file utilizing var-{push,pop,pop_clear,clear}.

[2020-06-10 15:03] jvguti opened #2569 "Strange in Multitables"
Strange in Multitables

Two things I don't see right with multitables:
1.- Inside a Table that has several Entries, when you make a match you do not continue with the
Entry but starts again from the first Entry in the Table.

+ You lose control over what is being programmed by making work with Multitables much more complicated.

2- When the Tag is recorded, Left and Right trim have been made witho

[2020-06-11 08:02] jvguti commented on #2561
Var preappends  results of regexec, not only \1.
When program found var=pop or var=pop_clear it print var contents.
Var is independent of rest of code, if you dont use placeholder, program prints regex at normal but save var. Only affect when found var=pop to print var and regext if not placeholder.
Understand?, My english is not very good, sorry.

[2020-06-11 08:17] jvguti commented on #2561
When I said preappend....:
if you hav 1 lines of code:

**function myfunction(one,two);**

you make one template regex: /function/FUNCTION: //{tenter=lookforname]{placeholder}{var=push}
I'm saving "FUNTION : " to var

in lookforname i have another template regex: lookforname/([a-z_][a-z0-9_}*)/name:\1//{icase}{placeholder}{var=push}
lookforname///{var=pop}

Now in var we have: "FUNTION :  name:myf

[2020-06-11 08:19] jvguti commented on #2569
Yes, thats the idea, like if you were programing.

[2020-06-11 08:21] jvguti commented on #2569
I'm modifing lrexec code to get that results. Not only that because if you are on one table and get a match, pointer changes to up of table when I think it must continue in next table of the actual matrix table.

[2020-06-11 08:31] MaximeChretien opened #2572 "C/C++: __anon result for unamed structs and unions"
The name of the parser: C/C++

I simply used that command without special configuration :

[code]

The file used for that is : https://github.com/torvalds/linux/blob/v5.7/fs/jfs/jfs_dtree.h
The problem is on elements like that :

[code]

And I get that as part of the ouput :

[code]
But there should be no results for that I think as the structs and unions doesn't have a name...

The version of cta

[2020-06-11 11:12] jvguti commented on #2569
I did it,
I have codified lregec to works like I want.
Works wirh var=.... while all the rest of functions do the same as ever, only if you use var=pop or var=pop_clear you is going to note one extra result.

At same time, now the execution of tables is like a program, sequentially, one behind another and only change if there is a tjump that would go to the beginning of the table, with tleave or t

[2020-06-11 12:19] masatake commented on #2572
__anon tags are for making a tag for the language object that doesn't have a name.
You can suppress them ` --extras='-{anonymous}'`:

[code]

[2020-06-11 12:27] MaximeChretien commented on #2572
Oh ok ! Thanks for your answer :D

[2020-06-11 12:27] masatake commented on #2572
I must write about {anonymous} extra tag in ctags(1).

[2020-06-11 12:30] masatake commented on #2572
Allow me to keep this open.

[2020-06-11 12:32] MaximeChretien commented on #2572
Ok, you can close it when you want I will keep it open ^^

[2020-06-11 13:29] masatake commented on #2572
I wrote about why ctags needs the anonymous tags in #2573.

[2020-06-12 07:44] jvguti commented on #2561
tested that works well:
- Push: Adds the contents of the compiled regex to the END of what is in the Varstatus variable.
- Pop : prints the contents of Varstatus without deleting the variable. If there is placeholder do NOT add the regex to the result and the result is lost. If regex is empty and there is placeholder, the placeholder is disabled so that the result can be printed.
- Pop_clear: Same

[2020-06-12 07:45] jvguti commented on #2569
Continued in Harbour parser... Var=... implementation

[2020-06-12 07:45] #2569 closed

[2020-06-12 15:39] jvguti commented on #2569
Take a look, all modifications are commented.
Look for word "jvguti:" and you can find every change very easy.

Best Regards.

El mié., 10 jun. 2020 a las 21:44, Masatake YAMATO (<
notifications@github.com>) escribió:

--
Jorge V. Gutiérrez Rubio

/*
*   Copyright (c) 2000-2003, Darren Hiebert
*
*   This source code is released for free distribution under the terms of the
*   GNU General Public Li

[2020-06-13 04:50] #2565 closed

[2020-06-13 04:50] #2566 closed

[2020-06-13 04:50] #2547 closed

[2020-06-13 04:57] masatake commented on #1038
Could you review man/ctags.1.rst.in in #2573 (in English grammer aspect)?

[2020-06-13 08:33] jvguti commented on #2561
jvguti:
    Added {var=push}{var=pop}{var=clear}{var=pop_clear} to manage one accumulative var.
    Added Now execution on tables are secuential, when match does not go to first subtable.
    Added Now you can make an empty pattern with any of {command}.
        --_mtable-regex-name_table///{command}...{command}
    Added new {tenterst=} to instruct that when found a {tleave}, execution goes to fi

[2020-06-13 16:05] #2572 closed

[2020-06-13 18:57] emptyflask commented on #1038
#2573 looks good to me, but it looks like I'm too late, it's merged already.

[2020-06-13 19:09] jwhitley commented on #1038
Agreed w/ @emptyflask, #2573 English looks good.

[2020-06-13 20:25] masatake commented on #1038
@emptyflask, @jwhitley, thank you for taking cares.

[2020-06-13 20:25] masatake commented on #1038
#2573 is merged.

[2020-06-14 08:13] masatake commented on #1577
I have implemented a postscript-alike language called optscript.
Now the optscript standalone interpreter can define a procedure.
[code]

The next step is implementing operators for building control structure: if, ifelse, repeat, for, and so on.
Then we can link the library part of the optscript to ctags. I guess we can borrow many ideas from AWK.

[2020-06-16 03:52] t0mj0nes opened #2576 "SystemVerilog reports 'type' rather than port name"
The name of the parser:

SystemVerilog

The command line you used to run ctags:

$ ctags --language-force=SystemVerilog *.sv

The content of input files:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
a) Building it locally, via GNU/Linux distribution, as BSD's package,
b) win32 binar

[2020-06-16 08:17] masatake commented on #2576
Thank you for reporting.
The limitation behind the SystemVerilog parser causes the unsatisfied result was already reported and discussed in #2413. Rewriting the parser is needed.

[2020-06-16 08:17] masatake commented on #2576
Watch #2413.

[2020-06-16 08:17] #2576 closed

[2020-06-16 08:27] masatake commented on #2413
SystemVerilog parser and Ada parser, both have the same limitation in their design level.
They reuse their kind indexes for their token types.
They must be separated. The kind indexes are for tag emission. The token types are for tokenizing.
They are different. This separation brings us great flexibility to improve and change the parsers
without exposing parser internal changes to users' eyes.

[2020-06-16 08:28] masatake commented on #2576
You can help the development with your knowledge about SystemVerilog.
See #2494.

[2020-06-16 17:11] t0mj0nes commented on #2576
I don't feel qualified based on #2494. So there is currently no dedicated SystemVerilog parser owner? There will be a lot of adoption when it is more reliable.  It's already much better than the Exuberant + hacks.

[2020-06-16 20:57] masatake commented on #2576
Yes. We have no active maintainer for the parser other than I (but not dedicated).
My knowledge about the target language is very limited; I bought a [book](https://www.amazon.co.jp/Digital-Design-Computer-Architecture-Second/dp/0123944244/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&dchild=1&keywords=digital+circuit+computer+architecture&qid=1592340738&sr=8-1) a month ago.

[2020-06-16 22:03] masatake commented on #2413
[code]

[2020-06-16 22:08] masatake commented on #2413
`input t a,`

The algorithm:
1. create a tag for `t` as we did before.
2. if you find a character that can be part of an identifier as 1, cancel the emission of the tag for `t`.
3. create a tag for the identifier `a`, goto 2.

I guess this doesn't work well because createTag() is called recursively. So the cancellation works partially.

[2020-06-26 03:13] k-takata commented on #2564
I can reproduce this on Ubuntu 20.04 64-bit by using 32-bit GCC.

[code]

Both `varlink-enum` and `varlink-type-method-error` failed.

However, interestingly, the `parser-varlink` tests didn't fail on 32-bit MinGW on Windows.

[2020-06-26 05:50] masatake commented on #2564
Thank you for showing the way to reproduce the issue on the 64bit platform.
I'll take a look after implementing --_roles option I'm working on now.

[2020-06-26 06:26] k-takata commented on #2564
I ran it on valgrind.

First, install 32-bit debug symbols:
[code]

Then:
[code]

[2020-06-26 06:44] k-takata commented on #2564
Finally, I found that the size of `fpos_t` (`sTagEntryInfo.filePosition.impl.file`) is different when it is seen from `makeVarlikTag()` in `varlink_post.h` and from `makeTagEntry()` in `entry.c`.
It behaves as if `_FILE_OFFSET_BITS` is not defined in `varlink_post.h` and defined to 64 in `entry.c`.
However, it is strange that `_FILE_OFFSET_BITS` is not defined explicitly in u-ctags source code.

S

[2020-06-26 08:39] k-takata commented on #2564
Ah, `_FILE_OFFSET_BITS` is defined to 64 in `config.h` (when GCC is 32-bit) and it is included in `entry.c` via `general.h`, however, `varlink.c` doesn't include `general.h` before including `stdio.h`. That's the difference.
The problem is that `varlink.c` is automatically generated, so it is not possible to include `general.h` before including `stdio.h`.

[2020-06-26 22:14] masatake commented on #2564
Thank you very much for the inspection.

I thought it was better to introduce "%earlysource" to packcc. We can use it like:
[code]
However, I found modifying packcc.c like that is not easy. Its parsing process is one pass. The parsing and code emission is coupled tightly. So I am introducing "-i INCLUDE" option to packcc. You can use -i like:
[code]

general.h is injected at the head of varlink.c

[2020-06-28 15:39] nobrick opened #2580 "Ignore CREATE EXTENSION syntax in SQL"
Sometimes we use [`CREATE EXTENSION`](https://www.postgresql.org/docs/12/sql-createextension.html) to load some module functions in a SQL file, but the parser generates empty tags as long as a file contains this keyword.

This is postgres-specific and may not be a standard syntax. However, any SQL file could contain some dialect keywords related to its specific DB system specs. IMO a better soluti

[2020-06-29 05:27] masatake commented on #2580
Thank you. I made a fix for this #2581.

I would like to hear your idea more.

My understanding:
Any SQL may have its particular "CREATE FOO" syntaxes. The SQL parser of ctags should ignore it if the parser doesn't know how to handle it. This issue reports the case when FOO = EXTENSION. However, EXTENSION is an example.

Do I understand your original message?

#2581 just handles the "EXTENSION" ke

[2020-06-29 06:38] #2564 closed

[2020-06-29 06:41] masatake opened #2582 ""make tmain" fails on ubuntu20_32bit of circleci"
[code]

It seems that there is a bug in code for etags output.

About units target, varlink related tests are failed as we expect.

_Originally posted by @masatake in https://github.com/universal-ctags/ctags/pull/2578#issuecomment-650582596_

[2020-06-29 07:10] masatake commented on #2580
sqlite has a syntax for loading an extesion. https://stackoverflow.com/questions/6663124/how-to-load-extensions-into-sqlite

[2020-06-29 08:41] nobrick commented on #2580
Thank you for the update.

Yes, actually handling CREATE EXTENSION is enough for me. But I agree that errors should be ignored when the SQL parser doesn't know what to do with them. Because there are some minor differences in the syntax of SQL's various implementations, it may be common to encounter non-standard syntax. Ignoring errors may be a better approach than outputting no tags at all.

[2020-06-29 12:43] masatake commented on #2580
I implemented your idea. Pushed the change to #2581.

[2020-06-29 14:14] masatake commented on #2580
Ignoring FOO in CREATE FOO is harder than I expected. So I will withdraw the code for it.
I will rework on the suggestion when we get more bug reports about CREATE something.

I will rewind the change and I will merge the change only for ignoring CREATE EXTENSION.

[2020-07-01 01:56] mr-mocap commented on #2464
I ended up learning a LOT about ctags over the decades.  Believe me, I understand the frustration in figuring out how to effectively use ctags.  I eventually created my own bash script wrapper around it that generates tags files for various libs in the system.  This was the breakthrough for me... NOT having one massive tags file like everyone seems to want to do.
I eventually put the code in to th

[2020-07-02 02:11] vt-alt commented on #1038
I have two important questions. Page https://ctags.io/ says that `Here’s a few specific things you can do to help us: • You can help us package ctags for different platforms.` But, there is no releases for years and years.

1. From what commit should I create package for our distro (ALT Linux)?

Also, @masatake says:

2. Is it still broken? I really don't want to create package with a broken ctags

[2020-07-02 08:34] masatake commented on #1038
Basically, you don't have to make a commit for the git repository of ctags.
You can do as you want in your side.

I have no plan to make a release. I made many explanation in this issue.
I think the best way to prepare a binary package shipping it daily (, weekly, or month, as you want) as far as there is a change in the git repo.
For win32, https://github.com/universal-ctags/ctags-win32 does so.

[2020-07-02 08:54] masatake commented on #1038
How do you do? I believe you are healthy.

Could you review man/ctags.1.rst.in in https://github.com/universal-ctags/ctags/pull/2579/commits/36aa4a333263b6654b94f8fa14ade3843444c1c5#diff-0f58ec26841e4489a3d0a370f50797c0 of  #2579 (especially in English grammer aspect)?

I explained --roles-<LANG>.<KIND> option. If you think I should add more examples, let me know.

[2020-07-02 09:12] masatake commented on #2464
@mr-mocap, impressive.

I'm thinking about introduceing -r|--semantic-recursion  and --path-<LANG>=[+|-]... option.

Consider foo.c
[code]

You will run ctags with following command line:
[code]

In the first pass, the C parser of ctags detects stdio.h is included.
ctags searches the stdio.h from /usr/include. It will finds /usr/include/stdio.h and enqueue the header
file to the input list used in

[2020-07-02 16:26] #2580 closed

[2020-07-02 19:18] vt-alt commented on #1038
@masatake
Very important question for me - can you please answer: _Will there be regression if we install u-ctags over exuberant ctags?_

They may be not aware of the scale of u-ctags brokeness.

[2020-07-02 19:21] masatake commented on #1038
Yes. e.g.  u-ctags doesn't read ~/.ctags file though e-tags reads it.

[2020-07-02 19:43] vt-alt commented on #1038
Well, I think it's unacceptable to create package with knowingly heavily broken software. Lets wait until you say it's not broken or release.

ps. JFYI: See the versioning mess you caused by not assigning upstream version to u-ctags. Packages for distros **required** to have version. See how distros version differently universal-ctags package in various distros*:

**0.r6046.e65e91a2	20200111	20191

[2020-07-02 19:51] vt-alt opened #2585 "varlink tests fail on 32-bit arches (i586 and armh)"
Before abandoing creating package for ALT I found that tests fail on some 32-bit architectures (i586 and armh). This finding may be useful for you.

[code]

[code]

[2020-07-02 19:56] masatake commented on #2585
This will be the same as https://github.com/universal-ctags/ctags/issues/2564 .
It may be fixed with https://github.com/universal-ctags/ctags/pull/2578.
Could you try the latest code?
If it is not fixed with the latest code, could you reopen
https://github.com/universal-ctags/ctags/issues/2564?

[2020-07-02 19:56] #2585 closed

[2020-07-02 20:03] vt-alt commented on #2585
Excuse me for a delayed bug report. I found this at 2020-06-19 but reported just today.

I just tested with your current `master` branch at 1cae951ab4847a77772799514af434ae4e063703 on i586 arch and varlink test does not fail anymore.

Thanks,

[2020-07-02 20:09] polyzen commented on #1038
This level of access is unnecessary for downstream packaging.

[2020-07-02 20:41] masatake commented on #1038
I should not invite people to package u-ctags.
I withdrew the message. https://github.com/universal-ctags/universal-ctags.github.io/pull/21

"periodical packaging" will be the best way as far as I maintain u-ctags.
But, I should not say much about making a package.

[2020-07-02 20:44] masatake commented on #1038
Thank you for the comment... So I wonder why people doesn't do like ctags-win32.

[2020-07-02 20:53] masatake commented on #1038
People who reviews the man pages, please, let me know how strongly you need a release.

[2020-07-02 20:56] masatake commented on #2585
See also #2582.

[2020-07-02 21:00] vt-alt commented on #2585
`make tmain` passes without errors in my i586 env.

[2020-07-02 21:03] masatake commented on #2585
Thank you very much.

[2020-07-03 08:23] kalkin commented on #1038
@masatake IMHO If I were you I wouldn't care about bug reports. If it works for you release it. If you get bug reports, fix them when you have time, if you don't have time, then people should deliver code or shut up.

[2020-07-06 01:32] #2554 closed

[2020-07-08 07:48] lacygoill opened #2589 "Vim9: no tag is generated for ":def" functions"
**Describe the bug**

No tag is generated for Vim9 `:def` functions.

**To Reproduce**

Run these shell commands:

    mkdir -p /tmp/vim_plugin \
    && cd /tmp/vim_plugin \
    && cat <<'EOF' >foo.vim
        fu Legacy()
            echo 'legacy function'
        endfu
        def Vim9Function()
            echo 'Vim9 function'
        enddef
    EOF

    ctags --options=NONE -R .

Here is the co

[2020-07-08 08:18] lacygoill commented on #2589
Not sure whether this is a bug, but no tag is generated either for constants defined with the [`:const` keyword](https://vimhelp.org/eval.txt.html#:const).

---

I guess those tokens are too new.  I'll read the manpage to learn how to configure `ctags(1)` so that it parses them correctly.

[2020-07-08 08:18] #2589 closed

[2020-07-08 08:44] k-takata commented on #2589
Universal ctags has a Vim script parser: https://github.com/universal-ctags/ctags/blob/master/parsers/vim.c
It doesn't support Vim9 script yet.
I think this should be discussed at the u-ctags repository, not here.

[2020-07-08 09:26] lacygoill commented on #2589
Oh, thank you very much for the pointer.  I don't know C, but if it's not too difficult, maybe I'll try to submit a PR.

You're right, but I opened the issue on the u-ctags repository, not the Vim one.

[2020-07-08 10:06] k-takata commented on #2589
Oh, I totally misunderstood if this is in the Vim repository.

[2020-07-08 15:12] nerdfiles opened #2592 "Universal Ctags doesn't generate tags for html"
Generates tags for all other files: JS, Python, markdown, etc.

[code]

[2020-07-08 17:15] masatake commented on #2592
It isn't reproduced:
[code]
What kind of input do you give to ctags? What kind of command line do you use?

[2020-07-08 18:15] masatake commented on #1038
How do you do? I believe you are healthy.

Could you review man/ctags.1.rst.in in https://github.com/universal-ctags/ctags/pull/2579/commits/36aa4a333263b6654b94f8fa14ade3843444c1c5#diff-0f58ec26841e4489a3d0a370f50797c0 of  #2579 (especially in English grammar aspect)?

I explained --roles-<LANG>.<KIND> option. If you think I should add more examples, let me know.

[2020-07-08 18:24] nerdfiles commented on #2592
Hm. Well, I'm trying to use custom Ionic 5 HTML tags, and I also am assuming a `~/.ctags` file to be used in Vim with Tagbar. So it might be that I'm registering this issue in the wrong repository...

[2020-07-08 18:27] masatake commented on #2592
Do you mean I can close this issue?

[2020-07-08 18:34] nerdfiles commented on #2592
Is the `~/.ctags` file only a vim assumption? As I understand it, it isn't specified in ctags documentation or help. If so, then yes. I suppose it should be closed.

But would you have a good guess as to where I can figure out how to interact with the `~/.ctags` file?

[2020-07-08 18:41] masatake commented on #2592
See https://github.com/universal-ctags/ctags#differences about ~/.ctags.d and ~/.ctags.

[2020-07-08 18:47] nerdfiles commented on #2592
Thanks!

On Wed, Jul 8, 2020, 1:42 PM Masatake YAMATO <notifications@github.com>
wrote:

[2020-07-08 19:01] #2592 closed

[2020-07-08 20:14] lacygoill commented on #2494
@masatake I think I can help regarding Vimscript questions.  I will read the ctags manpage to better understand the concepts of `extra` and `subparser`.

[2020-07-09 18:58] masatake commented on #2494
@lacygoill, thank you.

[2020-07-09 22:30] jwhitley commented on #1038
The English in this change looks good to me.

[2020-07-09 22:37] masatake commented on #1038
@jwhitley, thank you very much.

[2020-07-09 23:01] masatake opened #2596 "update option formats/notations about roles"
* align the form of `--_roledef-<LANG>=kind.role,desc` to that of `--roles-<LANG>.<KIND>`: `--_roledef-<LANG>.<KIND>=role,deck`.

* align the form of `--_param-<LANG>:param=value` to that of `--roles-<LANG>.<KIND>`: `--_param-<LANG>.param=value`.

* update optlibc2c to handle `--roles-<LANG>.<KIND>` option.

_Originally posted by @masatake in https://github.com/universal-ctags/ctags/pull/2579#issu

[2020-07-15 07:53] ploxiln commented on #1038
(Summary: just make a tag, call it an alpha.)

exuberant-ctags 5.8 is now over 10 years old, and does not build successfully on modern macOS without a minor patch, which I contributed back in https://github.com/Homebrew/homebrew-core/pull/42147 after briefly explaining that there is no way to get any ctags project to make any releases with fixes. (You can get fixes here, you just can't get any rel

[2020-07-16 18:18] akemrir opened #2598 "Multiline regexp matching issue"
Results of parsing looks like they was shifted. And don't know why resetState is pointing to start of document.

The name of the parser: optlib / regexp

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:
Archlinux p

[2020-07-16 18:20] akemrir commented on #2598
When you test this with this command, it shows correct matches:

[code]

[2020-07-16 20:56] masatake commented on #2598
`mgroup` must be specified.

Please, read https://docs.ctags.io/en/latest/optlib.html?highlight=mgroup#multiline-pattern-flags .
In this case, you must add `{mgroup=2}`.

[code]

[2020-07-16 21:00] masatake commented on #2598
For simple cases, ctags should guess the proper value for `mgroup`.
It will not be hard for me to implement the code for guessing.

[2020-07-17 06:02] akemrir commented on #2598
Ah, I see now. mgroup is always required. Thanks for pointing this out.
Can I get rid of newlines in tag file from identifier at indexing?

[2020-07-17 06:43] akemrir commented on #2598
Now when I think about this: when I wrote this regexp it should be my responsibility to tell which group is eligible to use.
Regexp expressions could be very complicated.

[2020-07-19 07:58] #2598 closed

[2020-07-19 07:58] akemrir commented on #2598
@masatake Thanks for help.

[2020-07-19 13:47] AmaiKinono opened #2599 "Readtags: sort by tag names in different ways?"
If we run

[code]

then all tags begin with "hi" are sorted by their names. The behavior is to sort by alphabetical order, but when doing auto-completion, it's preferred to sort by the length of the name first, then by alphabetical order.

In other words, when the user types "hi", he wants a completion list like this:

[code]

rather than the opposite.

I'm not sure if this should be implemented b

[2020-07-19 20:35] masatake commented on #2599
length operator is added. With that, you can get the result you want with
[code]
I wonder the result of the length operator should be cached.

[2020-07-19 21:02] masatake opened #2601 "main,lregex: revise the way to using group numbers of regex matching"
Inspired from #2598.

The lregex code uses group numbers of regex matching in many places.
`{mgroup=N}` is one of them

I have found many issues about usage.

- [ ] a default value should be given to `mgroup`.
...

[2020-07-21 12:23] wuseal commented on #1566
Kotlin, Please, Thank you

[2020-07-21 15:43] AmaiKinono commented on #2599
Thanks! The `length` operator is pretty neat.

About caching: I don't know C, but will counting the length of a string be slower than searching that string in a table?

[2020-07-21 17:55] #2599 closed

[2020-07-22 03:29] Lennon925 opened #2602 "Struct range is wrong"
ctags version：ctags-2020-07-22_631690ad-x64

Code in test.c as follow:
[code]

when using command "ctags.exe --output-format=json --langmap=c:+.inc --fields=+ne -o - D:\test.c" to parse, the results as follow:

{"_type": "tag", "name": "__anonb35aaf65030a", "path": "D:\\test.c", "pattern": "/^typedef union {$/", "file": true, "line": 1, "kind": "union"}
{"_type": "tag", "name": "__anonb35aaf650408

[2020-07-22 04:38] masatake commented on #2602
The input is invalid as C code:
[code]
ctags is allowed to emit garbages from garbages.

[2020-07-22 04:38] #2602 closed

[2020-07-23 01:06] Lennon925 commented on #2602
I can't understand the relationship between your reply and my question.

[2020-07-23 01:28] k-takata commented on #2602
Your code is not a valid C code. (gcc reports error.)
So, ctags cannot parse it.

[2020-07-23 01:31] Lennon925 commented on #2602
I just give an example. It's obvious there are no definitions of BYTE1 and BYTE2

[2020-07-23 02:39] k-takata commented on #2602
Please provide a valid example. It's obvious that your example is broken.

[code]

[2020-07-23 07:19] Lennon925 commented on #2602
Sorry，code should be as follow:

`typedef union {
  struct {
#if (BYTE1 == BYTE2) {
    int reserverd : 1;
  }
#else {
      int tx : 1;
    }
#endif
  } bits;
  int u32;
} MAC_CONTROL;`

[2020-07-23 07:34] k-takata commented on #2602
Still broken.

[code]

`{` should not exist in this line.
Also the same for `#else {`.

[2020-07-23 07:48] masatake commented on #2602
Even if the input is valid as a C source file, ctags cannot handle C preprocessor conditions well.
It is a fundamental limitation.

[2020-07-29 02:02] chongchai opened #2603 "C/C++: can not parse file named "ld.h" or "ld.c""
I find the ctags can't parse "ld.h" file. Is there any limits on file name?

My test follows:

**ld.h**：
[code]
**command**:
```ctags.exe --output-format=json --langmap=c:+.inc --kinds-c=+plz --fields=+nie -o - D:\ld.h```

**result**
it gets empty result.

If rename the file `ld.h` to other name like `a.h`, I will get correct result.

[2020-07-29 03:08] masatake commented on #2603
Thank you for reporting.

Please, try running ctags with adding  `--map-LdScript=-'(ld.*)'` to the command line as a workaround.
[code]
It seems that the definition of the filename pattern map for LdScript parser is too aggressive.
I will make a pull request for weakening the definition.

[2020-07-29 09:21] chongchai commented on #2603
Adding `--map-LdScript=-"(ld.*)"` can solve my problem. Thank you!

[2020-07-29 13:06] AmaiKinono opened #2604 "Extra tags for variables in function signatures?"
From what I've seen, ctags seems to have a standard format for the `signature` field. For example, Here's a file `signature.c`:

[code]

Let's test it:

[code]

I think this means ctags actually understands the structure of the signature, so maybe it's possible to generate extra tags for variables in the signature.

An obvious benefit would be auto-completing the variable names inside the function

[2020-07-29 20:05] masatake commented on #2604
`z/parameter` kind of C parser is for the purpose:
[code]

--list-kinds=C may help you to know more about C parser:
[code]

[2020-07-29 20:09] #2603 closed

[2020-07-29 20:10] masatake commented on #2603
Fixed in #2605.

[2020-07-31 08:02] AmaiKinono commented on #2604
Thanks. I thought it should be some kind of extra tags.

Just some random thoughts:

1. Is the `parameter` kind available whenever `signature` is also available? I didn't find a way to inspect whether `signature` is available for a language quickly.
2. I tried this for python. Python now supports [type hint](https://docs.python.org/3/library/typing.html), which makes the signatures look somewhat l

[2020-08-02 20:26] masatake commented on #2560
I withdraw this. I found this one is already fixed.

[2020-08-02 20:26] #2560 closed

[2020-08-02 21:11] masatake commented on #2604
No.  Whether and how they are implemented are up to the parser.

There is no good way to know that.

Conceptually, we can provide such information
via --list-kinds-full or by introducing new option `--info-kind-C=`.

A kind fills a field.
e.g. "function" kind fills its "signature" field.

However, for providing such information, we have to inspect all the existing parsers (after
defining API for d

[2020-08-03 09:57] marcastel commented on #1566
Kornshell (AST available)

[2020-08-03 10:06] marcastel commented on #1566
Pandoc (rather than simply Markdown... by using the Pandoc AST all tokens can be very simply extracted)

Which means that with one implementation you gain support for (see https://pandoc.org for full list):

- Markdown & CommonMark
- reStructuredText
- AsciiDoc
- Textile
- txt2tags
- HTML
- roff man/ms
- Texinfo
- Docbook
- JATS
- TEI Simple
- docx / odt / OpenDocument XML / pptx
- various wiki fo

[2020-08-03 15:44] AmaiKinono opened #2606 "Python: generate typeref field for z/parameter tags based on type hint"
The idea is originally posted in https://github.com/universal-ctags/ctags/issues/2604#issuecomment-666991827.

Since 3.5, Python supports [type hint](https://docs.python.org/3/library/typing.html). An example would be:

[code]

This defines a function `func`, its parameter `a` is a string, `b` is a function that eats 2 integers and return a value of type T. `func` also returns a value of type T.

[2020-08-03 21:19] masatake commented on #2606
The example may be good. Without evaluating, ctags cannot recognize generic types.

[code]

Recognize this is easy. ctags can recognize T easily.
However, if the right side of expression where a type becomes complicated, we need evaluation that we will not do in ctags:
[code]

In C++, a generic type is declared in `templated <class T,...>`, so ctags doesn't need evaluation.
In Python, I think we s

[2020-08-03 21:21] masatake commented on #2606
[code]

This is valid python code. In this case, I wonder how the typeref field of func2 should be.

[2020-08-03 21:24] masatake commented on #2606
[code]

This one is also valid.
I wonder whether we should use "typename" as the 1st value for the typeref field or introduce something different like "typehint".

[2020-08-05 14:22] articuluxe opened #2607 "Configuring on cents 6.5 failed"
cloning repo and trying to configure on CentOS 6.5:
[code]

[2020-08-05 21:31] masatake commented on #2607
Before running configure, you must install pkgconfig. Did you install it?

[2020-08-05 22:10] masatake commented on #2607
I succesfully biild a ctags executable in centos6.10:

[code]

[2020-08-06 02:20] Lennon925 opened #2609 "Hope to add protection when to parse files"
When I use "ctags.exe -L C:\ctags-2018-12-26_5728abe4-x64\fileList.files --output-format=json --fields=+ne" to parse files in fileList.files，if program has no permission to open aaa.c, the whole parse will be interrupted. bbb.c can't get to be parsed.
I hope program can add some excpetion protections so that when some exceptions occur, other files still be parsed.

fileList.files content:
D:\Proje

[2020-08-06 09:38] masatake commented on #2609
Do you think changing the behavior of -L option, skipping the input file with a warning message, fits your purpose?

[2020-08-06 16:49] articuluxe commented on #2607
Yes, pkgconfig is installed.

sudo yum install pkgconfig
Loaded plugins: fastestmirror, security
Loading mirror speeds from cached hostfile
Setting up Install Process
Package 1:pkgconfig-0.23-9.1.el6.x86_64 already installed and latest version
Nothing to do

[2020-08-06 16:50] AmaiKinono commented on #2606
In my experiment, they are not valid for mypy:

`signature.py`:

[code]

Then:

[code]

Btw, could you comment on this?

[2020-08-06 16:56] k-takata commented on #2607
Is your auto(re)conf installed by yum?

[2020-08-06 17:02] AmaiKinono commented on #2606
I think another problem is, these 2 programs have the same meaning:

[code]

[code]

But it's hard for ctags to generate the same tags file for them.

For the typical usage of a tags file, I think it's not worth it to bother with types other than classes too much, since they don't bring benefits for auto-completion and finding definitions (I have an idea of jumping from the argument in the signatu

[2020-08-06 17:11] masatake commented on #2606
Valid.
If a tag has "file:", it is defined in a file scope.
If it doesn't have, it is defined with a name that can be referred from the outside of the input file.

Here is an example.

[code]

I think "file:yes" and "file:no" are better.

[2020-08-06 17:14] articuluxe commented on #2607
Ah, it may not be. I mean it is, but in the path are also some custom paths from work libraries (this is not my machine).

I’ll investigate resetting the path and retry, thanks.

[2020-08-06 17:36] masatake commented on #2606
[code]

I have to say recognizing tp.Any and Any are the same is not the job of ctags.
Though there are some exceptions, ctags works in lexical level.
ctags should not hide the information in lexical level.

u-ctags gives hints to your tool for recognizing tp.Any and Any are the same.

[code]
[code]

Your tool can know what `tp` is. The relation of tp and typing is obviously need, but it is not re

[2020-08-06 18:46] articuluxe commented on #2607
This was indeed the issue, using the installed autotools addressed the problem.  My apologies for the noise.

[2020-08-06 18:46] #2607 closed

[2020-08-07 03:28] Lennon925 commented on #2609
I think it's ok.

[2020-08-07 12:58] AmaiKinono commented on #2606
About the `file` field, I read this in tags(5):

So It's designed to be empty in exuberant ctags.

I don't think it would ever have a value that's different from the input file, since I've not seen in which language you can define something that's in the scope of another file. If this is true, replacing the value with `yes/no` wouldn't bring any problem (other than incompatibility).

Yes. It's als

[2020-08-08 03:28] masatake commented on #2606
It is true.

I didn't introduce "yes/no" for avoiding the incompatibility.
If I changed file: field as you wrote, I think we don't get much. The consistency of tags output is improved a bit.
If you have a strong reason for "yes/no", please, open a new issue.  For avoiding the incompatibility, I will not change it but I would like to explore another way to solve the issue.

I recognized the importa

[2020-08-08 03:29] masatake opened #2610 "Python: implement nameref field"
nameref field explained in the comment of parsers/python.c as an idea is useful for client tools.
https://github.com/universal-ctags/ctags/issues/2606#issuecomment-670503641

Implement it.

[code]

[2020-08-12 02:43] #2609 closed

[2020-08-12 02:46] masatake commented on #2609
The fix is merged. If you still have the trouble, please, reopen this.
Thank you for reporting.

[2020-08-12 11:06] VerdantFish opened #2615 "‘__NR_fstat64’ undeclared && ‘__NR__llseek’ undeclared"
when I built ctags in ubuntu12.04 , Errors occured ! I was following the instructions in  ctags/docs/autotools.rst , but when I run "make" , there're 2 errors like this :

-----------------------------------------------------------------------------------

main/seccomp.c: In function ‘installSyscallFilter’:
main/seccomp.c:45:1: error: ‘__NR_fstat64’ undeclared (first use in this function)
main/sec

[2020-08-12 12:47] masatake commented on #2615
How about following command line?
[code]

This line implies you did something abnormal. You must know what you are doing.

[2020-08-13 04:11] VerdantFish commented on #2615
Thank you @masatake .

I  just only runned commands mentioned in autotools.rst, without doing any other actions.
I runned those commands again, with param `--disable-seccomp` following `configure` .
It works now. Thank you again.

[2020-08-13 07:35] #2615 closed

[2020-08-16 08:54] arozehnal opened #2617 "AIX: ctags: out of memory"
I build ctags on AIX like Autotools-based projects.
make finished with message:
make[1]: warning:  Clock skew detected.  Your build may be incomplete.
make[1]: Leaving directory '/work/ctags-master'
make: warning:  Clock skew detected.  Your build may be incomplete.

ctags exists, after startup ->
    ctags --version
only:
   ctags: out of memory
is listed.

any suggestion?

[2020-08-16 10:14] masatake commented on #2617
How does ctags say if you given ' --verbose --version' instead of '--version'?

[2020-08-16 11:20] arozehnal commented on #2617
ctags --verbose --version

Installing parsers: UniversalCtagsctags: out of memory

[2020-08-16 12:08] masatake commented on #2617
Which compiler do you ues?

[2020-08-16 12:34] arozehnal commented on #2617
gcc  8.3.0
gdb  8.1.1  # but I'not familiar to  work with it  :-(

[2020-08-16 12:56] masatake commented on #2617
o.k.
Let's rebuild ctags with debug information first:

[code]

The run the rebuilt ctags executable under gdb:
[code]

I would like to see the output of gdb, especially about where command.

[2020-08-16 13:10] arozehnal commented on #2617
intax1206 /work/ctags-master#  make clean
test -z "ctags readtags" || rm -f ctags readtags
test -z "main/repoinfo.h peg/varlink.c peg/varlink.h" || rm -f main/repoinfo.h p
eg/varlink.c peg/varlink.h
Cleaning test units
./misc/units[767]: syntax error at line 774 : `=~' unexpected
make: *** [Makefile:5800: clean-units] Error 2
intax1206 /work/ctags-master#

intax1206 /work/ctags-master# ls -l ctags

[2020-08-16 13:16] masatake commented on #2617
I'm sorry. "make clean" is not enough for rebuilding.
Could you use the same steps but running "make -k clean" instead of "make clean"?

[2020-08-16 13:56] arozehnal commented on #2617
Hmmm, it's the same as last time...

make -k clean
make CFLAGS='-g -O0'
gdb ./ctags

(gdb) run --version
Starting program: /work/ctags-master/ctags --version
ctags: out of memory
[Inferior 1 (process 15925514) exited with code 01]
(gdb) where
No stack.
===============================

I also tried to delete the directory /work/ctags-master
and repeat the building according to your instructions
but

[2020-08-16 14:28] hirooih opened #2618 "SystemVerilog: wrong output on LRM and UVM-1.2 code"
**The name of the parser:**

SystemVerilog

**The command line you used to run ctags:**

[code]

**The content of input file:**

[code]

**The tags output you are not satisfied with:
The tags output you expect:**

Comments with "XXX => YYY" format in the source code above show them.

For example:

[code]

- unsatisfied output: var as port, data_in as register
- expected output: data_in as port

**

[2020-08-18 16:37] dsynkd opened #2619 "ctags does not pick up tags from C code in yacc file"
*****

The name of the parser: yacc

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary: arch linux `pacman`

Issue: ctags does not pick up tags from C code in yacc file

[2020-08-18 16:56] masatake commented on #2619
Could you run the ctags commad with `--extras=+g` ?

[2020-08-18 19:34] masatake commented on #1038
I added a man page that shows how the python parser of ctags works.
 docs/man/ctags-lang-python.7.rst in
https://github.com/universal-ctags/ctags/pull/2613/files#diff-ace8fdcd38956865f8b696fd2a0efe6b

Could you review the change?

[2020-08-18 19:41] masatake commented on #2596
About "role", the issue is fixed. I wonder how I should do about _param.

[2020-08-18 19:43] masatake opened #2620 "update option formats/notations about parameter (param)"
Align the form of --_param-<LANG>:param=value to that of --roles-<LANG>.<KIND>: --_param-<LANG>.param=value.

[2020-08-18 19:45] masatake commented on #2596
I opened #2620 for handling --_param-<LANG>.param=value.

[2020-08-18 19:45] #2596 closed

[2020-08-18 19:47] masatake commented on #2617
I have to write a script driving gdb. It takes time.

[2020-08-19 22:28] masatake commented on #2617
Save the following file as init.gdbinit:
[code]

Run ctags under gdb with the script:
[code]

Could you show me the output of gdb?

[2020-08-19 23:45] arozehnal commented on #2617
I redirect output of gdb to gdb.out.txt.
This message appeared too:
warning: File "/work/RO/CTAGS/ctags-master/.gdbinit" auto-loading has been declined by your `auto-load safe-path' set to "$debugdir
:$datadir/auto-load:/work/ctags-master/.gdbinit".
ctags: Notice: No options will be read from files or environment
Installing parsers: UniversalCtagsctags: out of memory

[gdb.out.txt](https://github.

[2020-08-20 00:04] masatake commented on #2617
Thank you.

Save the followin file as init2.gdbinit:
[code]
Run ctags under gdb with the script:
[code]
Could you show me the output of gdb?

[2020-08-20 00:18] arozehnal commented on #2617
OK, here is the output:

`intax1206 /work/RO/CTAGS/ctags-master# gdb ctags -x init2.gdbinit
GNU gdb (GDB) 8.1.1
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty

[2020-08-20 01:51] masatake commented on #2617
Thank you for taking time.
I think I understood what happened. There are routines that assume malloc is nerver called with 0 and/or malloc(0) never returns NULL. The all platforms we have ever tested has a malloc implementation that never returns NULL for malloc(0). So this bug has been hidden. I guess AIX's malloc returns NULL for 0.

Please, wait for awhile. I'm looking for the way to fix it.

[2020-08-20 04:54] masatake commented on #2617
Please, try #2621.

[2020-08-20 16:11] jlconlin opened #2622 "Defining parser for ENDF file format"
I have a file format that doesn't have a parser (yet). I'd like to (if I can), write a parser so that I can use existing text-editor tools to naturally move through the file. I'd be willing to do the work, but I'm not sure where to start. There are no keywords for this as it is not a computer language. I've written a simple syntax and folding definition for the Vim editor. Not sure if that helps o

[2020-08-20 18:51] masatake commented on #2622
The format definition: https://www.nndc.bnl.gov/csewg/docs/endf-manual.pdf

[2020-08-20 18:53] jlconlin commented on #2622
Yes that is the format definition. The parser does not have to generate tags for all of it right now. We can add to it as needed. First is just needed to know where `MMMM`, `FF`, and `TT` change.

[2020-08-20 18:55] masatake commented on #2622
Do you know any popular programming language like C?
Could you tell me one of what you knows?  I would like to use it as an example to explain tags output.

[2020-08-20 18:57] masatake commented on #2622
You may know TeX. I will use it.

[2020-08-20 18:58] jlconlin commented on #2622
I'm mostly familiar with C++, Python, and LaTeX. I can do C, but I don't like to.

[2020-08-20 19:11] masatake commented on #2622
input.tex:
[code]

For the above input, ctags can generate following tags file:
[code]

For input.endf:
[code]
what kind of tags output do you want?
My guessing:
[code]

[2020-08-20 19:29] masatake commented on #2622
[code]
This includes a typo.
What I would like to write is:
[code]

[2020-08-20 19:38] masatake commented on #2622
As far as reading "Table 1: Key parameters defining the hierarchy of entries in an ENDFfile", mmmm, ff and tt  may not be good as the name of kinds.

mat (material) may be better than mmm.
mf (material file) may be better than ff.
mt (material subdivision) may be better than tt.

[2020-08-20 19:41] masatake commented on #2622
I wonder how "1 " and " 0" should be tagged. Can we tag them as "1" and "0"?
Whether the prefixed and suffixed white space character should be kept or not.

[2020-08-20 19:58] masatake commented on #2622
I found more typos. 17434 should be 7434. 07434 should be 7434.

[2020-08-20 20:23] masatake commented on #2622
Based on the guessing I wrote a parser. `\x20` at the beginning of lines means a white space char.

[code]

[2020-08-20 20:43] jlconlin commented on #2622
Yes, you are right, `mat`, `mf`, and `mt` are the correct names for the hierarchy. I was trying not to get too much into the details. I'm impressed you were able to dig through that large document and find the important stuff. Thanks!

So when `mat`, `mf`, or `mt` turns to `0`, that just means that that it is the last line of the material/file/section. I don't know if that means that you need a ne

[2020-08-20 20:51] jlconlin commented on #2622
So, I'm too much of a novice to fully comprehend what those tags mean. There should be three "metadata" for every line, `mat`, `mf`, `mt`. I don't know if a tag needs to be generated for every line, or only when the section changes.

[2020-08-20 21:25] masatake commented on #2622
About the output, see tags(5) man page (https://docs.ctags.io/en/latest/man/tags.5.html).

I also don't know that. I can help you write a parser. However, I cannot help you know what you want
because I don't know ENDF format well, not only about syntax bout also about purpose.
It is very up to how you use the tags output. I guess you may want to navigate the files on vim.
That means the knowledge

[2020-08-20 21:48] jlconlin commented on #2622
That looks great! If I understand C well enough, you are looking at the end of the file and updating the value of `mat`, `mf`, and `mt`. The only thing I would change is that `mt` is three digits in length; you only have it as two.

I'll try compiling your change and see what it does for me.

[2020-08-20 21:53] masatake commented on #2622
Yes.

Oh, sorry.

o.k. Feel free to reopen this if you need.

[2020-08-20 21:53] #2622 closed

[2020-08-21 00:40] TrentSe commented on #1566
Prolog would be great.  I'm happy to assist (though not my area of expertise...).

[2020-08-21 05:18] masatake commented on #1566
@TrentSe,

There is only a few chance I can get this kind of offering.
I wrote how to assist me in the initial comment of this issue.

[2020-08-21 05:26] TrentSe commented on #1566
Hey Masatake,

You're most welcome.  I'd be attempting it myself without your help, so makes sense for us to team up!

I'll read up and get back to you...

[2020-08-21 06:02] masatake commented on #1566
Great!

Please, open a new issue for developing our prolog parser.

[2020-08-21 16:51] surmish opened #2623 "Ctags not generating correct tags for TCL script"
The name of the parser: ctags

The command line you used to run ctags: `ctags --options=NONE script.tcl`

The content of input file:

[code]

The tags output you are not satisfied with:

[code]
If you notice the ctags parser stops at `proc2` and `proc3` doesn't appear in the list.

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary: Building it locally,

[2020-08-21 17:41] surmish opened #2624 "Tags for TCL procs with scope enabled have duplicate proc names in them"
The name of the parser:  ctags

The command line you used to run ctags: `ctags --extras=+q --languages="Tcl" script.tcl`

The content of input file: `proc sScope::proc1 {} {}`

The tags output you are not satisfied with:

[code]

If you notice the tag is `sScope::proc1::proc1`. I would've expected `sScope::proc1` instead, as in the following.

The tags output you expect:
[code]

The version of cta

[2020-08-21 22:17] #2623 closed, assigned to nobody

[2020-08-21 22:17] #2624 closed, assigned to masatake

[2020-08-24 06:34] TanishBansal opened #2626 "pax issue when the UID or GID of the current user is too high (> 2097151)"
While trying to build without sudo, pax doesnt support very large UID.

[code]

Get the following,
[code]

Any alternative way to build without pax and using sudo( UID for root is 0)

Thanks!

[2020-08-24 09:33] masatake commented on #2626
It cannot be solved in ctags.

See http://gnu-automake.7480.n7.nabble.com/Question-about-automake-fails-to-pass-the-correct-parameters-to-pax-when-using-large-UID-GID-td7599.html

[2020-08-24 09:33] #2626 closed

[2020-08-24 17:14] surmish opened #2627 "TCL parser thrown off by $ char in regexp statement."
The name of the parser: universal ctags

The command line you used to run ctags: `ctags --options=NONE script.tcl`

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

If you notice, `proc2` is missing from the tags file. Removing the `$` character from the regexp fixes the issue. You will notice the following tags once you run the same script without the `$` c

[2020-08-24 17:29] masatake commented on #2627
How can we know the `$` is not the prefix of variable?

[2020-08-24 17:43] surmish commented on #2627
The regular expression is stored within hard quotes `{` and `}`.
It is not a prefix of a variable because the pattern is ending there.

E.g. Both of the following treat `$` as an anchor character

[code]

However if the quotes are weak quotes `"` and if `$` is used before some legal variable name pattern then this happens
[code]

[2020-08-24 19:38] colinlieberman commented on #2480
Just wanted to +1 this - the issue with signatures including string literals is particularly problematic with rubocop eg having to change

[code]

to

[code]

and yes, obviously there's another solution for this, but for utility classes that are eg for looking up a number of items from a large dataset, that's the reason the disable options exist

[2020-08-24 22:09] masatake commented on #2627
[code]
This prints "abc".
It means `$a` within hard quotes { and } is expanded.
How can I understand this?

[2020-08-24 22:17] surmish commented on #2627
`proc` keyword in TCL has a syntax like which is `proc name args body`
described in detail here: https://www.tcl.tk/man/tcl8.6/TclCmd/proc.htm

Similarly `regexp` keyword also has a syntax like so: `regexp ?switches? exp string ?matchVar? ?subMatchVar subMatchVar ...?`
described in detail here: https://www.tcl.tk/man/tcl8.4/TclCmd/regexp.htm

There is also `regsub` which is slightly different:
htt

[2020-08-24 22:30] masatake commented on #2627
My understanding of how the `$` with `{...}` is handled is up to context.

[code]

In this case, how `$a` is treated?
My understanding is that it is up to how $def is defined in `alibrary`.
Am I wrong?

[2020-08-24 22:43] surmish commented on #2627
I'm not aware of `alibrary`. Is it from the TCL source?

[2020-08-24 22:47] masatake commented on #2627
No. Please, assume a user of ctags writes it.  `def` is defined in `alibrary`.
I guess you cannot say how `$a` is handled without inspecting `alibrary`.
Am I wrong?

[2020-08-24 23:04] surmish commented on #2627
Yes you need to know how `$def` is defined to see how `$a` is treated.
But `{}` are hard quotes, the evaluation of anything within those braces is up to the downstream code.

[2020-08-24 23:07] masatake commented on #2627
I would like to make sure.
Here, "the downstream code"  means commands at the head of a statement like $def, proc, regexp, or regsub, don't they?

[2020-08-25 01:01] surmish commented on #2627
No, I meant the implementation of those keywords.

[2020-08-25 02:28] TrentSe opened #2628 "Request: Prolog Parser"
Creating an issue for extending universal-ctags to handle Prolog [1].

... as per Masatake's request [2]

[1] https://en.wikipedia.org/wiki/Prolog
[2] https://github.com/universal-ctags/ctags/issues/1566#issuecomment-678057425

[2020-08-25 02:29] TrentSe commented on #1566
Thanks Masatake.  Created as #2628.

https://github.com/universal-ctags/ctags/issues/2628

[2020-08-25 02:34] TrentSe commented on #2628
SWI Prolog syntax grammar/BNF?

http://swi-prolog.996271.n3.nabble.com/SWI-Prolog-syntax-grammar-BNF-td11598.html

[2020-08-25 02:46] TrentSe commented on #2628
SWI Prolog provide a modified version of Emacs that (I believe*) parses Prolog:

https://www.swi-prolog.org/pldoc/man?section=pceemacs

* I haven't used it; I'm familiar with Vim.

[2020-08-25 02:57] thisguychris commented on #1933
I've tried @masatake patch, I still couldn't get it to work.
`func2` though can be successfully parsed if you add a variable declaration on the object:

[code]

[2020-08-25 04:36] masatake commented on #2627
So if the keyword is not implemented in the current input file, ctags must find the implementation of keyword to handle `$` correctly. Am I correct?

[2020-08-25 04:43] masatake commented on #2628
Thank you.

I will write an initial minimum version of prolog parser.
I expect you complete it. I would like you to read #2622.
The issue tells how important designing in a parser development is.

Taken from [1]:
[code]

What kind of tags output do you expect?
What should be tagged? What "kinds" should be assigned to the tags?

[2020-08-25 04:45] masatake commented on #2480
@colinlieberman, please open a new issue for the topic.
I would like you to show an example input. I expect the input is not so large.
Please, remember that I don't know ruby well.

[2020-08-25 04:48] TrentSe commented on #2628
Hey Masatake,

Cheers for coming back so quickly.  I'll read #2622.

Thanks also for your efforts writing the minimum parser.  I'll do what I can to complete it, though will probably need assistance.

[2020-08-25 04:52] TrentSe commented on #2628
I'm not that familiar with ctags, so may not answer your question correctly.

Tags:

predicates: mother_child, father_child etc.
atoms: tom, sally,
variables: X, Y

Translation from Prolog speak:

"predicates" -> method (Prolog has no functions)
"atom" -> static value (distinct from a string)
"variable" -> :)

String -> string (text surrounded with ", e.g. "this is a SWI-Prolog string")

[2020-08-25 04:58] TrentSe commented on #2628
I note that Prolog defines modules [1], for example:

   36 :- module(charsio,
   37          [ format_to_chars/3,          % +Format, +Args, -Codes
   38            format_to_chars/4,          % +Format, +Args, -Codes, ?Tail
   39            write_to_chars/2,           % +Term, -Codes
   40            write_to_chars/3,           % +Term, -Codes, ?Tail
   41            atom_to_chars/2,

[2020-08-25 05:02] TrentSe commented on #2628
If you have the time, here is a quick intro to Prolog:

   https://www.youtube.com/watch?v=SykxWpFwMGs

It's 1 hour long, but you wouldn't need to watch anything like that much to see most of the syntax...

[2020-08-25 05:05] masatake commented on #2628
Thank you but prolog knowledge is enough.
Expected tags output is really needed.
It is the area I cannot help you.

[2020-08-25 05:06] masatake commented on #2628
Let's focus on smaller input:
[code]
What should be tagged?
If we have perfect prolog parser in ctags, which tokens may ctags capture?

[2020-08-25 05:13] TrentSe commented on #2628
Here's the syntax doco fro Gnu Prolog:

http://gprolog.org/manual/html_node/gprolog019.html

I'm not that familiar with ctags yet.  I can read more to be more helpful.

From what I know now, "mother_child" would be tagged as the equivalent of a C method, trude and sally as the equivalent of C strings.

... would it be helpful for me to write an "equivalent" C program and run it through u-ctags xre

[2020-08-25 05:13] TrentSe commented on #2628
I'm not that familiar with ctags yet. I can read more to be more helpful.

From what I know now, "mother_child" would be tagged as the equivalent of a C method, trude and sally as the equivalent of C strings.

... would it be helpful for me to write an "equivalent" C program and run it through u-ctags xref...?

[2020-08-25 05:23] masatake commented on #2628
O.k. I wrote minimum version of prolog parser.
[code]
Is this the same as what you expect?

[2020-08-25 05:24] TrentSe commented on #2628
That was quick!

[2020-08-25 05:25] TrentSe commented on #2628
... I also think I see what you're doing.  I can build on that...

[2020-08-25 05:33] masatake commented on #2628
Let's extend the input a bit.

[code]

The first question is `parent_child` should be tagged twice or once?

I guess you may want to have a arity: field like:
[code]

Am I correct? if yes, what I should do for the input:
[code]

Is the arity for mother_child 1 or 2?

[2020-08-25 05:43] TrentSe commented on #2628
It shoud be tagged twice; they're multiple definitions of the predicate (method).

Maybe, though I'm not sure how that would be used.  Arity is just the count of predicate arguments...

2 - the size of the argument list [ trude, Name ].

Everything after the :- is the "implementation" (in C terms... 😄  ).

[2020-08-25 06:15] masatake commented on #2628
[code]

[2020-08-25 06:17] masatake commented on #2628
I guess arity field and signature field should be filled.

[2020-08-25 16:50] surmish commented on #2627
Yes, I think so. `regexp, regsug, proc` are tcl in built keywords.

[2020-08-25 17:42] masatake commented on #2627
ctags cannot track the implementations.
We need heuristics for deciding how '$' is used.

[code]
These will be variable prefixes.

[code]
These will be in regex patterns.

[code]
In this case, the heuristic doesn't work well.

If you have any idea to improve the detection, I would like to hear it.

[2020-08-26 01:08] dsynkd commented on #2619
thank you, that solved the problem

[2020-08-26 01:08] #2619 closed

[2020-08-26 07:59] masatake commented on #2606
@AmaiKinono, when you find time, could you review https://github.com/universal-ctags/ctags/pull/2613/files#diff-ace8fdcd38956865f8b696fd2a0efe6b ?

[2020-08-27 05:18] masatake commented on #2627
I made a pull request based on the idea written in my last comment.
I hope this mitigate this issue.
Could you try #2629 ?

[2020-08-27 15:22] colinlieberman commented on #2480
Thanks, @masatake - i'm trying to put together a good example for you, but not being able to duplicate the issue.

I noticed this with an atom plugin, and I'm friends with its author, so I'm poking at this a bit with them. I'll update this to either strike my original comment or create a new issue as you suggest depending on what we find

[2020-08-27 15:53] masatake commented on #2480
@colinlieberman, see  #2630 and write example inputs if you have.
#2630 may fix "the parsing bug with signatures including comments".
With the change, ctags can extract the signature for `cat` properly from input:
[code]

[2020-08-27 16:47] colinlieberman opened #2632 "Parsing bug(?) with ruby classes with comment on line of class declaration"
The name of the parser: ruby

The command line you used to run ctags: `ctags --options=NONE test/class_one.rb test/class_two.rb`

The content of input file:

class_one.rb:

[code]

class_two.rb:

[code]

I know the way I describe this, it will look like the issue is the IDE, but bear with me...

Case 1 (correct): In my IDE (atom), if I trigger 'go to declaration' in class_one.rb on line 10 (`bar_c

[2020-08-27 16:49] colinlieberman commented on #2480
Hi, @masatake I'll check that out thanks.

I didn't see your comment before I made #2632

I'll have a look at #2630 and close mine if it's a dup

[2020-08-27 19:01] surmish commented on #2627
This test case fails:

[code]

[2020-08-27 19:35] masatake commented on #2627
I found backslash characters are not handled correctly. I pushed one more change.
I guessed proc2 may be "proc proc2".

[2020-08-27 19:37] surmish commented on #2627
yes, I meant `proc proc2 {} {}`

[2020-08-27 19:38] masatake commented on #2480
You don't have to close #2632. You reported yet another bug.
I will merge #2630. It is nothing to do with #2632.

[2020-08-27 19:47] masatake commented on #2632
I think this is not an issue of ctags.
This is an issue of atom or a tool running on atom.
The diff of tags files you display shows the tags output looks valid.

[2020-08-27 19:49] masatake commented on #2632
It seems that a tool reading tags file cannot handle '\' in the pattern correctly.

[2020-08-27 19:58] masatake commented on #2618
To solve this issue, large code rewriting is needed.
https://github.com/universal-ctags/ctags/issues/2413#issuecomment-609580989

[2020-08-28 15:34] colinlieberman commented on #2632
Thanks, @masatake , I'll look into that. Changing the / to a - isn't an option: this comment is a directive to a popular [ruby linting tool](https://github.com/rubocop-hq/rubocop)

I'll see if I can get any insight into the tools reading the tags

[2020-08-28 17:28] #2632 closed

[2020-08-28 17:29] #2606 closed

[2020-08-28 17:29] #2610 closed

[2020-08-28 17:30] masatake commented on #2604
I think all issues reported here are solved.

[2020-08-28 17:30] #2604 closed

[2020-08-29 08:30] #2627 closed

[2020-09-01 07:46] captainlin08 opened #2633 "typedef struct & typeref type issue"
Hello，
       When I used typedef as a nested definition of a struct, the tag did not generate the typeref type I wanted for a struct member variable that was also defined with typedef. Can ctags support this？Thank you.

The name of the parser:
C

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags outpu

[2020-09-01 12:02] masatake commented on #2633
When I used typedef as a nested definition of a struct, the tag did not generate the typeref type I wanted for a struct member variable that was also defined with typedef. Can ctags support this？

No.

`c_t` is tagged as
[code]

Therefore a tool can know n is typed `struct:_c` with querying tags file recursively.
Such rescursive querying is a job of your tool, not ctags.

[2020-09-01 12:02] #2633 closed

[2020-09-02 17:18] TanishBansal commented on #2626
Is there any alternative build system like cmake etc instead of automake?

[2020-09-02 18:43] masatake commented on #2626
Only automake for posix.

[2020-09-02 23:54] masatake commented on #2626
It is an issue about the archive format. So I guess changing the building tool form automake to another one may not help us.
https://lists.gnu.org/archive/html/bug-automake/2013-04/msg00016.html

[2020-09-03 16:06] mvanderkamp opened #2634 "Unable to generate tags for files with an extension matching built-in exclusion list"
In `initOptions()` in `main/options.c` there are several built-in exclude options. Sometimes these extensions get used for other types of data though, but as far as I can tell there doesn't seem to be a way to override these default excludes. Am I mistaken? Did I miss something in my search?

If there currently isn't a way to override these excludes, it would be a nice option to have sitting aroun

[2020-09-03 16:27] masatake commented on #2634
See ctags(1) man page.
https://docs.ctags.io/en/latest/man/ctags.1.html#options

`--exclude`, `--list-excludes`, `--exclude-exception` may help you.

[2020-09-03 21:30] mvanderkamp commented on #2634
Thank you that did the trick! Is that a relatively recent option? I must have been working with an older version of the man page. Sorry I didn't manage to find that on my own!

[2020-09-03 21:30] #2634 closed

[2020-09-04 13:26] hirooih commented on #2618
Hi,

First I thank you for this great project.

This is a issue for handling of types defined by typedef.

I took a look of verilog.c, and found it was a very clean code and easy to read.  I also found solutions for some of issues above.
I sent a pull-request, https://github.com/universal-ctags/ctags/pull/2635.  Please review it.

***

I think four issues still remain.

1. types defined by typedef

[2020-09-06 13:49] hirooih commented on #2618
Hi,

I sent two pull-requests.

#2637

#2636

I am not rushing you.  Please take a look at them, when you are ready.

[2020-09-07 05:45] mb13 opened #2638 "Javascript: function containing regular expression excluded from "tags""
I'm using ctags for my JavaScript code. Until now I didn't have any issues. But if this

`.replace(/'/g, '')`

is used in a function, then the function and the rest of the file is not tagged in the "tags" file. The problem I think is with the odd number of apostrophes... Vim has also problems with highlighting the tokens

[2020-09-07 08:32] masatake commented on #2638
Could you show us (a) function(s) that trigger(s) the bug?

[2020-09-07 09:10] mb13 commented on #2638
`function aa() {
	// it will be included in tags
}

function bb() {
	var someString = "a'b";
	// here is the error... everything from this point below will NOT be included in tags
	someString.replace(/'/g, '');
}

function cc() {
	// it will NOT be included in tags
} `

[2020-09-07 09:15] masatake commented on #2638
Thank you.

[2020-09-07 13:31] masatake commented on #2638
[code]

The issue is not reproduced.

[2020-09-07 15:40] mb13 commented on #2638
[root@localhost ~]# ctags -o - input.js
    aa	input.js	/^function aa() {$/;"	f
    [root@localhost ~]# ctags --version
    Exuberant Ctags 5.8, Copyright (C) 1996-2009 Darren Hiebert
      Compiled: Jul 23 2018, 13:15:51
      Addresses: <dhiebert@users.sourceforge.net>, http://ctags.sourceforge.net
      Optional compiled features: +wildcards, +regex

[2020-09-07 15:44] k-takata commented on #2638
You are using Exuberant Ctags, not Universal Ctags.

[2020-09-07 18:19] #2638 closed

[2020-09-08 07:16] chongchai opened #2639 "C/C++：can I make TEST_F to be parsed as a function in google gest framework"
I try to use ctags to parse code written with google gtest framework. Gtest framework can be found at  https://github.com/google/googletest/blob/master/googletest/docs/primer.md.

The sample code like this:
[code]

I use following command to parse.
[code]
Result is:
[code]

**I want to parse `TEST_F` to be a function and parse  `a`  to be a local variable.**

I also try to use `-D` option with com

[2020-09-08 07:33] masatake commented on #2639
The way to use -D option looks wrong.
The result  of the definition expansion must be valid C code.

[code]

[2020-09-08 07:35] masatake commented on #2639
I must update the man page.
The usage of -D with parameters is not written.

[2020-09-08 08:30] chongchai commented on #2639
@masatake Your usage for “-D option“ is right. Using `-D'TEST_F(a,b)=void a##b(void)'` will get `TestFixtureName1_TestName` as function name.
But my requirement may be weird. I want to get TEST_F as function name.  Is there any way?

[2020-09-08 11:51] masatake commented on #2639
Sorry. There is no way to do that. The macro expander of ctags tries to expand `TEST_F` recursively and doesn't stop till it reaches the internal limit. See https://github.com/universal-ctags/ctags/pull/2539 .

This is a bug. However, fixing it is not easy for me.

[2020-09-08 12:06] chongchai commented on #2639
Got it. Thanks any way.

[2020-09-08 12:29] masatake commented on #2639
I don't know what kind of client tool that utilizes the output tags file.
However, I think tagging TEST_F as a C function is not a good idea because it is not a function. It is a macro expansion of Gtest.
"It is a macro expansion of Gtest." is a view of C language.
However, it is a definition of a test case in a view of Gtest.
It implies you should write a parser for Gtest instead of expanding the

[2020-09-08 13:44] ZweiEuro opened #2641 "Version Confusion"
My version:
[code]

What does this mean exactly?
I can't find any other version of "Exuberant Ctag" so I am guessing the package
https://aur.archlinux.org/packages/universal-ctags-git/
is the most up to date?

But
https://www.archlinux.org/packages/extra/x86_64/ctags/
links to the same pages... ?
What is the most up to date version? What is where the most updated or the most functional.

On top of

[2020-09-08 14:13] k-takata commented on #2641
This is the version.
We haven't released Universal Ctags yet. So, the version number is 0.0.0 for years. We can only identify the precise version by its commit ID, in this case, a3c87ab5.

There are no stable versions. If you want a recent version, the best way would be to build ctags by yourself.

[2020-09-10 11:23] alerque commented on #2641
Please start releasing versions. This is nuts. This is now pretty much the de-facto implementation yet packaging it for distros and supporting changes in 3rd party tooling (such as editor plugins) is bizarrely hard.

@ZweiEuro It looks from that version like you're on Arch‌ Linux with has that commit (circa January 6th) as their current packaged version. I'm flagging that as out of date now, but c

[2020-09-10 11:38] masatake commented on #2641
Yes, #1038 is the place for the topic. Not here.

[2020-09-10 11:38] #2641 closed

[2020-09-10 12:22] alerque commented on #1038
This issue saga might be the most blatant case study for [Perfect is the enemy of good](https://en.wikipedia.org/wiki/Perfect_is_the_enemy_of_good) I've seen in years. As the current maintainer of the VIM [tagbar](https://github.com/majutsushi/tagbar/) plugin that has gradually migrated from supporting both Exuberant and Universal variants to only supporting Universal Ctags I've many times chased

[2020-09-10 12:58] masatake commented on #1038
Did you see https://github.com/universal-ctags/ctags-win32 run by @k-takata?
I don't know the mechanism but the repository puts a tag automatically when we made commits to the main ctags repository. In ctags-win32 also makes a binary package for windows after putting a tag. However, we don't have an interest in this stage.

1. create a new repository named ctags-release in the universal-ctags orga

[2020-09-10 14:38] k-takata commented on #1038
ctags-win32 uses a very simple way. It checks the universal-ctags repository at 0:00 UTC every day, and if any new commits are found, creates a new tag.
The tag is created by the following commands:
[code]
(See https://github.com/universal-ctags/ctags-win32/blob/master/scripts/update-repo.sh)

To be honest, I'm also waiting for a release.
My mind is not so changed from last year: https://github.co

[2020-09-10 20:12] masatake commented on #1038
@k-takata, how do you run the script?
Is it possible to run the script here, the main ctags repository?

If we run the script here, and the script puts tags, can I say I provide the releases that you want?

[2020-09-10 21:44] k-takata commented on #1038
ctags-win32 uses AppVeyor's cron to run the script.
GitHub Actions also supports scheduled builds.

Hmm, we should carefully consider the versioning rule.
I prefer [semver](https://semver.org/). E.g. `v6.0.0-alpha-YYYYMMDD`.

However, I know a project that doesn't follow semver: https://github.com/google/re2
They use the `YYYY-MM-DD` style and create a tag once a month.

[2020-09-10 23:39] codebrainz commented on #1038
Github also has "releases" feature as @ploxiln uses in their fork, it takes like 30 seconds to make a "release". The form looks like this:

<img width="486" alt="gh_release" src="https://user-images.githubusercontent.com/181177/92824880-c9323e80-f383-11ea-93a9-1ce1f9aada1f.png">

You can use the "This is a pre-release" to signify to people that it's not a stable release. If you put the next versio

[2020-09-13 05:42] hirooih commented on #2618
Hi,

I sent another two pull-requests, #2643, #2644.

Remains are variables of user defined types which has been discussed on #2413.

Now we can close this issue.
Thank you.

[2020-09-13 20:23] masatake commented on #1038
@k-takata, thank you for responding.

Supporting semver in this stage is hard.

In the summary of semver:

This means I have to manage MAJOR version carefully.
People say just tagging is enough. semver is more than just tagging.

My idea is v5.9.YYYYMMDD. I don't want to take care of API changes when tagging.

@codebrainz, thank you for your input. However, I don't want to make an archive.
If the

[2020-09-13 20:38] ploxiln commented on #1038
Fair, and appreciated, thanks.

[2020-09-13 20:54] codebrainz commented on #1038
I wasn't really speaking as a Geany developer, I was just giving a suggestion/info on a simple way to make people who want a "release" happy now without burdening you too much, by just using the built-in Github "release" mechanism to cut a release.

I'm not versioning expert or package maintainer, but it seems kind of pointless to auto-generate tags/releases for the purpose of this Issue since the

[2020-09-13 21:11] masatake commented on #1038
I see. Thank you.

[2020-09-14 05:24] ploxiln commented on #1038
As a small complication, I _would_ like for `ctags --version` output to correspond to the git version tag ... and this version ends up in lots of test output unfortunately ... so ideally there is a little bit more to it than just an automated git tag. But anyway, I'll take whatever I can get, even just a git tag is better than nothing :)

(for a quick overview of _everywhere_ the version appears,

[2020-09-15 02:22] laxman20 commented on #1680
This sounds exactly what I'm looking for and I hope we can get it merged. I'm working on a AngularJS project where the convention for all class definitions are defined as anonymous class exports.

Given a file named hello-world.controller.js
[code]

The tag for this would be HelloWorldController

[2020-09-15 15:31] masatake commented on #1038
Understandable. But I focus only on tagging at this time.

@k-takata, is the naming scheme for tagging "v5.9.YYYYMMDD" acceptable?

[2020-09-15 15:40] #2639 closed

[2020-09-15 15:43] masatake commented on #2628
Feel free to reopen this.

[2020-09-15 16:02] docwhat commented on #1038
Semver may be better thought of as BREAKING, FEATURE, FIX instead of MAJOR, MINOR, PATCH.

I don't have much experience, but is detecting BREAKING changes hard when writing a commit?

That being said, I'm a beggar here and not a chooser.

Even a regular date-stamp style tag is better than nothing.  As long as a human or computer can tell which is newer.

[2020-09-15 16:09] k-takata commented on #1038
That might be acceptable even it doesn't follow semver strictly.
Are you thinking of tagging automatically or manually?

[2020-09-15 17:41] masatake commented on #1038
@docwhat, I know semver is much better.  However, in 5.9.x series, I will not choose the semver scheme.
From 6.x, I will choose the scheme, however, I cannot imagine when 6.x is available.
I wrote various reasons I don't make a release. I will add one here.

I found there are two levels in ctags about semver.

* the main part level

   the command line interface like --regex-<LANG>, --list-kinds,

[2020-09-15 17:47] masatake commented on #1038
@k-takata, I'm thinking about automatically.
And as usual, I need your help.
Can I ask you to do the similar as you did in ctags-win32?

[2020-09-15 17:54] polyzen commented on #1038
For handling of the date part of the version, this could provide insight:
https://calver.org/

[2020-09-15 18:16] docwhat commented on #1038
If you are building a package made of parts with language parsers and a core engine then you would have a version number for each parser (e.g. cobol-parser 1.0.3), a version for the core engine (core-engine 6.2.1) and then a "combined" package number: u-ctags 6.3.0

If any parser or the engine bump a major number, then the combined package would bump its major number too.

Yes, that means that the

[2020-09-17 03:49] chongchai opened #2647 "C/C++: extern "c" will cause parse error"
I find the definition will not be parsed in the `#else` and `extern "C"`.

The sample code:
[code]

I use following command to parse:
[code]

Result is:
[code]

The `testMax2` and `NB2` are not parsed, while `testMax4` and `NB4` are parsed.
I think`extern "C"` will cause this error. Can you support this situation?

[2020-09-17 05:03] masatake commented on #2647
It seems that your guessing is correct.
Following change is for ignoring the code between "#ifdef __cplusplus ~ #endif.
@pragmaware, how do you think about my approach?

[code]

[2020-09-17 10:49] pragmaware commented on #2647
Well, if it fixes the problem and doesn't break tests then it looks good.

However, I don't understand the relation between the #ifdef __cplusplus define and the #ifdef MAX one.
They shouldn't influence each other in terms of choosing one or multiple branches... or I'm missing something?

[2020-09-17 14:54] masatake commented on #2647
My analysis is that it is related to how c parser handles extern "C" { }.
[code]
If cpreprocessor parser suppresses the area #ifdef __cplusplus ~ #end, c parser doesn't read the line extern "C" { and }.

I have to add one more condition to the patch (https://github.com/universal-ctags/ctags/issues/2647#issuecomment-693859110).
The condition is "if the client parser of cpreprocessor parser is c par

[2020-09-18 03:42] pragmaware commented on #2647
Though I still don't understand why.
In theory the behaviour of an #ifdef should not be influenced by any previous #ifdef...
... it seems to be more of a bug in the handling of the _second_ #ifdef, not the first one...

[2020-09-19 06:37] masatake commented on #2647
I found this is nothing to do with extern "C" { ... }.
I can reproduce the behavior with struct s { ... }:
[code]

[2020-09-20 06:32] hirooih commented on #2413
Hi,
Are anyone working on this issue?  If not, I'd like to try implement @antoinemadec 's algorithm (https://github.com/universal-ctags/ctags/issues/2413#issuecomment-609486797).

***

SystemVerilog BNF is very complex, so I squashed it.
https://docs.google.com/document/d/1Sb0-iO9HofB7BR52XUarhGYPph6mFMx5oIFcU8eeFj0/edit?usp=sharing

Here is my basic idea.

[code]

****

@masatake san,

https://gi

[2020-09-20 07:49] masatake commented on #2413
@hirooih, I would like you to know the typical good parser implementation.

In ctags, generally, "kind" is for tags, not for tokens.
A user can know what kinds are available in a parser with "ctags --list-kinds-full=<PARSER-NAME>".

"kinds" defined in a parser is part of APIs. We should keep their compatibility as much as possible.
We can implement a parser for a language in various ways.  However

[2020-09-20 08:03] masatake commented on #2413
BTW, if you need explanations for registerEntry() and foreachEntriesInScope() for fixing this issue, please let me know.

[2020-09-20 11:12] hirooih commented on #2413
@masatake san

I believe I understood what you wrote.  I read your similar explanations in #2576, #2618, and this issue.
I just wrote that we could use "kind" as a general English word.

I also think `enum verilogKind` is a little bit tricky.  It bridges `KeywordTable[]` and  `VerilogKinds[]/SystemVerilogKinds[]`.  If `verilogKind `is greater than or equal to 0, it can be used as an index of `Veri

[2020-09-20 12:32] masatake commented on #2413
--sort=no is acceptable. However, I don't think unifying args.ctags is a good idea.
Each test is developed for its own purpose. And each args.ctags is designed for its purpose.
Unifying args.ctags hides the original intention of the test cases.

You are the only person who improves the SystemVerilog parser on the earth. So If you really need unified args.ctags, you can do that.

[2020-09-20 12:55] masatake opened #2649 "SystemVerilog: no test case for e/event kind"
We need a test case for it.

[2020-09-20 13:02] masatake commented on #2649
@antoinemadec, @hirooih, is there a tool which we can use as a syntax checker for SystemVerilog input?
Of couse, I expect it is an opensource software and runs on GNU/Linux.

[2020-09-20 15:19] hirooih commented on #2413
I tried and found you were right.  They added only noises.
I added only "--sort=no".
I sent pull-request #2650

***

        parser-verilog.r/verilog-sf_bug73_3
        parser-verilog.r/systemverilog-assignment
        parser-verilog.r/systemverilog-2d-array
        parser-verilog.r/systemverilog-github2635
        parser-verilog.r/verilog-sf_bug108_2
        parser-verilog.r/verilog-memleak

emit

[2020-09-20 15:39] hirooih commented on #2649
I'm using [Verilator](https://www.veripool.org/wiki/verilator) and [ModelSim-Intel FPGA Edition (Lite Edition)](https://fpgasoftware.intel.com/20.1/?edition=lite) on Ubuntu (Windows 10 WSL2).

- Verilator
  - Opensource software
  - SystemVerilog support is limited
- ModelSim Lite Edition
  - not opensource but you can use for free
  - most of SystemVerilog features are supported

[2020-09-22 06:18] chongchai commented on #2647
I can add another testcase for thier behavior.
**Local variable In function body** like follows
[code]

[2020-09-23 10:20] tchoutri opened #2651 "sort: write failed: /tmp/sortNpGppi: No space left on device"
Problem: While generating tags for quite a big project (and excluding dependency folders like node_modules), the sorting process seems to use a /tmp/-based location (which is a tmpfs). Considering that the resulting tag file is around 4GB, I am left with "No space left on device".

How can I force the sorting to take place on my SSD (say, my home directory) rather than in my tmpfs?

---

* The ver

[2020-09-23 10:48] k-takata commented on #2651
How about setting `$TMPDIR` environment variable?

[2020-09-23 10:57] tchoutri commented on #2651
Oh my god I feel so stupid. Yes, this perfectly works, thank you very much.

[2020-09-23 11:04] #2651 closed

[2020-09-23 13:49] zzlw opened #2652 "Error"
[code]

[2020-10-02 20:18] masatake commented on #1038
I will implement weekly-automatic-tagging v5.9.YYYYMMDD.0 as trial.
I appended ".0" at the end for allowing us to release an extra version manually.

[2020-10-03 21:54] masatake commented on #1038
See #2655.

[2020-10-04 13:44] hirooih commented on #2413
@antoinemadec,
I've commit the fix for this issue on #2653.  Please try it.

[2020-10-04 13:44] hirooih commented on #1488
@RadekRR,
I've commit the fix for this issue on #2653.  Please try it.

[2020-10-05 15:31] masatake commented on #2649
Thank you. I installed Verilator but it doesn't support the events.
@hirooih, could you consider adding a test case for event kind?

[2020-10-05 23:47] hirooih commented on #1488
Let me close this issue.

[2020-10-05 23:47] #1488 closed

[2020-10-05 23:48] hirooih commented on #2413
Let me close this issue.

[2020-10-05 23:48] #2413 closed

[2020-10-05 23:49] hirooih commented on #2618
User defined type is also supported by #2653.
I close this issue.

[2020-10-05 23:49] #2618 closed

[2020-10-05 23:54] hirooih commented on #2649
I did for #2653.

[code]

[2020-10-06 01:25] masatake commented on #2649
Thank you!

[2020-10-06 01:25] #2649 closed

[2020-10-06 03:25] hirooih commented on #2537
@masatake san,

Shall I take over this issue?

You already made the fix above.  But it is not merged yet.
I'd like to add defineWith member on the tokenInfo structure instead of adding defineWith argument on createTag().
How do you think?

[2020-10-06 04:29] masatake commented on #2537
Yes, please.

I'd like to add defineWith member on the tokenInfo structure instead of adding defineWith argument on createTag().
How do you think?

Your idea may be better.

[2020-10-06 04:46] masatake commented on #2537
@hirooih, do you think adding the field is better than introducing more kinds?
I proposed the field because I don't know well about Verilog; adding a field has a smaller impact than adding a kind.
However, it is not a positive approach.

You know well about Verilog. So you can take a more aggressive approach.
At a quick glance, the "constant" kinds represent too many things.
Splitting it to "param

[2020-10-06 13:56] hirooih commented on #2537
If we could break backward compatibility, I would add new kind for define-macro ("d", "macro definitions" as c-parser), and add a field for parameter, localparam, and specparam as you proposed.  define-macro is a part of pre-processor like C.  *param* are similar beasts.

But I also understand you have a strict rule, " do not to break compatibility".  I think it is very important.

***

I don't kn

[2020-10-06 14:09] markusdd commented on #2537
In my view, for verilog, breaking compatibility would be acceptable, for one simple reason:
The current implementation does not do what it is supposed to, as it throws sematically incompatible things into one bucket.

The problem originated from the fact, that e.g. an instantiation for modules would pick up localparams or specparams next to the regular module parameters, without a good way to tell

[2020-10-06 15:03] masatake commented on #2537
Changing the kinds of (System)Verilog similar to the kinds of C is not a good idea if the motivation of change is to make the tags output for (System)Verilog input acceptable to the VSCode extension for C language.

I would like you to imagine an ideal VSCode extension for (System)Verilog.
Changing the kinds of (System)Verilog is for the ideal extension.

@hirooih, if you don't know pseudo tags (p

[2020-10-06 15:23] hirooih commented on #2537
I'm using this extension.  It is a great Verilog extension but its ctags support is useless.  It execs ctags on each editing file (at L123).  It cannot find symbols defined in other files.  So I am using ctags extension (plugin) designed for C.

[2020-10-06 15:55] masatake commented on #2537
I see.

[2020-10-06 16:17] markusdd commented on #2537
The VS code extension mentioned is exactly the one I am using, and where this ticket originates from.

Using the ctag kinds, it is currently not possible to implement certain functions correctly, like the mentioned seperation of localparams and parameters for instantiating a module.

This is the downstream ticket:
https://github.com/mshr-h/vscode-verilog-hdl-support/issues/102

[2020-10-06 17:41] masatake commented on #2537
I implemented `!_TAG_PARSER_VERSION`.

[code]
[code]

If a parser doesn't specify its version, the value for the ptag of the parser is "0.0.0".
When the kinds and fields for (System)Verilog are changed, you can specify the version field explicitly: 1.0.0.

Client tools deal with the ptag. It will take costs of development. However, it will be better than introducing incompatible change silently.

[2020-10-08 11:12] hirooih commented on #2537
@masatake san

I don't think the current definition of Verilog parser is so bad that we have to introduce new specification.  We will have to maintain two versions (or more...)

Adding a property as you proposed solves this paramter-issue.

@markusdd

Let me confirm your request.
(LRM means SystemVerilog 2017 Language Reference Manual)

All of them are constants defined in LRM 6.20 Constants as

T

[2020-10-08 11:25] markusdd commented on #2537
It is not about 'needing' them, it is, as you pointed out, simply not possible to set a localparam in a module instantiation, as it is not visible to the outside (hence LOCALparam).

Currently there is no way to split these from ctags output, which makes it very inconvenient if not impossible to autogenerate instances with parameter lists.

specparams are once again a different topic, but they are

[2020-10-08 12:16] masatake commented on #2537
I see.

[2020-10-08 13:45] gthaker opened #2662 "How hard would it be to have universal-ctags identify all the function calls in C?"
In C u-ctags already finds all the "prototype" declarations and function "definitions". How hard would it be to extend things so that ctags can also find all the places in source where a function is being  CALLED?  Gnu GLOBAL system finds function calls and prototypes, but CAN NOT make a distinction between the two, and I need  clear labelings for:

function prototypes
function calls
function defi

[2020-10-08 14:57] masatake commented on #2662
You are talking about what we call reference tags.
See
https://docs.ctags.io/en/latest/news.html#reference-tags
https://docs.ctags.io/en/latest/optlib.html#roles
https://docs.ctags.io/en/latest/man/ctags.1.html#tag-entries

We didn't implement reference tags for function calls in C.

This is a message for users.

[2020-10-08 15:07] masatake commented on #2662
A message for potential contributors is different.
If you are interested in implementing reference tags for C, learn ctags; read all documents in https://ctags.io.
Designing roles is the next step. I will show how to do it quickly:
[code]

You can write a prototype of the roles with regex based parser by extending existing C parser.

* talk the design to @pragmaware
He is the author and maintainer

[2020-10-11 05:45] masatake commented on #1038
The initial tag,  p5.9.20201011.0, was created.

[2020-10-11 05:52] #2662 closed

[2020-10-11 05:53] masatake commented on #2662
Feel free to reopen this if you are interested in implementing reference tags.

[2020-10-11 14:16] gthaker commented on #2662
Thank you very much for these comments and suggestions. At present I won't be able to implement this but perhaps one day. Gnu Global's "gtags" creates reference tags, but utterly fails to make  distinction between function "prototype" and function "calls", hence the need remains.

[2020-10-11 21:49] polyzen commented on #1038
Does the `p` at the beginning of the version have any meaning?

[2020-10-12 01:20] masatake commented on #1038
Maybe yes. I cannot remember the meaning. I was looking for a character other than 'v'.

[2020-10-12 13:28] amoreiras opened #2665 "R parser does not recognize `R6Classes`"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2020-10-12 18:22] masatake commented on #2665
[code]
For the code,  which ctags should make a tag for? "A" or "B"?

[2020-10-12 19:50] masatake commented on #2665
Object systems like R6Class are implemented on R.
Therefore classes in R6Class should not be tagged as part of R parser.
Instead,  we should developer R6ClassSystem subparser that runs on R, and An R6Class should be tagged as a class of R6ClassSystem subparser. In addtition, R6ClassSystem subparser may tag name, hair, initialize, set_hair, and greet  in the scope of Person.

The following change i

[2020-10-13 12:53] hirooih commented on #2537
I've sent a pull-request of the fix for this issue on #2666.

[2020-10-15 08:47] yuriteixeira opened #2667 "TypeScript: Add missing .tsx extension"
Exactly how it is done for JavaScript nowadays:

[code]

Seems that this is the file that needs to be changed (but unfortunately I don't dare to change C/C++ code 😓 )
https://github.com/universal-ctags/ctags/blob/6928d2b39f82ef80a947ae6a355bd91a803619e2/parsers/typescript.c#L2053

Thank you!

[2020-10-15 09:02] ksamborski commented on #2667
Actually there is much more to do to support tsx. I will take a look how to implement this in near future unless someone else wants to do it.

[2020-10-21 22:08] masatake opened #2669 "Developing xref-ctags.el,a client tool running on GNU/Emacs"
@rrthomas has an interest in this topic.

@AmaiKinono has some good code in  @AmaiKinono's private repo.
I think we can it as a base. It is GPL'ed. So, in my understanding, referring to it never becomes an issue for our future contribution for GNU/Emacs. See https://www.emacswiki.org/emacs/Copyright_Assignment to know what I care about.

@AmaiKinono, are you still be in busy?
I would like you to a

[2020-10-21 22:11] rrthomas commented on #2669
@masatake, as you may have noticed, I am already an Emacs contributor with an active copyright assignment.

If you're suggesting that I can refer to @AmalKinono's code, then it doesn't really matter what its license is: if I can be considered to have copied it, then @AmalKinono will also need to do a copyright assignment. It would be easier for me simply to do a clean-room implementation if a copy

[2020-10-21 22:13] masatake commented on #2669
As far as I know, xref-etags.el loads whole TAGS file into a buffer?
Searching is done by the regex engine of Emacs.
I think this becomes an issue if the TAGS file becomes larger.

 @AmaiKinono's elisp doesn't load tags file into the buffer.
Instead, it utilizes the readtags command shipped as part of u-ctags.
readtags command does "binary searching". It minimizes the impact of the size of tags in

[2020-10-21 22:16] rrthomas commented on #2669
@masatake, that sounds like a useful optimization. However, especially in order to increase the chances of getting the code accepted into Emacs itself, it would be good to have a pure Elisp implementation that reads the ctags file itself. I was thinking I would start by looking at `etags.el` and seeing what changes are necessary to support ctags, and then in a second pass seeing what refactoring i

[2020-10-21 22:25] masatake commented on #2669
I don't think extending etags.el is better.
Could you tell me the largest TAGS file have you ever loaded?
My tags file for linux kernel is more than 1GB.
Generally I also refer tags file for glibc and systemd. So the tags file becomes larger.

The readtags is part of u-ctags. So we can expect the readtags command is avaiable where tags file is.
I would like you to decide the direction after evalua

[2020-10-21 22:28] rrthomas commented on #2669
I agree that supporting the use cases you mention is a good idea.

[2020-10-22 07:25] diaojunxian opened #2670 "ctags: Warning: cannot open input file : No such file or directory"
ctags version
[code]
when command

[code]
then command the `ctags`
[code]
it returned
[code]
but when `mv /data/ttt.txt /home/user/`,then command `ctags`
[code]
it returned
[code]
the difference is the /data directory is the mounted hard disk directory.
[code]
why to solved the problem?

[2020-10-22 08:01] masatake commented on #2670
Do you use GNU/Linux?
If yes, could you install strace? then run ctags under strace like:

$ strace -f -y -o /tmp/LOG.strace ctags -f "/home/user/tags.tmp" /data/ttt.txt --verbose=yes

I would like to see /tmp/LOG.strace. LOG.strace may be large, so put it to your gist or send it to me (yamato@redhat.com).

[2020-10-22 09:11] diaojunxian commented on #2670
sorry, when try the command , the command not had any console log

[2020-10-22 11:50] masatake commented on #2670
Do you mean /tmp/LOG.strace is empty?

[2020-10-22 12:09] diaojunxian commented on #2670
yes, and try again, found the command run very slowly.

[2020-10-22 12:53] masatake commented on #2670
Looks strange. (Running slowly is expected.)
How about
[code]

[2020-10-22 12:58] masatake commented on #2670
Reproduced here.

[2020-10-22 13:01] masatake commented on #2670
Sorry, what I wrote in the last comment is just my misunderstanding. Ignore it.

[2020-10-22 14:02] hirooih commented on #2537
@markusdd

Finally the pull request is merged.   Choosing the name of the new field was the most difficult problem.

By default this feature is disabled.  Add `--fields-Verilog=+{parameter}` and/or `--fields-SystemVerilog=+{parameter}` option.
See https://docs.ctags.io/en/latest/man/ctags-lang-verilog.7.html for more details.

Again if you have any other issue or request, please open new issue.
Th

[2020-10-22 14:02] #2537 closed

[2020-10-22 20:53] masatake commented on #2665
In my prototype, I introduces R6Class subparser that runs on R parser.
public and private members are supported. I wonder how I should do about active list.
The inherits field is filled.
[code]

[2020-10-22 20:55] masatake commented on #2665
I'm thinking about attaching "active:" boolean field to the elements in an active list.

[2020-10-22 20:56] masatake commented on #2665
I think we need a man page of R and R6Class parsers.
@amoreiras, are you good at English? I'm not. So I need a reviewer for the man page when I write.

[2020-10-22 21:40] masatake commented on #2665
After studying R6Class, I found I should introduce "activeBindngFunc" kind for the elements in an active list.

[code]

[2020-10-22 21:49] masatake commented on #2665
[code]

The parser should extract `A` because we can write following code:
[code]
In this case we have no choice.
[code]

[2020-10-23 10:32] masatake commented on #2665
Please, try #2671.

[2020-10-24 03:22] hirooih opened #2674 "Verilog/SystemVerilog Parser TODO List"
Here is a TODO list of Verilog/SystemVerilog parser.  It is ordered in priority, from higher to lower.

If you find any other missing issues or requests to raise priority, please leave your comment on this issue ticket.
Your feedback helps other users and us.

### Known Bugs

- preprocessor directive related issues
  - `else in port lists
  - multi-line macro definition
- `isIdentifierCharacter()`

[2020-10-24 22:55] AmaiKinono commented on #2669
Sorry for the late reply. I'll be busy till the end of this year, but I'll keep an eye on this topic.

Actually I think I could just make it public. It's not yet finished, but it already has a comprehensive readtags interface and xref integration. I think it's a good idea to make it public so people could learn/copy from it.

Is it possible to do it online? I don't have experience sending internat

[2020-10-24 22:57] AmaiKinono commented on #2669
Just made it public. Here: https://github.com/AmaiKinono/citre

[2020-10-24 23:38] AmaiKinono commented on #2669
@masatake once proposed that Emacs itself could include a readtags interface (`citre-readtags.el` in my repo). If this actually happens, people could build all kinds of tools on top of it, including something like xref-ctags. I don't know which idea is better.

[2020-10-25 08:33] masatake commented on #2669
@AmaiKinono, thank you.
@rrthomas may decide the direction :-)

[2020-10-25 09:38] rrthomas commented on #2669
Thanks, @AmaiKinono, I shall look at your code as soon as I can.

It would be a good idea to put a copyright assignment in place if you can start that now, as it can take some time. It should be possible to do it paperlessly: please write to emacs-devel@gnu.org as described in https://www.gnu.org/software/emacs/manual/html_node/emacs/Copyright-Assignment.html

[2020-10-25 16:12] masatake commented on #2669
I write what I know about the availablity of readtags command.

Exuberant-ctags is the most popular ctags implementation. However, "make install" target of Exuberant-ctags doesn't install its readtags command.
Universal-ctags is not so popular as Exuberant-ctags. However, "make install" target of Universal-ctags installs its readtags command.

[2020-10-25 16:23] rrthomas commented on #2669
Thanks, @masatake, I didn't know there was a (non-installed) version of `readtags` with exuberant-ctags. We should also consider, from the point of view of code specifically for Emacs, that Emacs's ctags has no readtags.

But I think I will start with @AmaiKinono's code: it seems like it may be possible already to use `readtags` conveniently in a nice 3rd-party package, and that already would be g

[2020-10-25 16:32] masatake commented on #2669
Oh, it is not my intention. What I would like to write is that I recommend you to assume it is u-ctags' readtags if readtags is there.
Ignoring readtags of e-ctags may be better.

[2020-10-25 21:30] amoreiras commented on #2665
[code]

[code]

An environment is created under the name "A" and B doesn't exist at all.

[code]
I actually think the tag should be created for B. However, this could create additional difficulties in extracting the methods and fields, so the tag under A is perfectly fine, in my opinion.

[2020-10-25 21:35] amoreiras commented on #2665
sure let me know, i'll give it a try!

[2020-10-26 00:14] pidgeon777 opened #2678 "VHDL: adding process and instanced component kinds"
These are the VHDL kinds parsed in the latest implementation of ctags:

[code]

https://github.com/universal-ctags/ctags/blob/master/parsers/vhdl.c

Please add three more kinds:
- Process:

[code]

`optional_label` is the optional process label and should be reported as tag (e.g. kind = `process`). If missing, a random string (e.g. 4534_process) should be used as tag name instead. ctags' parsed an

[2020-10-26 21:18] masatake commented on #2665
@amoreiras, at #2671, I'm working on code for parsing setClass, setMethod, and setGeneric as just another subparser (s4). Mostly done. I will work on the man page after implementing the s4 subparser.

The R6Class parser works well already.
You can see how it works at
https://github.com/universal-ctags/ctags/pull/2671/commits/484c25f9004c39e4cf14aeaa52a3e084929141a1 .

[2020-10-28 08:44] iesvme opened #2682 "Can it support AutoHotKey?"
Can it support AutoHotKey?

[2020-10-28 09:23] masatake commented on #2682
Yes if someone writes a parser for it.
If you are interested in writing a parser, I can help you.
If you are not, you can queue the request for writing a parser to  #1566.
The queue is so long. Therefore it is a kind of /dev/null.

[2020-10-28 09:29] masatake commented on #2682
If you are interested in writing a parser, reopen this.

[2020-10-29 13:26] liuchengxu opened #2683 "What's the best way of parsing the fields from tagfile/origin tagline for the tools based on ctags"
Although ctags already supports the JSON output, the compiled feature `+json` is required and some people does not have this feature, in which case the tools built on ctags like some vim plugins([vista.vim](https://github.com/liuchengxu/vista.vim), [vim-clap](https://github.com/liuchengxu/vim-clap)...) need to parse the fields manually, otherwise they can't work.

vista.vim is currently using http

[2020-10-29 17:05] masatake commented on #2683
We have a parser written in C. I hope it will help to find a better way.

See parseTagLine and parseExtensionFields in [readtags.c](https://github.com/universal-ctags/libreadtags/blob/master/readtags.c).

I read https://github.com/liuchengxu/vista.vim/blob/27889ff58d/autoload/vista/parser/ctags.vim#L91-L134. As fa as `;"` is not included in the pattern, it looks find for me as far as you use u-cta

[2020-10-29 19:45] masatake commented on #2665
@amoreiras, I cannot find enough time for writing the man page, and my change may be useful enough.
So I will merge my pull request first.  If I find time for writing the man page, I will contact you again.

[2020-10-29 19:45] #2665 closed

[2020-10-29 23:17] iesvme commented on #2682
How I wish I can do it! but I can't. My level is too low.

Masatake YAMATO <notifications@github.com> 于 2020年10月30日周五 03:47写道：

[2020-11-03 00:33] masatake commented on #2678
I found an example in our test cases:
[code]
Before talking about process, I have a question. I think "simple" should be tagged if we should make a tag for accumulate.
Am I correct? In this case what "kind" should we use for "simple"?

[2020-11-03 19:13] pidgeon777 commented on #2678
Yes, `simple` should be tagged, too. Each VHDL entity has an architecture which defines the behaviour of the entity itself.

Thus, I would propose to add one more VHDL kind: `a`, for `architecture bodies`.

[2020-11-03 19:47] masatake commented on #2678
@pidgeon777, thank you.

[2020-11-03 19:55] masatake commented on #2669
http://emacs.1067599.n8.nabble.com/gtags-ctags-etags-cscope-support-td478663.html#a478669

[2020-11-04 00:18] masatake commented on #2678
#2687 is a pull request to tag the architectures.
I think a, clk, accum, accumL should be tagged, too.
For tagging accumL, we should introduce "signal" kind.
For tagging a, clk, accum, what kind we should introduce?

scope fields are not filled. So you cannot do any interesting things.

[2020-11-05 20:02] masatake opened #2688 "Enable TAG_PROC_CWD by defaut"
AmaiKinono/citre expects it.

[2020-11-05 20:27] masatake commented on #2688
If INSIDE_EMACS env is set, adding `--fields=+n` may reduce the bug reports we will receive.

@AmaiKinono, could you give me comments WHEN you get time.

[2020-11-05 21:05] AmaiKinono commented on #2683
The manpage ctags-client-tools(7) has a "Parse Readtags Output" section. You should be good if using the method provided there.

[2020-11-05 21:19] AmaiKinono commented on #2688
Yes!

I'm not very sure on this:

- If the user wants to use a manually generated tags file, then this variable won't do any good to him.

- Some users may only want auto-completion but not jumping to definition. The the `line` field is useless to him. Or let's assume a Emacs client tool only does auto-completion, then its author will say INSIDE_EMACS actually has nothing to do with Emacs, but onl

[2020-11-06 01:20] masatake commented on #2683
@AmaiKinono, see `--excmd=type` in https://docs.ctags.io/en/latest/man/ctags.1.html#options .

[2020-11-07 16:17] AmaiKinono opened #2691 "Remove combined pattern field?"
`--excmd=combine` is added for the request in ~#1890~#1125, to deal with https://github.com/vim/vim/issues/1057.

But at the end, vim didn't take that approach, but utilize `line:` field instead, see <https://github.com/vim/vim/commit/077b9dd3541339a23ade0cc6a23e804ee39312c5>. From what I saw in <https://github.com/vim/vim/blob/master/src/tag.c>, that's still how things work now.

Neovim takes the

[2020-11-07 16:32] masatake commented on #2691
#1890?

#1125 and #1959 are related to this topic. Do I misunderstand?

It seems that the option becomes popular already: e.g. https://github.com/tmm1/ripper-tags/pull/98

[2020-11-07 16:36] AmaiKinono commented on #2691
Ah yes, It's #1125.

Obviously, ripper tags implements it since u-ctags has it, but still, no client tools are really using it.

[2020-11-07 16:54] masatake commented on #2691
@blueyed, do you really use `--excmd=combined` option?

[2020-11-07 21:33] blueyed commented on #2691
@masatake
No.  I have this commented in my config:
[code]

[2020-11-07 21:58] masatake commented on #2691
@blueyed, @mislav, @sshsu, do you have any ideas/commets about causing a trouble when we remove --excmd=combined?

I myself don't want to remove because I think it can make tags file compact comparing with using `line:' fields.

[2020-11-07 21:58] #2688 closed

[2020-11-07 22:43] AmaiKinono commented on #2691
As long as I know, you don't care about the search pattern, but only the line number. Then `--excmd=number` is better for you.

If you are talking about client tools in Emacs doesn't support `--excmd=number` , well, I will make that happen ;)

[2020-11-08 07:10] AmaiKinono commented on #2691
@masatake I thought a little bit more on this.

If a client tool could search for the pattern and *find the closest one near the line number given*, no matter it's before of after it, then we could deal with duplicated patterns, and deal with minor code update that doesn't touch the line, at the same time.

I think this makes the best use of both the search pattern and line number, so you are righ

[2020-11-08 08:33] masatake commented on #2691
I will keep the code as is till a serious user reports an issue.

@AmaiKinono, how do you think about adding TAG_OUTPUT_EXCMD pseudo tag?
If TAG_OUTPUT_EXCMD is `combined`, citre can reject the tag file (if you want).

When we fix line numbers in patterns, I will use `combinedV2` as the value for the ptag.

[2020-11-08 09:21] AmaiKinono commented on #2691
It's not bad to have such information. I'll handle all kinds of patterns and the pattern itself could be easily parsed, so I don't have the need, but other client tools may want this.

There's a problem: Now the pattern itself tells you how to search in a source file. If we keep both `combined` and `combinedV2`, then the pattern is not enough, we need to provide this extra bit of info. It can be h

[2020-11-08 12:01] masatake commented on #2691
When we move to combinedV2, I will remove the code for combined(v1) from ctags. However, users may have old tags file generated by old u-ctags. In that case you may want to have the way to reject old tags file.
TAG_OUTPUT_EXCMD gives you the hint for rejecting or accepting. Or, of course, you can use TAG_OUTPUT_EXCMD to support both v1 and v2.

[2020-11-08 12:14] AmaiKinono commented on #2691
I see. That's reasonable.

[2020-11-08 19:17] pidgeon777 commented on #2678
Yes, they should be tagged as well, eventually as `port declarations`:

http://www.vhdl.renerta.com/mobile/source/vhd00051.htm

`signal declarations` would also be ok:

http://www.vhdl.renerta.com/source/vhd00064.htm

I didn't understand the above point.

However, we should not forget about **generics**, too:

http://www.vhdl.renerta.com/source/vhd00034.htm

Those are also really important in VHDL

[2020-11-08 19:54] masatake commented on #2678
Thank you.

scope field represents owner/owned or parent/child relationships.
Client tools can make a "tree" from the fields.

I would like to show an example in C language.

input.c:
[code]
ctags output:
[code]

See scope: in the output.

Let's think about VHDL.

[code]

The scope of `a`, `clk`, and `accum` may be: "scope:entity:accumulator".
These ones are easy.

[code]

How about `accumL`?
One

[2020-11-08 19:57] masatake commented on #2678
`VHDL: tag architectures #2687` is merged.

[2020-11-08 20:01] masatake commented on #2678
See also https://insights.sigasi.com/opinion/emacs/vhdl-emacs-mode-navigation-using-ctags-are-broken/ and https://stackoverflow.com/questions/16814436/vhdl-tags-not-efficient-in-vim-with-ctagstaglist .

[2020-11-09 13:43] AmaiKinono opened #2694 "How to match an empty line in an empty file?"
This may not have any practical use, and I'm just experimenting it.

[code]

All 3 lines are matched by `^$`. Am I doing anything wrong here?

[2020-11-10 20:15] #2691 closed

[2020-11-11 21:25] masatake commented on #2678
Ports are tagged: https://github.com/universal-ctags/ctags/pull/2695 .

[2020-11-11 21:39] masatake commented on #2678
Do you mean "port declaration" is better than "port" as the kind name for a, clk, accum?
I made a pull request (#2695) for tagging ports. I used "port" as the name of kind. Am I going to wrong way?

[2020-11-12 14:24] pidgeon777 commented on #2678
Here I am again. I think `ctags` has a lot of potential for tagging HDL languages (`VHDL`, `Verilog`, `SystemVerilog`) even for code analysis/linting purposes, thus I'm more than happy to help.

Maybe it won't be possible for me to quickly reply on certain days, but I'll try to answer all of your questions as soon as I can.

Moreover, I have some interesting ideas to share later today, and I will

[2020-11-12 14:48] pidgeon777 commented on #2682
I would also be interested in an AutoHotkey parser. It is a language widely used to manipulate each aspect of Windows OS.

[2020-11-12 15:20] pidgeon777 commented on #2678
I'll start answering some of your questions.

### Multiple Architectures

The following entity, `Exercise_4`, has two architectures, `one` and `two`:

[code]

I can instantiate `Exercise_4` choosing the architecture to enable (`one` in this case):

[code]
I can do this thanks to the following statement:

`E4: entity work.Exercise_4(one)`

Where:
- ``
- ``
- ``
- ``
- ``
- ``

[2020-11-12 20:00] masatake commented on #2678
Excellent!

[2020-11-12 20:45] masatake commented on #2682
So what?

What people (including I myself)  would like to hear from you is "I will (try to)?  implement a parser for the language. Tell me how to do it?"

In #2678, @pidgeon777, you quoted the code, `VhdlKinds`. It implies you know C. In the issue, you helped me with the design of VHDL parser. It implies you know the most important concept of ctags, "kind". The description of issue was clear enoug

[2020-11-12 22:37] pidgeon777 commented on #2682
Well, sometimes when a user suggests a new feature to be implemented for improving a project, and this is the case of @iesvme , it is important to know if this kind of feature might be of general interest. By doing so, the developer of the project or those willing to contribute with their pulls may decide to prioritize one task or the other. This usually happens with medium to big-sized projects.

[2020-11-14 23:58] AmaiKinono opened #2697 "Proposal: A possible way of incrementally updating tags file"
We had some discussion before, see https://github.com/universal-ctags/ctags/issues/2475#issuecomment-621366924. @masatake suggested the following scheme:

1. Drop tag entries for updated files (reported by git?) and write the remaining tag entries to a temporary tag file (tmp tag file),
2. Appende tag entries generated by running parsers for the updated files, and writing them to a new tag file,
3

[2020-11-16 08:48] masatake commented on #2697
This includes multiple sub issues.
I made a Wiki page for this topic.
https://github.com/universal-ctags/ctags/wiki/Designing:-updating-tags-file-incrementally
@AmaiKinono, I assume you can edit the page.

I think about the initial goal.
"Adding -C action to readtags" is not so hard task but we need anyway.

[code]

`-C` option reproduces the command line used for generating an existing tags file.

[2020-11-16 09:07] masatake commented on #2697
I found I implemented TAG_EXTRA_DESCRIPTION and TAG_FIELD_DESCRIPTION ago.

[code]
I cannot remember when I implemented them.

Anyway, I should turn on the ptags by default.

[2020-11-16 09:42] AmaiKinono commented on #2697
I saw this in the wiki

Using hash is obviously another way to do the detection. Do we want one of them or both?

[2020-11-16 18:39] masatake commented on #2697
Attaching timestamps to 'F' kind tags is worked:
[code]

Should I change the print format?

[2020-11-16 19:37] AmaiKinono commented on #2697
I think it's good as long as ctags itself could compare between timestamps. But if we assume that client tools may want to use it in some way, I suggest adding the time zone so we could convert it with the Unix time. The `encode-time` function in Elisp also requires the time zone.

Btw, is there any reason to create these tags for files, rather than using pseudo tags?

[2020-11-17 00:57] masatake commented on #2697
I found the output of stat command includes such a timestamp.
[code]
This format may be good enough.
For parsing it, we can use strptime.  If a platform doesn't have the function, we can use https://github.com/openssh/openssh-portable/blob/master/openbsd-compat/strptime.c .

As I wrote in the Wikipage, there are three ways to store timestamps to a tags file.

In the prototyping, I chose F/file bec

[2020-11-17 09:58] my2817 opened #2700 "[Verilog/SystemVerilog] is there a way to trace instance into tag file?"
I have tried to write new function in verilog.c, but failed :sob:
For example, trace inst1, inst2, m_IF1 and m_IF2 in tag file. Thanks very much!
[code]

[2020-11-17 14:36] masatake commented on #2700
Use the original template of issues.

[code]
$ ctags --options=NONE ...
[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:

(
Building it locally, via GNU/Linux distribution, as BSD's package,
win32 binary taken from Universal-ctags/ctags-win32 project, macosx
binary taken from Universal-ctag

[2020-11-17 14:36] #2700 closed

[2020-11-18 11:12] masatake commented on #2678
@pidgeon777,
Do you think "port" is bad kind name?
[code]

I don't know well about languages for hardware. However, "port" is used in SystemVerilog.
So I assume using the same name in VHDL may be o.k.

[2020-11-18 11:20] #2683 closed

[2020-11-18 13:17] StephenWu5 opened #2706 "可以支持vue？"
你好，请问支持vue文件吗？它包含了html，css，javascript。

vue文件长这样子。

if you can not see my word, you can use chrome translate.

![image](https://user-images.githubusercontent.com/32475322/99535026-4b259000-29e3-11eb-9f97-2555c70015fc.png)

[2020-11-18 13:56] masatake commented on #2706
See #1577. I want to support it but I found enough time for working on this topic.

[2020-11-18 13:56] #2706 closed

[2020-11-18 17:44] pidgeon777 commented on #2678
Hi @masatake, the list of VHDL kinds:

[code]
`port` could be ok, but if you want to maintain the same format used in those VHDL kinds, then I think one of the following could be more appropriate:

- `port declarations` ← best
- `port definitions`

Still, I'm not so sure about the difference between definition and declaration in VHDL. A C++ case:

https://stackoverflow.com/questions/1410563/what-i

[2020-11-18 23:45] masatake commented on #2678
I see. You are talking about "DESCRIPTION".
[code]

We don't regard DESCRIPTION as the part of ctags CLI that we should keep the compatibility.
The value for DESCRIPTION does not appear in tags output.
What I would like to know is NAME. The NAME is part of the CLI.
The value for NAME appears in tags output. So a tool reading a tags file may depend on the value of NAME.
My original question is whet

[2020-11-19 02:39] jiangjianshan opened #2709 "verilog.c report error C2220"
Hello,

I'm using VC2019 C++ Build Tool to build the lastest version of ctags from Git repository. The commmand I use is "nmake -f mk_mvc.mak WITH_ICONV=yes ICONV_DIR=D:\gnuwin64 " But I got following error:

![image](https://user-images.githubusercontent.com/20179047/99613633-db4eee00-2a52-11eb-9c7d-5171271d30d2.png)

I can fix this issue by save the file verilog.c with utf-8-bom by Vim. But it w

[2020-11-19 09:56] #2709 closed

[2020-11-19 22:11] pidgeon777 commented on #2678
I confirm.

Also this would be perfect.

But, speaking of a port, it would be essential in my opinion to attach it to a scope. Or, if you prefer, given a port called `PORT_C`, this could be declared in two or more different entities, thus the name of the entity should be used as scope for the port.

Example:

[code]
Parsed tags:

[code]

[2020-11-19 22:50] masatake commented on #2678
Thank you for the detailed description.
In #2695, I already filled the scope fields of port declarations if they are in entities.

I did nothing for port declarations in components.
I will revise my change.

[2020-11-20 18:20] jespinal opened #2717 "PHP heredoc (<<<) syntax breaks tags creation"
##### SUMMARY:

Tags generation stops when the PHP `heredoc` (`<<<`) syntax is encountered in a file. As the `nowdoc` PHP syntax is basically the same, that's another language element that breaks the file parsing.

##### The name of the parser:

not sure about this. Assuming PHP

##### The command line you used to run ctags:

[code]

##### The content of input file:

[code]

##### The tags output

[2020-11-21 02:00] masatake commented on #2678
With the change proposed in #2695, the VHDL parser can extract ports and generics declared in an entity and component.

[code]
[code]

The last one is signal that I should work on before working on process and instance.

[2020-11-21 02:01] masatake commented on #2678
If I did something wrong, let me know.

[2020-11-21 07:34] masatake commented on #2717
https://wiki.php.net/rfc/flexible_heredoc_nowdoc_syntaxes

[2020-11-21 07:42] masatake commented on #2678
[code]

Is the last line, "end entity;"  correct?
After reading some articles about VHDL, I guess the line should be "end component;" ?

[2020-11-21 13:30] jespinal commented on #2494
I think I can help with PHP questions. I use it on a daily basis at work, so it's something fresh in my mind.

[2020-11-21 14:18] MohamedAhmedAliGpaly opened #2719 "version 0.0.20190412"
Hello, can I have a version 0.0.20190412 ?
I building termux-packages/packages/ctags/build.sh ( Last Version p5.9.20201115.0)
https://github.com/termux/termux-packages/blob/master/packages/ctags/build.sh
But I get the following problem

packcc: Cannot open file 'peg/varlink.peg' to read
make[2]: *** [Makefile:5188: peg/varlink.c] Error 2
make[1]: *** [Makefile:4380: all-recursive] Error 1
make: **

[2020-11-21 15:34] AmaiKinono commented on #2719
Can I hear how are you using that script? I happen to have termux on my phone, and I tried to install ctags in it (by `pkg install ctags`). I've got some errors, but not the same as yours.

I think it may be better to report this to the package maintainers of termux. The p5.9.20201115.0 version builts fine on my PC, and we have CI to make sure ctags builts on major platforms, so it's likely not a

[2020-11-21 23:27] pidgeon777 commented on #2678
My fault, when I copied-pasted the component declaration I forgot to change the last line. I will pay more attention the next time.

Correct component declaration is:

[code]

Note that the component name at the end of `end component` is not mandatory in code, only optional. Thus I included it into the square brackets.

More in general, for the component declaration:

[code]

I highly suggest this

[2020-11-22 06:35] masatake commented on #2678
1. yes.
2. yes.
3. no.  I decided to use entity: field to represent the relationship between architecture and its entity.
4. yes.

I would like you to read https://docs.ctags.io/en/latest/units.html. I added test cases based on your input to my pull request.
I would like you to read args.ctags, input(-[0-9])?.vhd, and expected tags. They explain how my improvement works.

I will explain 3 later.

[2020-11-22 06:42] masatake commented on #2678
You don't need to see changes for files under Units/review-needed.r/test.vhd.t/. It is too large.

[2020-11-22 08:00] masatake commented on #2678
After rethinking about 3., I should use the scope field instead of the entity field for representing the relationship between architecture and entity. This breaks compatibilities.

[2020-11-22 20:02] masatake commented on #2678
`process` was added in #2695 .

[code]

I think `instance_label` should be tagged with "instance" kind.
typeref field can be used to attach "component_name" to the tag.
`component_name` is tagged as a reference tag with "component" kind.

[code]

`instance:` is a VHDL specific field.

I think I have to write a man page for the VHDL parser.

[2020-11-22 22:56] pidgeon777 commented on #2678
I would like you to read args.ctags, input(-[0-9])?.vhd, and expected tags. They explain how my improvement works.

Ok I will read that.

The fact is that:

- In a library, each entity has its unique name. No entities sharing the same name are allowed inside a library.
- An entity can have multiple architectures, but those must have unique names.
- The same architecture name can be used in multipl

[2020-11-23 01:45] masatake commented on #2678
Thank you. I found it will take more time to tag instantiations.
So I would like to merge #2695 before working on instantiations.

Could you try #2695? With the change in the pull request, you can tag processes.

The following command line activates all the features I implemented in #2695.
[code]

[2020-11-23 15:03] masatake opened #2723 "Julia parser TODO list"
See #2654

- [ ] [tagging imported object] (https://github.com/universal-ctags/ctags/pull/2654#discussion_r499113865)
- [ ] [short function](https://github.com/universal-ctags/ctags/pull/2654#issuecomment-707817011)

@getzze is the original author.

[2020-11-23 16:22] masatake commented on #2697
I have studied the way to update a file from sed -i.
[code]

[2020-11-23 16:55] masatake opened #2724 "SystemVerilog: entering infinite loop"
input.sv:
[code]

cmdline:
[code]

[2020-11-23 17:14] AmaiKinono commented on #2697
Very cool. In which way this would help us? I mean ctags already has the `-a` option, and we have to sort it afterwards. Or are you planning to use it in other parts? Actually my feeling on this is you can use it in the `edittags` command you've mentioned.

[2020-11-23 21:42] pidgeon777 commented on #2678
Hi, unfortunately, I am not a Github expert. I would like to deeply test your latest changes, but I don't know how I could do that. Is there an executable available somewhere for download? Or it is something which I should compile with the proper tools? In the latter case, would you suggest me the proper documentation to follow?

[2020-11-24 02:16] masatake commented on #2678
Which OS do you use?

[2020-11-24 08:03] pidgeon777 commented on #2678
Windows 10 x64 Pro and Windows 7 x64.

[2020-11-24 08:16] pidgeon777 opened #2725 "[Bug] Ctags hangs for some seconds, then reports 'Access denied'"
When running Ctags, no matter of the arguments, it hangs for about ten seconds, then it reports `Access denied.`:

![image](https://user-images.githubusercontent.com/13739892/100066424-60604b80-2e35-11eb-834e-a39c39cda0ee.png)

I'm running it in two OS, both Windows 10 x64 Pro.

Strangely, this issue occurs only in one of those PCs.

Tested with the latest Ctags x64 release:

https://github.com/un

[2020-11-24 08:36] pidgeon777 commented on #2725
Also tried to run it as Administrator, the issue persists.

[2020-11-24 08:40] k-takata commented on #2725
Could you provide a minimal reproducible example?
Or can you execute the debug build on GDB?

[2020-11-24 08:49] pidgeon777 commented on #2725
I would do that, but I'm simply doing something like this:

1. Open command prompt.
2. cd to Universal Ctags path.
3. Command: `ctags`, or `ctags -help`, or even `ctags -qweqwe`.

Is there a way to enable some kind of debugging output? For example a log file.

I don't think it could be actually possible for me, not having the required tools I suppose. How could I proceed with that, just in case?

[2020-11-24 09:07] k-takata commented on #2725
Does it occur when you cd to an empty directory?

Hmm, `ctags -help` will normally show `ctags.exe: No files specified. Try "ctags.exe --help".`

If you have installed MSYS2, open `MSYS2 MinGW 64-bit` from Start Menu, then execute `gdb /path/to/ctags.exe`, then execute `run` on GDB.

[2020-11-24 09:41] masatake commented on #2678
Before trying the branch for VHDL, you must find a way to build ctags taken from the master branch.
What you must know about git is very simple; just type "git clone https://github.com/universal-ctags/ctags.git".
Building it requires preparations and knowledge. In this area, I cannot help you because I don't use Windows.
See https://docs.ctags.io/en/latest/windows.html. If you can build a ctags ex

[2020-11-24 13:18] pidgeon777 commented on #2725
Content of `ctags` folder:

[code]

Even <kbd>Ctrl</kbd> + <kbd>C</kbd> doesn't seem to produce any effect (it doesn't interrupt `ctags` execution once it hangs).

Finally I followed your suggestion, here is the output:

[code]

[2020-11-24 14:31] masatake commented on #2717
[code]

[2020-11-24 14:43] hirooih commented on #2724
Thanks.
I found the bug.
I will check all loops not to being infinite loops on illegal inputs.

[2020-11-24 14:48] pidgeon777 commented on #2678
Unfortunately, I think I won't be able to run those tests soon, I got this critical issue:

https://github.com/universal-ctags/ctags/issues/2725

This happens when I try to run the Ctags versions released during the latest few months. Do you know if a way to solve this problem exists?

[2020-11-24 15:11] pidgeon777 commented on #2725
I tried 20+ of the previously released Universal Ctags versions.

The very first Universal Ctags version released (back to 2017), this one, works:

https://github.com/universal-ctags/ctags-win32/releases/tag/2017-06-21.2bb585fc

But, starting with the second Universal Ctags release, the following, then not a single release work in my PC:

https://github.com/universal-ctags/ctags-win32/releases/tag

[2020-11-24 17:41] masatake commented on #2678
#2725 is nothing to do with whether you can try the code proposed in #2695 or not.
#2725 is about a pre-built binary.

There is no pre-built binary for #2695.
To try #2695, you must build a ctags executable by yourself.

[2020-11-24 17:55] masatake commented on #2725
@k-takata, I don't know well about Windows but I found an interesting article written in Japanese: https://cs.wingarc.com/ja/kb/000016051 .

[2020-11-24 18:07] pidgeon777 commented on #2725
I had a quick look at that article you posted above, even if I don't know Japanese, and here are some interesting points taken from it:

I can confirm that my issue occurs on my company workstation, and that Trend Micro is enabled, indeed. Maybe it could depend on that?

I'm not sure they'll allow me to whitelist ctags being a non-essential tool (from the company perspective), thus I hope there ca

[2020-11-24 18:09] pidgeon777 commented on #2678
This is now clear, thank you. I'll try to build a ctags executable following your instructions, then.

[2020-11-24 18:14] masatake commented on #2725
Is there a tool like `ls` on Windows?
We would like to compare the owner and the permission assigned to the two executables.

[2020-11-24 18:47] pidgeon777 commented on #2725
Would it be ok to do that by opening a shell with MSYS or similar? For running the `ls` command.

[2020-11-24 19:53] AmaiKinono commented on #2725
I think you can right click the file, select properties -> security -> advanced to see the owner and permissions.

[2020-11-24 20:44] b4n commented on #2717
@masatake that's not enough, because the ending marker used to have to be *on its own line*, while the new version lifts that restriction.  I don't find the explanation very clear:

but I'd say that it means that unless there is a identifier character after the line prefixed with the terminating marker, it is indeed a terminating marker.  So `END;` is a termination (given that the marker is `END`)

[2020-11-24 23:39] hirooih commented on #2724
fixed by #2726

[2020-11-24 23:39] #2724 closed

[2020-11-25 03:01] jespinal commented on #2717
Sorry, @masatake , for some reason I was not notified of your question.

Yes, I'm talking about that change. But that was actually implemented in PHP 7.3 (current stable version is 7.4, and version 8 is at hand). I'm not sure why this was not reported earlier considering the vast user-base of both, ctags and PHP.

I'm adding a few screenshots of code snippets derived from the previous example in o

[2020-11-25 03:25] k-takata commented on #2725
No notable changes found between 2017-06-21.2bb585fc and 2017-06-22.d87c4725.
Enabled features are the same, used compilers are the same, and configuration was not changed.

[2020-11-25 03:30] masatake commented on #2725
Thank you.
I also confirmed the commits.

[2020-11-25 08:51] pidgeon777 commented on #2725
I renamed ctags.exe file:

- `ctags.first.exe` : first release, the one which works:

![image](https://user-images.githubusercontent.com/13739892/100203814-5dcc2780-2f03-11eb-810c-7c15c71524b5.png)

- `ctags.second.exe` : second release, starting from which the problem persists:

![image](https://user-images.githubusercontent.com/13739892/100203833-6290db80-2f03-11eb-8b4d-448fd7638828.png)

The pe

[2020-11-25 09:04] b4n commented on #2717
@jespinal thanks, but if you have normative text that's be even better :)  It's always tricky to guess the logic based solely on a few cases, whereas if we have the normative text we can just implement that and it should hopefully work.  And actually, I think we have enough with @masatake's link and your info :+1:

@masatake I don't promise anything given the little time I find lately, but I'll tr

[2020-11-25 09:29] masatake commented on #2717
You were inactive for a while. So I didn't expect to get a comment from you.
But, now we get the "self-assigned" sign from you. @b4n, thank you for the offering.

[2020-11-25 15:51] masatake opened #2730 "SystemVerilog: entering infinite loop"
input.sv:
[code]

"./ctags -o - input.sv" leads ctags  to an infinite loop.

[2020-11-25 15:51] masatake commented on #2730
"make noise" reports this.

[2020-11-25 16:30] pidgeon777 commented on #2725
The IT guy has been kind enough to do a test for me by adding `ctags.exe` to the Trend Micro whitelist, and that solved the problem.

Still, it would be interesting to know why Trend Micro detected `ctags` as a virus, given that it certainly is not. When starting its execution, while it wasn't whitelisted, it tried to access a server but unfortunately I didn't remember the URL. If I recall correct

[2020-11-26 10:10] leleliu008 opened #2731 "cross-compilation failed"
cross-compilation failed due to `packcc: cannot execute binary file`.

resolved:
[code]

[2020-11-26 14:00] masatake commented on #2731
A pull request is welcome!

[2020-11-26 14:10] masatake commented on #2697
I would like to withdraw the goal "Adding -C action to readtags".
I made a pull request for adding timestamp: field in #2732.

[2020-11-26 21:16] b4n commented on #2717
@masatake you were wise not to expect much of me, as I indeed didn't find time for much UCtags/Geany contributions lately :disappointed: .  I'm trying to find how to allocate time here again, so I hope I'll be more active again, but I can't promise just yet.

Nonetheless, see #2734 for a fix for the issue at hand :)

[2020-11-26 23:33] hirooih commented on #2730
fixed on #2733.

Minimal input was;

`interface static`

Caused by an unexpected EOF.
There were 8 bugs which cause infinite loop due to lack of EOF check.

[2020-11-26 23:33] #2730 closed

[2020-11-27 20:02] masatake commented on #2697
Like the timestamp field, linking libreadtags to ctags is another step for the incremental updating.
The multipass parsing is just another feature that requires linking libreadtags to ctags.
There are two approaches to implement the multipass parsing:
(0) using in-memory database
(1) reading an existing tags file

ctags already infrastructure of (0). If you are interested in this idea, search "sym

[2020-11-27 20:43] AmaiKinono commented on #2697
Oh, I got it immediately!

The example you gave is:

- We have a symbol `x` defined in module `M`.
- We know the kind of `x` when parsing it, but not when importing it in another file.
- We can know the latter, using the reference tag for the import statement.

I just thought of this: https://github.com/universal-ctags/ctags/pull/2727#issuecomment-734324148

- We have symbols defined in file `F`,

[2020-11-27 20:53] AmaiKinono commented on #2697
I actually read a bit about "cork symbol table" in some PRs (but I can't say I'm familiar with the cork thing for now). I guess the approach is to use `libreadtags` to read a tags file into the cork queue, so we could look it up? And...

Is this because the cork queue is freed after parsing a file?

So, does this mean we don't use `-a` option, but `libreadtags` -> cork queue -> merge with new tags

[2020-11-28 13:57] #2717 closed

[2020-11-28 15:22] masatake opened #2738 "SystemVerilog: entering infinite loop"
input.sv:
[code]
with `ctags -o - input.sv`.

[2020-11-28 15:23] masatake commented on #2717
Thank you!

[2020-11-28 16:27] masatake commented on #2697
`multipass parsing technique` is needed to implement such tags. However, I'm not sure we should do as you wrote.
I cannot say well-defined criteria but I think tagging the name of the included file is enough in this case. Handling included
files may be part of client tools.

If we can load a tags file into the cork symtab, it is the best. But we cannot because the information in a tags file is not

[2020-11-28 16:41] masatake opened #2739 "R: entring infinite loop"
[code]

[2020-11-29 06:07] masatake commented on #2725
I think this is a secret of your organization; people can write a virus with "ctags" for attacking your organization.

I will not inspect this issue more.
If you find a way to fix, please, report it to https://github.com/universal-ctags/ctags-win32.

[2020-11-29 06:07] #2725 closed

[2020-11-29 08:11] #2739 closed

[2020-11-30 00:29] masatake commented on #2738
How about this one?

input.sv:
[code]

[2020-11-30 03:04] hirooih commented on #2738
It should be OK.  I've confirmed it does not cause infinite-loop.
Note that `isWordToken ('!')` returns `false`.

***

make chop, slap, fuzz, and noise are too heavy for my current Windows PC.
The CPU fan keeps making a loud noise. I am worried that it might break.
I am trying to set up old Mac for the work.  OS update is done.  I will try `make noise`, etc.  this evening.

[2020-12-01 09:48] masatake commented on #2738
"make noise" reports nothing after "git pull upstream master:master"!

[2020-12-01 09:48] #2738 closed

[2020-12-01 13:02] hirooih commented on #2738
Thanks.

How long did it take?
I been running "make noise" since this morning.  It still running.

[2020-12-01 20:16] masatake commented on #2738
I didn't measure the time.
About 2 or 3 days.
I have used tmpfs (on-memroy file system) when running "make noise".

Running "make noise" is never a must. I will run it when I find the time.

[2020-12-01 23:02] pidgeon777 commented on #2678
Here I am again. I've successfully cloned the main `ctags` repository, also fetching your pull request, finally obtaining the new `ctags` executable with all of your new improvements.

I did some tests generating tags for the following input files:

**ENTITY_1.vhd**:

[code]

**ENTITY_2.vhd**:

[code]

**ENTITY_TOP.vhd**:

[code]

Your recent changes improved a lot the VHDL parser, increasing its

[2020-12-02 00:20] masatake commented on #2678
Thank you for trying.

I will update #2695 after trying to fix the above items.
Then I will merge #2695. The pull requests contain so many commits.
I will work on the rest of the items you put in the comments after merging #2695.

[2020-12-02 15:18] pidgeon777 commented on #2678
I was thinking of another critical thing. Let's consider this snippet again:

[code]

As I observed in my previous post, a tag for `instance_label` (named e.g. *instance label*) should be added too, and I proposed this scope:

1. `architecture:top_entity.top_arch.entity_name.arch_name`

Eventually, that scope could be reduced to the following:

2. `architecture:top_entity.top_arch`

because *insta

[2020-12-02 17:20] rrthomas commented on #2669
I have found some time to look at citre. Unfortunately there is no README at present, but I managed to install it and get `citre-jump` to work. I will ask the author one or two questions.

I cannot find a Vala parser or branch in universal-ctags at the moment; am I missing something? So instead, I used anjuta-ctags (which we've discussed before), since its `tags` file output should be OK (you may

[2020-12-02 20:28] AmaiKinono commented on #2669
I think @masatake's main concern is to have a *built-in* client tool in Emacs, rather than a package that could be "easily installed" (though the latter is also important and needed).

[2020-12-02 20:38] rrthomas commented on #2669
That will be much harder to persuade the developers of: why would the Emacs developers want to take on the burden of several thousand lines more elisp? It cannot be because of the readtags functionality, because for that they would have to take universal-ctags itself upstream into Emacs. (That would be nice!) The obvious question would be "why does Emacs need ctags support when it already has etag

[2020-12-02 21:11] AmaiKinono commented on #2669
Umm, first I didn't meant to merge Citre into GNU Emacs, in case you may misunderstood it. `xref-ctags.el` should be a separate, small package that aims at basic functionalities.

We could make `xref-ctags.el` not depend on readtags.

Ah, this is a real question... maybe @masatake have an answer.

I'd say the ctags format is simply better. If you edit the source file, then use Citre to find a defi

[2020-12-02 21:18] rrthomas commented on #2669
@AmaiKinono I think we're going round in circles here. I suggested a straightforward ctags interface, but @masatake said they preferred support for `readtags`. :)

[2020-12-02 21:28] AmaiKinono commented on #2669
We can discuss on these things. But, maybe it's better to hear how Emacs people think of it (if we could) than we three trying to decide on a design here.

[2020-12-02 21:32] rrthomas commented on #2669
@AmaiKinono, it depends what "it" is. What's the suggestion? I can certainly write to the Emacs developers' list with a concrete proposal. Of course, it's better if it's for something for which code already exists :) As I said, I think the best thing would be ctags support that mirrors the current etags support. However, it's not very useful in the short term. In the long term it would be great if

[2020-12-02 23:14] masatake commented on #2669
@rrthomas, the branch is at https://github.com/universal-ctags/ctags/pull/2677 .

I wonder it is possible to write a useful tags file frontend without readtags.

I run ctags and etags on the source tree of Linux kernel.
[code]

tags output is larger than 600MB. However, this tags file is optimized in size.
Linux kernel supports multiple architectures. The tags/TAGS files are only for x86.
If taggi

[2020-12-02 23:24] masatake commented on #2678
@pidgeon777, do you think we can merge #2695?
I think I solved the following items you pointed out:

* `process` tag is missing a scope.  It should be:
  `architecture:entity_name.arch_name`

* `variable` tag scope is currently:
  `process:proc_name`
  It should be:
  `process:entity_name.arch_name.proc_name`

[2020-12-02 23:49] AmaiKinono commented on #2669
Supporting huge tags files comes with the price of introducing external dependencies. Considering `etags.el` itself can't work well with huge TAGS files, I think it's acceptable to use a similar implementation, and let the user seek for a better tool if they need to work with huge tags files.

I actually have some alternative ideas:

- Use grep, like what Citre originally did. If I remember it cor

[2020-12-03 08:03] pidgeon777 commented on #2678
I'm doing more tests for https://github.com/universal-ctags/ctags/pull/2695 before confirmation.

Are those included in the aforementioned https://github.com/universal-ctags/ctags/pull/2695?

[2020-12-03 12:43] masatake commented on #2678
Yes. https://github.com/universal-ctags/ctags/pull/2695/commits/cf9a5d2eebc884e992aeaa2edcc4627452d12c78 in  #2695 is the change for the items.

[2020-12-04 11:05] prizelk opened #2749 "HTML parser not working for me on OSX. Im a beginner."
The name of the parser: html

The command line you used to run ctags: ctags -R

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

The version of ctags:

[code]

How do you get ctags binary:
brew install --HEAD universal-ctags/universal-ctags/universal-ctags

I dont think its an issue with the parser but somewhere along the

[2020-12-04 11:32] pidgeon777 commented on #2678
The new additions in https://github.com/universal-ctags/ctags/pull/2695 seem to be OK.

[2020-12-04 13:10] AmaiKinono commented on #2749
This gives you exactly what you want:

[code]

If you just want ctags to give you every bit of information it can, you could do:

[code]

[2020-12-04 13:32] prizelk commented on #2749
Thank you so much for the reply, AmaiKinono. This works great!

[2020-12-04 13:32] #2749 closed

[2020-12-05 15:30] masatake commented on #2678
I merged #2695. Thank you for testing.

@pidgeon777, can I ask you to summarize the rest items? (opening a new issue is an alternative way.)

I have one request. When showing an example of scope field, could you add `scope:` prefix?
ctags can emit the prefix when you give `--fields=+Z` option.

[code]
I would like you to show the examples in the above forms.

[2020-12-05 16:12] masatake commented on #2719
This may be related to #2747.
After merging #2747, we have to talk to people at https://github.com/termux/termux-packages.

[2020-12-08 19:14] AmaiKinono opened #2754 "Can we make inputFile tags use search pattern?"
For now the inputFile tags always use line number in the pattern field:

[code]

If we could assume that all tags in a tags file use the same kind of pattern field, a client tool could cache it (i.e., whether the pattern is number/search pattern, and the search direction), so it doesn't need to infer it on each line. So, maybe use `//;"` (or `/^/;"`) for the pattern field of inputFile tags is a go

[2020-12-09 10:26] AmaiKinono commented on #2754
I found that when `TAG_OUTPUT_EXCMD` is `mixed`, it means that for C macros and Fortran common blocks, line numbers are used as the pattern. And Exuberant Ctags does this. So

This can't be done. Although it may be possible that a client tool choose whether to do the optimization based on whether `TAG_OUTPUT_EXCMD` is `mixed`, the implementation will be overly complicated.

So I'll close this issu

[2020-12-09 10:26] #2754 closed

[2020-12-09 19:33] masatake commented on #2731
The pull request is merged.

[2020-12-09 19:33] #2731 closed

[2020-12-09 19:42] masatake commented on #2719
I think so, too.
@leleliu008 solved the issue about cross-compilation in #2747. So the package maintainers can improve their script for building ctags with the changes introduced via #2747. We described newly introduced variables for cross-compilation in https://docs.ctags.io/en/latest/autotools.html#cross-compilation.

[2020-12-09 19:42] #2719 closed

[2020-12-09 20:00] masatake commented on #2670
Could you run the following command and show /tmp/ctags.strace and /tmp/cat.strace?
[code]
I would like you to use gist if the files are large.

[2020-12-09 22:12] masatake commented on #2754
`F/file` kind is a wart of ctags. Though I added `epoch:` field to the kind, I think we should not do much with `F/file` kind.

ctags made tags for language objects in input files. input files are not language objects in input files.
I wrote "wart" in this meaning. I repeatedly tried to delete `F/file` from ctags. However, I didn't it because the impact might be too large. Removing `F/file` is jus

[2020-12-09 22:36] masatake commented on #18
#2747 may solve this long-standing issue.
Ideally, we should add a building-test for Android to our CI environments. Someone may open a pull request for it.

[2020-12-09 22:36] #18 closed

[2020-12-09 22:39] masatake commented on #261
A pull request is welcome.

[2020-12-10 01:44] AmaiKinono commented on #2754
I'm literally laughing at this!

I think I understand this. `kind` is really not the right concept for this.

There's one problem: the `language:` field is not enabled by default (e.g. when using `$ ctags -R`), so it's not easy to tell if a tag is a file. This could cause troubles for auto-completion or go to definition tools. If this is the consideration, maybe using `kind` as an indicator is the

[2020-12-10 19:37] masatake opened #2758 "Offload linux related jobs currently running on Travis-CI to another CI/CD envronment"
It takes too long times to assign machines for Linux-related jobs on Travis-CI.
Any recommendation?

[2020-12-11 04:25] masatake opened #2759 "ci,buildsys: migrate the jobs on Travis-CI to GitHub Actions or somewhere"
It might be better to consider using GitHub Actions.
Also, note that travis-ci.org will end this month. We should migrate to travis-ci.com if we still use Travis CI.
https://docs.travis-ci.com/user/migrate/open-source-repository-migration

_Originally posted by @k-takata in https://github.com/universal-ctags/ctags/issues/2757#issuecomment-742866001_

[2020-12-11 04:26] masatake commented on #2758
Offloading is not enough. See #2759.

[2020-12-11 04:26] #2758 closed

[2020-12-11 04:30] masatake commented on #2759
@k-takata, thank you for the critical notification.

I have already run a heavy (large?) job (make units VG=1) at GitHub. I'm afraid of becoming GitHub Actions a bottleneck.
Anyway, we have to migrate the jobs at Travis-CI.

[2020-12-11 04:47] masatake commented on #2063
It seems that I didn't read @b4n's very valuable advice. I chose `""` for documentation languages.
@techee gave me the advise, too at #2716.

[2020-12-13 19:29] masatake commented on #1577
Tonight, I linked the optscript interpreter to ctags. "hello, world" worked.

[code]

[2020-12-16 20:37] masatake commented on #1577
Other than error handling, the optscript interpreter works well.
Now I enter the stage to design predefined operators and predefined variables.
* `$$` is a tag entry just created with the regular expression.
* `ss` is the prefix for operators manipulating and accessing the scope stack.
 - `sscount` (`- sscount <integer>`)
 - `sspop`    (` - sspop -`)
 - `ssref`   ( `<integer> ssref <tagEntry>`)
 -

[2020-12-20 08:23] rrthomas commented on #2669
Just a note to say that I found the vala branch of @masatake's ctags repo, so I will be using `universal-ctags` in future testing.

[2020-12-20 09:17] masatake commented on #2669
@rrthomas, please note that the branch will be rebased frequently.

[2020-12-20 10:32] rrthomas commented on #2669
@masatake noted, thanks!

[2020-12-22 23:15] masatake commented on #2269
See #2769.

[2020-12-28 05:57] #2669 closed

[2020-12-29 19:06] raven42 opened #2776 "Compilation error in misc/packcc/packcc.c"
When attempting a fresh compile on a Linux 3.10.0 system, with gcc 4.8.5, I am seeing the following error.

[code]

This can be fixed with the following patch.
[code]

Requesting someone implement this fix to allow compilation on more systems.

[2020-12-29 21:22] masatake commented on #2776
Thank you. Reproduced on centos7. I will look into this.

[2020-12-29 22:42] masatake commented on #2776
To build ctags itself, c99 is needed. So instead of modifying packcc, I have tried to use c99 to build packcc.
See #2777.

[2020-12-30 15:16] masatake commented on #2776
If the issue is still reproduced, please, reopen this.

[2020-12-31 01:49] masatake opened #2779 "C: entering an infinite loop with macro expansions"
input.c:
[code]
With input, a process launched with the following command line never stops till consuming whole the memory:
[code]

[2020-12-31 08:53] pragmaware commented on #2779
yep... another nasty replacement pattern.
From what I see it will *eventually* terminate because of token chain size limit but it will take some hours to do so.

[2021-01-01 17:24] 097115 commented on #2557
@masatake

Sorry for bringing up this old question but just wanted to clarify if you don't mind: if I want to use MY definitions for a language that is already supported, the only option is to use this `pretend` argument?

Say, I don't like  the inbuilt `R` support (it's just an example, I don't know anything about the actual `R` support in `universal ctags` :). So, to `$HOME/ctags.d/` I add `RR.c

[2021-01-01 18:14] masatake commented on #2557
Thank you for finding this discussion. I'm interested that there is a person who is interested in ``--_pretend``.

YES.

I will show the way to verify the option works.
[code]

You can rewrite the options file more u-ctags way:
[code]

I wonder why you want to use the option. Any interesting application?

[2021-01-01 18:24] 097115 commented on #2557
Thank you for this reply and for your hints!

Not really :)

I just started using `universal ctags`, and simply wanted to make sure I can have my own definitions for an already defined language -- if I need to. Having this sort of flexibility is nice :)

[2021-01-02 20:00] masatake commented on #2759
I moved the most of all workloads run at Travis-CI to GitHub Actions.

[2021-01-04 12:49] leleliu008 opened #2789 "Out-of-source builds failed due to No such directory: Units and Tmain"
run the following commands in the terminal:

[code]

`make clean` failed and output logs as follow:

[code]

resolved patch:
[code]

[2021-01-04 22:16] masatake commented on #2789
Thank you. Please, make a pull request.

[2021-01-05 15:19] masatake commented on #1577
I decided to use `.` instead of `$$`.
See https://ctags.io/2021/01/05/optscript/.

[2021-01-05 23:14] masatake commented on #2792
Reproduced in both the json and xref output format.

We should fix the ctags itself or write this behavior as the specification of ctags in ctags.1.
I think the latter action is acceptable because users can print the line numbers with --fields=+n (or --_xformat="...%n") as written as an answer on the StackOverflow page.

[2021-01-08 18:09] bernardjosef opened #2795 "Extra tags in multiline regex tables"
Multiline regex tables do not support conditional tagging with extra. The following patch seems to solve the problem, but I do not know if there are drawbacks.

[code]

[2021-01-08 18:31] raven42 commented on #2776
I'm requesting this be re-opened (I don't have permission as I'm not a member or collaborator).

Still seeing this error on some systems. Now I'm seeing it on a CentOS 6.9 setup (I know it's super old, but it's what I have to work with for now).

[code]

System Info:
[code]

Can I ask why we don't just fix the `packcc.c` file with the change I suggested? It is no functional impact and then there w

[2021-01-09 02:01] masatake commented on #2795
Thank you very much. You are correct. Can I ask you to make a pull request for this?
You can move the lines upward like:
[code]

Could you add a test case I wrote to the pull request?
For adding, do "git am 0001-Tmain-add-a-case-for-testing-_extra-mtable-regex-fla.txt"
[0001-Tmain-add-a-case-for-testing-_extra-mtable-regex-fla.txt](https://github.com/universal-ctags/ctags/files/5790000/0001-Tmain-

[2021-01-09 02:03] masatake commented on #2795
I wonder how do you find this bug because `_extra` flag is so minor.
You will be interested in my blog article. https://ctags.io/2021/01/05/optscript/.

[2021-01-10 12:53] bernardjosef commented on #2795
I am currently working on a parser for Markdown wiki links and Pandoc citations in Markdown files for a Zettelkasten (slip box). This is why I have found the bug, because I have defined an extra flag there. My goal is rather unusual for Universal ctags, I believe. I want to follow links and citations inside a Zettelkasten with the help of tags.

[2021-01-11 06:33] masatake commented on #2776
* We should not modify packcc.c for u-ctags specific reason (if possible):
  + packcc.c is written in C99.
  + we are moving to use packcc to the newly appeared upstream version from the Universal Ctags private versiono.
     (https://github.com/arithy/packcc/issues/13).
* CentOS6 has a stdc99 ready C compiler.
* u-ctags assumes C99 compiler. (To be honest, it requires c99 + GNU extension.)
* pack

[2021-01-11 06:48] masatake commented on #2795
Are you extending optlib/markdown.ctags or writing a new markdown parser from scratch?

I have tried to tag links in a markdown file. However, I found it is not so easy.
[code]

Though the markdown parser in u-ctags is written in `_mtable-regex-flags`, it is line oriented.
I think full-rewriting may be needed to support the links.

If you feel the current version of u-ctags is not enough for your

[2021-01-11 06:48] masatake commented on #2795
Fixed by your pull request. Thank you.

[2021-01-11 06:49] #2795 closed

[2021-01-11 06:51] masatake commented on #2795
It seems that you may be an elisp hacker, so you may be interested in https://github.com/AmaiKinono/citre .
It has a good tags file accessors. The author has very deep knowledges about tags file format. FYI.

[2021-01-11 22:38] leleliu008 commented on #2776
@raven42   there exists an immediate solution to this problem, you can use `CFLAGS_FOR_BUILD='-std=gnu99'` configure variable

@masatake I have fixed this problem and submit a PR.

[2021-01-11 23:44] masatake commented on #2776
@leleliu008, thank you. I shoud have talked to you when we received this issue report.
I would like you to consider joining u-ctags project (origanization) as a member.

I also tried to fix this issue, building ctags with autoconf-2.63 which is part of CentOS6.
However, the fix is very complicated.  I have not written some of commits log yet.
Anyway I would like to hear your comment about my pull

[2021-01-11 23:50] masatake commented on #2776
This is the docker file I used for fixing this issue:

Dockerfile:
[code]

I built a container image with:
[code]
Here . means the place where Dockerfile is. I guess you can use docker instead of podman.

[code]
is for entring the CentOS environment.

[2021-01-12 00:09] leleliu008 commented on #2776
@masatake  I have the `centos:6` docker image container instance. I have been took a quick look at your PR(https://github.com/universal-ctags/ctags/pull/2799). I think there is no need too much change. You can take a look at my PR(https://github.com/universal-ctags/ctags/pull/2798).

[2021-01-12 01:57] masatake commented on #2776
@leleliu008, thank you. Could you give me time (a week or so)? I consumed all my spare time for developing #2799.

[2021-01-12 02:46] leleliu008 commented on #2776
@masatake Certainly.

[2021-01-12 06:40] cvand opened #2800 "Configure fails with error: ./configure: line 8079: syntax error near unexpected token `dummy'"
Trying to build the project from source fails at the configure phase:
[code]

My environment is a macOS Catalina host 10.15. The host doesn't have access to public internet so I can't use brew.

[code]

[code]

Dependencies:
[code]

[2021-01-12 06:51] k-takata commented on #2800
What do `type -a pkg-config`, `type -a automake` and `type -a autoconf` show?

[2021-01-12 06:56] cvand commented on #2800
[code]

[2021-01-12 07:24] masatake commented on #2800
[code]
Smells bad.

[code]

It looks too old.
It is released in 2003. https://pkgconfig.freedesktop.org/releases/.
As far as reading the public site, it is the oldest pkg-config we can get officially.

... I should add a version checker to autogen.sh or we should distribute tar.gz in which configure script is included.

[2021-01-12 07:35] cvand commented on #2800
That was the issue. I upgraded to 0.29.2 and the warning in autogen.sh disappeared, as well as the failure.
Thank you for the help!

[2021-01-12 07:35] #2800 closed

[2021-01-14 02:04] leleliu008 commented on #2800
@masatake  we can add the following code to `configure.ac` to check if the `PKG_CHECK_EXISTS` macro is defined:
[code]
**Note**: our project use the `PKG_CHECK_EXISTS` and `PKG_CHECK_MODULES` two macros, these  two macros are provided by `pkg.m4` which is installed along with [pkg-config](https://www.freedesktop.org/wiki/Software/pkg-config/). the `PKG_CHECK_EXISTS` since 0.18, the `PKG_CHECK_MODU

[2021-01-14 03:07] masatake commented on #2800
@leleliu008, could you make a pull request for
[code]
?

[2021-01-14 03:48] leleliu008 commented on #2800
@masatake Yeah, I will submit a PR after a full practice test in my local environment (`macOS10.15` `Debian8-10` `Ubuntu18.04` `CentOS6.10` `CentOS7` `CentOS8` `Manjaro` `Gentoo` `msys2`). Dos `universal-ctags` support BSD-based system (`NetBSD` `OpenBSD` `FreeBSD`)?

[2021-01-14 07:40] masatake commented on #2800
We have not said that we support these platforms explicitly. However, if we get a bug report, we will fix it.  That means we should add a CI environment for these platforms.

[2021-01-14 08:01] k-takata commented on #2800
Cirrus CI supports FreeBSD.

[2021-01-14 08:04] leleliu008 commented on #2800
@k-takata Thank you. I will give it a try.

[2021-01-15 16:49] peach-lasagna opened #2805 "github releases?"
how about creating github releases where you will publish the compiled ctags? [Like there](https://github.com/neovim/neovim/releases)

[2021-01-16 03:24] k-takata commented on #2776
Closed by #2798.

[2021-01-16 03:24] #2776 closed

[2021-01-16 13:13] evmorov opened #2808 "TypeScript field with an assignment breaks generating tags for methods"
The name of the parser: typescript

The command line you used to run ctags:

[code]

The content of input file:

[code]

The tags output you are not satisfied with:

[code]

The tags output you expect:

[code]

If I change `private tasks: string[] = [];` to `private tasks: string[];` (remove `= []`)  I get the expected result.

The version of ctags:

[code]

How do you get ctags binary:

https://g

[2021-01-16 15:27] masatake commented on #2805
I have no plan to do so now. See #1038.
Weekly automatic git-tagging is already running. So you can use it as a trigger to build ctags binary.

[2021-01-16 15:27] #2805 closed

[2021-01-16 15:44] #2789 closed

[2021-01-17 02:54] #2779 closed

[2021-01-17 09:41] ksamborski commented on #2808
Thanks, I will try to fix this.

[2021-01-19 15:49] masatake commented on #2723
@getzze, feel free to edit this dashboard (if you need).

[2021-01-20 09:54] AmaiKinono opened #2817 "Proper evaluation order of `if` operator in readtags expressions?"
The `if` operator has a syntax like:

[code]

From what I've seen, I think readtags eval both `exp-true` and `exp-false` first, then pick one based on `cond`. For example:

[code]

This lists tags with `extras:` field, which is expected. Then I can change it to this:

[code]

I get output like this:

[code]

Notice that missing values are printed (as `#f`). If the condition is evaluated first, the

[2021-01-20 09:55] #2808 closed

[2021-01-20 10:08] masatake commented on #2808
Thank you!

[2021-01-20 11:00] masatake commented on #2817
Thank you for reporting this.
I took a poor mistake.

[code]

I'll make a pull request.

[2021-01-20 14:31] evmorov commented on #2808
Thanks, @ksamborski!

[2021-01-20 23:27] masatake commented on #2759
We have used all credits.  We have to move the remaining tests to Git Hub Actions.

[2021-01-20 23:29] masatake commented on #2817
I must fix #2759 first.

[2021-01-20 23:38] masatake commented on #2670
Please, reopen this when you neeed.

[2021-01-20 23:38] #2670 closed

[2021-01-21 04:26] #2759 closed

[2021-01-21 05:50] #2817 closed

[2021-01-21 11:48] psprint opened #2821 "Functions from the C file aren't generated as tags, why?"
(
Thank you for contacting us.

If you are reporting an issue with the parsing output, please fill
the following template.  As your custom CTags configuration can
affect results, please always use `--options=NONE` as the first
option when running `ctags`.

Otherwise, delete the template and write your issue from scratch.
Examples may help developers understanding your issue better.

Use GitHub web

[2021-01-21 13:21] masatake commented on #2821
pipe_mail() has no `}' at the end. It is broken as C source code.
"Garbage-in Garbage-out", this is one of the motto of this project.
If you like the behaviour of Exuberant ctags, please, use it.

[2021-01-21 13:21] #2821 closed

[2021-01-22 05:53] AmaiKinono commented on #2475
I think we need a `regexp-quote` operator.

A client tool may need to build regexp using literal strings, and it needs to make sure the generated regexp does match that string, by wrapping it in this operator.

Emacs and Vim both doesn't use PCRE, so the built-in `regexp-quote` in editors is not reliable.

[2021-01-23 01:29] kklot opened #2823 "R,R6Class: jump to anonFunc####"
Sorry if I missed the docs, I have an R6 object in `R` which have methods defined inside a list, and I have the same methods written in `C++` classes. `ctags` generated both `R` and `C++` method but the R one is named with `anonFuncxxx`, which I cannot jump to and not found when e.g. using `fzf` search (in `Vim`), e.g.

[code]

[code]

how could I jump to the R's one using its name?

[2021-01-23 01:44] masatake commented on #2823
I wrote R6 parser. It should extract infect_mix. I wonder why it didn'.t
Could you show me the original R input file (GitHub/eppasm/R/infections.R) ?
The built-in eye-grep cannot find `infect_mix` in https://github.com/mrc-ide/eppasm/blob/master/R/infections.R .

[2021-01-23 02:13] masatake opened #2824 "readtags: `concat` and `regexp-quote` operators"
I think we need a `regexp-quote` operator.

A client tool may need to build regexp using literal strings, and it needs to make sure the generated regexp does match that string, by wrapping it in this operator.

Emacs and Vim both doesn't use POSIX extended regexp, so the built-in `regexp-quote` in editors is not reliable.

*Edit:* Just found that this may be more complicated than I thought:

- `co

[2021-01-23 07:13] AmaiKinono commented on #2824
I have an irrelevant question. Since most (or all) operators in readtags are pure, can we "compile" the expression first and eval those values that can be determined? Otherwise we need to build the same regexp on every line.

[2021-01-23 08:14] kklot commented on #2823
could you try with my fork at kklot/eppasm@mix_kincrr

On Sat 23. Jan 2021 at 02:44, Masatake YAMATO <notifications@github.com>
wrote:

[2021-01-23 08:19] kklot commented on #2823
the parser does find it but was named with anonFunc. All the R6 methods are like this, which is kind of correct. I'm just unsure how to treat those.

[2021-01-23 09:35] masatake commented on #2823
Reproduced with https://github.com/kklot/eppasm/blob/1988/R/popClass.R.
At least 2 bugs are there.

[2021-01-23 09:51] kklot commented on #2823
I see C and Python mentions of this, don't know what that means https://github.com/universal-ctags/ctags/search?q=anonFunc

[2021-01-24 00:10] masatake commented on #2823
See https://docs.ctags.io/en/latest/man/ctags.1.html#tags-file-contents-options about the anonymous tags.

The anonymous tags are for making names like function having no name `function(hivpop, artpop, ii`.
What you want is `infect_mix`. ctags couldn't make a tag for it because it is not a variable.
I inspected the input source file, and I found it is a name attribute defined in a vector.
[code]

[2021-01-24 00:31] masatake commented on #2824
The current version compiles the pattern when reading the S expression.
To solve this issue, we must change `regexp->string`. If an object other than string literal is given, `regexp->string` must delay the compilation.

[2021-01-24 04:58] AmaiKinono commented on #2824
By "compile the expression" I mean every subtree of the whole post-processing expression. For example:

[code]

This can be evaluated when reading. But

[code]

This must be evaled when processing. Then if we use them as regexp:

[code]

[2021-01-24 06:18] masatake commented on #2824
https://github.com/universal-ctags/ctags/blob/78621a0acc4fc39639be6bf90c219586229b1903/dsl/dsl.c#L450

[2021-01-24 07:17] masatake opened #2826 "docs(web): text layout style for the description about "/anonmous" extra"
See the description of "/anonymous" extra in https://docs.ctags.io/en/latest/man/ctags.1.html#tags-file-contents-options .
The style of text layout is very different from that of other fields.
It is better that the styles are consistent among fields.

@hirooih, could you look into this?

I guess the following change may fix this issue. However, I have not tried my chanage on readthedocs.org.

[cod

[2021-01-24 08:36] masatake commented on #2428
An interesting question related to this issue
https://stackoverflow.com/questions/65867522/create-tags-for-files-using-ctags

[2021-01-24 09:53] hirooih commented on #2826
I already fixed this issue on my local repository.
I'll send PR with other fixes.

[2021-01-24 10:33] leleliu008 opened #2827 "make check failed due to ./misc/units[779]: syntax error: `"$file"' missing expression operator when running on OpenBSD6.8"
**Running the following code in the terminal on OpenBSD 6.8:**
[code]
**the `make check` report following:**
[code]

**relevant code:** [click me](https://github.com/universal-ctags/ctags/blob/master/misc/units#L779)

**the reason:** the **OpenBSD sh** not support `[[ a =~ b ]]` feature.

**the solution:** use POSIX sh code as follow:
[code]

[2021-01-24 12:03] masatake commented on #2827
Just a qusetion. Do you mean OpenBSD sh has `[[` built-in command or OpenBSD has `[[` as a command but the command doesn't have `=~` ?

----

Could you make a pull request (and merge?)

BTW, if python is installable on the environement, I highly recommend you to use misc/units.py instead of misc/units.
misc/units.py executes multiple test cases in parallel.  In some minor reasons, I kept misc/unit

[2021-01-24 12:04] masatake commented on #2826
I see. Thank you.

[2021-01-24 12:07] leleliu008 commented on #2827
@masatake Yes, `OpenBSD sh` has `[[` built-in command, but it does't support `=~` operator.

[2021-01-24 12:23] masatake commented on #2827
Finally I understand why I should study python.

[2021-01-24 12:23] AmaiKinono commented on #2428
It is an interesting one. I think at least it can be solved in 3 ways:

- Let the client tool recognize the user's intend and transform `chapters/chapter1` into `chapter1.tex` for matching. I think this is easy to hack if the client tool they use doesn't utilize readtags.
- Let the client tool don't match by name, but by the `input` field, and filter those have `file/F` kind. This is easy with rea

[2021-01-24 12:44] leleliu008 commented on #2827
@masatake as we all known, there is no silver bullet. I think we should depend on CI to find problems. I have been testing OpenBSD and NetBSD CI, if finished, I will make a PR.

[2021-01-24 12:49] masatake commented on #2428
ctags itself also must have an ability to solve file name from given language object name when implementing multi-pass parsing.
See `if (strcmp(suffix, ".py") != 0)` in https://github.com/universal-ctags/ctags/pull/2741/commits/4aef85d631c000457b389c0d3c81c11d3ce6a2f1#diff-40f2d292b59e7d5e66dc889a6f66ba3bab41657faacd15b9f87f6b6ed848dfc3R1097 .

It is already done in ctags side!

[code]

[2021-01-25 02:26] #2827 closed

[2021-01-25 12:03] leleliu008 opened #2829 "make check failed on OpenBSD and NetBSD"
**Running the following code in the terminal on OpenBSD 6.8:**

[code]

the `make check` report : [click me](https://github.com/leleliu008/auto/runs/1761113741?check_suite_focus=true)

<br>
<br>

**Running the following code in the terminal on NetBSD 9.1:**

[code]

the `make check` report : [click me](https://github.com/leleliu008/auto/runs/1761113748?check_suite_focus=true)

[2021-01-25 12:20] leleliu008 commented on #2829
**cat Tmain/readtags-qualifier-begin.d/stdout-diff.txt**
[code]

**cat Tmain/readtags-qualifier-begin.d/stderr-diff.txt**
[code]

**cat Tmain/readtags-qualifier-begin.d/exit-diff.txt**
[code]

[2021-01-28 12:21] carand opened #2831 "packcc is not rebuilt automatically (Was: unable to build on ctags on linux)"
Hello anyone,

It' looks that there is a bug in your build process. I'm unable to build ctags from master branch.
commit 3a88dc2e4d65e64b24612c610d588d0690cb0ca0 (HEAD, origin/master, origin/HEAD, master)

when running make I get the the following error:
REPOINFO   main/repoinfo.h
PACKCC     peg/varlink.c
packcc: Invalid option '-i'

[2021-01-28 12:44] leleliu008 commented on #2831
@carand  please provide as much information as possible. What's distribution and version of your Linux?

[2021-01-28 12:49] ksamborski commented on #2831
You have an old compiled packcc binary.
Please remove it: `rm misc/packcc` and update its sources: `cd misc && ./pull-packcc.sh`
After that it `make` should compile everything again.

[2021-01-28 13:00] carand commented on #2831
Thanks for help. It works now.

[2021-01-28 16:26] carand commented on #2831
Linux Mint 19, 64 bit version

[2021-01-29 00:53] psprint opened #2832 "How to index C headers of the project?"
I've done many tries and I gave up: I just cannot generate tags for headers in my project other way than:
[code]

I.e.: without selecting `--languages=c`, what means that ctags will interpret all files, Makefiles.in, even READMEs…

My question is: how to parse only C files **and** index also C headers?

[2021-01-29 02:34] masatake commented on #2832
`.h` is associated to C++ language. You must fix it to fit ctags to your purpose.
Use `--langmap` option like:

[code]

[2021-01-29 02:44] masatake commented on #2831
Looks strange. I expect all works fine just after doing git pull at the top of the ctags source tree.

[2021-01-29 05:57] leleliu008 commented on #2831
@masatake Yes, I wonder why this happened too.

I tested on `LinuxMint 19.3 amd64` using following instructions:
[code]
It worked well!

@carand could you tell us  how to reproduce this issue?

[2021-01-29 06:07] ksamborski commented on #2831
It happened to me before as well. I had a cloned source tree that wasn't used for a few months and when I updated it using `git pull` it didn't compile (because of the outdated packcc binary).

[2021-01-29 06:19] leleliu008 commented on #2831
run `make clean` before `make` are recommended. but most people don't do this, so our build system can do it to avoid this problem.

[2021-01-29 06:46] k-takata commented on #2831
We had used git-submodule for misc/packcc/ two years ago, and switched to git-subtree.
That could cause some issues, but not sure this is the case.

[2021-01-29 06:51] leleliu008 commented on #2831
right way to compile `universal-ctags` from github source tree:

[code]

[2021-01-29 07:33] psprint commented on #2832
Thanks, this works.

[2021-01-29 08:02] leleliu008 commented on #2831
@masatake what do you think about update [How to build and install](https://github.com/universal-ctags/ctags#how-to-build-and-install) block of our `REDME.md` as follows:

To build with `Autotools` (`Autoconf`, `Automake`) on `GNU/Linux`, `macOS`, `FreeBSD`, `OpenBSD`, `NetBSD`, `msys2`, `Windows 10 WSL`

If you **don't have** a local copy of our remote repository on your machine, follow the instr

[2021-01-29 09:06] #2832 closed

[2021-01-29 09:09] masatake commented on #2832
An alternative solution is:
[code]
I guess --kinds-c++=+px is not needed because some kinds of C and C++ are synchronized internally.

[2021-01-29 09:14] carand commented on #2831
Just checkout an old  commit of this repo and make sure that packcc is is outdated. Then update to newest version. Packcc will be not updated to newest version, if it exists.  Then do: ./autogen.sh && ./configure && make

Unfortunately, I can't   say which commit I checked out before update.  I guess, just remove the Makefile  will not work because the Makefile will  be  generated by autogen.sh an

[2021-01-31 05:37] masatake commented on #2831
I don't have enough time to work on this topic now.
However, I found the way to reproduce the original issue when hacking R parser.

[code]

I saw:
[code]
I remembered I added -i option.

The following change fixed the issue:
[code]

@leleliu008, how do you think this fix?
I will read the discussion held here later.

[2021-01-31 05:49] masatake commented on #2831
The change for the document looks improvement. However, I hope we can remove
[code]
from the instructions.
In addition, I think "make installl" should be optional. Actually I don't install it at all. I need e-ctags (installed via yum) to study its behavior.

[2021-01-31 05:59] leleliu008 commented on #2831
@masatake good solution. this will trigger `make` to rebuild `$(PACKCC)` once `$(top_srcdir)/misc/packcc/packcc.c` changed even if `$(PACKCC)` is not changed.

[2021-01-31 08:58] masatake commented on #2831
@leleliu008, thank you. I will make a pull request.

[2021-02-01 09:41] leleliu008 opened #2835 "make check failed on MSYS2 when MSYSTEM=MINGW32 and MSYSTEM=MINGW64"
**MSYSTEM=MINGW32 :**
[code]

**MSYSTEM=MINGW64 :**
[code]

**report same error logs as follows:**
[code]

[2021-02-01 11:28] leleliu008 commented on #2835
How about this? (not tested)
[code]
--comment by @k-takata in #2833

[2021-02-01 11:43] leleliu008 commented on #2835
this may fix the issue reported by `GitHub Actions`, but not a completed fix.

I think change `sed -e 's|C:|/c|g'` to `sed 's|^\([A-Z]\):|/\l\1|'` makes it more robust.

[2021-02-01 15:47] #2831 closed

[2021-02-01 15:57] masatake commented on #2831
@leleliu008, I thought about your proposal about updating the document.

I would like to reject it two reasons.
1. I don't want us to teach the very basic usage and conept of git to USERS.
2. we lost chances getting bug report like this issue.

This is my idea. @hirooih, how do you think?

[2021-02-02 06:48] chongchai opened #2840 "C++: assignment operator overloading in struct will cause parse error"
I find assignment operator overloading in struct will cause parse error.

The test code here.
[code]

I use following command to parse:
[code]

Result is :
[code]

As you can see from the result, the function `test` after the struct definition is missing.

[2021-02-02 12:54] hirooih commented on #2831
I just read this thread.

[code]

This should fix the root cause of this issue.
I think we should not add unnecessary step.

@leleliu008 proposed updating the document before this solution was proposed.
I think he also agrees with us.

[2021-02-02 13:09] leleliu008 commented on #2831
@masatake @hirooih I personally have no objection.

[2021-02-03 00:04] masatake commented on #2840
@pragmaware, my poor idea for fixing this issue is:

[code]

[2021-02-03 12:59] Kipparis opened #2843 "Font bug on welcome website"
Issue is about site display on `webkit2` engine. `surf` browser
User agent string: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36`

Consider following size of viewport: 1177x668. all working as expected (nothing crazy)
If I decrease viewport to 1143x668, hovering links causes font to decrease at size.

Screenshots are taken at 1

[2021-02-03 21:49] masatake opened #2845 "programming tasks related to outside projects"
- [ ] command-line completion rules (zsh and/or bash)
- [ ] pygments highlighters for "tags" file format and ".ctags"

[2021-02-04 15:36] masatake commented on #2824
Try #2836.

I added concat (string-append), regexp-quote, and print-code.
print-code does the same as print but it works at compile time.

`regex-string` accepts a context variable like $name.

[2021-02-06 22:41] flwyd opened #2849 "JavaScript: support fields (Was: JavaScript stops parsing after property assigned to empty array)"
JavaScript files stop parsing when encountering a class field that's assigned to an empty array, e.g.
[code]
This does not seem to occur if the field is assigned to an array with elements (`['foo']`), numbers, strings, or object literals (empty or otherwise).  The presence or absence of the `static` modifier on the field doesn't make a difference.

In the example below, I have a class defined afte

[2021-02-07 05:44] hirooih commented on #2312
@masatake san and @k-takata san,

I've started creating a base of `ctags-faq.7.rst.in` from `old-docs/FAQ`.

I'd like to omit the following sections.  Could you give me your comments?

Obviously we don't need this.

An empty section.

The latest release of XEmacs is 2009.  See https://www.xemacs.org/.
I don't think we need these sections in 2021.

It seems that NEdit is still an active project. Se

[2021-02-07 07:28] #2835 closed

[2021-02-07 11:26] masatake commented on #2312
I agreed with what you wrote.

I think we don't need to write much about client tools because client tools may have their own contact point.

[2021-02-07 11:27] masatake commented on #2312
I have put "FAQ" labels to issues. The discussions on the issues are the candidates for ctags-faq(7).

[2021-02-07 11:35] leleliu008 opened #2850 "make roundtrip failed on MSYS2 when MSYSTEM=MINGW32 and MSYSTEM=MINGW64"
**MSYSTEM=MINGW32 :**
[code]

**MSYSTEM=MINGW64 :**
[code]

**report same error logs as follows:**
[code]

[2021-02-07 11:38] masatake commented on #2849
Thank you.

My code introduces the bug. I must fix this.

[2021-02-07 13:52] masatake opened #2851 "Select and limit the input for roundtrip target"
It takes a too long time.
[code]

./Units/review-needed.r/test.vhd.t/expected.tags is too large.
Removing this is one of the solutions.