[2016-05-13 16:48] dkearns commented on #861
I'll take this.

[2016-05-13 17:27] masatake commented on #861
Oh! thank you.

[2016-05-14 19:17] masatake commented on #861
Closed with #936.

[2016-05-14 19:18] #861 closed

[2016-05-14 19:19] masatake commented on #933
The original report solves this:-P.

[2016-05-14 19:19] #933 closed

[2016-05-15 12:52] dkearns opened #940 "Test cases under review-needed.r (language: Java)"
I'll take these.

[2016-05-15 13:54] masatake commented on #940
FIne!

[2016-05-16 10:28] dkearns commented on #940
I'm not sure what to do about Units/review-needed.r/unicode8.java.t.

It's not testing Unicode, the file is Latin 1, and the referenced bug fix on SF seems to indicate that it was probably only designed to catch accented Latin 1 letters.

This also appears to be an undocumented special case for Java and C#?

Should we rename it accented-latin1.java.t?

[2016-05-16 16:07] masatake commented on #940
Please, rename it. Add the commets you wrote here to its commit log or extra README in the `*.d` dir.

[2016-05-18 03:31] dkearns opened #943 "Test cases under review-needed.r (language: Perl)"
I'll take these.

[2016-05-18 13:55] masatake commented on #943
Thank you.

[2016-05-19 16:01] masatake commented on #940
Thank you, again.

[2016-05-19 16:01] #940 closed

[2016-05-19 16:02] #852 closed

[2016-05-20 19:32] masatake commented on #822
I get some results. readtags can answer interesting queries about Makefile.am.

[code]

[2016-05-21 04:01] masatake opened #945 "-I option handling in C parser"
input.c:
[code]

New C parser output:

[code]

Old C parser output:

[code]

OldC parser tags edsa_packet_type as a variable. This is my expected behaviour.

[2016-05-23 09:17] LucHermitte opened #948 "Extract more information from C++ files"
It'd be nice to know when a function is defined inlined (either within a class definition, or anywhere along with the inline keyword).

It's also be nice to extract the new C++11 information and know when a C++ function has been defaulted or deleted (respectively with `=default` and `= delete`).

`final` functions and classes, and `override` n functions may be interesting as well.

Thanks.

[2016-05-24 10:01] lvc opened #950 "Failed to recognize a function"
Hello,

The latest version (9320ecff8751bfbed8daed9fc96124fea96d21a4) of the universal ctags failed to recognize SetImageChannelDepth symbol in the ImageMagick library header file (include/ImageMagick-6/magick/attribute.h, v6.9.4-4):

    extern MagickExport MagickBooleanType
      IdentifyImageMonochrome(const Image *,ExceptionInfo *),
      IsGrayImage(const Image *,ExceptionInfo *),
      IsMon

[2016-05-24 12:16] masatake commented on #950
Thank you for reporting.
Strange. Look at #945. At least `MagickExport` must be listed in command line with `-I` option.
The new C parser may have a bug about `-I` option handling. @pragmaware in our team is the author of parser. He is in vacation. So wait for awhile about `-I` option issue.

With `--languages=+OldC --language-force=OldC`, you can run old C parser:
[code]
However, I can get nothin

[2016-05-24 12:33] masatake commented on #950
The test input is simplified.

[code]

[2016-05-24 17:13] #943 closed

[2016-05-24 17:58] masatake commented on #838
https://gist.github.com/masatake/8f3cd71368deb82a08c2b16f09319a7c

I introduced `define-spelunker` macro. I wrote usage in short in the comment of the macro.

[2016-05-25 13:57] lvc commented on #950
I will wait for a fix.

Thank you.

[2016-05-25 16:28] #822 closed

[2016-05-25 16:28] masatake opened #953 "import markdown parser from geany"

[2016-05-25 16:29] masatake opened #954 "libyaml based yaml meta parser"
As I did in xpath meta parser.

[2016-05-25 19:10] dkearns opened #958 "Test cases under review-needed.r (language: SML)"
I'll take this.

[2016-05-25 19:12] dkearns opened #959 "Test cases under review-needed.r (language: JS)"
I'll take this...for my sins.

[2016-05-25 23:11] pragmaware commented on #948
Such informations are already extracted and placed in the "properties" field.
See https://github.com/universal-ctags/ctags/tree/master/Units/parser-cxx.r/properties.cpp.d for an example of usage.

[2016-05-25 23:11] #948 closed

[2016-05-25 23:12] pragmaware commented on #948
Let me know if you find a specific property that is missing, I'll try to add it if feasible.

[2016-05-26 07:58] LucHermitte commented on #948
This is very nice. I've missed this feature. Thank you for the information.
Was it already in exuberant ctags, or an addition of universal ctags?

However, `C02(int)` constructor (lines 18-20) should have been recognized as inline. Whilst the `inline` keyword is not specified, the function definition is still inline. See the C++standard §7.1.2/3 _"A function defined within a class definition is an

[2016-05-26 22:01] lvc commented on #950
The commit fixes the issue with SetImageChannelDepth. But now ctags can't find similar MagickGetImageMean function in the `./include/ImageMagick-7/MagickWand/magick-image.h` header file of the imagemagick-7.0.1-6:

    ctags -x --c-kinds=fpvx -I WandExport ./include/ImageMagick-7/MagickWand/magick-image.h | grep MagickGetImageMean

The declaration of a set of functions is too long in this case:

[2016-05-27 19:16] masatake commented on #950
I simplified the reported input.

ctags captures nothing for input:
[code]

However, removing from one `f(void)` from the above input, ctags captures all `f` s.
[code]

My trials are done with ctags with commits of #961.
[code]

[2016-05-27 19:39] masatake commented on #950
Spotted.

[code]

[2016-05-27 21:15] pragmaware commented on #945
Fixed via #962

[2016-05-27 21:15] #945 closed

[2016-05-27 21:15] pragmaware commented on #931
Fixed via #937

[2016-05-27 21:15] #931 closed

[2016-05-27 21:25] pragmaware commented on #950
Yep, that's the problem. Removed the token limit.
Will merge the pull as soon as the checks pass.

[2016-05-27 22:03] Corax26 commented on #931
Great thanks!

[2016-05-28 06:03] masatake commented on #825
@b4n, I would like to import your m4.c. Can I ask you to make the version of GPL clear?
If you allow, I would like to import it to ctags with "the GNU General Public License version 2 or (at your option) any later version." .

[2016-05-28 16:00] #950 closed

[2016-05-30 06:40] rompy opened #966 "Handle multiple typedefs in one statement"
If we have a typedef with 2 or more identifiers, only the last one is extracted. This code style is used a lot in windows projects.

[code]

[code]

**ABC** typedef and **int32** are missing.

[2016-05-30 13:35] lvc commented on #950
It works!

Thanks a lot!

[2016-05-30 14:26] masatake commented on #930
@pragmaware, can I ask you to look at this one?

[2016-05-30 14:57] masatake commented on #815
The backslash is introduced for recording a name with a tab character.
If --print-name-no-escaping is given and ctags finds a name with a tab character, what ctags should do?
I think just ignoring such names is enough. How do you think?

About pseudo tag, I'm thinking adding `!_TAG_FILE_ESCAPED`.
I will start implementing. However, comments are really welcome.

[2016-05-31 01:35] pragmaware commented on #930
Done :)
Waiting for checks to complete for merging.

[2016-05-31 12:55] b4n commented on #825
@masatake sure, it's now done.

There likely is a typo at https://github.com/b4n/geany/blob/wip/master/tagmanager/ctags/m4.c#L308, I guess I meant ```(c == '"' || c == '\'' || c == '`')```, but I'm not totally sure right now so I didn't change it yet.  Pretty sure though esp. as this happened in a larger change.

[2016-05-31 14:08] masatake commented on #825
Thanks. I'm working on parsers for understanding build system and scripts.
Autoconf/m4 parsers are the last pieces.

[2016-05-31 14:32] markwu commented on #815
If you ignored the tab characters, what will be happened when I have a php namespace like:

[code]
Will this namespace ignored?

[2016-05-31 14:37] masatake commented on #815
No, there is no impact on php.

As far as I can image, only html, rst and tex get the impact.
I'm importing markdown parser from geany. It gets the impact, too.

[2016-05-31 14:38] masatake commented on #815
I'm re-reading FORMAT document which defines the tag file format to understand this issue more.

[2016-05-31 22:35] tony opened #969 "can you make future commits permissively / portable license?"
Can future / ongoing contributions to this project under MIT/BSD/Apache2?

Unfortunately GPL isn't backwards compatible to other licenses in the open source world. A permissive license would make future contributions still compatible with GPL, but down the road if there was a license change, the transition would be a lot smoother.

The project would still be considered to be GPL unless contributor

[2016-06-01 17:06] b4n commented on #969
The question is whether developers want this project to allow non-free use of it (the main difference between GPL and more permissive licenses like BSD or Apache).  Using CTags in a BSD/Apache2/MIT license software makes that software GPL as a whole, yet not its whole source code; so it effectively doesn't really change much for them: only the CTags part of it would be concerned.

Apart from wheth

[2016-06-01 17:26] masatake commented on #969
@b4n, thank you. Today this issue hogs my physical CPU clocks.

I would like to know this.

[2016-06-01 18:42] tony commented on #969
Freedom is great, but people use it in different ways. Soviets use the word free in their anthem, so did USA, they had interpretations. FSF uses freedom as a buzz word. In practical terms amounts to heavy restriction, lack of portability with other licenses. etc.

I'm running FreeBSD right now and have total and absolute freedom. Ironically, despite using software under a license that offers me no

[2016-06-01 22:25] pragmaware commented on #966
Closed via #970

[2016-06-01 22:25] #966 closed

[2016-06-02 14:10] masatake opened #971 "the difference between exuberant-ctags (OldC) parser and new C parser of u-ctags"
I'm testing new C parser by given the source code of linux kernel as input.
My script detects there is gap between the outputs.

[code]

[2016-06-02 15:16] pragmaware commented on #971
Right. "const" confuses it. Will fix it tonight.

[2016-06-02 15:30] #823 closed

[2016-06-03 08:31] masatake commented on #825
The m4 parser is very interesting. It changes the language/parser dynamically to autoconf parser when the m4 parser finds pattern like AC_. I have to think more to find good way to adapt the parser to universal-ctags.

[2016-06-03 12:08] masatake commented on #875
Nested sub stream is worked on my local PC.

foo.y:
[code]

ctags invokes yacc parser. The yacc parser makes sub input stream and apply C parser on it.

[code]

[2016-06-03 12:20] masatake commented on #875
Another output:

[code]

Yacc and C are mixed.

[2016-06-03 12:22] masatake commented on #875
The sub stream can be applied to parsing HTML+CSS+Java, C+inline assmbler,  here document of shell, etc.

[2016-06-03 12:52] masatake commented on #64
See #875. Running a specified parser in an area of input can be scheduled. For the feature I will introduce new API set called "promise".

A parser make a promise during paring. For making a promise, the parser specifies the start of the area, the end of the area, and the name of parser which parses the area.

After the current parser finishes parsing the input, ctags checks the backlog of promise

[2016-06-03 14:34] masatake commented on #875
The line number adjustment is done.

[2016-06-03 15:32] pragmaware commented on #971
Fixed via #974

[2016-06-03 15:32] #971 closed

[2016-06-05 01:10] pragmaware commented on #907
I've been thinking a bit about this.

It's probably better to hack-in Objective-C support right into the new parser than doing a two pass analysis. Local variables, for instance, may appear both in C and Objective-C scopes. With two passes scoping will be just wrong.

I have done a couple of tests and it's rather feasible. However the C parser needs some refactoring before work on Objective-C can

[2016-06-06 11:35] tarzanek opened #980 "memory leak?"
Hi guys,
we use ctags as "daemon" and give it files to parse and consume its stdout, but
it grows to immense sizes on sources I'd never expect that:
 29478 tarzanek 8789180K 3785920K cpu1     22    0   1:04:12 13.53% ctags/1
8G of mem!
(3G RSS)

We basically pass on whole android sources to ctags run like this:
tarzanek@XXX:/YYY/ZZZ pargs 29478
29478:  /bin/exctags --c-kinds=+l --langmap=clojure:+

[2016-06-06 11:41] tarzanek commented on #980
It seems to reproduce one really just needs that .cc file and runs:
./ctags --C++-kinds=+l  ../android/google/external/chromium_org/v8/test/cctest/gay-precision.cc

and the other file also triggers huge usage android/google/external/chromium_org/v8/test/cctest/gay-shortest.cc  (6MB in size)

[2016-06-06 11:43] tarzanek commented on #980
note that ctags 5.9 just work ;)

[2016-06-06 11:45] masatake commented on #980
Could you try the version which you can get with git checkout `571821dcc7c81fe2d4c1181dcda81785156d2aaa^` ?
The last `^` is important.

[2016-06-06 12:31] tarzanek commented on #654
OpenGrok also uses some patterns to detect scala
https://github.com/OpenGrok/OpenGrok/blob/master/src/org/opensolaris/opengrok/analysis/Ctags.java#L120

(and go and clojure and haskell)

[2016-06-06 14:00] masatake commented on #654
Can we use it in GPL v2 or later?

[2016-06-07 04:30] tarzanek commented on #654
Opengrok is cddl so ... i don't know, but I'd hope so ...

[2016-06-07 12:30] tarzanek commented on #980
yep, being on 571821dcc7c81fe2d4c1181dcda81785156d2aaa^
is almost instant reply with tags file, no leak at all ...

[2016-06-07 12:30] tarzanek commented on #980
@pragmaware @masatake does it mean the limit has to be set?

[2016-06-07 12:32] masatake commented on #980
Yes.
@pragmaware, could you set the limit again (with larger value as you want:-).

[2016-06-07 12:33] tarzanek commented on #980
alt. we should provide some way for ctag to see that with such a big file the tokens won't fit available memory?
With above files I can easily eat 8GB ... which for a a file which is 6MB in size is definitely a bug imho ...

[2016-06-07 12:47] masatake commented on #980
At glance we can shrink CXXToken struct.
1. With bit fields, uInternalScopeAccess and bFollowedBySpace can be merged into one byte,
2. pszWord can be shrunk in some case.

[2016-06-08 21:09] pragmaware commented on #980
Hm.. on that file the token chain grows to hundreths of thousands of elements. Beside using a lot of memory it also slows down noticeably as the chain is repeatedly scanned as it grows.

I have optimized the re-scan so now it's pretty fast on that file. I have also reintroduced a large limit on the size of the token chain (16384). Hopefully only very large tables will trigger it...
We can still in

[2016-06-09 15:02] tarzanek commented on #980
thank you sir, as soon as it's merged I can retest on my build farm

[2016-06-09 15:05] tarzanek commented on #980
(I should have probably said dziękujemy bardzo piękne  :) )

[2016-06-09 16:37] masatake commented on #980
Wow. I thought he was at the same time zone.

[2016-06-09 16:38] #980 closed

[2016-06-09 16:43] pragmaware commented on #980
Prosze bardzo :)
(but I guess I should say more like "Není zač")

[2016-06-10 15:05] moshev opened #984 "Class declaration not listed when in .cpp file (C++)"
Test setup:

    void bar();

    struct A {
        int m;
    	void foo();
    };

    void A::foo() {
    }

    void bar() {
    }

Put these in `test.cpp` and `test.h`, then run `ctags -f - --excmd=number --fields=afilknsSt --extra= --sort=no --append=no --language-force=c++ --c++-kinds=cdefglmnpstuvxz test.cpp` and similar for `test.h`.

When run on test.h, output is

    bar /home/moshev/Pr

[2016-06-10 15:16] masatake commented on #984
Add  `--extra+F`.

[code]

Items in a header file may be referred from the other `*.h` and `*.cpp` files.
So we can say they have wider scope than file.
In other hand prototypes and types in `*.cpp` may NOT be referred from the other files.
So we can say they have file scope.

We don't assume including *.cpp files from *.cpp file.

[2016-06-10 15:16] siegel commented on #907
I think the approach you describe sounds reasonable.

As to enums, I'm not clear on what the issues are there. I know there's an "NS_ENUM" macro and a related "CF_ENUM" macro, which both do the same thing, and which both subtly alter the structure and discovery of enum detection. If that's what you meant by "Objective-C enums", then yeah, I agree there might be some additional work needed there.

[2016-06-10 15:42] moshev commented on #984
Thanks!

[2016-06-10 15:42] #984 closed

[2016-06-15 13:15] tarzanek opened #988 "clojure parser needs improvement"
Hi guys
I used your internal parser for clojure and it generates far less stuff than
https://gist.github.com/kul/8704283
can you merge that gist ?

[2016-06-16 07:08] masatake commented on #988
We cannot merge anything without getting permission from the author.
See https://github.com/universal-ctags/ctags/blob/master/docs/contributions.rst#id2

Basically we need an ambassador who contacts the original author to make a pull request for us.
e.g. https://gist.github.com/trlinkin/6924042

I tried many places. However, none responded to me.

About clojure, one of  sexp based languages, I thi

[2016-06-17 01:00] #924 closed

[2016-06-17 13:46] masatake commented on #930
I found another case in real code:

[code]

`class` is not recorded as a member.

[2016-06-17 13:48] masatake commented on #930
I made a crazy input. gcc accepts this.

[code]

How about adding `usedAsNameinC field in CXXKeywordDescriptor like:
[code]

[2016-06-17 13:54] #875 closed

[2016-06-20 07:56] idning opened #992 "cxx can't recognize namespace alias"
namespace a = b;

will cause the whole file unable to get parsed.
[code]

[2016-06-20 08:00] idning commented on #992
and the version `8213b2c` works well.

[2016-06-20 09:20] masatake commented on #992
Reproduced.

[2016-06-22 18:49] masatake opened #996 "parser for dtd"
I need it in my daily work.

[2016-06-22 19:49] blueyed opened #997 "Python parser stops after finding `Class(` in a string"
Given the following test.py

[code]

`ctags -f- test.py` results in only this:
[code]

That's apparently of the string `Foo(` used in a class method, where `Foo` is the class itself.

I've tried to bisect it, bad it's in there since at least ~1 year ago already (cf9350b).

[2016-06-22 20:08] b4n commented on #997
Hum, this isn't present in Geany, but apparently the parser has changed a lot (recently?) so it doesn't really help so much.

[2016-06-22 20:12] b4n commented on #997
61ac9e7872a135a6d4485aaf1871f509f6f9736f works (but is almost one year old indeed).

[2016-06-22 20:19] b4n commented on #997
bissection gives me 93f3c66536966e47de62dfe17ffb82373a17b2b9 as the first bad commit (5570b0ae1a26d420815c20f5ea97ce5924d3b2c6 being the last good, obviously)

[2016-06-23 00:57] masatake commented on #997
I'll work on this in the highest priority. Thank you for reporting.

[2016-06-23 01:06] b4n commented on #997
BTW, I believe it's because currently the Python parser doesn't actually understand short string literals, because it used not to do anything too fancy and nothing that was parsed could be a string literal.  But now it tries and deal with continuations, it needs parsing strings more correctly not to break.

[2016-06-23 02:18] masatake commented on #997
@b4n Now I understand what you wrote.

[2016-06-23 10:50] masatake commented on #997
We should not touch the current parser anymore.
I will introduce glib and write a newPython parser based on it.

[2016-06-23 12:52] b4n commented on #997
I started that some (long) time ago, I should be able to dig it up if it can be useful.

Why introducing a GLib dependency would help here?

[2016-06-23 13:02] masatake commented on #997
Yes! It must be useful.

It is not only for this task. I have wanted to use glib in ctags for long time.
I thought this is good time to introduce glib if I write a new parser for a language having enough complicated syntax from scratch. However, now I know I can start from your token based parser. Thank you.

[2016-06-23 13:14] blueyed commented on #997
So you would not say to fix this bug for now? (without a rewrite)

[2016-06-23 13:18] masatake commented on #997
@blueyed, no, I don't fix for now. However, I really need python parser in my daily job. So this is still highest prioritized issue. I would like to fix all bugs associated with *.b test cases in this rewritten. The most of all python test cases are reviewed, so we can do rewrite the parser.

[2016-06-23 13:21] vhda commented on #997
Since I'm not familiar with glib, @masatake would you be so kind to explain what benefits we expect to obtain from adding a dependency to it?

[2016-06-23 13:59] masatake commented on #997
@vhda, matured implementation of variety data structures including  double linked list, single linked list, hash table, automatically growing array. I think all of you love vString. But we have only vString. stringList is useful but we can store only vString to it.  In many places in ctags, you will find automatically growing array implementations.  We had not write them if we have glib.

I recomm

[2016-06-23 14:25] codebrainz commented on #997
The problem with GLib is it's quite bloated since it also includes all of GObject, GIO and several other modules that go beyond basic data structures. Why not just write a trivial dynamic array and use it everywhere in Ctags, even for vString? The GSList and GList data structures aren't very useful either, only GQueue provides a decent list interface (has head/tail pointers and length, so getting

[2016-06-23 18:16] blueyed commented on #997
@masatake
I see.  Although I would even try to fix this myself, if I had a few spare hours - but I can see that it's not worth it really when you plan to rewrite it anyway.
Thanks!

[2016-06-24 17:29] JohnLunzer opened #999 "two errors in plist parser during build"
[code]
I fixed the braces locally and the build was successful. Seems like maybe the braces accidentally got removed...

[2016-06-24 18:34] masatake commented on #999
I don't understand the rrors. (Not reproduced my PC.) Could you make a pull request?

[2016-06-25 12:08] lvc opened #1001 "A problem with __attribute__"
Hello,

The universal ctags (using f6dafc0609db8a478c9791eb39a65494ec0ac921) failed to detect a function that use \_\_attribute__ statement for a parameter.

In the header libcryptsetup.h from cryptsetup-1.4.2.tar.xz package:

    int crypt_repair(struct crypt_device *cd,
		 const char *requested_type,
		 void *params __attribute__((unused)));

This command returns empty output:

    ctags -x --c-

[2016-06-25 12:24] lvc opened #1002 "Broken detection of functions and prototypes"
Hello,

The latest ctags (56612cfbcd1baaa4e8f04ded6aac57cac01fd136) can't detect any functions.

Using this command to list functions and prototypes:

    ctags -x --c-kinds=fpvx libcryptsetup.h

The tool lists macroses, enumerators, enums, structs and typedefs instead of functions and prototypes.

Seems that something was broken (or changed incompatibly) between 56612cfbcd1baaa4e8f04ded6aac57cac0

[2016-06-26 03:15] masatake commented on #1002
Thank you for reporting this.

Could you try following command line?

[code]
or

[code]

Could you read "Kinds separation" section in docs/parser-cxx.rst.
(http://docs.ctags.io/en/latest/parser-cxx.html)

@pragmaware, this is the first report of incompatibility. I feel we need the way to share the kinds between C and C++. If you agree with me, I will try to implement the sharing mechanism. (after

[2016-06-26 03:18] masatake commented on #1001
I want `__attribute__` support, too. These are used widely in linux kernel.

[2016-06-26 03:20] masatake opened #1004 "Selector and langmap confliction"
[code]

Though `--map-C++=-.h` is specified, ctags chooses C++ parser for the .h file.
I'm not sure the idea beavior but at least, C++ parser should not chosen.

[2016-06-26 22:57] pragmaware commented on #992
Should be fixed via #1000 .

[2016-06-26 22:57] #992 closed

[2016-06-27 01:07] pragmaware commented on #1002
Yes, this is a problem. *.h files are always parsed as C++ and I think we can't do in any other way.
We either (1) go back to a single kind set for C and C++ or (2) implement some method for partial kind sharing between languages. (2) is probably nicer, especially if we want to add objective-C support to the cxx parser some time in the future.

[2016-06-27 01:09] pragmaware commented on #1001
With the pull request above I get:
[code]

[2016-06-27 01:12] masatake commented on #1002
O.k. I will inspect (2) more.
@lvc, we need more time to accept the original command line that you reported.
I think this is important because `make tags` of linux kernel expects this.

[2016-06-27 14:40] lvc commented on #1002
Hello,

Both

    ctags -x --c++-kinds=fpvx libcryptsetup.h

and

    ctags -x --langmap=C:.h --c-kinds=fpvx libcryptsetup.h

commands work fine (using 56612cfbcd1baaa4e8f04ded6aac57cac01fd136) and return the same output as `ctags -x --c-kinds=fpvx libcryptsetup.h` (using old e5b7a2508db6e1374ea78a300cc9b45f4b26b02a).

Also works:

    ctags --language-force=c -x --c-kinds=fpvx libcryptsetup.h

Do

[2016-06-27 14:52] b4n commented on #997
@blueyed #1003 fixes this:

[code]

[2016-06-27 14:59] lvc commented on #1002
I've also checked ctags 56612cfbcd1baaa4e8f04ded6aac57cac01fd136 on a standalone variable declaration from cmdline.h of MySQL++ 3.2.2 library:

    extern MYSQLPP_EXPORT const char* db_name;

The

    ctags --language-force=c++ -x --c-kinds=fpvx cmdline.h | grep db_name

command doesn't detect the variable. However the old version (e5b7a2508db6e1374ea78a300cc9b45f4b26b02a) does.

Should I for now

[2016-06-27 16:06] masatake commented on #1002
This is a different issue. What you should add to `-I MYSQLPP_EXPORT`.

[2016-06-27 16:30] b4n commented on #1002
Ideally I guess the C/C++ parser would be so clever it'd try to make sense of such statements trying to skip some tokens (generally ones in full caps or starting with `__`) when a statement doesn't seem to make too much sense, as it's common for many libraries to declare custom `EXPORT` or similar macros.
However, that might be too much effort on the parse side for not always much gain, and a less

[2016-06-29 15:09] lvc opened #1012 "C: A function is detected as variable"
Hello,

The ctags e5b7a2508db6e1374ea78a300cc9b45f4b26b02a detects a function as variable in the header epan/except.h of the Wireshark library:

    WS_DLL_PUBLIC void (*except_unhandled_catcher(void (*)(except_t *)))(except_t *);

The command

    ctags -x --c-kinds=fpvx --language-force=c epan/except.h | grep except_unhandled_catcher

returns:

    except_t variable 100 epan/except.h WS_DLL_PUBL

[2016-06-29 15:18] b4n commented on #1012
I can confirm this, and that the old C parser got that one right.  Ignoring/removing `WS_DLL_PUBLIC` doesn't change anything in either case.

[code]

[2016-06-30 04:25] pragmaware commented on #1012
jeez... this syntax is hard :D
I'll try to make sense of it.

[2016-06-30 16:32] masatake commented on #1002
Finally I found a good and interesting way to implement "shared kind".

[2016-07-01 15:19] caneta opened #1014 "JavaScript: functions not recognized if wrapped"
Hi everybody.
If I have some JavaScript literal functions with one wrap level inside a global function, universal-ctags works perfectly.
With test1.js file:
[code]
`ctags test1.js` produces
[code]
But if I add another wrap level, having these definitions passed like a method parameter (test2.js):
[code]
universal-ctags doesn't work anymore (`ctags test2.js`):
[code]
Is there some special configura

[2016-07-01 19:05] masatake commented on #838
Did you check xref.el bundled to emacs-25.1?
tags file driver must be written.

[2016-07-01 19:21] bmag commented on #838
@masatake I've looked at `xref` about a year ago, but I should check it again (when I have time)

[2016-07-02 18:04] t-b opened #1015 "Make long line breaking configurable"
Since 7b47ff23 (main: omit patterns for long input lines, 2015-10-15) long tag lines are cut off.
I'm using ctags as something parser-like for C-style function declarations and generate code from the tag lines. The above mentioned change broke that as now the function signatures in the tag file are not complete anymore.

Something like `--pattern-length-limit=0` to turn that feature off would be n

[2016-07-02 18:26] masatake commented on #1002
I add new concenpt master/slave to kinds.
Now all C kinds are master in C parser and slave in C++ parser.
After some code cleanup, I will submit a PR.

[code]

[2016-07-02 18:29] masatake commented on #1015
How about this one?
[code]

[2016-07-03 22:43] t-b commented on #1015
@masatake But the option `--pattern-length-limit` is not read, or?
I've created PR #1018 which tries to add that option.

[2016-07-04 00:14] masatake commented on #1015
Oh!, sorry. I forgot that I just made a stub. I will take a look at the pull request. Thank you.

[2016-07-04 02:38] masatake commented on #999
Maybe this issue is very related to your environment. We run building-test in multiple CI environemnt.
As faras I can remember we have never introduced changes which didn't pass the test.

Feel free to reopen this issue.

[2016-07-04 02:38] #999 closed

[2016-07-04 03:56] masatake commented on #674
Sorry to be late about this.

I would like to split this into two stages: just writing and cleaning up.
Milestone 0.8 is for writing. I will work on this.
Milestone 0.9 is for cleaning up.

[2016-07-04 04:10] masatake commented on #656
I will work on Fedora copr(https://fedorahosted.org/copr/).

[2016-07-04 04:13] #308 closed

[2016-07-04 04:16] masatake opened #1020 "Update fnmatch and regex libraries"
Not only updating but also making the way to update clear.

[2016-07-04 13:08] caneta opened #1022 "FreeMarker support"
I see from `ctags --list-languages` that [FreeMarker](http://freemarker.org/) is missing.
Is there any plan to support it in the future?

[2016-07-04 13:18] masatake commented on #1022
I'm sorry but this is the first time hearing about it.
Will you try to implement it?

If yes, I can help you as a person who knows well about ctags internal.

[2016-07-04 13:18] masatake commented on #1022
This is like jinja2 of python?

[2016-07-04 13:27] caneta commented on #1022
I don't know jinja2, but taking a look at its home page it seems a sort of: you define variables, make loops and you have access to some Java methods.

I use FreeMarker as template engine for my [Liferay](https://github.com/liferay/liferay-portal) projects  and since i use [Neovim](https://neovim.io/) as my editor I wondered if it were possible having autocompletion with it.

On implementing it: I

[2016-07-04 13:31] masatake commented on #1022
How can ctags know a file is FreeMarker template?
Can ctags expect a suffix or something?

If there is no way to know it from file name, this is one of the hardest issue I'm working on.
I'm thinking about capturing template variables in a template file. Jinja2 template is one of such file.
However, my main target is Someting.in  autoconf template file. FreeMaker may be one of them.

I wrote basic

[2016-07-04 13:34] caneta commented on #1022
Ctags can recognize FreeMarker files by their extensions: every FreeMarker file have the extension `.ftl`, for example `myTemplateFile.ftl`.

[2016-07-04 13:37] masatake commented on #1022
Good news.

I would like to see a small example of `.ftl` file and expected tags file.
I will try to implement a protoype.

[2016-07-04 13:38] caneta commented on #1022
Reported in the updated comment above. I don't know if its sufficient to make a test case...

[2016-07-04 13:41] masatake commented on #1022
Do you want to capture components_folder and sitePubPath ?

[2016-07-04 13:42] caneta commented on #1022
Exactly.

[2016-07-04 13:48] masatake commented on #1022
[code]

This is the prototype. Look at the contents of freemarker.ctags.
You can start from here.

[2016-07-04 13:50] masatake commented on #1022
The most important things in developing a parser is design of kinds.
See http://docs.ctags.io/en/latest/contributions.html#specific-to-add-new-parser-and-or-new-kind-role

[2016-07-04 13:56] caneta commented on #1022
Ok, having time I will take a look at it. Thank you.

[2016-07-04 13:58] masatake commented on #1022
Good luck!

[2016-07-04 22:19] #1001 closed

[2016-07-06 16:31] masatake commented on #1014
Could you try #1014?

[2016-07-06 21:46] caneta commented on #1014
Yay, it works!
I've recompiled ctags using branch [jscript-capture-function-block-in-arglist in your forked repo](https://github.com/masatake/ctags/tree/jscript-capture-function-block-in-arglist), and this is what I get now:
[code]
Awesome! Now I can use [tagbar](https://github.com/majutsushi/tagbar) to see the file outline:
![nvimctagsjavascript](https://cloud.githubusercontent.com/assets/4066659

[2016-07-07 17:28] t-b commented on #1015
Fixed per #1018 .

[2016-07-07 17:28] #1015 closed

[2016-07-08 13:48] masatake opened #1026 "C++: "name" should not be used as name of a parser own field"
@pragmaware , the field name `name` is already used in a common field:

[code]

Can I ask you to change the name?

[2016-07-11 07:13] #1002 closed

[2016-07-11 16:24] masatake commented on #1002
@lvc, could you try the latest code?
If the issue is not fixed, please, reopen this. Thank you.

[2016-07-13 06:04] masatake commented on #1026
(This hits the new json output format.)

[2016-07-13 06:18] masatake commented on #446
I agree with version 6 is better than 1.

[2016-07-13 15:52] vladak commented on #637
On the other hand, on some platforms (Solaris), `/var/tmp` is disk storage which might be unwanted.

[2016-07-13 16:07] vladak opened #1035 "_FILE_OFFSET_BITS redefined warning when compiling on Solaris"
The compilation with gcc-48 on Solaris 11.3 (SRU 11.3.9.4.0)  emits warnings about `_FILE_OFFSET_BITS` define:

[code]

[2016-07-13 17:35] masatake commented on #1035
Could you try #1036?
I don't have solaris, so I wonder whether my chage fixes the issue or not.

[2016-07-13 17:37] masatake commented on #637
Could you tell me more about the meaning of "unwanted"?

[2016-07-13 18:39] vladak commented on #637
Storing on /var/tmp would involve disk activity and would make the files persistent if ctags process goes away for some reason (/tmp on Solaris is wiped out across reboots by its nature).

[2016-07-13 18:57] vladak commented on #1035
Seems to do the trick, no warnings emitted.

[2016-07-14 04:33] codebrainz commented on #637
@masatake could you give some details about causing kernel to OOM kill ctags. I'm generally interested because I thought it would be extremely rare for a process to fill up RAM and swap space and get killed.

[2016-07-14 06:19] masatake commented on #637
@codebrainz, consider a javascript as input which is highly optimized by a tool. The tool rearrange the original javascript more than 10MB into one line. ctags records a pattern for each tag entry.
Such a file can be found in google-chrome as far as I know.

ctags makes incredibly large tags file for the input. Doing sort in an external command, ctags makes a temorary file. If it goes to /tmp on a

[2016-07-14 06:19] #637 closed

[2016-07-14 09:03] vladak opened #1038 "Release plans ?"
Are there any plans to do a (stable) release ?

[2016-07-15 01:40] masatake commented on #1038
Could you see "Milestones" menu?
It is just my plan.

[2016-07-15 01:53] masatake commented on #930
@pragmaware, I woud like to try this.

[2016-07-15 02:31] codebrainz commented on #637
@masatake thanks for the details.

[2016-07-15 07:50] vladak commented on #1038
Yes, I see couple of versions there. Any concrete timelines ?

[2016-07-15 09:47] raphinesse commented on #969
Real world use case incoming.

I am using atom as my primary editor. Its symbols-view package uses [node-ctags](https://github.com/atom/node-ctags) to read tag files, which in turn uses a slightly modified version of the `readtags.{c,h}` files from dhiebert's exuberant-ctags.

Unfortunately, as the contributors of this repository should know, this implementation is broken. I just spent about a day

[2016-07-15 09:52] raphinesse opened #1040 "Factor out readtags as a standalone lib?"
It would be great to have a standalone library to read tag files. As far as I understood, #63 is for generating tags, only.

[2016-07-15 09:53] masatake commented on #969
See the header of readtags.[ch].

[code]

It is nothing to do with GPL.

[2016-07-15 10:07] masatake commented on #1040
My understanding is that you want libreadtags.so.

Sorry, but basically I don't want to maintain any library. I don't have enough skill and time for it.
However, as far as I know readtags.[ch] is stable enough. I recommend you to copy the files to anywhere you want.

About a tool you don't maintain, you can ask the maintainer of the tool to use readtags.[ch] of universal-ctags as I did in
https://

[2016-07-15 10:17] raphinesse commented on #969
@masatake Well, the original code was released into the public domain. However, with the whole project marked as "licensed under GPL" by [COPYING](https://github.com/universal-ctags/ctags/blob/master/COPYING), it is by no means clear that the contributions to this file that were done in the context of this project are also in the public domain.

But if you say that the intention is that all contri

[2016-07-15 10:19] masatake commented on #1038
I would like to release a stable version than can be included in GNU/Linux distro with 2016. However, I cannot promise it as usual.

[2016-07-15 10:38] masatake commented on #969
How about adding following sentence to COPYING file?

[code]

[2016-07-15 13:12] t-b commented on #969
@masatake That sounds good.

[2016-07-15 15:58] raphinesse commented on #1040
Not necessarily. That would be nice, but as you mention yourself, would also be an additional maintenance burden.

I was more thinking in the direction of pulling out the readtags code into its own repo. I seems just natural for a couple of reasons. It is differently licensed, is often depended on by other software and independent from the rest of the code AFAICT. Depending code would then be free

[2016-07-15 15:58] raphinesse commented on #969
@masatake That would surely make the intention clear.

IMHO, though a better option would be to separate the readtags component into its own repository (see #1040 for a comprehensive argumentation). What do you think about that?

[2016-07-15 17:05] masatake commented on #1040
Oh, I see... basically I agree with you. but I want more time about this. I added some experimental features to readtags command. I wonder which repository I should use for the rest source code.
I also think about build system and test facility.
Do you have time for working on separating readtags.[ch] from ctags as a member of universal-ctags organization?

For introducing new repository for readt

[2016-07-15 23:49] tony commented on #969
ISC/MIT should be ok in lieu of public domain.

This issue seems to be slimmed down in scope for readtags..

What about making ``parsers/`` permissively licensed?

I'm still a big fan of making future commits permissively licensed (so GPL commits stop piling up) and seeing if this project can be licensed ISC/MIT/BSD.

In my position, I don't want to use ctags as a program. There are pieces of code

[2016-07-16 00:35] b4n commented on #969
I don't say anything of the sort.  BSD, MIT, Apache2 and the like are free software license just fine.  I even do use some of those for some things.  And I totally agree that they technically allow more things -- basically not enforcing the same license in derivative work.

That's hardly relevant to any licensing issue here.  I imagine nobody will be talking about closing this project's sources, s

[2016-07-16 00:49] b4n commented on #969
Without proposing a license, yes, a proper license should probably be used, because it seems (?) that public domain isn't a thing everywhere in the world, so that's ambiguous at best, and proprietary at worse.

I don't see it making any sense to propose something that would mess up the licensing even more.  What would be the point of licensing parsers differently?
IMO, either way this goes should

[2016-07-16 01:21] b4n commented on #969
_Note: the sentences below use "you" a lot, but it's not really targeted at any person specifically (and least of all personally), the quotes just made a good basis for that answer._

-----

@raphinesse

I know your issue itself has been cleared out, but your point itself is not valid.  @universal-ctags did *not* (really) change the effective license of CTags at all (yes, it went from an inconsist

[2016-07-16 02:01] masatake commented on #969
As far as I am the maintainer, about licensing @universal-ctags will change nothing. We just continue what people did at exuberant-ctags respository.

[2016-07-16 11:54] raphinesse commented on #1040
I will see what I can do and how much time I can take for this. My first step would be to take a closer look at the history of the readtags part. I will report back when there is progress.

[2016-07-16 12:37] raphinesse commented on #969
@b4n Yes, my initial point is void. Since my assumption, that the contributions to readtags were released unter the GPL license, was wrong.

And yes, I do think that permissive licenses are preferable to restrictive licenses. They do not restrict anyone in the way they want to use the licensed code. That is what I consider freedom. This is why I have a clear conscience when asking people to change

[2016-07-16 12:41] b4n commented on #1040
I'm not sure a separate repository is a great idea.  It could be if it's a truly standalone tool, but then the question arises: is it?  Or do we want to be able to enhance it to match changes to ctags?  If they are closely tied together however I'm afraid it will only make it harder to maintain it.

For licensing clarity we should probably improve the situation by stating that specific files' lice

[2016-07-16 12:56] raphinesse commented on #1040
Isn't it?

Don't we want to have a specified tag file format that producers as well as consumers then can implement?

[2016-07-16 13:43] tony commented on #969
I've yet to see where GPL has shown a advantage in reciprocal contribution, source availability and so on relative to permissive licenses. Unfortunately, the GPL terms hinder how the project can be used, which in open source, is contradictory to one of the most important goals, which is to be helpful to everyone.

A private (or commercial) project, if it did happen, often has an incentive contribu

[2016-07-16 13:43] #969 closed

[2016-07-16 16:38] masatake commented on #1040
I'm just talking about readtags.[ch]. I think they should not be enhanced any more. Obviously they are in maintenance mode. readtags-cmd.c and other files should be in ctags repository. Enhancement will go to the command side. Sexp based filtering I implemented is in dsl/*.[ch].  dsl/qualifier.c is GPLv2+.

(I will why I want to separate the repository later.)
What I expect the maintainer of readt

[2016-07-17 09:41] mitermayer commented on #1014
@caneta was wondering what is your .ctags file in order to parse javascript files ? Are you just using the default universal-ctags ?

[2016-07-17 14:14] raphinesse commented on #1040
Yes, @masatake I would say that sums it up quite well. I already did some work by extracting the history of readtags from this repo. I don't know how much time I will be able to spend on the conversion, but I will report any progress here.

[2016-07-18 06:08] caneta commented on #1014
For this example I've used universal ctags at the repo and branch reported above. Whta is the .ctags file? It's a configuration file? I don't have one...

[2016-07-18 09:15] #1035 closed

[2016-07-20 13:52] masatake commented on #1014
ctags load ~/.ctags. However, my understanding is that .ctags is nothing to do with this issue.

[2016-07-22 22:24] b4n opened #1044 "Use upstream MIO or import it more fully"
[Upstream MIO](https://github.com/b4n/mio) is somewhat different than what was imported in #870.  The difference was apparently due to @techee trying to make the new library as little intrusive as possible.

However, upstream MIO has some interesting things, most of all: tests.  Especially, it checks that both file and memory implementations behave the same, which is important as it's supposed to

[2016-07-22 22:51] b4n commented on #1044
Of course, another solution is to use the upstream MIO as a normal dependency and leave it external, contributing to it as necessary (and extending locally things that don't make sense to have upstream)

[2016-07-23 09:07] codebrainz commented on #1044
I think @b4n should choose how it's used/maintained, being the original author, maintainer of the first user (Geany), and contributor to the 2nd project to use it.

[2016-07-23 09:13] codebrainz commented on #1044
With this vtable scheme, it would simplify porting it to other frameworks, like `fmemopen()` on POSIX, or the equivalent on Win32, while keeping a single stable and usable interface.

[2016-07-23 20:20] b4n commented on #1044
@codebrainz AFAIK `fmemopen()` can't grow the buffer, and `open_memstream()` doesn't allow for an initial value, so it's a bit trickier to use just as if it was a normal file.  But yeah, `fmemopen()` might be usable for read-only MIO.
But none seem to be a total replacement of the current MIO memory backend.

[2016-07-26 01:48] masatake commented on #1044
@b4n, thank you for offering.

I agree using the upstream code you maintained is better.
However, as you will see, I exntended local mio copy randomly for ctags specific requirement.
I wonder it is acceptable or not.

I also afraid the integration of build script for windows.

BTW, I'm looking for the way to add a function for "file truncation" to MIO. It is related to #994.
For the memory stream

[2016-07-26 12:42] #1014 closed

[2016-07-26 17:50] masatake commented on #825
Finally I found a good way.
I will introduce two new functions: pushLanguage and popLanguage.

[2016-07-28 05:05] masatake commented on #821
Based on @b4n's work I have added code for capturing Autoconf level language objects.

[code]

[2016-07-28 05:09] masatake commented on #821
What really I wanted in this project is language object tracking across input files and languages

[code]

(Ignore a bug in kind handling in Automake parser. I will fix it later.)

[2016-07-29 07:42] masatake opened #1055 "docs: write about the motivation behind introducing JSON output format"
https://github.com/universal-ctags/ctags/commit/fd0718a0dd2b7d794204220710e9d253a9fa20e9

[2016-07-29 11:21] RichCrewe opened #1057 "c++ namespace alias in function"
See example code below, with a C++ namespace alias in function "suspect", anything after "suspect" is not tagged.
[code]

[2016-07-29 13:34] masatake commented on #1057
@RichCrewe, thank you for reporting. Our c++ parser maintainer may be in busy. So it will take time for solving.

With bit simplified input I got following output in the debug mode of C++ parser:

[code]

The associated lines of the parser:
[code]

However,  the input is accepted by gcc:
[code]

[2016-07-29 13:36] masatake commented on #1055
Stabilizing the format should be first.

[2016-07-29 13:36] #1055 closed

[2016-08-01 12:43] #997 closed

[2016-08-02 14:51] fourjay commented on #852
Can you add an option to revert this behavior?
"s:" is a scope local tag, but one of it's common usages is with a "<SID>"  prefix. The scenario:
1) Script is locally defined
2) But is added to a mapping, as in
``noremap <C-J> <SID>do_something()``
This allows the locally created and visible script to be accessible outside the script in a global mapping but not be visible otherwise.
Current behavio

[2016-08-02 17:46] blueyed commented on #852
@fourjay
Thanks for bringing that up.

Could we add maybe `s:` and `<SID>` variant to the tags file then?  I.e. for `s:foo` there would also be an entry (alias) `<SID>foo`?
But then it's probably still a matter of if it gets matched by `<SID>`, right?
Or have it with the `s:` prefix and without?

[2016-08-02 18:05] b4n opened #1060 "New Python parsers always emits reference tags"
Somehow apparently the new Python parser always emits reference tags, even when disabled:

Before (1b078ac8c23e5423bf75d9f966e7b8d3016ca1a3):
[code]

After (90cd3f28c14934f8b031f1af293df442d07914fc)
[code]

[2016-08-02 18:05] b4n commented on #1060
@masatake any idea what could be causing this?

[2016-08-02 18:26] #1060 closed

[2016-08-02 18:27] b4n commented on #1060
Okay, it was a pretty simple overlook.  Fixed.

[2016-08-03 04:15] masatake commented on #1060
@b4n. Sorry to be late. As you did, the bug should be fixed in the parser. However, I will also provide a fix in the main part as safety name as I did in #1053 for kinds.

[2016-08-03 14:17] tarzanek opened #1062 "lregex parser broken?"
Hi guys
It seems one of last commits in
https://github.com/universal-ctags/ctags/commits/master/main/lregex.c
broke the selection of type for matched line
Expected(from ctags 5.9svn ):
[code]

What I get using universal ctags:
[code]

[2016-08-03 14:21] tarzanek commented on #1062
note the Section Vs unit type
and property Vs function and procedure

langmap used: https://github.com/OpenGrok/OpenGrok/blob/master/src/org/opensolaris/opengrok/analysis/Ctags.java#L167
(unescape "\" before using)
and file used for test:
https://github.com/OpenGrok/OpenGrok/blob/master/testdata/sources/pascal/Sample.pas

I run something like:
./universal-ctags/ctags -f"-" --options=./ctags-pascal

[2016-08-03 16:41] masatake commented on #1062
u-ctags doesn't allow using the same letter for different log names.
I introduced this rule.

[code]

Now I know I did wrong. However, I would like to hear why you use `m` for 3 different kinds?

The same comment is applicable to `interface` and `class`.
The same comment is applicable to `section` and `unit`, too.

Let's use different kind letters for different things. This is the basic rule.

The

[2016-08-04 06:29] tarzanek commented on #1062
hmm, nice
so just using proper kind gets this working properly

so for my situation with this pascal analyzer fixing kinds is perhaps the easiest thing to do

Do you have some list of kinds ?
(longer than in https://github.com/universal-ctags/ctags/blob/master/docs/format.rst#proposal ?)
Or one can assign whatever label to a kind?
How can you create more than 26*2 kinds? I thought there are just 2

[2016-08-04 06:38] tarzanek commented on #1062
fwiw - will you be restoring previous behaviour? (or it makes no sense and kind letter label should be strictly not overriden?)

[2016-08-04 09:09] masatake commented on #1062
A parser is the namespace of the kind letters. So you can assign any letter in your pascal parser.
There is one exception: dont ues `F`. It is reserved since Exuberant-ctags.

I recommend you to use a lettern in [A-EG-Z][a-z].  As far as I can remember Universal-ctags doesn't force this rule to parsers. However, I'm afraid that client tools reading tags don't work well with the other letters.

Any

[2016-08-04 09:11] masatake commented on #1062
BUT, if ctags detects a letter overriden, ctags should make a warning.

[2016-08-04 09:15] masatake commented on #815
I think this should be handled in `--output-format` option.
How a name being escaped should be handled in output-format engine.

[2016-08-04 12:54] tarzanek commented on #1062
yes, I agree with the warning, that makes sense
regarding the pascal parser - I merely fixing it so it works with uctags ;)
so I didn't have any intentions with it, original author did (albeit his tests were not that big as my farm and didn't catch this)
so yes, warning is definitely something to move over the legacy of exuberant ctags

[2016-08-04 14:41] b4n opened #1063 "Python: use getInputLineNumber()?"
The new parser uses `getSourceLineNumber()`, but the old used `getInputLineNumber()`, maybe it should be changed? (although I don't think it can have any actual effect on Python)

[2016-08-04 18:54] dkearns commented on #852
Simply reverting this change doesn't seem like the right fix as the original behaviour was inconsistent even if it worked for the given use-case.  However, I think the current approach is also wrong and tend to agree with @masatake 's original suggestion.

The scope prefixes (name spaces) should just be recorded in the appropriate field by default. The tags file can then be generated with --extra=

[2016-08-05 17:58] masatake commented on #1063
Yes, you should use getInputLineNumber.

The difference between "Input" and "Source" is written in
http://docs.ctags.io/en/latest/internal.html#inputfile-type-and-the-functions-of-input-group

"Source" is used when parsing a file generated by a tool like c preprocessor.
It is nothing todo with python.

[2016-08-05 18:25] #1063 closed

[2016-08-08 06:54] masatake commented on #825
I have a question.

In https://github.com/b4n/geany/blob/wip/master/tagmanager/ctags/m4.c#L328
you calls `skipBlanks`. I think this can be removed because  `readMacroArgument` is called
in https://github.com/b4n/geany/blob/wip/master/tagmanager/ctags/m4.c#L330.

At the head of `readMacroArgument`, `readMacroArgument` does the same as what `skipBlanks` does.

@b4n, can I ask you give me comments?

[2016-08-08 07:47] masatake commented on #1062
... you are not the special.

In serefpolicy-3.13.1/Makefile I found:

[code]
`i` is used both in interface and template.

[2016-08-08 07:51] masatake commented on #1062
I guess these misuse ( from u-uctags standpoint) are popular...

[2016-08-08 12:38] b4n commented on #825
@masatake you seem to be right indeed.  Also, as it's the only usage of `skipBlanks()`, it could be removed altogether.

[2016-08-08 12:48] masatake commented on #825
@b4n, thank you.

[2016-08-08 13:41] b4n commented on #825
@masatake fixed in https://github.com/b4n/geany/commit/ce7d77b73f1c71163f3378c5ef7bbd7e3d620735

[2016-08-08 14:02] b4n commented on #825
BTW, it's not really necessary to do that; the goal was to have 2 different parsers to select initial quote style, and try and be smart about `.m4` files.  However, the parsers could very well not change the language, and that quote style switch be an internal thing only.  With the possibility to manually alter the parser to use for a specific extension a caller could deal with it manually just fi

[2016-08-08 15:21] masatake commented on #825
...I had reworked completely to allow dynamically change.

[2016-08-09 10:07] hoschi opened #1068 "no tags for exported variables in JavaScript ES6 code"
Example code:

[code]

Generated tags file:

[code]

I expect to get tags also for:
- namedExport
- functionExport
- defaultExport

[2016-08-09 11:24] masatake commented on #1068
(It seems that u-ctags has not supported ES6 yet. Any volunteers are welcome:)

This is a workaround:

[code]

[2016-08-09 14:11] hoschi commented on #1068
Perhaps it is a good idea to create a list with all not supported cases, so people have a better overview what needs to be fixed for ES6 support. If you can/willing to include other projects as language parsers, you can checkout https://github.com/ramitos/jsctags for JavaScript. I come to this project when researching for an alternative which fixes ramitos/jsctags#45 ;)

[2016-08-09 14:33] masatake commented on #1068
Though jsctags is interesting, I would like to maintain the ctags built-in javascript parser.
That doesn't mean I don't have interest in jsctags.

We have a good way to make the list. Could you look at http://docs.ctags.io/en/latest/units.html ?
`*.b` test cases are for filing bugs. If you are interested in filing bugs, I will show an example based on this (your) bug report.  You can add more test

[2016-08-09 14:58] masatake commented on #1068
I looked at  ramitos/jsctags#45.

Basically ctags(family) captures definitions.

[code]

Here foo and bar are not definitions. The definitions of foo and bar may be in myModule.
In universal-ctags these foo and bar are called references. Though not used widely, universal-ctags has ability to capture reference tags. See http://docs.ctags.io/en/latest/news.html#reference-tags .
Actually built-in pyt

[2016-08-09 15:42] hoschi commented on #1068
I'm interessted to get tags for ES6 code, so I'm interessted in contributing to this project. I try to make a failing test for my bug report and see if I could it get to work without an example, the docs are pretty good :+1:
After this, I would check the current ES6 tests (`const` already works, I saw) and add more tests for things not working yet.

Interesting, not saw this before. However, I wou

[2016-08-09 16:13] b4n commented on #1068
According to MDN (https://developer.mozilla.org/en/docs/web/javascript/reference/statements/export) export is basically unsupported, even if in ES6.
Indeed, neither `gjs` (Mozilla's) nor `nodejs` seem to understand the `export` keyword, which makes writing a *valid* test case harder.  What do you use that does understand this properly?

[2016-08-09 16:28] hoschi commented on #1068
It is in the spec: http://www.ecma-international.org/ecma-262/6.0/#sec-exports
I use babel at my project, because its a web project.

[2016-08-09 20:50] b4n commented on #1068
If we just want to avoid getting confused by exports and not do something special with them, we can use a variant on @masatake's like 2dc78f1b974f438fcaec12d63e9c2adaccc39969

[2016-08-10 08:53] yevhen-m opened #1072 "ctags misses python tags"
I use ctags to generate tag files, but some of the definitions are missing.
I've figured out that triple quotes make ctags ignore all the rest of definitions in a file.

[code]
Now `C` is ignored.

[2016-08-10 08:57] masatake commented on #1072
Do you use the latest source tree?

[code]

[2016-08-10 08:58] yevhen-m commented on #1072
[code]
That's outdated version, right?

[2016-08-10 09:01] dkearns commented on #1072
Yes, the Python parser has recently been overhauled.

[2016-08-10 09:02] masatake commented on #1072
New python parser is merged in Aug 1st.
[code]

[2016-08-10 09:05] yevhen-m commented on #1072
Thanks for help.

[2016-08-10 10:27] #1072 closed

[2016-08-10 19:38] masatake commented on #1068
@b4n, where can I get the branch(?) which includes 48df535?
It seems that you are using git's feature that I don't know.

[2016-08-10 19:43] b4n commented on #1068
https://github.com/b4n/fishman-ctags/commits/jscript/es7
I can make a PR, too.  It doesn't yet include most ES6/7 features that would be good to support (e.g. classes syntax), but it includes that one.

What do you mean?

[2016-08-11 00:27] masatake commented on #1068
Oh, I see. The commit is on your repository.
When I clicked the link `48df535`, a page on `https://github.com/universal-ctags/ctags/` is opend. So
I thought you merged  your commit to our(universal-ctags) repository. However, I could not find your change in `git log` of our repository after `git pull`. So I wondered why and I guessed you used  git's feature that I don't know.

I would like to make

[2016-08-11 00:58] masatake commented on #353
@ffes, I would like to see your ctags.rst.1.in.

[2016-08-12 12:15] ffes commented on #353
The version of November 2015 is here https://dl.dropboxusercontent.com/u/25917447/ctags.1.rst

I need to updated it with the current ctags.1.in. That appears to be only one commit.

[2016-08-14 05:21] masatake commented on #353
@ffes, thank you very much. I would like to take over your work. I will integrate your ctags.1.rst to the source tree.

[2016-08-14 18:26] ffes commented on #353
@masatake That's fine with me. Note that the file is WIP. Some changes from the the current master need to be merged in and I am not sure about the end result of the man page. It probably needs some tweaking as well. It was the first (and so far only) time I have been using rst to create a man page.

[2016-08-15 02:08] masatake commented on #353
@ffes. I see. When merging ctags.1.rst, I would like you to review its "commit log".

[2016-08-15 02:45] masatake commented on #1062
Letters or long names(strings), I wonder which should be used as primary identifiers for kinds.
In historical reason, I chose the letters. However, extensible languages like lisp may need many kinds(lambda (n) (> n (- (* 26 2) 1))). In such case long names will be better.

I would like to think this in u-ctags 7.0.

[2016-08-15 02:45] #1062 closed

[2016-08-15 11:52] tarzanek commented on #1062
thank you @masatake !

[2016-08-16 04:50] #825 closed

[2016-08-16 04:51] #821 closed

[2016-08-19 14:30] Raoouul opened #1080 "ctags crashes on Python dotted tuple destructuring"
Following Python code crashes the ctags I just built from git master source:

a, x.a = y

[code]

I think it might be related to the (relatively new) code in parsers/python.c:

		if (token->type == '.')
		{
			/* FIXME: what to do with dotted names?  We currently ignore them
			 *        as we need to do something not to break the whole
			 *        declaration, but the expected behavior is questi

[2016-08-20 03:47] htfy96 opened #1082 "Incompatible behavior: "typeref" field of C"
## Testcase
### Source`test.c`

[code]
### Universal Ctags result

[code]
#### Version

[code]
### Exuberant Ctags result

[code]
## Expected behavior

According to man page of Universal Ctags and Exuberant Ctags:

It seems that both the two forks don't conform to man page:
-  Exuberant Ctags only prints this field for definition of variable of struct type
-  Universal Ctags even prints it for fun

[2016-08-21 13:54] masatake commented on #1082
Related to https://github.com/universal-ctags/ctags/issues/862 .
Maybe we should decide the meaning of fields and update the man page.

[2016-08-21 14:04] masatake opened #1084 "CI environment for Fedora and Centos"
It seems that docker can be used. I have tried once but I cannot find a good way.

[2016-08-22 06:37] gstavi opened #1085 "Compatibility issue: --extra=f implies --file-scope=no"
In original ctags the command line:
ctags --extra=f -R .
Used to collect all tags including static and filenames.
Now it will not collect statics. This is since universal ctags added new extra flag 'F' for that and once extra is observed all extra flags are cleared to FALSE.
Obviously it can be fixed by adding explicit --file-scope=yes or by modifying the --extra flag parameter but it breaks exist

[2016-08-22 07:04] masatake commented on #1085
Thank you for reporting this.

I should write about this incompatibility both ctags.1 and  `--help` output.

I will force this incompatibility to users. Could you use `--extra=+f` instead of `--extra=f` ?

[2016-08-22 07:41] gstavi commented on #1085
I already fixed my script.
The question is how quickly less experienced users will understand the problem in case their system switch from old ctags to universal-ctags. Compatibility is really important to keep.

I think it would be better if extra options will be reset to their default values rather than to FALSE.
To make file scope usable via 'extra' you may add some new extra flag for '--file-s

[2016-08-22 09:26] masatake commented on #1085
To make file scope usable via 'extra' you may add some new extra flag for '--file-scope=no'. E.g. 'g' for "Global only". That way "ctags --extra=f" will be compatible and whoever want the other behavior could use "ctags --extra=fg".

The semantic is a bit complicated for me. But I wolud like to get more comments from you...

[2016-08-22 09:56] masatake commented on #1085
@gstavi, I have always compatibility issues. How, about adding global `--compatible-mode` option ?

[2016-08-22 10:35] gstavi commented on #1085
--compatible-mode parameter will not help old scripts that does not have it.

Quoting from the original ctags man page:

Previously none of the "--extra" related to the same option as another parameter in the command line.
Now '--extra=F' relates to the same option as --file-scope. And their default values are opposite. The default value of an absent --file-scope is to include statics while the de

[2016-08-22 15:50] Wilfred opened #1086 "Add JSX support"
JSX is a variant of JS that looks like this:

[code]

Documentation is here: https://facebook.github.io/jsx/ and files typically have a .jsx extension.

ctags could probably get away with just treating .jsx files as .js files.

[2016-08-22 16:01] Wilfred commented on #1086
Yep, adding ` --map-javascript=.jsx` seems to pick up function definitions in JSX files.

[2016-08-22 22:58] masatake commented on #1086
Does `http://jsx.github.io/` tell the same language as you are talking about?

[2016-08-23 21:28] dkearns commented on #1086
@masatake, not it's this one: https://facebook.github.io/react/docs/jsx-in-depth.html

[2016-08-24 11:08] kb2623 opened #1090 "Don't reuse the kind letter warning"
When i try to parse a javascript file in **vim** and **tagbar** i get the next output:
[code]
And when i press enter nothing show up.

[2016-08-24 14:39] masatake commented on #1090
Looks strange. What is printed if you given `--verbose` option?

[2016-08-25 14:00] kb2623 commented on #1090
Thanks for the help. I had a **.ctags** file in my home directory that was making the errors.

[2016-08-25 14:00] #1090 closed

[2016-08-26 18:19] junkblocker opened #1092 "crash in vStringCatSWithEscapingAsPattern"
Noticed  a lot of the following crash in the last few days. Circumstance unknown but the backtrace is always the same.

[code]

[2016-08-26 23:42] masatake commented on #1092
Thank you for reporting. Could you try following patch?

[code]

[2016-08-27 00:13] junkblocker commented on #1092
Yes, that seems to solve it. I get a different crash for another reason I guess. Please let me know if you want a separate bug for the following.

[code]

[2016-08-27 01:23] masatake commented on #1092
Can I see the input file?

[2016-08-27 01:24] masatake commented on #1092
Do you run ctags from terminal?
If yes, I would like to know the command line. `--verbose` option may help you to know the name of input file.

[2016-08-27 01:38] junkblocker commented on #1092
Try on [git-blameall](http://1dan.org/git-blameall/0.2/git-blameall)

[code]

[2016-08-27 01:54] masatake commented on #1092
How can I get the contents of  /tmp/git-blameall?

2016/08/27 午前10:38 "Manpreet Singh" <notifications@github.com>:

Try on git-blameall <http://1dan.org/git-blameall/0.2/git-blameall>

ctags '--*-kinds=*' --pseudo-tags='*' /tmp/git-blameall

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/universal-ctags/ctags/issues/1092#issueco

[2016-08-27 01:55] junkblocker commented on #1092
Download this URL -> http://1dan.org/git-blameall/0.2/git-blameall to /tmp/git-blameall  .

[2016-08-27 07:20] masatake commented on #1092
I see. Thank you.

The second issue you reported here will be fixed by #1081. Please, wait for the change being merged by @b4n.

I will make a pull request for the first issue.

BTW, ctags should recognize '#!/usr/bin/env python' when guessing a parser.

[2016-08-27 09:10] #1080 closed

[2016-08-27 09:21] b4n commented on #1092
I don't see the Python parser crash parsing this `git-blameall` file (with `--language-force=Python`), neither before nor after merging #1081.  It might not be related then?

[2016-08-27 15:02] masatake commented on #1092
It seems that following line in git-blameall makes ctags crash:

[code]

[2016-08-27 15:03] #1092 closed

[2016-08-27 15:05] masatake commented on #1092
@junkblocker, I hope issue your reported here may be fixed in HEAD of the master branch.
Could you try again the test case after git pull?
If it is not fixed, could you reopen this?

[2016-08-27 15:12] masatake commented on #1092
Surprisingly, the argument for `env` is already implemented.
What I have to do is "adding -G option" or "doing chmod u+x git-blameall" before running ctags.

[2016-08-27 15:15] junkblocker commented on #1092
Thanks, @masatake ! Both crashes look fixed. I don't get your comment about env.

[2016-08-27 16:01] b4n commented on #1092
x.date, x.author = date_au.split(' ',1)
[code]

[2016-08-29 07:11] amosbird opened #1096 "c++ destructor appears in class definition list."
When doing go to definition over a class name, its destructor is also listed in the jump list. Is it a corner case of c++ parser or do I use it wrong?

[2016-08-29 15:55] masatake commented on #1096
I'm bad in C++ so could you tell me more with an example.

[code]

In my knowledge of C++, `~A` is a destructor. As you wrote,  the destructor is tagged.
Do you mean this is wrong behaviour?

[2016-08-30 01:14] amosbird commented on #1096
I mean like this ![](https://ptpb.pw/f1HP.jpg)

I expect action `GoTo class Coordinator` should be done unambigously, however the destructor also shows up in the result list.

[2016-08-30 02:01] masatake commented on #1096
@amosbird, thank you.

It seems that you are using a frontend(a client tool) which reads tags file generated by ctags.
ctags maintained here is a low level tool. It just tags *names* as much as possible and records them into tags file. Basically ctags should be stupid. Intelligence like hiding destructor in the name list from users should be in  client tools.

So I would like to say the issue you

[2016-08-30 03:01] amosbird commented on #1096
@masatake yes, I was thinking the same. The client tool I'm using is gnu global. I will submit an issue there.

[2016-08-30 05:53] masatake commented on #1096
Feel free to reopen this.

[2016-08-30 05:53] #1096 closed

[2016-08-30 05:54] masatake commented on #1086
I am wondering just adding "jsx" to the extension list is enough or not...

[2016-08-30 06:16] masatake commented on #1057
Could you try the following patch?

[code]

[2016-08-30 06:25] masatake commented on #1026
I will rename the  `name` with `aliasedName`.

[2016-08-30 15:10] Wilfred commented on #1086
It worked when I tested it.

JSX lets you define literals using `<Foo>`, which gets desugared to `React.createElement(Foo, null);`. JSX files still contain normal JS function definitions, so I think the patch in #1087 is sufficient.

[2016-08-31 01:54] masatake commented on #1026
I withdraw this because the namespace of fields are separated between parsers.

[2016-08-31 01:54] #1026 closed

[2016-08-31 09:27] techee opened #1099 "javascript: NULL tag warning"
This corresponds to this Geany issue:

https://github.com/geany/geany/issues/357

and can be reproduced with the input here:

http://pastebin.com/Cbc73X0V

I investigated a bit and it looks to be caused by 'name' token getting copied here

https://github.com/universal-ctags/ctags/blob/master/parsers/jscript.c#L1355

without any check whether it's actually an identifier so it can be a completely di

[2016-08-31 09:45] techee commented on #1099
Eh, forget about it, it's fixed in universal-ctags here:

https://github.com/universal-ctags/ctags/blob/master/parsers/jscript.c#L1412

we just don't have it in Geany.

[2016-08-31 09:45] #1099 closed

[2016-08-31 09:59] masatake commented on #1099
I'm very sorry that I don't report this to geany project.
However, it is hard for me to track both project.

[2016-08-31 11:15] techee commented on #1099
No need to be sorry, it's our task to get the parsers and ctags in sync (we are slowly working on a complete sync).

[2016-08-31 14:21] techee opened #1100 "make units VG=1 not interruptable"
When running

[code]

one cannot stop its execution by pressing Ctrl+C and there doesn't seem to be any way (except for looking at processes which run and killing them) to stop its execution.

[2016-08-31 17:10] blueyed opened #1101 "Python: "member" kind vs. "method""
With the Python parser, `K_METHOD` is used for class methods only (https://github.com/universal-ctags/ctags/blob/55d068620ed8f74c8e706cb7fbaeab78dcd0fc69/parsers/python.c#L243-L245).

It is referred / mapped to as 'member' though (https://github.com/universal-ctags/ctags/blob/55d068620ed8f74c8e706cb7fbaeab78dcd0fc69/parsers/python.c#L127).

Whereas non-function class members are referred to as "va

[2016-08-31 17:19] blueyed commented on #1101
How does universal-ctags' list of kinds compare to Exuberant ctags' list here?

[2016-08-31 17:27] b4n commented on #1101
I'm not totally sure, but it's very possible that all variables were tagged as `variable`, where now there's a distinction between `variable` and `local`.  However, `local` is disabled by default.

Mmmyeah, but it's also used for root variables AFAIK, isn't it?

Wile it sounds better indeed, I didn't do it because it changes the kinds for not much reason (as `member` is the old name).

If we were

[2016-08-31 17:32] blueyed opened #1103 "Python: missing class information with "class" on multiple lines"
The "class" information is missing with class `A` below, because its definition
is across multiple lines:

[code]

[2016-08-31 17:34] b4n commented on #1103
Odd and interesting, I'll take a look.

[2016-08-31 17:48] blueyed commented on #1101
Ok.

Ah, forgot about that.

 * `variable`: global variable
 * `member`: class variable
 * `local`: (function) local variable

Makes sense.  But let's then not change it for now, since it will break the API for no good reason.

[2016-08-31 17:48] #1101 closed

[2016-08-31 18:10] b4n commented on #1103
OK it was a fairly simple mistake in the line continuation support.  Fixed in #1105.

[2016-08-31 22:06] blueyed commented on #1101
FWIW: exuberant-ctags has:
[code]

Where we have:
[code]

The `i` for imports is `referenceOnly` here: https://github.com/universal-ctags/ctags/blob/b373af2299c4690075265bf0b751ba49c3ea26fb/parsers/python.c#L130-L131.

So with universal-ctags a `from os import path` is not reflected in the output, while it is with exuberant-ctags:
[code]

[2016-09-01 16:57] #1057 closed

[2016-09-02 10:33] balta2ar opened #1108 "[python] Detect class attributes"
Consider this code:
[code]

The output:
[code]

I wish there were `public_member_init` and `_private_member_init` in the tags. Is this technically possible in Python? If possible, what might be the effort required to implement it? I wonder if it's a realistic feature request of something way too complicated. Thank you!

[2016-09-02 10:40] b4n commented on #1108
It would at least be awfully tricky.  The problem here is that assigning members to `self` just happens to work because `self` refers to the class instance, but self is just the first argument of `__init__()`, not any kind of keyword (it's customary to use this name, but not required).

So the parser would have to:
* understand this is a non-static *class method* (e.g. not wrapped with dynamic stu

[2016-09-02 10:52] balta2ar commented on #1108
I totally agree that making it fully technically correct in all edge cases is a tricky task. However, at least in the code base that I'm working with and in my code style, it's a good practice to initialize class attributes in __init__ method and it's always encouraged to do so. With this in mind, I think it might be a good idea to follow Pareto principle: with 20% of effort make it work in 80% ca

[2016-09-02 11:16] masatake commented on #1108
With --fields=+e, you can know the both start line and end line of `__init__`.
You can cut down the lines within the range with sed.
Then pick up the pattern `self\.(.*) =` with sed, again.
Lines that can be appended to tags file can be genearted.

You may want to do it semi-automatically inside ctags...
What kind of user interface can we provide?

[code]

Interesting to me. The ctags main part an

[2016-09-05 14:13] masatake commented on #1100
@techee, could you try the change I submitted in #1106 ?

[2016-09-05 15:17] techee commented on #1100
@masatake Seems to work great, thanks!

[2016-09-05 15:20] #1100 closed

[2016-09-05 15:21] masatake commented on #1100
Thank you for testing.

[2016-09-06 15:20] zegervdv opened #1111 "Segmentation fault on large projects"
When trying to run `ctags -R` on large projects it segfaults.

I have run a valgrind check:
[code]

I am using CentOS 6.

[2016-09-06 16:49] techee opened #1112 "JavaScript: destructural binding"
When playing with various languages I ran into this warning for this file:

https://github.com/facebook/react/blob/master/src/renderers/shared/fiber/ReactFiberBeginWork.js

It looks the code doesn't like lines like

[code]

and the warning comes from

https://github.com/universal-ctags/ctags/blob/master/parsers/jscript.c#L1778

because the `name` tag isn't checked whether it's an identifier or som

[2016-09-06 17:08] techee commented on #1111
[code]

How much memory do you have and are you on a 32-bit or a 64-bit machine (the amount of allocated memory seems to be around 32-bit maximum).

I suspect this is because the strings in the token pool grew too large - we shouldn't return tokens with too large strings back to the pool because the size can get out of control.

I'll try to prepare a patch so you can test.

[2016-09-06 17:28] techee commented on #1111
Forgot to ask - is there some particularly large file (e.g. autogenerated) in the project you test it on? Also, is the project opensource and available somewhere so we can test?

I just tried on the boost library and linux kernel sources and memory usage doesn't seem to be too high.

Also are you running ctags for C or C++ only (e.g. --languages=C++)? If not it might be possible there's some leak

[2016-09-06 18:05] zegervdv commented on #1111
Sadly it is not an opensource project, so I cannot provide anything to test on, but I am happy to test any patches.

The machine is 64bit and has plenty of memory (256GB).

I have tried `--languages` with some of the other programming languages in the project separately and there were no errors. Using C++ on it's own made it segfault.

Also, trying it on the largest generated file (24MB) did not r

[2016-09-06 18:47] techee commented on #1111
@zegervdv  Would you try my branch from the pull request here

https://github.com/universal-ctags/ctags/pull/1109

As the last commit I added a check for the string size inside a token that prevents pooling tokens with too big strings - I found that e.g. on boost I ended with 16384 B strings inside tokens and many of similarly big ones might fill memory pretty quickly.

@pragmaware The token strin

[2016-09-06 18:48] techee commented on #1111
I mean tons of these are in the string of a single token.

[2016-09-07 00:24] masatake commented on #1111
@zegervdv, I would like to know the version of ctags you are using.
Could you show the output of following command line?
[code]

Is it possible to run ctags under gdb?
The ctags process running under gdb may be stopped when it gets "SEGV".
I hope we can know the input file and line number causing SEGV with following gdb command:
[code]

Even we cannot know the file content, your comment about the

[2016-09-07 04:07] pragmaware commented on #1111
I wonder what is going on here. It looks that a string got resized to 1Gb and then vStringAutoResize() refused to grow it for the next byte. However in that piece of code (cxx_parser_tokenizer.c:1231) the string should have been empty... there is either some issue with string cleanup or maybe some memory corruption elsewhere? A test file would be very useful...

@techee: The token chains contain i

[2016-09-07 05:43] zegervdv commented on #1111
@techee, I see the same error on your branch.

@masatake, I am using the latest version (as of yesterday):
[code]

When testing with gdb, it gave syntax errors on those print commands. I have tried with the `--enable-debug` flag for configure and then it segfaults in a different function:
[code]

I will try with `--verbose`, it may already point me to a specific file.

[2016-09-07 06:14] masatake commented on #1111
Could you tell me what kinds of syntax errors? I would like to see the output of gdb.

[2016-09-07 06:14] masatake commented on #1111
@pragmaware, welcome back.

[2016-09-07 06:22] zegervdv commented on #1111
[code]

Just trying `print *inputFile` also does not work:
[code]

[2016-09-07 06:35] masatake commented on #1111
I'm very sorry. The command for gdb should be:

[code]
From the output you will know the name of input file like:
[code]

Could you look inside the file gdb reports ?
It is very long file or not?
It is a header file or a implementation file?
The segv is reproduced only with the input file?
Are macros used aggressively in the file?
We need hits.

Let's consider the input file name that triggers "SE

[2016-09-07 06:47] zegervdv commented on #1111
I have been able to find the file and make a minimal test scenario: it crashes on a header file (.h) without an EOL at the end of the file.

[code]

[2016-09-07 06:49] techee commented on #1111
@pragmaware It looks the compiler can get confused and here

https://github.com/universal-ctags/ctags/blob/master/parsers/cxx/cxx_tag.c#L323

it can generate tokens with huge strings. For instance, for

https://github.com/torvalds/linux/blob/master/lib/locking-selftest.c

I get typeref in one tag like

[code]

Other good files to try are these from the boost library:

[code]

[2016-09-07 07:01] masatake commented on #1111
@techee, good job!

Simplified:
[code]

[2016-09-07 07:06] techee commented on #1111
You meant newline rather than EOL ;-)

And yeah, having just 'test' inside the file without newline at the end appears to lead to some infinite loop and eventually crash. It looks the compiler doesn't check whether EOL has been reached somewhere.

The issue I noticed seems to be something different.

[2016-09-07 07:07] techee commented on #1111
Me stupid. I somehow translated EOL to EOF in my brain :-/

[2016-09-07 07:09] techee commented on #1111
And here substitute EOL with EOF.

[2016-09-07 07:22] techee commented on #1111
This

https://github.com/universal-ctags/ctags/blob/master/parsers/cxx/cxx_parser_tokenizer.c#L1046

doesn't seem to check for EOF correctly. When I add an explicit check for EOF, the simple testcase provided @zegervdv completes fine.

[2016-09-07 07:36] techee commented on #1111
The same is at several places below. Basically every line like

[code]

should be changed to

[code]

to make sure g_aCharTable doesn't get indexed by a negative value (EOF is typicaly defined as -1).

[2016-09-07 07:45] techee commented on #1111
I'll prepare a patch.

[2016-09-07 08:57] b4n opened #1115 "Scary warnings with Clang from Travis"
I see warnings like this:

[code]

If really the compiler optimizes the test out because it assumes it can't happen, it'll result in absolutely unexpected -- and wrong -- behavior.
Affected parsers are: c eiffel flex fortran go jscript php python rpmspec sql tex vhdl

Should I prepare a patch that makes sure a plain integer is used to store the keyword, instead of the enumeration type?

[2016-09-07 09:26] #1103 closed

[2016-09-07 11:50] dim-an opened #1117 "Segmentation fault while trying to index file"
ctags crashes with segmenation fault when trying to index [ptw32_threadStart.c](https://gist.github.com/dim-an/0ed34c1470ea8ee36a967ed2ab3fe23c) file

[code]

[2016-09-07 14:38] techee commented on #1111
@masatake The simplified testcase you provided

[code]

could be a valid function definition. `GENERATE_TESTCASE(bad_unlock_order_spin)` could expand e.g. to `static` and everything would be fine. The macro definitions in the linux kernel files though shouldn't be treated as a part of function return type.

[2016-09-07 15:52] masatake commented on #1111
@techee, oh, I see.

[2016-09-07 16:56] techee commented on #1117
This looks similar to #1111 (no newline at the end of the file). Would you try if https://github.com/universal-ctags/ctags/pull/1113 helps (or simply if adding newline at the end of the file helps)?

[2016-09-07 17:26] dim-an commented on #1117
neither worked for me :(

[2016-09-07 17:35] b4n commented on #1117
Valgrind:
[code]

GDB:
[code]

[2016-09-07 17:51] b4n commented on #1117
GDB with optimisations off
[code]

I'd say there something fishy with the tag's `scopeKind` attribute :)

[2016-09-07 20:44] b4n commented on #1117
OK, this triggers it **when parsed as C**:
[code]

It tires and set the scope kind to namespace, but as it's C the namespace kind doesn't exist.

Running built with `-DDEBUG -DCXX_DO_DEBUGGING` I get this:
[code]

[2016-09-07 20:49] b4n commented on #1117
A proper fix not to ever use an invalid kind is needed, whether in debug mode or not.

[2016-09-08 03:19] #1115 closed

[2016-09-08 15:28] masatake commented on #1117
With the following patch, the test case is passed.
[code]

[2016-09-08 16:08] b4n commented on #1117
@masatake It's not a very good fix, because it will fail in debug mode, because `cxxScopeGetKind()` will abort (way earlier, I think).

And even then, I think what I tried on my side is better (e.g. the same but don't generate any scope if it's has invalid kind):
[code]
If falling back to another kind is OK, it should happen at the `cxxScopeGetKind()` level I'd say.  But I also think the parser sh

[2016-09-09 04:34] #1111 closed

[2016-09-09 07:59] techee opened #1120 "cxx: incorrect huge typeref values"
It looks the compiler can get confused and here

https://github.com/universal-ctags/ctags/blob/master/parsers/cxx/cxx_tag.c#L323

it can generate tokens with huge strings. For instance, for

https://github.com/torvalds/linux/blob/master/lib/locking-selftest.c

I get typeref in one tag like

[code]

Other good files to try are these from the boost library:

[code]

Originally reported in #1111

[2016-09-09 14:20] kurkale6ka opened #1121 "Failed file type detection"
`input-objc.m` is supposed to be detected as **ObjectiveC** but it isn't:
[code]
Note: because of this `make` fails for me

[2016-09-09 18:59] maxnordlund opened #1122 "Pass --tag-relative to coffeetags"
Hi, I have a setup for automatically run ctags on changes in my git repos and I use the multiple worktree setup, which means that the files (including the TAGS file) live somewhere else.

For normal tags it works just fine, but for the coffeescript tags it points into oblivion. After a bit of digging, I realized that the --tag-relative flag wasn't propagated to coffeetags (which supports it). It w

[2016-09-10 02:01] masatake commented on #1121
`--languages=-MatLab,-ObjectiveC` means "disabling both MatLab parser and ObjectiveC parser".
Therefore
[code]
is expected behaviour.

If you remove `-ObjectiveC` from the command line, ctags works as you expect:
[code]

[2016-09-10 02:06] masatake commented on #1122
@maxnordlund, thank you for reporting. I have nerver thought about this.
I will take a look at this.

[2016-09-11 11:48] hauleth commented on #1038
Could we have some pre-release versions **tagged** on GitHub? It would make life so much easier for almost everyone who want to introduce Universal Ctags as a package.

[2016-09-11 23:01] pragmaware commented on #1120
Heh... the problem here is that the file uses the preprocessor to generate statements and we don't have a real preprocessor. All I can do, probably, is refuse to emit types that contain too many tokens.

Another thing we could attempt in the future would be to apply some preprocessing: capture macro names and either expand them properly (hard) or just replace them with a space (simple). It would p

[2016-09-12 08:28] kurkale6ka commented on #1121
Hi, yes you are right. I didn't pay close attention.
I will give a bit more context which I should've already done.

So, compiling fails for me:
[code]
And here is the cause:
[code]
Now this is strange since there are `echo` statements in `run.sh` and they should appear in that output ^. So maybe it isn't the right `run.sh` being run.

Also, manually running `./run.sh ../../ctags 2>/dev/null` give

[2016-09-12 09:00] masatake commented on #1121
Looks strange.

The output of
[code]
helps you debug.

What I got with the command line:
[code]

Look at `${c}`. You can know what kind of command line make runs.

[2016-09-12 09:19] kurkale6ka commented on #1121
Hmm, it's the same here:
[code]

[2016-09-12 10:44] techee commented on #1120
The problem is that macros are skipped completely so here the cxx compiler thinks that
`GENERATE_PERMUTATIONS_3_EVENTS` is immediately before `reset_locks ` which isn't the case. So IMO what the compiler should do is that the token chain that is used for typename should be cut off at the nearest macro definition and not to contain anything before it.

Trying to do macro expansion doesn't probably

[2016-09-12 11:31] masatake commented on #1121
I would like to know what are printed to stderr.

[2016-09-12 11:36] masatake commented on #1121
How about other test cases?
Does only  /disable-languages.d fail ?

[2016-09-12 11:39] masatake commented on #1120
See https://github.com/universal-ctags/ctags/issues/80.
We can give tags file as an input for ctags.

[2016-09-12 11:40] masatake commented on #1120
Is `-I` option helpful?

[2016-09-12 11:44] kurkale6ka commented on #1121
yes, I should've ran `./run.sh ../../ctags` not `./run.sh ../../ctags 2>/dev/null` because that's not what `run.sh` does
[code]
so in fact `./run.sh ../../ctags >/dev/null` would output exactly what `stderr-actual.txt` is!

and no, no other failures

[2016-09-12 12:35] masatake commented on #1121
Do you have `~/.ctags` file?

[code]

[2016-09-12 12:48] kurkale6ka commented on #1121
yes. right. I get it. it was trying to generate tags for all my `--regex-...` statements.
I've got that file in order to generate puppet tags for instance.
So moving that file from my home dir enabled make to succeed.

Thanks a lot for your help!

[2016-09-12 13:05] blueyed opened #1125 "Include line in excmd to help Vim with duplicate patterns"
See https://github.com/vim/vim/issues/1057.

I could imagine that the output could contain the line number in the excmd (to go there before searching for the pattern), when using `--excmd=pattern` or `--excmd=mix`.

What do you think?

[2016-09-12 14:14] masatake commented on #1121
It's my mistake. The test result should be independent from the environment. I made #1126.

BTW, @kurkale6ka, did you write the regex patterns for puppet?
If yes, could you consider to consider them to ctags?

[2016-09-12 14:14] #1121 closed

[2016-09-12 14:20] masatake commented on #1125
How about this one?
[code]

[2016-09-12 14:26] kurkale6ka commented on #1121
I did yes and yes I will do a PR

[2016-09-12 16:29] blueyed commented on #1125
Nice.
But the line needs to be decremented by 1 AFAICS:

[2016-09-13 01:28] masatake commented on #1121
@kurkale6ka, thank you.

https://github.com/universal-ctags/ctags/pull/905 is a typical example of PR implementing a regex based parser.

* https://github.com/universal-ctags/ctags/pull/905/commits/0a9e78a8a40e8595b3899e2ad249c8f2c3819c8a  - core of regex parser

* https://github.com/universal-ctags/ctags/pull/905/commits/8eefea3cb9dac3ad3e7c9273f466c35ed3851a63 - code translated by optlib2c.

* h

[2016-09-13 01:30] masatake commented on #954
It works:

[code]
What people may want is a parser for ansible playbook implemented on this yaml parser.

[2016-09-13 01:32] masatake commented on #1125
I may have to add `%{lineMinusOne}` field.

[2016-09-13 01:34] masatake commented on #774
Now we have `--output-format` option. We can use it instead of `-X`.

[2016-09-13 01:37] masatake commented on #1125
See also #774.

[2016-09-13 11:36] masatake commented on #1122
Could you try following patch?

[code]

Do you use coffeescript? As far as I can remember this is the first bug report about xcmd.

[2016-09-13 15:06] maxnordlund commented on #1122
Yes I do use CoffeeScript at work. I'm using homebrew, so how do I apply that patch?

[2016-09-13 15:13] masatake commented on #1122
You may be the first REAL user of xcmd :-P.

O.k.  I will merge this patch to the official source tree. Please, wait for awhile.

[2016-09-14 14:08] #1122 closed

[2016-09-14 17:41] maxnordlund commented on #1122
I just tested this on my machine, and it works beautifully, thanks 😸

[2016-09-16 16:36] pragmaware commented on #1120
#1123 fixes this particular instance of bug. However a general fix for macros interference would be nice... it's just that I have no idea on how to do it.

[2016-09-16 16:37] pragmaware commented on #1012
This should be fixed by #1119.

[2016-09-16 16:37] #1012 closed

[2016-09-16 16:38] pragmaware commented on #1117
Fixed by #1124. A different approach (of disabling :: tokens in C language) can be still explored though.

[2016-09-16 16:38] #1117 closed

[2016-09-16 16:44] dim-an commented on #1117
thanks a lot guys

[2016-09-18 09:33] tefbop opened #1134 "The suffix + of the option argument of commad line option -I doesn't work."
I was trying to create a tag file for /usr/include/c++/5/future, but the parsing stopped at the macro `_GLIBCXX_VISIBILITY(default)`. I've tried using `-I _GLIBCXX_VISIBILITY+` to ignore the macro, but in vain. Manually removing the function-like macro invocation does work though.

[2016-09-19 06:44] legends2k opened #1135 "ctags crashes on a UTF-16 (big endian, with signature (BOM)) encoded file"
`ctags -e --verbose temp.cpp` crashes when `temp.cpp` is a

Here's the verbose output:

[code]

[2016-09-19 07:13] masatake commented on #1134
Thank you for reporting.
Here is a simplified one.

[code]

Though I specified `-I  _GLIBCXX_VISIBILITY`, both `foo` and `x` are not captured.

[2016-09-19 07:21] masatake commented on #1134
In cxxParserParseNextToken of  `parsers/cxx/cxx_parser_tokenizer.c`:
[code]

What @tefbop reported is about this FIXME.
That means this bug report should be recorded as a `.b` test case. I will do it.

[2016-09-19 07:31] masatake commented on #1135
Can we get the `temp.cpp` ?

[2016-09-19 09:57] legends2k commented on #1135
[code]

is the contents of the file. GitHub doesn't allow it to be attached.  However, I noticed that two things silences the issue:

* Removing the first empty line
* Not passing the `-e` option

[2016-09-20 12:01] masatake opened #1138 "duplicated kinds in `--list-kinds` output"
``
[yamato@x201]~/var/ctags-github% ./ctags --list-kinds=Yacc
l  labels
l  labels
``

This should be printed once.

[2016-09-20 12:04] masatake commented on #1135
[code]

I cannot reproduce this issue with the above input.
Am I doing wrong?

[2016-09-20 12:04] masatake commented on #1135
Another representation of the same input:
[code]

[2016-09-20 17:26] #1086 closed

[2016-09-21 03:22] masatake opened #1141 "whiespace prefixed tags and orders in tags file"
[code]

Look at the whiespace before `ABC`.

If a tag name is started with a whitespace, it is printed in tags file before pseudo tags.
I guess this behavior make client tools get into crazy.

Could you give me comment and ideas what we can do?

(Please change the tile of this issue if you can find better one.)

[2016-09-21 11:33] legends2k commented on #1135
Here's the output of `ctags --version`

I took it from the [daily builds](https://ci.appveyor.com/project/masatake/ctags/branch/master/job/44lgb12fkt9eon6a/artifacts) on 19th September; the filename was `ctags-c21fa6d-x64.zip`.

Here's `temp.cpp` in hex:

[2016-09-21 12:06] masatake commented on #1135
It seems that the input files are identical.  The crash is not reproduced.
However, valgrind detects an invalid memory access.

Following patch may solve the issue.

[code]

I will merge this in soon. Though this will not be the ideal solution but removing this kind of crash is very important.

BTW, utf-16 is never supported in universal-ctags. We are still be in the world where the assumption  by

[2016-09-23 00:57] #1138 closed

[2016-09-24 18:46] masatake commented on #1135
I'm working on testing the patch now. Please ,wait for awhile.

[2016-09-24 18:48] masatake commented on #1120
Do you agree with this milestone setting?

[2016-09-24 18:52] masatake opened #1145 "C: attribute after array definition"
[code]

Above code is in linux kernel. `registered_fb` is not captured.
If I delete __read_mostly from the input, it is captured.

For ths input even OldC parser doesn't work expectedly.

[2016-09-24 19:10] masatake opened #1146 "main: parser programming interface (PPI)"
Currently `main/*.h` files are used from both main and parsers.
They should be separated.

I would like to call what are declared in header files for parsrs "parser programmer interface (PPI)".

Though this separation is done yet but you can use the term for discussion. I hope this word help
you to represent your idea about ctags.

An example of idea:

For parser programmers ctags main part is a s

[2016-09-24 21:13] codebrainz commented on #1146
Might be better to call it "Parser Programming Interface" to mirror [Application Programming Interface](https://en.wikipedia.org/wiki/Application_programming_interface). Or even just "Parser API" since API is often used to mean "programming interface" generally.

[2016-09-24 22:58] pragmaware commented on #1145
Well... if __read_mostly is treated as generic identifier then this is basically a syntax error.
Should we add support for the non-standard attribute extensions?
https://www.daemon-systems.org/man/__read_mostly.3.html

[2016-09-25 03:20] codebrainz commented on #1145
Identifiers starting with double-underscore are still valid, they are just reserved for the implementation. I guess if one wanted tags for an implementation (ex. glibc, libstdc++, etc), stripping them wouldn't be good. Often they won't appear in headers (ex. compiler intrinsics) but if they do should probably not be removed by default, IMO.

[2016-09-25 07:08] b4n commented on #1145
If the attributes are common enough, we might want stock support for them.  But OTOH, it should be trivial to just ignore them with appropriate ignore tokens, so maybe we should provide default ignore patterns at most.

[2016-09-26 01:07] pragmaware commented on #1145
Well, I was talking only about the specific tokens listed in that man page, not all the tokens starting with a double underscore. However it makes sense to handle them explicitly only if we want to extract some semantic information.. say "noinline", "packed" or "aligned". If we don't care about this information then ignoring them could be a good solution.
How we could provide a default set of igno

[2016-09-26 11:27] masatake commented on #1145
Yes! My interest is ELF section information like:
[code]
Attaching  ".inittext" of section field of "serial_putchar" is very helpful for me:-P
However, it is obviously overkill.

Temporary, hardcoding is enough for me.
As I wrote before, we can do more interesting thins when we introduce mechanism  to define per-parser options.

[2016-09-26 11:28] masatake commented on #1146
`s/programmer/programming/`

@codebrainz, thank you.

[2016-09-26 15:44] masatake commented on #1145
@pragmaware, do you think about using isIgnoreToken?
The backend of the function is stringList. If many items are added to the stringList, we should replace it with a hashTable.

[2016-09-26 22:15] pragmaware commented on #1145
Well, if we're using ignore lists then isIgnoreToken() is the way.
The other way is to hardcode the tokens as keywords and handle them specially.

As for the string list, yes, the current implementation is quite inefficient. A hash table would be useful.
isIgnoreToken() could also take a vString pointer instead of const char * to avoid computing lengths.

[2016-09-27 00:13] masatake commented on #1135
It passes the most of all test cases. I'm afraid this change may conflict with #1091. #1091also deals with nul char. It taks more time to fix.

[2016-09-28 03:08] masatake commented on #1145
Don't main/htable.[ch] help you?

I'm thinking about code generated by gperf as backend of main/htable.[ch].

(gperf can be used as backend for keyword.[ch], too.)

[2016-09-28 19:05] sim590 opened #1149 "[C++] some member are not parsed"
Let the following code snippet
[code]
Executing ctags, you get
[code]
While you should get the same as with the following
[code]
which would be
[code]

Ctags version:
[code]

[2016-09-28 20:08] masatake commented on #1149
Reproduced.

I tried following patch:
[code]

And  I got:

[code]

Let's see how the maintainer of C++ parser say this change.

[2016-09-28 22:06] sim590 commented on #1149
That was quick response! I appreciate to see people working on this.

[2016-09-28 22:30] pragmaware commented on #1149
Yep, something like that. Instead of comparing the contents of the tokens we can just check the first one to be of type CXXTokenTypeOpeningBracket. I made a pull request with this and also 'type var[] {} handling.'

[2016-10-01 22:18] pragmaware commented on #1134
Fixed by #1151.

[2016-10-01 22:18] #1134 closed

[2016-10-01 22:21] pragmaware commented on #1145
@masatake does htable handle hash collisions?

[2016-10-01 23:06] pragmaware commented on #1149
Should be fixed by #1150

[2016-10-01 23:31] sim590 commented on #1149
@pragmaware
I have just tested and the initial snippet passes the test, but the following
case seems not to be covered:
[code]

[2016-10-02 01:18] pragmaware commented on #1149
Right...

[2016-10-02 01:20] pragmaware commented on #1149
Please check #1153 if you can.

[2016-10-02 04:55] masatake commented on #1145
@pragmaware, I implemented `Separate chaining` technique. I think you expect Open addressing.
https://en.wikipedia.org/wiki/Hash_table#Collision_resolution

As far as rading quickly keyword.c does t he same of mine. I found `->next` field in the hash buacket.

If you are talking about a bug of imy implementation, give me a pull request.

[2016-10-02 06:01] pragmaware commented on #1145
Ah.. blind me... must have been too tired. Now I see.
So I almost have a pull request replacing the ignore string list with your htable then :)

[2016-10-02 16:50] #1149 closed

[2016-10-02 17:59] pragmaware commented on #1145
See #1154.

[2016-10-03 05:06] pragmaware commented on #1145
See #1154

[2016-10-03 21:31] techee opened #1156 "Warning during compilation"
Since a9e33892815ebe61765ffd73e8d471c5bcc150ee I'm getting the following warning during compilation:

[code]

The macro above it says

[code]

but I don't have jansson installed so I guess something is wrong somewhere.

[2016-10-04 17:26] masatake commented on #1145
In the future we can have just another htable for handling attributes.
Why not now?  Heavy users may want to add extra attributes to the htable.
However, ctags command doesn't provide interface for adding.

We need `--opt-C=+ignore-macro:MACRO` and  `--opt-C=+ignore-attribute:ATTR`.

...Let's not talk about the things in future now. The release is already enough delayed.

[2016-10-04 17:31] masatake opened #1158 "reflect the comments about yaml meta parsrr"
I got comments from @b4n about my PR #1137.
There is no way to reopen PR. So I register my task here.

[2016-10-04 17:35] masatake opened #1159 "xml parser should pick id="

[2016-10-04 17:42] masatake commented on #1084
It seems that we can circleci. More study is needed.

I made an image for running `make check` in centos6.
https://hub.docker.com/r/masatake/ctags-centos6/

Surprisingly it reports one bug about plistXML parser.

[2016-10-04 17:47] masatake commented on #1135
@legends2k, sorry to be late.
Could you try the latest code?
Merging #1091 solves this in another way.

[2016-10-04 23:01] #1156 closed

[2016-10-05 02:38] TomRoche commented on #655
What is the status of the Universal Ctags Debian packaging? As of 0200 UTC 5 Oct 2016, when I [search `packages.debian.org` on `ctags`](https://packages.debian.org/search?searchon=names&keywords=ctags), I see only 2011 builds of Exuberant. When [I search on `universal`](https://packages.debian.org/search?searchon=names&keywords=universal), I don't see anything tag-related. Am I missing something?

[2016-10-05 16:06] #954 closed

[2016-10-05 19:31] viccuad commented on #655
Hi, I'm the current one listed on the [ITP (Intend To Package) Debian bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797359) for universal-ctags, which I opened with the intention to have universal-ctags be my first maintainership of a package in Debian.

In that moment, I stated in [this message](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797359#35)  my desire to get a 1.0 release

[2016-10-07 12:35] legends2k commented on #1135
I tried the exercise on [`ctags-ff6491f-x64`](https://ci.appveyor.com/project/masatake/ctags/branch/master/job/va0flv682ok8jvx9/artifacts) and the issue is irreproducible, I guess it's fixed now.

Sorry for the delayed reply, I couldn't get to it earlier.  Thanks!

[2016-10-07 12:35] #1135 closed

[2016-10-09 19:42] pjkack commented on #815
Is there any way now to specify that the input file name should not be escaped? Or am I'm still stuck with running my locally modified version where renderFieldInput always just returns f instead of renderEscapedString (f, tag, b).

[2016-10-12 12:36] masatake commented on #815
@pjkack, sorry to be late.

Could you tell me the issue about file name?

[code]

Here ctags means exuberant-crags(e-ctags).  e-ctags injects doubled backslashes.
u-ctags injects quad'ed backslashes.

Do you want e-ctags behavior?

As written in docs/format.rst a file name can be appeared two places in tags file:
[code]

I'm talking about `{tagfile}`. u-ctags should do the same as e-ctags do about

[2016-10-12 12:58] masatake commented on #815
Oh, I'm sorry. I used wrong input file name in the above comment.

[code]

It seems that e-ctags doesn't do put doubled backslashes, though u-ctags does.

[2016-10-12 13:07] masatake commented on #815
O.k. I will write my plan here.

0. escaping newly introduced in u-ctags is enabled only when an extra flag is given in `--output-format` option like:
[code]
2. the default is `escape=no`.

3. an entry not render-able is ignored(not printed) if escape=no flag is given.

4. finally we will update the document.

Implmenting 3. may not be easy. People who don't think so should make a PR:-P.

[2016-10-12 13:08] #1158 closed

[2016-10-12 18:06] pjkack commented on #815
@masatake Thanks for replying again so quickly. I think your plan sounds good.

I'm on Windows where e-ctags never escape the back slashes in file names, while c-tags currently do.

Here is an example of the current c-tags output:
`renderFieldInput	C:\\Users\\XYZ\\GitHub\\ctags\\main\\field.c	/^static const char *renderFieldInput (const tagEntryInfo *const tag, const char *value CTAGS_ATTR_UNUSED,

[2016-10-13 08:11] romgrk commented on #661
I would recommend using 6.0, this already causes some issues, eg https://github.com/xolox/vim-easytags/pull/133. Bump btw.

[2016-10-13 08:55] hucan7 opened #1165 "build and install issue"
When I run the autogen.sh, it failed.
The Error information are as following:

[code]

[2016-10-13 09:00] masatake commented on #1165
Do you install automake?
Could you tell me the version of autoconf?

[2016-10-13 09:09] hucan7 commented on #1165
yes
The version of autoconf is 2.59-12.
Should I update that？

[2016-10-13 10:33] masatake commented on #1165
Though  `AC_PREREQ([2.59])` is written in configure.ac, autoconf-2.63 may be needed.
Could you try newer version of autoconf?

I will make a PR for updating the line of `AC_PREREQ` in configure.ac.

[2016-10-13 13:06] hucan7 commented on #1165
Yes, I have updated the version of autoconf and automake.
Now the verison is autoconf-2.69, automake-1.15
But there is still error existing as following:

autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force
autoreconf: configure.ac: tracing
autoreconf: configure.ac: not using Libtool
autoreconf: running: /.temp-tool/bin/autoconf --for

[2016-10-13 14:47] masatake commented on #1165
Could you run the following command line and show the output?
[code]

The output in my environment is that
[code]

[2016-10-14 03:28] hucan7 commented on #1165
This is my output.
`bash-3.2$ /.temp-tool/bin/autoconf --force --verbose
autoconf: running /.temp-tool/bin/autom4te --force --verbose --language=autoconf --output=configure configure.ac
autom4te: the trace request object is:
autom4te: $VAR1 = bless( [
autom4te:                  '1',
autom4te:                  0,
autom4te:                  [
autom4te:                    '/.temp-tool/share/autoconf'

[2016-10-14 03:31] hucan7 commented on #1165
This is my output.

[code]

[2016-10-14 05:09] masatake commented on #1165
...Hmm

Could you retry after removing autom4te.cache directory?

[2016-10-14 06:15] hucan7 commented on #1165
I have a try again.
And the result is the same...

[2016-10-14 07:06] masatake commented on #1165
What kind of OS do you use? Is there a docker container image for the OS is avaiable?

I should inspect where AC_DEFINE comes from if autoconf works fine. However, I cannot find time for doing it know.

[2016-10-14 07:07] masatake commented on #1165
ctags itself supports m4 and autoconf so, I must find the definition of `AC_DEFINE` quickly:-P.

[2016-10-14 07:19] hucan7 commented on #1165
The OS is RHEL 5.7

[2016-10-14 07:28] masatake commented on #1165
Oh, I see.    I will try to reproduce the issue.

[2016-10-14 18:50] masatake commented on #1165
I guess you may have a directory /.temp-tool/share/aclocal or /.temp-tool/share/aclocal-1.11.
Copy /usr/share/aclocal/pkg.m4 to the directory (/.temp-tool/share/aclocal or /.temp-tool/share/aclocal-1.11). Then run autogen.sh again.

I used following Dockerfile to inspect this issue.

[code]

[2016-10-15 03:58] masatake opened #1168 "shell completion rule"
Write completion rules for bash and/or zsh.
It is important to evaluate the design of ctags command line interface. Especially about the name of option.

I will write for bash as part of #1166.

[2016-10-16 15:12] hucan7 commented on #1165
Thank you very much.☺
According to your way, the configure file is created after running autogen.sh.

However, when I run the command make, another issue appears.
[code]

And as I know, 'xmlPreviousElementSibling' is related to the libxml2.
Then I opened the Makefile, and saw the following define in it.
[code]

But in my system environment, the libxml2 is not installed.
So I installed the libxml2

[2016-10-16 16:30] masatake commented on #1165
It seems that `xmlPreviousElementSibling` is not available in libxml2 of RHEL5.
(I must add code to check the existence of the function to configure. I will make PR.)

[2016-10-16 16:34] masatake commented on #1165
Do you install libxml2-devel package?
If yes, remove it and run configure without LIBXML_CFLAGS=-I/.libxml2/include/libxml2.

[2016-10-17 03:03] hucan7 commented on #1165
It works  successfully now.
Thank you very much.

[2016-10-17 04:56] masatake commented on #1168
A simple rule works.

[code]

[2016-10-20 14:55] masatake commented on #1084
It seems that this is about a bug of older libxml2.

[2016-10-21 16:42] masatake commented on #1145
NOTE: systemd users gperf. It uses automake, too.

[2016-10-24 10:51] ardumont commented on #655
Hello,

@viccuad step in :D

Well, as a first approximation, using it as is is ok with me :D

For now, i need to package it for the [Software Heritage](https://www.softwareheritage.org) project.
And if it's all good, it'd be worth the effort to push it all the way to debian and i'll do it.

My alioth nick is ardumont-guest (i have packaged some python packages).

For the sake of not duplicating ef

[2016-10-27 18:27] dtikhonov opened #1175 "C: anonymous enum defined together with function"
[code]

produces

[code]

[2016-10-27 19:24] viccuad commented on #655
That makes me happy! :)

I forgot to attach the status of the package when I left the ITP, I
have done it [now](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797359#54) :)

[2016-10-28 07:29] ardumont commented on #655
have done it [now](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=797359#54) :)

Thanks, I'll merge in your work in mine :D
(I mostly work with the rules so far and not the doc part)

Cheers,

[2016-10-28 10:14] ardumont commented on #655
FWIW, work in progress is https://github.com/ardumont/universal-ctags

(It's WIP so the master branch will get rewritten.)

[2016-11-05 14:30] nelstrom commented on #446
It's that time again: I'm revising [Practical Vim](https://pragprog.com/book/dnvim2/practical-vim-second-edition) to bring it up to date now that [Vim 8.0 has been released](https://github.com/vim/vim/releases/tag/v8.0.0000). As before, I'm considering whether or not it would be appropriate to update the tip on `ctags` to recommend Universal ctags, instead of Exuberant ctags. I see that the projec

[2016-11-08 02:44] yanglimingcn opened #1176 "golang language reference tags"
I can not found tags which reference one function
I use gnu global(global (GNU GLOBAL) 6.5.5) with universal-ctags backend
GTAGSLABEL=new-ctags
gtags.conf
new-ctags:\
	:tc=universal-ctags:tc=htags:

[2016-11-09 03:44] masatake commented on #1176
(Capturing reference tags, which global expects, has not been implmented in any langauge including go yet.)

[2016-11-09 03:45] #1165 closed

[2016-11-09 03:50] masatake commented on #446
@nelstrom, still far from releasing. tags format issue is not solved yet. This is the critical issue.
Update the man pages and revise the command line interface is the second isssues.

[2016-11-09 09:44] nelstrom commented on #446
@masatake ok, thanks for the update!

[2016-11-10 09:26] vahancho opened #1178 "Incorrect parsing of C++11 enums with underlying types."
Hi guys,

First of all - universal-ctags is a great tool! Thanks for it.

Now about the issue.
Command line: `ctags -R -x --_xformat=[%{kind}][%{scope}][%{scopeKind}][%{access}][%{typeref}][%{signature}][%{compact}] --sort=no --extra=*-q --c++-kinds=*-zlm --fields=*-lne --language-force=C++`

#### Example 1 (good):

[code]
Result 1:
[code]

So far so good.
#### Example 2 (bad):
[code]
Result 2:
[c

[2016-11-10 16:17] masatake commented on #1178
Simplified test cases:

[code]

[2016-11-10 16:18] masatake commented on #1178
It seems that `:` is never considred when parsing enum block.

Comments taken from source code:
[code]

[2016-11-10 16:22] masatake commented on #1178
@vahancho, thank you for reporting. Maybe @pragmaware, the cxx parser maintainer may be in busy.

Here is a temporary solution:

[code]

Perfect solution may be prepared by the maintainer when he gets time.
Please, wait for awhile.

[2016-11-11 07:10] shawn-xy opened #1180 "fail to recognize c++ keywords "const override""
Hi guys,

First of all, thanks for developing the great tool! I use it everyday.

Now the issue: for the following code,

class B {
    public:
        virtual void foo() {
        }
        virtual void bar() const {
        }
        virtual void foobar() {
        }
};
class D : public B {
    public:
        virtual void foo() override {
        }
        virtual void bar() const override {

[2016-11-11 11:20] vahancho commented on #1178
@masatake, thanks for looking into this. IMO the underlying type is somehow handled by ctags, however the handling depends on which type is used. For example:

[code]

[2016-11-11 11:29] masatake commented on #1178
@vahancho, yes. It depends on whether  token(s) left  of `{` is keyword or not.
int is keyword. unsigned char is keyword.

How about my patch?
My patch tracks `:`; it picks up a token left of `:` as the name of upper scope. (if I implemented correctly.)

[2016-11-11 11:30] masatake commented on #1180
A bit simplified input:
[code]

The second `m` is not picked.

[2016-11-11 12:53] vahancho commented on #1178
@masatake, unfortunately I don't build ctags myself, so that I didn't try your patch yet.
I would extend the list of keywords with new type names. For example, [here](http://en.cppreference.com/w/cpp/types/integer) is the list of integer types introduced by C++11.
From the other hand that's not enough, as a type used can be an alias of another type, as shown in my last example. Probably your patch

[2016-11-11 12:58] masatake commented on #1178
I see.

[2016-11-11 13:00] masatake commented on #1180
Thank you for reportin.  @pragmaware, the maintainer of cxx parser may be in busy.
So I provide a temporary solution here:

[code]

I got following output with the patch
[code]

Please, wait for a complete fix till the maintainer comes back.

[2016-11-11 19:21] pragmaware commented on #1180
@masatake : your fix is good. Applying it.
See #1182

[2016-11-11 19:27] masatake commented on #1180
@pragmaware, thank you.

As usual, CXX_DEBUGGING_ENABLED is really helpful to understand the parser.
When we got time, we should move to main part so that the other parsers can use the facility.

[2016-11-12 01:55] pragmaware commented on #1180
Closed via #1182

[2016-11-12 01:55] #1180 closed

[2016-11-12 03:24] pragmaware opened #1183 "Manual: --fields-LANG is not present in the man page"
The --fields-LANG option is not present in the manual page.
Moreover, we have --LANG-kinds, I wonder why it's --fields-LANG and not --LANG-fields.

[2016-11-12 04:05] masatake commented on #1183
Yes, I know.

As you may know I introduced the option as an experimental feature.
When introducing the option, I wrote a section in docs/news.rst (http://docs.ctags.io/en/latest/news.html#parser-own-fields) .  If we think the feature is acceptable and stable enough,
we should update the man page. This process, writing docs/*.rst then updating man page, is standard workflow to maintain in the docum

[2016-11-12 04:09] pragmaware commented on #1183
Ow.. my fault: I overlooked --kinds-LANG.
So this is fine, as long they are all coherent.

As for the man page, yep, we should probably start updating it as otherwise features will probably "overflow" and we'll miss some of them. Filling up the man page will also give us a general overview of how the commandline looks now and tell if something needs to be adjusted.

[2016-11-12 05:20] pragmaware commented on #1183
So I close this.

[2016-11-12 05:20] #1183 closed

[2016-11-12 21:02] #1175 closed

[2016-11-13 00:04] pragmaware commented on #1178
Fixed via #1184.

[2016-11-13 00:04] #1178 closed

[2016-11-14 03:42] oscarfv opened #1186 "Do not duplicate tag when --extra=+q"
As documented, when `--extra=+q` is used an extra line with the fully qualified name of the tag is generated. On my setup this is an inconvenience because if the source code has a C++ method `MyClass::MyMethod` ctags will generate a line for `MyMethod` and another one for `MyClass::MyMethod` and then when I search for `MyMethod` on my editor it will offer both lines as distinct candidates.

I woul

[2016-11-14 07:32] shawn-xy commented on #1180
Thank you guys!

The update works with "const override" now, but fail with some macros defined like:
`
#define OVERRIDE override
class Y : class X {
virtual void m() const OVERRIDE{}
}
`
My project happens to have macros like this.

I'm using a temporal fix locally:

`index ce79d6d..55b374e 100644
--- a/parsers/cxx/cxx_parser_block.c
+++ b/parsers/cxx/cxx_parser_block.c
@@ -25,6 +25,22 @@

 #inclu

[2016-11-14 15:35] masatake commented on #1186
Thank you for contacting us.

I understand requirement but, I think this should be handled by your editor.
The editor may have a chance to prepend "MyClass::" to your search word "MyMethod".

If MyMethod is implemented only in MyClass in your source tree, use tags file generated by --extra=-q.
Just searching MyMethod is enough to go to MyClass::MyMethod. The feature you request is not needed in th

[2016-11-14 15:55] vahancho commented on #1178
Thanks for the quick fix. Great job!

[2016-11-14 22:03] oscarfv commented on #1186
I'm afraid that my request was not clear enough.

The poblem is that if I search for `MyMethod`, the editor will pop up a menu offering two entries:

MyMethod
MyClass::MyMethod

Both entries are actually the same but the editor sees two entries on the TAGS file that matches my search string and show them all. This is doubling the number of candidates for no gain, which has usability consequences:

[2016-11-15 04:04] BohrShaw opened #1187 "File-path separator bug on Windows when using '--tag-relative'"
In a git repository, issue two commands in Powershell:
`git ls-files | ctags -L - -f .git/tags --tag-relative`
`git ls-files | ctags -L - -f .git\tags --tag-relative`

The first generates a tags file containing wrong relative file paths, while the second works right.

[2016-11-15 12:01] masatake commented on #1187
I don't know well about Windows. Could you tell me the issue more?
As far as I know the backslash is used as file name separator on Windows.

[2016-11-15 12:43] BohrShaw commented on #1187
The tags file generated by the second command contains a line like:
`dp	../init.vim	/^pattern$/;"	m`
While by the first command, I get a wrong relative file path:
`dp	init.vim	/^pattern$/;"	m`

[2016-11-15 13:24] b4n commented on #1187
A wild guess is that we have specific Windows code that uses `\` as separator only, while it should allow both `\` and `/`.

[2016-11-16 14:44] Smjert opened #1188 "ctags doesn't find subsequent functions when a macro defines an else part for an if"
Hello, i have this short example (test.c):

[code]

Calling 'ctags test.c' only generate the tag for main() function but not for func().

Ctags Info:

[2016-11-16 15:37] b4n commented on #1188
You example code is invalid if `world` is defined, as it results in unbalanced braces.  Use `} else {` for valid syntax in all branches.

[2016-11-16 15:37] b4n commented on #1188
…and actually your edited example is invalid in any case, still unbalanced braces.

[2016-11-16 15:45] Smjert commented on #1188
I'm sorry i did a mess when copying (there were spaces everywhere) and acidentally deleted the #else part.

[2016-11-16 15:48] b4n commented on #1188
Okay, now it's messy code, but it is valid alright.

@pragmaware @masatake OldC handles it OK (probably because it retries with another preprocessor config on unbalanced braces?)

[2016-11-16 17:29] masatake commented on #1187
[code]

ctags doesn't consider more than one separator char. These days, does windows deal both `\` and `/` as separators?

[2016-11-16 17:31] b4n commented on #1187
Yes, they are synonyms AFAIK

[2016-11-16 17:32] masatake commented on #1188
This is the hardest issue in things ctags deals with.
I will never say this is a bug of parser. However, if ctags can handl these input well, people may be happy.

[2016-11-16 19:12] b4n commented on #1188
Agreed that I don't see it as a high priority thing.  It'd be nice to support, sure, but it's fairly tricky code for no reason.

I believe the OldC parser did a second pass with another option to `lcpp` when it reached EOF with unbalanced braces.  It might even be "simple" to support it the same way.

[2016-11-16 20:51] Smjert commented on #1188
Thanks for the attention on the issue. On my side i'll fix the braces, i saw that it works... unfortunately is a very old code so it's riddled by things like that ^^'.

[2016-11-16 21:22] pragmaware commented on #1188
Forcing a second pass in this case is pretty easy: see https://github.com/pragmaware/ctags/commit/2972067276dfd6eefb3eea02784ad6e27a88deae .

However it seems that the preprocessor code chooses the same branches also in the second pass and I can't figure out why. Or better, I can't exactly figure out how the "BraceFormat" thingie should work inside the preprocessor code...

[2016-11-17 09:12] masatake commented on #1145
@b4n wrote:

I implemented this idea: See #1190.

[2016-11-17 10:33] b4n commented on #1145
@masatake hum, IIUC #1190 is not really what I was suggesting.  My point was to simply have a default set for the `-I` option, so that there is no need for extra code.

Like that:
[code]

[2016-11-17 10:34] b4n commented on #1145
…and if `__read_mostly` and other are common enough, include them in that default ignore list.

[2016-11-17 11:07] masatake commented on #1145
I misunderstood the comment.
However, skipping them automatically is not so bad idea.

[2016-11-17 11:17] masatake commented on #1145
... I found following code in kernel build script:

[code]

[2016-11-19 00:24] #1145 closed

[2016-11-19 11:18] BohrShaw commented on #1187
It's not convenient for me to play with C codes. If I get the time, I would:

1. Convert `\` to `/` upon input.
1. Only use `/` as the path-separator internally.
1. Output '/' preferably.

[2016-11-20 02:10] masatake commented on #1187
Sorry, the assignment is my mistake.

[2016-11-20 03:31] masatake opened #1193 "js: a bug in capturing anonymous function"
[code]

`x` is captured as a function. Is this expected behaviour?

(See my_global_var4 in review-needed.r/simple.js.t/.)

[2016-11-20 20:39] carlitux opened #1196 "Some files not processed on javascript"
actions.js files are not being processed in my directory project.

[2016-11-21 02:50] masatake commented on #1196
How can I reproduce it?

[2016-11-21 03:56] carlitux commented on #1196
@masatake it is working I have the excomand to number, my bad.

[2016-11-21 03:56] #1196 closed

[2016-11-23 13:38] lvc opened #1198 "Doesn't detect a symbol from libX11"
The latest universal ctags 015eae73de29895b494528615ac639b856fe2e3a doesn't detect function `XESetCopyEventCookie` from libX11-1.3 library (include/X11/Xlibint.h):

    extern Bool (*XESetCopyEventCookie(
        Display*            /* display */,
        int                 /* extension */,
        Bool (*) (
                   Display*                 /* display */,
                   XGenericEv

[2016-11-23 16:48] masatake commented on #1198
[code]

[2016-11-23 16:52] masatake commented on #1198
BTW, OldC captures them well.
[code]

[2016-11-25 19:30] dfishburn opened #1206 "Echo contents to stdout during debug"
When I was developing with Exuberant tags I always used -D 9 on the command line which outputted the tags read to the window when readToken processed them.

This was extremely useful as I could quickly see where I was in the file before I got down to the right level to begin debugging.

I see in Universal Tags, the -D is now a macro.

I am running on Windows and compiled with:
`
nmake -f mk_mvc.ma

[2016-11-25 19:36] masatake commented on #815
Exuberant-compatible output is worked locally.

[code]

[2016-11-25 19:48] masatake commented on #1206
I renamed -D option to -d option.
(See http://docs.ctags.io/en/latest/news.html#d-option)

I have been broken debugging facility because I didn't understand it well when I started working on this project.

However, C parser is completely rewritten by @pragmaware .
What you are familiar with is now call OldC parser. As far as I know new C parser doesn't consider -d debug option. However, CXX_DEBUGG

[2016-11-25 20:16] dfishburn commented on #1206
Thanks for the response.
[code]
Not sure how to specify it?
debug.h has
[code]

How do you use CXX_DEBUGGING_ENABLED?
Is that something I have to enable in my source and re-compile, or does it have a whole bunch of levels to it and predefined output as well?

Thanks, just trying to get up to speed on Universal Tags.  I was the maintainer on about 6 parsers for Exuberant Tags.

[2016-11-25 21:59] b4n commented on #1206
Apparently the code has to be compiled with `DEBUG` defined (see *options.h*).

It's something to be defined when building, and I don't think it's controllable afterward, but I may be mistaken.

[2016-11-26 02:53] masatake commented on #1206
Following patch is needed.

[code]

[2016-11-26 03:42] masatake commented on #1206
@dfishburn, feel free to reopen this.

[2016-11-26 04:22] masatake commented on #815
File name also handled well.
[code]

[2016-11-26 05:55] masatake commented on #815
@markwu, @pjkack, could you try #1209?
I added ``--output-format=e-ctags`` option which you may like.

[2016-11-26 09:11] #1193 closed

[2016-11-26 16:06] #1206 closed

[2016-11-27 18:42] masatake commented on #841
`--param-<LANG>:<NAME>=<VALUE>` was introduced.

[2016-11-27 18:42] #841 closed

[2016-11-28 04:52] pragmaware commented on #1198
Fixed via #1207

[2016-11-28 04:52] #1198 closed

[2016-11-28 09:14] lvc commented on #1198
Verified. Thank you!

[2016-11-28 16:08] masatake opened #1212 "json writer may not need escaping in ctags level"
[code]

To many back slashes are added to scope field.

[2016-11-28 16:09] masatake commented on #1212
I will work on this item after merging #1209/

[2016-11-28 16:10] masatake commented on #1212
@tmm1, do you agree with me that there are too many backslash characters?

[2016-11-28 22:13] tmm1 commented on #1212
Yes looks like extra escaping

[2016-11-29 15:29] masatake opened #1213 "Merge @bitterjug/vim-tagbar-ctags-elm"
As far as I know this is the first seriously written optlib by a person other than I. Surprisingly it uses scope extension of regex parser.

I will make a push request.

[2016-11-30 04:41] #815 closed

[2016-11-30 16:03] masatake commented on #1212
(I'm planning improving json output.)

[code]

end means the line number of the end of "timeStamp" macro.
I think 451 (an integer) is better than "451" (a string).
How do you think?

[2016-11-30 17:07] tmm1 commented on #1212
👍, agree it should be numeric

[2016-11-30 19:16] pjkack commented on #815
Thanks, it seems to work fine for me!

[2016-12-01 17:25] otandka opened #1216 "MacOS uses case-insensitive file name matching for language detection"
I recently moved to MacOS and Exuberant Ctags version 5.8_1 (via homebrew) and found a number of missing symbols.  Searching the C++ source file narrowed the problem down to a definition of an operator=() member function.  Changing the function name to operator==, or operator++, but not operator+=, resolved the problem.  The symptom was that no symbols were reported past that point in the source f

[2016-12-01 19:11] otandka opened #1217 "Option --tag-relative has no effect in etags mode (with -e)."
I cannot get --tag-relative to work with etags.  The following commands all produce the same output.  The option does have the expected effect if I omit the -e option.
[code]
Is this a bug or am I doing something wrong?

[2016-12-01 22:00] tmm1 opened #1218 "JSON output format does not contain pattern for some language"
Languages like C and Ruby produce proper pattern output:

[code]

But languages like Go and JavaScript will not produce any pattern:

[code]

[2016-12-02 02:46] otandka commented on #1216
I've been thinking about it some more and I don't think a new command-line option is necessary, at least not for the language mapping problem I am encountering.  Ctags already has this sophisticated system for mapping files to languages based on extensions, including a complicated user / cli interface for setting the mapping at runtime.  Instead of forcibly mapping all cases (e.g., both "C" and "c

[2016-12-02 11:33] masatake commented on #1217
Thank you for reporting. This is a bug .The behaviour  is different from  Exuberant-ctags.

[2016-12-02 17:51] sunbubble opened #1220 "request: CUDA support"
I've been using ctags with langmap c++ for CUDA ( *.cu and *.cuh filetypes), and it works just fine.
Is there a way to have this be default behavior?

$ ctags --langmap=c++:+.cu.cuh

[2016-12-02 18:23] lvc opened #1221 "Partially defined symbol"
Hello,

Is the ctags tool supposed to detect DrawText function in this code (giflib-4.2.3, include/gif_lib.h)?

    #ifdef _WIN32
        extern void DrawGifText(SavedImage * Image,
    #else
        extern void DrawText(SavedImage * Image,
    #endif
                     const int x, const int y,
                     const char *legend, const int color);

This command returns empty output:

    c

[2016-12-03 03:31] masatake commented on #1220
@pragmaware, how do you think?

I got the same situation in https://github.com/universal-ctags/ctags/issues/1086 about jsx.
I accepted the patch (without agreement from @b4n, the maintainer of JavaScript parser.)
I'm still not sure this is good or not.

I don't know CUDA. As far as my quick reserach, it has some syntax level extension like `<<<...>>>`.
If a language has its own syntax, ctags shoul

[2016-12-03 05:13] masatake commented on #1218
closed via #1222.

[2016-12-03 05:18] #1218 closed

[2016-12-03 05:44] masatake commented on #1217
Could you try #1223?

[2016-12-03 06:12] masatake commented on #1188
I'm afraid I injected a bug in upper layer(cprepro and parse.c).

[2016-12-03 06:12] masatake commented on #1188
I will inspect when I find tme.

[2016-12-03 06:37] masatake commented on #219
Now Universal-ctags has the most of all facilities for implementing multline regex parser.

[2016-12-03 07:02] masatake commented on #1187
@BenWiederhake, could you tell me how do you build ctags?

[2016-12-03 10:44] masatake commented on #219
It works. Please, try #$1224 if you have still interest.

[2016-12-03 10:49] masatake commented on #64
There is no way to pass data from parent to its children but promise works well.

[2016-12-03 10:49] #64 closed

[2016-12-03 14:02] lvc opened #1225 "Doesn't detect a symbol from NSPR"
Hello,

The ctags tool doesn't detect PL_ClearArenaPool function in the code (nspr 4.13.1, include/nspr/plarena.h):

    PR_EXTERN(void) PL_ClearArenaPool(PLArenaPool *pool, PRInt32 pattern);

This command returned empty output:

    ctags -x --c-kinds=fpvx -I PR_EXTERN=extern include/nspr/plarena.h| grep PL_ClearArenaPool

But old parser works fine:

    ctags -x --languages=+OldC --language-forc

[2016-12-03 14:20] b4n commented on #1225
You can use `-I PR_EXTERN+=extern`, that will work (but won't see the return type).
However, there is now a more powerful preprocessor through `-D`: in this case, the best fix is `-D 'PR_EXTERN(x)=extern x'`.  The parser will really see `extern void PL_ClearArenaPool(…`, rather than the invalid `extern (void) PL_ClearArenaPool(…` or some other variants.

[2016-12-03 14:25] BenWiederhake commented on #1187
I'm not related to this project.  Don't try to contact me again.

[2016-12-03 14:45] masatake commented on #1187
(@BenWiederhake, I'm very sorry.)

[2016-12-04 01:36] pragmaware commented on #1220
In theory CUDA is C with some additional keywords and builtin types. The only syntax difference that I'm aware of is the <<<>>> kernel calling syntax which probably can be ignored.
The __global__ , __device__ host and similar keywords could be extracted and placed in the properties field, but this requires dedicated support for CUDA as language. This in turn would require a little bit of refactori

[2016-12-04 02:59] pragmaware commented on #1221
Well, there is an incomplete statement at the end of the first branch so the parser will switch to "single branch" mode and extract DrawGifText() instead of DrawText(). The only way to extract both prototypes would be to scan the file twice choosing a different branch at each pass and then possibly filtering out the duplicates. Pretty hard to do.

[2016-12-04 03:22] pragmaware commented on #1225
Yep, -D 'PR_EXTERN(x)=extern x' should work.

[2016-12-04 04:11] otandka commented on #1217
Thanks for the quick response.

I'd be happy to, but I don't know how.  I have never used Github before and am pretty weak with homebrew as well.  I went to the git repository where homebrew keeps the universal-ctags code and did a git fetch, but neither commit 6b6f0b6 nor ccc1c999 are visible.  My git remote -v looks like this:
[code]
Even after getting the new code, though, I'm not sure how to m

[2016-12-04 05:23] masatake commented on #1217
Do you have a clone repository for universal-ctags?
If yes, with following instruction you can get the source tree to which my changes are applied.

[code]

(... But is seems that my changes don't work well on Windows.)

[2016-12-04 14:06] masatake commented on #1220
me? or @sunbubble ?

If possible, implementing as separated language is better.  A tool can map to C after generating tags file.
Reporting different things in different terms is important job of ctags.

[2016-12-04 14:08] pragmaware commented on #1220
OK.

[2016-12-04 14:16] lvc commented on #1221
Hello,

Thank you for the quick answer. Is it possible to specify some option of the ctags to choose a different branch in this case?

Also it would be useful to have a `-U` option to undefine some macros (in opposite to `-D`).

Thank you.

[2016-12-04 14:26] pragmaware commented on #1188
Fixed via #1226

[2016-12-04 14:26] #1188 closed

[2016-12-04 15:08] sunbubble commented on #1220
Whatever you think is best. Thank you.

[2016-12-04 19:33] otandka commented on #1217
Thanks for your suggestions.  I've never used a shallow repository, but it obviously make sense in this situation.  I imported your commit/branch without trouble.

It was a little more complicated to figure out home brew, but I managed to build ctags directly in the git tree and install from there.

The new version works as I expected now.

Thanks again!

[2016-12-05 16:25] otandka commented on #1216
FYI, my current work-around is to run ctags twice, once for plain C and a second time for C++ and all other language types.  Fortunately, --exclude is *not* case-insensitive!
[code]

[2016-12-05 17:00] masatake commented on #1216
How about following option: ``--map-C=-.C``?

[2016-12-05 18:13] chrisarcand opened #1228 "Duplicate kind letters issue"
Hello! This issue stems from conversation by @masatake in https://github.com/universal-ctags/ctags/issues/1062

I use a plugin that has very odd behavior from Exuberant Ctags to Universal Ctags, and it concerns duplicating kind letters. I try and adhere to the warnings I've recently discovered about using unique letters, and it seems to just not work:

![](http://screenshots.chrisarcand.com/h092q.

[2016-12-05 19:50] dfishburn commented on #1206
Works like a charm, appreciated.

[2016-12-05 19:58] dfishburn opened #1229 "SAPUI5 / OpenUI5 support"
The javascript parser supports SAP's UI5 framework, which was also open sourced as OpenUI5 ([](http://openui5.org/).

I added the initial support for it in Exuberant tags and I work with it daily.  I have updated the support for it in universal tags.  I will include a pull request for my changes.  Fixed a few other issues along the way while I was testing.

I do have some questions about adding te

[2016-12-06 00:21] masatake commented on #1229
Could you look at http://docs.ctags.io/en/latest/units.html ?

[2016-12-06 00:22] masatake commented on #1229
After getting your pull request. I would like you to allow me to rearrange your code. I would like to introduce language named OpenUI5 based on your pull request.

Backgroupd:

Some of languages has "dialects". For example taken from your issue, Javascript language has OpenUI5 as a dialect. Another example is in #1227; C++ has CUDA as a dialect.
Python has CPython. M4 has autoconf. Make has Automa

[2016-12-06 00:37] masatake commented on #1228
[code]

As the list shows `f` is for methods. If your regex pattern finds more methods, you should/can use `f`. However, for capturing another things, use different kind letter.
The motto of universal ctags is |using "different name for different thing, client tools can unify them later as own needs".

Do I make sense?

BTW, you should not use whitespace in kind long name. In --regex-<LANG> arg, y

[2016-12-06 00:44] masatake commented on #1228
Can I access your .ctags as a text file? An image doesn't help me.

[2016-12-06 04:58] otandka commented on #1216
I'm not sure how to interpret --map-C=-.C.

I think you can accomplish the case-insensitive goals for filename extension => language selection with the current langmap mechanism.  Basically, case sensitive and insensitive systems would be initialized with different default maps for extension => language.  The only new feature is a way to specify case canonicalization when a mapping isn't found (an

[2016-12-06 06:58] masatake commented on #1216
I'm sorry but I don't understand what we are talking about. (You man know I'm bad in English. and I don't know MacOS.)

My understanding:
1. You are using MacOSX and case-sensitive fs(or mode?).
2. You are using homebrew-build ctags, which is built for case-insensitive environment.
3. You have C++ file which suffix is `.C`. (input.C).
4. homebrew-build ctags parses input.C as a C file. So you cann

[2016-12-06 15:43] chrisarcand commented on #1228
Sure can, here you go: https://github.com/chrisarcand/dotfiles/blob/master/ctags/ctags.symlink

Hmmm it sounds from your assessment that the CtrlP plugin has some issue with capturing other kind letters than aren't method-like. I opened this issue anyway because I can't figure out why it works when using Exuberant Ctags but does not when using Universal Ctags.

I'll continue to look at this and tr

[2016-12-06 17:40] masatake commented on #1229
(http://openui5.org/getstarted.html)

[2016-12-07 04:17] otandka commented on #1216
Masatake, your understanding is correct.  Thank you for your careful reading.

My bug report and follow ups have lacked focus and likely assumed more shared context than was warranted.  I will try to restate the problem and proposed solution.  I apologize in advance for the length.

I have never used Universal-ctags except very recently on MacOS (OSX) and I have very little experience myself with

[2016-12-08 10:48] xuhdev opened #1232 "Support string tags in a sqlite database file"
While plain text is good for human reading, huge tags files take long time to search. I suggest a database output option. If relevant, I've written a small c program to convert a tag file to a database format years ago: https://github.com/xuhdev/tags2db

[2016-12-09 09:37] karlb opened #1235 "SQL parser generates wrong results when PostgreSQL's CREATE CAST is used in file"
When running ctags on a file containing

    CREATE CAST (type_a AS type_b)
        WITH FUNCTION type_conversion_function(type_a)
        AS IMPLICIT;

    CREATE OR REPLACE VIEW my_view AS
    SELECT 1;

the resulting tags file is

    !_TAG_FILE_FORMAT       2       /extended format; --format=1 will not append ;" to lines/
    !_TAG_FILE_SORTED       1       /0=unsorted, 1=sorted, 2=foldcase/

[2016-12-09 12:22] #1187 closed

[2016-12-09 12:22] #1217 closed

[2016-12-09 12:25] masatake commented on #1187
Please, reopen this if the latest code doesn't solve this.

[2016-12-09 13:43] #219 closed

[2016-12-09 13:50] masatake opened #1236 "Revise debug facility"
I like Cxx's debug facility. It is really helpful to hunt bugs.
It should be converted to main/trace.h or something.

[2016-12-09 13:58] pragmaware commented on #1220
Fixed via #1234

[2016-12-09 13:58] #1220 closed

[2016-12-09 14:14] sunbubble commented on #1220
Thank you very much!

[2016-12-09 14:31] masatake commented on #1235
Thank you for reporting. I like this kind of well written bug report.
Please, try #1237.

[2016-12-09 15:24] karlb commented on #1235
Thanks for the quick response and your work on this! It's a pleasure to submit bug reports when they help to get the problem resolved like this.

I can confirm that you change fixes the test case, but it still fails on a slightly more complicated case. For

    CREATE OR REPLACE FUNCTION my_func()
    RETURNS void
    AS $$
        SELECT 1
    $$ LANGUAGE sql IMMUTABLE;

    CREATE CAST (type_a A

[2016-12-09 19:55] masatake commented on #1235
Please, try #1237 again.

[2016-12-10 17:19] #1235 closed

[2016-12-10 19:57] Aaronik commented on #1068
For anyone in the future coming here looking for es6 support for ctags, which will be happening more and more as es6 becomes more normalized and widely adopted, consider using https://github.com/okcompute/es-ctags ([npm es-ctags](https://www.npmjs.com/package/es-ctags)), which works out of the box for me.

[2016-12-12 12:59] karlb commented on #1235
Now all problems I've noticed so far are gone. Thanks!

[2016-12-13 20:12] lvc opened #1241 "Incorrect detection of a symbol in libgit2 (regression)"
Hello,

The latest universal ctags incorrectly detects a symbol in the code (include/git2/zlib.h from libgit2 0.11.0):

    GIT_INLINE(size_t) deflateBound(z_streamp stream, size_t s)
    {
        return (s + ((s + 7) >> 3) + ((s + 63) >> 6) + 11);
    }

This command detected `GIT_INLINE` instead of `deflateBound`:

    ctags -x --C-kinds=fpvx --languages=+C --language-force=C include/git2/zlib.

[2016-12-13 20:27] lvc opened #1242 "Doesn't detect a symbol from httpd (regression)"
Hello,

The latest universal ctags (249c3c0c2a974ab03f7c307684563239096399a8) doesn't detect the symbol `ap_os_create_privileged_process` in this code (include/ap_mpm.h from httpd 2.4.18):

    AP_DECLARE(apr_status_t) ap_os_create_privileged_process(
        const request_rec *r,
        apr_proc_t *newproc,
        const char *progname,
        const char * const *args,
        const char * cons

[2016-12-16 13:15] masatake commented on #1242
Sorry to be late. I have a question. e5b7a25 is found by git bisect? or not?
I think this bug may be introduced when @pragmaware worked on attribute for function which I asked him to fix. This one and #1241 may spot the same bug.

This is a bug but may be difficult to fix, I guess.

[2016-12-16 13:17] masatake commented on #1242
I don't have time to fix now, but this bug has impacts on my daily life. I will find time anyway.

[2016-12-16 17:53] b4n commented on #1242
Maybe the parser could have heuristics for this kind of things, but well, I let @pragmaware decide if it's worth it/doable without breaking many things.

But with his new preprocessor, you can easily fix the issue with `-D 'AP_DECLARE(x)=x'`:
[code]

[2016-12-16 22:21] pragmaware commented on #1242
Yes, that part of the parser was first too "permissive", then I made it too strict. I guess I'll have to find a way to make it go somewhere in the middle. I'll try to fix it now.

[2016-12-17 00:29] pragmaware commented on #1221
Choosing a different branch via an option is hard to do since the incomplete statement is detected once the first branch has been already chosen. The only way I see to handle this is to implement (possibly optional) #ifdef expression evaluation at preprocessing level.

[2016-12-17 00:40] pragmaware commented on #1236
Please take a look at #1246.

[2016-12-17 06:38] masatake commented on #1242
@pragmaware, thank you.

Could you ask write about the powerful `-D` option to `http://docs.ctags.io/en/latest/parser-cxx.html`.
This is not the first time we let a user know `-D` option.

[2016-12-17 07:26] masatake commented on #1232
u-ctags has json input and output. Do you think storing directly to a database from ctags is still useful?

I'm looking for ctags internal on memory database to improve the functionality of corkAPI.

https://github.com/universal-ctags/ctags/issues/423#issuecomment-119163182
http://docs.ctags.io/en/latest/internal.html#cork-api

[2016-12-18 03:18] ivanbrennan opened #1247 "etags: severe performance and file-size issue"
I'm generating etags for a large Rails app. Prior to using Emacs, I was generating ctags for Vim:
[code]
This took about a second and produced a 7MB file. With the `-e` flag, it takes 80 seconds and produce an ***8GB*** file.
[code]

I initially thought it was a problem with etags in general, but I've since found that the `etags` executable that came with Emacs 25.1 takes 13 seconds and produces a

[2016-12-18 03:35] masatake commented on #1247
Could you provide any input files? I cannot debug ctags without them

[2016-12-18 03:45] masatake commented on #1247
Which parser do you use ? ruby only?

[2016-12-18 03:52] ivanbrennan commented on #1247
It's a private (work) repo. I tried to repo on a large public Ruby project -- Rails -- and was unable to, so maybe it's something specific to the repo I'm working with.

I'm not sure which parser I'm using. How could I check that?

[2016-12-18 04:14] masatake commented on #1247
How about following command line:
[code]

You can know which input files take time and output size.

[2016-12-18 04:21] masatake commented on #1247
Sorry, I cannot debug ctags well for private input.  I need the way to reproduce locally.
Could you reopen this if you can find the way to reproduce with input file public-ally available?

[2016-12-18 04:26] ivanbrennan commented on #1247
@masatake What command did you run to produce the output above (showing time and size for each file)? That would help a lot. I tried the `--verbose` flag, and while that might also help (I see some json files being processed, which may be contributing to the problem), it doesn't give the time and size breakdown.

I'll see if I can narrow the problem down to a particular type of input and reopen th

[2016-12-18 04:29] masatake commented on #1247
Oh, sorry. Following command generates:

[code]

[2016-12-18 04:53] ivanbrennan commented on #1247
Looks like the json files are the main culprits. Adding `json` to the list of excluded languages takes the execution time down to about 4 seconds and the filesize to 282MB.

Still significantly slower and larger than `exuberant-ctags`, but nowhere near as bad as before. I'll see if I can trace the remaining difference to any particular filetypes.

[2016-12-18 05:53] masatake commented on #1247
May '--languages=-json' help you?

[2016-12-18 07:06] ivanbrennan commented on #1247
The 2nd biggest performance hit, though way less significant than the json, was `bootstrap.min.css`, which ate up most of the space (275MB) and took about 2 seconds to tag. I should probably exclude the `vendor` directory when generating tags.

There was another vendor css file whose tag was 5MB; after that the tag size dropped into orders of KB. I was surprised to see some .svg files in the list,

[2016-12-18 07:33] masatake commented on #1247
@ivanbrennan, thank you for reporting.

... I wonder we should provide a new option like `--make-tags-only-when-file-is-smaller-than=10MB`.

[2016-12-18 07:33] masatake commented on #1247
This will be FAQ. I should add this to our document.

[2016-12-18 10:05] b4n commented on #1247
The JSON parser is new in *Universal-CTags*, and is likely to generate quite a bit of tags indeed (one per node).  Maybe this parser could be disabled by default as it might not be so useful when tagging a lot of things, but is rather useful as a TOC-like thing?

If you could share the JSON input though, we could possibly try and profile the parser/check the output to see if there's another proble

[2016-12-18 22:03] ivanbrennan commented on #1247
I ran some more measurements to identify which files took longest to process and resulted in the largest tag files. The top offenders by either metric (time or size) were a large json file and a minified bootstrap stylesheet.

Taking inspiration from @masatake I generated a list of performance stats:
[code]
This produced a list of records showing the source-file-name, time spent tagging (seconds),

[2016-12-19 08:29] b4n commented on #1247
Oh wait.  Does the etags output truncate the source line reference?  on minified files if it doesn't it'll likely output the whole file for each tag, which will be crazy.  We fixed that, but was it only for ctags format output? @masatake

[2016-12-19 13:31] b4n commented on #1247
@masatake I just tried and that's it: etags output has the whole line, which is way too much.  We need to do something similar as to the ctags format, that is truncate to a max length.

[2016-12-19 13:48] ivanbrennan commented on #1247
@b4n That helps explain what was happening with that json case as well. It only has 2 non-blank lines, but they're 124,548 and 148,966 characters long.

[2016-12-19 14:05] masatake commented on #1247
I'm afraid I did something wrong. @ivanbrennan, thank you for reporting. I will inspect etags output.

[2016-12-19 15:24] masatake commented on #1247
I inspected how a pattern is handled in TAGS/etags/emacs.
It seems that as a tag entry a string started from the head of line to the target language object is needed.
Let's use an example
[code]
Here I assume whitespaces between int and main is very long. tags output of u-ctags can truncate the line:
[code]
In tags format a tag name(main) and pattern are separated. So incomplete pattern(pattern wi

[2016-12-20 16:41] masatake commented on #1229
I misunderstood your question.
To run test, do
[code]

Only about javascript do
[code]

How to write a test case, please read  http://docs.ctags.io/en/latest/units.html .

[2016-12-20 23:59] dgutov commented on #1247
Have you tried this? Emacs uses the hint to look for the line, not for the position inside the line.

Anyway, if you have huge lines, it's probably a minified file. Blacklisting files with extensions like `.min.js` and `.min.css` seems like a good default.

[2016-12-21 01:36] masatake commented on #1247
Yes, I tried. The truncation either from head or from tail, may break the hint to look for the line.

In tags, native format of ctags, u-ctags truncates such long lines. So, vi user can utilize the tags file for completion. (None may want to jump to the defintion.)  Though I'm an emacs user, not a vi user, I don't
put min files into built-in black list.

Should I put `*.min.css` and `*.min.js` to

[2016-12-21 01:46] #1225 closed

[2016-12-21 01:46] pragmaware commented on #1242
Closed via #1245

[2016-12-21 01:46] #1242 closed

[2016-12-21 01:47] pragmaware commented on #1241
Fixed via #1245

[2016-12-21 01:47] #1241 closed

[2016-12-21 11:26] dgutov commented on #1247
Could you give an example of truncation from head that leads to such a problem? E.g. by attaching a pre-generated TAGS file and a file it references.

I can look into that from Emacs's side.

[2016-12-21 11:26] dgutov commented on #1247
And please clarify what do you mean exactly by "emacs may not find the tag". Never finds it, or might not find in some circumstances?

[2016-12-21 11:28] dgutov commented on #1247
Emacs users can use TAGS for completion as well, BTW.

[2016-12-21 16:06] masatake commented on #1247
I prepared two input files: main.c and foo.c.
main function of main.c calls foo which is defined in foo.c.
Consider an emacs user wants to jump from the place where foo is called in main to foo's definition.

[code]

Let's consider whitespaces before foo is enough long.

Let's run GNU etags.
[code]

Of couse, generating TAGS will work fine.

Think about two files derived  from the original TAGS fi

[2016-12-21 22:42] dgutov commented on #1247
You can't make `tail-trunc.TAGS` by simply removing text from the generated file. There's nothing left! Certainly nothing to indicate that `foo` is defined in `foo.c`.

If you are truncating the tag hint such as the implicit tag name becomes incorrect (empty, in this case), the tag entry should include the explicit tag name. It goes before `�`, separated from the hint with ``.

[2016-12-22 00:36] masatake commented on #1247
So how u-ctags should truncate the entry for the input in TAGS output format?

[2016-12-22 00:41] masatake commented on #1247
BTW, tags output in u-ctags chooses the tail-trunc approach.

[2016-12-22 00:45] dgutov commented on #1247
The way I described in my previous message. Do you need an example of the output?

[2016-12-22 00:46] masatake commented on #1247
Yes, please. As you may feel, I'm bad in English. Actual examples may help me.

[2016-12-22 00:56] dgutov commented on #1247
Here's how it should look:

[code]

The characters surrounding `foo` are `\177` and `\001` respectively.

[2016-12-22 01:05] masatake commented on #1247
Oh, I see.

[2016-12-22 09:29] dgutov commented on #1247
Not really. The entry didn't have an explicit tag name field in the first place because the tag name could be derived from the hint implicitly.

An implicit tag entry is: hint, `\177`, numbers.
An explicit entry is: hint, `\177`, tag name, `\001`, numbers.

[2016-12-22 12:39] b4n commented on #1247
So we should just truncate the end of `hint` not to be overly long, yet allowing matching line starts (as apparently that's required), and add explicit tags basically everywhere.  Right?

[2016-12-22 13:40] dgutov commented on #1247
You could. But ideally, you'd only do that where required (to save on the file size). You check whether the truncated hint includes the tag name "implicitly", and if not, add the explicit tag name. You might have this logic somewhere in the code already, then the key is to perform truncation early enough.

Here are the implicit tag name conditions, to be clear: https://github.com/emacs-mirror/emac

[2016-12-23 18:35] dtikhonov opened #1249 "No rst2man = no man page"
I think that requiring that `rst2man` be installed in order to generate and install a man page is too much.  Here is my story:

When I recently installed a new system, I git-cloned Universal Ctags and installed it (as I always do).  Some time later, I wanted to look up a ctags option:

- `man ctags`
- `locate ctags.1`
- `find /usr -name ctags.1`
- WTF...

I went back to the cloned git repo and fou

[2016-12-23 20:37] b4n commented on #1249
IMO it's not a good idea.  IMO, the solution here is for those people to use release tarballs that contain those generated files, and to leave in Git only the actual sources.  Having generated files checked in creates noise at some point or another, e.g. if 2 contributors don't have the same version of *rst2man*, etc.
Also, where to stop?  Should *configure* be checked in, so people don't need Aut

[2016-12-23 22:15] dtikhonov commented on #1249
It's a matter of expectations: a successful configuration and compilation of a utility from source implies that all has been build correctly, including a man page.  In addition, people expect to need a C compiler for this.  Needing a ten-package Python toolchain for a converter few people heard of is silly.  IMO, of course...

Here is a _reductio ad absurdum_ the other way: I recently installed an

[2016-12-25 15:16] masatake commented on #1249
We cannot provide ctags.1 but we can do ctags.1.in.

The version number and the name of executbale are written in ctags.1.
They are decided when configure script is run. Therefore we cannot provide ctags.1.
What we can provide is ctags.1.in. The document is generated from rst file; ctags1.in is generated from ctags1.in.rst. Then the developers put both ctags.1.in and ctags1.in.rst to our git repos

[2016-12-27 12:51] dtikhonov commented on #1249
OK -- as long as there is a man page once ctags is built. :)

[2016-12-28 21:36] lvc commented on #1225
Verified with 6e839be606cbc750e6e6a7e6d16fe375adbef5ca. Works well.

Thank you.

[2016-12-28 21:47] lvc opened #1251 "Begin macro in the C header file beats first declaration"
Hi,

I'm trying ctags 6e839be606cbc750e6e6a7e6d16fe375adbef5ca on the NSPR 4.13 and seems that it doesn't catch first symbol declaration in each header file because of the begin macro.

The command

    ctags -x --c-kinds=fpvx --languages=+c --language-force=c test.h | grep PR_OpenAnonFileMap

returns empty output on the header content:

    PR_BEGIN_EXTERN_C

    /*
    ** comments ...
    ** bla

[2016-12-28 22:01] lvc commented on #1242
Ctags 6e839be606cbc750e6e6a7e6d16fe375adbef5ca detects this standalone symbol well. But the initial header file contains the following preamble for this symbol:

    AP_DECLARE_HOOK(int, mpm, (apr_pool_t *pconf, apr_pool_t *plog, server_rec *server_conf))

    /**
     * comment ...
     */

    AP_DECLARE(apr_status_t) ap_os_create_privileged_process(
        const request_rec *r,
        apr_pro

[2016-12-28 22:03] lvc commented on #1241
Verified with 6e839be606cbc750e6e6a7e6d16fe375adbef5ca. Works well.

Thank you.

[2016-12-28 22:33] lvc opened #1252 "Handle the special case of MACRO(data_type) variable;"
Trying to detect a symbol in the Python header file by the ctags 6e839be606cbc750e6e6a7e6d16fe375adbef5ca:

    PyAPI_DATA(PyTypeObject) _PyNone_Type;

The command

    ctags -x --C-kinds=fpvx --languages=+C --language-force=C test.h

returns incorrect:

    PyAPI_DATA       prototype     2 test.h          PyAPI_DATA(PyTypeObject) _PyNone_Type;

Adding of a `-D 'PyAPI_DATA(x)=x'` fixes the problem

[2016-12-29 04:38] masatake commented on #1247
I found u-ctags implement only explicit entry based output.
Just truncating from head approach may be enough.  I will make a PR.

[2016-12-29 05:13] masatake commented on #1247
See #1253.

[2016-12-29 05:47] masatake commented on #1216
In parsers directory the places where CASE_INSENSITIVE_FILENAMES is used are very limitted.
So I think we cannot say "to avoid the burden of filling the mapping with extensions in all case combinations." is enough reason for refactoring the code.

I think this is an issue about binary building on MacOSX. I don't know MacOSX but case-insensitive mount may be popular. Your usage, mounting case senst

[2016-12-29 05:55] masatake commented on #1216
I'm wrong. These block is for case sensitive matching.

[2016-12-30 18:07] ivanbrennan commented on #658
It would great if we had a tagged release so this could move forward. I made a PR to expose the `--with-universal-ctags` option in the [GNU global](https://www.gnu.org/software/global/manual/global.html#Plug_002din) homebrew [formula](https://github.com/Homebrew/homebrew-core/pull/8309), but it can't go forward while the universal ctags formula lies outside the homebrew-core repository.

https://g

[2016-12-31 01:50] pragmaware commented on #1242
Hm, this case is quite hard to fix without breaking other cases.
That is, an older version of the parser caught this one but did break in other places....

[2016-12-31 02:18] pragmaware commented on #1251
Yes, another ugly preprocessor case.

ctags emits a prototype symbol ``NSPR_API`` here. This is because the comments are stripped at preprocessing phase and ``PR_BEGIN_EXTERN_C`` has no following terminator. So the parser actually sees:

``PR_BEGIN_EXTERN_C NSPR_API(PRFileMap *) PR_openAnonFileMap(const char *dirName,PRSize size, PRFileMapProtext prot);``

as a single statement and chooses to emit

[2016-12-31 16:49] sim590 commented on #655
@ardumont. I see you have taken responsability of the debian package. What's the status? I know that it is not yet either in testing or unstable. Is there a package source I can safely build myself in the meantime?

[2016-12-31 19:07] ardumont commented on #655
Hello,

I successfully built and deployed a version (from end of october 2016, https://github.com/ardumont/universal-ctags/commit/7859817b5ef470650a83b82aef7b4ec1dbcc8096).
This is from the current master branch of my fork.

Note: Technically i deployed the package built from 'swh' branch which is one commit more from the master one. (for detail: https://github.com/ardumont/universal-ctags/commit/

[2017-01-02 08:44] #1247 closed

[2017-01-02 08:49] masatake commented on #1247
The issue about filesize is fixed. However, it is still slow because ctags reads whole line before truncating.
If possible truncating should be done in lower layer, read.c.

[2017-01-04 21:05] fidian opened #1261 "Bash functions do not need to be prefixed by `function`"
I have a bash script with some functions.

    #!/usr/bin/env bash

    a::test() {
        echo "test"
    }

    function a::anotherTest() {
        echo "another test"
    }

Running `ctags` on this file produces the following.

    $ ctags -f - --guess-language-eagerly a
    a::anotherTest	a	/^function a::anotherTest() {$/;"	f
    test	a	/^a::test() {$/;"	f

I would expect the second line to s

[2017-01-04 21:48] bittorf commented on #1261
BTW: is "a::test" even a valid shell-function name? see http://pubs.opengroup.org/onlinepubs/000095399/basedefs/xbd_chap08.html

<code>
"consist solely of uppercase letters, digits, and the
'_' (underscore) from the characters defined in Portable
Character Set and do not begin with a digit"
</code>

[2017-01-05 04:12] masatake commented on #1261
@fidian, I made a pull request that use isBashFunctionChar as the default value of check_char.

[2017-01-05 13:51] fidian commented on #1261
@bittorf As you noticed, Bash allows more characters in function names.  I did a fairly exhaustive study of the characters and my results are posted in https://github.com/tests-always-included/tomdoc.sh/issues/8.  In case you didn't know about it, TomDoc.sh is a great way to add doc blocks to Bash scripts.

@masatake Would that cause any issues with other shells?  Or are the chances of problems so

[2017-01-06 03:09] masatake commented on #1261
@fidian, can you find any really issue about the other shells?

I cannot find.

Let's consider following script for the other shells:
[code]

ctags introduced my change may create a tag "a::test". This identifier is not valid
as a function name in the shell. However, it means, this shell script itself is not valid
in the shell.  ctags (and its developers) tries hard to generate good tags file for

[2017-01-06 13:20] fidian commented on #1261
@masatake I do not know of any issues with other shells.  I would want to run this change past a comprehensive test suite, complete with obscure and convoluted files that work in their chosen language.  I don't know if your patch still passes all tests nor do I know about the quality of the tests in this project.  Sorry for my ignorance.

I could imagine a shell's tokenizer treating all `-` as mat

[2017-01-07 15:45] masatake commented on #1261
Thank you.

sh parser is not token based parser. It is designed in less restricted way. It is rather line oriented.

We don't have such comprehensive test suite you mentioned, so we have to try anther approach; just applying the change and waiting for another bug report:-P.

[2017-01-08 06:42] #1261 closed

[2017-01-09 15:23] danobi opened #1266 "HTTPS is broken for ctags.io"
I didn't find any existing issues about this after a quick search. Please see attached picture:
![ctags https](https://cloud.githubusercontent.com/assets/824615/21771500/31aa87c2-d64d-11e6-9d50-0bedc663dd19.PNG)

[2017-01-09 16:53] masatake commented on #1266
@cweagans, could you look at this?

[2017-01-09 17:26] cweagans commented on #1266
It's been broken for a while, I think. I'll take a look.

[2017-01-09 17:53] cweagans commented on #1266
Actually, this was a new problem. Looks like it's because I changed DNS providers. I've resolved this, but it's waiting on DNS propagation. Closing for now, but feel free to reopen if this error doesn't go away within 24 hours.

Note that I'll be moving the site to my server so that we can have true HTTPS (right now, the connection between Cloudflare and Github isn't secure, so that could still be

[2017-01-09 17:53] #1266 closed

[2017-01-10 03:25] masatake commented on #1266
Thank you.

[2017-01-11 03:36] otandka commented on #1216
You are right that my usage not not a common case.  However, I cannot change the project I am working on, it has 1400 .C files and is 20 years old.  It probably seemed like a good idea at the time...

[2017-01-11 03:39] masatake commented on #1216
I see. In such case I recommend you to build your own case-seinsitive ctags binary.

[2017-01-12 21:07] pragmaware commented on #1236
Closed via #1269

[2017-01-12 21:07] #1236 closed

[2017-01-13 01:49] #996 closed

[2017-01-15 17:23] bastien-roucaries opened #1272 "Making release"
Hi,

I order to package for debian, I need some version and tar.gz.

could you made a release even experimental ?

Thanks

[2017-01-19 02:55] steveno commented on #1272
See #1038

[2017-01-19 08:48] kendling opened #1275 "Unicode parse incorrect!"
See the result tags file.
![screenshot_20161226_094605](https://cloud.githubusercontent.com/assets/3919496/22099569/dbd5e6c6-de66-11e6-9362-63be8d36fbf7.png)

The simple example header file.
[a.zip](https://github.com/universal-ctags/ctags/files/716057/a.zip)

[2017-01-19 13:19] t-b commented on #1272
@bastien-roucaries
Sorry for the dump question. Byt why is an arbitrary tag better than an arbitrary commit? Can't you build a package from c27e1a5f24fcd7a4025f0d5bfe3f2d4311a53754?

[2017-01-19 14:08] NoctuaNivalis commented on #1272
@t-b many package-managers simply require you to package a versioned release.

[2017-01-19 15:26] t-b commented on #1272
@NoctuaNivalis Not sure about the term package manger here.

In debian packages from arbitrary git commits are normal. E.g. the package [libnss-securepass](https://tracker.debian.org/pkg/libnss-securepass) in debian wheezy is build from https://github.com/gplll/nss_securepass/commit/2299135d80142f0810379f3589e25b5764637815.

[2017-01-19 16:04] NoctuaNivalis commented on #1272
I wasn't sure about the term myself. Package repositories?

[2017-01-21 16:50] masatake commented on #1275
Sorry but Universal-ctags may not support multi-byte strings.
However, about the input, `--pattern-length-limit` option may help you:

[code]

[2017-01-21 23:47] blueyed opened #1278 "Segmentation fault on ycmd"
TEST CASE:

[code]

RESULT:
[code]

`coredumpctl gdb` with `bt` gives me only this:
[code]

[2017-01-22 02:22] hexchain commented on #1275
Any plan to support multi-byte strings?

[2017-01-22 02:32] masatake commented on #1275
I will not reject the contribution for supporting multi-byte strings  but I will not work on it.

[2017-01-22 02:36] masatake commented on #1278
Not reproduced.
We have to find out the input file name which triggers  the crash:

[code]

[2017-01-22 07:18] kendling commented on #1275
Hi Masatake,

  Thanks for your reply, I will try the parameter for my repo.

Kend - vNet Studio
http://MyvNet.com

2017-01-22 10:32 GMT+08:00 Masatake YAMATO <notifications@github.com>:

[2017-01-22 17:05] blueyed commented on #1278
It is triggered by `--guess-language-eagerly` in `~/.ctags`.
But I was using an old version here, too.
`0.r4186.0f13d82-1`

It does not crash with ` 0.r4605.9ea78ad8-1` anymore.

Sorry for the noise.

[2017-01-22 17:05] #1278 closed

[2017-01-23 13:38] b4n commented on #1275
A poor man's check could be not to split on bytes passing `(byte & 0x80) == 0x80`, which matches UTF-8 sub-bytes.

Maybe something like this for cutting (untested, just from the top of my head):
[code]
Of course it's wrong, but it should avoid cutting UTF-8 sequences in the middle, which likely would avoid most cases.  If people use UTF-8.

[2017-01-23 13:45] b4n commented on #1275
@hexchain

It would be great especially as languages are getting more and more crazy allowing Unicode identifiers (seriously, I still don't understand how this isn't a toy, but whatever).

However, it's a *complex* task. It's not trivial to convert (but there generally are system libraries to do it), and it's close to impossible to properly guess the encoding.  If it's only not to cut in the middl

[2017-01-26 02:18] driechers opened #1285 "Travis CI Hangs before apple builds"
The Linux builds on Travis complete in a couple of minutes, but when it goes to the Apple builds it hangs for sometimes over an hour before it starts to even produce build logs.

[2017-01-26 19:16] masatake commented on #1285
Can we do anything about this issue?

[2017-01-30 03:29] masatake opened #1288 "anonReset should be called from main side"
anonReset function is exported from parse.c. The original intent is that the function should be called from each parser which uses anonGenerate.

However, developers including I may forget this. This should be done in main side.

[2017-01-30 08:26] b4n commented on #1288
Sounds reasonable indeed, there shouldn't be any reason why a parser would legitimately want not to reset this.

[2017-01-30 13:06] #1212 closed

[2017-01-31 03:40] masatake opened #1289 "English question: extra or extras"
I'm working on adding ``--extra-<LANG>=`` option.
I need your help about the option names.

Though ``--<LANG>-kinds=`` and ``--fields=...`` in exuberant-ctags are represented in plural forms,
``--extra`` is singular form.

Do you think this is inconsistent?
Adding ``--extras=`` and ``--list-extras`` is bad idea?

[2017-01-31 11:31] masatake opened #1291 "FQ tag is never emitted in xref and json output if a parser uses cork"
because `buildFqTagCache` method is not implemented in these writers.

[2017-01-31 19:32] codebrainz commented on #1289
If the value after the `=` is multiple things, like `--<LANG>-kinds=` then it should be plural, I think.

[2017-01-31 21:06] masatake commented on #1289
@codebrainz, thank you.

[2017-02-01 03:47] codebrainz commented on #1289
Sounds reasonable.

[2017-02-02 04:52] masatake commented on #1213
push request was successfully accepted.
What we got is not only parser but also its developer:-P
http://people.redhat.com/yamato/talks/recruitingsource.pdf

[2017-02-02 04:52] #1213 closed

[2017-02-02 14:46] vladak opened #1296 "provide backward compatibility for automake without AM_SILENT_RULES"
On a system with automake 1.10 I am bumping against

[code]

This is because this macro was introduced in automake-1.11: https://autotools.io/automake/silent.html

The way how to provide backward compatibility for older automake versions is to do this:

[code]

[2017-02-02 18:24] masatake commented on #1296
[code]
If `AM_SILENT_RULES` is never used in our source tree, I wonder why
AM_SILENT_RULES should be defined with `m4_ifdef`.

The effect of your patch looks the same as following patch
[code]

Am I wrong ?

[2017-02-02 18:24] masatake commented on #1296
Anyway 1.10 is too old.

[2017-02-02 18:46] b4n commented on #1296
@masatake `m4_ifdef` expands to the second argument if a macro of the first name is defined.  The goal here is to only use that macro when available.

Is passing no argument the same as `yes`?  I'm not sure, the [Automake doc](https://www.gnu.org/software/automake/manual/automake.html#index-AM_005fSILENT_005fRULES) isn't clear.

Otherwise, the change looks good to me if it's all it needs.

[2017-02-03 00:52] masatake commented on #1296
@b4n, thank you. Did you try the patch?

After applying the patch, make prints `gcc ...` on my environment:

[code]

I guess the patch should be:

[code]

[2017-02-03 08:20] b4n commented on #1296
Yeah, as mentioned I didn't know what the default is when explicitly calling `AM_SILENT_RULES`; but your test shows it's not to enable silent rules.  So if we want them on by default, your change is good.

Whether we want them or not on by default I'm not sure.  The [Automake manual says](https://www.gnu.org/software/automake/manual/automake.html#Automake-Silent-Rules):

I generally enable them on

[2017-02-03 19:45] #1289 closed

[2017-02-05 04:25] rawaludin opened #1297 "Strange error about go"
When I generate php tags using `ctags -R --languages=php --php-kinds=cfit`, I got this error:

[code]

Here is my ctags version:
[code]

[2017-02-05 04:26] #1297 closed

[2017-02-05 04:59] masatake commented on #1297
You may find you defined go lang in your ~/.ctags.

[2017-02-05 05:08] #1291 closed

[2017-02-05 05:14] masatake commented on #1296
I don't have an access to environment where automake-1.10 is installed.
So I don't know whether my change works well with the old automake or not.
I'm waiting for your pull request that is tested with automake-1.10.

[2017-02-05 05:14] #1296 closed

[2017-02-05 05:15] masatake commented on #1285
Really slow but I cannot do nothing.
Can I solve this by paying for the sevice?

[2017-02-05 05:15] #1285 closed

[2017-02-05 05:17] masatake commented on #1272
I don't make a releasae with old man page. man page must be updated.

[2017-02-05 05:17] #1272 closed

[2017-02-05 05:22] masatake commented on #1249
As I wrote I got too many troubles for getting good enough ctags.1.in.
So I aborted the idea including ctags.1.in to our repository.
Feel free to reopen this if you find good solution.

[2017-02-05 05:22] #1249 closed

[2017-02-05 05:23] masatake commented on #1249
BTW, putting the man page to docs.ctags.io is good idea.

[2017-02-05 18:00] b4n commented on #1296
@masatake I don't either anymore, but I know that change works, I used it several times in the past.  See e.g. [Geany's `configure.ac`](https://github.com/geany/geany/blob/master/configure.ac#L12).

[2017-02-07 12:54] vladak opened #1299 "namespace as structure member name throws C parser off"
**Test file:**

[code]

**ctags version**:

[code]

**actual result from universal ctags**

[code]

**exuberant ctags**

[code]

**actual result from exuberant ctags**

[code]

[2017-02-07 16:29] masatake commented on #1299
This issue is also known as https://github.com/universal-ctags/ctags/issues/930 .

`.h` is handled by C++ parser by default:
[code]

Using ``--language-force=C`` is one of solution.

I cannot find any good solution for this issue.

[2017-02-07 17:03] vladak commented on #1299
Perhaps use 'extern C' as a hint to switch C  parser ?

[2017-02-07 17:04] vladak commented on #1299
More heuristics would definitely help, namespace has distinct syntax.

[2017-02-08 00:05] masatake commented on #1299
Very interesting idea! I have never think about this.
@pragmaware, how do you think about this approach?

I'm thinking about using promiseAPI (http://docs.ctags.io/en/latest/internal.html#promise-api).

[2017-02-09 13:32] #1288 closed

[2017-02-10 16:39] masatake commented on #1299
[code]

It seems that c++ compiler rejects code using a keyword as an indentifier even if in extern "C" block.

[2017-02-10 16:48] masatake commented on #1299
experimental code works well:

[code]

C++ parser detects `extern "C" {...}` as C language area; and schedules running C parser as a guest parser for the area. C parser accepts `namespace`, a keyword of C++ language as an identifier and tags it well.

HOWEVER, a real C++ compiler rejects such code as I wrote in the previous comment.

I will make a pull request. However, our C++/C parser maintainer

[2017-02-10 17:16] masatake commented on #1299
See #1303.

[2017-02-10 18:01] codebrainz commented on #1299
It makes sense, it's not valid C++ code. The test code in the original issue is only valid C code, it doesn't even make sense to have the `#ifdef __cplusplus` because if it's being compiled as C++ it's not valid code anyway.

[2017-02-10 18:19] masatake commented on #1299
Following may be the way to go, I think:
[code]

(selector may not solve this issue because C and C++ has too similar syntax.)

[2017-02-10 21:15] b4n commented on #1299
IMO it doesn't really make sense.  Using `extern "C"` suggests you're inside C++ code, and as mentioned above, it's not valid C++ to use keywords like this.  So as @codebrainz said I only see it fixing cases that are somewhat wrong anyway.  If the author really has an `extern "C"` and C++ keywords, something's fishy anyway.
And actually, seeing `extern "C"` would rather be a hint it's C++, not C :

[2017-02-10 22:51] pragmaware commented on #1299
`extern "C"` is a C++ construct. And it does not say that whatever is in the block is C code but that it has C linkage, which refers to functions and variables. C++ code is still perfectly valid within an extern "C" block so switching parsers is not a good idea.

Problems with "namespace" and "class" as keywords could be addressed by switching these keywords off in certain contexts.

[2017-02-10 23:46] masatake commented on #1299
See cxx-keywords-as-c-identifiers.b.

[2017-02-11 03:08] pragmaware commented on #1299
Yep, that unit test is quite hard to fix completly. However with #1304 I have greatly improved the output. Now typedefs and structures with C++ names are extracted and the parser does not bail out when C++ keywords are found in unexpected places but C++ language wasn't confirmed yet. This has some room for improvement but the complexity cost increases, so not sure if it's a good idea pushing it to

[2017-02-11 08:57] b4n commented on #1299
Agreed. While supporting all valid C and C++ cases is important, it might be wise to be cautious not to add too many workarounds, not to end up with an unmaintainable parser piled with interleaved hacks.
It's highly unfortunate C++ stole the `.h` extension from C, and that people actually use that, but we have to live in such a world.  So we switched to parsing `.h` as C++ by default, because ther

[2017-02-12 15:34] masatake commented on #1299
I prefer this retry approach if it can make the code of C++ parser simpler.
If the slowness is serious issue, the user should use `--language-force=C`.

[2017-02-17 08:30] vladak opened #1306 "function definitions in K&R style of C are no longer recognized"
**Test file:**

named `foo.c`:

[code]

**ctags version**:

[code]

**actual result from universal ctags**

[code]

**exuberant ctags**

[code]

**actual result from exuberant ctags**

[code]

[2017-02-20 15:55] masatake commented on #1306
Thank you for reporing.

[code]

It seems that `struct` in parameter declaration block handled wrongly.

[2017-02-20 21:52] #1299 closed

[2017-02-24 16:24] LemonBoy opened #1309 "C function pointer isn't detected"
Here's a minimal test case:
[code]

[2017-02-24 17:41] masatake commented on #1309
Smaller one:

[code]

Only `g` is captured.

[2017-02-25 01:54] codebrainz opened #1310 "Meta: Use Github labels for parsers"
It would be handy to have some labels for the Github issues for each parser, so we can tag issues/PRs related to particular parsers in order to more easily see all issues related to one in particular (which I tried to do today).

I don't have ability to add new labels, but I would gladly assist in tagging any issues I come across with the correct label(s) for their parser when looking at them on G

[2017-02-25 09:34] masatake commented on #1310
I'm very sorry that I forget to attach ctags repository to you.
Do you get the ability to add new labels now?

[2017-02-25 09:42] codebrainz commented on #1310
@masatake yes, I can assign and create labels. I will create/assign as appropriate. Thanks.

[2017-02-25 09:42] #1310 closed

[2017-02-27 17:47] masatake commented on #1310
@codebrainz, thank you.

[2017-02-28 17:25] BodoStroesser opened #1311 "In C, ctags misses local variable defined as an anonymous structure"
Hello,

I'm using ctags the first time. Great tool!

At the moment I'm observing that ctags does not list a local variable if it is defined as an anonymous struct. Example source:

[code]

When I now run "ctags -u -x --c-kinds=fl testfile.c", I get:

[code]

And with "ctags -u -x --c-kinds=fls testfile.c" the anonymous structure is also listed. But still the variable "mystruct" is missing in the l

[2017-02-28 17:36] BodoStroesser commented on #1311
Additional info:
If the initializer is removed from mystruct, ctags lists mystruct just as expected.

Modified source:

[code]

And now the output from ctags:

[code]

Best regards,
Bodo

[2017-02-28 23:31] masatake commented on #1311
Thank you for reporting this.

It is reproduced.
Shorter input:
[code]

[code]

[2017-02-28 23:58] masatake commented on #1311
With the following patch, mystruct is tagged well.
[code]

I'm not sure this fix is right or not. Currently our C/C++ parser may be busy. So It will take a bit longer time to fix this. I will take more time for this.

[2017-03-01 00:03] masatake commented on #1309
Though I have never see C source codes using the parenthesis that way, I would like to fix it because
this issue is nothing to do with C preprocessor.
But, for fixing this issue, much deeper knowledge about the Cxx parser code than I have.

[2017-03-01 00:22] masatake commented on #1311
It seems that this bug is nothing to do with scope.

[code]

Even in this input `s` cannot be captured.

[2017-03-01 07:46] LemonBoy commented on #1309
My test-case has been obtained by reducing [this](https://github.com/vim/vim/blob/ba748c8a847561c043a63827bcb1d98bdebe16e6/src/ex_getln.c#L4937,L4944) prototype found in vim heh

[2017-03-01 12:52] masatake commented on #1309
Oh, I see. The information is important to make us work hard:-P

[2017-03-02 16:59] BodoStroesser commented on #1311
Thank you for simplifying the testcase so much!

I also tested the patch you suggested. Unfortunately it does not work correctly. The last normal output now is the local variable that previously was missing:

`m                local      2032 /usr/src/apc_add_on/fct4/fct4_init.c } m = {"<Unknown>", "", ""};`

No other 'normal' tags are printed after this.

But: later in the same function different

[2017-03-02 17:25] vnStrawHat opened #1312 "JSON output is not available on ctags for windows"
I have download latest version of Ctags in here https://ci.appveyor.com/project/masatake/ctags but when I run ctags.exe with arg --output-format=json I got this message "ctags.exe: unknown output format name supplied for "output-format=json".

So, someone can help me build ctags for windows with json output support ?

Thanks.
Sorry for my English.

[2017-03-02 17:33] masatake commented on #1312
The json output requires libjansson. I don't know how to install it to windows and link it to ctags.
So I have to say "patches are welcome.".

[2017-03-02 18:06] masatake commented on #1311
[code]

x in not tagged with my patch.

[2017-03-02 18:36] BodoStroesser commented on #1311
I changed the test to:

[code]

Without the patch s is missing:
[code]

With the patch s is tagged, x no longer is 'local' but 'variable', the tag for typeof IMHO is wrong:
[code]

[2017-03-02 18:57] masatake commented on #1311
Thank you.
Good test cases driver developers.

See #1313.

(But #1309 is really hard to fix for me.)

[2017-03-03 03:23] pragmaware commented on #1309
See #1315.

[2017-03-03 03:54] pragmaware commented on #1252
A potential fix is #1316 . A super special case :)
The typeref is broken though (as the macro could actually expand to anything).

[2017-03-04 00:55] #1309 closed

[2017-03-05 00:06] #1311 closed

[2017-03-05 14:15] t-b opened #1317 "[RFH] Writing regex language extensions for utags"
[Sorry for misusing the issue tracker, I could not find a mailinglist or similiar]

The C++ parser outputs for the following code

[code]

[code]

I would like to use the feature to include more information in the tag line, `f` vs `f	class:MyClass	file:` in a parser written using the `--langdef`, `--regex-$lang` interface.
For the following code

[code]

I would like to generate an entry like

[co

[2017-03-05 16:57] masatake commented on #1317
This is the place for you; there is no mailing list.

Before starting discussion I would like to know  2 things about you.

Q1. whether you understand 3 important concepts of ctags: kind, field and extra.
Q2. scope of your interest: implementing a parser for igorpro or extending ctags

If your interest is a parser for igorpro, I recommend you to write it in C with regex.
See parsers/rpmspec.c and

[2017-03-05 17:02] masatake commented on #1317
(I will accept a parser implementation for proprietary language though I stand-by Free software side.
However, there are limitations: (1) a document explaining its syntax is available, (2) and enough test cases are provided.)

[2017-03-06 12:34] t-b commented on #1317
Thanks for your answer.

At a basic level, yes.

I've not yet decided. I've dived into the implementation of the `scope` flag in ctags/main/lregex.c and parsers/rpmspec.c.

However, there are limitations: (1) a document explaining its syntax is available, (2) and enough test cases are provided.)

If I'll implement an igor pro parser in c I will definilty describe it properly and also add tests.

[2017-03-06 18:14] masatake commented on #1317
Good.

[code]

So I would like to ask what is "specifier" in the entry: field name or kind name of upper scope?
I would like to know the intent. I guess you meant a field, not a kind of upper scope.

u-ctags extends the concept fields in exuberant-ctags(e-ctags). The fields in e-ctags is parser independent global concept. However, in u-ctags, a parser can define its own fields suitable for the lan

[2017-03-07 10:44] t-b commented on #1317
Yes exactly. static for functions in Igor Pro has a very similiar meaning as in C.

So to rephrase my original question: Is it possible to add additional fields like `properties` via the `--regex-<LANG>` interface? From my understand this is currently not possible and would thus require to exend u-ctags. Correct?

That's good to know, thanks.

[2017-03-08 03:26] masatake commented on #1317
Sorry, I had to answer this question first.
With --regex-<LANG> you cannot add an additional field. Extending u-ctags is needed.

Just adding the feature is not difficult. However, I find inconsistency between a parser(crafted parser) written in C and `--regex-<LANG>` based parser(optlib parser). They are not integrated well internally.
As the result though I added many new concept and infrastruct

[2017-03-08 22:09] pragmaware commented on #1306
Fixed via #1314

[2017-03-08 22:09] #1306 closed

[2017-03-08 22:09] pragmaware commented on #1252
Fixed via #1316

[2017-03-08 22:09] #1252 closed

[2017-03-09 11:52] t-b commented on #1317
Thanks @masatake for the comprehensive writeup. You persuaded me that I should write a crafted parser. I'll look into the optios when startings.

[2017-03-09 11:52] #1317 closed

[2017-03-11 05:39] lvc opened #1319 "Glew global data symbol is not detected"
Symbol __GLEW_AMD_gcn_shader is not detected in the header file GL/glew.h (GLEW 1.11.0):

    GLEW_VAR_EXPORT GLboolean __GLEW_AMD_gcn_shader;

Command:

    ctags -x --c-kinds=fpvxd -D"GLEW_VAR_EXPORT=export" GL/glew.h | grep __GLEW_AMD_gcn_shader

Ctags version: 16eccf02c3127978e7193c0ddcf1c2b79af792cc

[2017-03-11 08:40] masatake commented on #1319
I wonder why you specify "export".

[2017-03-11 09:02] masatake commented on #1319
Ignore my comment. I didn't know it is a keyword of c++.

[2017-03-11 21:30] masatake commented on #1319
[code]

It is nothing to do with export or GLEW_VAR_EXPORT.

[2017-03-11 21:42] masatake commented on #1319
[code]
Not reproduced.

[2017-03-11 21:43] masatake commented on #1319
How about adding --options=NONE to your command line like:
[code]

[2017-03-12 14:29] lvc commented on #1319
This was a typo. The following command works well:

ctags -x --c-kinds=fpvxd -D"GLEW_VAR_EXPORT=extern" GL/glew.h | grep  _GLEW_AMD_gcn_shader

Sorry for this)

Thank you.

[2017-03-12 14:29] #1319 closed

[2017-03-18 12:37] hubertgut opened #1321 "typedef & issues"
Tagging the Scintilla editor source PlatWin.cxx: With ctags-16eccf02-x86.zip 3/10/2017
Used custom delimiters in use: ?? |
WINAPI *typedef* 64 |D:\\PlatWin.cxx|  ???? /^typedef BOOL (WINAPI *AlphaBlendSig)(HDC, int, int, int, int, HDC, int, int, int, int, BLENDFUNC/
WINAPI *typedef* 65 |D:\\PlatWin.cxx|  ???? /^typedef HMONITOR (WINAPI *MonitorFromPointSig)(POINT, DWORD);$/
WINAPI *typedef* 66 |D:

[2017-03-20 19:54] haizaar opened #1322 "Can't get yaml parsing working"
I've built ctags from master (rev cbbf4fe). And I can't get the yaml pasring  working:

[code]

Am I missing something?

[2017-03-20 22:10] masatake commented on #1322
Currently yaml parser tags only anchors and alias(only when `r`(reference extra tag) is enabled).

For
[code]

What kind of output do you expect?
`a`, `b`, `c`, and `d`? How about `something`?

[2017-03-20 22:27] masatake commented on #1321
How about adding `-D WINAPI` as option:
[code]

However, I guess we can improve the routine  parsing function pointer declaration by tagging only the last token inside parenthesis. I have to think this more.

I don't understand this, What is query here? An example is needed. Are you talking about readtags?

Do you mean the default value, 96 is too short?
As far as I can remember this limitation is

[2017-03-20 23:17] haizaar commented on #1322
Thank you for clarifying. Since I'm new to ctags, I'll try to annotate my
files with anchors and see how it goes.

I need it for vim to help me working with large swagger schema​ definition
yaml files. For this use case, generating tags for first two levels of keys
is perfect. However since it may be worth creating a dedicated parser
(plugin) for swagger.

P.S. running `ctags --list-kinds` reveals

[2017-03-21 08:31] haizaar commented on #1322
Tried with anchors - works fine. Thanks!

[2017-03-21 08:31] #1322 closed

[2017-03-21 22:26] masatake commented on #1322
That is the point.
I'm working on implementing an infrastructure (API) for writing subparsers on a base parser.
In your case yaml is a base parser and swagger is a subparser.

Thanks. Fixed in HEAD.

[2017-03-22 06:10] haizaar commented on #1322
Great. I'll appreciate if you update this post when the API is ready, so I can try it out.

[2017-03-22 07:43] FrankCai opened #1324 "Cobol parser wrong tags"
When using ctags on Cobol code, it mistakenly recognizes every CONTINUE, END-EXEC and EXIT as tags. These are reserved words in Cobol and should be ignored.

[2017-03-22 15:10] masatake commented on #1324
Could you show me an example cobol file (and expected tags file for it)?
Before fixing the bug, I would like to make a test case.
Thank you.

[2017-03-24 14:32] FrankCai commented on #1324
Here's an example file:

[code]

Reserved words being recognized as tags: CONTINUE , END-EXEC , EXIT , FILLER
Tags not being recognized: IDENTIFICATION , ENVIRONMENT , DATA , WS-ABBRUCH-OBJMGR , WS-ABBRUCH-DB , WS-ABBRUCH-PGM , TCTOENV , TCWFLENG , TCPR , PROCEDURE

[2017-03-24 21:20] rnk opened #1325 "Windows tags files use a double-backslash directory separator, which shows up in Vim"
When I run universal ctags on Windows, the tags files contain paths with two backslashes. This is annoying because it's visible in Vim when I jump to the tag definition. Consider this line from my tags file for LLVM:
[code]
In Vim, the displayed file path is `llvm-project\\llvm\\include\\llvm\\ADT\\ilist_node.h`, instead of `llvm-project\llvm\include\llvm\ADT\ilist_node.h`.

It would be nice if th

[2017-03-25 03:11] masatake commented on #1325
Could you try `--output-format=e-ctags` option?
I don't have an access to WIndows PC.

[2017-03-26 00:18] hubertgut commented on #1321
Thanks for the prompt reply masatake

Quoting: Retrieving internal settings e.g. "--list-languages", "--list-kinds=all" ...
-D option might not be the ideal solution considering uncountable projects tagging

Please take others just as a note

[2017-03-26 02:58] masatake commented on #1322
I submit a patch set for implementing a subparser. https://github.com/universal-ctags/ctags/commit/9ac9b7a0f666234dcb1eff6486f6b0fd93d6d299

Swagger parser can be implemented on yaml parser with this new infrastructure. However, it is not enough.
Token API is not powerful enough. After implementing the token API, I can work on swagger parser. It takes more time.

[2017-03-26 04:12] masatake commented on #1321
I guess you mean "query", not "Quoting".
I think mixed outputs of `--list-*` options may make users panic. The outputs may be too complicated.
However, I'm thinking about introducing "--describe-language=<LANG>" or "--desscribe-parsr=<LANG>".

I see.

[2017-03-26 04:14] masatake commented on #1324
Thank you. I have just ordered a book about Cobol. Please, wait for awhile.

[2017-03-26 04:26] masatake commented on #1229
After thinking I rename what I called "dialect" here to "subparser".
See #1326, especially
https://github.com/universal-ctags/ctags/commit/9ac9b7a0f666234dcb1eff6486f6b0fd93d6d299 .
In this case, javascript parser acts as a base parser. openui5 parser can be implemented as a subparser based on the base parser.

[2017-03-27 13:55] masatake commented on #1324
Can I add your example as a test case to Universal-ctags source code repository?

[2017-03-27 13:59] masatake commented on #1324
How do you think about `FILLER`s ? Should ctags tag them?

[2017-03-27 14:16] masatake commented on #1324
Could you give me a hint about the `.` at the beginning of line where `WS-ABBRUCH-OBJMGR` is defined?
I cannot find it in a book about cobol in my hand.

[2017-03-27 14:25] masatake commented on #1324
I wonder whether we should record divisions.
They look like keywords.
However, it is useful when building scopes.

[2017-03-27 14:48] FrankCai commented on #1324
Sure

FILLER shouldn't be tagged. They are declarations without a name and can't be referenced from anywhere.

I cannot find it in a book about cobol in my hand.

Any character between columns 1-7 is ignored, except for * in column 7 which starts a comment. These columns are usually used for short in-line comments.

They look like keywords.
However, it is useful when building scopes.

`Division.`

[2017-03-27 18:04] masatake commented on #1324
Thank you for replying. I will reflect your commnts to my changes. I will make a pull request in a few days.

[2017-03-28 17:58] masatake commented on #1324
See #1324.

WIth the patch set,  you will get folllowing tags output for the example you showed:

[code]

[2017-03-29 01:11] masatake commented on #1321
Simplified the test case:
[code]

[2017-03-29 02:07] masatake opened #1329 "C: typedef'ed function pointer type returning struct type doesn't captured well"
[code]

`f` is not captured.

[2017-03-29 02:12] masatake commented on #1329
[code]
In this case `f` captured wel..

[2017-03-29 09:04] FrankCai commented on #1324
Great job, thank you. There's still a tiny issue, because comments are recognized as tags. When there's a '*' on column 7 the whole line should be ignored. You could adjust the test file to replace one of the comments
[code]
with
[code]
 to test this.

[2017-03-29 11:58] masatake commented on #1324
@FrankCai , thank you. I added one more commit for ignoring comment as you suggested.
See #1328.

BTW, which editor do you use?

[2017-03-29 12:01] FrankCai commented on #1324
I use ctags for Cobol in a custom extension for Visual Studio Code.

[2017-03-29 12:25] masatake commented on #1324
Oh, thank you. Interesting.

Do you want scope information?

[code]
CONFIGURATION	/tmp/input.cbl	/^       CONFIGURATION SECTION.$/;"	section
SPECIAL-NAMES	/tmp/input.cbl	/^       SPECIAL-NAMES.$/;"	paragraph
[code]
CONFIGURATION	/tmp/input.cbl	/^       CONFIGURATION SECTION.$/;"	section
SPECIAL-NAMES	/tmp/input.cbl	/^       SPECIAL-NAMES.$/;"	paragraph	scope:section:CONFIGURATION
[code]

[2017-03-29 13:28] FrankCai commented on #1324
Afaik inside one cobol file scopes are not really relevant. Sections don't hide/separate what's inside like functions or classes from other languages.

[2017-03-29 13:33] masatake commented on #1324
In ctags, the scope information shows where the tag is defined in parse-tree of source code.
It doesn't implies "visibility" of a symbol.

[2017-03-29 21:15] rnk commented on #1325
Yes, that fixes my issues.  I get tags lines like this:
[code]

I had to delete a line from the VS project file to get it to build. I'll send the patch along.

[2017-03-30 07:33] #1324 closed

[2017-03-30 19:01] #1321 closed

[2017-03-30 19:03] masatake commented on #1321
I merged my changes that fix the bug reported here. Feel free reopning this if the bug is not fixed with my change.

[2017-04-01 06:25] #1325 closed

[2017-04-01 13:05] hauleth commented on #1038
Ping?

[2017-04-01 17:54] masatake commented on #1038
I think it is far from releasing.

[2017-04-01 18:28] hauleth commented on #1038
@masatake I am not talking about full 1.0.0 release, but tagged versions like 0.0.1 (SemVer mention that anything that is 0.x.y is meant to be highly unstable) which would help with creating development packages for various package managers. This would also help with generating version as `git describe` would return current version in quite nice format.

[2017-04-02 15:05] masatake commented on #1038
Do you really need a tagged version?

https://github.com/universal-ctags/ctags/issues/1272

[2017-04-04 14:42] MaiLunJiye opened #1336 "Build error when run `$ ./autogen.sh `"
error is

[code]

environment：

     @#Linux  4.9.0-kali3-amd64 #1 SMP Debian 4.9.16-1kali1 (2017-03-24) x86_64 GNU/Linux

[2017-04-04 17:06] masatake commented on #1336
Could you show me the output of

1. /usr/bin/autoconf --version
2, /usr/bin/autoconf --force --verbose

?

[2017-04-05 08:12] MaiLunJiye commented on #1336
to be honest, it is my first time use autotools

[code]