[2015-09-07 10:23] masatake commented on #494
We got it. All tests are passed.

@k-takata, thank you very much for long time efforts to utilize AppVeyor.
Now we can see how ctags behaves on Windows.

regex feature on cygwin is still disabled. However, we can solve it in the future.
Now we can close this?

[2015-09-07 11:39] k-takata commented on #494
:clap: Let's close this.
Please merge #549.

[2015-09-07 11:39] #494 closed

[2015-09-07 12:56] #346 closed

[2015-09-07 13:00] masatake commented on #308
On AppVeyor I found ctags built on cygwin doesn't have regex feature.
It looks strange.

[2015-09-07 14:14] masatake commented on #62
https://lwn.net/Articles/656294/
Interesting article. I'm doing similar thing with https://github.com/masatake/srpmix7.

In these use case Ctrl-C should be pressed by software.

[2015-09-07 14:58] k-takata commented on #308
Strange. It is built with [+regex](https://ci.appveyor.com/project/masatake/ctags/branch/master/job/djnkqgyksn94of11#L537), but some tests (option-directory, regex and coproc) are skipped.
It doesn't happen when I run the tests on my local PC. All of them are tested and passed.

[2015-09-07 15:00] masatake commented on #308
Maybe it is something to do with newlines in features file.

[2015-09-07 15:23] masatake commented on #308
dos2unix is availabke in cygwin on appveyor?

[2015-09-07 16:00] k-takata commented on #95
Can we close this?

[2015-09-07 16:07] k-takata commented on #308
It wasn't installed. After I installed it, the tests are no more skipped.
I will create a new PR.

[2015-09-07 17:07] masatake commented on #505
@oscarfv, which test case you are talking about? I and @k-takata have worked hard to fix such failures on windows via AppVeyor. Could you try the latest code?

[2015-09-07 20:02] oscarfv commented on #505
I was thinking of #494, which was closed a few hours ago, not something that I tried.

MSYS2 now has a binary package for `universal-ctags`.

That binary package was created 6 days ago, based on 80256f44b95580c3c03fc517a2d1bd99f884bad3. Do you think it is important to rebuild with the latest code?

[2015-09-07 23:55] masatake commented on #505
Yes, a minor bug is fixed.

[2015-09-11 07:18] masatake commented on #537
We have to find a NORMAL test case first.

[2015-09-11 07:24] masatake commented on #528
It seems that this one is already fixed in
[code]

[2015-09-11 08:16] kcwu commented on #528
I can still reproduce this using latest master 13ea82733c8f55c1aad6ceb159da8cef5fc81782

[2015-09-11 09:22] masatake commented on #528
... I have no idea. Can I ask you to get a backtrace with gdb?

[2015-09-11 09:56] kcwu commented on #528
I found I can reproduce it with clang but not with gcc. The problem is
[code]
where type = K_NONE = -1.
It's out of bound access for SmlKinds[-1] and thus depends on memory layout.

[2015-09-11 09:58] masatake commented on #528
Oh, I see. Thank you. I will try to fix this.

[2015-09-11 22:29] oscarfv commented on #505
Thanks, as universal-ctags if built from git on MSYS2, it will be rebuilt rather sooner than later. Requesting a new build for solving a minor bug is not worth the trouble.

[2015-09-11 22:29] #505 closed

[2015-09-13 15:54] #528 closed

[2015-09-16 22:20] vhda opened #559 "Decrease autoconf minimum required version to 2.59"
Redhat 5.7 is still very common in engineering grid environments, but it only includes autoconf 2.59. It would be helpful to decrease the minimum requirements to this version in order to simplify the compilation process in this distribution.

[2015-09-17 02:26] p-montanus commented on #559
How about p-montanus@29b65cd77e8ad4eb46cb7c70585495413ac27f05?

But I believe, supporting old autoconf is not a good idea, its evil.
autoconf version is mainly developers issue. Porting newer autoconf to RHEL 5.7 is the right way.

[2015-09-17 09:48] vhda commented on #559
Can't the functions we're using from >2.59 be replaced with equivalent, even if longer or more confusing, functions from version 2.59? Do we really need to copy all this code?

[2015-09-17 12:43] vhda commented on #559
@p-montanus what about something like this https://github.com/vhda/ctags/commit/d1f656185b0bc50d056953be99fb80062b73230f?

[2015-09-18 06:09] p-montanus commented on #559
@vhda

Strictly, No.

Nice.
Works smoothly, and seems no ploblem.
But I do not prefer introducing ancient autoconf related code into configure.ac.

Sample appending fallback macro handling system with no modification to configure.ac branch:
p-montanus@01dfe09da4f0d3b458b327c3ee6314bc0ee76127

[2015-09-18 15:14] vhda commented on #559
@masatake do we really need the MKDIR_P variable?
In the same line we use MKDIR_P we also call `dirname` and we don't need any autoconf support for that.

Otherwise I'll just close this issue. It's not that hard to get a newer version of autoconf installed and no one really complained about this up until now.

[2015-09-18 22:51] masatake commented on #559
@vhda, I make a PR.
make tinst says nothing wrong even I removed mkdir_p related code.

[2015-09-19 11:14] p-montanus opened #565 "'autoreconf -W all' reports some warnings"
autoreconf reports some warnings.
[code]

#561 resolve this issue.

[2015-09-19 18:45] vhda commented on #466
Resolved with #470

[2015-09-19 18:45] #466 closed

[2015-09-21 09:57] vhda commented on #559
This was take from autoconf's documentation:

[code]

This project is rather small, so I think that the extra checking made by `AC_CHECK_HEADERS` when compared with `AC_CHECK_HEADERS_ONCE` is compensated by the extra level of compatibility with currently available Linux distributions.

@masatake if you agree, I'll create a PR with the above mentioned changes as soon as you merge yours.

[2015-09-21 14:53] vhda commented on #559
Pull requests #563 and #566 fix this issue.

[2015-09-21 18:16] viccuad opened #567 "Missing License/copyright information"
Hello, I'm in the process of packaging universal-ctags for Debian.
In the current form, this project is missing license and copyright information (which is a blocker for redistributing it in any way).

Currently,
- Some source files have a header stating "Gnu Project License" but no version (eg: main/main.c). I could understand it as GPL1 (or GPL v1+), but I don't know if that's the intent of it.

[2015-09-22 13:59] viccuad opened #568 "Changing binary name by configure makes tests fail"
Changing the binary names by the configure flag and running the tests makes some to fail.
[code]

The errors of course are rather silly, just the test expecting the default binary name and finding the changed one. Eg:

Contents of *Tmain/alias-for-unknown-language.d/stdterr-diff.txt*

[code]

[2015-09-22 22:22] petobens opened #570 "Add support for Matlab variables"
After seeing the work done by @vhda in #544, I was wondering if it is possible to add support for Matlab variables. Consider for example the following `foo.m` file:

[code]

It would be great if tags were generated for these variable.
Thanks in advance!

[2015-09-22 23:48] vhda commented on #570
Please try #571

[2015-09-24 08:03] masatake commented on #567
(Though I understand the importance, I don't want to increase my work.)
universal ctags is forked from exuberant ctags. As far as I know exuberant ctags ships as part of debian.
So universal ctags should follow exuberant ctags. exuberant ctags doesn't have Contributors.md.

I don't know it, too. (main.c comes from exuberant ctags.)
However, my understanding is GPL v2+ because COPYING, which also c

[2015-09-24 09:15] masatake commented on #565
I merged #561. Can I close this?

[2015-09-24 09:16] masatake commented on #559
@vhda, I merged mine and yours. Now is this issue solved?

[2015-09-24 09:21] p-montanus commented on #565
Yes. thank you.

autoreconf-2.69 and autoreconf-2.59 report no warnings now.

[2015-09-24 09:21] #565 closed

[2015-09-24 12:29] vhda commented on #559
Yes, ctags now compiles cleanly when using autoconf-2.59.
Thanks for your help.

[2015-09-24 20:46] dtikhonov commented on #567
Sure...  What should it say?

[2015-09-25 08:59] p-montanus commented on #482
I made just removing maintainer-mode branch.
Could I create a pull request?

[2015-09-25 09:46] vhda commented on #482
You can always create a PR :)

[2015-09-25 10:12] p-montanus opened #576 "make-variable 'datadir' and configure option '--datadir' are ambiguous"
Makefile.in contains variable assignment:
[code]
and 'configure --help | grep datadir' outputs:
[code]

`@datarootdir@` is the same as `DATAROOTDIR`.
In the make context, datadir means "@datarootdir@/@PACKAGE_NAME@", but in the configure context, datadir means "@datarootdir@". Not only that, '--datadir' option is not work.

[2015-09-25 10:33] p-montanus commented on #576
I propose renaming make-variable 'datadir' to 'pkgdatadir',
[code]
as existing make-variable 'pkglibexecdir':
[code]

[2015-09-25 10:39] p-montanus commented on #576
For consistency, I propose renaming 'pkgconfdir' to 'pkgsysconfdir', too.

from:
[code]
to:
[code]

[2015-09-25 10:59] p-montanus commented on #482
Wow really?
I created a pull request.

[2015-09-25 15:06] viccuad commented on #567
I have made pull request #578 fixing this issue. Please, tell my what do you think about it.

True, it is quite natural. Yet I'm not so sure that is legal enough. I have updated all those headers to include "version 2", that should be accurate enough.
About COPYING, of course one can use it how it pleases, but on GNU projects it only contains a copy of the licenses, and the headers on the source c

[2015-09-25 18:29] dtikhonov commented on #567
Looks good -- thanks!

[2015-09-26 13:28] b4n commented on #482
Have anyone checked the maintainer makefile don't have useful stuff we'd wanna keep somehow?  Otherwise, I don't mind at all, go for it.

[2015-09-26 15:57] #568 closed

[2015-09-26 15:59] masatake commented on #570
The original issue is solved by the commit.

[2015-09-26 15:59] #570 closed

[2015-09-26 17:16] masatake commented on #482
Release releated targets may be interesting but we can check is later when we will make a release.
Git will help us in such case.

[code]

[2015-09-27 12:36] viccuad opened #580 "Missing configure flag for dir naming (/etc/ctags, /usr/share/ctags, /usr/lib/x86_64-linux-gnu/ctags)"
I have looked at `configure --help` but I can't seem to find a flag for this.

Right now, if I install universal-ctags I get (among other things):

/etc/**ctags**/* (optlib, preload and corpora)
/usr/lib/x86_64-linux-gnu/**ctags**/*  (optlib, preload and corpora)
/usr/share/**ctags**/* (optlib, preload and corpora)

It would be useful to have a `configure` flag for changing those ctags dirs into o

[2015-09-27 13:31] viccuad commented on #567
Ok, I would say the pull request #578 is more in shape now, please let me know what you think.

[2015-09-27 16:50] p-montanus commented on #580
For discussion, quick-hacked branch created.
p-montanus/ctags@cb2ab8396922da639313fc9ddb18825375465a4a (includes #579 changes)

Add options to configure:
[code]

[2015-09-27 17:48] #576 closed

[2015-09-27 18:00] #482 closed

[2015-09-28 00:25] masatake commented on #580
@p-montanus, the changes of #579 is merged.

[2015-09-28 01:44] p-montanus commented on #580
Thank you for merging #579.
rebased.

[2015-09-28 06:01] masatake commented on #163
This issue hits me now.
Any patch I can try?

[2015-09-28 12:02] masatake commented on #567
Merge #578.
Is there any critical issue to make a debian package?
BTW, @viccuad, are you working on debsearch?

[2015-09-28 12:06] masatake commented on #580
@viccuad, the names of directories are not sutable.
See #92. Is it o.k.? I want to stablize it but I cannot find time to do it because there are so many critical issues.

[2015-09-28 12:07] masatake commented on #580
@p-montanus, why do you say "quick-hacked" about your branch?

[2015-09-28 12:40] masatake commented on #229
maintainer.mak is removed.

[2015-09-28 12:40] #229 closed

[2015-09-28 15:58] p-montanus commented on #580
Due to not well testing at that moment, and not thinking carefully about option names.

[2015-09-29 06:20] masatake commented on #580
Oh, I see. You can utilize misc/tinst script for install testing.

[2015-09-29 08:49] viccuad commented on #567
Thanks for the merge!

Currently I have a Debian package that works :) , but I would prefer to have #580 fixed before presenting it for review and inclusion in Debian (I haven't decided yet if it will enter Debian Unstable or Debian Experimental, given that we don't have a first release of universal-ctags).

About debsearch, nope, I'm not working on debsearch :)

[2015-09-29 08:49] #567 closed

[2015-09-29 10:05] vhda commented on #567
That is a very important comment.
@masatake we should probably start focusing on releasing our first version.

[2015-09-29 11:31] viccuad commented on #92
Here is my humble opinion; let me know what you think.

I have the same opinion as @majutsushi, I would prefer to simplify and merge both optlib and preload dirs into only one.

I would do a `lib` dir that would be in:

A. `/etc/ctags.d/lib/*.ctags` (or `/usr/local/etc/ctags.d/..` if using make install)
B. `~/.ctags.d/lib/*.ctags`

Users are not expected to touch A since it is owned by the root us

[2015-09-29 15:25] p-montanus commented on #580
Thank you for letting me know.
`make tinst` passed.

[2015-09-30 08:04] p-montanus commented on #580
revised: p-montanus/ctags@7f261846819b0ec8c5d86246fee993a2260f4666.
configure options are renamed form `--with-pkg*dir` to `--with-ctags-*dir`, and handle `without-*` cases.

If no exception to this specification in a half day, I will create a pull request.

[2015-09-30 13:02] p-montanus opened #584 "[Proposal] Arrange '-D' cpp macro definitions in Makefile.in"
I propose removing '-D' cpp macro definitions from Makefile.in and define these at suitable places.

all '-D' cpp definitions in Makefile.in are:
[code]

* `-Dbool=int`, `-Dfalse=0`, and `-Dtrue=1`: would be defined at config.h with stdbool.h checking, as could conflict stdbool.h.
* `-DCTAGS_COMMIT_ID=0x$(REV)`: would be defined at config.h with git command checking.
* `-DREADTAGS_MAIN`: would be

[2015-09-30 15:15] p-montanus opened #585 "[Proposal] Arrange compiler/linker option specifings in Makefile.in"
I propose arranging some compiler and linker option specifings in Makefile.in.

Target Makefile.in lines are:
[code]

* `-Wsparse-all`: would be specified via `AC_SUBST([CGCC_CFLAGS])` via  `AC_ARG_VAR([CGCC_CFLAGS])` ~~`AC_ARG_WITH([sparse-warning-flags])`~~ at configure.ac. and also, add `--with-sparse-cgcc` configure option.
* `--coverage` (CFLAGS): would be specified via `AC_SUBST([COVERAGE_CF

[2015-09-30 15:36] steveno commented on #585
:+1:

[2015-09-30 18:02] b4n commented on #585
If you do that to improve portability by providing alternative and conditional enabling of those features, why not.  Otherwise, I don't really see the point of the extra complexity.

Basically, for the flags used by all targets, sure it'd be great to check for them (and for C99 use `AC_PROG_CC_C99` obvly), if we mean to support non-GCC compilers through these makefiles (I hope we do, although I wo

[2015-09-30 18:06] vhda commented on #585
Just adding something to @b4n 's reply: you can always create a PR instead of an issue. The PR can contain not only the description of your idea, but also its implementation. By having everything in the same place it makes it easier for review. And the worst that can happen is the PR not being merged, right? No harm done! :)

[2015-09-30 18:11] b4n commented on #584
Good idea

Beware, as we might want this to change between configure calls, as this is not really a build option but tries to reflect the actual state of the code tree.

If really it'd only used there and never not defined, do we need to even keep the guard depending on this one?

makes sense

I would need to check exactly why/how they are needed, but sounds reasonable.

I don't think that's a goo

[2015-09-30 22:30] p-montanus commented on #584
Thank you for commenting.

I think, it has a semantic issue, what CTAGS_COMMIT_ID means:
a) means commit-id at the moment, `autoreconf` executed.
b) means commit-id at the moment, `configure` executed.
c) means commit-id at the moment, `options.c` or `entry.c` is compiled.
d) means commit-id at the moment, `make all` executed.
e) means commit-id at the moment, `make dist` executed.
f) means commit

[2015-09-30 23:22] p-montanus commented on #585
@b4n
Thank you for your comments.

Yes, it aims to improve portability and flexibility.

Excuse me. I will push the proposal branch soon.

[2015-09-30 23:22] p-montanus commented on #585
@vhda
Thank you for advising preferred way of proposing.
Next time, I will create a pull request, first.

[2015-10-01 01:07] masatake commented on #567
@vhda, I see.
As the first step, I labelled issue I would like to fix before releasing.
In the labelled items, tags file format related issues have higher priority.

[2015-10-01 01:08] masatake commented on #567
One more thing. Currently u-ctags is built with -DDEBUG.
This makes ctags very slow.

[2015-10-01 03:19] p-montanus commented on #585
proposal branch pushd: p-montanus/ctags@0ed4f862ef84f2503923c720874624cbb5c0e226.

[2015-10-01 04:36] masatake opened #589 ""--" at command line makes ctags crash"
[code]

[2015-10-01 14:54] masatake commented on #538
Simplified
[code]

[2015-10-01 17:44] masatake commented on #310
Now disabled. So I close this.

[2015-10-01 17:44] #310 closed

[2015-10-01 18:43] b4n commented on #589
`--` should probably actually be handled as a separator for options and filenames as many other program do.  But that's a separate question.

[2015-10-02 07:43] masatake commented on #589
Using -- as separator is good idea.

Any voluntteer? :-)

Hints:
- Call chain: processLongOption -> parseOption -> parseOptions -> ...
- Don't forget running ctags under valgrind when testing the code imlementing the separator.
  Memory handling in cArg* is a bit complicated.

[2015-10-02 08:13] #589 closed

[2015-10-02 08:16] #492 closed

[2015-10-02 08:50] #580 closed

[2015-10-02 08:55] masatake opened #596 "Utilize "--" as a separator for options and filenames"
@b4n wrote about ctags command line:
   -- should probably actually be handled as a separator for options and filenames as many other program do.

[2015-10-02 08:57] masatake opened #597 "Reject a space in kind name in regex parser"

[2015-10-02 08:57] masatake opened #598 "Rearrange a kind name which has a space character in xcmd parser"

[2015-10-02 09:00] masatake opened #599 "Extend tinst test target for testing --*--*dir"
--with-ctags-datadir', '--with-ctags-sysconfdir', and '--with-ctags-libexecdir' flags should be tested in tinst.

[2015-10-02 15:19] b4n commented on #585
That's good, but if it'll likely be controversial and requires a lot of work you probably still should talk about it first, not to waste your time.  Sure commenting with code often gives a lot more context and details, but wasting time on code that ends up rejected and that don't spawn anything better in the end would also be sad.

[2015-10-02 16:08] p-montanus commented on #585
Thank you for giving me guidelines - when/why should (not) create an issue.

[2015-10-05 02:23] masatake opened #607 "Testing the output of `--_list-kinds-full` with a xcmd"
`--_list-kinds-full=LANG` is tested in built-in crafted parser, optlib regex parser and xcmd based parser.
However the output of `--_list-kinds-full` (no LANG) for xcmd is not tested.

I forgot implement `--list-kinds-full` for xcmd. It will be fixed in #606.
After merging #606, a test case for the option should be added.

This should be done in Tmain, not in Units.

For testing dummy xcmd may nee

[2015-10-05 07:10] masatake commented on #519
https://github.com/arduino/ctags/blob/master/gir.c

This is very impressive parser. We should import this then generalize it.

[2015-10-05 07:54] masatake commented on #519
[code]

[2015-10-05 09:20] masatake commented on #519
Hard-coded version now works!!!

[code]

[2015-10-05 09:24] masatake commented on #519
Hey, @p-montanus, I need libxml2. What we should do in gentle way?
What I did is:
[code]

[2015-10-05 09:53] p-montanus commented on #519
Luke, use `PKG_CONFIG_MODULES` in configure.ac, use `@*_CFLAGS@` and `@*_LIBS@` in Makefile.in.

[code]
[code]

[2015-10-05 10:44] masatake commented on #519
Great. After merging your #592 and #601, I will put make a PR. Instead of targeting maven, I will rewrite ant parser with this new technology.

@ffes, @k-takana, and @cweagans, is libxml2 available on your maintained platform?
I found I can implement a XML based parser easily with libxml2. I would like to use it in ctags.
I would like to hear your comment about using libxml2.

[2015-10-05 10:55] masatake opened #608 "converting tags file to the input for https://github.com/anvaka/pm"

[2015-10-05 11:43] k-takata commented on #519
(@masatake You misspelled my name. I have fixed it.)

I confirmed that MSYS2 has libxml2 packages (`mingw-w64-i686-libxml2` and `mingw-w64-x86_64-libxml2`), so it would be easy to use libxml2 on MSYS2.
But I'm not sure we can use it on MSVC. (Maybe we can, but not so easy I think.)

[2015-10-05 11:54] masatake commented on #519
I'm very sorry.

But I'm not sure we can use it on MSVC. (Maybe we can, but not so easy I think.)I confirmed that MSYS2 has libxml2 packages (`mingw-w64-i686-libxml2` and `mingw-w64-x86_64-libxml2`), so it would be easy to use libxml2 on MSYS2.
But I'm not sure we can use it on MSVC. (Maybe we can, but not so easy I think.)

Thank you for the comment.

 Instead of reworking on ant.c, it will be be

[2015-10-05 11:55] #585 closed

[2015-10-05 13:39] b4n commented on #519
Spelled `PKG_CHECK_MODULES` it is Obi-Wan ;)

[2015-10-05 14:38] p-montanus commented on #519
Spelling is fixed, peacefully.
May the Force be with you.

[2015-10-06 06:57] masatake opened #610 "allow uints handling more than two input files in a test case"
I'm reading tex.c.

It seems that the value for `lastPart` file local variable reused over multipe input files.
This kind of bug cannot be detected with current units test harness.

[2015-10-06 16:25] masatake commented on #92
@viccuad, thank you for comments. I have been thinking again and again this issue.
The current result of my thinking is that we should not put any file at /usr.
Instead all *.ctags file in universal ctags source tree should be linked to ctags executable at building-time.
The basic idea is shown in my comment #544.
These days @p-montanus have been worked hard in building script. so that I can integ

[2015-10-06 19:07] rsdenijs opened #613 "Can not disable specific python-kinds"
In an empty directory

afile.py
[code]
I run
[code]
The tags file contains the class eventhough i told it not to!
[code]
the verbose output... is
[code]
Classes appear to be really off
[code]

In general i can not remove anything except (i)mports
What am i doing wrong?

I am have Ctags 5.9

[2015-10-06 19:19] masatake commented on #613
You are using exuberant-crags.
This is an issue tracker of universal-crags.
universal-crags is forked from exuberant-crags.
In universal-crag the bug is fixed in following commit.

[code]

Using universal-crags is one of the choice. However, there is no released version; it is still under development.

[2015-10-06 19:21] masatake commented on #613
[code]

[2015-10-06 19:29] steveno commented on #613
@rsdenijs  He really meant to say "ctags" not "crags"

[2015-10-06 19:35] rsdenijs commented on #613
Thank you, I was going crazy about this.
I didn't manage to find the the original bug report in ctags.
I find it surprising how little echo this issue had.

[2015-10-06 19:35] #613 closed

[2015-10-08 13:43] masatake opened #618 "Add --options-maybe= and --option-sans-xcmd="
`--options-maybe=FILE` doesn't make an error when ctags cannot find FILE.
`--options-sans-xcmd=FILE` forbids ctags running any xcmd during loading FILE.
An option combined of two is also needed.

[2015-10-08 14:16] elfring opened #619 "reserved identifier violation"
I would like to point out that identifiers like "[`_KEYWORD_H`](https://github.com/universal-ctags/ctags/blob/0ce38835ebc37f2a5a5340703c121a6bb3a85923/main/keyword.h#L9)" and "[`_READ_H`](https://github.com/universal-ctags/ctags/blob/7bd64c1dce347feeccb2e2398103f03aba50a78b/main/read.h#L9)" [do eventually not fit](https://www.securecoding.cert.org/confluence/display/c/DCL37-C.+Do+not+declare+or+de

[2015-10-08 14:19] masatake commented on #619
Sure. I'm waiting for your pull request:-P

[2015-10-08 14:30] elfring opened #620 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [ftell](http://pubs.opengroup.org/onlinepubs/9699919799/functions/ftell.html "Return a file offset.") ⇒ [readTagLineRaw](https://github.com/universal-ctags/ctags/blob/cb0939c78a40cc63761e1916b887670037bc8df4/readtags.c#L171)
- [printf](http://pubs.opengroup.org/onlinepubs/9699919799/functions/printf.ht

[2015-10-08 14:49] vhda commented on #619
Is there any lint tool available that can verify those rules for us?

[2015-10-08 14:56] masatake commented on #620
I wonder what ctags should do when printf is failed. Printing a message to stderr via fprintf and exiting are enough?

[2015-10-09 02:44] masatake commented on #536
(After introducing commits for solving this issue, longjmp/setjmp releated memory leaks are exposed.)

[2015-10-09 14:12] masatake commented on #543
Closed by #582.

[2015-10-09 14:12] #543 closed

[2015-10-09 14:13] masatake commented on #542
Closed by #582.

[2015-10-09 14:13] #542 closed

[2015-10-09 14:13] masatake commented on #541
Closed by #582.

[2015-10-09 14:13] #541 closed

[2015-10-09 14:13] masatake commented on #540
Solved by #582.

[2015-10-09 14:13] #540 closed

[2015-10-09 14:14] masatake commented on #539
Solved by #582.

[2015-10-09 14:14] #539 closed

[2015-10-09 14:14] masatake commented on #538
Solved by #582.

[2015-10-09 14:14] #538 closed

[2015-10-09 14:15] masatake commented on #537
Solved by #582. Thank you.

[2015-10-09 14:15] #537 closed

[2015-10-09 14:15] masatake commented on #532
Solved by #582. Thank you.

[2015-10-09 14:15] #532 closed

[2015-10-09 14:15] masatake commented on #531
Solved by #582. Thank you.

[2015-10-09 14:15] #531 closed

[2015-10-09 14:15] masatake commented on #529
Solved by #582. Thank you.

[2015-10-09 14:15] #529 closed

[2015-10-09 14:16] masatake commented on #530
Solved by #582. Thank you.

[2015-10-09 14:16] #530 closed

[2015-10-09 14:16] masatake commented on #536
I will remove longjmp.

[2015-10-10 13:49] LemonBoy opened #621 "Merge support for the Vala language"
The anjuta project has its own fork of Ctags [2] and it does provide support for vala via some patches [1] that would be nice to integrate into universal-ctags.

[1] http://abderrahim.arablug.org/GSoC2008/ctags-vala.diff
[2] https://git.gnome.org/browse/anjuta/tree/plugins/symbol-db/anjuta-tags

[2015-10-11 09:32] masatake commented on #621
Thank you for requesting.

We already have known it(https://github.com/universal-ctags/ctags/blob/master/docs/tracking.rst).

I studied more.

1. The license is explicitly shown at the top of source code(GPLv2+). Good.
2. It seems that it is written in Vala language. (A translator from vala to C is used.)
3. It seems that is has no test case.
4. It extends typeRef field.

Instead of merging the va

[2015-10-12 05:42] #584 closed

[2015-10-12 05:48] #536 closed

[2015-10-12 17:23] kcwu opened #624 "crash on parsing malform verilog file"
How to reproduce:
[code]
***update: should be ```./ctags.20151012.afl --language-force=verilog crash.verilog```***

gdb stack
[code]

this is found by afl-fuzz

[2015-10-12 17:33] kcwu opened #625 "crash on parsing malform R file"
how to reproduce
[code]

gdb
[code]

this is found by afl-fuzz

[2015-10-12 18:14] vhda commented on #624
In what commit was this run on?

[2015-10-12 18:19] vhda commented on #624
An in what type of machine?

[2015-10-12 18:40] kcwu commented on #624
with latest commit aa2547a62353462becabe918c5ed63f4e0bc15f9
on ubuntu 14.04 64 bits,
compiled with clang 3.6

[2015-10-12 19:46] vhda commented on #624
Currently away from pc. Could you try with gcc?

[2015-10-12 19:53] b4n commented on #624
Can't reproduce neither with GCC 5.2.1 nor CLang 3.6.2 on Debian x86-64, and Valgrind doesn't report any issue either.

[2015-10-13 00:36] kcwu commented on #624
sorry, i gave wrong file extension in my bug description. it should be crash.v or with --language-force=verilog

[2015-10-13 00:46] kcwu opened #627 "assertion failed on parsing malformed Perl file (perl.c:196)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-10-13 00:51] kcwu opened #628 "Assertion failed on parsing malformed Vera file (parsers/c.c:1050)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-10-13 00:55] masatake commented on #624
Reproduced.

[2015-10-13 01:07] masatake commented on #624
[code]

`tag->extensionFields.scopeKind` proints the 16th element of VhdlKinds.
Though, the number of the elements of the array is 9.

In other hands that of  SystemVerilogKinds is 19.

[code]

[2015-10-13 01:44] kcwu opened #629 "infinite loop with fortran parser on C file"
How to reproduce
[code]

It's found by forcing language as fortran against universal-ctags unit test files.

[2015-10-13 01:44] masatake commented on #628
Thank you for reporting.

As far as reading c.c, "interface" in vera is partially implemented.
veraTagKind doesn't handle "interface".

We may have to implement it completely for solving this.

example input can be found in:
http://www.asic-world.com/vera/hdl1.html#Interface_Declaration

[2015-10-13 01:47] kcwu commented on #629
and ```ctags/Units/cxx11enum.cpp.d/input.cpp```

[2015-10-13 01:48] masatake commented on #629
BTW You can do the same with fuzz target:
[code]

(I'm looking for better name for the target. It is not "fuzz".)

[2015-10-13 01:50] masatake commented on #629
SRHINK=1 spots the token.

[code]

[2015-10-13 05:58] masatake commented on #628
With following patch, the crash can be avoided.

[code]

[2015-10-13 13:31] masatake commented on #628
I have learned vera a bit.
clock, reset, enable, cout, data, ddr_dta_in, data_in, count. and nenable  should be recorded as tags.

[2015-10-13 16:50] QingmingHe commented on #629
fixed in #630

[2015-10-13 16:51] vhda commented on #628
A bit of trivia: SystemVerilog is a merge of Verilog, Vera and [others](https://en.wikipedia.org/wiki/SystemVerilog#History). Vera is no longer used that much, but I still see references to it in some old code.

I never worked with Vera, but if you want I can try to review it one of these days (free time has not been abundant lately).

[2015-10-13 20:24] #625 closed

[2015-10-14 03:01] masatake commented on #628
@vhda, thank you. I need your help. I want you to review exepcted.tags.
With my current patch, I got following tags file for `~/var/ctags-github/Units/vera-interface.d/input.vr`:
[code]

I introduced "signal" kind for Vera. It may be better to add a scope information(interface:sample_if) to each signals but I think I should not do it now.

After cleaning up the patch, I will make a PR. Could you r

[2015-10-14 03:09] masatake opened #632 "Rename fuzz target to semifuzz(or semi-fuzz)"
These days afl-fuzz becomes popular.
The target name "fuzz" makes confusion.
I'm looking for better name.

[2015-10-14 03:15] masatake opened #633 "Introduce truncation (or chop) test harness"
As @kcwu reports, EOF in input stream exposes hidden bugs of parsers.
We can do it better than the rabbit, awl-fuzz.

noise target injects a character in middle of input stream.
New truncation(or chop) test harness does the same but injects EOF.
noise takes very long time. However, truncation  will take much shorter than noise.

[2015-10-14 03:32] masatake commented on #628
https://github.com/benhoyt/inih

[2015-10-14 08:52] vhda commented on #624
Fixed in #634

[2015-10-14 13:43] vhda commented on #624
Fix merged.

[2015-10-14 13:43] #624 closed

[2015-10-14 13:50] masatake opened #637 "Use /var/tmp instead of /tmp"
On some platforms tmpfs is mounted to /tmp.
When ctags making a large tag file, ctags causes a OOM killer.

[2015-10-14 14:47] masatake commented on #163
I'm working this now.

[2015-10-14 14:51] masatake commented on #163
None may want to do tag-jump to such long input file. (Editor may hung:-P)
However, people may want the tag names for completion purpose.

My ideas is using `.{N}` regex pattern for omitting the pattern when a line is too long.

[2015-10-15 15:31] #629 closed

[2015-10-15 17:14] #628 closed

[2015-10-16 17:39] masatake commented on #627
A test case is added.

[2015-10-16 17:40] masatake commented on #627
Thank you for reporting this.

[2015-10-16 17:40] #627 closed

[2015-10-17 03:17] masatake commented on #163
Long patterns derived from long input lines make tags file too large. As I wrote it causes "disk-full" error or "OOM-killer".  Shorten pattern I wrote above comment mitigates it. However, there is one more issue.

Making such pattern hogs CPU clock.  For testing I use 1M bytes single line json input:
[code]

To make tags file for the input, it takes about 40 seconds:
[code]

Unacceptably slow.

I'

[2015-10-17 03:26] masatake commented on #163
Disabling pattern cache when an input line is not long improves the result.
[code]

This is acceptable.

[2015-10-20 03:53] masatake commented on #163
I found I took a fundamental mistaking.

It seems that `.{N}`, `.\{N\}`, or `.\{N}`. doesn't work well with vim.
Further more `.*` doesn't work, too.

input:
[code]

make a tag file:
[code]

Make a derived tag file which uses `.` in a pattern:
[code]

Failed in tag jumping(interactive operation)
[code]

Successful in tag jumping(interactive operation)
[code]

Am I missing something?

[2015-10-20 05:57] vhda commented on #163
From that list of commands, you did not copy `hacked.tags` into `tags` in the first jump attempt.

[2015-10-20 07:14] masatake commented on #163
???  I think I copied it. (I put a maker '>' to the original post).

[code]

[2015-10-20 07:20] vhda commented on #163
First you say that tag jumping failed, then you copy the file:

    [yamato@x201]/tmp% cat hacked.tags
    main    foo.c   /^int .ain(void)$/;"    f

Failed in tag jumping(interactive operation)

    [yamato@x201]/tmp% cp hacked.tags tags
    cp hacked.tags tags

[2015-10-20 07:24] masatake commented on #163
Oh, sorry.

I made misleading.
I showed hacked.tags as an example of tags file, with that tag jumping is failed.

[code]
I expected the above pattern using `.` matches "main()", but the pattern doesn't work as I expected.

[2015-10-20 07:34] vhda commented on #163
Currently boarding an airplane, so I can't provide further help. Sorry.

[2015-10-20 08:10] masatake commented on #163
@vhda, oh, thank you.

I found a pattern that works:
[code]
It seems that a backslash is needed before meta character.

Further more

[code]

also works. I will rewrite my patch.

[2015-10-20 12:51] vhda commented on #163
As far as I can see `'magic'` is disabled in tag patterns. You could force enable it including `\m` in the beginning of the pattern, but given that the pattern is generated automatically simply escaping the special characters should be enough :)

[2015-10-22 07:20] masatake commented on #140
Now srpmix7 can expand dsc/deb source.
After some code clean-up, I will study how to utilize it with ctags development.

[2015-10-22 14:59] masatake commented on #80
... I would like to hear your idea more with an example.

input:
[code]
In the first pass Foo is captured as a tag of class kind.
If I dump the state as tags file it will be:
[code]

In the second pass bar is captured as a tag of ...what?
Do you mean the kind of the tag is "Foo"?

[code]

I'm sorry but I need an example.  input and expected tags pairs are very helpful for me.

If we introduced ref

[2015-10-22 16:47] vhda commented on #80
Let try to pass along my ideas.

1. The first pass only identifies a subset of the supported kinds. In a object oriented language this subset would typically be "class" and/or "typedef".
2. In the second pass we identify all kinds, including the kinds identified in the first pass.
   * Each parser will define a conversion table for the special subset. E.g.: class->object; typedef->variable, which

[2015-10-23 01:21] masatake commented on #632
How about "garbage"?

[2015-10-26 09:00] masatake commented on #633
I wrote a prototype and run it. Surprisingly no bug could be found(VG=0).

[2015-10-27 00:41] #163 closed

[2015-10-27 05:46] masatake commented on #80
I think we can introduce "reference tag" and multiple-input-file multi-path (mm) parser separately.
As @shigio shows the concept "reference tag" can be introduced without introducing mm parser.
mm parser is useful for improving the quality of capturing reference tags. However, it is still useful
ordinary definition tags. Actually `bar` in your example is a definition tag.

We don't have enough kno

[2015-10-27 05:58] masatake commented on #80
[code]
typeref field is already avaiable. mm parser can used as facility for improving the quality of typeref fields in languages.

[2015-10-29 03:39] kcwu opened #646 "assertion failed on parsing malformed SystemVerilog file (verilog.c:357)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-10-29 05:14] masatake commented on #646
[code]

[2015-10-29 08:17] elextr commented on #63
@b4n, isn't another reason for not parsing in another thread to prevent having to make a copy of the Scintilla buffer.  ATM the parser blocks Scintilla, so it can't move the buffer (by re-allocating it) or the gap during a parse.

[2015-10-29 11:49] vhda opened #648 "Bug found in --python-kinds option while generating a tag file"
_From @yevhen-m on October 29, 2015 10:5_

Hey, I use ctags to generate tag files for python code.
I get an error, if I use --python-kinds=cf option
f stands for 'function' and is a valid python kind

here is a screenshot
![screenshot from 2015-10-28 18 30 45](https://cloud.githubusercontent.com/assets/10185058/10815484/0f795244-7e35-11e5-8fd5-85def6062c88.png)

Will be grateful, if you fix this i

[2015-10-29 11:49] vhda commented on #648
_From @masatake on October 29, 2015 11:48_

@yevhen-m, thank you for reporting. However, this is place for reporting an issue about u-ctags web site.
Please, visit https://github.com/universal-ctags/ctags/issues

[2015-10-29 11:50] vhda commented on #648
I've used https://github-issue-mover.appspot.com/ to move the issue over.

[2015-10-29 11:50] masatake commented on #648
Already spotted the place to be fixed.

[2015-10-29 14:31] vhda commented on #646
I'm considering simply removing the `Assert()` call from `vUngetc()`. The EOF is dealt with in all (AFAIK) loops inside the parser, so I see no point in having specific check for that in `vUngetc()`.

In this specific case the EOF is processed in `findVerilogTags()` and ctags exists cleanly with a valid tags output if the assertion is removed.

What is your opinion @masatake ?

[2015-10-29 16:31] masatake commented on #646
I wrote my understanding and proposal.

The Assert is not directly related of EOF; in this case EOF is the current input char. The Assert checks the last push-backed char. We want to verify the last push-backed char. So we should not remove Assert. I guess the assertion failure is trigged because the EOF leads the control to somewhere unexpected.
In such unexpected situation, things don't go as wr

[2015-10-30 09:14] #648 closed

[2015-10-30 14:15] yevhen-m commented on #648
Thanks, guys, it works now!!

[2015-11-02 19:36] Tranquility commented on #354
Hi, I want to package universal-ctags for Gentoo. Are there any plans to tag versions? If so, which visioning scheme will it follow and which will be the first version? Are you continuing the exuberant-ctags version or start fresh?

[2015-11-03 10:24] PSeitz opened #651 "C++ Declarations/References?"
Hi,

are declarations and references supported or is this planned? I gave it a try, but couldn't find them in the .tag file or in the options.

[2015-11-03 11:01] PSeitz commented on #651
Ok, I found out declarations(prototypes) are supported, but are disabled by default. You can enable them with 'ctags --c-kinds=+p'

I couldn't find something for references

[2015-11-03 11:24] PSeitz commented on #651
Okay there is a pull request to add references(#569). Great tool btw!

[2015-11-03 16:32] masatake commented on #354
@Tranquility, we don't have any plan yet.
I'll open an issue about it.

[2015-11-03 16:38] masatake opened #652 "Making a "release""
This issue is for tracking general issue for releasing .tar.gz.

I need at least one volunteer helping me updating ctags.1. If you are interested in, talk to me, here.
If I cannot find any volunteer, I will not make a release.

[2015-11-03 16:45] masatake commented on #652
The first of all, I would like to decide the version number: 6.0 or 1.0.

If we choose 6.0, we can use 5.99.n as number for beta version.
If we choose 1.0, we can use 0.99.n as number for beta version.

I prefer 6.0 but I don't have strong opinion.

[2015-11-03 16:48] masatake commented on #651
references has big impact on many areas of ctags.
I'm still thinking how to keep consistency.

[2015-11-03 17:47] cweagans commented on #652
My thoughts:

* Use [semver](http://semver.org/)
* Start at 1.0, as this project is not Exuberant Ctags  (other projects have done it this way. Neovim just tagged 0.1.0, while vim is at 7.3 I think)
* I could possibly be interested in updating ctags.1, but for clarity and transparency, can you detail what needs done?
* If this project is going to be around long term, I think we need to get serious

[2015-11-04 09:35] liugang commented on #652
There are too many ctags, is it possible to have  universal-ctags with other package name?

$ update-alternatives --list ctags
/usr/bin/ctags-exuberant
/usr/bin/ctags.emacs24

$ dpkg -L emacs24-bin-common|grep ctags
/usr/bin/ctags.emacs24

$ dpkg -L exuberant-ctags|grep ctags
/usr/bin/ctags-exuberant

[2015-11-04 18:41] #646 closed

[2015-11-04 22:34] giuse88 opened #654 "Scala support"
Would really nice and useful to have scala support.

[2015-11-05 12:17] vhda commented on #654
Hi @giuse88

I will try to setup a regular expression parser for Scala using the information available in:
https://leonard.io/blog/2013/04/editing-scala-with-vim/
https://github.com/luben/sctags

Could you please provide some small Scala example code files that would generate tags for all the types mentioned in the above links?

[2015-11-06 15:54] viccuad commented on #652
Hi, I'm packaging universal-ctags for Debian (in fact, the package is done since some weeks, and I'm just waiting for #92 to be fixed).

About using OpenSuse's OpenBuildService for providing a Debian package, it seems fine if you want to release a .deb as upstream, but for having it inside the Debian repos it seems more appropiate to package ir properly: to comply with Debian's Policy, be up-to-da

[2015-11-06 15:57] cweagans commented on #652
I would prefer that the binary name remain as `ctags`, and have this package conflict with exuberant-ctags.

The major benefit that I see about using OBS is that we can tag a release, kick off a new build, and the update is available immediately. How does that process work for Debian? Do we just wait for you or somebody else to update it?

[2015-11-06 16:02] vhda commented on #652
@cweagans in Debian the correct way is to have different binary names per package, but all being configured as a "ctags" provider. By default Debian uses a priority list to choose which "ctags" provider will be used, but the administrator can configure it manually also if necessary.
This allows having multiple packages that provide the same binary (like bash and dash for /bin/sh) to coexist in the

[2015-11-06 16:04] cweagans commented on #652
@vhda I see. So if somebody installs `universal-ctags`, and there are no other ctags providers, they'd still be able to just run `ctags` from their shell and `ctags-universal` would be the one that gets executed?

[2015-11-06 16:06] vhda commented on #652
@cweagans exactly!

Another example, which requires more steps than only configuring the alternatives, is having radeon and fglrx AMD graphic drivers installed at the same time in the same machine. The GLX library is provided by both Mesa and fglrx packages, with the later being the default. Nevertheless, the administrator can choose to use Mesa instead.

[2015-11-06 16:12] cweagans commented on #652
Okay, that works perfect. debian++  I knew there was a reason I liked that distro

What does the update process for an official debian package look like?

1. We tag the release on Github
2. ?
3. ~~Profit!~~ Users can upgrade with `apt`

Just wondering what step 2 consists of.

[2015-11-06 16:15] vhda commented on #652
For that part @viccuad will need to step in.
You can read this to get more information: https://wiki.debian.org/NewQueue
And search for more hits in google regarding Debian's New Queue.

[2015-11-06 18:05] cweagans opened #655 "Add debian packaging information to the repository"
Referencing https://github.com/universal-ctags/ctags/issues/652#issuecomment-154446640

@viccuad already has this information prepared for upstream Debian inclusion, but we should put the packaging information in the repo here so that it's tracked and so that contributors can submit pull requests.

@viccuad Can you please clarify how upgrades will work via the Debian package repositories? If we're

[2015-11-06 18:06] cweagans opened #656 "Update `ctags.spec`"
This will facilitate packaging for RHEL-like OSes and OpenSUSE.

[2015-11-06 18:07] cweagans opened #657 "Update ctags.1"
@masatake Can you please clarify what you need done here? Any specific topics that should be covered? Are these already documented elsewhere (issues, PRs, .rst files in the docs directory, etc)?

[2015-11-06 18:08] cweagans opened #658 "(after release) Move Homebrew formula to the main Homebrew repository"
If we move to the main homebrew repo, then their build farm will take care of building binaries for 4 different versions of Mac OS. I'll take care of this.

[2015-11-06 18:09] cweagans opened #659 "Write a release announcement for the website"
I'll handle writing the initial draft of this if we can come up with a list of topics that should be mentioned. There's already some written down in the `docs/` directory.

[2015-11-06 18:15] cweagans opened #660 "Package for Windows"
For Universal Ctags to be truly universal, we should distribute Windows builds too. We can use Appveyor to do the automated nightly/tag builds. I *think* it supports tags as a build trigger. If so, then we can have it build ctags, package it up in an installer, and upload the installer to the Github Release.

Alternatively, if there's something like Homebrew for Windows, it might be better to do t

[2015-11-06 18:19] cweagans opened #661 "Decide on versioning scheme"
@masatake brought this up here: https://github.com/universal-ctags/ctags/issues/652#issuecomment-153411749

I prefer using [semver](http://semver.org/) and starting with 1.0.0 since Universal Ctags != Exuberant Ctags. @masatake prefers 6.0.

When this discussion is resolved:
- [ ] Update the name of the "Initial release" milestone to whatever is decided here as the first "stable" release version

[2015-11-06 18:21] cweagans commented on #652
I created a bunch of other smaller, more focused issues. Please see https://github.com/universal-ctags/ctags/milestones/Initial%20release for the full list, and https://github.com/universal-ctags/ctags/issues/655 for the Debian packaging discussion.

[2015-11-06 18:21] #652 closed

[2015-11-06 18:23] cweagans commented on #92
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:23] cweagans commented on #95
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:23] cweagans commented on #89
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:24] cweagans commented on #333
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:24] cweagans commented on #308
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:24] cweagans commented on #234
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:24] cweagans commented on #499
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:24] cweagans commented on #402
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:25] cweagans commented on #361
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:25] cweagans commented on #599
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:25] cweagans commented on #211
Sorry for the noise. Just switching the "Release blocker" tag for the "Initial release" milestone so that everything is tracked in one place.

[2015-11-06 18:29] cweagans opened #662 "Decide on release schedule/policy"
We need to have a consistent release schedule. I suggest releasing once every 6 months, ideally in January and July. This way, the new release will be out soon enough for the Ubuntu maintainers to include it in the release that happens in April and October.

This is, of course, assuming that there will be new things to release every six months. Based on the activity level over the past few months,

[2015-11-06 18:55] cweagans opened #663 "Package for Gentoo"
We have issues for [Debian](https://github.com/universal-ctags/ctags/issues/655), [RHEL](https://github.com/universal-ctags/ctags/issues/656), [Mac](https://github.com/universal-ctags/ctags/issues/658), and [Windows](https://github.com/universal-ctags/ctags/issues/660), but nothing for Gentoo.

@Tranquility was interested in this. Is there some packaging information that needs to go into the ctags

[2015-11-06 18:56] cweagans commented on #354
Closing this in favor of the other issues for [Debian](https://github.com/universal-ctags/ctags/issues/655), [RHEL](https://github.com/universal-ctags/ctags/issues/656), [Gentoo](https://github.com/universal-ctags/ctags/issues/663), [Mac](https://github.com/universal-ctags/ctags/issues/658), and [Windows](https://github.com/universal-ctags/ctags/issues/660)

[2015-11-06 18:56] #354 closed

[2015-11-06 19:00] cweagans opened #664 "Create the release"
Depends on having the other issues in the milestone complete.

- [ ] Create the tag
- [ ] Create the release page on Github
- [ ] Ensure that all the platform distributions have built
- [ ] Add links to the release for how to install + a link to how to build form source
- [ ] Add changelog information (@cweagans can help with this)
- [ ] Add list of contributors for the initial release (For the fi

[2015-11-06 19:02] cweagans commented on #652
Okie dokie. I think I'm done categorizing things now. https://github.com/universal-ctags/ctags/milestones/Initial%20release should be up to date. We're already 54% of the way to an initial release (since I also recategorized some of the already-closed issues)!

@universal-ctags/admins @universal-ctags/developers Please let me know where I can help, particularly around coordination, documentation,

[2015-11-06 19:07] Coacher commented on #663
All you need to do packaging-wise is to provide release tarballs. The ones autogenerated by GitHub will do just fine. See also https://bugs.gentoo.org/show_bug.cgi?id=561074

Gentoo packaging policy also forbids automagic dependencies. Please avoid them. See also: https://wiki.gentoo.org/wiki/Project:Quality_Assurance/Automagic_dependencies

[2015-11-06 19:18] cweagans commented on #663
@Coacher That will definitely happen when the Initial Release milestone is complete. The reason I ask about files that go into the repo is that we'll eventually have a `debian` directory in the repo so that we know how that packaging works. I'm wondering if there's anything similar for Gentoo - even if it's just some kind of metadata file or something. Ideally, when we tag a release, we can go thr

[2015-11-06 19:22] Tranquility commented on #663
I already created a package. I just need to know which version number the first release will have to add it into the official tree.

[2015-11-06 19:47] Coacher commented on #663
No. You don't need to include any special metadata in a repo to be 100% Gentoo compatible.

In Gentoo versioning info is derived from ebuilds (Gentoo's way to describe a package) written by package maintainers, not from the actual sources. Just choose any suitable, consistent way of versioning and you are ready for Gentoo.

[2015-11-06 19:50] cweagans commented on #663
Okay, so it sounds like https://github.com/universal-ctags/ctags/issues/661 is actually the issue that we need to solve for Gentoo, then. I'm pushing for semver, but there should be buy in from the other maintainers.

I'm not sure about any automagic dependencies, so like I said, let us know about those things, and we'll make them more explicit.

[2015-11-06 19:54] Coacher commented on #663
Nice.

Sure, once found in Gentoo, these kind of problems are usually reported back upstream. Thank you.

[2015-11-06 21:31] blueyed commented on #663
FYI: it's in Arch Linux AUR already: https://aur.archlinux.org/packages/universal-ctags-git/

[2015-11-06 21:32] viccuad commented on #655
##### Current status of the Debian package:

Almost done, waiting for #92 to be fixed, and I need to use the new flags implemented in #580 :).
Also, it would be nice to have git tags and/or tar.gz releases.

##### About including debian packaging info in the repos:

I (as Debian's package maintainer for Universal-ctags) don't need (nor desire) to have the debian folder included in the repo, as I w

[2015-11-06 21:42] cweagans commented on #655
Thanks for the very detailed information! This is all good stuff to know about.

I was under the impression that we needed to include the debian packaging scripts in the repo, but if that's not the case, I'm definitely okay leaving it out, especially given the benefits that come from letting Debian do it's own thing (reproducible builds and all that). @vhda - that okay? One less thing for us to ma

[2015-11-06 22:03] viccuad commented on #655
We can manually do a git pull at every time, or get it automatically updated with tags. Since the Debian packages are going to track your (upstream) releases, I don't really see a need for automatically update for every commit. If you want faster moving versions, then, release early release often they say :P.

Yes, of course, bug fixes get backported to the Stable versions (that's my job): when we

[2015-11-07 23:49] masatake commented on #619
[code]
:-P

[2015-11-08 00:30] masatake commented on #652
(I got a trouble in my health.
I will catch up.)

[2015-11-09 11:15] #619 closed

[2015-11-09 11:29] masatake commented on #661
@cweagans, I follow your proposal: 1.0.0 and 0.1.0.

[2015-11-09 11:30] #633 closed

[2015-11-09 13:08] elfring commented on #619
Thanks for [your improvement of affected include guards](https://github.com/universal-ctags/ctags/commit/5474c2e5b1b5984c706e3fd6a14902c1a9b02686 "Selection of safe include guards").

[2015-11-09 17:32] masatake commented on #619
@elfring, thank you for reporting.

[2015-11-09 18:30] masatake commented on #657
@cweagans, sorry to be late.

There are four big area we have to update in ctags.1.

1. newly introduced options,
2. incompatible changes in options, and
3. changes in tags file format
4. known bugs

2, 3, and 4 I'm still working on ctags program code side.  So I would
like to focus on 1. here.

I wrote many of newly introduced options in docs/*.rst
or --help message.

Could you given me "feed bac

[2015-11-09 18:33] masatake commented on #657
Of course I can/should write draft. However, I would like to hear about acceptability of each options.

[2015-11-10 17:55] masatake commented on #219
After learning etags.c of emacs, I know how can we implment multiline regex parser in ctags.
Search "multi_line" in https://searchcode.com/codesearch/view/56189132/.

You can accumulate all input at iFileGetLine of read.c.
You can run multipeline regex matcher at fileClose.

[2015-11-10 18:08] masatake commented on #361
[code]

[2015-11-11 18:17] timfayz commented on #664
Hello, I don't know if I'm allowed to write here)..but please, give some more information to README regarding the following:

* How to install for Linux. I know that I can do something like this `./configure && sudo make install`, but it absolutely not obvious for newbies).
* Direct link to list (or actual list of) supported languages. I learned about ctags only after I switched to Vim (btw, ctags

[2015-11-11 19:31] masatake commented on #664
@timfayz, thank you for comments. There are too many issues, so I can solve all your issues at once.

Could you look at https://github.com/universal-ctags/ctags/blob/master/docs/autotools.rst ?
However, poeple work on making a binary package. So you can wait for the result of efforts.

I am the bottle neck.

Run `ctags --list-languages`.

I'm sorry but I don't have time to work on languages web st

[2015-11-11 19:39] masatake commented on #353
It seems that I was wrong.
Can I ask you to rework on this topic again?
I recognized the overhead of mine is rather smaller things than losing chances for getting more volunteers.
I will follow your instruction.

[2015-11-11 21:46] ffes commented on #353
Hi guys,

It has been a while... Life sometimes takes a lot more time than expected.

But on the subject: I recently converted the documentation of my [NppTags plugin](https://github.com/ffes/npptags/) from DocBook to reStructuredText (far from perfect yet) and put them up on http://npptags.readthedocs.org

There is **no need** to split the sources and the docs. It is all in one repo.

All it take

[2015-11-11 21:53] cweagans commented on #353
rst is pretty painful, IMO. I'd happily convert things to Markdown, which is much more widespread, especially on Github.

+1 to generating ctags.1 from a better format.

[2015-11-11 22:21] ffes commented on #353
According to RTD co-founder Eric Holscher Markdown is more of HTML replacement and RST is a semantic language. For instance, It allows for proper references in docs.

Very interesting talk by him. IMHO 30 minutes well spend.
https://youtu.be/eWNiwMwMcr4 (from around 5 minutes it is about rst, 8 min = markdown vs rst)

And a handy cheatsheet.
http://sphinx-tutorial.readthedocs.org/cheatsheet/

[2015-11-12 03:04] masatake commented on #657
Please, forget what I wrote here abut `--undef`. I will replace it with ``--extra=+r``.

[2015-11-12 10:39] timfayz commented on #664
I've already seen it) Yeah, the instructions are intended for Linux users, but I think it will be much simpler if it was explicitly defined as **Linux installation**. It won't confuse newbies with unknow commands and concepts like `$ autoreconf -vfi`, "Autotools-based projects" etc. Just do this, that and be happy)

Good point, but what if I want to list them prior to installation? I think you wil

[2015-11-12 11:56] masatake commented on #664
Could you review #671 ?
If you are not familiar with GNU, don't ask me about it.
see http://www.gnu.org/gnu/linux-and-gnu.en.html .

    ctags --list-languages

I wonder how can we do it well... does anyone have good idea? Githook can help us?

About writing regex based parser, you don't need knowledge about C.
The most important thing in writing a parser is the knowledge of the target language.
D

[2015-11-12 13:39] ffes commented on #353
I am preparing a PR that would solve the first part of this issue: Make sure the docs can be generated with Python Sphinx

But first #671 needs to be merged. I need to add anchors to of the some of rst files, I would like to avoid merge conflicts.

Shall I merge #671

[2015-11-12 15:25] cweagans commented on #353
Last night, I started reorganizing the docs and converting them to Markdown. We really don't need all the features the RST provides. We get a lot out of switching to markdown, too. The process for working on the docs locally is really straightforward (1. install mkdocs - `pip install mkdocs`, 2. run `mkdocs serve` from the root of the ctags repo and open `localhost:8000` in a browser - it even liv

[2015-11-12 15:30] cweagans commented on #664
Docs will solve this, and we can improve the website too.

I think there are 3-4 separate issues that can be opened from the above discussion. This issue is more for tracking the specific things that we need to do to get the release out the door.

[2015-11-12 15:34] cweagans commented on #230
We should strip the RPM packaging stuff (and pretty much everything else related to packaging) out of the repository. Maintaining packaging scripts should not be our responsibility, especially given that all of the other downstream packaging folks I've talked to said that even if we include packaging scripts, they won't use them because they maintain their own scripts separate from ours.

We *migh

[2015-11-12 15:36] cweagans commented on #661
I propose we do the following:

* Rename the initial release milestone to "1.0.0"
* When all the issues in the 1.0.0 milestone are closed, we tag 1.0.0-rc1
* After a month, if there are no more critical, release-blocking issues, we tag 1.0.0. If there are, we fix them, and tag 1.0.0-rc2, rinse, and repeat until we can get through an entire month without release blocking issues.

@universal-ctags/a

[2015-11-12 15:37] cweagans commented on #663
@blueyed That's good to know, thanks.

Closing, since we don't have to do anything ourselves here. We'll make a release announcement on the website when we tag, so keep an eye out there for updates (https://ctags.io/)

[2015-11-12 15:37] #663 closed

[2015-11-12 15:39] cweagans commented on #662
https://github.com/universal-ctags/ctags/issues/661#issuecomment-156140424 is related to this issue.

I don't think we'll have to do RCs going forward. We can just tag new feature/patch releases per the semver standard, which should be pretty quick. I'm happy to take on responsibility for release coordination if that would help.

[2015-11-12 15:52] cweagans commented on #64
Here's another example:

[code]

This is really not a good practice for PHP anymore, but it works, so maybe ctags should support it?

Here's another common scenario:

[code]

This second example is much more common.

I'm not sure that it's absolutely necessary for parsers to handle things differently in either of these scenarios, though. I should just be able to run the PHP parser on the first exa

[2015-11-12 15:53] ffes commented on #353
I really think that rst is better for docs. So let's agree to disagree on md vs rst. ;)

Very curious what format @masatake wants the docs to be in. He writes most of the code and the docs. His opinion matters!

We both have a PR ready that allows us to put the docs on RTD.
We only need to decide on the format. Do we keep rst or convert to md?

[2015-11-12 15:59] cweagans commented on #353
@ffes That's fair :)

I've said this a few times before, but just want to have it out here separate from my longer comment above:

I am willing to maintain all of the existing documentation + write new docs when needed so that you guys can focus on writing code :)

[2015-11-12 16:09] cweagans commented on #353
FYI, here's what I've been working on so far: http://ctags.readthedocs.org/en/docs/

It's the `docs` branch in my fork.

[2015-11-12 16:11] ffes commented on #661
Sounds good to me.

Just think that 0.1.0 is a bit low. 0.9.0 sounds more like we are working towards a proper release.

[2015-11-12 16:16] cweagans commented on #661
@ffes I don't think we should do a 0.1.0. Let's just do 1.0.0 with release candidates before the final release in case anything comes up.

[2015-11-12 16:23] ffes commented on #660
I don't think an installer is needed. The ctags is a tool for developers so a simple .zip with the exe, some basic readme-like documentation where to find all the proper docs and a license file could be enough.

Maybe appveyor can provide such a file, never tried that. ctags (cross)build just fine from Linux, so travis could work as well.
And obviously I can provide such a zip as well, especially

[2015-11-12 16:26] masatake commented on #353
Guys, thank you very much. I'm very proud of working with sincere hackers for the same goal.

Can I ask you to continue using rst format?

[2015-11-12 16:27] ffes commented on #353
Good to have the ctags project name of RTD!

I see you have taken another approach then I have done so far. I just made sure the current "hacking guide" can be shown on RTD. Didn't do any of the other stuff yet.

[2015-11-12 16:31] cweagans commented on #660
Ah, great, I didn't know we had cross-compilation set up. We should create Windows builds on Travis when there's a new tag - automation is :+1:

I'd really love to get Universal Ctags into cygwin, so if you're willing to take that on, that would be awesome. We've already got some momentum behind having packages for Linux distros - they're just waiting on us to make a tag. So far, the ones that I k

[2015-11-12 16:34] cweagans commented on #353
Yeah, my larger goal is to reorganize everything so that it's ready for public consumption when we release 1.0.0. The developer docs are nice, but we need user docs too, especially if we're going to generate ctags.1 from rst.

@ffes Can you open a PR with your changes?

[2015-11-12 16:34] masatake commented on #662
I want you to take the responsibility. How about starting working for release in this December?

[2015-11-12 16:39] cweagans commented on #662
Okay, I can do that. @masatake Can you and the other devs go through the release milestone and ensure that the things that are in there are things that actually need to be done? In other words, if there are things that can wait, please remove them from the milestone.

[2015-11-12 16:39] #662 closed

[2015-11-12 16:43] ffes commented on #353
You are absolutely right that we need user documentation as well. That is **very** important!

But my first goal was to get the "hacking docs" we have right now on RTD. They need to be reorganized to integrate the hacking doc and the user doc. With the conversion of `ctags.1` to rst we have largely what we need.

FYI, I am working on converting `ctags.1.in` to `ctags.1.rst.in` but that take a bit

[2015-11-12 16:43] masatake commented on #64
Very attractive. This kind of example will defer the release:-P

Currently the most of all parsers keep the state of parsing as file local variables.
This will be a trouble in calling a parser from another parser.
We have to introduce parserInstace data type that keeps the state of parsing.

The state of input stream can be stacked...
...

BTW, when submitting an example, I recommend you to submit

[2015-11-12 16:46] cweagans commented on #353
@ffes I can do the man page conversion if that would help. Getting the docs structure in place is more important right now. FYI, https://github.com/varnish/hitch/commit/d949327afc36e26d68900474e8c2526b15d9b49e might be a good starting point for an automated RST->groff conversion.

[2015-11-12 16:49] masatake commented on #660
@ffes and @k-takata, I'm thinking about introducing a code generator(ctagst) written in bash to our build process.
See #614. ctagst converts something.ctags to something.c.

Is it acceptable?
If this introduces a big trouble, I will commit both something.ctags and generated something.c to our git repository when I make a change on something.ctags.

[2015-11-12 16:51] masatake commented on #660
@cweagans, About Fedora I will work on or I will contact the package Fedora/RHEL maintainer of exuberant ctags.

[2015-11-12 16:52] cweagans commented on #64
@masatake I'm saying that we shouldn't need to do that. One parser doesn't need to call another parser. We just need to be able to say "Run this set of parsers on this particular file type.", probably through a CLI switch (instead of doing it be default).

I might be a bad developer and have `test.html` with HTML, CSS, Javascript, and PHP all in the same file, so *separately*, I'd want all four of

[2015-11-12 16:54] masatake commented on #662
@cweagans, I see.

[2015-11-12 16:56] cweagans commented on #660
@masatake I can handle that so that your time is freed up to work on issues that require knowledge of C :)

[2015-11-12 16:57] cweagans commented on #655
Closing this, as there's nothing for us to do here. I'll make a note to update this issue when we have our release.

[2015-11-12 16:57] #655 closed

[2015-11-12 17:08] masatake commented on #353
Following 3 docs are the most important.

1. format.rts, which is for people who writes a tool reading tags file
2. ctags.1, which  is for people who runs ctags.
3. old-docs/EXTENDING.html, which is for peeple who writes a parser.
(You can change the file name. e.g. tags-format.5.)

Consider all docs/*.rst is just information source for making about 3 documents.
I will add more things docs/*.rst.

[2015-11-12 17:18] masatake commented on #64
ctags is used behind opengrok and debian code search. And this is the area I'm interested in.
In this use case, just default command line arguments are used. There is no chance to tune options for input. Many things must be done automatically.

[2015-11-12 17:33] masatake commented on #660
O.K. Thank you.

[2015-11-12 19:30] vhda commented on #230
The only reason why I would like to keep these files is to allow a knowledgeable user to use his distro's package instead of manually installing with `make install`. But then again, with the proliferation of PPAs and other alternatives this might not be so important nowadays.

This is just an opinion, I will not oppose that we remove the files because keeping them just means we'll need to also inc

[2015-11-12 19:38] cweagans commented on #230
@vhda, that's not the case at all. I don't want people to have to use `make install` either, but other people have volunteered to package Universal Ctags for their distro. Right now, we have commitment from Debian, Arch, and Gentoo. I'm reaching out to the RHEL/Fedora package maintainer for Exuberant Ctags to see if he'll either switch to Universal Ctags or at least package Universal Ctags in addi

[2015-11-12 19:39] vhda commented on #664
Regarding vim+ctags documentation, I don't think this is the right place for that. If we do it, then we would have to create such a document for each editor that supports tags files. And there are too many of them!

I'm sure that a quick Google search will show return many sites explaining tags file usage in the various editors available.

Nevertheless, vim includes extended documentation:

    :h

[2015-11-12 19:47] vhda commented on #230
Using Debian as an example, which is the distro I'm more comfortable with.
If I have Debian Stable installed, I will not have the latest version of ctags available. The package maintainer will keep updating it, sure, but it will compile it against Debian Testing/Unstable. Even for a small package like ours, it is possible that the maintainer will need to increase the version requirements of librar

[2015-11-12 19:52] cweagans commented on #230
@vhda See discussion in https://github.com/universal-ctags/ctags/issues/655. We don't need to do it. It's more for us to maintain, it's another thing that can break, etc. The packaging scripts that the debian maintainer will use are public, so if it's important that someone can get the bleeding edge version, we can just add a link to those scripts in the documentation. Someone that wants to build

[2015-11-12 21:10] blueyed commented on #661
:+1:

[2015-11-12 22:39] ffes commented on #657
I have completed the basic conversion of `ctags.1.in` (and `EXTENDING.html`) to rst. (See #353)

Still need to figure out what is the best way to comply with the man standards like all the highlighting. When that is done, I will open a PR for this. After that we have a document that we can extend as described above.

[2015-11-12 22:45] ffes opened #674 "Tracker for documentation for v1.0"
This is a **tracking** issue to mark keep track of thing that need to be done to the documentation for the release of 1.0

- [ ] Update the man page #657
- [ ] Organize the `docs` directory to combine the user docs and hacking docs
- [ ] Add and update `old-doc/EXTENDING.html` to the docs, which is for peeple who writes a parser. Maybe we need to find a good name for that.
- [ ] Update `format.rst

[2015-11-15 13:40] masatake commented on #599
When automake is introduced, tinst target is not needed.

[2015-11-15 13:43] masatake commented on #308
Solved in 6cb18ddb038ae3dde59afa3702447a5bf821ac90.
However, the two bundled libraries should be updated to the latest one.

[2015-11-15 13:56] masatake commented on #453
In 1.0.0 I will remove 'd' and 'c'.
'c' should be used in constant.
'd' is reserved kind letter. But its implementation will be temporary  removed.

[2015-11-15 13:58] masatake commented on #408
After releasing 1.0.0., I will add more features to xcmd facility to utilize ripper-tags.

[2015-11-15 14:06] ffes opened #681 "Delete stale branches"
We have 7 stale branches in this repo. I think we don't need any of them anymore. Is it OK if I delete them?

[2015-11-15 14:06] masatake opened #682 "Revise --langmap and --map-<LANG> options"
The documentation and test cases for ``--map-<LANG>`` are needed.

[2015-11-15 14:10] masatake commented on #681
deploy, coverall, reuse-..., and revert-... can be removed.

[2015-11-15 14:17] masatake opened #683 "Disable python namespace kind"
[code]

This line defines nothing. In stead it refers  X. This should be captured as a reference tag.
Ideally we should implement code for capturing X as reference tag. But as an initial step, disabling the kind is enough for 1.0.0.

[2015-11-15 14:21] masatake commented on #664
I revised issues that are in 1.0.0 milestone.
I added what I want in 1.0.0, too.
Introducing automake may be the biggest one.

[2015-11-15 14:58] ffes commented on #681
done

Thanks

[2015-11-15 14:58] #681 closed

[2015-11-15 15:28] masatake commented on #664
@timfayz, there are some examples of regex parsers at https://github.com/universal-ctags/ctags-xparsers .

[2015-11-15 20:26] cweagans commented on #674
I'd also like to add that the `old-doc` directory should go away, so all the docs that are in there should be merged with our docs.

[2015-11-15 20:35] ffes commented on #683
Not a real Python developer myself (use it every now and then to write a small script) so my knowledge of the language is limited.

But I noticed that at [line 42](https://github.com/universal-ctags/ctags/blame/master/parsers/python.c#L42) there is "namespace" and "import" at the same line. I looking at the commit message for that line, it reads that the code was synchronized with Geany back then.

[2015-11-15 20:37] ffes commented on #674
@cweagans you are right. I added it to the list. Thanks

[2015-11-15 22:48] ffes commented on #353
@cweagans Any progress on setting up RTD, so we can close this one?

[2015-11-16 00:18] cweagans commented on #353
@ffes http://docs.ctags.io :) I don't have access to set up a webhook in this repository, though. Can you do that? The URL to POST to is `http://readthedocs.org/build/ctags`.

[2015-11-16 02:01] masatake commented on #683
@ffes, thank you. I have to look at geany's code.

Here is my private memo about how ctags should handle the import lines:

[code]

[2015-11-16 02:05] masatake commented on #683
Instead of extending kind as doing in geany, I introduce reference and roles.
[code]
A user may want to jump to Z because Z is definition.
A user mya not want to jump to X because X is not definition.
Here X is reference.

(I should show expected.tags for better discussion.)

[2015-11-16 02:10] masatake commented on #683
Yes, but they should be tagged as reference tag (with role).

* include
* source
* import
* require
* load
* use

These are all tagged as reference tag. Reference tags are recorded in tags only when `--extra=+r` is given. So ctags can make people using tags for jumping be happy.
People using tags for completion, navigation and querying may want the reference tags.

[2015-11-16 08:53] vhda commented on #683
I think I have misunderstood the discussion about reference tags and now my spider sense is tingling all over the place. Need to re-read everything but free time has not been common lately.

[2015-11-16 09:00] masatake commented on #683
I'm sorry that I have not explained reference tags well. Please, look at #680. I showed a simple example.

[2015-11-16 09:31] ffes commented on #353
I added the webhook "Service" for ReadtheDocs.

At this moment the hook has not been activated yet. I will close this issue when it appears to work as expected.

All we need to do now is restructure and improve those docs ;-)

[2015-11-16 10:30] ffes commented on #674
I added `INSTALL` to the list above. I think it is still useful and should be incorporated in the docs as well, presumably added to `autotools.rst`. But with #676 going on, I will ask in that PR.

[2015-11-16 22:29] ffes opened #685 "How to test readtags.c?"
I am running into a problem with readtag.c

I use this in my notepad++ plugin but when run it on this file, it crashes my plugin.
https://github.com/notepad-plus-plus/notepad-plus-plus/blob/master/scintilla/test/examples/x.cxx

readtags has a problem parsing the "M" tag that gets generated, most likely because of the "\" at the end of the search pattern. Note that this x.cxx file compiles just fin

[2015-11-16 22:52] ffes commented on #685
I've built the readtags.exe

`ctags x.cxx` generates a tags file.
`readtags -l` gives a "Segmentation fault"

Will continue my investigation tomorrow evening. Will test on Ubuntu tomorrow as well.

[2015-11-17 00:24] masatake commented on #685
We can use expected.tags files.

[2015-11-17 03:54] k-takata commented on #660
I think using bash on Windows is not so easy especially when using MSVC. (Python or Perl is rather easy.)

[2015-11-17 06:06] masatake commented on #660
@k-takata, thank you.

[2015-11-18 03:03] masatake commented on #402
ctags should not change the language when a `#line` is found.
In stead of changing the language, capture the file name in `#line` directive as a reference tag.
Its role may be origin or originalFile.
This is not difficult. I can do it after introducing reference  tag and role.

BTW, adding C preprocessor handler to fortan is quite easy.

[2015-11-18 03:19] masatake commented on #499
If an option like --dont-use-whitespace-in-name, we can replace it with `_` or `-`.
In this case ctags should record the option is specified in a  pseudo tag.

But I would like to introduce such option in 1.1.0, not in 1.0.0. Because, I would like to overhaul
the whole area releated to pseudo tag in 1.1.0.

So what we should do in 1.0.0. is writing  that we allow ctags using whitespaces in name to

[2015-11-18 03:20] masatake commented on #499
Suprisingly I already wrote in docs/format.rst.
So let's move this to 1.1.0.

[2015-11-18 03:25] masatake opened #687 "docs: write about pattern truncation"
I introduced code truncating a pattern for handling too long input line.
I should wirte about it to docs/format.rst.

[2015-11-18 03:42] masatake opened #688 "docs: split format.rst into format.rst and format-universal-ctags.rst"
We have written incompatible changes in tags format into format.rst as "EXCEPTIONS".
After thinking I thinks we should  not change the original format.rst.
Instead we should gather the changes in universal ctags into a different file, and keep the
format.rst as the original. It will be helpful for developers of tools that read tags file.
Reviewer of documents can concentrate on format-universal-ct

[2015-11-18 03:54] masatake opened #689 "docs: write about newly introduced fields"
We introduced "scope:".
I will introduce "role:".

They are not listed in format.rst.
BTW "signature:" that was implemented in exuberant-ctags is not listed, too.

[2015-11-18 06:06] masatake opened #690 "field for indicating class-qualified tags"
A tool reading tags file cannot know wheter a tag is recored as an extra class-qualified tag or not.

If ctags attaches a field like "classQualified:" or "qualified:"  to the extra class-qualified tag,
a tool can do more intellectually.

[2015-11-18 06:51] masatake commented on #683
I found the "externvar" is already defined in C parser.
[code]
I would like to treat this as a reference with declaration role.
Kinds disabled by default will be candidates of refernce tag.
The exceptions I know is local variable and goto label of C.

Converting them is really big change. But releasing  the initial version of universal ctags is really good timing for introducing such change.
[code

[2015-11-19 04:25] NewAlexandria commented on #453
You are both correct with the principal use for identifying tags or other strings following context and describe blocks is for summarization of the file.

Many IDEs offer various UIs for outlining and other summarization of project files.  Since test files can have more highly varied structure to the nomenclature of the blocks, I understand they are more eratic.

Summarizing test files is very use

[2015-11-23 21:14] WscriChy opened #693 "c++ 11 auto as a return type in functions"
When there is a function declaration/definition with auto as a return type ctags fails to recognize it.

[2015-11-23 22:08] #685 closed

[2015-11-24 03:24] masatake commented on #693
Could you show a small example input?

[2015-11-24 03:27] masatake commented on #402
I have found reference tag solves a part of this issue.
Much more work is needed than I expected.

[2015-11-24 09:00] WscriChy commented on #693
auto process() -> void override;

[2015-11-24 09:16] masatake commented on #693
I have to know the context where the example line you showed is used.

I tried following code and gcc -c accepts it.

[code]

In this case `process` should be tagged?

[2015-11-24 14:31] WscriChy commented on #693
Do you see any reasons not to tag it?

[2015-11-24 15:40] masatake commented on #693
Sorry, my question was wrong.
I wonder which token should be tagged: auto, process, void and/or override.
I read a boot about C++ and I understand process is the name ctags should capture.
I found more simple one.

[code]
Here `f` should be captured.

[2015-11-25 10:36] WscriChy commented on #693
Yes, `process` is the tag and the signature is `auto process()-> void`.

[2015-11-25 10:54] masatake commented on #693
@WscriChy, I will try to add the code to tag it.

[2015-11-27 02:03] masatake commented on #453
Two tasks remains.

* Implement C, constants
* provide a consistent way to run ripper-tags as xcmd

[2015-11-27 02:06] masatake commented on #682
This one is the next my target.

[2015-11-30 17:00] fortran-favors-the-old opened #699 "error: redefinition of typedef ‘tagEntryInfo’"
Unfortunately, recent revisions fail to build on my CentOS 6.5 system.  I used `git bisect` to determine that build failures began with revision e2755fded37efe060c8b260c07ecafaeaeb1d9e7.  Here's the error message emitted by GCC 4.4.7 when building e2755fded37efe060c8b260c07ecafaeaeb1d9e7:

    In file included from main/debug.h:20,
                     from main/args.c:20:
    main/entry.h:104: er

[2015-12-02 03:37] #402 closed

[2015-12-02 03:42] masatake opened #701 "Reference tag related to #line directive"
The critical issue(#402) about #line directive is already fixed.

[code]

Here FILE should be tagged as a reference tag.

[2015-12-02 03:50] masatake commented on #699
@fortran-favors-the-old, hi, again. Your account name is very impressive, so I can remember you quickly.

I introduced the typedef to avoid circular header file inclusion.
I think there is no good way without adding new header file where the typedef is put to solve this issue.

We are working hard on converting the build-system now. After we introduce automake successfully, I will work on this iss

[2015-12-03 19:29] Jorick opened #703 "Failure in check() tests when building on Arch Linux"
I'm maintaining an [AUR package for Arch Linux](https://aur.archlinux.org/packages/universal-ctags-git/)

Some users are experiencing failures in the tests run by check()
Output of the failed tests:
http://pastebin.com/3KpBm30u

I can't reproduce the errors on my machine nor in a virtual machine with a minimal Arch install. It doesn't seem to be a dependency problem or a problem with the PKGBUILD

[2015-12-03 23:47] masatake commented on #703
Thank you for reporting the failures.
I will add feature reporting the detail of failures to the test harness.
Can I ask you to run "make check" again when I implement such feature?

BTW, I'm interested in the following part of output:
[code]

I wonder why coproc is not available on your environment.
Disabling explicitly when running configure?

[2015-12-04 16:23] Jorick commented on #703
The build() function of the PKGBUILD script is the following:
[code]
The flags in ./configure are required according to the Arch Linux package guidelines.

[2015-12-04 19:02] fortran-favors-the-old commented on #699
@masatake: Okay, thank you!

[2015-12-04 22:17] bangroot opened #705 "Process Multiple files with xcmd"
Some external tag generators may be a bit more heavy-weight, but could lower the burden if they were allowed to process multiple files at once. For instance, I'm currently writing an external tags generator for universal-ctags to get better groovy support. Given that groovy already has AST support, I'm just implementing via a simple groovy script (see [here](https://github.com/bangroot/ctags-castl

[2015-12-05 05:12] 4e6 commented on #703
I am able to reproduce the issue, flag `--prefix=/usr` is causing troubles. See attached logs for details:
[universal_ctags_fail.txt](https://github.com/universal-ctags/ctags/files/52735/universal_ctags_fail.txt)
[universal_ctags_success.txt](https://github.com/universal-ctags/ctags/files/52736/universal_ctags_success.txt)

[2015-12-05 08:24] 4e6 commented on #703
With `git bisect` I located the commit that introduced the issue: 3b32a9d91b50cad1dd89b09469a5cdce9283f9ec
[code]
Another thing, `ctags --version` exit with the following message:
[code]

[2015-12-05 10:02] masatake commented on #703
Installed version may affect on the result on the test. I will inspect this issue more.

[2015-12-06 07:50] masatake commented on #703
Two sub issues are reported in this issue.
1. coproc is disabled unexpectedly.
2. tmain fauilure

To solve 2., run tmain with TRAVIS=1 locally.
[code]
The test harness may report the diff of expected results and actual results.

[2015-12-06 07:51] masatake commented on #703
My guessing is that after doing "make uninstall" or removing universal-ctags package in your system, make tinst or make check will work.

[2015-12-06 08:20] masatake commented on #703
Try #709.

[code]

I expect other than lxcmd-reject-specifying-in-dot-ctags/stderr-compare and lxcmd-reject-specifying-in-dot-ctags/exit-compare will be fixed. I am locking for the way to fix the two.

[2015-12-06 10:20] 4e6 commented on #703
Yes, reinstall helped. But the idea that installed version can affect the current build seems somehow wrong to me.

[2015-12-06 10:34] masatake commented on #703
@4e6, yes, you are right. In #709 I tried to fix them.

[2015-12-06 17:42] #699 closed

[2015-12-06 17:42] masatake commented on #699
Feel free to reopen this if my commit doesn't fix your issue.

[2015-12-06 17:50] fortran-favors-the-old commented on #699
Works for me. Thanks for fixing this!

[2015-12-06 18:58] Jorick commented on #703
I updated the package and will report back when I get info from the users.

[2015-12-07 08:03] masatake commented on #703
With #614,  lxcmd-reject-specifying-in-dot-ctags/stderr-compare and lxcmd-reject-specifying-in-dot-ctags/exit-compare will be fixed. (I hope.)

[2015-12-07 23:58] bangroot opened #710 "Question about tag scopes not being output"
Not sure if you want questions here, but someone recommended that I ask here vs. my [stackoverflow question](http://stackoverflow.com/questions/34098349/adding-tag-scopes-in-universal-ctags).

I'm currently writing an external tags generator for universal-ctags to get better groovy support. Given that groovy already has AST support, I'm just implementing via a simple groovy script (see [here](http

[2015-12-08 03:11] masatake commented on #710
Thank you for contacting. This is the place for you:
[code]

I would like to try your groovytags for debugging. The problem is that I don't know well about groovy.
The language processor of groovy may be installed with the package system of Fedora, I'm using, without trouble. How about libraries? I guess groovy also has its own package system like cpan of perl.
Could you should me short hints for

[2015-12-08 12:06] masatake commented on #710
groovytags works; groovy is just needed.
I found some empty lines in its output:
[code]

in addition I got an exception.

[code]

Anyway I can debug ctags side with this.

[2015-12-08 12:27] masatake commented on #710
See https://github.com/bangroot/ctags-castle/pull/1 .
Now you code works fine:
[code]

[2015-12-08 12:28] masatake commented on #710
Now I understand well why you want to pass multipe files to xcmd from ctags at once.
However, I cannot find much time for the function now. I'm working hard for 1.0.0 now.

[2015-12-08 16:33] bangroot commented on #710
Wow, awesome. thanks for your help!

[2015-12-09 16:15] #710 closed

[2015-12-12 04:52] masatake opened #715 "Adding extra fields"
@b4n wrote in #713

[2015-12-12 05:14] masatake commented on #715
I have thought about adding more fields. I wrote main/field.[ch] files for the purpose.
However, main/field.[ch] are not enough. tagEntryInfo must be extended for your purpose, as you wrote.

The concept "return type" is so popular among programming languages, so I think we should
add fields for storing it to tagEntryInfo. (If a field is not so popular, we should not extend it. In stead of we shou

[2015-12-12 05:18] masatake commented on #715
NOTE: Generally we don't have to care about the size of tagEntryInfo; even if it grows there is no impact.
The exception is a parser using cork. Cork keeps copies of all tagEntryInfo captured/created from an input source file to an array. We cannot ignore the size of the array when the number of copies increases.

[2015-12-12 10:49] Jorick commented on #703
I received a confirmation that the package compiled without problems, thanks!

[2015-12-12 12:24] masatake commented on #703
Thank you for reporting.

[2015-12-12 12:24] #703 closed

[2015-12-13 16:06] masatake opened #716 "Rename /etc/ctags to /etc/ctags.d"
To make /etc/ctags\* consistenty with ~/.ctags.d, it should be renamed.
The documentation about optlib must be updated, too.

[2015-12-13 16:08] masatake commented on #716
This one is related to #89 and #92.

[2015-12-14 20:08] WscriChy commented on #693
Hi @masatake . How is the progress do you need any help?

[2015-12-15 03:26] masatake commented on #693
I'm soory but no visible progress. I'm learning c++ now.

[2015-12-15 05:53] masatake commented on #715
See also #720.

[2015-12-15 16:06] tarzanek opened #721 "build on solaris 12 fails"
$ gmake
config.status: creating config.h
config.status: config.h is unchanged
[CC] ctags
Undefined                       first referenced
 symbol                             in file
GdbinitParser                       main/parse.o
CtagsParser                         main/parse.o
M4Parser                            main/parse.o
ld: fatal: symbol referencing errors
collect2: error: ld returned 1 exi

[2015-12-15 16:11] tarzanek commented on #721
@masatake it seems https://github.com/universal-ctags/ctags/commit/072b121e42420e20f9a657a3e1361f4d6f8896a0 broke it, can you have a look?

[2015-12-15 16:12] tarzanek commented on #721
a Solaris 11.3 VM can be fetched here:
http://www.oracle.com/technetwork/server-storage/solaris11/downloads/vm-templates-2245495.html

after that do pkg install autogen automake gcc
I did ./autorun.sh
then ./configure ...
and gmake

[2015-12-15 16:13] tarzanek commented on #721
(pkg install git
if git won't be on the VM to clone the ws)
tia!
L

[2015-12-15 16:16] tarzanek commented on #721
D'OH!
ok, this was a mismerge it seems (though it's weird since I never touched those files ... )
after
git checkout optlib/gdbinit.c optlib/m4.c optlib/ctags-optlib.c
gmake started to work again! :)

sorry for the bug, closing now

[2015-12-15 16:21] masatake commented on #721
How about "make check" ?

[2015-12-15 16:52] tarzanek opened #722 "false positives when --java-kinds=+l used"
Try to get tags with "--java-kinds=+l " from:

[code]

------
you will end up with more than 3 methods in tags. So local variables are not really usable for java parser. Since it's 2015, it'd be nice if it would be fixed, anyone who knows that parser and can fix it?

[2015-12-15 16:53] tarzanek commented on #721
@masatake
so gmake worked for me, I tried :
$ gmake check
config.status: creating config.h
config.status: config.h is unchanged
./misc/units[1854]: local: not found [No such file or directory]
./misc/units[1856]: local: not found [No such file or directory]
./misc/units[1857]: local: not found [No such file or directory]
./misc/units[1751]: local: not found [No such file or directory]
./misc/units

[2015-12-15 18:31] masatake commented on #722
[code]

[2015-12-15 18:35] b4n commented on #721
@tarzanek no, it looks odd, like your shell doesn't support `local`, which I thought was a POSIX feature.  Should work with `gmake check SHELL=/bin/bash` or alike; but it'd be interesting to know what shell this is and if using `local` really is that unportable (Debian's `dash` supports it though).

[2015-12-15 19:00] masatake commented on #722
We cannot fix this well.
parsers/c.c is one the most complicated area of ctags. c, c++, java, c#, D and vera parsers share the code.
A fixing for a parser may break other parsers.

Generally we expect test cases prevent such breaking.  We don't have verified test cases about java.
Under Unites/review-needed.r, there are not a few test cases of java. However, the test cases are not verified yet.

h

[2015-12-15 19:03] masatake commented on #721
I really don't want to remove "local". Please, install bash or something rich shell.

[2015-12-16 02:31] masatake opened #723 "add --list-pseudo-tag and --pseudo-tags=[+|-] options"
They are needed to control the output.

[2015-12-16 08:12] tarzanek commented on #721
shell is zsh ;)

[2015-12-16 08:16] tarzanek commented on #721
after using the gmake check SHELL=/bin/bash
I get still some diff errors (actually plenty of them)
......
Testing xcmd-dont-run-setuid-executable
------------------------------------------------------------
skipped (feature "" is not available in )

Testing xcmd-for-unknown-language
------------------------------------------------------------
stdout

[2015-12-16 09:31] tarzanek commented on #722
hmm, I have a bad feeling you might need to break the shared code, Java 8 is now somewhere, where c/c++/c# will never be and I think this divergence will be bigger over time, makes no sense to share code anymore imho ...

[2015-12-16 09:35] tarzanek commented on #722
also I think support for java8 isn't in, is it?

[2015-12-16 14:09] masatake commented on #722
I'm not sure what is the best way. The obvious thing is that I have to understand c.c well and learn C++, C#, D, Java adn Vera to improve one of the parser.  Reviewing the test cases is good way to learn the languages.

[2015-12-16 14:20] tarzanek commented on #722
I usually learn languages by reading their specs/docs, e.g. for java it'd be  http://docs.oracle.com/javase/specs/index.html
it gives you nice overview of lexical and semantical analysis
for ctags obviously second part is the key
then a good thing is to look at compilers of those languages, ev. study it the way IDEs do (like Idea, which besides compiling can do ASTs)
ASTs might be a nice way how t

[2015-12-17 05:29] masatake commented on #721
Looks strange. An empty string should not be passed to feature verification stage.
Could you tell me the version of bash?

Could you send me(masatake@gmail.com) a tar archive of ctags source directory after running "gmake check SHELL=/bin/bash" ?

(I'm not sure I can receive such large file via gmail.)

[2015-12-18 14:09] hauleth opened #727 "Fails to compile when building from tarball instead of git clone"
Way to reproduce:

[code]

This results with error:

[code]

[2015-12-18 14:50] masatake commented on #727
Thank you for reporting.
Could you try #728 ?

[2015-12-18 15:14] masatake commented on #683
I'm working this issue now. Very exciting.

[2015-12-18 22:13] masatake commented on #727
Closed by #728.

[2015-12-18 22:13] #727 closed

[2015-12-24 04:58] masatake opened #735 "Record annoymouse struct/union/enum in C language"
See #713.
Geany already records them.

[2015-12-24 05:53] masatake commented on #683
Revised.

[code]

[2015-12-24 08:20] masatake commented on #716
Instead of renaming /etc/ctags to /etc/ctags.d, I got an alternative idea: changing ~/.ctags.
If .ctags is a file, ctags reads it as before. If .ctags is a directroy, ctags reads files under the directory.

[2015-12-24 11:02] masatake commented on #715
Some ideas:

* "returnType:"
* "arity:"
* "entrypoint:" for main functions.
* "nameref:" or "alias:"
* "qufalified: for tags only recorded when `--extra=+q` is given

[2015-12-24 14:59] b4n commented on #715
"return type" is nice, but it doesn't cover variable type, in e.g. C's `int foo`.  Actually, `varType` could be used if it allowed the first part (`varType[0]`) to be NULL/not given/whatever when the type is not a reference to a struct/enum/union (or not a known one at least, maybe a typedef).
I'm not sure this would be compatible with the current format though.

[2015-12-26 14:49] pragmaware commented on #722
java / C++ / D / Vera / whatever parsers should be split in separate files.
They would become simpler and one would not have to be afrait to break some other language when fixing one of them. As a starting point it's just a matter of copying parsers/c.c N times and adjusting the parser definitions.

[2015-12-26 18:07] masatake commented on #722
Splitting is really good?

Rather I'm thinking about introducing "inheritance" in parser implementations.
[code]

I think the complexity comes from isInputLanguage.
The use of isInputLanguage can be reduced with per language virtual function table.

[2015-12-26 18:29] masatake commented on #715
Introducing two new kinds "unknown" and "builtin" we can reuse the typeref field of tags file.

input.c
[code]

[code]

[2015-12-26 19:49] pragmaware commented on #722
Well... maybe a set of common functions would be useful. But that's harder to do in a single run.
Splitting could be a first step. Then one would try to gather the commons.

The fact is that in its actual state the c.c parser is unmantainable. You can't be sure that
you're fixing things if you don't know all of the languages involved. And even if you know
them you still usually focus on a single l

[2015-12-27 08:41] masatake commented on #722
@pragmaware, I have a big question; do you have an interest doing splitting by yourself?

[2016-01-03 11:38] sbuljac opened #748 "Let easytag handle the output pattern "0.0.0" in ctags --version (Was: Version 0.0.0)"
ctags --version

prints

Universal Ctags 0.0.0(a1c4a13), Copyright (C) 2015 Universal Ctags Team

[2016-01-03 23:44] masatake commented on #748
What's wrong?  Should we add 2016?

[2016-01-04 08:15] sbuljac commented on #748
I think it was Universal Ctags Development before. 0.0.0 breaks easytag VIM plugin, because it reads a 0.0.0 as version of Exuberant Ctags and wont start...
I understand this is not a bug but it would be nice if everything could work as before...

[2016-01-04 09:03] masatake commented on #748
I see.

[2016-01-04 16:28] strokirk opened #750 "Python multiline keyword arguments are included in tags file"
Multiline keyword arguments in python are parsed as variables by `ctags`. They should not be included in the generated tags file.

For example, this input:

[code]

Results in this output:

[code]

[2016-01-04 18:42] masatake commented on #750
Is the following output expected?

[code]

[2016-01-05 00:31] cicloid commented on #658
Do you need help with this?

[2016-01-05 08:04] kopischke commented on #658
Good idea. Note however that I have found that the formula does not match the current build process and prerequisites. I am maintaining an updated one [here](https://github.com/kopischke/homebrew-ctags) which I would be happy to contribute if you find it useful and tell me how (can’t do a PR as it is not a fork of the official repo).

[2016-01-05 13:47] strokirk commented on #750
@masatake Yes! Sorry for not including that.

[2016-01-05 16:11] masatake commented on #750
@strokirk, thank you for verification. This verification is important to update the test cases.

Could you try #751 ?

[2016-01-05 16:26] masatake commented on #748
I think improving easytag is much constructive.
If you argue that  it would be nice if everything could work as before, my recommendation is  Exuberant Ctags.

As far as seeing https://github.com/xolox/vim-easytags/commit/72a8753b5d0a951e547c51b13633f680a95b5483 and https://github.com/xolox/vim-easytags/issues/123, fixing easytag will not be difficult. The issue is I'm not vim user, and the easyta

[2016-01-05 16:31] sbuljac commented on #748
I change version to 5.8  recompiled and everything works for me , no need to go back to Exuberant Ctags... I just thought you should know about this problem because backward compatibility is usually desirable...

[2016-01-05 16:35] masatake commented on #748
I will try to fix easytag side. I'm afraid your patch will not work with newer easytag.

[2016-01-05 16:56] cweagans commented on #658
Yes, please do contribute it. If you fork the official repo and merge in your changes manually, you can open a PR, tag me in it, and I will merge it.

[2016-01-06 04:23] #683 closed

[2016-01-06 04:31] masatake commented on #722
@tarzanek, could you try the latest master?
(I merged improvements from @pragmaware.)

[2016-01-06 17:33] tarzanek commented on #722
@masatake confirming, the tests now work, I can add local variables to java for OpenGrok if universal ctags will be detected!
sweet!
(I will still review @pragmaware code, which pull req was it? )

[2016-01-06 17:36] tarzanek commented on #722
I just found https://github.com/universal-ctags/ctags/pulls?q=is%3Apr+author%3Apragmaware+is%3Aclosed
and it looks ok to me ... so in the end no splitting was done?

[2016-01-06 18:16] masatake commented on #722
@tarzanek, thank you for testing. I merged @pragmaware' s work ago.
No splitting. Before splitting I would like to do

(1) review all the C/C++/Java/D/C#/Vera test cases under Units/review-needed.r,
(2) change the interface between main and parsers; currently just a language id is passed to a parser.
      I'm thinking about passing a parserDefinition instead of language id.

However, it takes lon

[2016-01-06 18:16] #722 closed

[2016-01-06 21:59] jonthn opened #752 "misc/optlib2c should handle properly .ctags without --xcmd-*"
When running ```autogen.sh``` I noticed the error "bad array subscript" :

[code]

a possible fix would be :

[code]

[2016-01-06 22:50] jonthn opened #753 "Makefile.am should not use "transform_name" for drivers"
If you use ```--program-prefix``` with the current configure script you end up installing libexec/drivers/${program_prefix}coffeetags instead of libexec/drivers/coffeetags

For example if you use :
[code]
it will install libexec/drivers/excoffeetags

A possible fix below that will install the scripts as DATA and it's only required to make the data executable

[code]

[2016-01-07 06:00] masatake commented on #752
Thank you.
Could you submit a pull request?

[2016-01-07 07:28] tarzanek commented on #722
np, thank you for your hard work @masatake & @pragmaware
appreciate that people take care about ctags, so they are back from dead
& looking forward to 1.0.0 !
I think OpenGrok will switch immediately (my opengrok test farm is completely on universal ctags for past few months and besides these java kinds all looks well)

[2016-01-07 12:24] strokirk commented on #750
@masatake Yes, I compiled with the patch and output is as expected.

[2016-01-07 13:33] masatake commented on #750
Thank you for verifying.

[2016-01-07 13:33] #750 closed

[2016-01-07 19:46] jonthn commented on #752
@masatake Done in PR #755

[2016-01-08 02:39] masatake commented on #752
Merged. Thank you.

[2016-01-08 02:39] #752 closed

[2016-01-09 01:42] iamduyu opened #758 "Ctags don't output 'interface' definition in php file"
platform:
-----------
windows7 32bit edition

compiler:
-----------

visual studio 2015 community edition

command line:
------------------

$ ./ctags.exe --languages=php --php-kinds=i  input.php

input.php
-----------

<?php

interface if
{
}

expect:
---------
if      input.php        /^interface if$/;"

[2016-01-09 02:07] iamduyu commented on #758
I was wrong. the php.c is a real parser now,  not a regex search like before. :+1:

[2016-01-09 02:07] #758 closed

[2016-01-12 18:03] kaushalmodi opened #759 "How to exclude a directory specified with parent dirs?"
Hi,

I believe that the below in ~/.ctags used to work:

--exclude=dir1/dir2/common

But it is not working any more as of the latest build of today (My last ctags build was roughly 3 months back. So unfortunately that will not help in debugging this).

If I change that to

--exclude=common

it works. But the side-effect is that all common/ directories will be excluded, which I don't want.

Example

[2016-01-13 00:48] masatake commented on #759
How about `--exclude=dir1/dir2/common/*` ?

[2016-01-13 00:49] masatake commented on #759
NOTE: isExcludedFile@(ctags/main/options.c)

[2016-01-13 01:32] masatake commented on #759
dir0/dir1/dir2/common and ./dir1/dir2/common cannot be excluded with `--exclude=dir1/dir2/common/*`
`--exclude=*/dir1/dir2/common/*` may be needed here.

[2016-01-13 03:23] kaushalmodi commented on #759
That works or doesn't work based on the invocation of ctags. See explanation below.

[code]

---

If I do the above style of ctags invocation, `--exclude=dir1/dir2/common/*` does not work. But if I invoke using `cd /proj/PRJ/somedir/; ctags -Re -f TAGS .`, the same exclude statement works as expected.

[2016-01-13 03:35] kaushalmodi commented on #759
Also, I did not understand this:

[2016-01-13 03:37] kaushalmodi commented on #759
Another strange behavior I just noticed:

With `--exclude=*/dir1/dir2/common/*`,

Below works

[code]

But below does not!

[code]

Why is the exclusion sensitive to whether the TAGS file path is specified relatively or using the absolute path?

[2016-01-13 03:53] masatake commented on #759
I don't understand the situation.
Where is dir1 in /proj/PRJ/somedir ?

[2016-01-13 03:58] kaushalmodi commented on #759
I am doing some more testing .. here is what I got so far:

[code]

Here is the `dir1` path: `/proj/PRJ/somedir/dir1`

[2016-01-13 04:14] masatake commented on #759
Oh, I see. Thank you. For the Bad cases `--exclude=dir1/dir2/common/*` will work.
... How about `--exclude=*dir1/dir2/common/*` ? This will work well for the both Good and Bad patterns.
Sure, xdir1/dir2/common is also excluded unexpectedly.

[2016-01-13 04:20] kaushalmodi commented on #759
Yes, that's the conclusion I came to finally :) Should I close this issue? Or do you think there's a solution that make this more robust whether the user is using absolute or relative paths?

For example, if the user specifies a path starting with `/`, it should be detected as an absolute path and the exclude pattern should be appended to it directly.

If the user's start path is NOT start with `/

[2016-01-13 09:19] fommil commented on #660
Will there be a 64 bit single binary download eventually? That would be really useful for me.

[2016-01-13 09:20] fommil opened #761 "parallel ctags"
as far as I understand it, ctags is single threaded. Are there any plans to support parallelisation? May speed things up on huge codebases.

[2016-01-13 09:39] masatake commented on #654
See https://github.com/universal-ctags/ctags-xparsers/issues/2

[2016-01-13 21:16] mawww commented on #761
Hello,

while built in parallel implementation can be interesting, its already possible to parallelize updating a big codebase by launching different ctags on different directory and then merging the generated files (which can be done simply by dropping the lines beginning with ! from all files but one and using sort --merge on all files afterwards).

However, I am not convinced you'll get any spe

[2016-01-13 21:27] fommil commented on #761
@mawww I'm sure https://github.com/ggreer/the_silver_searcher would disagree :wink:

Running multiple ctags would be extremely difficult to coordinate from the standard emacs https://github.com/bbatsov/projectile/blob/master/projectile.el#L180-L183

[2016-01-13 21:46] mawww commented on #761
Good point.

A shell script wrapper could already go a long way, but yeah it might be more efficient to integrate that directly into ctags.

[2016-01-13 21:59] b4n commented on #761
@fommil That guy's [blogpost on the matter](http://geoff.greer.fm/2012/09/07/the-silver-searcher-adding-pthreads/) is not very clear from where it started to where it went (well, you can read it between the lines, but well), and anyway it's really not that much.  And I don't mean to disregard any of his work, but I'm not gonna fully trust the results of someone that seemingly just learned about mu

[2016-01-13 22:02] b4n commented on #761
BTW, I don't mean that improving this area in the code is not a good idea, I do think it is (esp. for a possible future libctags).  I just mean that if performance is the goal, it's probably not (currently) worth the effort, and that there are more important area to focus on.

BTW, firing up a profiler and profiling a buckload of data in a gazillion ways would probably be interesting.

[2016-01-14 08:17] masatake commented on #761
GNU parallel may help you.

[2016-01-14 20:38] dtikhonov commented on #761
As mentioned [before](https://github.com/universal-ctags/ctags/issues/123#issuecomment-64301538), speeding up reading can speed up ctags quite a bit.

[2016-01-19 01:41] masatake commented on #753
I'm working on this. I found extra bugs during fixing.

[2016-01-20 00:46] masatake commented on #753
@jonthn, could you try #762?

When  --program-prefix=ex is given in building ctags, optlib2c generates code which makes ctags refer
/usr/local/libexec/ctags/drivers/excoffeetags.

Installing the coffeetags driver to  /usr/local/libexec/exctags/drivers/coffeetags is better, but I want to keep Makefile.am simple.

[2016-01-20 17:43] m-novikov opened #763 "Python parser doesn't output all tags"
After the latest changes to python parser https://github.com/universal-ctags/ctags/pull/751
Parsing file with following contents
[code]
will not give tags for anything after the line ```var = some1(some2())```
Any signatures that contain inside parenthesis will also break parser
[code]
and
[code]

[2016-01-20 21:06] jonthn commented on #753
@masatake Thanks for working on this. I just gave #762 a try and it solves the issue for me.

[2016-01-21 00:36] masatake commented on #763
Thank you for reporting this. I will try to fix it.

[2016-01-21 00:38] masatake commented on #753
@jonthn, thank you for testing.

[2016-01-21 00:38] #753 closed

[2016-01-21 02:06] masatake commented on #763
@m-novikov, could you try #764 ?

[2016-01-21 06:19] m-novikov commented on #763
It's working.
Found one more thing related to https://github.com/universal-ctags/ctags/pull/751
Function call with keyword arguments
[code]
Will produce following
[code]

[2016-01-21 06:47] masatake commented on #763
@m-novikov, new bug you found may be reproduced even in ctags befre introducing the change of #751.
In other word it is different bug. #764 I wrote today is for fixing a bug introduced in #751.

Do I make sense?

[2016-01-21 07:34] m-novikov commented on #763
Yes, thank you.
I will create new issue on this.

[2016-01-21 07:49] m-novikov opened #765 "Python mult-iline keyword arguments it tag file"
Follow up to https://github.com/universal-ctags/ctags/issues/750
Function calls with multi-line keyword arguments results in keyword arguments parsed as variables
Given
[code]
Getting following tags
[code]
Expected output is
[code]

[2016-01-21 08:10] masatake commented on #763
@m-novikov, thank you for opening a new issue.

[2016-01-21 08:10] #763 closed

[2016-01-21 17:34] masatake commented on #765
Could you try #767 ?

[2016-01-22 07:39] m-novikov commented on #765
Yes it's working, thank you.

[2016-01-22 15:40] adoxa opened #768 "MSYS support"
With the inclusion of `PKG_CHECK_MODULES` (for libxml), autoconf no longer works with MSYS, as `pkg-config` is not supplied (but is available from other sources). MSYS also breaks command line arguments like `/pattern/`, with apparently no way to override it (having to use `//pattern\\` instead), affecting the tests. Is there still an interest in supporting MSYS, or is it time to move on and just

[2016-01-23 08:15] Shihira opened #769 "ctags is unable to recognize less-than sign in templates."
[code]

It's clear that this piece of code can be compiled with success in a real compiler, but when parsing it using ctags I got an almost empty tag file, namely I lost all functions that follow `func()`:

[code]

[2016-01-25 12:21] hgiesel opened #771 "Using a C++11 style trailing return types with universal-ctags"
I noticed that universal-ctags (like exuberant-ctags) doesn't work with C++11 style trailing return types. Is there a reason for that?

[2016-01-25 13:21] masatake commented on #771
Becuase none has not worked on the area.
I'm learning C++-11 but its language spec is too large for me.

[2016-01-25 18:14] masatake commented on #769
Thank you for reporting. Could you try  #772?

[2016-01-26 17:24] masatake commented on #682
NOTE: `--list-extensions` and `--list-patterns` may be needed.

[2016-01-26 17:26] masatake commented on #771
This is the same as #693?

[2016-01-26 17:31] masatake opened #774 "provide the way to define predefined format"
Putting following line to your ~/.ctags

[code]

You can use the format with `-X emacs-compile`.

[2016-01-27 16:10] hgiesel commented on #771
The question implies something else, but yes it is. I will close this issue then.

[2016-01-27 16:10] #771 closed

[2016-01-28 05:50] #765 closed

[2016-01-28 05:51] #769 closed

[2016-01-30 21:30] masatake commented on #723
--list-pseudo-tags is implemented in #775.

[2016-01-31 05:52] dgutov commented on #524
@masatake `A#method` for an instance (normal) method, and `A.method` for a class method (one defined with e.g. `def self.method` inside `class A`).

[2016-01-31 12:28] #748 closed

[2016-01-31 12:29] masatake commented on #748
https://github.com/Wraul/vim-easytags/commit/f5746bdfd9942b00c349e53f3f4917ae73bb6797

[2016-01-31 20:13] marlun opened #780 "JavaScript object functions (ECMAScript 6)"
If I've got the following file

[code]

Bar is found but jump is not. I get the following tags file

[code]

If I've got the following file

[code]

Nothing is found where I would like to get Bar2 and jump2. My tags file look like the following

[code]

I found the following configuration somewhere on the web which makes ctags find the functions but now it doesn't find Bar, it does however find Ba

[2016-01-31 21:44] b4n commented on #780
Not sure if `jump()` here is anything in (pure) JavaScript syntax?  Maybe it's correct ECMAS6, but I don't know this part.

Well, `class` syntax is ECMAS6.  Not supported yet, but could be added (needs proper reference for it, but should be doable).

[2016-01-31 21:51] b4n commented on #780
Useful resources
 * http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf (esp. §14.5)
 * https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Classes

[2016-02-01 14:32] marlun commented on #780
It is, I know this isn't the prefect reference but at least it describes the features used in my code snippet above:

https://github.com/lukehoban/es6features#enhanced-object-literals

[2016-02-03 17:25] blueyed opened #781 "python: ignores tags after (certain) doc quotes"
[code]

`Bar` is missing.

This is possibly related to the code at https://github.com/universal-ctags/ctags/blob/master/parsers/python.c#L1110-L1118 and/or https://github.com/universal-ctags/ctags/blob/master/parsers/python.c#L866.

[2016-02-03 21:43] blueyed opened #783 "Please document how to run single unit tests"
I have the feeling that we talked about this before, but it would be nice to be able for `make Units/parser-python.r/bug699171.py.d` to run only this unit test.

This should be documented in README.md.

[2016-02-03 21:48] blueyed commented on #781
Submitted a test case at https://github.com/universal-ctags/ctags/pull/784.

[2016-02-04 00:37] masatake commented on #783
[code]

I will update https://github.com/universal-ctags/ctags/blob/master/docs/units.rst .

[2016-02-04 12:32] masatake commented on #723
Till someone adds universal-ctags own pseudo tag,  the option for enabling/disabling each of them is not needed.

[2016-02-04 12:32] #723 closed

[2016-02-04 18:16] sserbin opened #787 "PHP parser: include fully qualified class name"
Would it be possible to include FQCN in addition to  a class name (or instead) in a tags file?

Test case:
[code]

Current output:
[code]

What I'm looking for:
[code]

This would allow you to search/jump to a class definition with both `:ts bar` and `:ts foo\\bar`

[2016-02-04 18:58] masatake commented on #787
Thank you for reporting this. You are not only the person who wants this. See #524.
Let's discuss it.

I would like to know all combination of FQCN.

You told me the combination of two classes uses `\\`.
How about a name space and a class?
How about two namespaces?

Could you tell me all the combinations of kinds which can be part of a FQCN and
separators you expected. If possible, could you tell

[2016-02-04 21:42] sserbin commented on #787
Forgot to mention that this is probably useful only for vim (and possibly for other editors which can only use a tag name and not the rest of the fields)

FQCN (fully qualified class name) consists of full namespace + a class name. FQCN is somewhat similar to an absolute file path on a file system. Namespaces can be nested as well. Here are some examples of fqcn's:
`\foo\bar` class "bar" in namesp

[2016-02-04 23:06] b4n commented on #787
Backslashes (`\`) are escaped in the name field apparently.

Internally the U-CTags PHP parser never uses `\` in the scope but always `::`.  This is not really correct per PHP conventions as it should probably use `\` after a namespace, *but* it was done on purpose so we can report a qualified name (QN) in the scope tag without requiring the tools using it to be able to split it on more than one s

[2016-02-04 23:07] b4n commented on #787
BTW, using the cork scope feature plus a table of kind->separator could probably work for any parser that can use cork (any parse that only reference existing tags in the scope, instead of mere names IIRC).

[2016-02-05 08:08] sserbin commented on #787
Well it seems then it would be more appropriate to just do a custom post-processing with awk/etc and add additional tag - at the end overcoming limitations of specific editor shouldn't involve that much effort.

though your ctags fork - https://github.com/b4n/ctags/tree/better-php-parser - produces tags with one backslash (which is also what phpcomplete.vim relies upon)

[2016-02-05 08:15] masatake commented on #787
@b4n, thank you for great comments

I have been a developer of u-ctags. However, I have not been its user. I have used TAGS output of u-ctags on emacs. As such background, I had the same option of @b4n wrote

     Esp. this (qualified tags), that merely are just concatenating two already existing info (which in itself, IMO, makes it quite useless in itself though).

However, these days I have to r

[2016-02-05 09:10] masatake commented on #787
I merged @b4n's makeExtraTagEntry to my branch.
Now python parser can emit FQ tags. See https://github.com/universal-ctags/ctags/pull/788 .

For php, following code may be needed.

[code]

[2016-02-08 16:24] tarzanek opened #790 "utf-8 eol support ?"
This is more like a question - does universal ctag support utf-8 eols ?

We have some clash on jflex Vs ctags
https://github.com/OpenGrok/OpenGrok/blob/master/testdata/sources/c/bug15890.c#L4

and I was wondering if ctags caught up here eventually

tia for any answer
L

[2016-02-08 19:33] b4n commented on #790
AFAIK it doesn't, and only `\n` and `\r` are recognized.

Using VT (0B) and FF (0C) as line separator is questionable IMO.  The others require knowing the encoding of the input file, which is terribly tricky (yes, UTF-8 is easy-ish to recognize, but it's basically the only one).

Also, how relevant is it to support it?  Especially in C: neither GCC nor CLang do support them, and they treat it at b

[2016-02-08 23:44] pragmaware commented on #761
Parallel execution of parsers could speed up things quite a bit if I/O comes from cache (and this is often the case the Nth time you run ctags on a directory from an editor).

[2016-02-08 23:52] pragmaware commented on #722
@masatake  About the splitting: I'm working on https://github.com/pragmaware/ctags/tree/new-cpp-parser which is a C/C++ parser written from scratch. Obviously separated from the old one.
It still needs some work/cleanups but it's already generally more correct and foolproof than the old one.
It can even report new kind of data, like "using" statements. Other interesting and possibile additions are

[2016-02-09 02:30] dtikhonov commented on #761
@pragmaware IMO, a library should not fork.

[2016-02-09 08:57] tarzanek commented on #790
I am concerned about java (ev. java ee) and android source code files in particular
Also C# and other newer languages might benefit from this support - at least for UTF-8 if possible
jflex supports it, so ctags could too, no? ;)

[2016-02-09 13:48] #783 closed

[2016-02-09 17:07] masatake commented on #790
Is this serious issue in opengrok?
Is there source code of free software using utf-8 eol?

[2016-02-09 17:40] masatake commented on #722
Great job.

I strong belive you will accept my invitation to join u-ctags organization as a maintainer of this parser.

Fell free to make a draft PR, so you can utilize u-ctags CI infrastructure.

If possible. please fix #735 in your parser.
I think using kind can be enable by default.
I would like to consider introducing reference tags for callees in a caller.
e.g.
[code]
Here `g` can be tagged a

[2016-02-09 18:00] pragmaware commented on #722
Agreed :)

Though my parser still needs some work. I will work on it in the weekend.

Anonymous structures/classes/enums are already caught by this parser
(not sure if all of them, but the code is supposed to do it).

Interesting. I'll think about it.

Yep. They're a lot like local variables.

Hm.. well'that code (in get.c) is cpp specific too, or I'm wrong?

foo   input pattern;"   language:C   k

[2016-02-09 18:08] masatake commented on #722
The prefix cpp in  get.c means C preprocessor. It is used in some areas in parsers/*.c.
I will change the prefix the cprepro or something.

Oh, I see. Looks better than my idea. xtag.h is for you.
@b4n is our parser expert, so he will give some comments.

[2016-02-09 18:10] masatake commented on #722
Oh, it seems that you are kde hacker.
Feel free to add code for capturing slots and sockets.

[2016-02-09 18:46] b4n commented on #722
I'd rather not, "cpp" is generally accepted to mean "C preprocessor", and C++ use "cxx" in context where both could appear (`CPPFLAGS` vs. `CXXFLAGS`, `CPP` vs. `CXX`, etc.).

I'll try.
On thing right away: it's great thing working on new (or cleaned up would have worked, but whichever) C and C++ parsers, because the current state is basically impossible to maintain.  I'm not certain combining the

[2016-02-09 22:09] pragmaware commented on #722
OK. I'll switch to cxx prefix then.

As for C/C++ separation I have used the trick from the previous parser: the keywords recognized depend on the language. It's already there but I still have to test it. For now concentrating on C++ as C is a subset of it.

I'll try to add some magic in order to figure out common macro cases (and will take a look at isIgnoreToken to get the good out of it).

[2016-02-10 08:58] masatake commented on #722
I have much time to read Java source code. As the result I got some experience as a ctags user.
constructors and destructors kinds may be useful.

[2016-02-10 11:53] tarzanek commented on #790
not really, it's just that we have different code bases for using ctags line numbers, since because of EOL they don't have to match jflex line numbers ...
so I'd hope to cleanup this messy workaround we have since it's 2016 :)

[2016-02-10 14:20] tarzanek commented on #790
regarding free code - android source code might be an example, but not 100% sure

[2016-02-10 14:21] tarzanek commented on #722
caller callee reference would be lovely!

[2016-02-11 17:13] masatake commented on #787
I need a bit more complex example. Could you show me more nested input and its expected tags.
class can be nested?

[2016-02-11 17:23] b4n commented on #787
@masatake It's relatively simple actually: always use `::` as the separatror but after a namespace, where you use `\`;  nothing else is needed. `sep = (prev->type == NAMESPACE) ? "\\" : "::"`

In practice, nothing can be below a namespace, so you won't ever see something like `\Ns1\Class1::Ns2::func1`.  But you don't have to know that, the expected thing would still be to put a `\` after a namespa

[2016-02-11 17:53] masatake commented on #787
@b4n, thank you. my `scopeSeparatorFor` cannot put the root separator(?), but other than "subtlety",
my local code works fine.

The separator table definition:

[code]

What I got:
[code]

TODO:

* new pseudo tag: !_TAGS_SEPARATORS!Php ...
* new field: `fqtag:` or something
* root separator

[2016-02-11 17:56] masatake commented on #787
I'm not sure `--list-separators` is needed or not.

[2016-02-11 18:10] masatake commented on #787
(I guess the root separator should be put in php.c side.)

[2016-02-12 08:34] kcwu opened #792 "use uninitialized field in kindOption"
How to reproduce:
[code]

output of valgrind:
[code]

This is because `kindNew()` allocates `kindOption` using `xMalloc()` and didn't initialize `kind->separators`.
Suggest to use `xCalloc()` instead.

BTW, `loadPathKind()` used `xRealloc()` and didn't initialize `separators` which is suspicious, too.

[2016-02-12 14:02] masatake commented on #792
@kcwu, thank you very much. I make a PR based on your advice.

[2016-02-15 12:58] jockej opened #794 "Build problem on OpenBSD"
I'm trying to build on OpenBSD, but it turns out that all the .c files in the optlib directory are empty, which of course means that linking fails with unresolved dependencies. I think this has something to do with the face that the optlib2c script seems to be a bash-script, and I don't have bash installed (and even if I installed it it wouldn't be /bin/bash but /usr/local/bin/bash).

So I guess s

[2016-02-15 15:06] masatake commented on #794
optlib2c is run in autogen.sh, which is run before configure is run.
Could you try #795?

[2016-02-15 15:07] #792 closed

[2016-02-15 15:33] masatake commented on #794
Sorry, I misunderstood my code. BASH is needed; configure verifies its existence.
[code]

[2016-02-15 15:49] jockej commented on #794
Well, this is embarrasing... Turns out I have bash installed. But it was installed as /usr/local/bin/bash, so I guess that's why the script failed. So maybe just change the shebang to #!/usr/bin/env or something?

But, well, seems it works with zsh as well :)

Anyway, sorry for my stupidity. It never occurred to me I could have bash installed....

[2016-02-15 15:51] jockej commented on #794
change the shebang to #!/usr/bin/env bash of course. But maybe it could be nice to allow those who do not have bash installed but something compatible to build as well. Bash is a pretty massive dependency.

Thanks for your time!

[2016-02-16 07:05] masatake commented on #794
Could you try #796?
If bash is not avaiable, pre-translated C code is used for building ctags.
I don't want to debug C code generated by optlib2c interpreted by zsh.

[2016-02-16 10:22] jockej commented on #794
I tried it, but I found another problem, which I of course should have found sooner. In OpenBSD there is no seq(1) command. So maybe there should be a check for that as well. This leads me to believe that while I succeeded in building and installing ctags before, the program might not actually be correct... which I guess is worse than just not linking.

[2016-02-16 18:28] vhda commented on #559
Apparently PR #700 reopened this issue.
My knowledge of autotools is very limited, so I'm unable to hack the solution for this, sorry.

[2016-02-16 18:31] vhda commented on #794
@masatake I've said this before: why don't we keep the conversion script as an auxiliary script that developers can use while **initially** importing the code to C? After that developers simply maintain the C code, avoiding an extra dependency on bash.

[2016-02-18 01:55] masatake commented on #794
I think we should not maintain machine generated files if its original source files are available.
For example we should not maintain configure script. Maintaining configure.ac is better.
I think you agree with me about this point. Should we maintain the configure script to remove the
extra dependency on autoconf? I don't think so. I don't want to read machine generated files.

The issue may be th

[2016-02-18 01:59] masatake commented on #794
@jockej, I will add seq(1) to the check list. How about other command?
As I wrote I will rewrite optlib2c in perl. I believe you are using autotools for building ctags.
When the new optlib2c is avaiable, we can throw away the check list.
However, I don't know perl so the rewriting will take time.
So I would like to maintain the checklist in configure.ac and autogen.sh in a parallel way.

[2016-02-18 02:26] dtikhonov commented on #794
@masatake , with pleasure.

[2016-02-18 10:11] mrate opened #797 "java - 'catch' block is evaluated as a method"
When java source file is passed to ctags with "--java-kind=+l" as an argument then try/catch blocks are evaluated as a methods:

[code]
[code]

sample.java:
[code]

[2016-02-18 23:45] acarlson1029 opened #798 "Syntax errors in tagXPathTable initializations: ant.c, dbusintrospect.c, glade.c, maven2.c"
Tried to compile with the latest today and ran into the following issue.

The `tagXpathTable` structs being initialized have a minor syntax error:
[code]

Where the struct is defined in `path.h` as
[code]

The third argument here is a union, but the initializers are missing the curly braces.
[code]

This affects the following files:
 * ant.c
 * dbusintrospect.c
 * glade.c
 * maven2.c

Patch attach

[2016-02-19 01:46] masatake commented on #798
Thank you for reporting this.
My understanding is that this is an issue about building ctags, not about runnning ctags.
Am I correct?
(If yes, ), could you tell me the environment where you built ctags.

Can I ask you to make a pull request for 0001-Fix-syntax-errors-when-initializing-union-attributes.txt ?
So I can merge the change easily.

Thank you again.

[2016-02-19 01:49] masatake commented on #797
(I changed the format of the original report.)

[2016-02-19 05:15] masatake commented on #797
Thank you for reporting. Could you try #799?

[2016-02-19 09:10] mrate commented on #797
Just tested your branch masatake:fix-797-add-catch-as-keyword and it works. Thank you very much for a quick fix!

[2016-02-19 09:11] masatake commented on #797
Thank you for testing it.

[2016-02-19 09:11] #797 closed

[2016-02-19 09:46] tarzanek commented on #721
am on
commit 91c0d475c4a7c74e70a37fa472122639fb1d077e
Merge: 1421dfa 9aba9d0
Author: Masatake YAMATO <masatake@gmail.com>
Date:   Fri Feb 19 18:11:35 2016 +0900

    Merge pull request #799 from masatake/fix-797-add-catch-as-keyword

    Java: add catch as a keyword

[2016-02-19 09:47] tarzanek commented on #721
and now
./autogen.sh
autoreconf: Entering directory `.'
autoreconf: configure.ac: not using Gettext
autoreconf: running: aclocal --force
/usr/share/aclocal/aalib.m4:12: warning: underquoted definition of AM_PATH_AALIB
/usr/share/aclocal/aalib.m4:12:   run info Automake 'Extending aclocal'
/usr/share/aclocal/aalib.m4:12:   or see http://www.gnu.org/software/automake/manual/automake.html#Extending-a

[2016-02-19 09:48] tarzanek commented on #721
this used to work ;)
any clues? (the env is still the same, S12, zsh, versions of autotools:
pkg list | grep auto
developer/build/autoconf                          2.69-5.12.0.0.0.92.1       i--
developer/build/autogen                           5.16.2-5.12.0.0.0.92.1     i--
developer/build/automake                          1.15-5.12.0.0.0.92.1       i--
developer/build/automake-111

[2016-02-19 09:49] tarzanek commented on #721
@masatake got any clues what happened? (I didn't follow all the changes in repo for past 2 months)

[2016-02-19 09:56] tarzanek commented on #721
OK, my fault
sudo pkg install pkg-config
solved the issue

[2016-02-19 10:07] tarzanek commented on #721
I guess we can close this issue, no?

[2016-02-19 10:07] tarzanek commented on #721
actually let's close it, if you want to follow up on any other thing @masatake then let's do it in new thread.
tia
L

[2016-02-19 10:07] #721 closed

[2016-02-19 10:23] tarzanek opened #800 "optlib generates files that won't work in compilation"
hmm, so in the end my env is still weird
S12, same env as in #721
I do
./autogen.sh
./configure
gmake
and:
Undefined                       first referenced
 symbol                             in file
GdbinitParser                       main/ctags-parse.o
CtagsParser                         main/ctags-parse.o
M4Parser                            main/ctags-parse.o
ld: fatal: symbol referencing error

[2016-02-19 19:46] robertzajda opened #801 "SASS/SCSS support"
Hi
Maybe not clean but working solution:
http://geany.robert.dvu.pl/

[2016-02-20 00:46] acarlson1029 commented on #798
Am I correct?

Correct, I encountered this while building.

Let me know what environment info you're looking for. Off the top of my head --
- VM is running CentOS 5.7
- GNU Make 3.81
- autoconf (GNU Autoconf) 2.69
- automake (GNU Automake) 1.15
- gcc (GCC) 4.2.1

[2016-02-20 01:15] masatake commented on #798
Thank you.

gcc 4.9.2 accepts the syntax... I wonder the standard used as default syntax in gcc is changed.
I would like to know it because I like my original notation. I should know where/when I can/cannot use it.

[2016-02-20 01:24] masatake commented on #798
How about removing
[code]
and associated
[code]
?

So the structure definition changed to
[code]

[2016-02-21 07:36] masatake commented on #787
Adding the root separator to full qualified tags is o.k.::
[code]

Should we add the root separator to the scope informatoin, too?

[code]
or
[code]

Which is better? @b4n, do you have any idea?

As we wrote full qualified tags are just sugar tags in meaning of syntax sugar in programming languages; serious higher level tool developers can be alive without it.
(I don't say non-serious higher level

[2016-02-21 07:40] masatake commented on #690
Is `fullQualified:` o.k.? Any other good name?

[2016-02-21 07:44] masatake commented on #524
The basic infrastructure is implemented as part of solving #787.
About python, fullQufalified tag is implemented on the infrastructure, and works fine.
Next one is ruby.

[2016-02-21 07:47] masatake commented on #798
https://gcc.gnu.org/onlinedocs/gcc/Unnamed-Fields.html

[2016-02-21 07:52] masatake commented on #800
I'm rewriting optlib2c in perl.
It will solve these confution.
You may have perl.

[2016-02-21 08:14] masatake commented on #801
Thank you for introducing the patch.
Howere, there is no copyright information, so we cannot use this in u-ctags.

[2016-02-21 17:40] masatake commented on #798
I thought about this again.
My approach I wrote here was a bit tricky. In stead I will use named union:

[code]

[2016-02-22 07:31] #794 closed

[2016-02-22 07:32] masatake commented on #798
Fixed by your patch. Thank you.

[2016-02-22 07:32] #798 closed

[2016-02-22 18:42] masatake commented on #800
Please, try #804.

[2016-02-22 18:44] masatake commented on #794
@jockej, Please, try #804.

@dtikhonov, could you look at #804. It generates the same output of bash version.
I would like you to check my code follows "perl way" well or not.

[2016-02-22 20:19] dtikhonov commented on #794
Looks great, @masatake!  (I did not run it, just read through it.)

Perl is not like some other languages in that it does not have One True Way&trade; -- it's motto is "There Is More Than One Way To Do It."

The only thing I've noticed is superfluous code on lines 39-41, where three subroutines are declared.  Since the subroutines are called with parentheses (on line 100, for example), the subrout

[2016-02-22 20:45] jockej commented on #794
@masatake I tried it. There seems to be a typo in autogen.sh, I'm guessing the condition should be: if verify_oplib2c_requirements on line 12?

If I run autogen.sh as it is it says: can_run_oplib2c not found, and then uses the pre-translated files. However I too the liberty of changing from can_run_optlib2c to verify_optlib2c_requirements and then it runs fine and translates the .ctags files and c

[2016-02-22 22:45] masatake commented on #794
Thank you both.
I've updatd the pull request based on the comments.

[2016-02-23 08:36] masatake commented on #787
Experimental pseudo tag for separators is added:

[code]

I will not include code implementing fq or fullQufalified extra tags in my next pull request. The pull request will become too large if I include it.

[2016-02-23 08:38] jockej commented on #794
I've pulled the new version and tried it. It seems to work just fine :)

[2016-02-23 08:42] masatake commented on #794
Thank you for verifying.

[2016-02-23 13:24] tarzanek commented on #800
lovely! all works now! :)
Thank you sir!

[2016-02-23 13:24] #800 closed

[2016-02-24 03:06] masatake commented on #787
@sserbin, could you try #806.

[2016-02-24 09:10] sserbin commented on #787
Tried with #806 although I'm not sure what is the change I should be looking at? The only thing changed is different delimiter (\\ vs ::) in "class" attribute for a tag entry.

Also, is it strictly neccessarily to escape backslash in tag name (for namespaces) - https://github.com/b4n/ctags/tree/better-php-parser ctags don't have them escaped:
b4n ctags:
`foo\baz\bar	b.php	/^namespace foo\\baz\\bar

[2016-02-24 09:37] masatake commented on #787
`\\` cannot be changed.
Backslashes (\) are escaped in the name field apparently. This is needed to handle \t in name.
My understanding is that @b4n's better-php-parser branch cannot handle \t in a name well.
@b4n, am I correct?

How about other things ?

    The only thing changed is different delimiter (\ vs ::) in "class" attribute for a tag entry.

This is what I have done in the pull request.

[2016-02-24 09:50] masatake commented on #787
@sserbin, I took some mistakes.
What I would like you to see https://github.com/universal-ctags/ctags/commit/5d65833dd56acad87ca6d766ba8bd42fe4475033 . (I have rebuilt my commits.)

[2016-02-24 09:53] sserbin commented on #787
That's totally understandable and appreciated, I just wanted to confirm I didn't miss any other changes.

Yep, it has a valid "namespace" attribute as well.

Speaking of php, I don't think it's possible to have \t in a name anyway.

[2016-02-24 10:13] masatake commented on #787
Internally, with my new code, parser developers can declare separators used in scope and full qualified tags declarative way. In addition all separators  can be printed as pseudo tags. Php parser is the first parser using this new facility. As far as I can remember this new facility solve the issues of Ruby and python, too. (So I took much time for the small change.)

Thank you for verifying.
So c

[2016-02-24 10:22] sserbin commented on #787
That seem to work as desired (i.e. --extra+q produces extra tag entries with fqcn). I'll have a closer look later today and will let know if I have any more questions. Thank you.

Yes. I'm ok with having it dealt with in a separate issue.

[2016-02-24 10:23] masatake commented on #787
@sserbin, thank you.

[2016-02-27 15:17] #787 closed

[2016-02-27 15:30] masatake opened #815 "Reconsider backslashs in tag name"
Related to #582, #787.

There is a confliction about usage of backslash.
PHP uses backslash as a separator in an item in a namespace.
u-ctags uses backslash as an escape character.

Basically this is an issue of upper layer tools, not u-ctags.
u-ctags will provide the information about separators used in tags file via pseudo-tags.
The tools should use it.

Anyway I will ask you what we can do.
Imp

[2016-02-27 15:34] masatake opened #816 "support separator pseudo tags in all parsers"
Currently in most of all parsers, separators used in scope information and full qualified tags are
hard coded. No the separators should be declared in kindOptions. So they are printed as part
of separator pseudo tags.

[2016-02-27 15:37] masatake commented on #685
Now tmain can pass the path to readtags to run.sh script. So you can test readtags.
Coverages are not considered.

[2016-02-27 15:40] masatake opened #817 "sort and formatted print extensions in readtags"

[2016-02-28 16:30] masatake opened #821 "parser for configure.ac"

[2016-02-28 16:30] masatake opened #822 "parser for Makefile.am"

[2016-02-28 16:30] masatake opened #823 "parser for rpm spec file"

[2016-02-28 18:10] b4n commented on #821
I started a generic M4 parser with quoting switching support some time ago, allowing to dynamically switch to `[` and `]` quoting, and a specialized version for Autoconf with those as default. https://github.com/b4n/geany/blob/wip/master/tagmanager/ctags/m4.c

Not sure if it's what you're thinking about here, or if you meant real handling of the dual M4/shell?

[2016-02-28 18:10] b4n commented on #822
What is the real difference with Make parser?

[2016-02-28 22:45] masatake commented on #822
I would like to answer by examples. (I cannot explain my idea well yet.)

[code]
Here `drivers` is tagged as `d(dir)` kind.

[code]
Here `libexec/drivers/coffeetags` is tagged as a `s(script)`.
I would like to attach `scope:dir:drivers` to this.

[2016-02-28 23:23] b4n commented on #822
Oh, I see.

[2016-02-29 08:38] dawikur commented on #693
Hi @masatake, maybe you need any help with that?

[2016-02-29 09:25] vhda commented on #559
@masatake is it too hard to fix this given the recent revamp of our autotools usage?

[2016-02-29 14:26] masatake commented on #559
I have not looked into this yet.

[2016-02-29 14:29] masatake commented on #693
@dawikur, we need your help. Could you join the testing and reviewing #824 ?
@pragmaware has rewritten C++ parser of ctags completely. I hope the new parser will solve this issue.

[2016-02-29 14:38] masatake commented on #821
@b4n, thank you for notifying.

(I don't understand what I want yet.)

I would like to capture at least
AC_DEFINE,
AC_SUBST
AH_TEMPLATE,
AC_ARG_WITH, and
AC_ARG_ENABLE.

They are rather high level(?) items than items m4.c captures.

m4.c is good place to start.

[2016-02-29 14:39] masatake opened #825 "Replace m4 parser"
Replace opt/m4.ctags with better implementation: https://github.com/b4n/geany/blob/wip/master/tagmanager/ctags/m4.c

[2016-02-29 16:07] pragmaware commented on #693
With the new parser this is easy :)
See https://github.com/pragmaware/ctags/commit/bd4aba3f750ac66115b895d3f56234b5d4f0cd00

[2016-02-29 17:02] still-dreaming-1 opened #826 "Mistakes PHP code for JavaScript code from inside a .php file"
I wrote this PHP class as a way of testing universal-ctags:

[code]

This is very typical of code I would actually write. Yes, I know, I'm weird. Anyway, all I did was run ctags -R at the project root. Then when I try to lookup `o` where it says `extends o`, it takes me to a JavaScript file instead of o.php where my o class is defined.

[2016-02-29 17:54] masatake commented on #826
I don't understand the situation well yet.
Please, let me see the generated tags file.

[2016-02-29 17:57] masatake commented on #826
Who takes you to the JavaScript?
ctags never takes you anywhere. ctags just generates tags file.
A tool you are using takes you somewhere using the generated tags file.

[2016-02-29 18:01] still-dreaming-1 commented on #826
Yes, I am using this with Neovim. I see your point that the generated tags file would be more descriptive of what universal ctags is actually doing. I wasn't sure how to report that, but the tags file make sense. I will see if I can create a simple tags file that shows the problem.

[2016-02-29 18:40] still-dreaming-1 commented on #826
I was wrong. The correct tags are getting generated in the tags file. The problem is with Vim/Neovim. It does not attempt to distinguish which tag by that name is the one you are looking for.

[2016-02-29 19:00] vhda commented on #826
Try using `g]` instead of `ctrl-]`.

[2016-02-29 19:14] still-dreaming-1 commented on #826
@vhda I appreciate the help, but that just brings up a list of tags to choose from. I want Vim to use the context of the cursor to intelligently guess and select the most appropriate tag for me. You know, like what any decent IDE would do. Choosing from a list like that is worse than thinking through where the definition would be and looking it up manually.

[2016-02-29 20:27] vhda commented on #826
Vim is dumb. Vim is not an IDE and it will constantly fail to meet your expectations if you **need** an IDE.

That said, in this case universal-ctags will not be able to help you because it provides the necessary information but Vim is not able to natively interpret that information as you would like it to. What you can try is to search for a plugin that implements that functionality for you. Unfo

[2016-02-29 21:34] still-dreaming-1 commented on #826
@vhda I know Vim is not an out of the box IDE, I don't need to be told this. I have been using Vim for many years now. As I previously stated, I have already figured out that Vim is not using context to understand what tags to lookup. I think my not putting this all together until now has more to do with misunderstanding what tags are and how Vim looks them up. Vim does not need to be an IDE to be

[2016-03-01 11:41] htfy96 opened #827 "CXX Parser: missing typedef that includes >>"
Testcase:
[code]

Incorrect tags:
[code]

Changed version of source:
[code]
Correct tags:
[code]

[2016-03-02 06:15] masatake commented on #826
Can I close this?
My understanding is that this is nothing about php parser.
If you have an idea to improve ctag side, open another issue.

[2016-03-02 06:17] masatake commented on #827
@htfy96, could you try the input with https://github.com/universal-ctags/ctags/pull/824 ?
@pragmaware is developing completely new C++ parser. Universal-ctags will use it.

[2016-03-02 06:41] #826 closed

[2016-03-02 08:30] htfy96 commented on #827
@masatake
The new C++ parser works as expected.

[2016-03-02 12:31] masatake commented on #827
@htfy96, thank you for testing. Your report encourages @pragmaware.

[2016-03-02 21:20] robertzajda commented on #801
This are only some improvements of existing files. So license is the same as before. I made only a note about improvements. If you want to use this patch, just give me a hint what copyright contents are required.

[2016-03-03 02:18] masatake commented on #801
??? Are you the author of the patch?
If you are the author, I agree with what you wrote.
If not, I don't agree with you.

[2016-03-03 02:20] masatake commented on #801
(I'm concerning about the source of the patch. I really don't want to steal the one's work.)

[2016-03-04 01:42] masatake commented on #690
Another idea is `extra:` like
[code]
Emitting them can be controlled with --fileds=+E.

[2016-03-07 17:14] masatake opened #830 "Test cases under review-needed.r (language: C++)"
@pragmaware.
Could you look at #361?

There are 5 test cases about C++ under the /review-needed.r directory.

[code]

These test cases must be reviewed and may be modified: adding more options to args.ctags and/or updating expected.tags. I guess there are subtle cases. In that case I would like you to add README for
the test case.

After being reviewed the cases will contribute to improve your new

[2016-03-08 04:34] masatake opened #831 "memory accessing error in selectByDTD"
With following command line:

[code]

I got following errors:

[code]

[2016-03-09 03:36] #831 closed

[2016-03-10 13:07] hiberabyss opened #834 "Generating tags failed when file contains ">>""
When there is code like `vector<vector<int>> C;` , then ctags can't generate tags for the codes below that lines.

For file test.cpp:
[code]
run `ctags test.cpp` will generate following `tags` file:
[code]

However, for file test1.cpp
[code]
after run `ctags test1.cpp`, there is no tag in the `tags` file.

The output after run `ctags --version` is:
[code]

[2016-03-11 12:05] masatake commented on #834
@pragmaware, I tried your latest C++ parser with the input reported by @hiberabyss:

[code]
It seems that the original bug reported by @hiberabyss is fixed in your parser.
However, C is not appearted on the tags file. Could you fix this?

I guess this is fundamental limitation of single pass parser.

[2016-03-11 12:07] masatake commented on #834
@hiberabyss, thank you for reporting.
Currently @pragmaware is working hard to rewrite C/C++ parser of universal ctags.
Testing and reviewing are conducted in #824. As far as I tried, the bug your reported is fixed already in the new parser. However, as I found another issue.

[2016-03-11 12:36] masatake opened #836 "Display converalls result"
The coverall report in each pull request is gone.
This must be fixed.

[2016-03-11 23:03] pragmaware commented on #834
Technically that's a syntax error.

input.cpp:14:18: error: ‘>>’ should be ‘> >’ within a nested template argument list
    vector<vector<int>> C;

Since in this instance there is a keyword before the >> (which is a shift operator) I can probably add a special case in the code to handle the syntax error and emit the tag anyway...
...but do you think it's a good idea?

[2016-03-11 23:35] pragmaware commented on #830
Done in the new C++ parser.

[2016-03-11 23:35] #830 closed

[2016-03-12 02:28] masatake commented on #834
As far as giving the input to gcc, gcc accepts only if  `-std=c++11` is given.

Oh, I see. As you may know very well, people have strong interest C++ support in ctags (so that you are here :-P). The number of issues opened these days tells it. I guess we will get more. Further more the may of them about template. I would like to ask you to write entries for FAQ? If you can, I will prepare faq.rst

[2016-03-12 02:33] pragmaware commented on #834
Right. I will support this syntax then.

[2016-03-12 02:33] masatake commented on #834
@hiberabyss, as I wrote a bug you reported is already fixed in the new C++parser @pragmaware is working on. So we will fix this case when the new parser is merged as default C/C++ parser of universal-ctags.

As we discussed, there may be fundamental technical limit in tagging C on the example input.
Feel free to give us comments. @pragmaware will decide the direction of the parser with reflecting

[2016-03-12 03:05] masatake commented on #830
Thank you. This has been long standing issue. Now I can universal-ctags inherits the great legacy of exuberant-ctags...about C++. Thank you again.

[2016-03-12 03:06] pragmaware commented on #834
Done :)

[2016-03-12 05:13] hiberabyss commented on #834
@masatake @pragmaware , thanks very much for your amazing work!  The main problem caused by `vector<vector<int>> C;` is that it will block generating tags for the lines following it in the same file. I think it's ok that don't generate tag `C` if much work needed and can't be applicable for many cases.

[2016-03-12 09:44] bmag opened #838 "Can't use < in readtags -Q: GOT ERROR in QUALIFYING: number-required: <"
I'm trying to use `readtags` to browse tags file generated by `ctags`, but I'm not able to use the `<` filter. I've tried running this command:
[code]
But I'm receiving this error: `GOT ERROR in QUALIFYING: number-required: <`. The same happens if I try `>`, `<=` or `>=`.

I've built the tags file using the command `ctags --fields=* --extra=* -R .` in a python project. I've installed ctags as per

[2016-03-12 10:38] masatake commented on #838
Could you tell me your plan about the front end?

I wrote one and using daily. I have never made it public because I cannot have capacity for driving its development. The most of my time is consumed in ctags development.

My tool is named spelunker.el. It is for code reader, not for developer.

https://gist.github.com/masatake/e0dbc1f8e4a239689cad
https://gist.github.com/masatake/4a5f0edee4d43f3a5

[2016-03-12 10:55] masatake commented on #838
Could you try #839.
Thank you for reporting. As far as I know you are the first user of my filter engine.
Yes, it is designed for emacs.

[2016-03-12 14:18] bmag commented on #838
Thank you, I confirm #839 solves the issue for me.

I don't have a plan yet for the front-end. I'm still gathering ideas, so it's sort-of a wish-list for now:
- imenu support
- tree-view of file structure, including tags meta-data (kind, signature, ...)
  - AFAIK it's not possible with etags or gtags, but it seems possible with ctags :smile:
  - [imenu-list](https://github.com/bmag/imenu-list) (di

[2016-03-12 14:18] #838 closed

[2016-03-13 05:43] #682 closed

[2016-03-13 07:03] masatake commented on #234
@pragmaware, can I ask you to look at this ?
The code base is changed. So what we can do it taking ideas.

[2016-03-13 07:04] masatake commented on #827
New parser is merged.

[2016-03-13 07:04] #827 closed

[2016-03-13 07:04] masatake commented on #834
The new parser is merged.

[2016-03-13 07:04] #834 closed

[2016-03-13 07:06] masatake commented on #693
Could you try the latest code?
The new parser is merge. I hope it fixes this issue.

[2016-03-13 07:07] masatake commented on #735
Fixed with the new parser.

[2016-03-13 07:07] #735 closed

[2016-03-13 07:10] masatake commented on #306
Done by the new parser!

[2016-03-13 07:10] #306 closed

[2016-03-13 07:12] masatake commented on #191
I don't know the trick but the new parse solves this.
I got:
[code]

[2016-03-13 07:12] #191 closed

[2016-03-13 07:15] masatake opened #841 "Provide the way to define parser own options"
What kind of option format do you want?

My idea:

[code]

[2016-03-13 18:13] pragmaware commented on #841
Mh... maybe for simplicity the parser specific options could be stored in the global options structure.
We could just define a policy for naming as --<LANG>-<OPTION>:

   --c++-preserve-templates
   --python-something=value
   --c-do-something=value
  etc...

so basically no additional per-parser code would be needed ?

[2016-03-13 19:10] pragmaware commented on #234
The test is present as unit parser-cxx.r/variables-prototypes.cpp.b .
The new parser already fixes most of the problems but not 100% of them.
This is because few of the lines are actually very ambiguous (could be interpreted both as variable or prototype depending on the actual meaning of the tokens inside and we'll probably never get them 100% right) and there are still some buggy corner cases. H

[2016-03-13 19:10] #234 closed

[2016-03-13 19:50] blackb1rd opened #844 "Vim hit error e435 because EOL between file and tags file is different."
The EOL of code below is "\r\n"

[code]

and the tags file is generated as a `/^int foo() {$/` without "\r" before character dollar sign($).
[code]

is it better to generate as a `/^int foo() {\r$/` with "\r" if EOL of file is "\r\n"?
[code]

[2016-03-13 21:48] pragmaware commented on #715
- The typeref extension fields is currently used only by C/C++ parsers.
- In the current form it's useful only for class/struct/union/enum data types. With other types
  the first part of the type must be "forged" and carries no information
- In C++ the class/struct/enum/union keywords are optional so generally there is no way to figure them out

Proposal:

Let's:
- change `typeref:A:B` format int

[2016-03-13 22:28] masatake commented on #844
Basically I don't think it is better because it breaks compatibility.
The original `Exuberant Ctags` doesn't print `\r`.

[code]

[2016-03-13 22:29] masatake commented on #234
@pragmaware, thank you.

[2016-03-13 22:40] masatake commented on #841
The language common prefix is needed two reasons.

* Consider language named "help" as an example.
   Without the prefix, we have to introduce `--help-something=value`.
    Users and we will be confused.
    The name of language is obviously wrong but we cannot choose the name of language.

   This is the reason why I introduced `--kind-<LANG>` option.

* I have nerver tried implementing but I gue

[2016-03-14 01:14] pragmaware commented on #841
Hm.. we already have --<LANG>-kinds.

One point I would like to throw in is that the ctags options are already quite complex and hard to use. It took me quite a while and a lot of man page readings to understand how to use kinds, fields, extras etc.
We should avoid to increase the complexity further more...

[2016-03-14 15:06] blackb1rd commented on #844
Well, I found some users report this issue to Vim:
https://groups.google.com/d/msg/vim_dev/IR7P-4HV8LM/F8qs9h32jp4J

and Bram Moolenaar suggests to add <CR> before the $.

[2016-03-14 15:10] blackb1rd commented on #844
I may help to do a PR on this issue if you need! :)

[2016-03-14 15:51] k-takata commented on #844
As the link shows, it only occurs when CRLF and LF is mixed in one file. It's very unusual case.
If all the EOL are CRLF, Vim can find the tag without the error E435.

[2016-03-14 19:42] b4n commented on #844
For mixed line endings, it might be interesting -- but that should be *very* rare.

For any other (sane) file, I don't think it's a good idea at all.  `$` represents the end of the input or line, whatever that is, it's a logical thing, not a synonym for `\n`.  Also, if the editor really can't handle `\r\n` line ends properly, the user would have more serious problems than matching tags.

And as @m

[2016-03-15 01:52] masatake commented on #841
I would like to remove `--<LANG>-kinds`. However, it breaks compatibility.

We should avoid to increase the complexity further more...

Comparing following two:
[code]
[code]
The former will be listed in `--help`.
The later will be not. Just `-O` is listed but `C++:preserve-templates` is not.
`preserve-templates` will be listed in ``--list-parser-option=C++``.

I think the later is a bit simpler t

[2016-03-15 01:56] masatake commented on #715
(I'm thinking about this....)

[2016-03-15 02:20] blackb1rd commented on #844
I agree. So, the editor shall handle in this case. Closed.

[2016-03-15 02:20] #844 closed

[2016-03-15 03:17] pragmaware commented on #841
Hm... don't know.

(in favor of --c++-preserve-templates)
Using more commands to figure out options looks more complex to me.
--c++-preserve-templates=value is quite standard (and you will find it directly in the --help output).
-O C++:preserve-templates=value is not really standard and one will first have to discover it by stumbling upon --list-parser-options and then memorize how to use it by re

[2016-03-15 04:41] masatake commented on #841
From the implementation point of view,  `-O` is better.

`-O` will be handling at main/option.c. The name of parameter and its value is passed to a parser.
A parser should declare what kind of parameter does it take. The responsibilities between a parser and main part are well separated  here.

It is very similar to processing `--kind-<LANG>=+X`. Extracting `<LANG>` and `X` from the command line i

[2016-03-15 16:21] compleatguru commented on #787
Hi!

I have an issue with PHP using Yii2 framework.

e.g:
<?php
namespace frontend\controllers;

use yii\web\Controller as WebController;

class SiteController extends WebController{
}

How can I configure ctags to understand [namespace alias](http://php.net/manual/en/language.namespaces.importing.php)?

[2016-03-15 17:20] masatake commented on #787
@compleatguru, do you want to capture WebController of use line?

[2016-03-15 23:48] compleatguru commented on #787
@masatake, yes. I hope that the ctag can recognize WebController is referring to yii\web\Controller.

As of now,  without the namespace alias,
<?php
namespace frontend\controllers;

use yii\web\Controller;

class SiteController extends Controller{
}

The ctags will refer Controller as from yii\base\Controller and not yii\web\Controller.

[2016-03-16 03:28] masatake commented on #715
(I'm not sure I should report following here.)
I don't know well about C++. So I'm trying to find crazy input in C language.

[code]

It is not an issue that the current parser doesn't handle `return_x` well because the input is crazy and it is possible that someone who really want to make a tag for it can fix the parser later.

I would like to think about tags output; how the output should be if

[2016-03-16 03:39] masatake commented on #787
I read php.c and I found the current parser doesn't handle the use statement.
Could you kindly open this as a new issue?

Here is a workaround.

[code]

You can put the regex option to your .ctags. (Don't forget remove the single quotes when putting the option to .ctags.)

[2016-03-16 04:06] compleatguru commented on #787
Thanks! will open a new issue.

[2016-03-16 04:12] compleatguru opened #847 "Request for PHP Namespace and Use"
Reference with [PHP Using Namespace](http://php.net/manual/en/language.namespaces.importing.php)

1. CTags is lacking the ability to decipher PHP namespace alias.
   e.g:
[code]
2. CTags is pointing another class.
   e.g:
[code]
   But upon navigation, yii\base\Controller was retrieved instead of yii\web\Controller.

Hope that the team can help to address this issue.

Thank you!

[2016-03-16 16:58] masatake commented on #787
@sserbin, @b4n, I have a question about the root separator.

I read
http://php.net/manual/en/language.namespaces.importing.php
introduced by @compleatguru for understanding `use` in php.

Quote from the page:

It seems that a full qualified namespace with root separator is not recommended.
I would like to remove it from php.c. Do you have any comment/objection?

[2016-03-16 19:19] sserbin commented on #787
Continuing the quote from php.net:

`use` statements indeed treat import names as absolute so the explicit root separator is not really needed in `use` statements - this doesn't mean though it's not used in other places where names are treated relatively (which is basically everything  but the `use` statements and code in global namespace, I guess).

I'm for it. (you might even notice the code sam

[2016-03-16 22:05] Corax26 commented on #234
@pragmaware Thanks for reviewing the patch, sorry to have given up on it... Glad to hear that most problems have already been addressed, the most ambiguous cases are very rarely encountered in real code anyway.

[2016-03-17 02:44] masatake commented on #836
It revives...

[2016-03-17 02:44] #836 closed

[2016-03-17 02:47] masatake opened #849 "Remove the root separator in full qualified tags of php"
I introduced in #787. However, I should not.
http://php.net/manual/en/language.namespaces.importing.php

[2016-03-17 04:51] #715 closed

[2016-03-17 10:18] b4n commented on #787
@masatake I have no real opinion on the matter, and nothing more to add to what @sserbin said.  FQN more or less have it to make it an "absolute" FQN, and a relative FQN is kind of weird, but I don't have a real opinion on this as I'm not quite sure what the real use case is for this.  And yeah, the leading `\` is somewhat implicit.

Anyway, as PHP syntax is not really consistent on that matter (a

[2016-03-17 12:24] masatake commented on #787
Thank you for comments. I will remove it.

[2016-03-19 22:28] #453 closed

[2016-03-21 05:00] cweagans commented on #847
Thanks for opening this. I think these are probably separate feature requests, though.

[2016-03-21 22:53] b4n commented on #847
Add support for parsing `use` statements in #851.

I'm not sure it's CTags job here.  With the added support for reporting aliases, an application will be able to do that itself.

But is it CTags job to try and qualify the names?  I'm not sure.  In one hand it can be nice, and could more or less be possible (well, it wouldn't be trivial, yet possible), but on the other hand CTags historically most

[2016-03-22 01:45] masatake commented on #847
Mostly I agree with @b4n; adding tan entries about full qualified names is an optional feature of ctags.
As I wrote before somewhere, for some kind of tools full qualified tags are just noise.
For the tools , I introduced `--fields=+E` option.

[2016-03-25 17:02] blueyed opened #852 "Include s: prefix with vim"
I think that the `s:` prefix for functions should be kept for Vim files:

Currently it gets parsed like this:

    ext.add_inactive_statusline_func autoload/airline/extensions.vim /^function! s:ext.add_inactive_statusline_func(name) dict$/;" f language:Vim

The `s:` prefix is useful to know about, and is also actually required when calling the function.

[2016-03-26 16:27] masatake commented on #852
What does the `s:` mean?

[2016-03-26 17:34] #847 closed

[2016-03-26 17:59] masatake commented on #693
The new C++ parser generates:
[code]
My understanding is that the issue is solved.
If it is not solved yet, please, reopen this.

[2016-03-26 18:04] masatake commented on #715
@b4n, about function return type, how about padding  typeRef[0] with "typename" as proposed by @pragmaware ?

[2016-03-26 18:54] #849 closed

[2016-03-29 17:12] blueyed commented on #852
From `:h :s`:

[code]

Other prefixes are `g:` (global), `l:` (local), `t:` (tab page), `w:` (window), `b:` (buffer) etc:

[code]

For functions, only `s:` is relevant (AFAIK).

[2016-03-29 17:28] masatake commented on #852
It seems that `s:` is something like `static` modifier in C language. Am I correct?

[2016-03-29 17:35] vhda commented on #852
Not exactly. In the same .vim file (referred to above as "script") you can declare two functions with the name but with different scopes, as in:

[code]

`Test()` is a global function that can be called from everywhere, while `s:Test()` is only available inside the script (.vim) file where it is declared. (This last bit is not _exactly_ true, but it serves the purpose for this explanation).

[2016-03-30 03:03] masatake commented on #852
@vhda, I see.  Let's think about the input.
Currently we got(the current output):

[code]

How about following output(new output)?
[code]
or
[code]

Do you think the new output is better than current output?

Adding 's:Test' as an entry will be ideal for you. However, I think it is similar to full qualified name;
ctags can add `s:Test` to tags file but only when --extra option is given.

[2016-03-30 18:07] #693 closed

[2016-04-01 17:12] vhda commented on #852
Unfortunately, Vim is very limited in how it processes the tags file, so the solution you are proposing will not help Vim users because the extra attributes are not used. So, to navigate to the declaration of `s:Test` Vim requires that a tag with the exact same name exists. In fact, if you look at how variables are currently processed in ctags you will see that they will keep the `s:` prefix.

As

[2016-04-02 05:52] masatake commented on #852
This is not enough reason to add `s:` to names by default. Vim should be fixed or use --extra option to generate tags files suitable for vim.

This is enough reason to add `s:` prefix to function.

Basically I agree with you.

[2016-04-02 05:58] masatake opened #861 "Test cases under review-needed.r (language: vim)"
See #361.

3214129.vim.t  3548393.vim.t  bug3032253.vim.t  bug358.vim.t  bug359.vim.t  simple.vim.t

must be reviewed.

[2016-04-02 06:00] masatake commented on #852
I guess solving this is not easy for the one who knows the syntax of vim script.
However, I would like to solve #861 first.

[2016-04-02 14:17] chrisarcand commented on #408
I've been using ctags a while now and have honestly been just throwing new custom regex into my `.ctags` to handle various edge cases I've found not to work with universal ctags. (Some edge Ruby syntax, Rails associations, scopes, etc).

I had not seen ripper-tags before; I _really_ like the idea of this project utilizing it :+1: :+1:

[2016-04-02 17:13] techee opened #862 "Adding varType TagEntryInfo field from Geany"
I'd like to start syncing Geany's ctags with universal-ctags and there are a few things we'd need in universal-ctags in order to have all the functionality we need. One of the things we need is a

const char *varType;

field in sTagEntryInfo. As the name suggests, it contains a string corresponding to a variable type or a return type of a function. For instance for

[code]

it contains "char *" fo

[2016-04-02 17:41] techee opened #863 "Porting memory I/O from Geany"
In addition to #862 the second big difference in Geany is we need to parse a file loaded into memory instead of parsing a file stored on disk. For this reason there's a small library called MIO:

https://github.com/geany/geany/tree/master/tagmanager/mio

which tries to hide where the file is stored - whether on disk or in memory. One creates a MIO file using either

[code]

to get a file-based bac

[2016-04-03 02:54] masatake commented on #862
I'm working hard to generalize field manipulation based on the idea proposed in #857 by @pragmaware.
Could you wait for awhile?

[2016-04-03 09:01] techee commented on #862
@masatake Sure, no problem. From the Geany perspective it's just important that we have some kind of access to the field definitions to map them to Geany's internal types. I did this in the last commit of

https://github.com/geany/geany/pull/957

by accessing LanguageTable. If you are interested what we need from ctags you can have a look at tm_ctags_wrappers.h/c in the pull request.

[2016-04-03 14:04] masatake opened #864 "Memory leak in C++ parser"
[code]

[2016-04-03 23:34] #864 closed

[2016-04-04 10:19] blueyed opened #866 "Test failure: extra-field"
make check fails for me:
[code]
The difference is the extra `language:C++` with the tags in the first file.

[code]

This happens with both `make check` in the Git checkout and when installing universal-ctags-git on Arch Linux.

[2016-04-04 14:24] masatake commented on #866
Could you show me the output of `ctags --version`?

[2016-04-04 14:57] masatake commented on #866
Could you try #867?

[2016-04-04 16:35] blueyed commented on #866
#867 works, thanks!

[2016-04-04 17:39] #866 closed

[2016-04-04 18:46] masatake commented on #863
I'm very interested in MIO.    I have wanted to share more code with geany. However, as far as I am maintaining ctags, I will not provide universal-ctags as a shared library because designing API is too difficult for me. The most of my use case command line interface is enough. However, I have been worked for providing sophisticated command line interface. This is my basic position.

I wrote a doc

[2016-04-04 19:24] techee commented on #863
Great to hear!

This wouldn't be that hard. The tm_ctags_wrappers.h/c here https://github.com/geany/geany/pull/957 could serve as a base for such an API. Anyway, first it would be good to sync Geany with universal-ctags as much as possible to know exactly what we need from such an API.

Good, will have a look at that. But I think I know quite well what's going on in ctags and can do the necessary

[2016-04-05 03:31] masatake commented on #863
Fine.

IF POSSIBLE, I would like to get a pull request for introducing glib first.

universal-ctags uses libxml directly. The code should be replaced with memory-stream based.
https://github.com/universal-ctags/ctags/pull/740#issuecomment-173182149

[2016-04-05 07:56] vhda commented on #863
@techee do you think this would help implementing something like what is requested in #80?

[2016-04-05 08:33] techee commented on #863
Hmm, do you want to introduce glib dependency? I think it would be better to remove the glib stuff from MIO (which I actually did yesterday already) and not to introduce more dependencies.

#740 (comment)

This is actually something MIO would help you a lot. As I said, it's more efficient to load every file into a buffer in memory first and then use the MIO memory back-end. And in this case you ca

[2016-04-05 08:36] techee commented on #863
Hmm, do you want to introduce glib dependency? I think it would be better to remove the glib stuff from MIO (which I actually did yesterday already) and not to introduce more dependencies.

#740 (comment)

This is actually something MIO would help you a lot. As I said, it's more efficient to load every file into a buffer in memory first and then use the MIO memory back-end. And in this case you ca

[2016-04-05 11:21] masatake commented on #863
@techee, oh, I see. Please, forget what I wrote about glib.

[2016-04-05 12:40] techee commented on #863
@vhda I'm not completely familiar with what problems you are facing regarding #80 so I cannot tell - MIO will basically allow you to use file-like operations on a buffer in memory.

[2016-04-06 00:54] blueyed commented on #781
@masatake
Is this on your radar?
Otherwise I will consider looking into it, given that this causes a fair amount of tags to be missed in certain projects.

[2016-04-06 01:29] masatake commented on #781
Though I solved the original issue, I didn't make s pull request because I found another bug releated to the area.

Could you look at #869?
The fix is not clean enough. I think we need more token oriented parser for solving all the issues.

[2016-04-06 03:25] pragmaware commented on #863
I think that using something like MIO would be a good idea.

Recently I have looked at the performance of ctags and found out that the filesystem access is a major bottleneck. The function that is called more often and takes most processing time is getc(). That's why I have started looking into mmap()'d file access that would allow to load the files faster and access content via pointers instead o

[2016-04-06 10:44] techee commented on #863
I profiled it too (this way http://wiki.geany.org/howtos/profiling/gperftools) and the result after using MIO and loading files smaller than 1MB into memory first is this for the linux kernel sources:

https://www.dropbox.com/s/wf6rj7o430mrzzh/pprof14382.0.svg?dl=0

mio_getc() now takes less than 3% but you have to add the about 7% taken by openInputFile() which now loads the file into memory. You

[2016-04-06 10:47] techee commented on #863
By the way the profile svg doesn't display nicely on dropbox - better to download it locally and open it with web browser.

[2016-04-06 14:19] pragmaware commented on #863
More gains can probably be achieved by adapting certain functions to work directly on the memory buffer by using pointers and avoiding mio_getc(), mio_fgetpos() etc. The goal is to change getc() with *ptr++, ungetc() with ptr--, getpos with (ptr - buffer)...

The new parser doesn't treat code inside functions as irrelevant. There are variable declarations, nested prototypes, lambda calls... this i

[2016-04-06 15:04] techee commented on #863
Possibly, but it will be hard - if you look at the path getcFromInputFile()->iFileGetLine()->iFileGetc()->mio_getc() then the losses in each of the functions are minimal (2-3%). And anyway, you'll get 13% in the best case.

And you need something like iFileGetLine() to get line counting automatically so you get 9% at most (realistically I'd say 6%).

I see, then there's not much to do in this resp

[2016-04-06 16:13] hiberabyss opened #871 "Generate tags for cpp file incorrectly when involving "#if define""
After running `ctags -f- test.cpp` for following `test.cpp` file:
[code]

The output is:
[code]
The expected result should be:
[code]

After remove the `if (first)` or `if (second)` sentence, the result is correct.
Can you investigate the reason and fix it? Thanks.

[2016-04-07 19:16] Wilfred commented on #661
Could we tag a 0.9.0 or a release candidate at this point? There are [19 issues](https://github.com/universal-ctags/ctags/milestones/1.0.0) outstanding for 1.0.0, but the code is very useful today.

[2016-04-07 19:54] blueyed commented on #661
@Wilfred
I think https://github.com/universal-ctags/ctags/issues/781 is a major blocker, but has a PR (although considered to be unclean?!).

[2016-04-08 14:32] #781 closed

[2016-04-08 15:16] masatake commented on #64
Now we have mio.
When `mio_new_mio` is implemented, we can handle a language in a language cleanly.

* php in html
* js in html
* js in php?
* css in html
* asm in C(known as inline)
* here document in shell script
* C in yacc/lex
* javadoc in java
* code-block in rst

If you are interested in working on these area, tell me. I will work on `mio_in_mio`.

[2016-04-08 17:09] masatake opened #874 "reuse stream opend in language guessing stage"
A file is opened in language guessing stage.
However, it is not used in main parsing stage; the stream opened in guessing stage is closed after guessing.
The stream is reopened before main parsing stage.

After adding refcount field to mio object, I think the stream(mio object) can be share the both stage.

[2016-04-08 17:13] masatake opened #875 "Run C parser in C block of yacc file"
A yacc file has a C language area at the end. It is nice if ctags can run C parser at the area.

[2016-04-08 17:28] masatake commented on #862
@techee, did you see `typeref:typename` introduced by @pragmaware ?
[code]

This is not enough?
@pragmaware solved two things.

1. the way to use typeRef[2] field of extensionFields of tagEntryInfo.
  As @b4n speicified before, ctags main part expects typeRef [0] and typeRef[1] are filled.
e.g. "struct" and "foo".  for `char *foo`, typeRef[0] cannot be filled.
@pragmaware 's hack is that "typename

[2016-04-08 17:45] masatake commented on #863
@techee, thank you again. Many queued issues will be solved with MIO.

OldC and OldC++ are kept for testing purpose.
[code]

You cannot run `make units` with the old parrsers because the string "Old" is embedded into `language:` field. For running ctags must provides the way to misrepresent a parser name like.
The way to misrepresenting the parser name is also needed to run ripper_tags as xcmd bas

[2016-04-09 03:03] #871 closed

[2016-04-09 03:28] hiberabyss commented on #871
After update to the latest master(3d76a72), the bug has been fixed, thanks very much for your so quick fixing! @pragmaware

[2016-04-09 19:28] nomad-software opened #878 "I can't find the original D language unit tests, have they been (re)moved?"
I can't find the original D language unit tests introduced with this PR:

https://github.com/universal-ctags/ctags/pull/133/files

Have they been (re)moved? If so they need to be put back.

[2016-04-10 13:28] techee commented on #862
This is actually almost all we'd need - in Geany we could concatenate typeRef[0] and typeRef[1] to get what we now have in varType. It would just be nicer if typeRef[0] was allowed to be NULL and "typename" was generated when creating the tag in entry.c. The problem is that the cxx parser uses "typename" both for this case but also when it's really a true typename and we won't be able to distingui

[2016-04-10 13:34] techee commented on #862
@masatake Regarding #872 - it looks nice but as typeRef already exists, it would be better to reuse this one and not to have another field doing almost the same. Moreover, it would add some complications to Geany because each parser could have a different set of the extended fields and we'd need to somehow know which of the fields corresponds to the varType field (and this could be different for e

[2016-04-10 13:38] techee commented on #874
The problem I see is that when loading the file into MIO the whole file is read (because the whole file will be parsed). However when guessing the file type this could be a waste of time because if it's determined that the file cannot be parsed with ctags because it's not a supported file type, there's no need to read the whole file.

[2016-04-10 13:39] techee commented on #863
Great to hear.

Thanks for the info about how to use the old parsers, could be useful for testing.

[2016-04-10 13:39] #863 closed

[2016-04-11 16:01] #878 closed

[2016-04-12 08:49] dirkhas opened #883 "tags-file generated by TeX parser uses patterns in EX command instead of line numbers"
When generating a tags file using the TeX parser, the generated tags-file contains a search pattern as its EX command instead of a line number, for example`^\\subsection{Summary}$`

~~If~~ When the title is not unique, which is typical for large documents with a certain structure for each chapter or section, the backlinks in the editor will not work.

[2016-04-12 10:14] masatake commented on #883
The option ` --excmd=number` is for you.

[2016-04-12 10:25] dirkhas commented on #883
That'll teach me to read the whole man page ;) Thanks!

[2016-04-12 10:25] #883 closed

[2016-04-12 11:05] masatake commented on #883
I can guess your next question: why double slash is used in the pattern and name.
The first backslash is an escape character for the second backslash.
To record a name having white space, especially tab char, in tags file, universal-ctags introduces backslash escaping.

This is not written in man page, yet. I'm looking for volunteers taking care for updating man page.

[2016-04-14 14:21] PSeitz commented on #651
I created a simple Test case:

[code]

ctags --languages=c++ --extra=+r --fields=+r -R -f .tags

Rectangle       test.cpp        /^class Rectangle {$/;" c       file:
area    test.cpp        /^    int area() {return m_width*m_height;}$/;" f       class:Rectangle typeref:typename:int    file:
iostream        test.cpp        /^#include <iostream>/;"        h       role:system
m_height        test.cp

[2016-04-14 20:32] masatake commented on #651
Now the main part of ctags provides reference and role as you specified in the command line.
`iostream` is tagged as a reference with system role. A parser can utilize them.

Good news is that C/C++ parser is completely rewritten by @pragmaware.
Basically we agree with introducing new role called "caller" for function reference tag.

@pragmaware may have many plan to improve the parser. I believe

[2016-04-14 21:11] pragmaware commented on #651
The problem of identifying variable references and building a caller/callee graph in general cannot be solved without the complete include chain. The @PSeitz's example is simple but in 99% of the cases class Rectangle will be defined in a different source file. This means that a single ctags run has no way to figure out if Rectangle is a macro, if it's a class with a base (or multiple bases), if t

[2016-04-15 08:16] vhda commented on #651
@pragmaware if we kept the tag database in memory we could perform a second pass of the files and blindly mark references to the items found in the first pass (#80). We can make our job simpler if we simply mark the reference to a known tag without determining which specific one in case of name collision - we leave that for the tool that is making use of our tags file.

[2016-04-15 08:26] vhda commented on #651
Note: IMO in the above example we would only tag `rect` as being an object-type of class Rectangle. All other references are for the end-tool to decipher.

[2016-04-16 17:32] blackb1rd opened #885 "CXX Parser : Can't parse the function!"
Hello,
I found a bug in parsing C using u-ctags.

Example bug.c file contains :

[code]

and then run `ctags test.c`, the output of tags file doesn't have any functions!
[code]

Test the OldC parser with `ctags --languages=-C --languages=+OldC bug.c`
[code]

Thanks!

[2016-04-16 21:01] pragmaware commented on #885
I cannot reproduce your bug. Could you attach the exact C file you have used for your test?

[2016-04-16 22:56] masatake commented on #885
Guys, check your `~/.ctags`.  Adding `--options=NONE` as the first argument to ctags is good idea for testing.

[2016-04-16 22:59] masatake commented on #885
Adding `--verbose` option is useful for debugging.
I guess no parser is chosen for the input.

[2016-04-17 06:09] blackb1rd commented on #885
oh sorry, it's my fault.

I have added `--langmap=c:.cl` in `~/.ctags`

[2016-04-17 06:09] #885 closed

[2016-04-18 20:37] hath995 opened #888 "Compile on debian distro"
I have tried to compile this from source on a ubuntu vm and a debian vm. I installed autotools and autoreconf. I errors similar to the following on both systems.

[code]

[code]

[2016-04-18 20:59] b4n commented on #888
WFM just fine on Debian Unstable:
[code]

With Autoconf 2.69/Automake 1.15.

A real quick look at Autoconf's NEWS might suggest the usage of `AC_DEFINE` at line 122 *might* depend on 2.64 -- but again, I didn't check further or anything.
Note that all current versions of Debian (from oldstable to unstable) have Autoconf 2.69, so I find it kind of odd to see 2.50 here.  What's the actual Autoconf v

[2016-04-18 21:46] hath995 commented on #888
[code]

[2016-04-19 01:12] masatake commented on #888
As far as reading your comment "Debian wrapper script" has an issue.
However, our build system doesn't user the script.
How did you launch autoconf2.50 and automake?

As written in README.md, running autogen.sh is the way to build universal-ctags.

[2016-04-19 01:18] hath995 commented on #888
Yes. That is the command I ran.

[2016-04-19 01:33] masatake commented on #888
Could you show me the output of "$autoreconf --version" ?

[2016-04-19 01:37] hath995 commented on #888
[code]

[2016-04-19 01:54] k-takata commented on #888
How about removing ./configure and run ./autogen.sh again?

[2016-04-19 03:19] hath995 commented on #888
Didn't work, same error.

[2016-04-19 03:24] hath995 commented on #888
In the error it mentions Libtool. I thought perhaps that it was not installed, and it seems that was correct. I did an apt-get install libtool, but that doesn't seem to change the output either.

[code]

[2016-04-19 03:24] hath995 commented on #888
This vm is a vagrant box built around using ubuntu/trusty.

[2016-04-19 04:30] k-takata commented on #888
Hmm, then how about running autoreconf 2.69 explicitly?
E.g.:
[code]

It's obvious that this is the problem, but I don't know why this happens.

[2016-04-19 07:22] hath995 commented on #888
Apparently, Debian has a man page for autoconf, which explains some of this behavior. If both Autoconf2.13 and autoconf 2.50 are installed the wrapper script chooses 2.50. I uninstalled both of those versions. Uninstalled and reinstalled 2.69 for good measure. Deleted configure

[code]

[2016-04-19 07:44] masatake commented on #888
Could you show the output of following command line?

`$ /usr/bin/autoconf --verbose --force`

The output will be large. Gist can be used for showing it.

[2016-04-19 08:13] hath995 commented on #888
https://gist.github.com/hath995/a9fc835bd2eb28ab064caee85f817c3e

[2016-04-19 18:20] masatake commented on #888
Could you try following steps?

`1`. mkdir /tmp/x
`2`. put following data as /tmp/x/configure.ac

[code]

`3`. cd /tmp/x; autoconf --verbose --force

Do you get the same error?

[2016-04-19 18:32] hath995 commented on #888
I'm not sure if it errored. Here is the output of
[code]
https://gist.github.com/hath995/5b786dac6228eb3c7dc82335dcc46296

[2016-04-19 19:04] masatake commented on #888
Looks different. With the short configure.ac, it works fine.

Do you know term "binary search" of computer science?
(I think you may know.)

I guess the line
[code]
triggers the error. Before inspecting the line deeply I would like to
get a proof that the line really triggers an error.

The way for the proof is simple: making the original configure.ac
shorten incrementally; and run autoconf every

[2016-04-19 19:46] hath995 commented on #888
Yeah, I'm not familiar with configure.ac or m4. I do understand the concept of binary search.

I commented out the latter half of the script. When doing so it would show a message like the following.

[code]

When I uncommented lines https://github.com/universal-ctags/ctags/blob/master/configure.ac#L587-593
Then I got the error
[code]

[2016-04-19 19:49] hath995 commented on #888
Also commenting or uncommenting lines 122 didn't seem to have any effect.

[2016-04-19 19:59] b4n commented on #888
What if you change `AC_PREREQ([2.59])` to `AC_PREREQ([2.64])` in uctags' *configure.ac*?

[2016-04-19 20:15] hath995 commented on #888
Same error

[2016-04-19 21:25] k-takata commented on #888
https://github.com/gnosek/fcgiwrap/issues/9#issuecomment-14940995

Please try "apt-get install pkg-config".

[2016-04-19 21:53] hath995 commented on #888
That worked. It is now installed.

[2016-04-19 22:37] hath995 commented on #888
Thanks for the help!

[2016-04-21 19:13] dtikhonov commented on #863
@techee writes (emphasis added):

I can't say that this jumps out at me as obvious.

[2016-04-21 19:21] dtikhonov commented on #863
@pragmaware  writes:

I brought this up a couple of times before, for example in issue #423.  There, I wrote:

[2016-04-21 19:24] dtikhonov commented on #863
@techee, @pragmaware: You can't get around disk access penalty using mmap().  Once a file is in the buffer cache, however, a sane line-by-line implementation based by a large buffer offers the same performance as that of mmap.

[2016-04-21 19:32] b4n commented on #863
It does for me, because if I am to use such a library I probably want to be able to parse i.e. a buffer the user is currently editing, and then writing to a file just so the library can read it seems highly suboptimal.

[2016-04-21 21:53] techee commented on #863
The patch loads the complete file into memory if it's smaller than 1MB (which most sources are). This is faster than reading it by 4KB blocks - in the original version of the patch I was reading the file into memory in 4KB blocks instead all at once and the difference was 4s for parsing all the linux kernel sources.

Sure, but with SSD disks there's almost none (with classical hard drives you are

[2016-04-24 23:16] masatake opened #900 "javascript: Got "ctags: Warning: ignoring null tag""
[code]

[2016-04-25 00:47] oneness opened #901 "Clojure macro and pred fn ( fns with ends with ?) not supported yet? or need extra config?"
Pulled master and build off of it to install universal ctags. Found that the tags are not there for macros and pred fns.
Would be happy to do a PR for it if you not supported yet. If supported, any configs to enabled it?

[2016-04-25 00:55] masatake commented on #901
No configs.

I'm thinking about using meta S expression parser (see dsl/es-lang-c-stdc99.c) for improving scheme, lisp and clojure. However, I cannot find time for doing it. Any PR is welcome though I cannot promise I will merge it.

The most important things are "kind choice" and "test cases". Thses two are reusable even if the parser implementation is changed from your to my sexp meta parser.

[2016-04-25 01:33] oneness commented on #901
Thanks for your response.  Have you looked into using PEGs? (Parsing
Expression Grammer) to parse lisp family langs?  Lua has a great PEG lib
and called LPEG and could be of some use here.

Kasim Tuman

==========================================

Experience is more about knowing what should be avoided

than what should be done. -- Kasim
============================================

On Sun, Apr 24,

[2016-04-25 01:36] masatake commented on #901
I don't know well about PEG but I heard it is good thing.
How can we use it from ctags?  Linking liblua (or something ) to ctags?

[2016-04-25 01:45] masatake commented on #901
If you have a protype in lua, with xcmd ctags can utilize it.

[2016-04-25 13:17] markwu commented on #815
Finally, I found the root cause. That's why I get double backslash in namesapce and class name.

I like `--print-name-no-escaping` option, It not only solve the tag name confliction issue, and also add back compatbility for current completion tools.

[2016-04-25 21:38] masatake commented on #901
I wrote some ideas about parsers for lisp family in https://github.com/universal-ctags/ctags/pull/469 .

[2016-04-28 15:00] siegel opened #907 "Objective-C/C++ parser not generating "signature:" field for C functions"
See the attached "foo.mm", which contains a static C function as well as an interface and implementation section for an Objective-C class. [foo.mm.zip](https://github.com/universal-ctags/ctags/files/240765/foo.mm.zip)

cd to where the file is, and then run this command:

`ctags --excmd=number --tag-relative=no --fields=+a+m+n+S foo.mm`

Then examine the resulting `tags` file. (Attached here:
[tags

[2016-04-28 15:40] siegel commented on #907
Here's the original "objc.c" from our hack on the old exuberant ctags source, in case that helps.
[objc.c.zip](https://github.com/universal-ctags/ctags/files/240872/objc.c.zip)

[2016-04-29 19:24] pjkack commented on #815
Will the new option also be applied to the input/source-filename in the tag file? I don't want the double backslashes I'm seeing on Windows due to the following code
`
static int writeCtagsEntry (const tagEntryInfo *const tag)
{
	int length = mio_printf (TagFile.fp, "%s\t%s\t",
			      escapeName (tag, FIELD_NAME),
			      escapeName (tag, FIELD_INPUT_FILE));
`

[2016-05-02 05:42] masatake commented on #815
@pjkack,  `renderFieldName` in field.c controls it.

It seems tat `--print-name-no-escaping` and `--print-input-no-escaping` are needed.

I may have to add a pseudotag for the option.
Consider a tags is here. A tool may wonder whether it is generated with `--print-name-no-escaping` or not.

I'm thinking about embedding all options and information about environment where ctags is run as pseudo tags

[2016-05-02 05:56] masatake commented on #907
(About foo.mm.zip and tags.zip we want you to put them inline. I don't want to open zip.)

C++/C parsers completely rewritten by @pragmaware. As far as I can remember he started this work
to sp;lit them from Java/C#/D/Vala parsers. All of them are implemented in a source file and it was too complicated for maintaining.

Implementing ObjC parser based on the current C++/C parser looks natural for m

[2016-05-02 12:45] siegel commented on #907
Here are the referenced files inline:

`foo.mm`/`foo.cp`:

[code]

Tags output for foo.mm:

[code]

Tags output for foo.cp:

[code]

[2016-05-02 15:34] masatake commented on #907
BTW, `inteface:` field of foo, XYZ (implementation)and XYZ(interface) are broken.

[code]

This condition is not enough. vStringLength (parentName) > 0 is needed as additional condition.

[2016-05-02 19:31] vhda commented on #888
Installing pkg-config did not work for me and I still have the following error:

[code]

As far as I can see, in automake-1.14 the file /usr/share/automake-1.14/am/tags.am defines the following target:

[code]

So, basically if defines a "ctags" target that conflicts with our program name. Then /usr/share/automake-1.14/am/program.am has the following:

[code]

That in Unix will be "ctags:". I've a

[2016-05-02 20:06] b4n commented on #888
@vhda it's where I myself got blocked when trying to port to Automake myself, but AFAICT it's not a blocker, just some annoyance.
But no, I don't know how to avoid that and couldn't fine someone knowledgeable yet.

[2016-05-03 09:26] #874 closed

[2016-05-03 09:32] vhda commented on #888
Didn't even notice that `configure` was still being created! Thanks for sharing @b4n

[2016-05-03 09:32] #888 closed

[2016-05-03 12:16] pjkack commented on #815
@masatake Your proposal sounds good to me. Out of curiosity, what's the reason for escaping by default over keeping the exuberant ctags behavior by default?

[2016-05-03 22:53] tessiof opened #909 "Tag the releases"
The documentation at docs.ctags.io says current release is version 0.3.0, but there is no release tag on github. Why is that?

[2016-05-04 00:01] masatake commented on #815
See https://github.com/universal-ctags/ctags/issues/499
and http://docs.ctags.io/en/latest/format.html#proposal-for-extended-vi-tags-file-format

I have to write how the characters are escaped docs/format.rst.

[2016-05-04 08:49] masatake commented on #909
*Currently* the version number of docs and executables are not synchronized. As `ctags --version` shows, the executables side are still version 0.0.0.

[code]

Ideally they should be synchronized.

[2016-05-06 11:26] masatake commented on #361
The most of all python test cases are reviewed.

[2016-05-06 11:27] tessiof commented on #909
Ok. Since the executables are still version 0.0.0, there's no release to be tagged.

[2016-05-06 11:27] #909 closed

[2016-05-06 11:47] masatake commented on #909
BTW, comments about docs.ctags.io is really welcome.
The document is one of the critical bottle neck for releasing 1.0.0.

[2016-05-10 12:59] siegel opened #924 "Compiler warnings in "es-lang-c-stdc99.c""
After pulling the latest sources, clang generates the following warnings while compiling `es-lang-c-stdc99.c`:

[code]

[2016-05-12 09:22] masatake opened #930 "Handling .h file in relaxed syntax"
I found this case in linux kernel.

Consider a C language header having .h suffix.
In C language `private` is not a keyword.
New Cxx parser doesn't record a variable named `private` because
the parser recognized it as C++ keyword.``
Old Cxx parser

[code]

We can avoid this ignorance with modifying language map, however I hope u-ctags handling this situation well because this situation may be so p

[2016-05-12 13:30] Corax26 opened #931 "extern "C" declarations/definitions not recognised in C++"
In C++, `extern "C"` declarations and definitions are not recognised, except when an `extern "C"` scope is used:

[code]

Output:
[code]

This is a regression, compare with the output of ctags 5.8:
[code]

[2016-05-13 15:09] dkearns opened #933 "Test cases under review-needed.r (language: Eiffel)"
Reviewing old Exuberant Ctags Eiffel tests under review-needed.r.

[2016-05-13 15:14] masatake commented on #933
Yes, I know the need of reviewing them.
However, I don't know Eiffel. It seems that you are an Eiffel hacker. Could you help me?

[2016-05-13 15:15] masatake commented on #933
#861 is also available:-P.