[2011-02-21 21:15] wesbaker opened #2 "Comments inline with properties breaks css.c parser"
When there's a comment inline with a property nothing after that selector and property is parsed into tags. For example, try this:

[code]

Any ideas on how to fix it?

Thanks,
Wes

[2011-09-27 14:51] thinrhino opened #4 "ctags: Unknown option: -p"
Trying to compile and install it on OS X Lion 10.7.1

$ ./ctags
ctags: Unknown option: -p

[2011-10-19 13:43] #4 closed, assigned to nobody

[2012-01-16 20:07] gknops opened #6 "Fails to compile on OS X Lion"
./configure
make

results in:

gcc  -o ctags args.o ant.o asm.o asp.o awk.o basic.o beta.o c.o css.o cobol.o dosbatch.o eiffel.o entry.o erlang.o falcon.o flex.o fortran.o get.o html.o jscript.o keyword.o lisp.o lregex.o lua.o main.o make.o objc.o ocaml.o options.o parse.o pascal.o perl.o php.o python.o read.o rexx.o routines.o ruby.o scheme.o sh.o slang.o sml.o sort.o sql.o strlist.o tcl.o tex.o

[2012-01-16 22:09] #6 closed, assigned to nobody

[2013-09-04 00:03] NewAlexandria opened #11 "rspec describe blocks whose titles include `:` are not discovered"
[The matcher for describe blocks](https://github.com/fishman/ctags/blob/f692e3ba6c52aa8cd35d3aaed9af41e039030119/ruby.c#L192) is imprecise.

Including a `:` in this list causes other errors (incorrect nesting).  I tested this by rebuilding with such a change.  Probably a regex matcher is needed somewhere.

Pardon I didn't research further.

[2013-10-03 07:08] rumca-js opened #12 "Please add ada language support from rumca-js/ctags"
Please add ada language support from rumca-js/ctags github repository

[2013-10-10 01:08] BeyondIM opened #13 "can't compile on Windows"
When I compile on Visual Studio 2010, it show error below

options.obj : error LNK2019: unresolved external symbol _asprintf referenced in function _parseConfigurationFileOptionsInDirectory

[2013-11-14 01:21] atommclain opened #15 "Test/objectivec_implementation.m fails"
Tags generated from methods that have an opening brace on a new line always link to the first method in the file.

If the opening brace is on the same line as the method, methods that span multiple lines like in the test file will still return the incorrect location.

[code]

[2013-11-15 02:05] #15 closed, assigned to nobody

[2014-02-20 17:49] fishman opened #18 "add android build support"

[2014-02-20 18:45] #13 closed, assigned to nobody

[2014-03-11 11:23] kolya-ay opened #21 "Consider adding better PHP support from zargener/ctags"
It's [here](https://github.com/zargener/ctags)

[2014-04-17 19:52] mtscout6 opened #24 "Is this an official mirror of https://sourceforge.net/projects/ctags/"
Looking at the brew formula for installing ctags it is pointing at the sourceforge repo, and I saw a post on the sourceforge list that there was a proposal to use this repo as the new codebase. So, is this an official mirror, or has the codebase been migrated here, or what's going on?

Thanks,
Matt Smith

[2014-05-29 18:35] fishman opened #27 "should config.h.in be in the repo?"
shouldn't it be removed? i just added an autogen.sh as that is what people are used to.

if i'd put the following inside it would modify the config.h.in

{ctags} % cat autogen.sh
# !/bin/sh

echo "Running aclocal..."; aclocal $ACLOCAL_FLAGS -I m4 || exit 1
echo "Running autoheader..."; autoheader || exit 1
echo "Running autoconf..."; autoconf || exit 1

[2014-06-03 00:06] #27 closed, assigned to masatake

[2014-06-04 15:37] #24 closed, assigned to nobody

[2014-06-06 09:24] #21 closed, assigned to nobody

[2014-06-20 21:28] vhda opened #38 "Matlab disabled"
Just to open this for discussion: why is matlab parser being disabled to overcome the mapping conflict with objective c?
Why not use --langmap or --language-force?

[2014-06-23 06:25] masatake opened #42 "add an option to enable valgrind to testing.mak"

[2014-06-23 06:37] masatake opened #43 "use an external command as a parser"
Like --regex-<LANG>= option introduce --cmd-<LANG>= option.

Some people wrote their own tag generator for a language they are interested in.
e.g. https://github.com/lukaszkorecki/CoffeeTags
Good news is that the format of tags file generated by those generators is compatible with format defined at Exuberant Ctags project.

fishman ctags can be onestop unified front end for those generators.
If we

[2014-06-23 06:49] masatake opened #44 "Making --regex-<LANG> library"
Now we can put --regex-<LANG> options to separate files under /etc/ctags.conf.d directory. So we can put these options as library into our .tar.gz release.

TODO:
- Introduce /usr/lib/ctags.conf.d or something which takes precedence over /etc/ctags.conf.d.
  Our library should go /usr/lib/ctags.conf.d. /etc/ctags.conf.d can be used when an administrator wants overriding our library. systemd is use

[2014-06-30 04:45] #42 closed, assigned to nobody

[2014-07-05 00:23] artnez opened #49 "--ruby-kinds option not honored in ruby.c"

[2014-07-06 16:33] #49 closed, assigned to nobody

[2014-07-07 17:44] #38 closed, assigned to nobody

[2014-07-11 14:58] steveno opened #55 "Utilize travis-ci"
I read a lot of posts on the internet where people complain that people should not make everything Github specific, but since this project is, at least for now, hosted on Github, I would like to see a README file that Github can parse and post at the bottom of the main page.

If such a file were to exist I would love see some buttons added. For example, I'd love to see this project on Travis, and

[2014-07-30 14:20] #12 closed, assigned to nobody

[2014-07-30 14:21] masatake opened #56 "badinput: Infinite loop and crashes in Ada parser"
%  make -f testing.mak FUZZ_LANGUAGE=Ada fuzz
Fuzz-testing: Ada
Fuzz testing failure: lang: Ada input: Test/1880687.js
Fuzz testing failure: lang: Ada input: Test/bug2888482.js
Fuzz testing failure: lang: Ada input: Test/bug814263.java
Fuzz testing failure: lang: Ada input: Test/ingres_procedures.sql
Fuzz testing failure: lang: Ada input: Test/keyword_abstract.cs
Fuzz testing failure: lang: Ada in

[2014-08-06 09:29] masatake opened #58 "Fix memory leaks around command and options parser"
Very noise. This must be fixed.

[yamato@localhost]~/var/ctags-github% make -f testing.mak VG=1
...
Testing Units/conflib-recursive...==10951== 8 bytes in 1 blocks are definitely lost in loss record 1 of 3
==10951==    at 0x4A0645D: malloc (in /usr/lib64/valgrind/vgpreload_memcheck-amd64-linux.so)
==10951==    by 0x431710: eMalloc (routines.c:238)
==10951==    by 0x42493F: parseLongOption (options

[2014-08-06 09:31] masatake opened #59 "Convert Test/ to Units/*"
Tests/\* are unuseful because they don't define expected output.

[2014-08-06 09:49] masatake opened #60 "rewrite Units"
help target is needed.

[2014-08-06 09:55] masatake opened #61 "use pygments as a parser"
Like yoshizow/global-pygments-plugin, can we use pygments as a parser?

[2014-08-07 07:43] masatake opened #62 "avoid infinite loop"
--timeout option or something to avoid a parser jumps into infiinite loop.

[2014-08-07 07:50] masatake opened #63 "make ctags a library"
"Library" in ctags may have 3 aspects:
1. reading tags file,
2. backend language parser, and
3. running ctags.

The scope is this issue is "3. running ctags."
We have to research Geany.

Decreasing global variables will be the initial step.

[2014-08-07 07:58] masatake opened #64 "introduce sub parser"
Consider running ctags against a source tree that uses autotools as  its build system.

Which parser should be used for foo.h.in?

Of course C (or objc) parser should be used first of all.
Is it enough?
How about @PACKAGE@ or something in the file?
@FOO@ is place holder used in autotools. I hope these are also tagged by ctags.
I would like to run the second priority parser(sub parser)something "te

[2014-08-07 07:59] masatake opened #65 "Advertise fishman/ctags"

[2014-08-12 04:36] #58 closed, assigned to masatake

[2014-09-07 18:29] ffes opened #66 "MinGW compilation works, but no files parsed"
I compiled ctags with the gcc that comes with CodeBlocks 13:11. It creates an executable, but it doesn't recognize any source files to parse. I've created a CodeBlock's project as well as a built with the mk_mingw.mak, result for both are the same.

Debugging into the code I found the problem, but am unsure about a possible solution.

fileNameMatched() in strlist.c doesn't work for win32 builds an

[2014-09-08 17:32] #66 closed, assigned to nobody

[2014-09-08 21:43] ffes opened #69 "Observation "make -f testing.mak" under Windows"
I just did some testing and more or less managed to get the testing suite to work. Here is how I tested:

Build ctags with the gcc that came with CodeBlocks. This results in a ctags.exe I copied this file to ctags.ref.exe Then I started my cygwin bash.

There I started `make -f testing.mak`. It ran but there was one big problem. The mingw/Windows build ctags.ref.exe generates tags files with CRLF

[2014-09-17 20:50] blueyed opened #71 ""Badly formed language map" error with `--langmap=c:.c.x` (regression to exuberant)"
Running `./ctags --langmap=c:.c.x` (as given in the man page) results in:

[code]

This works with the original ctags, but fails with this version.

[code]

FWIW, I've a similar setting in ~/.ctags for this, and noticed that this version of ctags does not like it.
It even aborts when invoked with just `--version`.

[2014-09-17 20:57] blueyed opened #72 "Segmentation fault with vim file in parseCommand (when no command name is given)"
ctags segfaults with the following vim file, where it seems to expect a command name:

[code]

Backtrace:

[code]

I've noticed this, because Exuberant ctags crashed when handling the checkout of https://github.com/c9s/vimomni.vim/blob/master/test.vim, and then hoped it would be fixed here already.

[2014-09-17 21:50] blueyed opened #74 "vim-command-loop.patch from Debian"
I've looked at Debian's patches to exuberant-ctags, and the following might be interesting for you:

From http://anonscm.debian.org/cgit/users/cjwatson/exuberant-ctags.git/tree/debian/patches/vim-command-loop.patch

[code]

More patches are available at http://anonscm.debian.org/cgit/users/cjwatson/exuberant-ctags.git/tree/debian/patches/, but only http://anonscm.debian.org/cgit/users/cjwatson/exu

[2014-09-19 15:17] blueyed opened #75 "tests: ignore user's config"
I'm seeing a lot of test failures, which is related to my own config being used.

I've tried to address this with the following patch, but this does not seem to help enough, and I am unsure if this is the proper way to do it:

[code]

[2014-09-19 15:23] #71 closed, assigned to masatake

[2014-09-19 15:46] blueyed opened #76 "Use "master" branch instead of "deploy"?!"
Is there a reason why you're using "deploy" instead of "master"?

I found myself several times trying to "git checkout master".

Before announcing the project, it would make sense to cleanup the available branches (if necessary), and document how they're being used.

[2014-09-25 14:15] #76 closed, assigned to fishman

[2014-09-25 14:20] #75 closed, assigned to masatake

[2014-09-25 14:22] #74 closed, assigned to masatake

[2014-09-25 14:23] #72 closed, assigned to nobody

[2014-09-29 14:39] #69 closed, assigned to nobody

[2014-10-02 18:28] vhda opened #80 "Add dual-pass capability"
Looking at some omni-completion functions in vim I understood that in order to identify the class of a certain object those functions need to parse the file until the object declaration is found. Since ctags already does this type of work, why not implement this parsing in it?

This is how I see it:
1. Parse all files as usual.
2. From the list of tags identify the class-like [1] tags and populate

[2014-10-03 17:24] vhda opened #82 "Test units with valgrind-3.7.0"
When running `make -f testing.mak VG=1 test.units` all tests fail when using valgrind-3.7.0, as available in Debian Stable 7.6.
According to STDERR.TMP:

[code]

[2014-10-04 17:36] #82 closed, assigned to nobody

[2014-10-07 15:13] #44 closed, assigned to masatake

[2014-10-09 06:01] #59 closed, assigned to nobody

[2014-10-09 10:31] masatake opened #88 "Rearrange build process and directory organization"
As I wrote #63  I'm thinking rearrange the directory organization of source tree.
When thinking about the directory organization, we have to think about build process.

The discussion of this issue will continue, so I will start on my private branch.

The initial question is about platforms we support. Do you want to maintain code for
VAX, vms, amiga, os2 and riscos? I don't want.

[2014-10-15 04:42] #43 closed, assigned to nobody

[2014-10-15 09:12] majutsushi opened #89 "Use XDG dirs spec for data/config"
It would be great if the configuration and other data used by fishman-ctags used the [XDG base dir spec](http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) instead of putting everything into the home directory. This would keep it in line with other more modern software and would prevent polluting the home directory.

[2014-10-16 03:23] #65 closed, assigned to nobody

[2014-10-16 03:33] masatake opened #90 "[ada, oldC] setjmp/longjmp related memory leaks"
I found setjmp/longjmp are used widely in parsers.
valgrind reports the memory leaks related to them.
I guess longjmp is trigged when reading unexpected EOF.
Incomplete source code may make memory leaks.
These leaks will be a problem when ctags is used as a library in the future.

We have to introduce Trash based destructions in those parsers.

[2014-10-17 19:10] masatake opened #92 "path and directiries for optlib and xcmd"
@majutsushi, forgive me if I'm impolite.
Are you have interested in improving ctags?
We, fishman-ctags developers, are interested in your wiki page:

   https://github.com/majutsushi/tagbar/wiki

fishman-ctags has ability to use the contents of .ctags and command line as a first class library with a mechanism called optlib. In my opinion it is better for users that your wiki contents are part of c

[2014-10-21 03:47] lastobelus opened #93 "Build currently failing on os x lion: 'environ' undeclared"
The build is currently failing (on os x lion):

[code]

[2014-10-21 22:06] primitivorm opened #94 "Error command nmake"
When I make with command nmake -f mk_mvc.mak in Windows 7 (x86)
I get this error:

strlist.obj : error LNK2019: unresolved external symbol _fnmatch referenced in function _fileNameMatched
ctags.exe : fatal error LNK1120: 1 unresolved externals
NMAKE : fatal error U1077: '"C:\Program Files (x86)\Microsoft Visual Studio 12.0
\VC\bin\cl.EXE"' : return code '0x2'
Stop.

thanks.

[2014-10-22 03:39] masatake opened #95 "Build process on MSYS"
@ffes, I would like to fix the issue you wrote in f-wndows.rst.

I need to see config.status, config.h and the output of make.
I'm not sure these files can be attached to this comment area.
If they cannot, could you send them to me, yamato@redhat.com?

[2014-10-22 07:46] #94 closed, assigned to ffes

[2014-10-22 11:42] #93 closed, assigned to masatake

[2014-10-22 15:07] dtikhonov opened #96 "SQL parser always produces fully-qualified tags"
I use tags to aid me browse through a large Toad dump of Oracle schema.  There are large packages; they contains cursors, procedures, and so on.  sql.c only creates fully qualified tags, so if the package is PACKAGE and cursor is CURSOR, the tag created is PACKAGE.CURSOR.  The code:

[code]

However, inside the package, the cursor is referred to by the short name, simply CURSOR.  This makes it imp

[2014-10-26 08:58] janlarres opened #101 "Better project name?"
I think it would make sense to try to come up with a better name for this project. Naming it after a specific person makes it sound like a hobby pet project, not something that strives to improve on and ultimately replace a widely-adopted tool. It would also make things a bit awkward if the original maintainer decides to leave the project for some reason. Give the additional features being impleme

[2014-11-05 21:42] ffes opened #107 "Project files for MS VS2013?"
I have (and use) project files for Microsoft Visual Studio 2013. These allow VS2013 users to build and debug ctags from within the IDE.

I have placed them in the win32 directory.

Should I push those files (and some extra lines to .gitignore and f-windows.rst)?

[2014-11-06 06:15] masatake opened #109 "BILLBOARD for developers"
Please, add your name, background and interests docs/f-developers.rst If you are
interested in contributing to fishman-ctags steadily. So we can
dispatch a task and/or an issue to perper person!

[2014-11-07 21:56] #107 closed, assigned to nobody

[2014-11-09 15:12] #56 closed, assigned to masatake

[2014-11-09 22:26] ffes opened #115 "Units tests fail, files missing"
At this moment 2 Units test fail. Files are missing:

Testing Units/ada-function                                  cp: cannot stat 'Units/ada-function.d/expected.tags': No such file or directory
diff: Units/ada-function.d/EXPECTED.TMP: No such file or directory
FAILED
        differences left in Units/ada-function.d/DIFF.TMP
        cmdline:  ./ctags --options=NONE --libexec-dir=libexec --libexec-d

[2014-11-09 22:29] ffes opened #116 "Units test that require "regex" are skipped"
Test that require "regex" are skipped under Windows

[code]

But `./ctags --list-features` mentions regex

[code]

I assume this happened after commit 688ba25bfb21481f03918811073f2548db526c2e

[2014-11-11 09:21] #115 closed, assigned to nobody

[2014-11-12 01:25] #2 closed, assigned to nobody

[2014-11-13 03:29] dtikhonov opened #123 "regression: getFileLanguage logic is reversed"
The code used to look like this:

[code]

The original logic is simple:
- check file extension; if that fails,
- check pattern; if that fails,
- look for some clues inside the file

The current version looks in the file first.  In other words, every file passed to ctags is opened and in most cases read from both ends!  This is very expensive.  `.o` files are parsed for modelines (see pull request

[2014-11-13 20:31] #116 closed, assigned to masatake

[2014-11-15 19:45] #60 closed, assigned to masatake

[2014-11-16 17:19] #55 closed, assigned to fishman

[2014-11-21 16:05] kaushalmodi opened #131 "coffeetags not found?"
Hi,

I don't use coffeescript and so I don't have to have coffeetags installed.

I get this error when I run "ctags --help"

$MY_USR_LOCAL//libexec/ctags/drivers/coffeetags: line 31: coffeetags: command not found

How can I make ctags not look for coffeetags?

Thanks.

[2014-11-22 10:32] #101 closed, assigned to fishman

[2014-11-23 22:10] vhda opened #140 "Extended regression environment"
Build a script that is able to download a set of files from the internet, place them under "Units" and generate an expected.tags file using an older version of ctags binary. There should be a configuration file that lists the tar balls that need to be downloaded, using a format like:

[code]

This is intended only to find regressions that may not be covered by a specific test unit.
Note: a new tes

[2014-11-24 14:04] kaushalmodi opened #145 "Verilog parser update request"
Hi,

I have been using this with Exuberant Ctags 5.8:

<pre>
--langdef=systemverilog
--langmap=systemverilog:.v.vg.sv.svh.tv.vinc

--regex-systemverilog=/^\s*(\b(static|local|virtual|protected)\b)*\s*\bclass\b\s*(\b\w+\b)/\3/c,class/
--regex-systemverilog=/^\s*(\b(static|local|virtual|protected)\b)*\s*\btask\b\s*(\b(static|automatic)\b)*\s*(\w+::)*\s*(\b\w+\b)/\6/t,task/
--regex-systemverilog=/^\s

[2014-11-29 12:16] nomad-software opened #154 "Can't build using make"
I've downloaded the latest ctags repo from here and this is the output from using make:

[code]

[2014-11-29 13:46] #154 closed, assigned to nobody

[2014-12-02 17:55] b4n opened #163 "Limit the output pattern entry length"
When outputting patterns as excmds, there is no maximum pattern length.  This is OK for normal source files when all lines have a reasonable length (like 120 columns tops and often less), but inappropriate when the lines are overly long, like with minified JavaScript or CSS.

Such files generally contain one single line, line that can be *very* long (like 30k characters).  This results in overly l

[2014-12-03 12:07] blueyed opened #164 "shell: allow "-" in function name (zsh, bash)"
The shell parser does not accept `-` in function names, but this is valid for at least bash and zsh.

I think the shell parser should be made to accept `-`, too.

I do not think it makes sense to have separate/derived parsers (and therefore lang definitions) for those, but maybe the shell parser could try to detect if it's zsh/bash (by looking at the extension and shebang line), and only then appl

[2014-12-04 01:04] #164 closed, assigned to nobody

[2014-12-06 07:39] masatake opened #167 "go: entering an infinite loop (go-incomplete-input)"
See Units/go-incomplete-input.i/input.go.
go parser enters an infinite loop.

[2014-12-06 13:39] #167 closed, assigned to nobody

[2014-12-08 13:34] steveno opened #169 "Use Travis to test on OSX"
I can't do this right now (at work) but I noticed this morning that Travis has a beta environment to test with OS X. This has to be enabled manually before it will work by emailing support. Something I believe ctags should look into being cross platform.

http://docs.travis-ci.com/user/multi-os/

[2014-12-09 02:15] cognominal opened #170 "does not compile on Yosemite"
Relevant part of the session
  $ autoconf --version
  autoconf (GNU Autoconf) 2.69
  $ autoconf
  $ ./configure
  ...
  configure: checking for new missing prototypes...
  checking whether __environ is declared... no
  checking whether _NSGetEnviron is declared... yes
  configure: creating ./config.status
  config.status: creating Makefile
  config.status: error: cannot find input file: `config.h.

[2014-12-11 13:20] blueyed opened #175 "Units/go-incomplete-input.d hangs infinitely"
Looking at `strace`, it loops with:

[code]

Setting `TIMEOUT=5` helps here.

I have go version go1.3.2 linux/amd64, if that's relevant.

[2014-12-11 13:33] #175 closed, assigned to nobody

[2014-12-12 11:29] st3f4n2006 opened #179 "Error parsing C/CPP files when certain element is present"
Hello,
  I have a bug in parsing C/CPP using ctags (it's in exuberant-ctags also.. but i see there is no activity on their page for some time). The problem is the following:

const DWORD EX[]={'c.','o.','oi.'}; // there are other case also
BOOL Example()
{return TRUE;}

This exampe does not extract any tags. But this does:
const DWORD EX[]={'oi','i.'};
BOOL Example()
{return TRUE;}

I compiled the

[2014-12-14 15:25] ffes opened #188 "Move this repo to organization"
This issue is opened to track all the things needed to move this repo to the organization https://github.com/exuberant-ctags

## FYI

The docs: https://help.github.com/articles/transferring-a-repository/ I suggest everybody to read at least the last section about ``git remote``

Interesting read on permissions: https://help.github.com/articles/permission-levels-for-an-organization-repository/

##

[2014-12-15 02:20] #123 closed, assigned to masatake

[2014-12-15 13:11] #179 closed, assigned to masatake

[2014-12-15 13:15] #170 closed, assigned to nobody

[2014-12-21 18:21] blackb1rd opened #191 "C : Can't parse function after macro line"
Hello,
I found a bug in parsing C using ctags (it's in exuberant-ctags also).

The problem is the following:
[code]

Output of ctags file did not have a function `foo()` as below.
[code]

Thanks!!

[2014-12-23 11:20] #145 closed, assigned to vhda

[2014-12-23 18:57] kaushalmodi opened #193 "Support for virtual class definitions [Verilog]"
I rebuilt fishman ctags today to try out the new Verilog module.

Looks like it is unable to parse class definitions with modifier keywords like `virtual`.

Example:

<pre>
virtual class my_class extends base_class;
</pre>

I use `gtags` with `ctags` as backend. I am able to jump to the `my_class` definition using custom regex for ctags to identify `class` definitions #145

In order to try out the

[2014-12-23 20:18] #193 closed, assigned to vhda

[2015-01-05 18:51] blueyed opened #201 "json parser goes mad with cities_light.json (un-prettified)"
TEST CASE:
1. wget https://gist.githubusercontent.com/blueyed/11b8995a5d42e755d636/raw/4afa26c200d4e39cba3c15f337e902e8d306953e/cities_light.json
2. ctags -f- cities_light.json

When run through `json_pp` to prettify it, it works:

1. https://gist.github.com/blueyed/11b8995a5d42e755d636/raw/01b5232d2e2a3de81175497781b1e3a05aae908a/cities_light_pp.json
2. ctags -f- cities_light_pp.json

This might

[2015-01-05 19:22] b4n commented on #201
What is exactly the problem you have with the first run?  From what I can see it works just fine, but as CTags tries to put in the line that matched the tags it produces a *huge* output -- and I mean *very huge*.  See #163 that I reported for this very reason (I suffered from it with the JS parser, but the same applies to any one).

Try with `--excmd=number` and it should be all fine (I get the ve

[2015-01-05 19:22] #201 closed

[2015-01-05 19:25] b4n commented on #201
Out of curiosity I'm trying to generate the tag file with a default (pattern) excmd to see how huge it'd be, and so far the output file is more than 18G and running.  I'll keep you posted :)

[2015-01-05 19:30] blueyed commented on #201
While using `--excmd=number` fixes it, the problem with the first command is that it uses a lot of CPU (which could be optimized probably if it's just about outputting the same pattern again and again?!).

The remaining issue (if #163 is fixed) then would be still if the json parser should be enabled by default? What's your opinion on this?

[2015-01-05 19:38] blueyed opened #202 "ctags might fail silently if /tmp is full"
When /tmp is full, ctags might fail silently (outputting nothing) (ref: #201):

Using `strace` then it looks like this:

    [pid 18982] stat("/tmp/tags.cP8Y89", {st_mode=S_IFREG|0600, st_size=0, ...}) = 0
    [pid 18982] geteuid()                   = 1000
    [pid 18982] getegid()                   = 1000
    [pid 18982] getuid()                    = 1000
    [pid 18982] getgid()

[2015-01-05 19:41] blueyed commented on #163
Cutting the line at the end should still work (given that only the end-of-line marker is being removed).

However, if it would cut the pattern in the middle of some (escaped) special sequence, it might fail to get matched then.

Apart from that I think that a default limit of 80 characters would be nice to have. Maybe there could be different default limits, like 80 for json/js and 120 for all oth

[2015-01-05 19:43] blueyed commented on #201
@b4n
You do not appear to use tmpfs then for /tmp, do you? At least your partition for /tmp is much larger than my available free space.

[2015-01-05 21:25] b4n commented on #201
Yes, I didn't check the code thoroughly but it is seems to get more or less CPU stuck in `putc()` when outputing these huge lines.

That  it outputs a lot of tags?  I don't know really, but I wouldn't mind at all not to have it enabled by default as I think it's mostly useful as a TOC rather than for generic tag lookup.

For the size test I used a direct `-f` to a file on partition with reasonable

[2015-01-05 21:39] blueyed commented on #201
Hmm, `ctags -f- cities_light.json > /dev/null` also creates a temporary file for me.

Yes.

It might have taken up to 72GB/Go probably:

    echo $(( $(ctags -f- cities_light_pp.json | wc -l) * $(wc -c < cities_light.json) / 1024/1024/1024 ))
ctags: Warning: xcmd recognizes /usr/local/libexec/ctags/drivers/coffeetags is not available
72

`number of lines when parsed` * `number of bytes in the cont

[2015-01-05 21:42] blueyed commented on #163
I consider it a grave bug, when a program accidentally fills up the whole disk with dozens of gigabytes (https://github.com/fishman/ctags/issues/201#issuecomment-68784338).

[2015-01-05 21:50] b4n commented on #201
Yes, you need to use `-f /dir/file` not stdout redirected.

Yeah, sounds about sensible.  Anyway, *way* too big.

[2015-01-05 21:56] blueyed commented on #201
Ah. But why does also `ctags -u` (unsorted) uses a temporary file?
Is there some other processing involved, or could it be dumped directly in this case?

This could get improved then probably - and might also benefit the more common case of only a few megabytes of data then.

[2015-01-05 22:18] dtikhonov commented on #202
This is interesting.  In the same vein, it seems that no error-checking is performed when writing individual tag entries to an open file handle -- see `writeCtagsEntry`, for example.

[2015-01-10 18:55] masatake commented on #131
Try the code of HEAD; the warning message you reported will be suppressed with --quiet option.

[2015-01-12 19:36] kaushalmodi commented on #131
Thanks it works!

This is probably not a big deal, but `ctags --help --quiet` does not work but `ctags --quiet --help` works as expected in quietening the warning.  I will anyways alias `ctags` to `ctags --quiet`. So it will not matter to me.

[2015-01-12 19:36] #131 closed

[2015-01-22 00:10] majutsushi commented on #92
Have you thought about my comments? I think it would be a good idea to reach a consensus here before the first release to avoid having to change things later.

[2015-01-22 11:52] ffes opened #211 "Strange character as tag in Units/bug1777340.java.t"
I accidentally noticed that when you look at ``expected.tags`` in ``bug1777340.java.t`` there is a strange result at line 3. The tag is ``Ó`` but this should be an ``n``.

https://github.com/fishman/ctags/blob/master/Units/bug1777340.java.t/expected.tags#L3

[2015-01-22 13:39] b4n commented on #211
Indeed.  After some extensive digging I found out where this `0xd3` character comes from: it's `STRING_SYMBOL` from *read.h*.

The actual bug is a combination of 2 things:

1. there is a special case for Java allowing characters out of ASCII in some identifiers (through `isHighChar()`).  As `STRING_SYMBOL` returned by `cppGetc()` is considered a "high character" the string gets recognized as a nam

[2015-01-22 22:09] ffes commented on #95
Little update:

When I use ``./configure --host=i686-w64-mingw32 --disable-external-sort`` with Cygwin, I can build a native win32 ctags.exe. And I can do ``make units`` as well. Some tests fail. #211 has been opened and the others I have to see why they fail.

With MSYS it build as well when using ``./configure --disable-external-sort`` but ``make units`` does not work because there is no ``timeo

[2015-01-22 22:29] ffes commented on #95
I also tried to build as a Cygwin application. That works as quite well. Only the ``php-simple`` and ``simple.php`` test fail. That is both times in the line with ``täyte`` in it. Have to find out why it fails though.

Know that Cygwin build != native win32 build. See f-windows.rst for details.

[2015-01-22 22:44] b4n commented on #95
`php-simple` and `simple.php` (which actually are the same), and formerly bug1777340.java (before c9bd2546fb51c9dba49c012eea014dd53dc85f66) are probably the only tests that have non-ASCII output (they are ISO-8859-1), so it probably is an encoding issue of some sort.

[2015-01-27 22:54] gotyaoi opened #216 "incorrect detection of private functions/methods in python"
The current chunk of code that controls whether a function is public or private is

    /* If a function starts with __, we mark it as file scope.
    * FIXME: What is the proper way to signal such attributes?
    * TODO: What does functions/classes starting with _ and __ mean in python?
    */
    if (strncmp (vStringValue (function), "__", 2) == 0 &&
        strcmp (vStringValue (function), "__i

[2015-01-27 23:08] b4n commented on #216
This is already fixed in Geany, we need to import the changes here.  See https://github.com/geany/geany/commit/dd7c20a19470f588eaea6196d864142458d3d5ee for the commit relevant to method access.

[2015-01-27 23:17] gotyaoi commented on #216
Ah, very cool. Though, it looks like it's only being called for functions. Do you think it makes sense for it to be applied to variables and classes as well?

[2015-01-27 23:22] b4n commented on #216
Good remark.  For member variables, sure.  For classes I'm not sure what the Python guidelines say, but possibly yeah.

[2015-01-28 00:10] gotyaoi commented on #216
I think the single leading underscore can be applied to pretty much any name. In a package/module it prevents `from name import *` from grabbing it, which includes classes and module level variables beginning with an underscore.

[2015-01-28 19:23] b4n commented on #216
Indeed, a leading underscore at the module level prevents automatic import, and seem to work with anything (classes, functions, constants).

However, double underscore don't lead to any name mangling, so it's just "protected" at the module level, not private.

Also, when nested inside a function everything is private to that function.

So… at the class level, the access rules should be applied to

[2015-01-29 01:01] gotyaoi commented on #216
Yeah, the double underscore has no special meaning outside of classes, so it would just be considered the same as a name starting with a single underscore.

I'm not sure protected is appropriate for python though. It's sort of a special case for inheritance that python disregards. I mean, you could say that a single underscore inside a class is protected and a double underscore inside a class is p

[2015-01-29 01:07] ianks opened #218 "Support for .gitignore in configuration"
I want CTags to ignore the files listed in my gitignore. Would this be something that would be desirable for many?  If so, I will dive into some code any see what I can do.

[2015-01-29 11:38] ffes commented on #218
I like the idea.

But I think it should be a command line option and not the default behavior. Curious what others think about this.

And it should not be limited to only .gitignore. For instance, there are still people using CVS, so when this option is enabled it should also use .cvsignore. Other VCS's that  work with ignore-files should be supported as well. I have no experience with other VCS's

[2015-01-29 14:09] b4n commented on #216
That's what I did in the aforementioned patch (double underscore (name mangling) meaning private, and single meaning protected).  I know Python doesn't really have such concepts, but that was the closest thing I could think of (and what was already used by the parser, too).
And while I agree it's not exactly Pythonish, it seems good enough to me -- the information is mostly correct, and in the con

[2015-01-29 15:19] b4n commented on #216
Proposed solution (commit is on top of [my python branch](/b4n/fishman-ctags/commits/python), see PR #217): f93113d0943957f7052dd46c5a320a7e13cca4b9

[2015-01-29 16:30] andreicristianpetcu opened #219 "Does ctags have multiline regex support?"
Hello,
I have some Java code

[code]

And I want to match it with something like this in my ~/.ctags

[code]

This should generate something like "catchEvent-SomeEvent" but it does not. If I remove the newline between @Subscribe and public void it gets it.

[code]

[code]

Do you have any idea if I can do this with the current ctag implementation. Am I doing something wrong or ctags does not suppo

[2015-01-29 16:33] andreicristianpetcu commented on #219
[code]

[2015-01-29 18:32] fishman commented on #218
i think this is one of the main reasons why people prefer ack and ag over grep. but i'm not sure if it should be gitignore but rather a more generic whitelist

[2015-01-29 19:54] gotyaoi commented on #216
Ah, I must have reversed your meaning when reading your comment, sorry. Anyway, when you put it that way, protected at the module level does make sense. I personally think your patch is good, though some of the parameter lists in python.c seem to have flown off to the right :)

[2015-01-29 20:30] b4n commented on #216
Good, if we reached an understanding I'll PR it :)  Not sure exactly if I should add it to the current PR though, so I might delay it a bit for #217 to be merged.

Hum, normally this file uses tabs of width 4, but GitHub doesn't get that.  Though, you're right and the style in *python.c* is slightly different than the other files, so I fixed the patch to adhere to it.  Fixed patch is 22c4cbe47e498

[2015-01-30 14:26] ffes commented on #218
The basic code to do this seems quite simple. In options.c around line 2680 I added this line to test it.
[code]
See ``man ctags`` about the ``--exclude`` option for details.
Note that the ignore file has to exist or else ctags will abort.

``./ctags --verbose -R .`` shows ``adding exclude patterns from .gitignore``
But for instance ctags.exe is not ignore even though it is mentioned in .gitignore

[2015-01-30 14:55] vhda commented on #218
Considering that `--exclude` apparently supports `.gitignore`-like files, I think we can consider that this feature is already implemented. I don't see any advantage in using `--enable-gitignore` (or similar) to ctags instead of `--exclude="@.gitignore"`.
Maybe we could include the usage of `@.gitignore` as an example of this argument in the man page?

[2015-01-31 00:25] ianks commented on #218
The problem is that it doesn't honor things like global .gitignore, etc.
Also, are we sure the regexes in the gitignore are honored correctly? I
will tell this lasted this weekend.
On Fri, Jan 30, 2015 at 7:55 AM Vitor <notifications@github.com> wrote:

[2015-01-31 06:59] ffes commented on #218
AFK right now, but AFAIK .gitignore doesn't support regex but just simple file match patterns. And that is already supported by ctags --exclude.

You are right about the global ignore files. Is also solvable by using full path names in the option but I like the ease of a simple switch.

[2015-02-01 07:30] blueyed commented on #191
@masatake
Have you made progress on this?
Is your branch available somewhere?

[2015-02-01 07:38] blueyed commented on #218
I don't think ctags should add an option for this.
There are many corner cases, and there are several issues with `ag` about this: https://github.com/ggreer/the_silver_searcher/issues?q=is%3Aissue+is%3Aopen+gitignore.

Instead the tools like `ag` and `git` should be used itself to generate the list of files for `ctags`, e.g.:

    ag -l | ctags --links=no -L-

In a similar fashion `git ls-files` c

[2015-02-02 04:55] masatake commented on #191
No. I do nothing about this topic.

[2015-02-02 13:11] ntrel commented on #191
Perhaps you could use `ctags -I 'PRAGMA+'` to skip the macro expansion part.

[2015-02-02 13:20] b4n commented on #191
This will not be enough to solve all macro usage, because many can come from included headers, and expand to weird things, so without a full-blown C preprocessor it won't ever be perfect.  So I wonder if it makes sense to add all the complexity required to track macro expansion if it won't ever be enough.

[2015-02-03 06:28] masatake commented on #219
As far as I know ctags utilizes the regex engine in line oriented way.
We don't have any concrete plan to extend it to handle multiple line.

[2015-02-03 07:46] masatake commented on #191
@b4n, I agree.

[2015-02-03 08:11] andreicristianpetcu commented on #219
Thank you @masatake do you think I can make a workaround like using other regex engine or something?

[2015-02-03 14:57] masatake commented on #219
There are some aproaches.

If you don't have enough time, and you know well aobut a script language, you can use xcmd.
See https://github.com/fishman/ctags/blob/master/docs/xcmd.rst.

If you have time and know C language, look at parseJavaAnnotation in c.c and extend it as you want.

If you have enough time, tell us your idea how ctags should deal java's annotation(not only spring.)
#64 and #80 ma

[2015-02-03 17:02] andreicristianpetcu commented on #219
The beauty of ctags is the fact that anybody can extend it with project specific settings by writing just some small regex. Please take a look at what I did for AngularJS (http://bit.ly/16gcKd7). My ctags settings (and vim) figure out AngularJS controllers, directives, modules etc. This is something that IntelliJ cannot. AngularJS is hip now, tomorrow it will not be. I think that ctags should have

[2015-02-04 01:38] masatake commented on #219
(I think it is nice if we have multiline regex support, however I cannot have an image how to implement it well in the current ctags code base. See lregex.c. )

[2015-02-04 10:43] andreicristianpetcu commented on #219
@masatake I understand implementing it is complicated with the current codebase. I took a look at --<LANG>-xcmd=COMMAND syntax and I will try to use it. I only read the documentation and it seems it is too much for me. From what I get from the documentation it will be invoked twice, once some sort of init that returns an exit code 0, something else or 77 and after that once for each file. It seems

[2015-02-08 14:06] nenadalm opened #226 "RPM packages doc"
Hello. I noticed there are files ctags.spec and maintainer.mak which seems to support building of rpm package somehow.

I didn't figure out how to create rpm using them yet.

So I think it would be helpful to put it in the doc somewhere.

[2015-02-08 14:19] nenadalm commented on #226
ok, I found the help, bu I think it would be better to put it add the command into docs/
https://github.com/fishman/ctags/pull/227

[2015-02-08 14:29] nenadalm opened #228 "Missing versioning"
I see no versioning here. What is current version, what commit it is, what's the previous version...

I think git tags could be used for versioning? And every commit inside master should increase version? So if somebody decides to create release for his platform he knows what version to specify?

(no need to mark older releases I think, just mark current HEAD as some version and tag every other co

[2015-02-08 14:37] nenadalm opened #229 "Outdated maintainer.mak"
It seems that the file works with exuberant ctags stored inside svn and doesn't count with this repo. So it should be updated probably.

[2015-02-08 15:14] b4n commented on #228
Indeed, ctags --version doesn't seem to say anything about it.  But we have #222 on the way, (though not ready yet)

Yes, I imagine we'll use Git tag to tag releases.

*every* commit??  No I don't think so.  master is not a stable release, it is the development tree, there is no point in tagging each commit.  If really people want to make releases from something else than a release, they can alway

[2015-02-08 15:25] nenadalm commented on #228
Ok, thanks for clarifying. Only reason why I thought to tag every commit in master was that you can build any commit and release it. But if commit is appended to versions as described inside of the PR it's fine.

[2015-02-08 15:25] #228 closed

[2015-02-08 17:43] masatake commented on #229
Yes, we should do. See #222 and #183.

[2015-02-08 19:05] nenadalm commented on #229
oh - fuzz is working :) I misunderstanded somehow

[2015-02-08 21:06] nenadalm opened #230 "RPM package won't be created"
according to the help: https://github.com/fishman/ctags/blob/cfffbcf2c574fa391672a7dc5443d76735e049c3/maintainer.mak#L208

I've tried to create tarball using https://github.com/fishman/ctags/pull/183 and then rpm:

[code]

and it told me:

[code]

(the same when I try to run the last command from the repository folder)

(it was told me that it has nothing to do with https://github.com/fishman/ctag

[2015-02-08 21:06] nenadalm commented on #230
[code]

[2015-02-09 05:09] masatake commented on #228
I thinks solving #222 is very basic step for other releasing related make targets.

[2015-02-10 18:04] Corax26 opened #234 "Merging patch sf.patch:77"
[Patch #77](http://sourceforge.net/p/ctags/patches/77/) brings *major* bugfixes to c.c (mainly regarding local variables), both for C and C++, for this reason merging it should be considered high priority. I merged it about one year ago in my own repo and I haven't encountered any issue so far (at least no new issue).

However, the problem is that the changeset is rather big, adding some logic and

[2015-02-10 18:52] steveno commented on #234
Both of the links you give result in a 404 for me.

[2015-02-10 18:57] kopischke commented on #234
@steveno:

Only a very limited set of project pages are available until the main website returns to service.

… should be temporary :).

[2015-02-10 20:22] Corax26 commented on #234
Yep: "The sourceforge.net website is temporarily in static offline mode.", and also:
<blockquote class="twitter-tweet" lang="fr"><p>There&#39;s instability and frequent 500 errors on the <a href="https://twitter.com/hashtag/SourceForge?src=hash">#SourceForge</a> site currently. We&#39;re working on getting this fixed ASAP.</p>&mdash; SF.net Operations (@sfnet_ops) <a href="https://twitter.com/sfne

[2015-02-11 15:07] masatake commented on #234
@Corax26, thank you for trakcing the bug and change.

I have two comments.

1. when submitting and merging changes, please, make their origin and author clear in commit log.
   See http://sourceforge.net/p/ctags/patches/1/
   We cannot pick this because its author is anonymous.

2. .b test
    You may know write how to write a test of Units.
    Could you write a test case for the bug, first?

[2015-02-11 17:05] #216 closed

[2015-02-12 10:11] fishman commented on #234
seems to be this guy https://github.com/lyokha

[2015-02-12 12:50] Corax26 commented on #234
@fishman Indeed, let's mention him so that he can take part to the discussion @lyokha

@masatake Sure I can add a new unit, all I have to do is take the test from the archive.

[2015-02-12 12:57] lyokha commented on #234
Hi guys. Yes, I did that patch some years ago :)

[2015-02-13 11:36] Corax26 commented on #234
@lyokha Cool, would you be interested in taking care of importing it into this repo? Since the official ctags repo is almost dead now (at least they haven't accepted any patch for ages), and considering that fishman's repo is probably the most active now, trying to import fixes and improvements from many other forks, it's probably the best way for other users to take advantage from your patch :)

[2015-02-13 13:15] lyokha commented on #234
Ok, what shall i do for that? Fork / merge / pull request or just giving my OK for somebody else to do that?

[2015-02-13 23:15] Corax26 commented on #234
Well you can do either it's up to you :) If you're willing to do it yourself (i.e. fork/merge/PR), that's fine, otherwise I'm also fine with doing it myself.

I wonder, do you think the test file you provide (test.c) is complete enough? Thinking about it, your fixes should also apply to global variables, so it might be worth adding global variables to the test unit.

[2015-02-14 00:23] lyokha commented on #234
Ok, I think that you'll do it better. :)

I made test.cpp to expose distinct differences between original and patched versions of ctags. I used

[code]

and then compared results: you'll see many errors in original ctags. The patched ctags is not ideal too: variable ``x7`` is erroneously parsed as prototype (it is difficult to deduce it as a variable because it does not use literals or digits mean

[2015-02-14 17:23] Corax26 commented on #234
Okay then, I'm planning to first do a PR with a test unit based on your test.cpp but with the locals duplicated as globals, and I'll comment out the variable that still doesn't work with your patch (to avoid the unit still failing after I import the patch). Overall I think your heuristics definitely make sense, it's hard to distinguish a variable declaration from a prototype even for humans ([http

[2015-02-17 01:43] masatake commented on #234
@Corax26, @lyokha, thank you for your efforts. It is nice to separate the patch and test case one by one for each bugs reported in sf.net.

[2015-02-17 20:28] gotyaoi commented on #216
Hi again. First, wanted to say thanks for the patch. Just got around to installing it and it's much nicer than it was before. I did run into one edge case though. While the dunder names (__name__) are handled properly inside classes, there exists some small cases where they will exist at the module level, for instance __all__ and __version__. I didn't notice it before, but the current version mark

[2015-02-18 21:34] b4n commented on #216
If this is important to you I guess we could add something like this:

[code]

[2015-02-18 22:09] gotyaoi commented on #216
If it's not too much trouble, I think it would be a good addition, yes.

[2015-02-21 23:34] Corax26 commented on #234
@lyokha About the patch, there is something that doesn't feel right. For the local variable `h1`, the current version gives a prototype with "int a = R" (strange, but anyway). Your version gives exactly the same result, but instead of a 'R', we get some illegal character, hex 0xD3 (8b ASCII). Do you know what's going on here?

[2015-02-22 07:56] lyokha commented on #234
@Corax26 ``h1`` is really a prototype of a function with default value for its argument assigned. There is a comment in *test.cpp* before this, it says

[code]

I remember that there a was a difficulty to deduce a correct prototype here, i'll look it again to find a possible way to do it.

[2015-02-22 10:29] lyokha commented on #234
I made some investigations and found why retrieving a string prototype (and char prototype too) is difficult. It looks like originally in ctags there were no support for collecting strings and characters (i.e. texts surrounded by double and single quotes): they both are not needed in variable tags and in C-style prototypes which cannot refer to default values. That's why they were *optimized* on a

[2015-02-22 11:29] Corax26 commented on #234
Fair enough, I was wondering what the comment above meant by "STRING_SYMBOL" but now it all makes sense :p I think your modification is sensible, I'll take it into account when importing the patch (and I'll take care of the spaces vs tabs matter).

Also, `h1` is actually parsed as a function because it is followed by `{}`, since it is illegal in both C and C++ to define a nested function I'll remo

[2015-02-22 11:35] lyokha commented on #234
ah, yes, this is a function :) But assigning string to an int is also illegal, unfortunately ctags is not able to typecheck.

[2015-02-22 11:41] Corax26 commented on #234
I'll mention it in a comment when I'm done, I'm currently modifying the test file to remove what is not legal C++ as far as possible (except some interesting cases like `ind d2( "a" * 2 );`); the rationale is that we want ctags to be as good as possible at parsing legal files, but I don't think that the result of parsing illegal expressions really matters (as long as ctags doesn't crash) ;)

[2015-02-22 15:04] masatake commented on #202
@dtikhonov , @blueyed , could you look at https://github.com/bmateusz/ctags/commit/b85937e8a41209b6fadb876a04952795f19eb582 ?

[2015-02-22 20:11] blueyed commented on #202
@masatake
From what I can tell this looks good.

[2015-02-23 12:32] #202 closed

[2015-02-23 12:32] masatake commented on #202
Fixed in #244.

[2015-02-26 16:55] fishman opened #257 "coverity issues"
members of this project should be able to watch the coverity scan reports. there's a bit of work to do there

https://scan.coverity.com/projects/4355/view_defects

[2015-02-26 18:43] b4n commented on #257
They are not ("You are not authorized to access this page.").
Also, I probably won't use the service because I'm afraid the [UA](https://scan.coverity.com/policy) is completely crazy:

[Coverity Scan UA, §7](https://scan.coverity.com/policy)

[Coverity Scan UA, §12](https://scan.coverity.com/policy)

[Coverity Scan UA, §12](https://scan.coverity.com/policy)

IANAL but that seem to mean there is no

[2015-02-26 19:10] fishman commented on #257
well it's pretty much following standard disclosure procedure, consider that a lot of these issues affect systems with ctags on them. but tbh the worst you can do with ctags is dos. i don't think theres anything that provides ctags as a service. neovim also uses for defect detection.

on a sidenote i don't think the automated travis builds are working, so support on that is appreciated.

[2015-02-26 19:24] b4n commented on #257
There is, actually: http://sources.debian.net/

[2015-02-26 19:27] b4n commented on #257
Well, you could interpret it that way (although none of these occurrence ever suggests it's the reason why), but it'd also prohibits discussion of the "findings" even after an issue has been addressed, which is bad for lowering the risk or re-appearance in the future.

[2015-02-26 19:36] b4n commented on #257
Well, OK, on the section covering chat a "Confidential information" is, one could argue it's probably aimed at that.  Or maybe it isn't.

[2015-02-26 21:12] steveno commented on #257
You can request access to see the defects here:
https://scan.coverity.com/memberships/new?project_id=4355

Tedious I know.

[2015-03-07 18:47] blueyed opened #261 "Support for the Nix expression language (Nix / NixOS)"
Description: https://nixos.org/nix/manual/#ch-expression-language

There is some very basic config in https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/misc/ctags/wrapped.nix:

[code]

I have (hopefully) improved this a bit locally:

[code]

But it's still too basic and would need a separate parser probably.

I am new to Nix/NixOS myself, and have therefore not much knowledge
abo

[2015-03-07 21:43] vcunat commented on #261
Nix itself parses the language - it uses standard parsing and lexing tools https://github.com/NixOS/nix/tree/master/src/libexpr (probably most useful in context of this issue). Then I know about some stuff in haskell https://github.com/peti/language-nix, and there are syntax highlighters for various editors (or highlighting libraries).

[2015-03-08 09:35] masatake commented on #261
As an initial version, a regular expression based implementation is o.k; it is always better than nothing.
Though I have to rethink the directory structures, optlib is the first class way to implement an parser.
You can write a C based parser later. The important point is the "kinds" compatibility between regex
based parser and C based parser. If the compatibility of kinds are kept, no one takes c

[2015-03-08 16:44] jonthn opened #262 "Allow to change program name e.g. ctags -> exctags"
On certain systems (mainly BSD ones) there is already a 'ctags' tool provided by the base system (see for example this man page for FreeBSD : https://www.freebsd.org/cgi/man.cgi?query=ctags&manpath=FreeBSD+10.1-RELEASE )

In that case almost all packaging system have to 'patch' the source code to change the names of the tool (again from FreeBSD see : http://svnweb.freebsd.org/ports/head/devel/ctag

[2015-03-15 18:40] blueyed opened #263 "make: add new kind for targets"
With a larger Makefile, it would be useful to have tags for the targets, too.

E.g. for `test` in:

    test:
        @echo "Let's ship!"

[2015-03-15 19:51] ffes commented on #263
I have a patch ready to port back make.c from Geany. It has support for targets. I will open a PR tomorrow.

[2015-03-15 20:23] vhda commented on #263
That will be a welcome addition! Thanks for the effort @ffes :)

[2015-03-24 10:26] UmkaDK opened #266 "Broken --quiet when used as command line option"
`--quiet` option appears to be broken when used from the command line as opposite to the `.ctags` file. When specified inside the `.ctags` file, `--quiet` works as expected.

[code]

This issue might be related to
 - coffeetags not found? (#131)
 - Remove code using stderr directly and introduce --quite option (#195)

[2015-03-24 16:29] masatake commented on #266
How about  moving the --quiet option before the input file name?

    $ ctags --quiet  test.rb

[2015-03-24 16:55] UmkaDK commented on #266
Good point! :) `ctags --quiet  test.rb` works as expected.

[2015-03-25 17:36] #266 closed

[2015-03-25 17:37] masatake commented on #266
(NOTE: I should write about how the order of option parsing to internal.rst.)

[2015-03-31 21:10] #263 closed

[2015-04-03 09:52] tarzanek opened #268 "build on solaris broken"
Hi guys
build on solaris used to work with svn, but with your clone I get:

$ gmake
gcc  -o ctags ada.o args.o ant.o asm.o asp.o awk.o basic.o beta.o c.o clojure.o css.o cobol.o dosbatch.o eiffel.o entry.o erlang.o falcon.o flags.o flex.o fortran.o get.o go.o html.o htable.o jscript.o json.o keyword.o lisp.o lregex.o lua.o lxcmd.o main.o make.o matlab.o objc.o ocaml.o options.o parse.o pascal.o pc

[2015-04-03 14:22] tarzanek commented on #268
fwiw -
git diff
diff --git a/lxcmd.c b/lxcmd.c
index a74dfdb..73046d4 100644
--- a/lxcmd.c
+++ b/lxcmd.c
@@ -59,6 +59,8 @@

 #ifdef HAVE_COPROC

+#include <sys/wait.h>
+
 /*
 *   MACROS
 */

this got me going

[2015-04-03 15:01] ffes commented on #268
Thanks for the fix!
You could do a Pull Request or shall I apply this patch myself?

I don't have access to Solaris, so it is impossible for me to test.

[2015-04-03 15:06] vhda commented on #268
Please check this solution also: https://lists.feep.net:8080/pipermail/encap-users/2002-December/000096.html

[2015-04-03 15:22] tarzanek commented on #268
yeah above is the mail I got it from ;)
and feel free to apply the patch yourself, it's just three lines (from @vhda s mail)

tia
L

[2015-04-03 15:25] tarzanek commented on #268
OK, so tested with the ifdef and it obviously won't compile ;)
also note that compile on solaris now works only with gmake
previously it used to work with solaris make , too ...

[2015-04-03 15:32] tarzanek opened #269 "regexp patterns don't seem to work on solaris 11(12)"
I tried with Solaris 12
ctags 5.8 , ctags 5.9 and ctags from this fork :)

Note that debian ctags 5.9 works with below command, prints (so this is expected on Solaris, too):
[code]

And I failed miserably
command to repro:
[code]
output on Solaris is empty

my input file:

[code]

my ctags option file:
[code]

I will try on Solaris 10, too ;)

[2015-04-03 15:40] tarzanek commented on #269
Same on S10, this seems to be some library mismatch for regexp on Solaris , regular expresions seem ok (they do work on linux)
but on Solaris they just don't get any hit (I tried simplify them
and e.g. --regex-haskell=/^([a-zA-Z0-9_]+)/\1/f,functions/  gets me a hit on above file ... )

[2015-04-03 15:50] tarzanek commented on #269
checked regex.h on both and they seem to differ a bit ...
so it seems GNU is not really POSIX
http://www.gnu.org/savannah-checkouts/gnu/libc/manual/html_node/Regular-Expressions.html
oh well :)

[2015-04-03 15:54] tarzanek commented on #269
seems I should try to rewrite above to POSIX ... http://en.wikipedia.org/wiki/Regular_expression#POSIX_basic_and_extended
or got a better advice? :)

[2015-04-03 16:03] tarzanek commented on #269
seems replacing \s
with [ \t\r\n\v\f]
got me going ... weird

[2015-04-03 18:31] b4n commented on #268
All we'd need for it to work would be a `AC_CHECK_HEADERS([sys/wait.h])` in `configure.ac` :)

[2015-04-04 08:59] tarzanek commented on #268
ok, then it's your call, I don't own any of above code, so whoever is fastest can push, once it's pushed I can rebuild and retest  if you ping me,
cheers!
L

[2015-04-04 11:46] vhda commented on #268
Please note that this dependency was introduced in order to make the file compile in mingw32.

[2015-04-04 12:55] b4n commented on #268
@tarzanek I created PR #270, could you please double-check it does fix it? :)

[2015-04-05 15:24] lmartins opened #273 "How to install?"
Any chance you could add instructions on how to install this?
Im trying to make Vim understand tags from Sass files.

Thanks.

[2015-04-05 15:36] b4n commented on #273
Like most Autotools-based projects, you just need to do:

[code]

The `ctags` executable will be in `$prefix/bin/`.

This said, I don't think there currently is built-in SASS support, is there?

[2015-04-05 15:51] lmartins commented on #273
yeah, im pretty noob about this kind of tools.
Honestly didn't quite understand your instruction, which I thank you anyway, so i'll keep digging to better understand all that's involved.

From what I've read, Sass should be partially supported according to http://stackoverflow.com/questions/13276209/how-to-browse-sass-css-files-with-vim-effectively

Thanks again.

[2015-04-05 15:51] #273 closed

[2015-04-06 14:36] vhda commented on #269
AFAIK, `\s` syntax is generally not supported in regular expressions.
For a more standard support, you should use the following character class `[[:space:]]` instead of `\s`.

[2015-04-07 11:40] tarzanek commented on #269
yep, [[:space:]] works  OK, too .. good, thnx @vhda!

[2015-04-07 13:26] #268 closed

[2015-04-07 13:33] masatake commented on #269
@tarzanek, please close this if you are o.k.
BTW, Do your options for haskell work well? (I don't know well aobut haskell.)
Do you have interests to merge the options to ctags source tree?

[2015-04-07 14:44] tarzanek commented on #269
I have ctags and scala options, they should work, but I guess having a proper parser would be better, no?
fwiw - options:
https://github.com/OpenGrok/OpenGrok/blob/master/src/org/opensolaris/opengrok/analysis/Ctags.java#L97

thank you!

[2015-04-07 14:44] #269 closed

[2015-04-07 14:44] tarzanek commented on #269
(oh yes, and I will rewrite them with [:space:] ... soon)

[2015-04-12 22:30] blueyed opened #282 "Handle files starting with "#compdef" as zsh/sh"
With zsh's source (git://git.code.sf.net/p/zsh/code) and installation, there are many completion scripts, which start with a line like the following:

    #compdef git git-cvsserver git-receive-pack git-upload-archive git-upload-pack git-shell gitk tig

Most of them do not have emacs/vim modelines.

It would be nice if ctags would consider these to be sh/zsh, when `--guess-language-eagerly` is use

[2015-04-13 02:58] masatake commented on #282
Interesting. I prepared a PR.

[2015-04-13 03:01] masatake commented on #61
I wrote a small glue code based on global-pygments-plugin.
It will work with ctags. However, some work may need for each languages.
I will report more things.

[2015-04-14 15:59] masatake commented on #92
I read again and again your comments.

* I need both optlib and preload directories store the different type of
  files However, I understand the complexity from your comment. I found
  where the complexity comes from.

* About libexec, I revise the directory structure and Makefile.

------------------------------------------------------------------------
I think default.ctags causes the complexit

[2015-04-16 20:28] ffes commented on #169
Can this one be closed? AFAICS Travis CI now tests on OSX as well

[2015-04-18 22:37] jonthn commented on #262
See PR #287

[2015-04-21 13:36] #282 closed

[2015-04-21 13:36] masatake commented on #262
#287 is merged. Thank you.

[2015-04-21 13:36] #262 closed

[2015-04-25 12:54] jonthn opened #294 "Rename 'core' directory ?"
Hello,

Today I noticed two issues :

* When running configure (with the recent changes) you get early on
[code]

because in configure.ac there are 2 variables set by grepping the file $srcdir/ctags.h which doesn't exist anymore as it has been moved into the core directory.

* The second problem is relatively minor but using the name "core" for a directory could be problematic in certain situation

[2015-04-26 02:27] masatake commented on #294
@jonthn, thank you for reporting. Could you try #295?
@ffes, could you test the branch on windows?

[2015-04-26 15:08] jonthn commented on #294
@masatake I've just tried it and it fixes the issues on my side. Thanks for the quick change. :)

[2015-04-26 16:22] masatake commented on #294
@jonthn, thank you for checking.

[2015-04-26 17:30] #294 closed

[2015-04-28 17:58] masatake opened #299 "verify .t unit test case and convert it to .d"
.h test cases comes from ./Test old test cases.
The expected.tags files are generated by a script automatically.
None verifies the contents.
Let's verify them and rename it to .d from .t when verifying is done.

In discussion in another issue, @b4n gave me a question; do we have to rename directories?
I would like to say yes. Keeping the original name is helpful to know where a test case comes
fro

[2015-05-01 07:20] masatake commented on #88
#300 solves this issue.

[2015-05-01 07:20] #88 closed

[2015-05-04 20:43] blueyed opened #305 "Handle "inl" extension as C++"
Neovim uses `.inl` files, which are ignored by ctags.

For reference, the following extensions are handled as cpp by Vim:

    runtime/filetype.vim
    372:au BufNewFile,BufRead *.cxx,*.c++,*.hh,*.hxx,*.hpp,*.ipp,*.moc,*.tcc,*.inl setf cpp

[2015-05-06 07:48] masatake commented on #305
Fixed in a88f344 .

[2015-05-06 08:05] masatake commented on #299
I moved all *.t test cases to Units/review-needed.
I will review *.t  test cases under the directory.

[2015-05-06 08:05] #299 closed

[2015-05-06 08:07] masatake opened #306 "c: parameters and labels"
Though local variables can be tagged, parameters and labels in a function cannot be tagged.

[2015-05-06 08:10] masatake opened #307 "Utilize debug.c and debug.h"
debug.c and debug.h can be linked/used with maintainer.mak.
However maintainer.mak is not maintained in our source tree.

Some of targets in maintainer.mak is useful even in our source tree.
Especially a target enabling debug.c and debug.h is useful.
Assert macro defined in the debug.h may hunt bugs.

[2015-05-06 08:13] masatake opened #308 "ifdef related to fnmatch and regex"
Our source tree contains fnmatch and regex related source code.
So it is always avaiable. We don't need #ifdefs for them. The #ifdefs just make source code dirty.
Let's remove them.

[2015-05-06 15:04] masatake commented on #307
Let's try a branch introduced in #309.

  $ make fuzz SHRINK=1

[2015-05-06 15:34] blueyed commented on #305
Thanks, that works!

[2015-05-06 15:34] #305 closed

[2015-05-06 15:47] b4n opened #310 "[infrastructure] Disabling landscape"
For a few days now @landscape-bot is crapping our PRs about irrelevant code health.  Apparently [landscape is Python only](https://docs.landscape.io/faq.html), and as we don't have any real python sources it's just adding noise to our PRs.
I don't know why landscape has been added, nor who did this, but it's just plain annoying and useless to us.

doing so would close #301 that I opened before rea

[2015-05-09 03:29] masatake commented on #307
See  commit https://github.com/fishman/ctags/commit/8f985c483a7ef9d60ad767604a9bd52aecf3b928 .
I have a fix for vera, java, and csharp case.
I will prepare a PR.

[2015-05-09 17:19] #307 closed

[2015-05-12 12:58] b4n commented on #310
@carlio thanks.

Any idea why it got added in the first place?

[2015-05-12 13:22] carlio commented on #310
@b4n someone with access to the repo added it to Landscape - repositories are checked when someone explicitly adds them. Unfortunately because I turned off the checks I can't tell you who it was as that information is gone!

[2015-05-13 18:49] masatake opened #315 "Import nestlevel.[hc] from geany"
It is nice. I want it.

Not only just importing, I want to add a variant API specialized to cork.

	const vString *name, int type);

This is the original version.

Here INDEX is a value returned from makeTagEntry.

[2015-05-14 11:25] masatake opened #317 "Conflicting in kind letter F"
Bad news.

Incompatible change may be needed to fix this issue.

F used as file tag in ctags main part, is also used for other kinds in some parsers.
Here is an example of ruby.

cat /tmp/foo.rb
class ClassExample
        def self.class_method
            puts "in class_method"
        end
end
% ./ctags --extra=+f  /tmp/foo.rb ; cat tags | grep -v '!' | grep F
./ctags --extra=+f  /tmp/foo.rb ; cat

[2015-05-14 13:23] huanghx1990 opened #318 "xcmd recongnizes coffeetags not avaliable & verilog.c line 927 error"
i dl the newest version code just now，and installed in my redhat . then when i type in ctags -R in my uvm_1.2 lib src folder, i got a msg said :

ctags:Notice:xcmd recongnizes /PATH/usr/libexec/ctags/drivers/coffeetags is not avaliable.
ctags: parsers/verilog.c:927:tagNameList:Assertion 'IsIdentifierCharacter(c)' failed
Abort.

I wanna use ctags in systemverilog language,which is my proj used lang

[2015-05-14 13:32] vhda commented on #318
Could you please guarantee that your UVM source code was extracted correctly?
Until now I only saw the second error when a file ended prematurely.

@masatake could you please comment on the coffeetags error?

[2015-05-14 14:43] masatake commented on #318
xcmd related message is just notice. It is not a critical issue as far as not using coffeetags.
For your purpose you can ignore it.

@huanghx1990, could you tell me the version of OS and how did you install ctags. I would like to know the command line especially parameters passed to configure script.

[2015-05-14 14:48] masatake commented on #318
About the assertion, we need input file.
I'm afraid it is something to do with multibyte string.
Our ctags may accept only ascii chars.

[2015-05-14 14:52] masatake commented on #318
Could you show the output of

              $ /ctags -R   --verbose 2>&1 | tail

? So we can find the input file name which stops ctags.

[2015-05-14 15:04] vhda commented on #318
UVM 1.2 is available for download at: http://accellera.org/images/downloads/standards/uvm/uvm-1.2.tar.gz
I'm able to replicate this problem on my side, so allow me to debug the issue.

[2015-05-14 16:29] vhda commented on #318
I'll need a bit more time to debug this further, but I think I have made some bad decisions in the SystemVerilog parsing.

[2015-05-15 02:59] masatake commented on #318
Shrink says just one byte '/' makes the assertion failure.

[0       9249]...failed(1)
[0          0]...ok(0)
[0       9249]...failed(1)
[0       4625]...failed(1)
[0       2313]...failed(1)
[0       1157]...failed(1)
[0        579]...failed(1)
[0        290]...failed(1)
[0        146]...failed(1)
[0         74]...failed(1)
[0         38]...failed(1)
[0         20]...failed(1)
[0         11]...fai

[2015-05-15 11:08] vhda commented on #318
It would probably make sense to remove that assertion, which is basically verifying if the code is correct. Instead I would skip to end-of-statement or EOF when code is incorrect.

[2015-05-15 12:17] masatake commented on #318
findVerilogTags->vGetc jumps comments.
findVerilogTags->skipComments jumps comments.
Do we need both?

[2015-05-15 12:24] vhda commented on #318
I have noticed that before and could swear I had reverted that change! I'll need to look into my repo to try to understand what happened.

[2015-05-15 12:29] masatake commented on #318
@huanghx1990, try --quiet option. It suppress the warnings.
See also https://github.com/fishman/ctags/issues/266 .

[2015-05-15 12:43] huanghx1990 commented on #266
i will try IT tomorrow ～

[2015-05-15 19:34] jonthn opened #320 "C parser #if 0 code"
While trying to parse a project I came across something strange, even though the code is protected by a ```#if 0``` ctags parse this code but it shouldn't.
And I get this assertion:
[code]
see https://github.com/fishman/ctags/blob/master/main/get.c#L170

If I use ```--if0=yes``` it seems to take the right path.

### Example code
[code]

[2015-05-15 20:35] b4n commented on #320
It should parse it to understand the syntax relevant to decide on the branches to take or not to take.

But indeed there is a but with your example triggering an assertion failure.

----
PS: you probably shouldn't be using the preprocessor as a way to comment things, they are not the same.  Also beware sequences of `??` because of C trigraphs, they could result in some very unexpected things ;)
[c

[2015-05-15 20:40] jonthn commented on #320
My thoughts exactly wrong choice of word my bad.

Unfortunately it's not under my control for this code, it's rather ancient and I have to live with it ... :(

[2015-05-15 21:04] b4n commented on #320
Okay, the reason why this happens is because `cppGetc()` calls `cppUngetc()` when it encounters an unknown trigraph, and as it keeps on looping when it's in an ignored branch, it keeps on stacking characters in the ungetc buffer  -- but never reads them.

So to reproduce, you just need
[code]
and BTW, it also happens with backslash-escaped question marks:
[code]

For the moment I'm not sure of the

[2015-05-16 02:55] masatake commented on #320
@b4n, who will beat you? Of course your the best person:-)

[2015-05-18 01:52] huanghx1990 commented on #266
and now the  first issue is pass，how about the second ？

[2015-05-18 01:54] masatake commented on #266
See #318. Not #266. People are working on the issue.

[2015-05-18 08:09] huanghx1990 commented on #318
i use your advice and fix the first issue about the coffeetags ，but i was not so understand your method to fix the verilog.c file error，could you told me in detail.？thanks a lot，@vhda.

[2015-05-18 10:18] vhda commented on #318
I've just merged the fixes, so you should now be able to parse the UVM source code.

[2015-05-18 12:12] masatake opened #324 "Wrong makeTagEntry usage (sf-bug:356)"
See http://sourceforge.net/p/ctags/bugs/365/

[2015-05-18 13:18] masatake commented on #317
About regex parser and xcmd parser,  I would like to forbid to use 'F'.
For crafted build-in parsers I will prepare the way to override 'F' kind letter.

I think Not-changing the meaning of (widely used) tags file is the more important than consistency between parsers. Any comments?

[2015-05-18 16:46] b4n commented on #320
OK, the fix was a bit more complex than one could have hoped, but here it is in #325

[2015-05-18 17:41] b4n commented on #324
Other languages have the same problem.

One possible way to go would be to require passing a `kindOption` array to `makeTagEntry()` so it could itself check whether to create the tag or not.

This however requires a few non-trivial changes, the most important ones being those under *main/* (parsers are almost trivial to fix, but *c.c* that require a little more work but it totally doable).

The ot

[2015-05-18 18:33] vhda commented on #317
I think that would be a nice addition, since "main" uses that specifically to create file tags and we do not control what is added in the regex patterns.
Another option would be to abort when both the language parser has an 'F' kind and the include filenames option is enabled.

On the built in parsers this can be modified, but how can we avoid overlooking updates that add kinds using this letter?

[2015-05-18 18:35] masatake commented on #324
@b4n, thank you for fixing quickly. However, I want to think this issue a bit more because this is related to the one of my biggest questions about ctags.

If this issue can be handled main/ side, this kind of bug can be suppressed forever.
As you write, passing a kindOption array is one of solution. I think this one is worth trying.

If accessing the current parserDefinition from makeTagEntry ()

[2015-05-18 18:52] masatake commented on #317
Thank you for comments.

Another option would be to abort when both the language parser has an 'F' kind and the include filenames option is enabled.

If a built-in parser uses 'F' for its own purpose and the parser doesn't define an alternative letter for file, ctags stops the execution(assertion).  This is o.k.? ctags can check in per parser initialization stage. Checking may not be so expensive.

[2015-05-18 18:53] masatake commented on #306
Labels are tagged now. Next one is parameters. Maybe difficult but important.

[2015-05-18 19:06] vhda commented on #317
That's fine by me.

[2015-05-19 16:20] masatake commented on #317
For the csae that an external command(xcmd) uses 'F' for its own kind, I would like to prepare the
way to override a kind letter for file. The long flag notation I introduced for regex parser can be reused.

   --langdef=MyLang{fileKind=Z}

BTW, Long flag notation for a language may have many applicatons.

  --langdef=SendMailCF{parentParser=m4}

[2015-05-20 07:04] masatake commented on #324
I would like to try fixing this in main/ side.
Macros in read.h are the public interface of parserDefinition.

step1. Add isEnabledKindInSourceLanguage(c) to read.h.
step2. Implement makeTagEntryWithKindCheck based on isEnabledKindInSourceLanguage.
step3. use makeTagEntryWithKindCheck where @b4n patched in this pull request.

It will not be so difficult because the places where patching is needed

[2015-05-20 14:12] masatake commented on #324
@b4n, I implemented step1 and step2. Could you look at them?
The name of functions are a bit too long. If o.k. I will do step 3 bsaed on your PR.

[2015-05-20 14:42] #169 closed

[2015-05-21 05:53] majutsushi commented on #92
Thanks for the explanation, I now understand your idea better. I think it would be good to clarify this main difference more in the documentation. I'm still not entirely sure though why you don't want to load *all* configurations by default -- what would be the downside to that? Performance? Potential incompatibilities? Considering that your mechanism allows for the disabling of configurations if

[2015-05-21 15:39] masatake commented on #317
About regex parser, I changed my mind.
I wrote code introducing fileKind long flag for xcmd parsers as proposed in the last comment.
The I found the code is applicable to regex parser. The application is straight forward.
Further more it is not easy to write code permitting overriding file kind in xcmd parsers and forbidding it in regex parsers.  So I will just preapre the way to override the lett

[2015-05-22 15:26] masatake commented on #96
The idea I showed in the last comment can be implemented based on cork API.

[2015-05-22 15:26] #96 closed

[2015-05-22 15:26] masatake commented on #109
Issue tracker is not suitable to be used as BILLBOARD.

[2015-05-22 15:26] #109 closed

[2015-05-22 15:44] masatake commented on #11
In the list `:` is not included.

[2015-05-23 18:12] QingmingHe opened #333 "Fortran parser: truncate tag line blindly"
When parsing:

[code]

[code]

will be written to tags file. However, what should be in tags file is

[code]

This is caused by **truncateTagLine** function in entry.c which uses **strstr** to get the position of tag in current line and truncate text after the tag. In this case, the tag **i** occurs in the first character of **integer** keyword and all the following text will be truncated.
This is

[2015-05-24 02:46] tecfu opened #334 "Request: Start versioning this project"
No information about the version of this codebase is readily apparent in the README.md or otherwise.

Before finding this repository on github, I installed Exuberant Ctags on Ubuntu 14.04 via

[code]

The command:
[code]
only yields information about the date compiled.

I think its reasonable to believe that users would appreciate versioning for this project, for obvious reasons.

[2015-05-24 08:47] masatake commented on #334
We will provide a different name from "Exuberant Ctags".
We are discussing the name now. Maybe it will be universal ctags.
The name will be printed with ctags --version.

Is it enough?

[2015-05-24 11:11] tecfu commented on #334
My response to the suggestion of a name change is as follows:

### "exuberant ctags" still has powerful brand value

- Many, if not most stackoverlow questions about ctags have references to exuberant ctags
- This project will lose the search benefit of that affiliation
- Users who want to a quick, simple solution will be unlikely to find this project

### "exuberant ctags" on sourceforge is obvio

[2015-05-24 11:40] ffes commented on #334
You are right that exuberant is still a strong name, even after not releasing for almost 6 years.

We have contacted him over half a year ago. But he wants to stick with SVN at SourceForge. Many have tried to convince him but without any luck. See the archives of the ctags-devel mailing list and PR #182 for more details. We have to chose another name, exuberant is his name.

[2015-05-24 12:02] tecfu commented on #334
Thank you both for taking the time to respond. I had no idea this had been discussed and contemplated in such depth previously.

While not a contributor, given https://github.com/fishman/ctags/pull/182 it appears there is absolutely no way forward but to fork. I'd vote for it.

[2015-05-24 12:04] #334 closed

[2015-05-25 16:32] #320 closed

[2015-05-25 16:37] masatake commented on #318
@huanghx1990, please, reopen if your trouble is not fixed with the commits.

[2015-05-25 16:37] #318 closed

[2015-05-25 17:06] masatake commented on #333
See also main/get.c.

cat /tmp/foo.c
#define d 0
[yamato@x201]~/var/ctags-github% ./ctags -o - /tmp/foo.c
./ctags -o - /tmp/foo.c
d	/tmp/foo.c	/^#de/;"	d	file:

[2015-05-25 17:13] masatake commented on #333
strrchr in routines.h can be used to improve the output.
However, I wonder why truncateLine is set TRUE in get.c and fortran.c...
git blame doesn't help us. The field, truncateLine existed when ctags source tree was imported to its subversion repository.

[2015-05-25 17:22] QingmingHe commented on #333
strrstr will not improve for some cases. Consider:
[code]

[2015-05-25 18:13] QingmingHe commented on #333
strrstr can't get the perfect output:
[code]
In fact, is there any case where truncateLine is useful? I don't think it make any sense.

[2015-05-26 09:37] vhda commented on #333
I don't think that a complete line pattern is necessary. Those entries are Vim Ex commands that are used to search for a pattern within a file and as long as the pattern is unique in the file, then it is sufficient to find the tag.
I've made a quick test using the example Fortran subroutine and added a second procedure called sub2 and this is what I obtained in the tags file:

[code]

As it can be

[2015-05-27 18:02] #317 closed

[2015-05-27 18:04] #324 closed

[2015-05-29 17:53] cweagans opened #340 "Homebrew Formula & website"
Hello! I just wanted to let you know that I created a Homebrew formula for Mac users that allows them to install Universal Ctags. You can find it here: https://github.com/cweagans/homebrew-universal-ctags

I'd love to move that repo into the universal-ctags organization. If you want to add me to the org, I'll transfer it!

I'd also be interested in helping you guys out with a website, if you're in

[2015-05-29 18:11] cweagans commented on #340
@ffes I think you're the person that I'd need to talk to about this, right?

[2015-05-30 10:53] zakilo opened #342 "Can't find a tag, it may be a bug"
I see some codes below :
`__allocator() __STL_NOTHROW {}`
`size_type max_size() const __STL_NOTHROW { return size_t(-1) / sizeof(_Tp); }`
Ctags can't create tags for them. What's worse, some other normal struct tags, like `struct _Alloc_traits { }` , are missing too.

In the codes below, Ctags won't create tags for `max_size`, `__allocator`,`_Alloc_traits`. (The tag of struct `rebind` can be creat

[2015-05-30 12:39] b4n commented on #342
This is because ctags doesn't know what the heck is `__STL_NOTHROW` and then cannot know it should basically ignore it.  You can tell it using `-I`:

[code]

Having no clue about C++, I don't know if it is part of the standard and then should probably be included directly in CTags, or is an implementation thing which then probably should not and simply be added by users.

[2015-05-30 19:31] ffes commented on #340
I really like this!
But for now I think it is too early to move your repo to the organization. Not even the main source repo has been moved yet.

I am not a Mac user myself, but I understand that homebrew is a repo for Mac users to get additional Linux(like) tools. And by adding your own tap you can add packages not provided by homebrew (similar to PPA for Ubuntu).

I see there is a formula for ex

[2015-05-30 19:43] ffes commented on #340
And I personally would love to have ctags.io as our URL for our project, but it is not my decision. We have to discuss this with the other regular contributors.

[2015-05-31 00:00] cweagans commented on #340
Homebrew is a package manager, yeah. Short term, this tap is probably the right way to go. When Universal Ctags has a 1.0.0 release, then we can submit a PR to the official homebrew repo to change over to Universal Ctags instead. For now, though, this provides an easy way for somebody to get started with Universal Ctags. I don't foresee a lot of maintenance for this tap - it shouldn't change that

[2015-05-31 04:50] zakilo commented on #342
You're right, "-I" option is useful. Thanks, I should read the CTags document carefully. Sorry...

[2015-05-31 12:29] #342 closed

[2015-05-31 22:29] cweagans commented on #340
@ffes The repo has been moved. Would you like to move the Homebrew formula too?

[2015-06-01 09:49] vhda opened #343 "xcmd: coffeetags is not available"
ctags complains that coffeetags is not available. In my opinion no warning should be displayed in ctags for a feature that the user is not running.
Would it be possible to update the code such that this warning is only shown if the availability of coffeetags would improve the tags processing of the files being parsed?

[2015-06-01 20:26] cweagans commented on #340
Also, is there a more real-time communication method that contributors are using? IRC or Gitter or Slack or something?

[2015-06-01 22:01] ffes opened #344 "How to communicate?"
The GitHub issues and PR are not the best way (IMHO) to discuss more general things about the project. So I think we need a way to communicate with each other.

There are a number of options:

1. A mailing list. Can be hosted on https://groups.google.com or on http://www.freelists.org and probably other free services do exist.
2. Forum, hosted somewhere. Haven't found a free host yet
3. IRC. Freen

[2015-06-02 00:37] blueyed commented on #344
I personally don't like mailing lists too much, but that's caused by using Gmail for them (where your own posts don't show up) and the subscription process.
But for projects you are more involved in this is not a problem. So +0 to that.

Using Github issues and pull requests seems to be working good so far though, so maybe not scatter it too much for now.

IRC seems a good idea anyway, I'd prefer

[2015-06-02 00:42] blueyed commented on #340
See https://github.com/universal-ctags/ctags/issues/344#issuecomment-107753545.

I think IRC is fine.  `#ctags` is unused currently.
But we could also use another one.

[2015-06-02 04:12] cweagans commented on #344
For mailing lists, +1 for http://librelist.com/. Much easier to get started and view archives than most services. Google Groups is a pain.

[2015-06-02 10:48] vhda commented on #344
Since I don't have much available time to invest in the communication, Github issues are still the best solution for my workflow:

1. All communication is centralized in a single platform.
2. Communication is fully registered and can be consulted later.
3. I can contribute whenever I find 5mn to spend reading the updates.

[2015-06-02 17:05] masatake commented on #344
I have wanted a mailing for long time. However, nowaday I recognized I am not so young; will not be able to reply timely. For a while I would like to use only github facility.

[2015-06-02 17:08] masatake commented on #343
This is the nth times I heard the complain about the warning of xcmd.
This is the time to fix it.

[2015-06-02 17:12] vhda commented on #343
These complains are even plaguing StackOverflow, so it's really important to improve this behavior.
Thanks a lot for the quick fix and excellent work in tests creation!

[2015-06-02 17:17] masatake commented on #340
@cweagans, thank you for working this area, but I don't know well about the environment of MacOSX.
As far as I know there is no MacOSX user in our organization. See docs/developers.rst.

We need someone who has interests hacking ctags and uses MacOSX as main working environment.

@cweagans, you are the such person?

[2015-06-02 17:18] masatake commented on #343
Currently only coffeetags uses the xcmd facility.
I wanted more examples before removing such debugging oriented code.

[2015-06-02 17:27] cweagans commented on #340
@masatake I'm more than happy to maintain the OSX build stuff - that won't be a problem at all. I'm not sure about contributing directly to ctags, as my C skills are not so great. I'm working on learning, but coming from a PHP background, there's quite a few new concepts to master.

[2015-06-03 02:08] #343 closed

[2015-06-03 09:11] ffes commented on #344
OK, let's stick with github issues for the time being. I've added a "general discussion" label so we can mark issues like this one and close after them after a period of inactivity.

@blueyed I have tried to join the #ctags channel on freenode, but something strange happened. The channel won't stick in Quassel, but all other channels do stick. Is that a Quassel problem on my side, or did you do so

[2015-06-03 18:15] masatake commented on #340
@cweagans, could you write about your self in docs/developers.rst and send a pull request to us?
@ffes may arrange the other things.

[2015-06-03 19:15] vhda opened #346 "Update Github repository description"
The current description "**clone of official ctags repo with obj-c and css patches added**" does not reflect all the new functionality of the project.

[2015-06-03 19:18] vhda commented on #346
My 1st proposal: "Fork of Exuberant Ctags with focus on the development of new features".

Currently assigned to @masatake but I expect inputs from everyone :)

[2015-06-03 19:19] vhda commented on #340
Welcome @cweagans :)

[2015-06-03 19:21] blueyed commented on #344
@ffes
I've not done anything special to the channel (AFAIK).
What do you mean with "stick" in that context?

[2015-06-03 20:08] ffes commented on #344
In Quassel on the left is the tree with channels I have joined on the various networks. When I join a channel either by `/join #ctags` or with the dialog in the program the channel is added to the tree. The next time I start Quassel it remembers my channels and rejoins all of them. the ctags channel is not added to the tree and not not remembers.

But it works as expected at home, so it has to be

[2015-06-03 20:15] ffes commented on #346
@vhda good catch :wink:

My proposal for now would be something like "The continuation of exuberant ctags"

[2015-06-03 20:21] ffes commented on #340
@cweagans I will send you an invite to join the team. Still have to figure out exactly how the rights works, forgive me in advance the possible delay.

We need to come up with a proper name for your repo.

And would you like to write a docs/osx.rst? It could really help users of OSX and others devs in the team to know special things we need to think about in order to keep ctags as cross platform a

[2015-06-03 20:54] cweagans commented on #340
Thanks @vhda and @ffes - looking forward to helping out :)

The name of the repo can change, but it must start with homebrew- to function as a tap.

Happy to write an OS X doc. Nice thing is that it currently compiles on OS X and very few packages don't require anything special for that to happen. If we add OS X to the platform list in Travis, we can fail any PRs that don't build correctly on OS X

[2015-06-03 21:22] ffes commented on #188
Should I close this one?
The most important things are dealt with, I think.

New issues/PRs can be opened to address specific problems, like a release plan and a website (content as well as design).

[2015-06-03 21:22] ffes commented on #340
OSX is already enabled on Travis-CI.

You should have received the invitation. With it you should be able to transfer the repo. If not, please let know.

[2015-06-03 21:22] cweagans commented on #340
I've accepted the invite. Awesome - I'll get it moved tonight!

[2015-06-03 21:32] ffes commented on #340
I see the transfer worked. Thanks for the contribution!
I will close this issue.

I will open a new one to discuss the details of your offer of ctags.io (if it still stands :wink:).

[2015-06-03 21:32] #340 closed

[2015-06-03 21:33] cweagans commented on #340
Of course :)

[2015-06-03 22:09] ffes opened #348 "Domain name"
In #340 @cweagans offered us to use ctags.io (which he owns) to use for our project.
It is quite easy to link a domain name to the github pages placeholder that I have created.
https://help.github.com/articles/adding-a-cname-file-to-your-repository/

I think it is a great URL and I really like the idea.
But how do the others think about this offer?

[2015-06-03 22:24] cweagans commented on #348
FWIW: I also offered to build a real website :)

[2015-06-04 01:18] blueyed commented on #348
:+1:

@cweagans
Thanks, and welcome to the team! :)

[2015-06-04 08:01] masatake commented on #346
Could you add following sentence (if it is written correctly) to the page?

space where people interested in making ctags better can work
together.

[2015-06-04 08:29] masatake opened #349 "Running ctags with --options=.ctags under windows (sf-bug:366)"
http://sourceforge.net/p/ctags/bugs/366/

Is this reproduce with universal-ctags, too?

@ffes, could you look at this?

[2015-06-04 10:59] ffes commented on #349
I guess the reporter of the problem on SF is @vadz

I can confirm that it is a problem on Windows in our repo as well.
Haven't tested it yet under Linux, but I don't think it is platform specific.

.ctags and ctags.cnf both give the error. But ctags.conf doesn't give the error.
Adding --verbose gives a clue.

[code]

Both filenames that fail are the default filenames already already considered.

I

[2015-06-04 11:07] masatake commented on #349
Oh, sorry, it is not platform specific. Feel free to assign to me.

[2015-06-04 11:17] masatake commented on #349
Approach:

1. Introduce parseFileOptions(const char* const fileName, bool whetherCheckSameFile);
    This function does the same as current parseFileOptions but calling checkSameFile only if whetherCheckSameFIle is true.

2. Rewrite parseFileOptions
   New parseFileOptions jsut calls paresFileOptions(fileName, TRUE);

3. Modify processOptionFile
    if (!checkSameFile()) parseFileOptions(fileName,

[2015-06-04 14:59] steveno commented on #348
Sounds good to me :+1:

[2015-06-04 15:00] steveno commented on #346
This would be more correct:

The goal of this project is preparing and maintaining a common/unified
space where people interested in making ctags better can work
together.

[2015-06-04 15:15] masatake commented on #346
@steveno, thanks.

[2015-06-04 15:15] ffes commented on #346
I think this sentence is really nice for the readme (where it is is already), but it is too long as the github description shown above the code tree. I think that is what @vhda is referring to.

[2015-06-04 15:22] vhda commented on #346
Yes @ffes that is what I was referring to.
And I would also prefer a shorter sentence.

[2015-06-04 15:28] masatake commented on #346
@ffes, I see.
Changing the name is the primary thing I seriously wanted.Not we got a new name so I don't want more. But I will submit one to learn English:-P

[2015-06-04 15:31] steveno commented on #346
@vhda @ffes, Something more like this:

[2015-06-04 17:51] vhda commented on #349
Why not simply make `parseFileOptions` return TRUE when file is already considered?
If we raise the "already considered" message from verbose to notice, then the user can fix his command call (or script) to avoid this non-optimal configuration. But even if we keep it as verbose, I don't see any real issues with this behavior.

In my opinion it is important to maintain the "local config-> home conf

[2015-06-04 18:59] masatake commented on #349
(O.k. Let's forget the xcmd issue here.)
(My approach is not suitable for this situation.)

exuberant ctags stops when a user requets the same config file twice from command line.
I thinks this is meaningful. The order of options are important in ctags, so the requests of user is wrong.
In such case rejecting the request and stopping are not bad.

The problem is that .ctags file is automatically l

[2015-06-04 18:59] masatake commented on #349
Anyway we should remove file static variable in the code.

[2015-06-04 19:03] vadz commented on #349
It wouldn't be a problem if this were error _provided_ that the error message is more clear, i.e. just says `configuration file .ctags specified twice` instead of the current confusing `cannot open options file`.

[2015-06-05 08:41] ffes commented on #346
@masatake :+1:

[2015-06-05 09:39] masatake commented on #349
I would like to solve this issue by myself. I'm thinking of introducing the mechanism to track the origin of options: cmdline, autoload-file(systemdir, homedir, currentdir,...).
The information of origin will help us print more clear messages as @vadz wrote.

[2015-06-05 10:12] vhda commented on #349
I'm still in favor of the KISS principle.
ctags already tracks the already loaded configuration files, so a file is not loaded twice. If we want to increase complexity (and reduce *performance*) we should at least have a functional gain. In this specific case I don't see a gain in telling the user "Hey! We already loaded that file, so why are you trying to load it again?"

What if the user is pass

[2015-06-05 11:16] ffes commented on #349
The "quick fix" just setting the return value to TRUE does not solve the problem, well at least on Windows.

Something strange happens somewhere at https://github.com/universal-ctags/ctags/blob/master/main/main.c#L182
`ctags --verbose --option=.ctags .` gives a error:
`Warning: cannot open source file "test" : No such file or directory` (test is the name of the directory I am testing in)

Don't ha

[2015-06-05 13:50] ffes commented on #349
I have created a branch with the easy fix.
https://github.com/ffes/ctags/tree/fix-349

I will test it (hopefully tonight) under Linux, because of the problems described above on Windows. If that test passes, I will create a PR.

[2015-06-05 15:27] masatake commented on #349
@ffes, thank you. Look at Tmain, we can test this area like units. It is not integrated with travis but it is useful to share a bug within us.

[2015-06-05 19:08] cweagans opened #353 "Split docs out of main repo and use ReadTheDocs.org"
There's a few benefits here:
- Documentation editing access can be handed out more freely than core ctags access without worry
- We can set up our ReadTheDocs project on docs.ctags.io
- Per-version documentation can be easily viewed (for instance, docs might vary between whatever is in master and our future 1.0.0 release)
- ReadTheDocs provides a really nice reading/search interface for our docs

[2015-06-05 19:10] cweagans commented on #353
Note that this means the the `docs` directory in the ctags repo won't exist anymore and would live in universal-ctags/documentation.

[2015-06-05 19:15] cweagans commented on #353
Some other benefits:

* Translatable documentation
* Epub and HTML export

[2015-06-05 19:22] masatake commented on #353
Thank you. It seems that you know well in this area.

Could you tell me how our workflow for coding and writing documents changes?

Consdier I add an option to ctags. I also update docs/*.rst and make the changes
both code and documentation into a single pull request.
I think it is nice that I can do it in the unified source tree and repository.

[2015-06-05 19:35] cweagans commented on #353
The documentation would live in a separate repo, so that wouldn't be possible anymore. The ctags repo would be code only, and the docs repo would be documentation only. I'd be interested in maintaining the documentation, so if you wanted to just put some bullet points in your PR and @ mention me, I can take that info and make sure it gets into the docs.

[2015-06-05 21:32] cweagans opened #354 "Package universal ctags for as many platforms as possible"
Opening this issue mainly as a placeholder, as the website is going to link to it.

To anyone coming here: we already have Homebrew packaging for Mac OS. .deb and .rpm packages would be awesome, and if there's a reliable way to install on Windows, that'd be cool too.

[2015-06-06 10:31] masatake commented on #353
Thank you for the offering. However, I cannot image how we work together.

Look at docs/*.rst. The most of all contents are for developers. So I cannot image well that someone who doesn't touch the code of ctags writes/updates documents in docs/*.rst.

What kind of documents do you image?

On my side, I have some things I would like you to do about documentation: updating ctags.1.
Aboud ctags.1 ca

[2015-06-06 10:53] ffes commented on #354
For Windows you need to buid ATM. Once we release our first version a prebuild Windows .exe will be provided (in a simple zip file with some documentation). There are not many packaging systems for Windows, but I will investigate that any time soon.

[2015-06-06 11:55] mawww commented on #354
Getting packaged in cygwin would be nice, no idea how that works though.

[2015-06-06 12:27] ffes commented on #354
I already maintain one cygwin package. I know how it works.

I will contact the current ctags maintainer and ask him to start using universal, or ask to hand over the package to us/me.

[2015-06-06 17:20] cweagans commented on #354
When we get closer to a release, I'll look at building Debian packages that people can use. It's unlikely that stable Debian distros are going to switch upstreams for their ctags package.

[2015-06-06 17:22] cweagans commented on #346
When a decision is made here, please open an issue in the universal-ctags.github.io repository to update the tagline on the website.

[2015-06-06 18:07] b4n commented on #354
FWIW, I would myself never install a third party Debian package.  If I want a software that isn't packaged, I'd rather build it myself, and possibly install it in a custom location, than use a third party package I don't trust and has the potential of messing up my whole system.

This comes both from an idea of knowing what happens to my system, and experience that it's very common that third part

[2015-06-06 18:26] masatake commented on #354
@b4n, I agree with you as a user of Fedora.

[2015-06-07 02:28] cweagans commented on #354
Personally, I wouldn't care about much of anything outside of Debian packages. For the time being, I don't think it's reasonable to expect distros to immediately switch to Universal Ctags from Exuberant Ctags, so we need to have some other way of installing it. I think providing a PPA for Ubuntu and Debian users would be a good idea.

[2015-06-07 06:57] vhda commented on #354
It would still be a good idea to start by contacting the current maintainer of the Debian package and discuss this with him. He should be able to at least guide us on the right direction.

[2015-06-07 21:42] cweagans commented on #354
:+1:

[2015-06-09 10:33] marlun opened #357 "Assertion failed: function makeJsonTag, file parsers/json.c"
When I run `ctags -R .` on my project I get the following output after maybe just 2 seconds:

[code]

[2015-06-09 10:47] marlun opened #358 "Line numbers are missing from tags file"
For some reason when I generate a tags file it doesn't have any line numbers so the tools I use to jump to tags do not work. A line for a function in my PHP file can look like this:

[code]

Shouldn't there be a line number on that line too?

[2015-06-09 10:56] marlun commented on #358
Found --fields argument but it had nothing to do with why my tools are not working, sorry for the noise.

[2015-06-09 10:56] #358 closed

[2015-06-09 12:24] b4n commented on #357
Hum, okay, I see what's happening here: if a name contains a dot (`.`) it will break things:
[code]

I'll work on fixing this.

[2015-06-09 16:10] #188 closed

[2015-06-09 16:18] cweagans commented on #348
This is done.

[2015-06-09 16:18] #348 closed

[2015-06-09 23:51] masatake commented on #349
@vadz, @ffes introduced a fix for this issue. Now ctags say nothing when loading the same option(config) file twice: just loading once.

I will work on introducing a facility to prepare better warning as you suggested but I think just loading once is enough for now.

[2015-06-09 23:51] #349 closed

[2015-06-10 00:27] #357 closed

[2015-06-10 03:18] masatake opened #360 "Remove --<LANG>-* options"
I have introduced some evil things to ctags. This is one of them.

I introduced `--<LANG>-*=` options as aliases for `--*-<LANG>=` options.
I liked  `--<LANG>-*=` because it looks a bit object oriented. However, now I recognized they are just evil.

Consider a parser named "lang", "help" or "list": `ctags --langdef=help --help-regex=/def.../`.
Users may be confused. Furthere more, consider writing

[2015-06-10 03:34] masatake commented on #346
How about mine?: Actively maintained ctags implementation

It is o.k. to remove "Actively": the maintained ctags implementation.
It is o.k. to replace "the" with "a": a maintained ctags implementation.

You may feel this is conservative or modest comparing with your proposal.
However, what we have been doing is just maintaining.
And it is what I'm proud of. During contributing many projects random

[2015-06-10 04:19] vhda commented on #346
Fair enough. And since this is my preferred proposal up until now you have my :thumbsup:

[2015-06-10 05:38] masatake commented on #346
@cweagans, I updated the description line of https://github.com/universal-ctags/universal-ctags.github.io page. Am I correct?

[2015-06-10 06:30] masatake opened #361 "Test cases under review-needed.r (C)"
Test cases under review-needed.r comes from e-ctags.
expected.tags files under the directory is generated by u-ctags.
We have to understand the meaning of test cases and add args.ctags if necessary.
If args.ctags is added, expected.tags must be updated, too.

This may be hard work. We are looking for volunteers.

If you reviewed test cases of langauge X, do

0. mkdir Units/parser-X.r,
1. rename te

[2015-06-10 07:32] ffes commented on #346
I will update the site's tagline and description (both in _config.yml) as well.

[2015-06-10 07:33] masatake commented on #346
@ffes, thank you. Please, fix if I did something wrong.

[2015-06-10 07:34] ffes commented on #346
@masatake I just updated the description on this repo as well.

[2015-06-10 11:04] ffes commented on #315
I am working in including the reStructuredText parser from Geany. That parser relies on nestlevel, so when it is merged, this issue can be closed as well.

That parser itself needs a bit of work (the search patterns are not very useful ATM), but the PR is coming.

[2015-06-10 11:26] b4n commented on #315
Note: this was initially extracted from the Python parser, and then extended to be more generally useful, see:
* geany/geany@95f99f4034bee7fc0b43fa8b23389d1fd1b1e122
* geany/geany@58b5c053bc8314bd58748c83469bd7e4354e9c1e
* geany/geany@14653b1ba28d28a7423e84b2b6e587ea5338ba5b
* geany/geany@7b53cf05aa6dbb5e997066864651b8a2d7ff71af

So when importing this the Python parser should make use of the comm

[2015-06-10 11:43] masatake commented on #315
@ffes, thank you.

Fixing this issue has some impacts.

Making the code gap between geany and ctags is better, of course.
nestlevel can be base of namespace in regex parser: https://sourceforge.net/p/ctags/bugs/362/

I would like to fix a bug reported in https://sourceforge.net/p/ctags/bugs/356/ after importing nestleve.[hc].

[2015-06-10 13:24] b4n commented on #315
I don't think there is much need to wait for the import, it's somewhat unrelated (as python.c already uses it).  Done in #362

[2015-06-10 14:48] cweagans commented on #346
@ffes I updated _config.yml. I think we're all set here.

[2015-06-10 15:08] cweagans commented on #346
Actually, there's one more change here. Can you change the link to https://ctags.io instead of http://ctags.io ? I know there's a redirect, but we should use the canonical link as much as possible.

[2015-06-11 05:07] masatake commented on #315
I found without nestlevel I can implement namespace in regex parser with cork API.
However, separating nestlevel code from python.c and move it to main/ is good idea.

[2015-06-12 05:33] masatake commented on #353
(#365, I reorganized docs/*.rst.)

[2015-06-13 14:22] masatake commented on #346
@cweagans, I did.

[2015-06-13 15:35] QingmingHe opened #369 "Test cases under review-needed.r (language: Fortran)"
Review tests under review-needed.r of Fortran.

[2015-06-14 05:22] QingmingHe opened #371 "Fortran parser: adjust kind"
The current Fortran kinds are:

[code]

What I want it to be is:
- Unify subroutine and function to function. The subroutines and functions are subprograms in Fortran. The main difference is that function returns something and subroutine returns nothing. Subprogram is function in C and Python:

[code]

is

[code]

or

[code]
- Rename type to class. Fortran type has components (members in C++ and P

[2015-06-14 10:35] ffes opened #373 "Possible bug writing pattern to tags file"
While testing the rest.c parser from Geany, I run into a something strange. That parser has a bug and adds the underline as pattern. There seems to be an easy fix by adding one line to the makeRestTag() `e.pattern = e.name;`

But with this fix when the tags line is written to the file the `/^` and `$/` are not added. This is because at https://github.com/universal-ctags/ctags/blob/master/main/entr

[2015-06-14 10:42] #344 closed

[2015-06-14 10:42] ffes commented on #371
It seems a bit strange to do this. Renaming them in ctags just to solve a problem with `tag->extensionFields`, sounds like a strange solution to a problem. But maybe I read your post wrong. If so, sorry.

Having said that, you are the expert on Fortran! So, if this makes sense to a Fortran developer, who am I to object.

But I am no expert on the parsers and `tag->extensionFields`, so I cannot rea

[2015-06-14 10:52] QingmingHe commented on #371
Maybe I have expressed in a wrong way. What I want to say is that if ctags recognize type bound procedure as variable. And if in the same time this procedure is **deferred**, ctags will report that the procedure is a **deferred variable** in generated tags file, which really make no sense because variable can not be **deferred** or **implemented** later.
I've remove the last sentence of the origin

[2015-06-14 11:51] ffes commented on #371
In Geany they renamed many kinds of very many languages. Maybe they need it internally for Geany (to build a tree of tags, just guessing), but @b4n knows all about that.

[2015-06-14 13:22] b4n commented on #371
Yes, we only do that so we can have a consistent set of types for all languages.  But this also sometimes means we have to lose some language-specific detail because we have to map it to generic types.
BTW, we want to stop doing this at the parser level, and have our own maps of what means what.

The thing here is that CTags reports language-specific kinds, which is great in the sense it allows fo

[2015-06-14 13:30] b4n commented on #371
I don't know Fortran, but if it makes sense why not.  But are those really exactly the same in all respects, but for whether they return something or not?  and then, we have to ask ourselves, may this difference be useful to know?

It might be interesting to see what people using the Fortran parser think about this (or how tools use it).

I don't think this is a good idea.  First, renaming a kind

[2015-06-14 13:36] b4n commented on #373
I didn't look into it, but I guess the real fix would be to have the proper line/position information on the tag, e.g. the line with the title and not the one with the underline.

While it might be sensible to change this as you said, AFAIK *no* parsers currently set `entry->pattern`, so it might just be considered an internal detail, and parsers *should not* be setting it.  Also if they really wa

[2015-06-14 16:21] QingmingHe commented on #371
Thanks @b4n

Fortran is not a popular language and Fortran-ctags users are less. We may wait quite a while for response from these users. Anyway, this change is not neccessary if we dont want to make kinds of different parsers consistent.

I think i'm persuaded.

They are indeed different things. I'll open a PR to add the **method kind**. What about
[code]

[2015-06-15 09:04] ffes commented on #373
Yes, storing the file position was not that difficult either. I solved the problem with that. I will prepare a PR for reStructuredText.

I leave it for now as it is. I will investigate the use of the pattern member of the struct some time later.

Minified JS and CSS result in quite useless tags anyway IMHO. In my tags plugin for Notepad++ I ignore tags with patterns longer then 1024 chars in JS an

[2015-06-17 01:08] masatake commented on #369
Thank you.

[2015-06-17 01:08] #369 closed

[2015-06-17 01:10] masatake commented on #371
(I'm writing "docs/criteria.rst" based on @b4n's comment.)

[2015-06-17 11:41] masatake opened #378 "Guessing parser by keywords"
Some of parsers have their own keyword tables. They can be used for guessing a proper parser for given input file. e.g. *.h file can be c or objective-c file. However, if "@interface", a keyword of objC is included in the file, ctags can use objc parser.

2 gram engine can be used for guessing. However, keyword based engine may be better; its behaviour is more predictable.

The keyword tables are

[2015-06-17 12:19] b4n commented on #378
Recognizing keywords might be tricky: not only you need to know what consists of a keyword in the input (e.g. `[a-zA-Z_][a-zA-Z0-9_]*`), but you also need not to get fooled by comments, string literals and whatnot.

So I'm afraid this would need assistance form the parsers, like running them first in some kind of lexing-only mode, and match the resulting tokens… that would probably require quite l

[2015-06-17 12:36] masatake commented on #378
@b4n, Yes, you always spot the critical point of discussion.

I will  write a library called code-prism. The library tries a input stream into 3 streams: code, comments, and listeral string. ctags passes syntax of comments and literal string like

struct c_code_prism_syntax = {
  .comment_begin="/*",
  .comment_end="*/",
  .comemnt_eol = false,
  .string_start = "\"",
  .string_end = "\""
};
(The

[2015-06-17 14:18] b4n commented on #378
This kind of things can be interesting, but you'd need to support various kind of comments (e.g. `/* */` and `//` in C, or `/+ +/` comments in D, which nest) and string literals (e.g. `" "`, `' '`, `""" """` and `''' '''` in Python), including possible escape sequences (that don't work necessarily the same for every language -- nor even for different strings in the same language, e.g. shell has es

[2015-06-17 15:12] masatake commented on #378
I want to do more: handling here documents, javascript embedded in html, and...

If you think this is interesting, it is worth trying for me:-P

Anyway, this is just an idea. There are many things before working on libcodeprism.so.
Reworking optlib and sharing the code base with geany are parts of such things.

[2015-06-18 02:04] masatake opened #379 "C: strange behavior about macro definitions in/out function"
During reviewing review-needed.r/directives.c.t, I found a strange behavior.

input.c
[code]

tags with ctags -o - input.c:

C	/tmp/input.c	/^#define C$/;"	d	file:
D	/tmp/input.c	/^#define D$/;"	d	file:
f	/tmp/input.c	/^void f (void)$/;"	f

Why B isn't tagged? Any idea? Just a bug?

[2015-06-18 03:34] masatake commented on #378
MEMO: *.lang of GNU source highlight can be used to implemet code prism.

[2015-06-18 13:22] #315 closed

[2015-06-18 17:26] QingmingHe commented on #371
I've implement the method kind in PR. #382 . Could you help to review the code @masatake

[2015-06-19 02:56] masatake commented on #346
Can I close this?

[2015-06-19 03:03] masatake opened #384 "Utilize coverall"
I don't want to open more issues:-P But this is worth to be opened.

Does anyone have interest this area?
I wrote a small initial version and made a branch enable-gcov.
Feel free hacking it.

[2015-06-19 03:08] cweagans commented on #346
The link on the repo description is still pointing to http://ctags.io:  http://take.ms/CaGJv

[2015-06-19 03:34] masatake commented on #346
Oh, sorry. I misunderstood. I had changed the link to http://ctags.io.
I have changed https://ctags.io.

[2015-06-20 05:58] #360 closed

[2015-06-20 06:19] fortran-favors-the-old opened #386 "Assertion failure in parsers/c.c"
Hello,

I tried creating a tags file for the universal-ctags Git repository (commit 15be66e06021a4a97e4396e9df3cbd1984fb2ad3) using the following command pipeline, and I receive the following error message.

    % git ls-files | ctags --tag-relative -L '-' -f '.git/tags'
    ctags: parsers/c.c:1304: findScopeHierarchy: Assertion `(boolean) ((s->blockName)->type == (TOKEN_NAME))' failed.

Strangely

[2015-06-20 08:27] masatake commented on #386
Thank you for reporting.
Some test cases under Units can make ctags stop.
When you call ctags from command line, .ctags at the top directory may be read.
The .ctags lets ctags ignore files under Units directory.

We should fix the behaviour for the test cases. However, what you saw is just side effect of the behaviour.

Following 3 test cases can stop ctags:

-	fuzz-hitting-assertions/d-fha-0
-	fu

[2015-06-20 08:41] masatake commented on #64
Now I understand recording @FOO@ is not so good idea. It is not any kind of definition. It is something referenced.

[2015-06-20 12:09] b4n commented on #64
Yes, it's supposed to be replaced with the value of `FOO` (whatever that can be).

[2015-06-20 15:13] masatake commented on #386
BTW, what does your account name mean?
Do you know Fortran?

[2015-06-23 03:58] fortran-favors-the-old commented on #386
I do know some Fortran, although I haven't written any in a while.  My user name is a pun on the saying "Fortune favors the bold".

[2015-06-25 16:25] masatake commented on #386
Oh, I see. I was looking for a volunteer who knows a langauge which I don't know.

About the issue my explanation makes sense?

[2015-06-25 16:27] masatake opened #397 "D: fix the failure of Units/fuzz-hitting-assertions/d-fha-0"

[2015-06-25 16:27] masatake opened #398 "Eiffel: fix the failure of fuzz-hitting-assertions/eiffel-fha-0"

[2015-06-25 16:28] masatake opened #399 "SQL: fix the failure of fuzz-hitting-assertions/sql-fha-0"

[2015-06-25 16:43] masatake commented on #384
I feel difficulties to review patches for unknown languages. Only test cases protect us.
So I will concentrate on this issue.

[2015-06-27 17:25] blackb1rd commented on #379
At the function
[code]

if we removed condition  `if (! isIgnore ())`, we can fix this strange behaviour.

BTW,I'm not sure, this method will create a new bug or not.

[2015-06-27 19:14] masatake commented on #379
@blackb1rd, thank you for hints.

I looked into isIgnore.
I found the critical change comes from  isIgnoreBranch.
I applied a following patch:
[code]

Then I run ctags with the input I reported. I got following output:
[code]

[2015-06-27 19:25] masatake commented on #379
Just after writing the above comment I found a reason.
ctags tracks the balance of brances{}.
If ctags accepts both or multiple branches of cpp if/elif/else condtions, ctags must deal with parser input including unbalanced braches. To avoid it ctags choose the first branch inside braces.

I will close this after moving directives.c.t to parser-c.r from review-needed.r.

@blackb1rd, thank you again

[2015-06-27 19:44] #379 closed

[2015-06-28 07:05] blackb1rd commented on #379
No problems :+1:

[2015-06-28 15:53] masatake commented on #386
I close this.
If you still find an issue, reopen this or open another one.

Thank you for reporting.

[2015-06-28 15:53] #386 closed

[2015-06-28 16:10] masatake opened #402 "line directive and extra language"
During previewing
Units/review-needed.r/line_directives.c.d/input.c
I got a coredump.

[code]

With `#line` directive, ctags changes the values of global variables for input file name and its language. In the above example the language is changed from c to fortran.
Though the values are changed, C parser continues parsing and making a tag.
The kind of a tag created by c parser is verified by compa

[2015-06-28 17:14] QingmingHe commented on #402
Fortran macro definition is much like that in C (or even the same? Gfortran pre-process Fortran code via **--cpp** option). **d kind** should be supported by ctags but not implemented yet. It's on my schedule...

I've no idea how to implemented yet. Maybe through optlib in the first step? But the output tags is duplicate with **--regex-Fortran** options.
[code]

[2015-06-29 03:21] masatake commented on #402
@QingmingHe, I'm sorry that I made you confused. This one is nothing to do with fortran. I mentioned fortran as an example.

I am writing an another example with an imaginary language.

[2015-06-29 04:04] masatake commented on #402
I rewrote this report and marked the original test case with .b(known bug).

https://github.com/universal-ctags/ctags/commit/c502a7b2c7389f03e280703e9188a06bc384a2ef

[2015-06-29 04:17] masatake commented on #402
@QingmingHe,

About the output of your trial:
The first x is emitted by your regex of Fortran.
The second one is emitted by C parser.
As I wrote the language is changed during handling #line, both parsers parse the input.

When we introduced the patch I reported c502a7b, just C parser runs because the input file name is input.c.

[2015-06-30 20:47] jfelchner opened #407 "Allow comments in .ctags files"
There are a lot of things that an individual developer can do so as not to wait for certain parsing to be added to the official release, but those bits get extremely complicated very quickly unless we can have comments in our `.ctags` files.

I'd recommend the bash standard of `#`.  If it exists at the beginning of the line (or is preceded only by spaces) , or the line is completely blank, that li

[2015-06-30 21:14] ffes commented on #407
I am AFK at the moment so can't test right now, but this is already in universal ctags as far as I know

[2015-06-30 21:32] jfelchner commented on #407
@ffes I installed `brew install ctags` on my Mac and have version 5.8.  This may be incorrect.  I did a `brew search ctags` and didn't see a listing for `universal-ctags` anywhere.

I assumed that this was correct because #354 says that there's a Homebrew package.

Maybe I'm just very confused :grinning:

[2015-06-30 21:32] ffes commented on #407
Look at the .ctags file in our repo to see the comment in action.

[2015-06-30 21:33] jfelchner commented on #407
@ffes sweet.  This is perfect!!  Now if I could just get it on my system :)

[2015-06-30 22:01] ffes commented on #407
I don't have a Mac, so I know very little about OSX. But we have a homebrew repo in our organization. I'm sure @cweagans can help you with that. He is the one who contributed that repo.

Universal Ctags is the continuation of Exuberant Ctags. Everything that works in Exuberant should work the same or better in Universal. See the docs directory in this repo for more information, especially the news

[2015-06-30 22:03] jfelchner commented on #407
@ffes ok awesome.  You guys are incredible.  @cweagans I found the homebrew tap and it looks like it's good to go!  You all rock!

[2015-06-30 22:06] jfelchner commented on #407
BTW, any idea when you all are going to get a tagged release for this package?  It'd be great to get this into homebrew proper.

[2015-06-30 22:10] ffes commented on #407
We should work to get a feature freeze and an official release any time soon. But we still have to discuss those details.

[2015-06-30 23:01] #407 closed

[2015-06-30 23:10] jfelchner opened #408 "Ruby Parser Improvements"
Here are some improvements that, based on the way Ruby files are parsed, could be added to the parser:

#### Camel-Cased Constants

[code]

Should create entries for variable:

* `THIS_IS_MY_CONSTANT`

#### attr_* methods

[code]

Should create entries for methods:

* `bar`
* `bar=`
* `baz`
* `qux=`

#### Alias Method

[code]

Should create entries for methods:

* `baz`

#### Basic Rails Parsing

[2015-06-30 23:19] jfelchner commented on #218
I agree with @blueyed but not in the same way.  I would love this feature.  I don't think however that the list of files needs to be piped into ctags.  I think a `--use-vcs-ignore-file=yes` would be more appropriate.  Then ctags would look for one and if it finds it, use the appropriate command to generate the exclusions.

For git this would be:

[code]

The reason I like letting each VCS do the w

[2015-06-30 23:43] jfelchner opened #409 "Allow indentation of options in .ctags files"
This is a continuation of #407

It'd be nice to be able to add indentation to `.ctags` files for better organization.  Currently if an option is indented, it causes a `ctags: Warning: Ignoring non-option in ./.ctags` warning.

[2015-06-30 23:46] jfelchner opened #410 "Should ignore .ctags files by default"
Currently if you try to run ctags in a directory that has a `.ctags` file and you have languages set to `all`, it tries to parse the `.ctags` file.  I'm assuming it probably shouldn't do this.

[2015-07-01 03:56] masatake commented on #410
universal ctags has ability to do parse .ctags file.
Do you have a strong reason to exclude .ctags?
In stead of just excluding .ctags we can disable the .ctags parser in data/optlib/ctags.ctags.

[2015-07-01 04:10] masatake commented on #409
Thank you for good idea.

Those who have interests  in implementing this feature, I try to give hints:

1. add 'trimHeaderWhitespace' or something boolean parameter to nextFileLine function in args.c:
    if trimHeaderWhitespace is true, call vStringStripLeading before strcpy:
[code]

2 From nextFileLineSkippingComments, pass TRUE as the second argument when calling nextFileLine.

3. Write Tmain t

[2015-07-01 04:16] masatake commented on #408
Thank you for input.

Can I ask you to convert this issue to a test case?
I want to have these you reported as test cases that are marked 'known bugs(.b)'.
So people can work for fixting them.

(Universal ctags project considers the test cases is the first class output of the project.)

See docs/units.rst. Especailly about *.b maker. Units/variables-prototypes.cpp.b/.
You may have to ideal output

[2015-07-01 04:35] jfelchner commented on #408
@masatake I have no clue about C but I'll do my best.  I may have to just copy/paste some stuff and then have you all put the finishing touches on it. :smile:

[2015-07-01 04:37] jfelchner commented on #410
@masatake I guess my question is, what is the use case of parsing the `.ctags` file?  If there is one then that's fine, I just couldn't think of one myself.

Thanks for the feedback! :)

[2015-07-01 05:51] masatake commented on #408
For creating a test case, you don't need know C.
In other hand I don't know Ruby so I need your help.

[2015-07-01 11:56] blueyed commented on #218
@jfelchner
Good idea.
But ctags would then need to detect the VCS type (and not the ignore file), e.g. via `git rev-parse --is-inside-work-tree` for Git.  The ignore file could be in a parent / subdir and might be non-existent (but the global one should still be used then).

[2015-07-01 12:35] masatake commented on #410
About our source code tree, it is just for testing .ctags regex based parser.
Generally it is for tagging --langdef.

[2015-07-01 17:21] jfelchner commented on #218
@blueyed that's what `--exclude-standard` does. :)  That's what I was saying by not thinking that ctags needed to duplicate all that logic.

[2015-07-02 03:39] masatake commented on #399
...Where are my sweet longjmp/setjmp and trashbox?
I cannot find a solution for this issue without them.

[2015-07-02 09:17] vhda commented on #399
Wouldn't simply deleting the `Assert()` call inside `parseRecord()` be enough?

[2015-07-02 09:39] masatake commented on #399
It is a bad idea.

sql parsrs use the Assert() for rejecting bad input.
Other than heavily crafted parser like c.c, a parser should stop parsing when detecting input is broken; and return the control to main. Just removing Assert() means the parser continues parsing after detecting broken input.  It is the world I don't want to enter.

[2015-07-02 09:41] masatake commented on #399
An exception is that if there is a good maintainer for SQL parser, one can consider the behavior of parser of broken input. This is ideal but we cannot expect it for every languages. The default behavior should be just stopping.

[2015-07-02 10:01] vhda commented on #399
In my opinion we should not verify the input for correctness, but we should make a best effort to find as many tags as possible, and I don't think that anyone is expecting perfect results with wrong code.
The `Assert()` call goes against premise because it aborts when it finds unexpected input.
Using this SQL example, what if ctags is being called automatically whenever the file is saved and the u

[2015-07-04 19:03] masatake commented on #398
This issue is closed by #418.

[2015-07-04 19:03] #398 closed

[2015-07-04 19:19] masatake opened #420 "Reporting the current input file name when assertion failure"
I'm looking for a neat way to print the current input file name when an assertion is made failure.
If you have a good idea or code, please, let me know.

[2015-07-05 16:34] masatake opened #422 "javascript: parsing two variables separated by a commag"
[code]

For above input, ctags tags only x.
y is ignored.
This one is registered as Units/js-two-vars.b.

[2015-07-05 19:02] vhda opened #423 "RFC: Daemon mode"
I've been toying around with this idea in my head, where one could run ctags in a daemon mode. This could prove to be useful specially in development environments, where the file currently under update is constantly changing, but we don't really want to run ctags in the complete repository. In a daemon mode, ctags could quickly replace the tag list in memory of that file with a new one.

I see two

[2015-07-06 04:30] masatake commented on #423
(I don't know detail but I guess geany's tagmanager may do the same thing though it doesn't have IPC interface. Comparing with our ctags, geany's one has well abstracted I/O. Including daemon mode, if you want to do something interesting with ctags, the I/O subssytem is needed.)

Even using simple unix socket, we can implement query interface. So I think we can forget the type of IPC from this dis

[2015-07-07 09:52] vhda commented on #423
I think that at least in a first approach it would be acceptable that ctags parses the selected directory recursively before starting the daemon. That way we don't need the capability to load the tags file.

@masatake since you know ctags internals better than I do, how hard would it be to delete all tags corresponding to a specific file using the currently implemented data structure? Would it be

[2015-07-07 10:28] masatake commented on #423
@vhda, My understanding that you are talking about in-memory data base(let's call it mdb here).
There is no mdb in current ctags.

It is not possible to implement based on cork.
Please, look at https://github.com/universal-ctags/ctags/blob/master/docs/output-tag-stream.svg
This figure shows output related code of current ctags.
In the output of parser is corked, an entry passed to makeTagEntry goe

[2015-07-07 10:35] vhda commented on #420
Could you please expand on the requirements?
Include an example of the current output and what would be desired.

[2015-07-07 14:26] cweagans commented on #423
+1 for in-memory sqlite database. That's pretty efficient for this kind of thing.

[2015-07-07 14:39] b4n commented on #420
Proposed solution at #427

[2015-07-07 16:05] vhda commented on #423
What do you guys think about the feature itself?
Does it make sense? Or would we just be over-complicating ctags?

[2015-07-07 16:06] masatake commented on #420
YES! this is what I wanted.

When running a ctags with -R and ctags is aborted because an assertion, I would like to debug.
However, I cannot know which file triggers it. Just I could know the line and file of ctags source code.
Now we can know the name of input file! So we can enjoy more debugging.

We need this now. Could you merge this?

[2015-07-07 16:25] b4n commented on #423
@vhda I myself don't see the point.

For me, tagging files is not a daemon job [1].

Also, what is the use case?  IDE spawning the daemon and asking it to update files?  If that's it, you first need non-file-backed parsing, because and IDE will be interested in realtime changes.  Also, IMO for that matter better make ctags a library the IDE uses: it's more flexible, and probably simpler for everyo

[2015-07-07 16:29] b4n commented on #420
However, I cannot know which file triggers it.

You could always run under gdb all the time, the overhead is not very large for normal operation :)
But I'd be nice to get details.

Sure.  Did someone give it a quick look at least? :)

[2015-07-07 16:34] masatake commented on #423
...@b4n wrote everything.  Whether we will implement the daemon mode or not, what we need is the same: abstraction of I/O routines.

[2015-07-07 16:39] masatake commented on #420
Generally I run ctags via variety of shell scripts. So I don't want to setup gdb.
In addition, a user will not run ctags under gdb; and we will get a bug report from such user.
So your patch is quite important.

I will test tomorrow.

[2015-07-07 16:49] cweagans commented on #423
Personally, I'd prefer a ctags daemon over a tags file for vim editing. The projects I work on are quite large, and getting the data I need from a tags file is very slow.

[2015-07-07 16:58] vhda commented on #423
In the case o Vim, which is the editor I use, I don't think it would be that easy because you would need to modify the code base to link it to `libuctags`, or use some kind of Python bindings. Even for other editors you would still need to write C code to implement such a support. Let me say, I completely support the library idea, but I feel that its adoption may tend to be slow.

On the other han

[2015-07-07 18:06] masatake commented on #423
If you have mergetags command, you can implement what you want in a shell script.

1. ctags makes tags files for each source files initially.
2. If one of source files is updated, a client may let ctags know the name of file.
    Then ctags just updates the associated tag file.
3. mergetags gathers tags files into one tags file and send it to the client.

netcat(nc) command and flock command may b

[2015-07-07 18:42] b4n commented on #423
@vhda OK so I see that what you want to achieve is something that could be a drop-in replacement of the current ctags usage?  If that's it, then okay why not if some people would benefit it.

But then I'd like to suggest the same as @masatake: wouldn't a mergetags command be enough?  you actually wouldn't even really need a specific tool, you could just do something like this:
[code]

[2015-07-07 19:06] vhda commented on #423
Just made a small test with the script.
Ignoring the sort, it takes 6.84s to run. Takes 7.22s with sort.
It takes ctags 0.16s to process the file I randomly chose.
The complete parsing of my files takes 10.33s.

Conclusion: there's not much gain between parsing all files and running the script.

[2015-07-07 19:26] b4n commented on #423
@vhda this is totally naive and might be optimized a little by reducing actual writes.  At first glance it'd be possible to at least remove one write by combining the ones of removing existing and adding new:
[code]
I'd be interesting to see what actually takes the most time here -- but I guess if it's so slow it probably is sed removing the lines).

BTW, my escaping of the argument is incomplete,

[2015-07-07 19:43] b4n commented on #423
@vhda what about this
[code]

It also fixes a bug in the sort part where the first tag after the pseudo tags was duplicated (stupid mistake).

[2015-07-07 19:46] b4n commented on #423
Anyway, I guess that the "daemon mode" you suggest could probably be implemented as a separate layer from CTags, as the only definite overhead would be spawning ctags.  The rest (reading the original tag file and combining CTags output) should not really be any faster if done outside of ctags.

I'm not saying a shell script is as fast, but a C program reading CTags' stdout should be.

[2015-07-07 19:58] b4n commented on #423
IIUC what @vhda want to introduce would still output a tag file, it would just avoid having to re-parse every file to create the new version of the tag file.

If it's the tag file itself that is slow, it would require Vim to get the input from somewhere else, and I guess that would mean non-trivial changes, wouldn't it?
If not, OK, a process you can query might be faster than reading the tags from

[2015-07-07 20:00] b4n commented on #423
It takes ctags 0.16s to process the file I randomly chose.
The complete parsing of my files takes 10.33s.

BTW, not saying this is great, but it's still about 30% faster :)

[2015-07-07 21:22] vhda commented on #423
I'll need to test that update tomorrow at work, where I have the 75MB tags file.

And yes, having a second layer in ctags to read the tags file and append/add the updated tags should not be any faster than your script. The advantage of having ctags running as a daemon would be exactly that: there was no need to read the tags again, because they are still in memory.

But do you think that having ct

[2015-07-07 22:43] b4n commented on #423
I just did quick testing of my new script with a 61MB tag file (the content of my `/usr/include`), and here's some results:

* `ctags -R`, cold (first run before FS caching): ~44s, 118MB resident memory
* `ctags -R`, hot (next passes): ~9.8s, 118MB resident memory
* script above with a random file, hot [1] \(as `ctags -R` already ran), ~2.0s, 12MB resident memory

(all measured with the very preci

[2015-07-07 22:52] b4n commented on #423
Nah I guess I'd be faster.  Though this would require actual measurements as the tag file is most likely to be cached, so what might take actual time might be the write, I don't know.

You can also probably profile ctags to see this.

[2015-07-07 23:57] vhda commented on #423
There other examples: at work I'm accessing a NFS mounted filesystem and I'm not sure if tmpfs is made available in the server images. I'm also not sure how NFS caching works and how `fsync` calls influence its performance.

But I will try to run some tests tomorrow, if I find some free time ;)

Need to learn how to do that. But I think I saw a reference to timestamp within the main code of ctags,

[2015-07-08 01:35] b4n commented on #423
Hum, I got an idea to get it faster, and it's working :)
Try this:
[code]
It's the same as before, but:
* the tempfile is created next to the output tag file, so on the same FS (which will make `mv` super fast)
* the tempfile is only written to, never ever read

This makes things a lot faster if `/tmp` is in a separate FS, as the final move will just be a rename, and it also makes sorting a lot fa

[2015-07-08 03:28] masatake commented on #423
I'm surprised that even mergetags itself can be written in a shell script.

Taking $input argument is useful. But there is another approach using time stamps like make. It becomes slow but you don't have to tell ctags which file should be updated.

We can implement these tools based on ctags command.
The question is whether we should provide such upper layer tools as part of this project.
I think

[2015-07-08 09:09] vhda commented on #423
@b4n your new algorithm is taking only 3.14s with sort and 1.61s without sort. This is indeed an improvement :)
Apparently `grep` is much faster than `sed`, which is something I didn't know.

[2015-07-08 12:30] b4n commented on #423
@vhda

You tried only with the `grep` change, or the whole last version? (which has many other improvements)

I'm not sure `grep` is faster than `sed` per se, we'd have to check with only these difference, but one thing that may make this true is that the `grep` command here uses fixed strings (`-F`), not regexes, that's most likely to be faster.  But the `grep` command here (especially designed t

[2015-07-08 12:44] b4n commented on #423
I made a Gist with a slightly improved version of the script (adding argument handling): https://gist.github.com/b4n/b4465983d81a75c99f16

[2015-07-08 12:57] vhda commented on #423
Perfect! :)
Just one thing: http://stackoverflow.com/questions/18716658/whats-the-difference-between-tempfile-and-mktemp

[2015-07-08 13:34] b4n commented on #423
Good point.  I always forget which one is the preferred one :S
Fixed.

[2015-07-08 14:05] masatake commented on #420
I tried and It worked fine.

[2015-07-08 14:31] #397 closed

[2015-07-10 19:39] maurizi commented on #423
You may be interested in checking out this small Rust tool I made recently https://github.com/maurizi/retag.rs.

It watches a directory for file changes (using inotify on linux and polling on other systems) and then does what is basically the merge script above (remove tags from changed file, then generates new tags in append mode).

It uses a temporary file when generating tags, so that the curre

[2015-07-11 00:11] mawww commented on #423
As an additional data point, I use the readtags command for Kakoune ctags support, with a 239 MB tags file at work. accessing a tag by name takes between 50 and 100ms, so I doubt a daemon for tag access is worth it.

For tag name queries (non-prefix based completion for example) where a binary search is not applicable, I use a separate tagnames file generated from tags, containing only tag names,

[2015-07-11 08:17] #399 closed

[2015-07-11 08:52] egarrulo opened #431 "Wish: Renaming the executable?"
Would it be possible to change the name of the executable from `ctags` to something else -- like `utags` -- to distinguish Universal Ctags from the original Exuberant Ctags?  There is also a `ctags` program that comes with GNU Emacs that adds to the confusion.

Thanks for your attention.

[2015-07-11 09:22] masatake commented on #431
See https://github.com/universal-ctags/ctags/blob/master/docs/building.rst .

[2015-07-11 10:00] vhda commented on #423
Please take #80 also into consideration.

[2015-07-11 15:06] #420 closed

[2015-07-11 15:07] masatake commented on #361
objective-c is done.

[2015-07-12 06:53] #409 closed

[2015-07-12 08:23] mtangoo opened #434 "How strong us JS support"
Last time I checked exuberant ctags it had not so great support for Javascript.
Does this version improve that?

[2015-07-12 09:24] masatake commented on #434
Yes, it is improved.

Fixed bugs in our version can be found as test cases at
https://github.com/universal-ctags/ctags/tree/master/Units/parser-javascript.r

[2015-07-12 18:01] mtangoo commented on #434
So it can parse JQuery and Other JS libraries just fine or there are glitches?
I will take a look at it right now!

[2015-07-13 00:20] b4n commented on #434
There most likely will be glitches.  Actually, parsing languages as dynamic as JavaScript is virtually impossible without a real complete implementation of the language (e.g. a full interpreter/VM), as many things can change dynamically.  And most "modern" JS libraries heavily rely on this, for example to avoid leaking symbols they often are implemented as a single statement, like `var mylib = (fu

[2015-07-13 04:47] #410 closed

[2015-07-13 04:47] jfelchner commented on #409
@masatake amazing!  Thank you!

[2015-07-13 06:35] cztchoice opened #437 "I create a github wiki for this project"
the wiki content is from the docs folder

You can see it here:
https://github.com/cztchoice/ctags/wiki

Do we need this? If it does, I can move it to the project's wiki.

[2015-07-13 06:41] masatake commented on #437
First of all, thank you.
I would like to know your intention more.

Do I have to update the contents on the wiki page?
I don't want to do it. I would like to use regular files.

[2015-07-13 06:48] cztchoice commented on #437
Github wiki is just a git repo. You can just clone pull push like regular files (The difference may be you need another git repo.

[2015-07-13 07:12] cztchoice commented on #437
I think github wiki has following advantages:

* easy to review and maintain (don't need fork and pull request and interrupt the develop log, also we can set the permissions).
* Files in doc dir aim to generate pdf, make it hard to read online. The wiki pages is easy to read.

Besides, I think we should put the development docs (like testing related docs) online. And put user docs in doc folder.

[2015-07-13 08:57] mtangoo commented on #434
Thanks for in depth explanations. They clear a lot of issues.
But my question was on variables to use in IDE code browser so value isn't my concern at all.
I would like to just be able to parse functions/Variables and know their line number as well as intellisense.

so I only need symbol kind (class, var, func) and its line number. Then for classes, I want to know methods (so that when someone cli

[2015-07-13 09:50] masatake commented on #437
This is the second time receiving such offering.
See #353 about my position.

Generally, I commit both docs/*.rst and *.c at once because they are related to each other.
If a repository is splitted into two, one for code and one for docs. I have to commit the changes separately.

Many of parts of docs/*.rst are maintained by me. So I think it is o.k. to make the working flow of documentation is op

[2015-07-13 09:53] masatake commented on #437
Is it possible the discussion and offering into two?

1. making docs/*.rst online
2. updating working flow

About 1., I'm looking for something better. Your page looks nice. I would like to see it on https://ctags.io.
About 2., I am satisfied with current work flow.

[2015-07-13 11:28] cztchoice commented on #437
How about this:
https://github.com/cztchoice/ctags/tree/master/docs

I rename the universal-ctags.rst to readme.rst (make github show it directly), and link the docs together.
In this case, you don't need to commit to another repo. But it can not output to pdf directly (This can be resolved by a shell script)

[2015-07-13 13:06] masatake commented on #437
Renaming the file is a small thing. Wrting a shell script might not be difficult.
If I follow your advice, how can I see the result of changes?

[2015-07-13 13:08] cztchoice commented on #437
What do you mean by "result of changes"?

[2015-07-13 13:10] masatake commented on #437
I don't understand the benefit of renaming universal-ctags.rst to readme.rst.
If I rename the file, what happes next?

[2015-07-13 13:13] masatake commented on #437
docs/*rst files can be edited via wiki interface?

[2015-07-13 13:16] cztchoice commented on #437
When you enter docs folder in github, you can see "universal-ctags hacking guide" right in below, without find universal-ctags.rst and click it.

no. Because you don't like to edit in other repo, I think make docs more viewable is a good tradeoff.

[2015-07-13 13:20] masatake commented on #437
Oh, I see.
Can I ask you to make a PR?

[2015-07-13 13:23] cztchoice commented on #437
Sure, I will do it.

[2015-07-13 13:37] cztchoice commented on #437
Done, please see https://github.com/universal-ctags/ctags/pull/440

[2015-07-15 03:06] masatake commented on #422
How about this one: Units/parser-javascript.r/js-tricky-newlines.b/input.js ?
[code]

Semicolons are missed but js command accepts the input.
In current ctags code, ctags doesn't record c and f.

[2015-07-15 10:55] b4n commented on #422
@masatake I know, hence why I created the test case :)
Though, it's a bit unrelated, the cause of the issue is handling of implicit newlines, not variables itself.  I've a working solution almost ready, I'll polish it and PR it up soon.

[2015-07-15 10:58] masatake commented on #422
Oh, I'm sorry. I misunderstood I added the test case. Feel free to close this issue or reuse this one.

[2015-07-20 18:06] nelstrom opened #446 "Will universal-ctags replace exuberant-ctags?"
I am currently working on a revised edition of [Practical Vim](https://pragprog.com/book/dnvim/practical-vim). Today I noticed that [the homepage for Exuberant Ctags](http://ctags.sourceforge.net/), hosted on Sourceforge, has gone offline. That led me to learn of the existance of the universal ctags project, which looks really promising!

There's a tip in my book where I give brief instructions on

[2015-07-20 18:13] cweagans commented on #446
The intent is to provide a modernized version of exuberant ctags with more features and active, community-driven maintainership. Despite not being "production ready" right now, I don't think it's too far off. Do you have a particular timeline that you need to follow for this section of the book? Perhaps we can try to work something out so that we have a tagged release out the door by a certain dat

[2015-07-20 18:31] nelstrom commented on #446
If a tagged release could be out of the door in the next two weeks, then I think I'd be able to reference Universal Tags in the next edition of Practical Vim without delaying our publishing schedule. If that's not possible, we might be able to stall for a bit more time. I'll check with my publisher.

[2015-07-20 19:17] cweagans commented on #446
@masatake Is it realistic to have a tagged release of universal ctags out the door in the next two weeks?

[2015-07-20 20:18] ffes commented on #446
SF is down in static mode and apparently it has been for a [couple of days now](http://www.theregister.co.uk/2015/07/19/sourceforge_storage_fault/).

On the subject, I don't think we will have a release within two weeks. We haven't discussed any form of release yet. And it will be our first release as a project so we have to find a way to get that done. We haven't even discussed what the version n

[2015-07-20 22:46] b4n commented on #434
@mtangoo well, it won't probably be perfect in every cases, but yes, it should work fairly well -- and we fix new issues frequently.

Geany uses this parser to provide symbol tree, symbol completion, calltips and "go to symbol" feature.

[2015-07-20 23:07] b4n commented on #422
No problem.  Opened #447 which fixes the test case.

[2015-07-20 23:07] #422 closed

[2015-07-21 02:36] masatake commented on #446
About parsers universal ctags is really improved and mature.
The problem is in the other part. It is hard to release something in a next two weeks.

We(I?) have never discussed seriously about releasing other than how to embed version number into binary.
None talks about it and I don't want to work on it, nothing happens till now. As I wrote before I don't want to work/talk on it because I have to

[2015-07-21 09:08] nelstrom commented on #446
Thanks all for your responses. 3 months sounds like a plausible time frame for a first tagged release. At this stage, I don't think I can update Practical Vim to reference Universal Ctags instead of Exuberant Ctags, but I'll keep an eye on this project. When version 6.0 (or 1.0) ships I'll revisit this question.

[2015-07-21 09:08] #446 closed

[2015-07-21 09:15] nelstrom commented on #408
[ripper-tags](https://github.com/tmm1/ripper-tags) is "a fast, accurate ctags generator for ruby source code using Ripper".

Perhaps it would make sense to use ripper-tags as an `xcmd`, rather than adding these features to the Ruby parser written in C?

[2015-07-21 09:21] nelstrom commented on #408
The [test suite for ripper-tags](https://github.com/tmm1/ripper-tags/blob/master/test/test_ripper_tags.rb) suggests that it already supports most of the features @jfelchner mentioned:

* [`test_extract_basics`](https://github.com/tmm1/ripper-tags/blob/eac7baa8dd465f62dca6e00f637f8f3f9fc6c185/test/test_ripper_tags.rb#L19-L77) (includes test for `Const1`)
* [`test_extract_attr_accessor`](https://git

[2015-07-21 11:13] mtangoo commented on #434
great, thanks guys!

[2015-07-21 11:13] #434 closed

[2015-07-21 16:45] masatake commented on #408
I would like to continue to maitain built-in ruby parser. However, I will provide the way to override the built-in parser by xcmd based ruby parser, here ripper-tags. I'm afraid that there are gaps about kind letters between two parsers.

Anyway, a PR for adding test cases that cannot handle the built-in parser is really well come.
I treat the test cases are the first class result of this project.

[2015-07-21 18:35] jfelchner commented on #408
@nelstrom I tried ripper to limited success. It missed all kinds of things that universal-ctags properly caught. I compared the diff of the tags file output when generating it on Rails. I think universal-ctags is really close to getting all the info it can from Ruby files and I like not having to install another dependency.

[2015-07-21 18:38] jfelchner commented on #408
@nelstrom I think that ripper has a ton of promise though. Because it can actually parse the Ruby file for intent rather than syntax. I think it could be pretty awesome. So I think that universal-ctags should probably allow it to be used to parse Ruby files.

[2015-07-21 18:39] jfelchner commented on #408
@masatake I haven't forgotten about getting these test cases to you, I'm just super swamped right now. Probably next weekend.

[2015-07-21 19:58] mislav commented on #408
universal-ctags doesn't seem handle these cases that ripper-tags does:

* `alias`
* `alias_method`
* recognizing that methods defined within `class << self` are class methods, not instance methods
* methods defined within `class_eval` or `module_eval` properly scoped to the corresponding module
* constant definitions
* classes defined with `Class.new`
* classes defined with `Struct.new`
* modules

[2015-07-21 20:02] cweagans commented on #446
If you need a technical reviewer, let me know. I'd be glad to help :)

[2015-07-21 20:36] jfelchner commented on #408
@mislav and that's why I said:

:smile:

But it _did_ miss things.  A few things from a language point of view, but more often the tags file that it generated didn't have nearly all of the fields and options that a standard `ctags` generated file does.

I'm not trying to knock your gem @mislav.  I'm a huge fan of what `ripper` is trying to achieve.  I personally think that writing a tags parser us

[2015-07-21 22:21] mislav commented on #408
I understand. And it's not my library; I just worked on it to bring those improvements.

But in a thread that's about comparing different ctags implementations of a language, I think it's more constructive to point out specifically which construct does an implementation fail to handle instead of saying "it missed all kinds of things". At the very least, I'd appreciate bug reports.

[2015-07-21 23:00] vhda commented on #408
It would be nice if you guys could provide the example Ruby code that is not being handled correctly as well as the expected tags list. Ideally this would come as a pull request adding new test units, but if that is not possible as long as the examples are still provided one of us could create the test units and try to improve the existing parser.

[2015-07-21 23:29] jfelchner commented on #408
@mislav cool. :+1: :heart:  I definitely would have added issues, but the project hasn't had any activity for over a year and a half and has issues and PRs that are older than that, so my impression was that it had been abandoned and which is also why I didn't go into much detail on what it didn't do correctly.  I'm glad that it's still being maintained.  Like I said, I think a parser is by far th

[2015-07-22 07:43] nelstrom commented on #446
@cweagans thanks for the offer! I'll be in touch soon.

[2015-07-22 22:53] mislav opened #452 "Ruby: namespaced class definition picks up wrong classname"
When parsing this code:

[code]

The class definition is picked up as if it defines tag "A" when in fact it should create a tag for "C" with a parent namespace `class:A.B`.

[code]

[2015-07-22 22:55] mislav opened #453 "Ruby: assigning to `context` variable creates a broken tag"
There should be **no tag** generated from this code:

[code]

However, the parser creates a tag named `= A`. This only happens when assigning to `context` variable; if the name is changed, the tag isn't defined.

[code]

[2015-07-22 23:01] mislav opened #454 "Ruby: picked up partial name from dynamic method definition"
When dynamically defining methods from a string to be eval'd:

[code]

a `_run_` tag is generated, when it fact nothing should be generated since the string to be eval'd is interpolated at runtime, and as such, it's not safe to try to scan method definitions inside of it.

[code]

[2015-07-22 23:03] mislav opened #455 "Ruby: `class << self` not recognized as block that defines class-level methods"
This method definition:

[code]

is not recognized as class-level method definition (`F` kind). Instead, it gets parsed as instance method (`f` kind).

[code]

[2015-07-22 23:36] mislav commented on #408
I've just filed the following Ruby parser bugs: #452 #453 #454 #455

They're unrelated to the enhancements proposed above, but they were the result of generating ctags on Rails source code and comparing it to ripper-tags output. @jfelchner: ripper-tags handles Rails source code pretty well, but I found what you meant re: dropped tag definitions. It currently ignores method definitions inside other

[2015-07-23 03:46] dtikhonov commented on #446
I think the version number should be 6, not 1.

[2015-07-23 03:52] dtikhonov commented on #423
`crontab -e` solves this problem for me.  I don't think we should teach ctags how to daemon.

[2015-07-23 05:28] vhda commented on #408
Thanks for your help @mislav. We'll look into those issues as soon as possible.

[2015-07-23 05:49] masatake commented on #455
(I will convert this to a unit test case. If someone already started to do, let me know here.)

[2015-07-23 05:53] masatake commented on #454
What does `#' mean in ruby?

[2015-07-23 06:15] masatake commented on #454
I found a docment for `#'.
http://docs.ruby-lang.org/ja/1.9.3/doc/symref.html#num

I found  interesting comment.

https://github.com/universal-ctags/ctags/blob/master/parsers/ruby.c#L269-L287

[2015-07-23 06:49] masatake commented on #452
Could you show expectedd tags output for the input?

[2015-07-23 19:02] masatake commented on #455
@mislav, could you look at #456?

[2015-07-24 00:05] b4n commented on #455
@masatake I'm on it, I have a fix for this

[2015-07-24 00:15] masatake commented on #455
@b4n, thank you. Please, use the test case I converted from this issue.

[2015-07-24 00:46] b4n commented on #453
A special case was added in 76dbed4de88875d8c8409dfd65da4f94f901c94a for some reason.  I guess we should first find out why before just dropping it.

[2015-07-24 04:22] mislav commented on #454
Yeah, `#{}` is string interpolation in Ruby. I guess that the parser scans `def _run_` and immediately takes it as method definition even if the method’s name isn't yet complete. I think that it should instead ignore the whole definition.

[2015-07-24 04:25] mislav commented on #452
Seems @b4n is already tackling this; thanks

[2015-07-24 04:42] mislav commented on #453
It seems like the author wanted to add RSpec syntax support. RSpec is a popular Ruby testing framework and is used with such syntax:

[code]

Behind the scenes, RSpec defines dynamic classes named after given parameters. However, those classes are internal, exist only at runtime, and are usually never referenced from code. Therefore, I'm not sure why someone would want tags generated from those de

[2015-07-24 19:17] masatake opened #459 "Share parsers code with geany"
Very hot summer in Japan. These days I have studied this issue.

These day we got not a few PR and issues.  Before introducing big changes, especially about coding style, I think we have to solve this. (This should be solved as the first issue when the project  was started but my knowledge was too few.)

Could you look at  https://github.com/universal-ctags/ctags/blob/docs-for-sharing-parsers/docs

[2015-07-24 20:57] dtikhonov commented on #63
@b4n, why not `fmemopen(3)` instead of MIO?

[2015-07-24 21:00] dtikhonov commented on #459
It's very interesting.  I am not familiar with Geany, so I'll have to think about this a bit.

However, what was the issue with converting ctags to a library (issue #63)?  From my, likely uneducated, point of view, this seems like a more straightforward approach.

[2015-07-24 21:20] b4n commented on #63
@dtikhonov Well, first, I didn't know about it :)  Then, and probably a reason why I didn't find about it at the time (2011), it's not very portable (in POSIX.1-2008 but not before, otherwise seems to be `_GNU_SOURCE`).

So it'd be very nice, but I'm really not sure it's an acceptable dependency (would have to be checked on all platforms, also for consistency as if it's pre-POSIX, it's likely to h

[2015-07-25 00:07] masatake commented on #459
In #63, I'm thinking about providing reusable interface to applications which runs ctags.
It is general purpose.

In this issue, I'm talking only about u-ctags and geany.
The scope is much smaller.

[2015-07-25 01:19] masatake commented on #453
I guess the original code want to make a tag for "another description" as a context kind.
About describe I'm not sure which part of input should be tagged.
More research is needed.

BTW, @mislav, what kind of file extension for rspec file is popular? .rb or .rspec?

[2015-07-25 01:20] masatake commented on #453
http://www.rubydoc.info/gems/rspec-core/frames

[2015-07-25 06:37] #437 closed

[2015-07-27 11:00] k-takata commented on #384
I use lcov and [lcoveralls](https://github.com/pcolby/lcoveralls) to utilize coveralls in [my project](https://github.com/k-takata/Onigmo).
My .ravis.yml: https://github.com/k-takata/Onigmo/blob/master/.travis.yml
Result: https://coveralls.io/github/k-takata/Onigmo?branch=master

[2015-07-27 11:06] masatake commented on #384
I'm working on this issue now. I refer https://github.com/eddyxu/cpp-coveralls.
Soon, I will make a new experimental branch for testing.

[2015-07-27 13:05] masatake commented on #384
... nothing happens.
@k-takata, I'm using `coverall` branch not to break `master` branch. Is this o.k.?

[2015-07-27 13:29] k-takata commented on #384
When I ran lcov on my local machine, I had to move all *.gcda and *.gcno into the project top directory before running lcov. Without that, lcov couldn't find the source codes. I don't know why.

I think it's OK.

[2015-07-27 13:49] masatake commented on #384
I read the log of travis. lcov is run but something wrong is reported.
I guess it is something to do with source/building directory structure. I have to inspect it more.

https://travis-ci.org/universal-ctags/ctags/jobs/72836837

Thank you.

[2015-07-27 13:51] masatake commented on #384
[code]

[2015-07-27 14:01] masatake commented on #384
Reproduced this on my note pc!

[2015-07-27 14:15] masatake commented on #384
[code]
I wonder this is wrong.

[2015-07-27 14:19] masatake commented on #384
It seems that beta.c is wrong. I will covert it to utf-8.

[2015-07-27 14:28] masatake commented on #384
The coverage is submitted to coverall site!
https://coveralls.io/github/universal-ctags/ctags#

However the coverage is 0%.

very strange.

[2015-07-27 14:57] k-takata commented on #384
I didn't need this hack on another PC. strange.

[2015-07-27 15:01] masatake commented on #384
I have to use -b option for lcov when I remove your hack.
Still the coverage is 0%. I have no idea.
Maybe it is something to do with a technique used in building ctags.

Anyway, the situation is much better than before. Thank you.

[2015-07-27 15:20] k-takata commented on #384
FYI, vim-ci uses cpp-coveralls: https://github.com/vim-jp/vim-ci/blob/master/.travis.yml
But I prefer to use lcov&lcoveralls because lcov can generate html report on a local PC and the same setting can be used for coveralls.

[2015-07-27 15:24] vhda opened #466 "ctags fails to compile in gcc 4.5"
Compile fails with the following message:

[code]

**Update**
The following warnings also appear during the compile in this version of gcc:

[code]

[2015-07-27 15:47] masatake commented on #466
I'm very sorry. I stop my rush.

[2015-07-27 15:47] masatake commented on #466
Could you try the head?

[2015-07-27 15:56] vhda commented on #466
That's not the reason, but I did spend some time to understand why this was also failing in that location. I'm preparing the fix, give me 2mn.

P.S. I really hate when you don't PR changes! ;P

[2015-07-27 15:59] vhda commented on #466
@masatake I've updated the issue description. Could you analyze these for me, please?

[2015-07-27 17:56] masatake commented on #466
I see. I will reduce PR-less commits.

[2015-07-28 00:59] k-takata commented on #384
Ah, Travis-CI uses Ubuntu 12.04 with lcov 1.9. Ubuntu 14.04 has lcov 1.10. That's the difference.
This works fine on my local Ubuntu 12.04 PC.

[code]

[2015-07-28 09:22] vhda commented on #466
Regarding the warnings:

1. Still exists but I think it is a false positive. Probably more recent gcc versions are able to understand this.
2. No longer shows.

@masatake if you agree we can close this ticket.

[2015-07-28 09:28] masatake commented on #466
About 1. Could you try
[code]
?
If, this improves the situation, could you commit the change directly?

[2015-07-28 09:38] vhda commented on #466
I don't agree with that change because the variable `spec` is always assigned a value before being used, so that would only be a waste of CPU cycles (well, a single cycle at most, but a waste nevertheless).

[2015-07-28 09:52] masatake commented on #466
How about removing const like
[code]
?

[2015-07-28 09:58] vhda commented on #466
Becomes:

[code]

Oh, wait... in `getNameOrAliasesLanguageAndSpec` the `else` is an `else if`!
In that case I'll just initialize `spec` as you initially proposed.
My bad, sorry! :)

[2015-07-28 09:58] vhda commented on #466
One question: why doesn't gcc find this in more recent versions? Are we missing a `-W` option?

[2015-07-28 10:20] vhda commented on #466
Second issue is showing again. Probably I did not `make clean` correctly before.
Apparently in the server I am compiling ctags, gcc is not assuming all C99 extensions so `isblank` is not available. If I add `-std=gnu99` to CFLAGS this warning disappears.

[2015-07-28 10:27] masatake commented on #466
How about -std=c99 instead of -std=gnu99?

[2015-07-28 10:34] vhda commented on #466
`-std=c99` isn't enough, for some reason. Although `man isblank` yelds:

       C89  specifies  isalnum(),  isalpha(),  iscntrl(), isdigit(), isgraph(), islower(), isprint(), ispunct(), isspace(), isupper(), and isxdigit(), but not isascii() and isblank().  POSIX.1-2001 also specifies those functions, and
       also isascii() (as an XSI extension) and isblank().  C99 specifies all of the precedin

[2015-07-28 10:37] vhda commented on #466
Given that these were real issues, I'm worried about newer versions of gcc not finding them. Any ideas?

[2015-07-28 10:42] masatake commented on #466
The may page says:

[code]

So I think -std=c99 is enough. Am I wrong?
I already used c99 syntax for initializing data structures. I would like to use it.

[2015-07-28 13:15] vhda commented on #466
You are right. I've tested this again (I have such a bad memory! :P) and remembered why I used gnu99: we are using various GNU extensions in the code that result in the following warnings if we set the standard to POSIX C99.

[code]

[2015-07-28 16:50] #431 closed

[2015-07-29 17:16] masatake commented on #466
If you are talking about the null assignment to spec, newer gcc  may know
[code]
is never an issue.
 getNameOrAliasesLanguageAndSpec returns a value other than LANG_IGNORE when the function assigns a value to spec.

[code]
is executed only if  getNameOrAliasesLanguageAndSpec returns a value other than LANG_IGNORE.

[2015-07-29 17:20] masatake opened #471 "jscript: null tag for broken input"
[code]

[2015-07-29 19:00] #452 closed

[2015-07-29 19:00] #455 closed

[2015-07-29 21:58] ffes commented on #459
I think the most important thing to do would be sync the parsers between the two projects.

Indeed the kind types is an important issue. @b4n wrote in https://github.com/universal-ctags/ctags/pull/267#issuecomment-86929793 that the Geany team want to remove this difference between from their parsers.

Splitting in `common-parsers` and `own-parsers` seem overkill to me, but I may be wrong. Wonder w

[2015-07-30 01:41] masatake commented on #459
@ffes, though once parsers are synced between two projects, a project modifies a parser,  persons in anothor project must update their parser.

So I think sharing the repository with git submodule is much better. This is the base line of this discussion.
Do you have another option about "sharing"?

[2015-07-30 01:44] masatake opened #472 "main: --version output"
[code]

I'm afraid Darren receives unexpected bug report about our code.
I also want to add "2015 Universal-ctags orgnazation" to Copyright line.

I wodner how the output format should be.
(Derived from #463)

[2015-07-30 01:45] masatake commented on #459
(Should we do this in wiki?)

[2015-07-30 03:40] dtikhonov opened #473 "Implement Perl 6 parser"

[2015-07-30 08:15] vhda commented on #459
In my opinion Geany should have a translation layer to convert from our kinds to theirs. Would it be hard to implement this on geany side?

[2015-07-30 08:38] masatake commented on #459
For doing translation outside of ctags, geany may need a hashtable or something.
This means looking up is needed for each tag.
If doting it in ctags as expalined in my rst file, looking up is not needed.

However, I have not studied how geany deals kinds well yet.

Following code taken from tagmanager of geany makes me confused.
[code]

BTW, I think translation layer(I called flavour) may be neede

[2015-07-30 13:45] k-takata commented on #384
I have tested this on my repository. It works fine.

.travis.yml: https://github.com/k-takata/ctags/blob/coverall/.travis.yml
Result: https://coveralls.io/builds/3179543

[2015-07-30 19:02] masatake commented on #384
Thank you.
Today, though I didn't change much my commit, the coverage is collected well.
I wonder why...

 https://coveralls.io/jobs/7367432

[2015-07-30 19:02] masatake commented on #384
I will revise coverall branch tomorrow.

[2015-07-30 19:39] dtikhonov commented on #384
This is useful.  I'll need to add more tests: https://coveralls.io/files/1009380031

[2015-07-31 03:15] masatake commented on #11
Now I understand what you mean.

[2015-07-31 03:41] masatake commented on #408
[code]

contexts and constants are conflicted. Obviously constants are  more important.
Should we have to distinguish describe and context? I think we should not.
Ruby is so popular that we would like to continue maintain build-in crated parser.
However, an xcmd based alternative parser may be useful. For preparing it ctags has to
translate F in ripper-tag output to !.

A question is a $GLOBAL var

[2015-07-31 03:43] masatake commented on #453
I understand the things well.
I will write test cases as a initial step.

[2015-07-31 04:05] mislav commented on #408
Yes, I suggested you drop the (broken) support for contexts and describes here https://github.com/universal-ctags/ctags/issues/453#issuecomment-124327142

What did you mean exactly by this last sentence? Isn't ripper-tags already xcmd compatible?

[2015-07-31 04:07] mislav commented on #408
We don't use them that much in Ruby. Also, unlike a constant, a global variable can be reassigned easily. Generating ctags for global variables would entail generating a tag for each of its assignments. It could be a lot of noise and not very useful. I don't think we need to track global variables.

[2015-07-31 05:34] masatake commented on #408
@mislav, thank you for explaining about global variables in Ruby. I understand the situation.

I'm thiking what is needed to use ripper-tags via xcmd.
Letter F is reserved for a input file itself in ctags:
[code]
This conflicts "F  singleton methods" of ripper-tags.
ruby parser also uses 'F' for the same kind.
However ctags main translates F to !.
[code]
Ctags can translate it because Ruby parser

[2015-07-31 05:48] mislav commented on #453
My suggestion was to drop this feature. I don't know why someone wanted to index the context & describe as tags. I don't even know how would you jump to such tag from the editor.

[2015-07-31 05:58] dtikhonov commented on #472
- Does the `-verrsion` output have to have an email address?
- If we list Darren, we should list other people as well.

[2015-07-31 05:59] masatake commented on #453
For your purpose you can put --kinds-ruby=-dC to your .ctags.

[2015-07-31 06:04] masatake commented on #472
@dtikhonov, thank you. I will remove "Addresses". In stead I put URL field.
The copyright line is originally derived from Exuberant Ctags. I don't want to touch it.
[code]
How about this one?

[2015-07-31 06:06] dtikhonov commented on #423
If we want to make ctags faster, the simplest thing to do is to rewrite `iFileGetLine` to read the file in 4 KB chunks instead of character by character.  (Each char may be tested three or four times!)  We'll double or triple the speed.

[2015-07-31 06:43] mislav commented on #408
So should we then switch to using `!` for singleton methods? `!` is not a very intuitive character to be marking this. What is the text editor support for these letters that indicate tag "kind"?

[2015-07-31 06:53] masatake commented on #408
I'm sorry I am confused. The a tag for input file is injected by ctags itself even if xcmd is used as a parser.
So no translation is needed.

@mislav, do you want to try ripper-tags+xcmd parser?

[2015-07-31 07:41] ffes commented on #472
I agree with @dtikhonov and remove the email address. The URL should give you all you need.

And mentioning Exuberant is good thing IMHO.

[2015-07-31 08:18] mislav commented on #408
I made a new release of ripper-tags which I hoped was xcmd-compatible but the integration doesn't seem to work perfectly.

[code]

The output of the above command are Ruby tags generated as universal-ctags would do normally. However, I expected to see in the output some tags that only ripper-tags would have recognized, such as constant definitions. Indeed, when I run `ripper-tags -R -f -` manually

[2015-07-31 08:19] mislav commented on #408
Here's what I got with `--verbose`:

[code]

[2015-07-31 08:33] masatake commented on #408
Oh, I'm surprised at you are a developer of ripper-tags.
O.K. I prepare a prototype. Please, wait for awhile.

[2015-07-31 08:49] masatake commented on #408
https://github.com/masatake/ctags/tree/ripper-tags-xcmd

Could you try this branch?

[code]

[2015-07-31 10:03] vhda commented on #472
Fix "organization".
And I also agree that we should drop the email address.

[2015-07-31 10:15] vhda commented on #423
@dtikhonov when using a cron job, if ctags opens the file at the start of a recursive processing and that process takes 10s, isn't there a chance that you'll have an incomplete tags file at the time you read it?
Regarding `iFileGetLine`, how hard would it be to implement that change? Apparently I have the slowest NFS disk in the all wide world, so I can easily test it here ;)

[2015-07-31 10:18] ffes commented on #472
And what about this first line?

[code]

"Organization" sounds so formal to me...

Does mentioning Exuberant not cause (or maybe it just solves) problems as @k-takata mentioned in #463 https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/tree/scripts/tags.sh#n276

[2015-07-31 10:20] vhda commented on #472
:+1:

[2015-07-31 10:27] vhda commented on #384
There's something strange happening here...
By looking at `parsers/verilog.c`, line 243, we could conclude that `hasSimplePortList` always returns true. But that is not correct and if I omit the call to that function in line 1033 some of the test units will fail.
So line 243 is being exercised in the tests, but is being marked as not-covered.
Can you spot similar issues in your parsers?

[2015-07-31 10:37] vhda commented on #466
Good point! I did not notice that before.

[2015-07-31 13:16] masatake commented on #472
Thank you for comments.

One more thing. How about tags output?

[code]

How this should be?
My idea is:
[code]

Here I removed the mail address as the same reason above.
I introduced !_TAG_PROGRAM_MAINTAINER.

[2015-07-31 13:19] masatake commented on #384
@vhda, I don't look at the lines but I guess it is something to do with optimization of compiler.
If we run units with -O0 compiled ctags the result may change.

[2015-07-31 13:27] #384 closed

[2015-07-31 14:10] dtikhonov commented on #423
@vhda, it may not be _that_ simple -- and it will require some testing.  The current code has been working for a long time, so changes there are risky.  I'd leave it until after 6.0 comes out.

[2015-07-31 15:54] vhda commented on #472
Following the approach suggested by @ffes, why not drop PROGRAM_AUTHOR tag?
Anyone knows how to automatically check if a version tag exists in the current HEAD, or otherwise set the version to the current short SHA commit?

[2015-07-31 17:26] mislav commented on #408
Your branch works for me. Any idea why it didn't work with `--xcmd-ruby=ripper-tags`?

[2015-07-31 17:31] mislav commented on #408
Shouldn't it be possible to use `--xcmd-ruby=ripper-tags` **without** defining a driver either in ctags core or in `~/.ctags.d/drivers/ripper-tags`?

[2015-07-31 20:15] vhda commented on #466
@masatake what about `isblank`? Do you know why gcc 4.9 is not reporting it when using `-std=gnu89`? As far as I can tell that function should not exist in that C standard.

[2015-08-01 02:46] masatake commented on #466
"2 Language Standards Supported by GCC" in gcc info:

[code]

I guess the default is changed.

[2015-08-01 03:51] masatake commented on #408
As you wrote the interface between ctags and xcmd backend may be a bit redundant.
I made so because I was not sure how the interface between two should be.
I'm still not sure. I memorize what you wrote here as important suggestion. Thank you.
As far as I can remember you are the first person who tries xcmd feature voluntarily.

It is nice that ctags utilizes ripper-tags instead of built-in ruby pa

[2015-08-01 04:02] masatake commented on #472
@vhda, I think !_TAG_PROGRAM_* is part of stable interface between an application and tags file.
I hope adding something new is allowed but I think we should not remove it. I don't research applications using tags file, but I would like to keep it.
I will make a PR with following format:
[code]

Many hits are in
https://github.com/universal-ctags/ctags/pull/222

[2015-08-01 09:25] vhda commented on #466
I tested by forcing both with `-std=gnu89` but still `isblank` is not reported as missing.

[2015-08-01 23:55] NewAlexandria commented on #11
Thank you

[2015-08-02 17:25] masatake commented on #408
@mislav, Can I ask you to add following  pseudo tags to ripper-tags?

* !_TAG_PROGRAM_AUTHOR
* !_TAG_PROGRAM_NAME
* !_TAG_PROGRAM_URL
* !_TAG_PROGRAM_VERSION

They are not must but ctags utilizes these tags returned from the xcmd backend.

[2015-08-04 15:54] #472 closed

[2015-08-05 03:12] dtikhonov opened #482 "--enable-maintainer-mode no longer works"
It seems this options has been abandoned.  Shall we rip related stuff out of the code tree?

[2015-08-05 05:31] masatake commented on #482
Yes, I want to make our build system simple. Let's rip the stuff.
Could you make a PR for it?

[2015-08-05 21:02] dtikhonov commented on #473
Done -- closing.

[2015-08-05 21:02] #473 closed

[2015-08-06 03:06] masatake commented on #453
I'm still thinking about this issue.

* "context" and "describe" are not in exuberant ctags, so we can remove it without caring compatibility troubles.
* the original code assumes that a constant string follows "describe" or "context"; two tokens, a class and a constant string follow the keywords are not considered.
* As @mislav wrote somewhere, users may not refer "describe" and "context" tag ent

[2015-08-06 05:48] mislav commented on #453
I think that was it: someone had their text editor configured to provide navigation within a file based on tags generated for that file, wanted to navigate between `context/describe` blocks, and they thought it was a good idea to build that feature into ctags.

However since the implementation is lacking and creates false positives, you should either work on improving the implementation or droppin

[2015-08-07 01:35] RagnarGrootKoerkamp opened #488 "C++11: enum class/struct not working"
The new `enum class` and `enum struct` are only partially functioning:
- The lasts enumerationvalue is not recognized. (It is recognized when I put a semicolon after it, but that's not allowed in C++.)
- Enum class values are reported as members, and require the +m field. Shouldn't that be '+e' (enum values)? Also, the type name of the enum (EC1 below) is reported as class type instead of enum typ

[2015-08-07 13:23] masatake opened #492 "json: "Warning: ignoring null tag""
[code]

[2015-08-07 14:16] b4n commented on #488
Hum, what version of universal-ctags are you using?  The [expected output in the test case](/universal-ctags/ctags/blob/master/Units/cxx11enum.cpp.d/expected.tags) look both good and corresponding to your expectations to me, and it's definitely what u-ctags outputs.

BTW, your screenshot is not the stock version of [cxx11enum.cpp.d/input.cpp](/universal-ctags/ctags/blob/master/Units/cxx11enum.cpp.

[2015-08-07 15:52] b4n commented on #492
hum, ok.  Technically outputting an empty string is the right thing to do AFAICT.  If this is truly invalid for CTags, I guess we just need to skip empty tags.

[2015-08-07 16:19] RagnarGrootKoerkamp commented on #488
After reinstalling it using the method mentioned in the docs, and using a custom prefix, everything works as expected! I think there was a name clash with another ctags program.

(I modified the stock test, to check whether the `:int` would change the behaviour.)

Thanks anyway!

[2015-08-07 16:19] #488 closed

[2015-08-08 07:40] k-takata opened #494 "Some tests fail on MSYS2"
I have uploaded the results of `make check` on MSYS2.
https://gist.github.com/k-takata/d3ea1ddb3c5c5e186348

Some tests fail because the executable name is shown in the fullpath:

[code]

Some other tests seems to fail with another reason.
E.g. https://gist.github.com/k-takata/d3ea1ddb3c5c5e186348#file-tmain_lregex-list-kinds-d_stderr-diff-txt

Related: #478

[2015-08-08 10:55] masatake commented on #494
About the quoted lines, baseFilename in routines.c dones't work as we expected.
@k-takata, can I ask you to look this function more?

Tmain is rather newer test harness than Units. Both mainly I wrote. In Units features (ctags --list-feathres) are tested before running a test case. The features available in the target ctags is compared with features a test case requires. e.g. Units/xcmd-etags.d/fe

[2015-08-08 11:03] masatake commented on #494
BTW, @k-takata, will you have more issues and ideas to improve ctags?
(I guess the answer is yes.)

We want you to work as a member of universal ctags team.
Do you have interest being a member?
Smaller fixing like s/yamoto/yamato/ can be done without sending a PR:-P.

If you have, could you add your name to docs/developers.rst and sending a PR?

[2015-08-08 11:06] k-takata commented on #494
You can see the result of `./ctags --version` at here:
https://ci.appveyor.com/project/k-takata/ctags/build/1.0.69/job/8gf0t6sgurclt837#L775

[code]

[2015-08-08 11:09] masatake commented on #494
...strange. regex is available... Anyway +cproc is not available. It means xcmd related test should be detailed. I will take a look more after implementing .m and .h selectors.

[2015-08-08 11:15] k-takata commented on #494
Ah, maybe `MSDOS_STYLE_PATH` is not defined.

[2015-08-08 12:15] k-takata commented on #494
Thank you for inviting me to the team. I'd like to do it when I have a time.

[2015-08-08 12:52] k-takata commented on #494
After defining `MSDOS_STYLE_PATH` forcedly, the first example still fails:

[code]

We need to cut the extension `.exe`.

[2015-08-09 04:43] masatake commented on #492
I see. Let's skip empty tags.
I wonder which layer should handle a null tag.
I have reported null tags more than once because it implies something bug (or incompleteness) of parser.
In addition it seems that an empty string as a dict key is acceptable in json.

So just ignoring a null tags in entry.c is a bad idea and it should be handled in json parser.

[2015-08-09 04:50] masatake commented on #453
You are right. Howerver, these issue gives me a chance to think about ctags and its internal deeply.
I have been a user of Emacs so I'm very new to ctags as a user. So these chances are important for me.
I'm still working on writing a test case for rspec and improving langmap option to support ripper-tags.

[2015-08-09 05:13] masatake opened #499 "whitespaces in tags file (--dont-use-whitespaces-in-name should be added)"
I recognized this issue during writing for a test case for rpsec input( #453 )

Loot at our bible, docs/format.rst:

[code]

Some parsers violate this rule.
About lua, I fixed in #491. This is just a bug of parser. Not so interesting.
There is case that a target language, not a parser allows whitespaces in
an object which a parser for the target language will record as a tag.

In all of the cases

[2015-08-09 06:01] ffes commented on #499
Just a short note, we are about to leave for Prague 😉

CSS can give tags with spaces as well. When the CSS parser was updates by @b4n a while ago (don't have time to git blame right now, sorry) we discussed that as well. Don't remember the exact outcome of that discussion.

[2015-08-09 06:04] masatake commented on #499
@ffes, thank you. I will search the outcome.

[2015-08-09 18:40] masatake commented on #499
I found it in #119.
The outcome is that we just accept spaces.
So I will update docs/format.rst. I also add an assertion that tags should not contain tabs. I will make a PR for this.

[2015-08-10 02:00] k-takata opened #502 "make clean doesn't clean test results in Tmain directory"
E.g.

[code]

[2015-08-10 02:52] k-takata commented on #494
I checked the `lregex-accept-reserved-kind.d` case.

When I ran the test case manually:

[code]

I found that the `regexp` parameter of `parseTagRegex()` becomes `A:/0/F/` not `/a/0/F/`. WHAT!?

It was caused by pathname coversion of MSYS2:
http://sourceforge.net/p/msys2/wiki/Porting/#filesystem-namespaces

The following setting is needed for regex tests:

[code]

After this setting, some xcmd tes

[2015-08-10 07:28] masatake commented on #494
Does
[code]
work expectedly?
A user cannot predict <LANG> part of --regex-<LANG> because <LANG> is defined dynamically.

Does adding --list-regex-languages option help you? With the output of the option, you can build the value for MSYS2_ARG_CONV_EXCL.

BTW, no lang should define/use '/' as a kind letter.

[2015-08-10 07:42] k-takata commented on #494
It works!

[2015-08-10 09:16] masatake commented on #502
Could you try #504?

[2015-08-10 12:05] masatake commented on #471
See also https://sourceforge.net/p/ctags/bugs/308/

[2015-08-10 15:55] oscarfv opened #505 "Build and package on MSYS2"
This is related to #354.

I see some people working with MSYS2 here (@k-takata).

Yesterday I compiled `universal-ctags` on MSYS2 with `configure && make` method but the process resulted on an executable with on support for regexs. Once this was activated (invoking configure with `LIBS=-lpcreposix` or something) the executable crashes when it needs to use that functionality (for `--regex-lang=` et

[2015-08-10 16:19] #502 closed

[2015-08-10 17:24] k-takata commented on #505
If you want to link with libpcreposix, you must include `pcreposix.h` instead of `regex.h`.
You might think that the function prototype of `regcomp` and `regexec` are same with GNU regex and pcreposix, but GNU regex's `regex_t` and pcreposix's `regex_t` are not compatible.

[2015-08-11 08:14] k-takata opened #511 "make check stores the results always in the srcdir"
Even if `configure` was executed in a different directory form the srcdir, `make check` stores the results in the srcdir not in the builddir.
It would be prefer to store the results in the builddir.

Related: #501

[2015-08-11 08:27] k-takata commented on #494
Maybe we should add `export MSYS2_ARG_CONV_EXCL='--regex-'` in somewhere (misc/units?), when we run `make check` on MSYS2. (Note: `uname -o` returns `Msys` on MSYS2.)

I want to know where this check is done.

[2015-08-11 11:08] masatake commented on #494
Any parts of test harness and ctags itself refer the variable, MSYS2_ARG_CONV_EXCL. Therefore you can add  MSYS2_ARG_CONV_EXCL='--regex- anywhere you want. misc/units can be good candidate.
Howerver, I wonder how ctags users on msys2 do about MSYS2_ARG_CONV_EXCL. For running ctags under AppVeyor we can use the hack we found. How about normal using? Evenrytime users have to set the environment vari

[2015-08-11 11:37] k-takata commented on #494
MSYS2 has three variations of GCC:

1. `/usr/bin/gcc`: This builds MSYS2 binaries.
2. `/mingw32/bin/gcc`: This builds Win32 native binaries.
3. `/mingw64/bin/gcc`: This builds Win64 native binaries.

If someone wants to run ctags.exe from MSYS2, he should use a binary built for MSYS2 (built with 1.), not Win32/64 native binary (2. or 3.). If he uses MSYS2 binary, he doesn't need to set `MSYS2_ARG_

[2015-08-11 12:12] masatake commented on #494
I want to know where this check is done.

Could you try #512?

[2015-08-11 12:18] masatake commented on #511
I would like to know the requirement.

$(builddir) is not found in Makefile.in. Should I define it by myself?

[2015-08-11 19:42] masatake commented on #511
Now I may understand the requirement.
Could you try #513? It is for tmain target.

I will work on units target. It takes rather longer  time. units is much more complicated than tmain. sigh.

[2015-08-12 01:19] oscarfv commented on #505
@k-takata : thanks for the tips. I submitted a merge request with a tiny change. Once this is merged, I'll submit a PKGBUILD file to MSYS2.

BTW, the failed tests are something to be concerned about, for a user that is switching from Exuberant Ctags to Universal Ctags? I mean, is Universal Ctags ready for replacing Exuberant Ctags? (In the MSYS2 case, specifically)

[2015-08-12 13:25] k-takata commented on #494
Now #512 is merged, I tried MSYS2 on AppVeyor again.

First, I added a commit to set `MSYS2_ARG_CONV_EXCL`:
https://github.com/k-takata/ctags/commit/a9a3a3f297c283ec33127c21c3f316364fe69c91
(I'm not sure this is the best place to set MSYS2_ARG_CONV_EXCL.)

But it fails due to tempfile handling:
https://ci.appveyor.com/project/k-takata/ctags/build/1.0.88/job/1qex0k8woyf2406l#L953

So, I added a com

[2015-08-14 07:09] masatake commented on #64
php+javascript, we have both. But we don't have a combine them.

I can generalize this issue.

[code]

1. Diff parser can capture a/parsers/lua.c.
2. From the file name, ctags can guess lua.c is written in C language.
3. store ` static kindOption LuaKinds [] = {` to somewhere memory stream.
3. run c parser as a subparser on the memory stream.
So we can capture `LuaKinds`. lua.c is the parent of Lu

[2015-08-14 14:42] masatake commented on #499
zsh completion rules for less command expect  a tagname doesn't contain a space.
`-t` option of less command also expects it.

I would like to think about this issue more.

[2015-08-14 15:39] masatake opened #519 "Add parser classes, xml, sexp, and pcre"
I will leave Tokyo tomorrow. So I will give you some attractions:)

Like regex and xcmd, having xml parser class will be useful.
We can cover svg, html, xhtml, ant, docbook, ...xpath can be used to specify interesting elements.

I found following code in a public header file of libxml2.
[code]

For lisp family, S expression parser class will be uesful.
I think current lisp related parsers are not

[2015-08-18 14:35] k-takata commented on #494
Updated AppVeyor result with #515, #516 and #521:
https://ci.appveyor.com/project/k-takata/ctags/build/1.0.100/job/hhqav7v9oa556j89

Now only 2 tests failed:

[code]

It' very strange that regex tests are skipped. E.g.:

[code]

This doesn't happen when I run the test on my local PC.
(bug1777340.java and rojas.h still fail on my PC.)

[2015-08-19 11:01] k-takata commented on #494
After installing dos2unix, regex tests are no more skipped.
https://ci.appveyor.com/project/k-takata/ctags/build/1.0.102/job/1vyk0gbr72d3uy7c

[2015-08-22 04:38] masatake commented on #494
How about adding something like following code  to misc/units to avoid repeating the same trouble:
[code]

[2015-08-22 12:29] masatake commented on #511
Is this issue solved now?

[2015-08-22 13:15] k-takata commented on #511
Yes.

[2015-08-22 13:15] #511 closed

[2015-08-22 17:59] lowski opened #524 "Ruby parser add support for --extra=q option"
Hi!
Thanks all your hard work you put into this project.

I was wondering it would be possible to add support for `--extra=q` option for Ruby parser. When that option is specified tags should also include class with its namespace, i.e. `A::B`) not only B.

[2015-08-23 07:02] kcwu opened #528 "Assertion failed on parsing malformed SML file (main/parse.c:1372)"
How to reproduce:
[code]

this issue is found by afl-fuzz

[2015-08-23 07:06] kcwu opened #529 "Assertion failed on parsing malformed BAS file (main/entry.c:1108)"
How to reproduce:
[code]

this issue is found by afl-fuzz

[2015-08-23 07:22] kcwu opened #530 "Assertion failed on parsing malformed CSS file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-23 07:26] kcwu opened #531 "Assertion failed on parsing malformed Make file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-23 07:30] kcwu opened #532 "Assertion failed on parsing malformed VIM file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-23 17:06] b4n commented on #530
Indeed.  What are parsers supposed to do here, replace `\t` with a space?

[2015-08-23 17:10] b4n commented on #530
Knowing the `\t` is technically legitimate for a well formed tag like `foo[a^="	"] {}`

[2015-08-24 00:53] masatake commented on #530
How about applying the rule of tagfied of format.rst to the name field:
[code]

About the other control character, replacing it with a space you proposed in 8b3b567 may be the way we can choose.

Another question is which layer should handle this characters. My ideas are: each parsers are expected to handle the characters, and main handles them with warning.

[2015-08-24 18:41] kcwu opened #536 "Assertion failed on parsing malformed Flex file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 18:45] kcwu opened #537 "Assertion failed on parsing malformed Beta file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 18:52] kcwu opened #538 "Assertion failed on parsing malformed SQL file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 18:56] kcwu opened #539 "Assertion failed on parsing malformed JavaScript file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 19:00] kcwu opened #540 "Assertion failed on parsing malformed Fortran file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl.fuzz

[2015-08-24 19:04] kcwu opened #541 "Assertion failed on parsing malformed Json file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 19:07] kcwu opened #542 "Assertion failed on parsing malformed VHDL file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-24 19:09] kcwu opened #543 "Assertion failed on parsing malformed Eiffel file (main/entry.c:1108)"
How to reproduce
[code]

this is found by afl-fuzz

[2015-08-25 11:48] masatake commented on #524
I don't know Ruby. Could you tell me the rule about scope separators? Which should I use `::` or `.`?
One more when you want to enable --extra=q? I guess ctags developers don't have much interest --extra=q because, making `q` entries can be done in post processors which reading tags file generated by ctags.

I myself don't have much chance to use ctags, so I would like to know how people use it, e

[2015-08-25 11:49] masatake commented on #543
Thank you for all the reports. I will look them later.

[2015-08-25 17:34] vhda commented on #524
This is mostly useful in vim, where you don't have access to the extra attributes of the tags. So if you want to search for the contents of, let's say, a class you need to search for `class_name\..*` or similar.
It is possible that this limitation exists in other tools, so having this support is always positive.

[2015-08-25 17:57] masatake commented on #524
@vhda, thank you for explanation.

I have got an inde to implement it in mainly main side.
 But many parts must be modified. It will take long time.

Only the issue is about separators.
In my understanding a separator can be choose by relations between the kinds of parent and the kinds of child.

e.g.
If the kind of parent is class and the kind of child is method, the separator will be `.`.
If the

[2015-08-25 18:14] masatake commented on #140
I'm working on this issue very hard these days.

https://github.com/masatake/srpmix7

It is not ready for public use. When it is ready, I will report it here.

[2015-08-25 18:40] lowski commented on #524
@masatake basically when class / module is nested (`A::B`), `--extra=q` would generate 2 records in ctags - one for `class B` and the other one for `class A::B`. It would be useful in vim so that I could immediately jump to the correct class if I highlight `A::B`. Currently I need to select `B` but if there are more `B` classes in other modules I would see all of them on the selection list.

The i

[2015-08-29 16:54] masatake commented on #499
I'm thinking about introducing options to specify how spaces in a name is handled when ctags prints such name.

[2015-08-29 21:22] viccuad commented on #354
Hello,
I intend to happily package universal-ctags for Debian (although getting in contact with the exuberant-ctags maintainer is a good idea).

It would be beneficial to have releases or tags of universal-ctags so it can get packaged more easily. Is there any plans in this aspect?

[2015-08-29 21:29] cweagans commented on #354
Another open source project that I'm involved in has been looking into using OpenSuse's Open Build System (OBS) for packaging. The idea is that you write a Specfile (which you'd have to do to package an RPM anyway), upload it, and OBS will take care of building packages for every distro it knows about. That might be a really good way to go for Universal Ctags.

[2015-08-30 09:23] masatake commented on #459
Too difficult to solve this issue.

[2015-08-30 09:23] #459 closed

[2015-08-30 09:26] masatake commented on #524
How about method?
A.method?

[2015-09-02 09:34] #471 closed

[2015-09-04 23:38] k-takata commented on #494
Result of `bug1777340.java.t` (`DIFF.tmp`):

[code]

Result of `rojas.h.t` (`DIFF.tmp`):

[code]

[2015-09-07 03:50] masatake commented on #494
I found the `R` comes from `STRING_SYMBOL` in read.h.
Still debugging.

[2015-09-07 08:04] masatake commented on #494
It seems that isalpha for 338 behaves differently on GNU/Linux and Windows.
(Consider ((char)338) == 'R'.).

@k-takata, Could you try the following on Windows?

On my fedora, isalpha(338) return 0.
How about on your environment?
I guess 1 will be returned.

[code]

[2015-09-07 08:08] masatake commented on #494
Search `INITIAL TEST: isalpha:` in
`https://ci.appveyor.com/project/masatake/ctags/build/1.0.34/job/48kbqk0q85r7n0mb`

Associated code for the output is:

https://github.com/universal-ctags/ctags/commit/29ccededfdf470149a2699bc4f80c68f0aef5418

On my Fedora:

[code]

[2015-09-07 08:23] masatake commented on #494
isalpha(2) says:
[code]
338 is greater than 256. It is not in the range of unsigned char...

[2015-09-07 08:48] k-takata commented on #494
Bingo! isalpha(338) return 1 on Windows.
Maybe, `isascii(c) && isalpha(c)` will fix the problem.

[2015-09-07 08:56] masatake commented on #494
Thank you. I will make a PR based on your comment...